In [1]:
'''
Tasks:

-- Date preprocessing -- 
    converting dates between languages, and then structure
    --> alternatively, we can duplicate the set, change weird dates to none
    
--feature creation--
    date by year
    looking at if they are posting weekday/weekend might suggest that they are working age
    language (foreign in general or specifics)
    number of posts per user.id
    
-- text --
    remove the stopwords
        NLTK
    remove the punctuation
    stemming the words
    SVD (singular value decomposition) --> will show what is most important by 
        taking the matrix of term counts (needs to be created), but returns importance values ~ variability with each word
    TF-IDF: could filter down to top 500-1000 words (we can probably just implement using a package) 
        if not...
        calculate the frequency of word in every document
        inverse log 
        
-- train model: multiple linear regression --
    glm net --> just make sure not to do log, but can still use this for normal parametric
        (generalization of ridge and lasso regression)
    
    CV procedure to judge accuracy of predictor based on words we keep or parameters of the linear model

    
general notes: what is a document?

    post?
        -this would let us use the distribution of predictions for a user to do a second layer to the model
        -potentially average/take median of different predictions for individual documents
        
        -might want to consider the number of unique pairings between user.id and post.id
        
    single user?
    
    bigrams or trigrams instead of words (two or three words in order can be treated as words)
        n words in sentence --> n-1 bigrams --> blows up dimensionality, but could give more information because context
        comes into play (may or may not be feasible depending on our corpus)
        
        
Note from Sean: We may want to use the "gensim" package, which is Google's pre-trained word2vec model, which I think could be really useful.

'''
;

''

In [2]:
import os
import numpy as np
import pandas as pd
import sklearn as slr
import nltk

In [3]:
# Set wd
os.chdir("C://Users/alxgr//Documents//UVA//DSI//Fall 2018//SYS//Kaggle Competition 3//sys6018-competition-blogger-characteristics//data")
# os.chdir("/Users/SM/DSI/classes/fall2018/SYS6018/kaggle/sys6018-competition-blogger-characteristics/")

In [4]:
# read in data
# train = pd.read_csv(os.path.join("data", "input", "train.csv"))
# test = pd.read_csv(os.path.join("data", "input", "test.csv"))

# (os.path did not work for alex.  below for wd on alex's pc)
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [16]:
# join data sets
test['age'] = None
train['set'] = "train"
test['set'] = "test"
# train.shape
# test.shape

(442961, 9)

In [15]:
alldata = pd.concat([train, test])
# alldata.shape

(681284, 9)

In [ ]:
# Experimenting with the dateparser package
alldata["date_parsed"] = None
# alldata.date_parsed
import dateparser
for i in range(0,len(alldata)):
    alldata.date_parsed[i] = dateparser.parse(str(alldata.date[i]))

In [9]:
# for i in range(0,len(alldata)):
#     print(alldata.date[i])

0       14,May,2004
0    08,August,2004
Name: date, dtype: object
1       13,May,2004
1    08,August,2004
Name: date, dtype: object
2     12,May,2004
2    31,July,2004
Name: date, dtype: object
3     12,May,2004
3    30,July,2004
Name: date, dtype: object
4    11,June,2004
4    29,July,2004
Name: date, dtype: object
5    10,June,2004
5    28,July,2004
Name: date, dtype: object
6    10,June,2004
6    27,July,2004
Name: date, dtype: object
7    10,June,2004
7    26,July,2004
Name: date, dtype: object
8    10,June,2004
8    26,July,2004
Name: date, dtype: object
9      09,June,2004
9    19,August,2004
Name: date, dtype: object
10      09,June,2004
10    17,August,2004
Name: date, dtype: object
11      09,June,2004
11    16,August,2004
Name: date, dtype: object
12      09,June,2004
12    15,August,2004
Name: date, dtype: object
13      09,June,2004
13    14,August,2004
Name: date, dtype: object
14      09,June,2004
14    14,August,2004
Name: date, dtype: object
15      09,June,2004
15    13,August,2004
Name: date, dtype: object
16      09,June,2004
16    12,August,2004
Name: date, dtype: object
17      18,June,2004
17    11,August,2004
Name: date, dtype: object
18      17,June,2004
18    10,August,2004
Name: date, dtype: object
19      16,June,2004
19    09,August,2004
Name: date, dtype: object
20      15,June,2004
20    08,August,2004
Name: date, dtype: object
21      14,June,2004
21    07,August,2004
Name: date, dtype: object
22      13,June,2004
22    05,August,2004
Name: date, dtype: object
23      23,June,2004
23    05,August,2004
Name: date, dtype: object
24      22,June,2004
24    03,August,2004
Name: date, dtype: object
25      20,June,2004
25    02,August,2004
Name: date, dtype: object
26      02,July,2004
26    01,August,2004
Name: date, dtype: object
27      01,July,2004
27    10,August,2004
Name: date, dtype: object
28    01,July,2004
28     23,May,2004
Name: date, dtype: object
29    30,June,2004
29     21,May,2004
Name: date, dtype: object
30    29,June,2004
30     20,May,2004
Name: date, dtype: object
31    29,June,2004
31     20,May,2004
Name: date, dtype: object
32    29,June,2004
32     20,May,2004
Name: date, dtype: object
33    29,June,2004
33     19,May,2004
Name: date, dtype: object
34    29,June,2004
34     19,May,2004
Name: date, dtype: object
35    27,June,2004
35     19,May,2004
Name: date, dtype: object
36    10,July,2004
36     19,May,2004
Name: date, dtype: object
37    09,July,2004
37    30,June,2004
Name: date, dtype: object
38    08,July,2004
38    13,June,2004
Name: date, dtype: object
39    07,July,2004
39    11,June,2004
Name: date, dtype: object
40    06,July,2004
40    09,June,2004
Name: date, dtype: object
41    05,July,2004
41    08,June,2004
Name: date, dtype: object
42    04,July,2004
42    08,June,2004
Name: date, dtype: object
43    14,July,2004
43    02,June,2004
Name: date, dtype: object
44    13,July,2004
44    26,July,2004
Name: date, dtype: object
45    13,July,2004
45    18,July,2004
Name: date, dtype: object
46    12,July,2004
46    07,July,2004
Name: date, dtype: object
47      11,July,2004
47    23,August,2004
Name: date, dtype: object
48      23,July,2004
48    22,August,2004
Name: date, dtype: object
49      22,July,2004
49    21,August,2004
Name: date, dtype: object
50      21,July,2004
50    01,August,2004
Name: date, dtype: object
51      20,July,2004
51    01,August,2004
Name: date, dtype: object
52      19,July,2004
52    01,August,2004
Name: date, dtype: object
53      19,July,2004
53    01,August,2004
Name: date, dtype: object
54      30,July,2004
54    01,August,2004
Name: date, dtype: object
55      29,July,2004
55    01,August,2004
Name: date, dtype: object
56      28,July,2004
56    01,August,2004
Name: date, dtype: object
57      27,July,2004
57    01,August,2004
Name: date, dtype: object
58      26,July,2004
58    01,August,2004
Name: date, dtype: object
59    06,August,2004
59    01,August,2004
Name: date, dtype: object
60    05,August,2004
60    01,August,2004
Name: date, dtype: object
61    04,August,2004
61    01,August,2004
Name: date, dtype: object
62    04,August,2004
62    01,August,2004
Name: date, dtype: object
63    03,August,2004
63    01,August,2004
Name: date, dtype: object
64    02,August,2004
64    01,August,2004
Name: date, dtype: object
65    02,August,2004
65    01,August,2004
Name: date, dtype: object
66    13,August,2004
66    01,August,2004
Name: date, dtype: object
67    12,August,2004
67    01,August,2004
Name: date, dtype: object
68    12,August,2004
68    01,August,2004
Name: date, dtype: object
69    10,August,2004
69    01,August,2004
Name: date, dtype: object
70    09,August,2004
70    01,August,2004
Name: date, dtype: object
71    09,August,2004
71    01,August,2004
Name: date, dtype: object
72    08,August,2004
72    01,August,2004
Name: date, dtype: object
73    08,August,2004
73    01,August,2004
Name: date, dtype: object
74      07,June,2004
74    01,August,2004
Name: date, dtype: object
75      05,June,2004
75    01,August,2004
Name: date, dtype: object
76      05,June,2004
76    01,August,2004
Name: date, dtype: object
77      05,June,2004
77    01,August,2004
Name: date, dtype: object
78      04,June,2004
78    01,August,2004
Name: date, dtype: object
79      03,June,2004
79    01,August,2004
Name: date, dtype: object
80      03,June,2004
80    01,August,2004
Name: date, dtype: object
81    11,August,2004
81    01,August,2004
Name: date, dtype: object
82    11,August,2004
82    01,August,2004
Name: date, dtype: object
83    11,August,2004
83    01,August,2004
Name: date, dtype: object
84    11,August,2004
84    01,August,2004
Name: date, dtype: object
85    11,August,2004
85    01,August,2004
Name: date, dtype: object
86    11,August,2004
86    01,August,2004
Name: date, dtype: object
87    11,August,2004
87    01,August,2004
Name: date, dtype: object
88    11,August,2004
88    01,August,2004
Name: date, dtype: object
89    11,August,2004
89    01,August,2004
Name: date, dtype: object
90    11,August,2004
90    01,August,2004
Name: date, dtype: object
91    11,August,2004
91    01,August,2004
Name: date, dtype: object
92    11,August,2004
92    01,August,2004
Name: date, dtype: object
93    11,August,2004
93    01,August,2004
Name: date, dtype: object
94    11,August,2004
94    01,August,2004
Name: date, dtype: object
95      30,June,2004
95    01,August,2004
Name: date, dtype: object
96      26,June,2004
96    01,August,2004
Name: date, dtype: object
97      24,June,2004
97    01,August,2004
Name: date, dtype: object
98      23,June,2004
98    01,August,2004
Name: date, dtype: object
99      20,June,2004
99    01,August,2004
Name: date, dtype: object
100      17,June,2004
100    01,August,2004
Name: date, dtype: object
101      16,July,2004
101    01,August,2004
Name: date, dtype: object
102      02,July,2004
102    01,August,2004
Name: date, dtype: object
103      02,July,2004
103    01,August,2004
Name: date, dtype: object
104      02,July,2004
104    01,August,2004
Name: date, dtype: object
105      29,June,2004
105    01,August,2004
Name: date, dtype: object
106      27,June,2004
106    01,August,2004
Name: date, dtype: object
107      27,June,2004
107    01,August,2004
Name: date, dtype: object
108      24,June,2004
108    01,August,2004
Name: date, dtype: object
109      23,June,2004
109    01,August,2004
Name: date, dtype: object
110      23,June,2004
110    01,August,2004
Name: date, dtype: object
111      23,June,2004
111    01,August,2004
Name: date, dtype: object
112      22,June,2004
112    01,August,2004
Name: date, dtype: object
113      22,June,2004
113    01,August,2004
Name: date, dtype: object
114      22,June,2004
114    01,August,2004
Name: date, dtype: object
115      21,June,2004
115    01,August,2004
Name: date, dtype: object
116      27,July,2004
116    01,August,2004
Name: date, dtype: object
117      26,July,2004
117    01,August,2004
Name: date, dtype: object
118      24,July,2004
118    01,August,2004
Name: date, dtype: object
119      22,July,2004
119    01,August,2004
Name: date, dtype: object
120      20,July,2004
120    01,August,2004
Name: date, dtype: object
121      20,July,2004
121    01,August,2004
Name: date, dtype: object
122      17,July,2004
122    01,August,2004
Name: date, dtype: object
123      16,July,2004
123    01,August,2004
Name: date, dtype: object
124      14,July,2004
124    01,August,2004
Name: date, dtype: object
125      12,July,2004
125    01,August,2004
Name: date, dtype: object
126      12,July,2004
126    01,August,2004
Name: date, dtype: object
127      12,July,2004
127    01,August,2004
Name: date, dtype: object
128      10,July,2004
128    01,August,2004
Name: date, dtype: object
129      09,July,2004
129    01,August,2004
Name: date, dtype: object
130      08,July,2004
130    01,August,2004
Name: date, dtype: object
131      07,July,2004
131    01,August,2004
Name: date, dtype: object
132      06,July,2004
132    01,August,2004
Name: date, dtype: object
133      06,July,2004
133    01,August,2004
Name: date, dtype: object
134      06,July,2004
134    01,August,2004
Name: date, dtype: object
135    17,August,2004
135      30,June,2004
Name: date, dtype: object
136    16,August,2004
136      30,July,2004
Name: date, dtype: object
137    16,August,2004
137      28,July,2004
Name: date, dtype: object
138    12,August,2004
138      27,July,2004
Name: date, dtype: object
139    12,August,2004
139      23,July,2004
Name: date, dtype: object
140    09,August,2004
140      19,July,2004
Name: date, dtype: object
141    08,August,2004
141      15,July,2004
Name: date, dtype: object

142    05,August,2004
142      14,July,2004
Name: date, dtype: object
143    05,August,2004
143      10,July,2004
Name: date, dtype: object
144    04,August,2004
144      10,July,2004
Name: date, dtype: object
145    03,August,2004
145      06,July,2004
Name: date, dtype: object
146    03,August,2004
146      02,July,2004
Name: date, dtype: object
147    02,August,2004
147      01,July,2004
Name: date, dtype: object
148    02,August,2004
148    01,August,2004
Name: date, dtype: object
149    01,August,2004
149      03,July,2004
Name: date, dtype: object
150    01,August,2004
150      03,July,2004
Name: date, dtype: object
151    20,June,2004
151    03,July,2004
Name: date, dtype: object
152    19,June,2004
152    03,July,2004
Name: date, dtype: object
153    18,June,2004
153    03,July,2004
Name: date, dtype: object
154    17,June,2004
154    03,July,2004
Name: date, dtype: object
155    16,June,2004
155    03,July,2004
Name: date, dtype: object
156    15,June,2004
156    03,July,2004
Name: date, dtype: object
157    22,July,2004
157    03,July,2004
Name: date, dtype: object
158    18,July,2004
158    03,July,2004
Name: date, dtype: object
159    16,July,2004
159    03,July,2004
Name: date, dtype: object
160    14,July,2004
160    03,July,2004
Name: date, dtype: object
161    12,July,2004
161    03,July,2004
Name: date, dtype: object
162    09,July,2004
162    03,July,2004
Name: date, dtype: object
163    07,August,2004
163      03,July,2004
Name: date, dtype: object
164     30,May,2004
164    03,July,2004
Name: date, dtype: object
165     28,May,2004
165    03,July,2004
Name: date, dtype: object
166     27,May,2004
166    03,July,2004
Name: date, dtype: object
167     25,May,2004
167    03,July,2004
Name: date, dtype: object
168     24,May,2004
168    03,July,2004
Name: date, dtype: object
169     23,May,2004
169    03,July,2004
Name: date, dtype: object
170     23,May,2004
170    03,July,2004
Name: date, dtype: object
171     23,May,2004
171    03,July,2004
Name: date, dtype: object
172    30,June,2004
172    03,July,2004
Name: date, dtype: object
173    28,June,2004
173    03,July,2004
Name: date, dtype: object
174    24,June,2004
174    03,July,2004
Name: date, dtype: object
175    21,June,2004
175    03,July,2004
Name: date, dtype: object
176    21,June,2004
176    03,July,2004
Name: date, dtype: object
177    20,June,2004
177    03,July,2004
Name: date, dtype: object
178    16,June,2004
178    03,July,2004
Name: date, dtype: object
179    14,June,2004
179    03,July,2004
Name: date, dtype: object
180    10,June,2004
180    03,July,2004
Name: date, dtype: object
181    08,June,2004
181    03,July,2004
Name: date, dtype: object
182    05,June,2004
182    03,July,2004
Name: date, dtype: object
183    02,June,2004
183    03,July,2004
Name: date, dtype: object
184    02,June,2004
184    03,July,2004
Name: date, dtype: object
185    31,July,2004
185    03,July,2004
Name: date, dtype: object
186    30,July,2004
186    03,July,2004
Name: date, dtype: object
187    28,July,2004
187    03,July,2004
Name: date, dtype: object
188    26,July,2004
188    03,July,2004
Name: date, dtype: object
189    24,July,2004
189    03,July,2004
Name: date, dtype: object
190    16,July,2004
190    03,July,2004
Name: date, dtype: object
191    15,July,2004
191    03,July,2004
Name: date, dtype: object
192    09,July,2004
192    03,July,2004
Name: date, dtype: object
193    05,July,2004
193    03,July,2004
Name: date, dtype: object
194    05,July,2004
194    03,July,2004
Name: date, dtype: object
195    01,July,2004
195    03,July,2004
Name: date, dtype: object
196    07,August,2004
196      03,July,2004
Name: date, dtype: object
197    05,August,2004
197      03,July,2004
Name: date, dtype: object
198     28,May,2004
198    03,July,2004
Name: date, dtype: object
199     27,May,2004
199    03,July,2004
Name: date, dtype: object
200     26,May,2004
200    03,July,2004
Name: date, dtype: object
201     25,May,2004
201    03,July,2004
Name: date, dtype: object
202     25,May,2004
202    03,July,2004
Name: date, dtype: object
203     24,May,2004
203    03,July,2004
Name: date, dtype: object
204     22,May,2004
204    03,July,2004
Name: date, dtype: object
205     22,May,2004
205    03,July,2004
Name: date, dtype: object
206     21,May,2004
206    03,July,2004
Name: date, dtype: object
207     19,May,2004
207    03,July,2004
Name: date, dtype: object
208     19,May,2004
208    03,July,2004
Name: date, dtype: object
209    30,June,2004
209    03,July,2004
Name: date, dtype: object
210    25,June,2004
210    03,July,2004
Name: date, dtype: object
211    23,June,2004
211    03,July,2004
Name: date, dtype: object
212    22,June,2004
212    03,July,2004
Name: date, dtype: object
213    18,June,2004
213    03,July,2004
Name: date, dtype: object
214    15,June,2004
214    03,July,2004
Name: date, dtype: object
215    11,June,2004
215    03,July,2004
Name: date, dtype: object
216    09,June,2004
216    03,July,2004
Name: date, dtype: object
217    09,June,2004
217    03,July,2004
Name: date, dtype: object
218    06,June,2004
218    03,July,2004
Name: date, dtype: object
219    06,June,2004
219    03,July,2004
Name: date, dtype: object
220    04,June,2004
220    03,July,2004
Name: date, dtype: object
221    02,June,2004
221    03,July,2004
Name: date, dtype: object
222    27,July,2004
222    03,July,2004
Name: date, dtype: object
223    23,July,2004
223    03,July,2004
Name: date, dtype: object
224    22,July,2004
224    03,July,2004
Name: date, dtype: object
225    12,July,2004
225    03,July,2004
Name: date, dtype: object
226    09,July,2004
226    03,July,2004
Name: date, dtype: object
227    08,July,2004
227    03,July,2004
Name: date, dtype: object
228    06,July,2004
228    03,July,2004
Name: date, dtype: object
229    05,July,2004
229    03,July,2004
Name: date, dtype: object
230    09,August,2004
230      03,July,2004
Name: date, dtype: object
231    06,August,2004
231      03,July,2004
Name: date, dtype: object
232    02,August,2004
232      03,July,2004
Name: date, dtype: object
233     31,May,2002
233    03,July,2004
Name: date, dtype: object
234     30,May,2002
234    03,July,2004
Name: date, dtype: object
235     27,May,2002
235    03,July,2004
Name: date, dtype: object
236     27,May,2002
236    03,July,2004
Name: date, dtype: object
237     23,May,2002
237    03,July,2004
Name: date, dtype: object
238     20,May,2002
238    03,July,2004
Name: date, dtype: object
239     19,May,2002
239    03,July,2004
Name: date, dtype: object
240     18,May,2002
240    03,July,2004
Name: date, dtype: object
241     18,May,2002
241    03,July,2004
Name: date, dtype: object
242     18,May,2002
242    03,July,2004
Name: date, dtype: object
243     18,May,2002
243    03,July,2004
Name: date, dtype: object
244     18,May,2002
244    03,July,2004
Name: date, dtype: object
245     18,May,2002
245    03,July,2004
Name: date, dtype: object
246    25,June,2002
246    03,July,2004
Name: date, dtype: object
247    23,June,2002
247    03,July,2004
Name: date, dtype: object
248    09,June,2002
248    03,July,2004
Name: date, dtype: object
249    05,June,2002
249    03,July,2004
Name: date, dtype: object
250    05,June,2002
250    03,July,2004
Name: date, dtype: object
251    04,June,2002
251    03,July,2004
Name: date, dtype: object
252    31,July,2002
252    03,July,2004
Name: date, dtype: object
253    30,July,2002
253    03,July,2004
Name: date, dtype: object
254    29,July,2002
254    03,July,2004
Name: date, dtype: object
255    29,July,2002
255    03,July,2004
Name: date, dtype: object
256    27,July,2002
256    03,July,2004
Name: date, dtype: object
257    27,July,2002
257    03,July,2004
Name: date, dtype: object
258    25,July,2002
258    03,July,2004
Name: date, dtype: object
259    24,July,2002
259    03,July,2004
Name: date, dtype: object
260    09,July,2002
260    03,July,2004
Name: date, dtype: object
261    09,July,2002
261    03,July,2004
Name: date, dtype: object
262    03,July,2002
262    03,July,2004
Name: date, dtype: object
263    03,July,2002
263    03,July,2004
Name: date, dtype: object
264    02,July,2002
264    03,July,2004
Name: date, dtype: object
265    24,August,2002
265      03,July,2004
Name: date, dtype: object
266    21,August,2002
266      03,July,2004
Name: date, dtype: object
267    21,August,2002
267      03,July,2004
Name: date, dtype: object
268    20,August,2002
268       29,May,2004
Name: date, dtype: object
269    20,August,2002
269       30,May,2004
Name: date, dtype: object
270    20,August,2002
270       31,May,2004

Name: date, dtype: object
271    15,August,2002
271      23,July,2004
Name: date, dtype: object
272    06,August,2002
272      24,July,2004
Name: date, dtype: object
273    05,August,2002
273      24,June,2004
Name: date, dtype: object
274    03,August,2002
274      23,June,2004
Name: date, dtype: object
275    30,September,2002
275         17,July,2004
Name: date, dtype: object
276    29,September,2002
276         15,July,2004
Name: date, dtype: object
277    29,September,2002
277         12,July,2004
Name: date, dtype: object
278    29,September,2002
278         12,July,2004
Name: date, dtype: object
279    24,September,2002
279         11,July,2004
Name: date, dtype: object
280    24,September,2002
280         24,July,2004
Name: date, dtype: object
281    22,September,2002
281         23,July,2004
Name: date, dtype: object
282    21,September,2002
282         19,July,2004
Name: date, dtype: object
283    18,September,2002
283         19,July,2004
Name: date, dtype: object
284    18,September,2002
284         26,July,2004
Name: date, dtype: object
285    18,September,2002
285       06,August,2004
Name: date, dtype: object
286    14,September,2002
286       02,August,2004
Name: date, dtype: object
287    14,September,2002
287        20,April,2004
Name: date, dtype: object
288    13,September,2002
288        19,April,2004
Name: date, dtype: object
289    13,September,2002
289        19,April,2004
Name: date, dtype: object
290    10,September,2002
290          26,May,2004
Name: date, dtype: object
291    10,September,2002
291          13,May,2004
Name: date, dtype: object
292    06,September,2002
292          13,May,2004
Name: date, dtype: object
293    05,September,2002
293          10,May,2004
Name: date, dtype: object
294    04,September,2002
294         24,June,2004
Name: date, dtype: object
295    30,October,2002
295       19,June,2004
Name: date, dtype: object
296    24,October,2002
296       31,July,2004
Name: date, dtype: object
297    13,October,2002
297       29,July,2004
Name: date, dtype: object
298    13,October,2002
298       28,July,2004
Name: date, dtype: object
299    13,October,2002
299       28,July,2004
Name: date, dtype: object
300    10,October,2002
300       26,July,2004
Name: date, dtype: object
301    09,October,2002
301       23,July,2004
Name: date, dtype: object
302    08,October,2002
302       22,July,2004
Name: date, dtype: object
303    03,October,2002
303       19,July,2004
Name: date, dtype: object
304    01,October,2002
304       18,July,2004
Name: date, dtype: object
305    01,October,2002
305       17,July,2004
Name: date, dtype: object
306    30,November,2002
306        17,July,2004
Name: date, dtype: object
307    25,November,2002
307        17,July,2004
Name: date, dtype: object
308    22,November,2002
308        17,July,2004
Name: date, dtype: object
309    21,November,2002
309        17,July,2004
Name: date, dtype: object
310    21,November,2002
310        16,July,2004
Name: date, dtype: object
311    21,November,2002
311        14,July,2004
Name: date, dtype: object
312    20,November,2002
312        14,July,2004
Name: date, dtype: object
313    18,November,2002
313        13,July,2004
Name: date, dtype: object
314    17,November,2002
314        12,July,2004
Name: date, dtype: object
315    15,November,2002
315        12,July,2004
Name: date, dtype: object
316    13,November,2002
316        11,July,2004
Name: date, dtype: object
317    12,November,2002
317        11,July,2004
Name: date, dtype: object
318    12,November,2002
318        10,July,2004
Name: date, dtype: object
319    12,November,2002
319        10,July,2004
Name: date, dtype: object
320    11,November,2002
320        09,July,2004
Name: date, dtype: object
321    09,November,2002
321        09,July,2004
Name: date, dtype: object
322    05,November,2002
322        09,July,2004
Name: date, dtype: object
323    05,November,2002
323        09,July,2004
Name: date, dtype: object
324    05,November,2002
324        09,July,2004
Name: date, dtype: object
325    01,November,2002
325        09,July,2004
Name: date, dtype: object
326    01,November,2002
326        09,July,2004
Name: date, dtype: object
327    01,November,2002
327        09,July,2004
Name: date, dtype: object
328    22,December,2002
328        09,July,2004
Name: date, dtype: object
329    13,December,2002
329        08,July,2004
Name: date, dtype: object
330    13,December,2002
330        07,July,2004
Name: date, dtype: object
331    11,December,2002
331        07,July,2004
Name: date, dtype: object
332    06,December,2002
332        07,July,2004
Name: date, dtype: object
333    04,December,2002
333      04,August,2004
Name: date, dtype: object
334    25,January,2003
334     02,August,2004
Name: date, dtype: object
335    21,January,2003
335     02,August,2004
Name: date, dtype: object
336    21,January,2003
336       29,July,2004
Name: date, dtype: object
337    19,January,2003
337       28,July,2004
Name: date, dtype: object
338    11,January,2003
338     03,August,2004
Name: date, dtype: object
339    11,January,2003
339        31,May,2004
Name: date, dtype: object
340    11,January,2003
340        28,May,2004
Name: date, dtype: object
341    06,January,2003
341        26,May,2004
Name: date, dtype: object
342    06,January,2003
342        26,May,2004
Name: date, dtype: object
343    01,January,2003
343        26,May,2004
Name: date, dtype: object
344    27,February,2003
344        16,June,2004
Name: date, dtype: object
345    25,February,2003
345        14,June,2004
Name: date, dtype: object
346    19,February,2003
346        10,June,2004
Name: date, dtype: object
347    19,February,2003
347        09,June,2004
Name: date, dtype: object
348    17,February,2003
348        05,June,2004
Name: date, dtype: object
349    11,February,2003
349        05,June,2004
Name: date, dtype: object
350    04,February,2003
350        31,July,2004
Name: date, dtype: object
351    02,February,2003
351        27,July,2004
Name: date, dtype: object
352    02,February,2003
352        23,July,2004
Name: date, dtype: object
353    02,February,2003
353        22,July,2004
Name: date, dtype: object
354    18,March,2003
354     18,July,2004
Name: date, dtype: object
355    13,March,2003
355     17,July,2004
Name: date, dtype: object
356    16,April,2003
356     17,July,2004
Name: date, dtype: object
357    07,April,2003
357     17,July,2004
Name: date, dtype: object
358    03,April,2003
358     16,July,2004
Name: date, dtype: object
359    03,April,2003
359     15,July,2004
Name: date, dtype: object
360     03,May,2003
360    15,July,2004
Name: date, dtype: object
361     03,May,2003
361    13,July,2004
Name: date, dtype: object
362     03,May,2003
362    10,July,2004
Name: date, dtype: object
363    20,June,2003
363    07,July,2004
Name: date, dtype: object
364    31,July,2003
364    07,July,2004
Name: date, dtype: object
365    31,July,2003
365    05,July,2004
Name: date, dtype: object
366    28,August,2003
366      05,July,2004
Name: date, dtype: object
367    26,August,2003
367      05,July,2004
Name: date, dtype: object
368    25,August,2003
368      05,July,2004
Name: date, dtype: object
369    23,August,2003
369      05,July,2004
Name: date, dtype: object
370    23,August,2003
370      05,July,2004
Name: date, dtype: object
371    17,August,2003
371      05,July,2004
Name: date, dtype: object
372    17,August,2003
372      05,July,2004
Name: date, dtype: object
373    06,August,2003
373      05,July,2004
Name: date, dtype: object
374    04,August,2003
374      05,July,2004
Name: date, dtype: object
375    04,August,2003
375      05,July,2004
Name: date, dtype: object
376    04,August,2003
376      04,July,2004
Name: date, dtype: object
377    17,September,2003
377       09,August,2004
Name: date, dtype: object
378    05,September,2003
378       04,August,2004
Name: date, dtype: object
379    05,September,2003
379       04,August,2004
Name: date, dtype: object
380    30,October,2003
380     04,August,2004
Name: date, dtype: object
381    27,October,2003
381     04,August,2004
Name: date, dtype: object
382    25,October,2003
382     02,August,2004
Name: date, dtype: object
383    22,October,2003
383     01,August,2004
Name: date, dtype: object
384    14,October,2003
384     01,August,2004
Name: date, dtype: object
385    14,October,2003
385       06,July,2004
Name: date, dtype: object
386    14,October,2003
386       02,July,2004
Name: date, dtype: object
387    08,October,2003
387        26,May,2004
Name: date, dtype: object
388    08,October,2003
388        17,May,2004
Name: date, dtype: object
389    26,November,2003
389        02,June,2004
Name: date, dtype: object
390    25,November,2003
390        19,July,2004
Name: date, dtype: object
391    01,November,2003
391        18,July,2004
Name: date, dtype: object
392    31,December,2003
392        15,July,2004
Name: date, dtype: object
393    29,December,2003
393        15,July,2004
Name: date, dtype: object
394    06,December,2003
394      11,August,2004
Name: date, dtype: object
395    04,January,2004
395     09,August,2004
Name: date, dtype: object

396    04,January,2004
396       10,June,2004
Name: date, dtype: object
397    04,January,2004
397       10,June,2004
Name: date, dtype: object
398    02,February,2004
398        10,June,2004
Name: date, dtype: object
399    01,February,2004
399        10,June,2004
Name: date, dtype: object
400    14,April,2004
400     10,June,2004
Name: date, dtype: object
401    07,April,2004
401     10,June,2004
Name: date, dtype: object
402    07,April,2004
402     10,June,2004
Name: date, dtype: object
403    07,April,2004
403     10,June,2004
Name: date, dtype: object
404    07,April,2004
404     10,June,2004
Name: date, dtype: object
405     28,May,2004
405    10,June,2004
Name: date, dtype: object
406     27,May,2004
406    10,June,2004
Name: date, dtype: object
407     27,May,2004
407    10,June,2004
Name: date, dtype: object
408     27,May,2004
408    10,June,2004
Name: date, dtype: object
409     25,May,2004
409    10,June,2004
Name: date, dtype: object
410     24,May,2004
410    10,June,2004
Name: date, dtype: object
411     24,May,2004
411    10,June,2004
Name: date, dtype: object
412     22,May,2004
412    10,June,2004
Name: date, dtype: object
413     06,May,2004
413    10,June,2004
Name: date, dtype: object
414    16,June,2004
414    10,June,2004
Name: date, dtype: object
415    11,June,2004
415    10,June,2004
Name: date, dtype: object
416    10,June,2004
416    10,June,2004
Name: date, dtype: object
417    03,June,2004
417    10,June,2004
Name: date, dtype: object
418    28,July,2004
418    10,June,2004
Name: date, dtype: object
419    26,July,2004
419    10,June,2004
Name: date, dtype: object
420    23,July,2004
420    10,June,2004
Name: date, dtype: object
421    15,July,2004
421    10,June,2004
Name: date, dtype: object
422    12,July,2004
422    10,June,2004
Name: date, dtype: object
423    06,August,2004
423      10,June,2004
Name: date, dtype: object
424    14,June,2004
424    10,June,2004
Name: date, dtype: object
425    14,June,2004
425    10,June,2004
Name: date, dtype: object
426    16,June,2004
426    10,June,2004
Name: date, dtype: object
427    17,June,2004
427    10,June,2004
Name: date, dtype: object
428    17,June,2004
428    10,June,2004
Name: date, dtype: object
429    17,June,2004
429    10,June,2004
Name: date, dtype: object
430    17,June,2004
430    10,June,2004
Name: date, dtype: object
431    18,June,2004
431    10,June,2004
Name: date, dtype: object
432    18,June,2004
432    10,June,2004
Name: date, dtype: object
433    18,June,2004
433    10,June,2004
Name: date, dtype: object
434    19,June,2004
434    10,June,2004
Name: date, dtype: object
435    21,June,2004
435    10,June,2004
Name: date, dtype: object
436    23,June,2004
436    10,June,2004
Name: date, dtype: object
437    24,June,2004
437    10,June,2004
Name: date, dtype: object
438    24,June,2004
438    10,June,2004
Name: date, dtype: object
439    24,June,2004
439    10,June,2004
Name: date, dtype: object
440    25,June,2004
440    10,June,2004
Name: date, dtype: object
441    25,June,2004
441    10,June,2004
Name: date, dtype: object
442    25,June,2004
442    10,June,2004
Name: date, dtype: object
443    26,June,2004
443    10,June,2004
Name: date, dtype: object
444    26,June,2004
444    10,June,2004
Name: date, dtype: object
445    26,June,2004
445    10,June,2004
Name: date, dtype: object
446    27,June,2004
446    10,June,2004
Name: date, dtype: object
447    27,June,2004
447    10,June,2004
Name: date, dtype: object
448    28,June,2004
448    10,June,2004
Name: date, dtype: object
449    28,June,2004
449    10,June,2004
Name: date, dtype: object
450    28,June,2004
450    10,June,2004
Name: date, dtype: object
451    17,July,2004
451    10,June,2004
Name: date, dtype: object
452    10,August,2004
452      10,June,2004
Name: date, dtype: object
453    23,August,2004
453      10,June,2004
Name: date, dtype: object
454    22,August,2004
454      10,June,2004
Name: date, dtype: object
455    22,August,2004
455      10,June,2004
Name: date, dtype: object
456    20,August,2004
456      10,June,2004
Name: date, dtype: object
457    19,August,2004
457      10,June,2004
Name: date, dtype: object
458    18,August,2004
458      10,June,2004
Name: date, dtype: object
459    05,July,2004
459    10,June,2004
Name: date, dtype: object
460    09,July,2004
460    10,June,2004
Name: date, dtype: object
461    09,July,2004
461    10,June,2004
Name: date, dtype: object
462    11,July,2004
462    10,June,2004
Name: date, dtype: object
463    14,July,2004
463    10,June,2004
Name: date, dtype: object
464    17,July,2004
464    10,June,2004
Name: date, dtype: object
465    17,July,2004
465    10,June,2004
Name: date, dtype: object
466    17,July,2004
466    10,June,2004
Name: date, dtype: object
467    17,July,2004
467    10,June,2004
Name: date, dtype: object
468    17,July,2004
468    10,June,2004
Name: date, dtype: object
469    17,July,2004
469    10,June,2004
Name: date, dtype: object
470    18,July,2004
470    10,June,2004
Name: date, dtype: object
471    18,July,2004
471    10,June,2004
Name: date, dtype: object
472    18,July,2004
472    10,June,2004
Name: date, dtype: object
473    18,July,2004
473    10,June,2004
Name: date, dtype: object
474    18,July,2004
474    10,June,2004
Name: date, dtype: object
475    19,July,2004
475    10,June,2004
Name: date, dtype: object
476    27,July,2004
476    10,June,2004
Name: date, dtype: object
477    27,July,2004
477    10,June,2004
Name: date, dtype: object
478    02,August,2004
478      10,June,2004
Name: date, dtype: object
479    08,August,2004
479      10,June,2004
Name: date, dtype: object
480     31,May,2004
480    10,June,2004
Name: date, dtype: object
481     30,May,2004
481    10,June,2004
Name: date, dtype: object
482     27,May,2004
482    10,June,2004
Name: date, dtype: object
483     26,May,2004
483    10,June,2004
Name: date, dtype: object
484     25,May,2004
484    10,June,2004
Name: date, dtype: object
485     24,May,2004
485    10,June,2004
Name: date, dtype: object
486     22,May,2004
486    10,June,2004
Name: date, dtype: object
487     21,May,2004
487    10,June,2004
Name: date, dtype: object
488     20,May,2004
488    10,June,2004
Name: date, dtype: object
489     17,May,2004
489    10,June,2004
Name: date, dtype: object
490     16,May,2004
490    10,June,2004
Name: date, dtype: object
491     15,May,2004
491    10,June,2004
Name: date, dtype: object
492     15,May,2004
492    10,June,2004
Name: date, dtype: object
493    29,June,2004
493    10,June,2004
Name: date, dtype: object
494    28,June,2004
494    10,June,2004
Name: date, dtype: object
495    26,June,2004
495    10,June,2004
Name: date, dtype: object
496    18,June,2004
496    10,June,2004
Name: date, dtype: object
497    13,June,2004
497    10,June,2004
Name: date, dtype: object
498    08,June,2004
498    10,June,2004
Name: date, dtype: object
499    05,June,2004
499    10,June,2004
Name: date, dtype: object
500    03,June,2004
500    10,June,2004
Name: date, dtype: object
501    02,June,2004
501    10,June,2004
Name: date, dtype: object
502    31,July,2004
502    10,June,2004
Name: date, dtype: object
503    29,July,2004
503    10,June,2004
Name: date, dtype: object
504    28,July,2004
504    10,June,2004
Name: date, dtype: object
505    23,July,2004
505    10,June,2004
Name: date, dtype: object
506    17,July,2004
506    10,June,2004
Name: date, dtype: object
507    15,July,2004
507    10,June,2004
Name: date, dtype: object
508    06,July,2004
508    10,June,2004
Name: date, dtype: object
509    01,July,2004
509    10,June,2004
Name: date, dtype: object
510    06,August,2004
510      10,June,2004
Name: date, dtype: object
511    02,August,2004
511      10,June,2004
Name: date, dtype: object
512    07,June,2004
512    10,June,2004
Name: date, dtype: object
513    07,June,2004
513    10,June,2004
Name: date, dtype: object
514    07,June,2004
514    10,June,2004
Name: date, dtype: object
515    07,June,2004
515    10,June,2004
Name: date, dtype: object
516    07,June,2004
516    10,June,2004
Name: date, dtype: object
517    07,June,2004
517    10,June,2004
Name: date, dtype: object
518    07,June,2004
518    10,June,2004
Name: date, dtype: object
519    07,June,2004
519    10,June,2004
Name: date, dtype: object
520    07,June,2004
520    10,June,2004
Name: date, dtype: object
521    07,June,2004
521    10,June,2004
Name: date, dtype: object
522    26,July,2004
522    10,June,2004
Name: date, dtype: object
523    18,July,2004
523    10,June,2004
Name: date, dtype: object
524    13,July,2004
524    10,June,2004
Name: date, dtype: object

525    13,July,2004
525    10,June,2004
Name: date, dtype: object
526    01,August,2004
526      10,June,2004
Name: date, dtype: object
527    01,August,2004
527    12,August,2004
Name: date, dtype: object
528    01,August,2004
528    12,August,2004
Name: date, dtype: object
529    01,August,2004
529    12,August,2004
Name: date, dtype: object
530    01,August,2004
530    12,August,2004
Name: date, dtype: object
531    01,August,2004
531    12,August,2004
Name: date, dtype: object
532    01,August,2004
532    12,August,2004
Name: date, dtype: object
533    01,August,2004
533    12,August,2004
Name: date, dtype: object
534    01,August,2004
534    12,August,2004
Name: date, dtype: object
535    01,August,2004
535    12,August,2004
Name: date, dtype: object
536    01,August,2004
536    12,August,2004
Name: date, dtype: object
537    01,August,2004
537    12,August,2004
Name: date, dtype: object
538    01,August,2004
538    12,August,2004
Name: date, dtype: object
539    01,August,2004
539    12,August,2004
Name: date, dtype: object
540    01,August,2004
540    12,August,2004
Name: date, dtype: object
541    01,August,2004
541    12,August,2004
Name: date, dtype: object
542    01,August,2004
542    12,August,2004
Name: date, dtype: object
543    01,August,2004
543    12,August,2004
Name: date, dtype: object
544    01,August,2004
544    12,August,2004
Name: date, dtype: object
545    01,August,2004
545    12,August,2004
Name: date, dtype: object
546    01,August,2004
546    12,August,2004
Name: date, dtype: object
547      01,August,2004
547    07,December,2003
Name: date, dtype: object
548      01,August,2004
548    03,December,2003
Name: date, dtype: object
549     01,August,2004
549    31,January,2004
Name: date, dtype: object
550    01,August,2004
550      24,June,2004
Name: date, dtype: object
551    01,August,2004
551      24,June,2004
Name: date, dtype: object
552    01,August,2004
552       26,May,2004
Name: date, dtype: object
553    01,August,2004
553       24,May,2004
Name: date, dtype: object
554    01,August,2004
554       21,May,2004
Name: date, dtype: object
555    01,August,2004
555       19,May,2004
Name: date, dtype: object
556    01,August,2004
556       11,May,2004
Name: date, dtype: object
557    01,August,2004
557      25,June,2004
Name: date, dtype: object
558    01,August,2004
558      19,June,2004
Name: date, dtype: object
559    01,August,2004
559      16,June,2004
Name: date, dtype: object
560    01,August,2004
560      14,June,2004
Name: date, dtype: object
561    01,August,2004
561      13,June,2004
Name: date, dtype: object
562    01,August,2004
562      08,June,2004
Name: date, dtype: object
563    01,August,2004
563      07,June,2004
Name: date, dtype: object
564    01,August,2004
564      01,June,2004
Name: date, dtype: object
565    01,August,2004
565      27,July,2004
Name: date, dtype: object
566    01,August,2004
566      08,July,2004
Name: date, dtype: object
567    01,August,2004
567      02,July,2004
Name: date, dtype: object
568    01,August,2004
568      01,July,2004
Name: date, dtype: object
569    01,August,2004
569      01,July,2004
Name: date, dtype: object
570    01,August,2004
570    04,August,2004
Name: date, dtype: object
571    01,August,2004
571    02,August,2004
Name: date, dtype: object
572    01,August,2004
572      30,June,2004
Name: date, dtype: object
573    01,August,2004
573      06,July,2004
Name: date, dtype: object
574    01,August,2004
574      04,July,2004
Name: date, dtype: object
575    01,August,2004
575      03,July,2004
Name: date, dtype: object
576    01,August,2004
576      02,July,2004
Name: date, dtype: object
577    01,August,2004
577      31,July,2004
Name: date, dtype: object
578    01,August,2004
578      27,July,2004
Name: date, dtype: object
579    01,August,2004
579    20,August,2004
Name: date, dtype: object
580    01,August,2004
580    18,August,2004
Name: date, dtype: object
581    01,August,2004
581      17,July,2004
Name: date, dtype: object
582    01,August,2004
582      15,July,2004
Name: date, dtype: object
583    01,August,2004
583      14,July,2004
Name: date, dtype: object
584    01,August,2004
584      14,July,2004
Name: date, dtype: object
585    01,August,2004
585     18,julio,2004
Name: date, dtype: object
586    01,August,2004
586     18,julio,2004
Name: date, dtype: object
587    30,October,2003
587      18,julio,2004
Name: date, dtype: object
588    21,October,2003
588      18,julio,2004
Name: date, dtype: object
589    19,October,2003
589      18,julio,2004
Name: date, dtype: object
590    01,October,2003
590      18,julio,2004
Name: date, dtype: object
591    01,October,2003
591      18,julio,2004
Name: date, dtype: object
592    01,October,2003
592      18,julio,2004
Name: date, dtype: object
593    01,October,2003
593      18,julio,2004
Name: date, dtype: object
594    29,February,2004
594       18,julio,2004
Name: date, dtype: object
595    09,February,2004
595       18,julio,2004
Name: date, dtype: object
596    01,March,2004
596    18,julio,2004
Name: date, dtype: object
597    19,April,2004
597    18,julio,2004
Name: date, dtype: object
598    13,April,2004
598    18,julio,2004
Name: date, dtype: object
599    07,April,2004
599    18,julio,2004
Name: date, dtype: object
600      16,May,2004
600    18,julio,2004
Name: date, dtype: object
601      08,May,2004
601    18,julio,2004
Name: date, dtype: object
602      04,May,2004
602    18,julio,2004
Name: date, dtype: object
603    05,August,2004
603     18,julio,2004
Name: date, dtype: object
604    24,August,2004
604     18,julio,2004
Name: date, dtype: object
605    20,August,2004
605     18,julio,2004
Name: date, dtype: object
606    24,August,2004
606     18,julio,2004
Name: date, dtype: object
607    23,August,2004
607     18,julio,2004
Name: date, dtype: object
608    22,August,2004
608     18,julio,2004
Name: date, dtype: object
609    22,August,2004
609     18,julio,2004
Name: date, dtype: object
610    22,August,2004
610     18,julio,2004
Name: date, dtype: object
611    22,August,2004
611      27,July,2004
Name: date, dtype: object
612    21,June,2004
612    24,July,2004
Name: date, dtype: object
613    18,June,2004
613    24,July,2004
Name: date, dtype: object
614      16,June,2004
614    09,August,2004
Name: date, dtype: object
615      15,June,2004
615    02,August,2004
Name: date, dtype: object
616    29,July,2004
616    27,July,2004
Name: date, dtype: object
617    27,July,2004
617    25,July,2004
Name: date, dtype: object
618    26,July,2004
618    25,July,2004
Name: date, dtype: object
619    21,July,2004
619    25,July,2004
Name: date, dtype: object
620      19,July,2004
620    16,August,2004
Name: date, dtype: object
621      14,July,2004
621    05,August,2004
Name: date, dtype: object
622      12,July,2004
622    05,August,2004
Name: date, dtype: object
623      05,July,2004
623    05,August,2004
Name: date, dtype: object
624    11,August,2004
624    05,August,2004
Name: date, dtype: object
625    02,August,2004
625    05,August,2004
Name: date, dtype: object
626      07,July,2004
626    05,August,2004
Name: date, dtype: object
627      04,June,2004
627    05,August,2004
Name: date, dtype: object
628      29,June,2004
628    05,August,2004
Name: date, dtype: object
629      21,July,2004
629    05,August,2004
Name: date, dtype: object
630      13,July,2004
630    05,August,2004
Name: date, dtype: object
631      10,July,2004
631    05,August,2004
Name: date, dtype: object
632      09,July,2004
632    05,August,2004
Name: date, dtype: object
633      05,July,2004
633    05,August,2004
Name: date, dtype: object
634      04,July,2004
634    05,August,2004
Name: date, dtype: object
635      03,July,2004
635    05,August,2004
Name: date, dtype: object
636    06,August,2004
636    05,August,2004
Name: date, dtype: object
637    04,August,2004
637    05,August,2004
Name: date, dtype: object
638    27,December,2003
638      05,August,2004
Name: date, dtype: object
639    30,January,2004
639     05,August,2004
Name: date, dtype: object
640    25,January,2004
640     05,August,2004
Name: date, dtype: object
641    17,January,2004
641     05,August,2004
Name: date, dtype: object
642    17,January,2004
642     05,August,2004
Name: date, dtype: object
643    14,January,2004
643     05,August,2004
Name: date, dtype: object
644    14,January,2004
644     05,August,2004
Name: date, dtype: object
645    13,January,2004
645     05,August,2004
Name: date, dtype: object
646    10,January,2004
646     05,August,2004
Name: date, dtype: object
647    10,January,2004
647     05,August,2004
Name: date, dtype: object
648    10,January,2004
648     05,August,2004
Name: date, dtype: object
649    08,January,2004
649     05,August,2004
Name: date, dtype: object
650    07,January,2004
650     05,August,2004
Name: date, dtype: object
651    07,January,2004
651     05,August,2004
Name: date, dtype: object
652    06,January,2004
652     05,August,2004
Name: date, dtype: object
653    05,January,2004
653     05,August,2004
Name: date, dtype: object
654    05,January,2004
654     05,August,2004
Name: date, dtype: object
655    05,January,2004
655     05,August,2004
Name: date, dtype: object

656    05,January,2004
656     05,August,2004
Name: date, dtype: object
657    29,February,2004
657      05,August,2004
Name: date, dtype: object
658    18,February,2004
658      05,August,2004
Name: date, dtype: object
659    17,February,2004
659      05,August,2004
Name: date, dtype: object
660    15,February,2004
660      05,August,2004
Name: date, dtype: object
661     22,March,2004
661    05,August,2004
Name: date, dtype: object
662     10,March,2004
662    05,August,2004
Name: date, dtype: object
663     24,April,2004
663    05,August,2004
Name: date, dtype: object
664     23,April,2004
664    05,August,2004
Name: date, dtype: object
665     18,April,2004
665    05,August,2004
Name: date, dtype: object
666     09,April,2004
666    05,August,2004
Name: date, dtype: object
667     08,April,2004
667    05,August,2004
Name: date, dtype: object
668     06,April,2004
668    05,August,2004
Name: date, dtype: object
669     03,April,2004
669    05,August,2004
Name: date, dtype: object
670     01,April,2004
670    05,August,2004
Name: date, dtype: object
671       26,May,2004
671    05,August,2004
Name: date, dtype: object
672       22,May,2004
672    05,August,2004
Name: date, dtype: object
673       22,May,2004
673    05,August,2004
Name: date, dtype: object
674       22,May,2004
674    05,August,2004
Name: date, dtype: object
675       08,May,2004
675    05,August,2004
Name: date, dtype: object
676      26,June,2004
676    05,August,2004
Name: date, dtype: object
677      21,June,2004
677    05,August,2004
Name: date, dtype: object
678      19,June,2004
678    05,August,2004
Name: date, dtype: object
679      18,June,2004
679    05,August,2004
Name: date, dtype: object
680      18,June,2004
680    05,August,2004
Name: date, dtype: object
681      11,June,2004
681    05,August,2004
Name: date, dtype: object
682      30,July,2004
682    05,August,2004
Name: date, dtype: object
683      29,July,2004
683    05,August,2004
Name: date, dtype: object
684      27,July,2004
684    05,August,2004
Name: date, dtype: object
685      27,July,2004
685    05,August,2004
Name: date, dtype: object
686      25,July,2004
686    05,August,2004
Name: date, dtype: object
687      15,July,2004
687    05,August,2004
Name: date, dtype: object
688      13,July,2004
688    05,August,2004
Name: date, dtype: object
689      11,July,2004
689    05,August,2004
Name: date, dtype: object
690      08,July,2004
690    05,August,2004
Name: date, dtype: object
691      08,July,2004
691    05,August,2004
Name: date, dtype: object
692      07,July,2004
692    05,August,2004
Name: date, dtype: object
693      06,July,2004
693    05,August,2004
Name: date, dtype: object
694      03,July,2004
694    05,August,2004
Name: date, dtype: object
695      03,July,2004
695    05,August,2004
Name: date, dtype: object
696      02,July,2004
696    05,August,2004
Name: date, dtype: object
697    09,August,2004
697    05,August,2004
Name: date, dtype: object
698    08,August,2004
698    05,August,2004
Name: date, dtype: object
699    08,August,2004
699    05,August,2004
Name: date, dtype: object
700      28,June,2004
700    05,August,2004
Name: date, dtype: object
701      23,June,2004
701    05,August,2004
Name: date, dtype: object
702      15,June,2004
702    05,August,2004
Name: date, dtype: object
703      15,June,2004
703    05,August,2004
Name: date, dtype: object
704      29,July,2004
704    05,August,2004
Name: date, dtype: object
705      22,July,2004
705    05,August,2004
Name: date, dtype: object
706      22,July,2004
706    05,August,2004
Name: date, dtype: object
707      19,July,2004
707    05,August,2004
Name: date, dtype: object
708      09,July,2004
708    05,August,2004
Name: date, dtype: object
709      08,July,2004
709    05,August,2004
Name: date, dtype: object
710      07,July,2004
710    05,August,2004
Name: date, dtype: object
711      07,July,2004
711    05,August,2004
Name: date, dtype: object
712      06,July,2004
712    05,August,2004
Name: date, dtype: object
713      06,July,2004
713    05,August,2004
Name: date, dtype: object
714      02,July,2004
714    05,August,2004
Name: date, dtype: object
715      02,July,2004
715    05,August,2004
Name: date, dtype: object
716      02,July,2004
716    05,August,2004
Name: date, dtype: object
717      02,July,2004
717    05,August,2004
Name: date, dtype: object
718      02,July,2004
718    05,August,2004
Name: date, dtype: object
719      02,July,2004
719    05,August,2004
Name: date, dtype: object
720    13,August,2004
720    05,August,2004
Name: date, dtype: object
721    12,August,2004
721    05,August,2004
Name: date, dtype: object
722    11,August,2004
722    05,August,2004
Name: date, dtype: object
723    10,August,2004
723    05,August,2004
Name: date, dtype: object
724    10,August,2004
724    05,August,2004
Name: date, dtype: object
725    09,August,2004
725    05,August,2004
Name: date, dtype: object
726    06,August,2004
726    05,August,2004
Name: date, dtype: object
727    05,August,2004
727    05,August,2004
Name: date, dtype: object
728    05,August,2004
728    05,August,2004
Name: date, dtype: object
729    04,August,2004
729    05,August,2004
Name: date, dtype: object
730    02,August,2004
730    05,August,2004
Name: date, dtype: object
731    02,August,2004
731    05,August,2004
Name: date, dtype: object
732       22,May,2004
732    05,August,2004
Name: date, dtype: object
733       21,May,2004
733    05,August,2004
Name: date, dtype: object
734       21,May,2004
734    05,August,2004
Name: date, dtype: object
735       21,May,2004
735    05,August,2004
Name: date, dtype: object
736       21,May,2004
736    05,August,2004
Name: date, dtype: object
737       21,May,2004
737    05,August,2004
Name: date, dtype: object
738       21,May,2004
738    05,August,2004
Name: date, dtype: object
739       21,May,2004
739    05,August,2004
Name: date, dtype: object
740       21,May,2004
740    05,August,2004
Name: date, dtype: object
741       21,May,2004
741    05,August,2004
Name: date, dtype: object
742       21,May,2004
742    05,August,2004
Name: date, dtype: object
743       21,May,2004
743    05,August,2004
Name: date, dtype: object
744       21,May,2004
744    05,August,2004
Name: date, dtype: object
745       21,May,2004
745    05,August,2004
Name: date, dtype: object
746       21,May,2004
746    05,August,2004
Name: date, dtype: object
747       28,May,2004
747    05,August,2004
Name: date, dtype: object
748       26,May,2004
748    05,August,2004
Name: date, dtype: object
749       24,May,2004
749    05,August,2004
Name: date, dtype: object
750       23,May,2004
750    05,August,2004
Name: date, dtype: object
751       23,May,2004
751    05,August,2004
Name: date, dtype: object
752       23,May,2004
752    05,August,2004
Name: date, dtype: object
753       23,May,2004
753    05,August,2004
Name: date, dtype: object
754       23,May,2004
754    05,August,2004
Name: date, dtype: object
755       23,May,2004
755    05,August,2004
Name: date, dtype: object
756       23,May,2004
756    05,August,2004
Name: date, dtype: object
757       23,May,2004
757    05,August,2004
Name: date, dtype: object
758      05,June,2004
758    05,August,2004
Name: date, dtype: object
759      02,June,2004
759    05,August,2004
Name: date, dtype: object
760      01,June,2004
760    05,August,2004
Name: date, dtype: object
761      06,June,2004
761    05,August,2004
Name: date, dtype: object
762      14,June,2004
762    05,August,2004
Name: date, dtype: object
763      13,June,2004
763    05,August,2004
Name: date, dtype: object
764      21,June,2004
764    05,August,2004
Name: date, dtype: object
765    16,August,2004
765    05,August,2004
Name: date, dtype: object
766    03,August,2004
766    05,August,2004
Name: date, dtype: object
767    03,August,2004
767    05,August,2004
Name: date, dtype: object
768      26,June,2004
768    05,August,2004
Name: date, dtype: object
769      09,June,2004
769    05,August,2004
Name: date, dtype: object
770      08,June,2004
770    05,August,2004
Name: date, dtype: object
771      08,June,2004
771    05,August,2004
Name: date, dtype: object
772       22,May,2004
772    05,August,2004
Name: date, dtype: object
773       13,May,2004
773    05,August,2004
Name: date, dtype: object
774       10,May,2004
774    05,August,2004
Name: date, dtype: object
775      04,July,2004
775    05,August,2004
Name: date, dtype: object
776      04,July,2004
776    05,August,2004
Name: date, dtype: object
777      04,July,2004
777    05,August,2004
Name: date, dtype: object
778      04,July,2004
778    05,August,2004
Name: date, dtype: object
779      04,July,2004
779    05,August,2004
Name: date, dtype: object
780      04,July,2004
780    05,August,2004
Name: date, dtype: object
781      04,July,2004
781    05,August,2004
Name: date, dtype: object
782       28,May,2004
782    05,August,2004
Name: date, dtype: object
783      31,July,2004
783    05,August,2004
Name: date, dtype: object
784      30,July,2004
784    05,August,2004
Name: date, dtype: object
785      28,July,2004
785    05,August,2004
Name: date, dtype: object
786      26,July,2004
786    05,August,2004
Name: date, dtype: object
787      25,July,2004
787    05,August,2004
Name: date, dtype: object
788      24,July,2004
788    05,August,2004
Name: date, dtype: object

789      22,July,2004
789    05,August,2004
Name: date, dtype: object
790      21,July,2004
790    05,August,2004
Name: date, dtype: object
791      21,July,2004
791    05,August,2004
Name: date, dtype: object
792      21,July,2004
792    05,August,2004
Name: date, dtype: object
793      21,July,2004
793    05,August,2004
Name: date, dtype: object
794      20,July,2004
794    05,August,2004
Name: date, dtype: object
795      20,July,2004
795    05,August,2004
Name: date, dtype: object
796      19,July,2004
796    05,August,2004
Name: date, dtype: object
797      18,July,2004
797    05,August,2004
Name: date, dtype: object
798      18,July,2004
798    05,August,2004
Name: date, dtype: object
799      17,July,2004
799    05,August,2004
Name: date, dtype: object
800      16,July,2004
800    05,August,2004
Name: date, dtype: object
801      16,July,2004
801    05,August,2004
Name: date, dtype: object
802      14,July,2004
802    05,August,2004
Name: date, dtype: object
803      13,July,2004
803    05,August,2004
Name: date, dtype: object
804      12,July,2004
804    05,August,2004
Name: date, dtype: object
805      12,July,2004
805    05,August,2004
Name: date, dtype: object
806      12,July,2004
806    05,August,2004
Name: date, dtype: object
807      11,July,2004
807    05,August,2004
Name: date, dtype: object
808      11,July,2004
808    05,August,2004
Name: date, dtype: object
809      10,July,2004
809    05,August,2004
Name: date, dtype: object
810      10,July,2004
810    05,August,2004
Name: date, dtype: object
811      10,July,2004
811    05,August,2004
Name: date, dtype: object
812      10,July,2004
812    05,August,2004
Name: date, dtype: object
813    14,August,2004
813    05,August,2004
Name: date, dtype: object
814    11,August,2004
814    05,August,2004
Name: date, dtype: object
815    07,August,2004
815    05,August,2004
Name: date, dtype: object
816    06,August,2004
816    05,August,2004
Name: date, dtype: object
817    04,August,2004
817    05,August,2004
Name: date, dtype: object
818    02,August,2004
818    05,August,2004
Name: date, dtype: object
819    01,August,2004
819    05,August,2004
Name: date, dtype: object
820    19,August,2004
820    05,August,2004
Name: date, dtype: object
821    10,August,2004
821    05,August,2004
Name: date, dtype: object
822    09,August,2004
822    05,August,2004
Name: date, dtype: object
823    02,August,2004
823    05,August,2004
Name: date, dtype: object
824      29,July,2004
824    05,August,2004
Name: date, dtype: object
825      26,July,2004
825    05,August,2004
Name: date, dtype: object
826      24,July,2004
826    05,August,2004
Name: date, dtype: object
827      19,July,2004
827    05,August,2004
Name: date, dtype: object
828      16,July,2004
828    05,August,2004
Name: date, dtype: object
829      13,July,2004
829    05,August,2004
Name: date, dtype: object
830      12,July,2004
830    05,August,2004
Name: date, dtype: object
831      11,July,2004
831    05,August,2004
Name: date, dtype: object
832      07,July,2004
832    05,August,2004
Name: date, dtype: object
833      06,July,2004
833    05,August,2004
Name: date, dtype: object
834      05,July,2004
834    05,August,2004
Name: date, dtype: object
835      04,July,2004
835    05,August,2004
Name: date, dtype: object
836      02,July,2004
836    05,August,2004
Name: date, dtype: object
837    12,August,2004
837    05,August,2004
Name: date, dtype: object
838    08,August,2004
838    05,August,2004
Name: date, dtype: object
839    03,August,2004
839    05,August,2004
Name: date, dtype: object
840    02,August,2004
840    05,August,2004
Name: date, dtype: object
841      20,June,2004
841    05,August,2004
Name: date, dtype: object
842      17,June,2004
842    05,August,2004
Name: date, dtype: object
843      16,June,2004
843    05,August,2004
Name: date, dtype: object
844      15,June,2004
844    05,August,2004
Name: date, dtype: object
845      14,June,2004
845    05,August,2004
Name: date, dtype: object
846      13,June,2004
846    05,August,2004
Name: date, dtype: object
847      12,June,2004
847    05,August,2004
Name: date, dtype: object
848      12,June,2004
848    05,August,2004
Name: date, dtype: object
849      11,June,2004
849    05,August,2004
Name: date, dtype: object
850      10,June,2004
850    05,August,2004
Name: date, dtype: object
851      10,June,2004
851    05,August,2004
Name: date, dtype: object
852      10,June,2004
852    05,August,2004
Name: date, dtype: object
853      10,June,2004
853    05,August,2004
Name: date, dtype: object
854      09,June,2004
854    05,August,2004
Name: date, dtype: object
855      09,June,2004
855    05,August,2004
Name: date, dtype: object
856      08,June,2004
856    05,August,2004
Name: date, dtype: object
857      08,June,2004
857    05,August,2004
Name: date, dtype: object
858      08,June,2004
858    05,August,2004
Name: date, dtype: object
859      08,June,2004
859    05,August,2004
Name: date, dtype: object
860      07,June,2004
860    05,August,2004
Name: date, dtype: object
861      07,June,2004
861    05,August,2004
Name: date, dtype: object
862      07,June,2004
862    05,August,2004
Name: date, dtype: object
863      07,June,2004
863    05,August,2004
Name: date, dtype: object
864      06,June,2004
864    05,August,2004
Name: date, dtype: object
865      06,June,2004
865    05,August,2004
Name: date, dtype: object
866      06,June,2004
866    05,August,2004
Name: date, dtype: object
867      05,June,2004
867    05,August,2004
Name: date, dtype: object
868      05,June,2004
868    05,August,2004
Name: date, dtype: object
869      05,June,2004
869    05,August,2004
Name: date, dtype: object
870      05,June,2004
870    05,August,2004
Name: date, dtype: object
871      05,June,2004
871    05,August,2004
Name: date, dtype: object
872      05,June,2004
872    05,August,2004
Name: date, dtype: object
873      04,June,2004
873    05,August,2004
Name: date, dtype: object
874      04,June,2004
874    05,August,2004
Name: date, dtype: object
875      04,June,2004
875    05,August,2004
Name: date, dtype: object
876      04,June,2004
876    05,August,2004
Name: date, dtype: object
877      04,June,2004
877    05,August,2004
Name: date, dtype: object
878      04,June,2004
878    05,August,2004
Name: date, dtype: object
879      04,June,2004
879    05,August,2004
Name: date, dtype: object
880      04,June,2004
880    05,August,2004
Name: date, dtype: object
881      04,June,2004
881    05,August,2004
Name: date, dtype: object
882      04,June,2004
882    05,August,2004
Name: date, dtype: object
883      19,June,2004
883    05,August,2004
Name: date, dtype: object
884      17,June,2004
884    05,August,2004
Name: date, dtype: object
885      17,June,2004
885    05,August,2004
Name: date, dtype: object
886    13,August,2004
886    05,August,2004
Name: date, dtype: object
887    01,August,2004
887    05,August,2004
Name: date, dtype: object
888    01,August,2004
888    05,August,2004
Name: date, dtype: object
889       19,May,2004
889    05,August,2004
Name: date, dtype: object
890       19,May,2004
890    05,August,2004
Name: date, dtype: object
891       19,May,2004
891    05,August,2004
Name: date, dtype: object
892       19,May,2004
892    05,August,2004
Name: date, dtype: object
893       19,May,2004
893    05,August,2004
Name: date, dtype: object
894       19,May,2004
894    05,August,2004
Name: date, dtype: object
895       19,May,2004
895    05,August,2004
Name: date, dtype: object
896      29,July,2004
896    05,August,2004
Name: date, dtype: object
897      26,July,2004
897    05,August,2004
Name: date, dtype: object
898      22,July,2004
898    05,August,2004
Name: date, dtype: object
899      22,July,2004
899    05,August,2004
Name: date, dtype: object
900      20,July,2004
900    05,August,2004
Name: date, dtype: object
901      15,July,2004
901    05,August,2004
Name: date, dtype: object
902    17,August,2004
902    05,August,2004
Name: date, dtype: object
903    16,August,2004
903    05,August,2004
Name: date, dtype: object
904    12,August,2004
904    05,August,2004
Name: date, dtype: object
905    05,August,2004
905    05,August,2004
Name: date, dtype: object
906    01,August,2003
906    05,August,2004
Name: date, dtype: object
907    04,August,2003
907    05,August,2004
Name: date, dtype: object
908    14,October,2003
908     05,August,2004
Name: date, dtype: object
909    14,October,2003
909     05,August,2004
Name: date, dtype: object
910    14,October,2003
910     05,August,2004
Name: date, dtype: object
911    21,October,2003
911     05,August,2004
Name: date, dtype: object
912    20,October,2003
912     05,August,2004
Name: date, dtype: object
913    15,December,2003
913      05,August,2004
Name: date, dtype: object
914       28,May,2004
914    05,August,2004
Name: date, dtype: object
915       27,May,2004
915    05,August,2004
Name: date, dtype: object
916       25,May,2004
916    05,August,2004
Name: date, dtype: object
917       25,May,2004
917    05,August,2004
Name: date, dtype: object
918       24,May,2004
918    05,August,2004
Name: date, dtype: object

919      03,June,2004
919    05,August,2004
Name: date, dtype: object
920      01,June,2004
920    05,August,2004
Name: date, dtype: object
921      09,June,2004
921    05,August,2004
Name: date, dtype: object
922      08,June,2004
922    05,August,2004
Name: date, dtype: object
923      17,June,2004
923    05,August,2004
Name: date, dtype: object
924      25,June,2004
924    05,August,2004
Name: date, dtype: object
925      06,July,2004
925    05,August,2004
Name: date, dtype: object
926      20,July,2004
926    05,August,2004
Name: date, dtype: object
927      28,July,2004
927    05,August,2004
Name: date, dtype: object
928       11,May,2004
928    05,August,2004
Name: date, dtype: object
929       11,May,2004
929    05,August,2004
Name: date, dtype: object
930       11,May,2004
930    05,August,2004
Name: date, dtype: object
931       11,May,2004
931    05,August,2004
Name: date, dtype: object
932       11,May,2004
932    05,August,2004
Name: date, dtype: object
933       11,May,2004
933    05,August,2004
Name: date, dtype: object
934       11,May,2004
934    05,August,2004
Name: date, dtype: object
935       11,May,2004
935    05,August,2004
Name: date, dtype: object
936       11,May,2004
936    05,August,2004
Name: date, dtype: object
937       11,May,2004
937    05,August,2004
Name: date, dtype: object
938       11,May,2004
938    05,August,2004
Name: date, dtype: object
939       11,May,2004
939    05,August,2004
Name: date, dtype: object
940       11,May,2004
940    05,August,2004
Name: date, dtype: object
941       11,May,2004
941    05,August,2004
Name: date, dtype: object
942       11,May,2004
942    05,August,2004
Name: date, dtype: object
943       11,May,2004
943    05,August,2004
Name: date, dtype: object
944       11,May,2004
944    05,August,2004
Name: date, dtype: object
945       11,May,2004
945    05,August,2004
Name: date, dtype: object
946      22,July,2004
946    05,August,2004
Name: date, dtype: object
947      20,July,2004
947    05,August,2004
Name: date, dtype: object
948      20,July,2004
948    05,August,2004
Name: date, dtype: object
949      20,July,2004
949    05,August,2004
Name: date, dtype: object
950      19,July,2004
950    05,August,2004
Name: date, dtype: object
951      17,July,2004
951    05,August,2004
Name: date, dtype: object
952      16,July,2004
952    05,August,2004
Name: date, dtype: object
953      14,July,2004
953    05,August,2004
Name: date, dtype: object
954      13,July,2004
954    05,August,2004
Name: date, dtype: object
955      13,July,2004
955    05,August,2004
Name: date, dtype: object
956      13,July,2004
956    05,August,2004
Name: date, dtype: object
957      13,July,2004
957    05,August,2004
Name: date, dtype: object
958    12,August,2004
958    05,August,2004
Name: date, dtype: object
959    09,August,2004
959    05,August,2004
Name: date, dtype: object
960    09,August,2004
960    05,August,2004
Name: date, dtype: object
961    04,August,2004
961    05,August,2004
Name: date, dtype: object
962    22,August,2004
962    05,August,2004
Name: date, dtype: object
963    22,August,2004
963    05,August,2004
Name: date, dtype: object
964    22,August,2004
964    05,August,2004
Name: date, dtype: object
965    22,August,2004
965    05,August,2004
Name: date, dtype: object
966    22,August,2004
966    05,August,2004
Name: date, dtype: object
967    22,August,2004
967    05,August,2004
Name: date, dtype: object
968    22,August,2004
968    05,August,2004
Name: date, dtype: object
969    01,August,2004
969    05,August,2004
Name: date, dtype: object
970    01,August,2004
970    05,August,2004
Name: date, dtype: object
971    01,August,2004
971    05,August,2004
Name: date, dtype: object
972    01,August,2004
972    05,August,2004
Name: date, dtype: object
973    01,August,2004
973    05,August,2004
Name: date, dtype: object
974    01,August,2004
974    05,August,2004
Name: date, dtype: object
975    01,August,2004
975    05,August,2004
Name: date, dtype: object
976    01,August,2004
976    05,August,2004
Name: date, dtype: object
977    01,August,2004
977    05,August,2004
Name: date, dtype: object
978    01,August,2004
978    05,August,2004
Name: date, dtype: object
979    01,August,2004
979    05,August,2004
Name: date, dtype: object
980    01,August,2004
980    05,August,2004
Name: date, dtype: object
981    01,August,2004
981    05,August,2004
Name: date, dtype: object
982    01,August,2004
982    05,August,2004
Name: date, dtype: object
983    01,August,2004
983    05,August,2004
Name: date, dtype: object
984    01,August,2004
984    05,August,2004
Name: date, dtype: object
985    01,August,2004
985    05,August,2004
Name: date, dtype: object
986    01,August,2004
986    05,August,2004
Name: date, dtype: object
987    01,August,2004
987    05,August,2004
Name: date, dtype: object
988    01,August,2004
988    05,August,2004
Name: date, dtype: object
989    01,August,2004
989    05,August,2004
Name: date, dtype: object
990    01,August,2004
990    05,August,2004
Name: date, dtype: object
991    01,August,2004
991    05,August,2004
Name: date, dtype: object
992    01,August,2004
992    05,August,2004
Name: date, dtype: object
993    01,August,2004
993    05,August,2004
Name: date, dtype: object
994    01,August,2004
994    05,August,2004
Name: date, dtype: object
995    01,August,2004
995    05,August,2004
Name: date, dtype: object
996    01,August,2004
996    05,August,2004
Name: date, dtype: object
997    01,August,2004
997    05,August,2004
Name: date, dtype: object
998    02,August,2004
998    05,August,2004
Name: date, dtype: object
999    02,August,2004
999    05,August,2004
Name: date, dtype: object
1000      30,July,2002
1000    05,August,2004
Name: date, dtype: object
1001      29,July,2002
1001    05,August,2004
Name: date, dtype: object
1002      26,July,2002
1002    05,August,2004
Name: date, dtype: object
1003      25,July,2002
1003    05,August,2004
Name: date, dtype: object
1004      24,July,2002
1004    05,August,2004
Name: date, dtype: object
1005    30,August,2002
1005    05,August,2004
Name: date, dtype: object
1006    29,August,2002
1006    05,August,2004
Name: date, dtype: object
1007    28,August,2002
1007    05,August,2004
Name: date, dtype: object
1008    28,August,2002
1008    05,August,2004
Name: date, dtype: object
1009    26,August,2002
1009    05,August,2004
Name: date, dtype: object
1010    26,August,2002
1010    05,August,2004
Name: date, dtype: object
1011    23,August,2002
1011    05,August,2004
Name: date, dtype: object
1012    23,August,2002
1012    05,August,2004
Name: date, dtype: object
1013    23,August,2002
1013    05,August,2004
Name: date, dtype: object
1014    22,August,2002
1014    05,August,2004
Name: date, dtype: object
1015    22,August,2002
1015    05,August,2004
Name: date, dtype: object
1016    22,August,2002
1016    05,August,2004
Name: date, dtype: object
1017    21,August,2002
1017    05,August,2004
Name: date, dtype: object
1018    19,August,2002
1018    05,August,2004
Name: date, dtype: object
1019    19,August,2002
1019    05,August,2004
Name: date, dtype: object
1020    19,August,2002
1020    05,August,2004
Name: date, dtype: object
1021    19,August,2002
1021    05,August,2004
Name: date, dtype: object
1022    16,August,2002
1022    05,August,2004
Name: date, dtype: object
1023    16,August,2002
1023    05,August,2004
Name: date, dtype: object
1024    15,August,2002
1024    05,August,2004
Name: date, dtype: object
1025    15,August,2002
1025    05,August,2004
Name: date, dtype: object
1026    13,August,2002
1026    05,August,2004
Name: date, dtype: object
1027    13,August,2002
1027    05,August,2004
Name: date, dtype: object
1028    13,August,2002
1028    05,August,2004
Name: date, dtype: object
1029    12,August,2002
1029    05,August,2004
Name: date, dtype: object
1030    09,August,2002
1030    05,August,2004
Name: date, dtype: object
1031    08,August,2002
1031    05,August,2004
Name: date, dtype: object
1032    06,August,2002
1032    05,August,2004
Name: date, dtype: object
1033    02,August,2002
1033    05,August,2004
Name: date, dtype: object
1034    01,August,2002
1034    05,August,2004
Name: date, dtype: object
1035    01,August,2002
1035    05,August,2004
Name: date, dtype: object
1036    01,August,2002
1036    05,August,2004
Name: date, dtype: object
1037    30,September,2002
1037       05,August,2004
Name: date, dtype: object
1038    27,September,2002
1038       05,August,2004
Name: date, dtype: object
1039    24,September,2002
1039       05,August,2004
Name: date, dtype: object
1040    24,September,2002
1040       05,August,2004
Name: date, dtype: object
1041    24,September,2002
1041       05,August,2004
Name: date, dtype: object
1042    23,September,2002
1042       05,August,2004
Name: date, dtype: object
1043    20,September,2002
1043       05,August,2004
Name: date, dtype: object
1044    18,September,2002
1044       05,August,2004
Name: date, dtype: object
1045    16,September,2002
1045       05,August,2004
Name: date, dtype: object
1046    16,September,2002
1046       05,August,2004
Name: date, dtype: object

1047    14,September,2002
1047       05,August,2004
Name: date, dtype: object
1048    11,September,2002
1048       05,August,2004
Name: date, dtype: object
1049    06,September,2002
1049       05,August,2004
Name: date, dtype: object
1050    06,September,2002
1050       05,August,2004
Name: date, dtype: object
1051    04,September,2002
1051       05,August,2004
Name: date, dtype: object
1052    03,September,2002
1052       05,August,2004
Name: date, dtype: object
1053    03,September,2002
1053       05,August,2004
Name: date, dtype: object
1054    03,September,2002
1054       05,August,2004
Name: date, dtype: object
1055    03,September,2002
1055       05,August,2004
Name: date, dtype: object
1056    03,September,2002
1056       05,August,2004
Name: date, dtype: object
1057    31,October,2002
1057     05,August,2004
Name: date, dtype: object
1058    29,October,2002
1058     05,August,2004
Name: date, dtype: object
1059    28,October,2002
1059     05,August,2004
Name: date, dtype: object
1060    28,October,2002
1060     05,August,2004
Name: date, dtype: object
1061    25,October,2002
1061     05,August,2004
Name: date, dtype: object
1062    24,October,2002
1062     05,August,2004
Name: date, dtype: object
1063    23,October,2002
1063     05,August,2004
Name: date, dtype: object
1064    23,October,2002
1064     05,August,2004
Name: date, dtype: object
1065    22,October,2002
1065     05,August,2004
Name: date, dtype: object
1066    22,October,2002
1066     05,August,2004
Name: date, dtype: object
1067    21,October,2002
1067     05,August,2004
Name: date, dtype: object
1068    18,October,2002
1068     05,August,2004
Name: date, dtype: object
1069    17,October,2002
1069     05,August,2004
Name: date, dtype: object
1070    17,October,2002
1070     05,August,2004
Name: date, dtype: object
1071    15,October,2002
1071     05,August,2004
Name: date, dtype: object
1072    14,October,2002
1072     05,August,2004
Name: date, dtype: object
1073    11,October,2002
1073     05,August,2004
Name: date, dtype: object
1074    10,October,2002
1074     05,August,2004
Name: date, dtype: object
1075    09,October,2002
1075     05,August,2004
Name: date, dtype: object
1076    08,October,2002
1076     05,August,2004
Name: date, dtype: object
1077    08,October,2002
1077     05,August,2004
Name: date, dtype: object
1078    07,October,2002
1078     05,August,2004
Name: date, dtype: object
1079    07,October,2002
1079     05,August,2004
Name: date, dtype: object
1080    05,October,2002
1080     05,August,2004
Name: date, dtype: object
1081    02,October,2002
1081     05,August,2004
Name: date, dtype: object
1082    01,October,2002
1082     05,August,2004
Name: date, dtype: object
1083    29,November,2002
1083      05,August,2004
Name: date, dtype: object
1084    27,November,2002
1084      05,August,2004
Name: date, dtype: object
1085    27,November,2002
1085      05,August,2004
Name: date, dtype: object
1086    26,November,2002
1086      05,August,2004
Name: date, dtype: object
1087    26,November,2002
1087      05,August,2004
Name: date, dtype: object
1088    25,November,2002
1088      05,August,2004
Name: date, dtype: object
1089    22,November,2002
1089      05,August,2004
Name: date, dtype: object
1090    21,November,2002
1090      05,August,2004
Name: date, dtype: object
1091    20,November,2002
1091      05,August,2004
Name: date, dtype: object
1092    20,November,2002
1092      05,August,2004
Name: date, dtype: object
1093    20,November,2002
1093      05,August,2004
Name: date, dtype: object
1094    19,November,2002
1094      05,August,2004
Name: date, dtype: object
1095    18,November,2002
1095      05,August,2004
Name: date, dtype: object
1096    15,November,2002
1096      05,August,2004
Name: date, dtype: object
1097    14,November,2002
1097      05,August,2004
Name: date, dtype: object
1098    09,November,2002
1098      05,August,2004
Name: date, dtype: object
1099    07,November,2002
1099      05,August,2004
Name: date, dtype: object
1100    07,November,2002
1100      05,August,2004
Name: date, dtype: object
1101    07,November,2002
1101      05,August,2004
Name: date, dtype: object
1102    06,November,2002
1102      05,August,2004
Name: date, dtype: object
1103    06,November,2002
1103      05,August,2004
Name: date, dtype: object
1104    06,November,2002
1104      05,August,2004
Name: date, dtype: object
1105    06,November,2002
1105      05,August,2004
Name: date, dtype: object
1106    05,November,2002
1106      05,August,2004
Name: date, dtype: object
1107    05,November,2002
1107      05,August,2004
Name: date, dtype: object
1108    31,December,2002
1108      05,August,2004
Name: date, dtype: object
1109    30,December,2002
1109      05,August,2004
Name: date, dtype: object
1110    30,December,2002
1110      05,August,2004
Name: date, dtype: object
1111    27,December,2002
1111      05,August,2004
Name: date, dtype: object
1112    26,December,2002
1112      05,August,2004
Name: date, dtype: object
1113    23,December,2002
1113      05,August,2004
Name: date, dtype: object
1114    20,December,2002
1114      05,August,2004
Name: date, dtype: object
1115    20,December,2002
1115      05,August,2004
Name: date, dtype: object
1116    18,December,2002
1116      05,August,2004
Name: date, dtype: object
1117    17,December,2002
1117      05,August,2004
Name: date, dtype: object
1118    17,December,2002
1118      05,August,2004
Name: date, dtype: object
1119    16,December,2002
1119      05,August,2004
Name: date, dtype: object
1120    16,December,2002
1120      05,August,2004
Name: date, dtype: object
1121    16,December,2002
1121      05,August,2004
Name: date, dtype: object
1122    12,December,2002
1122      05,August,2004
Name: date, dtype: object
1123    11,December,2002
1123      05,August,2004
Name: date, dtype: object
1124    09,December,2002
1124      05,August,2004
Name: date, dtype: object
1125    09,December,2002
1125      05,August,2004
Name: date, dtype: object
1126    09,December,2002
1126      05,August,2004
Name: date, dtype: object
1127    07,December,2002
1127      05,August,2004
Name: date, dtype: object
1128    05,December,2002
1128      05,August,2004
Name: date, dtype: object
1129    04,December,2002
1129      05,August,2004
Name: date, dtype: object
1130    03,December,2002
1130      05,August,2004
Name: date, dtype: object
1131    03,December,2002
1131      05,August,2004
Name: date, dtype: object
1132    02,December,2002
1132      05,August,2004
Name: date, dtype: object
1133    02,December,2002
1133      05,August,2004
Name: date, dtype: object
1134    02,December,2002
1134      05,August,2004
Name: date, dtype: object
1135    31,January,2003
1135     05,August,2004
Name: date, dtype: object
1136    30,January,2003
1136     05,August,2004
Name: date, dtype: object
1137    29,January,2003
1137     05,August,2004
Name: date, dtype: object
1138    28,January,2003
1138     05,August,2004
Name: date, dtype: object
1139    27,January,2003
1139     05,August,2004
Name: date, dtype: object
1140    27,January,2003
1140     05,August,2004
Name: date, dtype: object
1141    24,January,2003
1141     05,August,2004
Name: date, dtype: object
1142    23,January,2003
1142     05,August,2004
Name: date, dtype: object
1143    23,January,2003
1143     05,August,2004
Name: date, dtype: object
1144    22,January,2003
1144     05,August,2004
Name: date, dtype: object
1145    22,January,2003
1145     05,August,2004
Name: date, dtype: object
1146    22,January,2003
1146     05,August,2004
Name: date, dtype: object
1147    21,January,2003
1147     05,August,2004
Name: date, dtype: object
1148    21,January,2003
1148     05,August,2004
Name: date, dtype: object
1149    20,January,2003
1149     05,August,2004
Name: date, dtype: object
1150    18,January,2003
1150     05,August,2004
Name: date, dtype: object
1151    17,January,2003
1151     05,August,2004
Name: date, dtype: object
1152    17,January,2003
1152     05,August,2004
Name: date, dtype: object
1153    16,January,2003
1153     05,August,2004
Name: date, dtype: object
1154    16,January,2003
1154     05,August,2004
Name: date, dtype: object
1155    15,January,2003
1155     05,August,2004
Name: date, dtype: object
1156    14,January,2003
1156     05,August,2004
Name: date, dtype: object
1157    13,January,2003
1157     05,August,2004
Name: date, dtype: object
1158    11,January,2003
1158     05,August,2004
Name: date, dtype: object
1159    11,January,2003
1159     05,August,2004
Name: date, dtype: object
1160    11,January,2003
1160     05,August,2004
Name: date, dtype: object
1161    11,January,2003
1161     05,August,2004
Name: date, dtype: object
1162    11,January,2003
1162     05,August,2004
Name: date, dtype: object
1163    10,January,2003
1163     05,August,2004
Name: date, dtype: object
1164    10,January,2003
1164     05,August,2004

Name: date, dtype: object
1165    09,January,2003
1165     05,August,2004
Name: date, dtype: object
1166    09,January,2003
1166     05,August,2004
Name: date, dtype: object
1167    09,January,2003
1167     05,August,2004
Name: date, dtype: object
1168    08,January,2003
1168     05,August,2004
Name: date, dtype: object
1169    08,January,2003
1169     05,August,2004
Name: date, dtype: object
1170    07,January,2003
1170     05,August,2004
Name: date, dtype: object
1171    06,January,2003
1171     05,August,2004
Name: date, dtype: object
1172    05,January,2003
1172     05,August,2004
Name: date, dtype: object
1173    05,January,2003
1173     05,August,2004
Name: date, dtype: object
1174    05,January,2003
1174     05,August,2004
Name: date, dtype: object
1175    03,January,2003
1175     05,August,2004
Name: date, dtype: object
1176    02,January,2003
1176     05,August,2004
Name: date, dtype: object
1177    02,January,2003
1177     05,August,2004
Name: date, dtype: object
1178    02,January,2003
1178     05,August,2004
Name: date, dtype: object
1179    02,January,2003
1179     05,August,2004
Name: date, dtype: object
1180    28,February,2003
1180      05,August,2004
Name: date, dtype: object
1181    26,February,2003
1181      05,August,2004
Name: date, dtype: object
1182    25,February,2003
1182      05,August,2004
Name: date, dtype: object
1183    21,February,2003
1183      05,August,2004
Name: date, dtype: object
1184    21,February,2003
1184      05,August,2004
Name: date, dtype: object
1185    20,February,2003
1185      05,August,2004
Name: date, dtype: object
1186    17,February,2003
1186      05,August,2004
Name: date, dtype: object
1187    14,February,2003
1187      05,August,2004
Name: date, dtype: object
1188    14,February,2003
1188      05,August,2004
Name: date, dtype: object
1189    13,February,2003
1189      05,August,2004
Name: date, dtype: object
1190    12,February,2003
1190      05,August,2004
Name: date, dtype: object
1191    12,February,2003
1191      05,August,2004
Name: date, dtype: object
1192    12,February,2003
1192      05,August,2004
Name: date, dtype: object
1193    11,February,2003
1193      05,August,2004
Name: date, dtype: object
1194    11,February,2003
1194      05,August,2004
Name: date, dtype: object
1195    10,February,2003
1195      05,August,2004
Name: date, dtype: object
1196    10,February,2003
1196      05,August,2004
Name: date, dtype: object
1197    07,February,2003
1197      05,August,2004
Name: date, dtype: object
1198    07,February,2003
1198      05,August,2004
Name: date, dtype: object
1199    07,February,2003
1199      05,August,2004
Name: date, dtype: object
1200    06,February,2003
1200      05,August,2004
Name: date, dtype: object
1201    04,February,2003
1201      05,August,2004
Name: date, dtype: object
1202    04,February,2003
1202      05,August,2004
Name: date, dtype: object
1203    03,February,2003
1203      05,August,2004
Name: date, dtype: object
1204    03,February,2003
1204      05,August,2004
Name: date, dtype: object
1205    03,February,2003
1205      05,August,2004
Name: date, dtype: object
1206     31,March,2003
1206    05,August,2004
Name: date, dtype: object
1207     27,March,2003
1207    05,August,2004
Name: date, dtype: object
1208     27,March,2003
1208    05,August,2004
Name: date, dtype: object
1209     26,March,2003
1209    05,August,2004
Name: date, dtype: object
1210     25,March,2003
1210    05,August,2004
Name: date, dtype: object
1211     25,March,2003
1211    05,August,2004
Name: date, dtype: object
1212     24,March,2003
1212    05,August,2004
Name: date, dtype: object
1213     21,March,2003
1213    05,August,2004
Name: date, dtype: object
1214     21,March,2003
1214    05,August,2004
Name: date, dtype: object
1215     19,March,2003
1215    05,August,2004
Name: date, dtype: object
1216     17,March,2003
1216    05,August,2004
Name: date, dtype: object
1217     17,March,2003
1217    05,August,2004
Name: date, dtype: object
1218     15,March,2003
1218    05,August,2004
Name: date, dtype: object
1219     15,March,2003
1219    05,August,2004
Name: date, dtype: object
1220     14,March,2003
1220    05,August,2004
Name: date, dtype: object
1221     12,March,2003
1221    05,August,2004
Name: date, dtype: object
1222     11,March,2003
1222    05,August,2004
Name: date, dtype: object
1223     10,March,2003
1223    05,August,2004
Name: date, dtype: object
1224     07,March,2003
1224    05,August,2004
Name: date, dtype: object
1225     06,March,2003
1225    05,August,2004
Name: date, dtype: object
1226     06,March,2003
1226    05,August,2004
Name: date, dtype: object
1227     05,March,2003
1227    05,August,2004
Name: date, dtype: object
1228     05,March,2003
1228    05,August,2004
Name: date, dtype: object
1229     04,March,2003
1229    05,August,2004
Name: date, dtype: object
1230     03,March,2003
1230    05,August,2004
Name: date, dtype: object
1231     03,March,2003
1231    05,August,2004
Name: date, dtype: object
1232     03,March,2003
1232    05,August,2004
Name: date, dtype: object
1233     30,April,2003
1233    05,August,2004
Name: date, dtype: object
1234     29,April,2003
1234    05,August,2004
Name: date, dtype: object
1235     29,April,2003
1235    05,August,2004
Name: date, dtype: object
1236     29,April,2003
1236    05,August,2004
Name: date, dtype: object
1237     28,April,2003
1237    05,August,2004
Name: date, dtype: object
1238     28,April,2003
1238    05,August,2004
Name: date, dtype: object
1239     25,April,2003
1239    05,August,2004
Name: date, dtype: object
1240     25,April,2003
1240    05,August,2004
Name: date, dtype: object
1241     24,April,2003
1241    05,August,2004
Name: date, dtype: object
1242     24,April,2003
1242    05,August,2004
Name: date, dtype: object
1243     23,April,2003
1243    05,August,2004
Name: date, dtype: object
1244     23,April,2003
1244    05,August,2004
Name: date, dtype: object
1245     23,April,2003
1245    05,August,2004
Name: date, dtype: object
1246     22,April,2003
1246    05,August,2004
Name: date, dtype: object
1247     22,April,2003
1247    05,August,2004
Name: date, dtype: object
1248     22,April,2003
1248    05,August,2004
Name: date, dtype: object
1249     22,April,2003
1249    05,August,2004
Name: date, dtype: object
1250     21,April,2003
1250    05,August,2004
Name: date, dtype: object
1251     21,April,2003
1251    05,August,2004
Name: date, dtype: object
1252     18,April,2003
1252    05,August,2004
Name: date, dtype: object
1253     18,April,2003
1253    05,August,2004
Name: date, dtype: object
1254     16,April,2003
1254    05,August,2004
Name: date, dtype: object
1255     16,April,2003
1255    05,August,2004
Name: date, dtype: object
1256     16,April,2003
1256    05,August,2004
Name: date, dtype: object
1257     16,April,2003
1257    05,August,2004
Name: date, dtype: object
1258     16,April,2003
1258    05,August,2004
Name: date, dtype: object
1259     15,April,2003
1259    05,August,2004
Name: date, dtype: object
1260     15,April,2003
1260    05,August,2004
Name: date, dtype: object
1261     15,April,2003
1261    05,August,2004
Name: date, dtype: object
1262     14,April,2003
1262    05,August,2004
Name: date, dtype: object
1263     14,April,2003
1263    05,August,2004
Name: date, dtype: object
1264     11,April,2003
1264    05,August,2004
Name: date, dtype: object
1265     10,April,2003
1265    05,August,2004
Name: date, dtype: object
1266     10,April,2003
1266    05,August,2004
Name: date, dtype: object
1267     09,April,2003
1267    05,August,2004
Name: date, dtype: object
1268     09,April,2003
1268    05,August,2004
Name: date, dtype: object
1269     08,April,2003
1269    05,August,2004
Name: date, dtype: object
1270     08,April,2003
1270    05,August,2004
Name: date, dtype: object
1271     07,April,2003
1271    05,August,2004
Name: date, dtype: object
1272     03,April,2003
1272    05,August,2004
Name: date, dtype: object
1273     02,April,2003
1273    05,August,2004
Name: date, dtype: object
1274     01,April,2003
1274    05,August,2004
Name: date, dtype: object
1275     01,April,2003
1275    05,August,2004
Name: date, dtype: object
1276     01,April,2003
1276    05,August,2004
Name: date, dtype: object
1277       30,May,2003
1277    05,August,2004
Name: date, dtype: object
1278       29,May,2003
1278    05,August,2004
Name: date, dtype: object
1279       28,May,2003
1279    05,August,2004
Name: date, dtype: object
1280       27,May,2003
1280    05,August,2004
Name: date, dtype: object
1281       27,May,2003
1281    05,August,2004
Name: date, dtype: object
1282       23,May,2003
1282    05,August,2004
Name: date, dtype: object
1283       22,May,2003
1283    05,August,2004
Name: date, dtype: object
1284       22,May,2003
1284    05,August,2004
Name: date, dtype: object
1285       20,May,2003
1285    05,August,2004
Name: date, dtype: object
1286       20,May,2003
1286    05,August,2004
Name: date, dtype: object
1287       20,May,2003
1287    05,August,2004
Name: date, dtype: object
1288       19,May,2003
1288    05,August,2004

Name: date, dtype: object
1289       16,May,2003
1289    05,August,2004
Name: date, dtype: object
1290       16,May,2003
1290    05,August,2004
Name: date, dtype: object
1291       16,May,2003
1291    05,August,2004
Name: date, dtype: object
1292       15,May,2003
1292    05,August,2004
Name: date, dtype: object
1293       14,May,2003
1293    05,August,2004
Name: date, dtype: object
1294       13,May,2003
1294    05,August,2004
Name: date, dtype: object
1295       13,May,2003
1295    05,August,2004
Name: date, dtype: object
1296       13,May,2003
1296    05,August,2004
Name: date, dtype: object
1297       12,May,2003
1297    05,August,2004
Name: date, dtype: object
1298       12,May,2003
1298    05,August,2004
Name: date, dtype: object
1299       09,May,2003
1299    05,August,2004
Name: date, dtype: object
1300       08,May,2003
1300    05,August,2004
Name: date, dtype: object
1301       07,May,2003
1301    05,August,2004
Name: date, dtype: object
1302       06,May,2003
1302    05,August,2004
Name: date, dtype: object
1303       06,May,2003
1303    05,August,2004
Name: date, dtype: object
1304       05,May,2003
1304    05,August,2004
Name: date, dtype: object
1305       05,May,2003
1305    05,August,2004
Name: date, dtype: object
1306       02,May,2003
1306    05,August,2004
Name: date, dtype: object
1307       01,May,2003
1307    05,August,2004
Name: date, dtype: object
1308       01,May,2003
1308    05,August,2004
Name: date, dtype: object
1309      30,June,2003
1309    05,August,2004
Name: date, dtype: object
1310      27,June,2003
1310    05,August,2004
Name: date, dtype: object
1311      26,June,2003
1311    05,August,2004
Name: date, dtype: object
1312      26,June,2003
1312    05,August,2004
Name: date, dtype: object
1313      25,June,2003
1313    05,August,2004
Name: date, dtype: object
1314      24,June,2003
1314    05,August,2004
Name: date, dtype: object
1315      24,June,2003
1315    05,August,2004
Name: date, dtype: object
1316      23,June,2003
1316    05,August,2004
Name: date, dtype: object
1317      20,June,2003
1317    05,August,2004
Name: date, dtype: object
1318      20,June,2003
1318    05,August,2004
Name: date, dtype: object
1319      18,June,2003
1319    05,August,2004
Name: date, dtype: object
1320      18,June,2003
1320    05,August,2004
Name: date, dtype: object
1321      17,June,2003
1321    05,August,2004
Name: date, dtype: object
1322      17,June,2003
1322    05,August,2004
Name: date, dtype: object
1323      13,June,2003
1323    05,August,2004
Name: date, dtype: object
1324      12,June,2003
1324    05,August,2004
Name: date, dtype: object
1325      11,June,2003
1325    05,August,2004
Name: date, dtype: object
1326      11,June,2003
1326    05,August,2004
Name: date, dtype: object
1327      10,June,2003
1327    05,August,2004
Name: date, dtype: object
1328      06,June,2003
1328    05,August,2004
Name: date, dtype: object
1329      06,June,2003
1329    05,August,2004
Name: date, dtype: object
1330      05,June,2003
1330    05,August,2004
Name: date, dtype: object
1331      05,June,2003
1331    05,August,2004
Name: date, dtype: object
1332      04,June,2003
1332    05,August,2004
Name: date, dtype: object
1333      03,June,2003
1333    05,August,2004
Name: date, dtype: object
1334      03,June,2003
1334    05,August,2004
Name: date, dtype: object
1335      29,July,2003
1335    05,August,2004
Name: date, dtype: object
1336      24,July,2003
1336    05,August,2004
Name: date, dtype: object
1337      22,July,2003
1337    05,August,2004
Name: date, dtype: object
1338      20,July,2003
1338    05,August,2004
Name: date, dtype: object
1339      19,July,2003
1339    05,August,2004
Name: date, dtype: object
1340      17,July,2003
1340    05,August,2004
Name: date, dtype: object
1341      17,July,2003
1341    05,August,2004
Name: date, dtype: object
1342      14,July,2003
1342    05,August,2004
Name: date, dtype: object
1343      14,July,2003
1343    05,August,2004
Name: date, dtype: object
1344      13,July,2003
1344    05,August,2004
Name: date, dtype: object
1345      11,July,2003
1345    05,August,2004
Name: date, dtype: object
1346      09,July,2003
1346    05,August,2004
Name: date, dtype: object
1347      07,July,2003
1347    05,August,2004
Name: date, dtype: object
1348      07,July,2003
1348    05,August,2004
Name: date, dtype: object
1349      04,July,2003
1349    05,August,2004
Name: date, dtype: object
1350      04,July,2003
1350    05,August,2004
Name: date, dtype: object
1351      04,July,2003
1351    05,August,2004
Name: date, dtype: object
1352      04,July,2003
1352    05,August,2004
Name: date, dtype: object
1353      03,July,2003
1353    05,August,2004
Name: date, dtype: object
1354      02,July,2003
1354    05,August,2004
Name: date, dtype: object
1355      01,July,2003
1355    05,August,2004
Name: date, dtype: object
1356    26,August,2003
1356    05,August,2004
Name: date, dtype: object
1357    25,August,2003
1357    05,August,2004
Name: date, dtype: object
1358    22,August,2003
1358    05,August,2004
Name: date, dtype: object
1359    19,August,2003
1359    05,August,2004
Name: date, dtype: object
1360    18,August,2003
1360    05,August,2004
Name: date, dtype: object
1361    15,August,2003
1361    05,August,2004
Name: date, dtype: object
1362    13,August,2003
1362    05,August,2004
Name: date, dtype: object
1363    12,August,2003
1363    05,August,2004
Name: date, dtype: object
1364    11,August,2003
1364    05,August,2004
Name: date, dtype: object
1365    08,August,2003
1365    05,August,2004
Name: date, dtype: object
1366    08,August,2003
1366    05,August,2004
Name: date, dtype: object
1367    07,August,2003
1367    05,August,2004
Name: date, dtype: object
1368    05,August,2003
1368    05,August,2004
Name: date, dtype: object
1369    05,August,2003
1369    05,August,2004
Name: date, dtype: object
1370    04,August,2003
1370    05,August,2004
Name: date, dtype: object
1371    04,August,2003
1371    05,August,2004
Name: date, dtype: object
1372    01,August,2003
1372    05,August,2004
Name: date, dtype: object
1373    01,August,2003
1373    05,August,2004
Name: date, dtype: object
1374    26,September,2003
1374       05,August,2004
Name: date, dtype: object
1375    25,September,2003
1375       05,August,2004
Name: date, dtype: object
1376    24,September,2003
1376       05,August,2004
Name: date, dtype: object
1377    22,September,2003
1377       05,August,2004
Name: date, dtype: object
1378    19,September,2003
1378       05,August,2004
Name: date, dtype: object
1379    15,September,2003
1379       05,August,2004
Name: date, dtype: object
1380    11,September,2003
1380       05,August,2004
Name: date, dtype: object
1381    11,September,2003
1381       05,August,2004
Name: date, dtype: object
1382    10,September,2003
1382       05,August,2004
Name: date, dtype: object
1383    09,September,2003
1383       05,August,2004
Name: date, dtype: object
1384    08,September,2003
1384       05,August,2004
Name: date, dtype: object
1385    03,September,2003
1385       05,August,2004
Name: date, dtype: object
1386    02,September,2003
1386       05,August,2004
Name: date, dtype: object
1387    31,October,2003
1387     05,August,2004
Name: date, dtype: object
1388    30,October,2003
1388     05,August,2004
Name: date, dtype: object
1389    29,October,2003
1389     05,August,2004
Name: date, dtype: object
1390    24,October,2003
1390     05,August,2004
Name: date, dtype: object
1391    23,October,2003
1391     05,August,2004
Name: date, dtype: object
1392    20,October,2003
1392     05,August,2004
Name: date, dtype: object
1393    16,October,2003
1393     05,August,2004
Name: date, dtype: object
1394    16,October,2003
1394     05,August,2004
Name: date, dtype: object
1395    15,October,2003
1395     05,August,2004
Name: date, dtype: object
1396    15,October,2003
1396     05,August,2004
Name: date, dtype: object
1397    14,October,2003
1397     05,August,2004
Name: date, dtype: object
1398    14,October,2003
1398     05,August,2004
Name: date, dtype: object
1399    13,October,2003
1399     05,August,2004
Name: date, dtype: object
1400    13,October,2003
1400     05,August,2004
Name: date, dtype: object
1401    12,October,2003
1401     05,August,2004
Name: date, dtype: object
1402    10,October,2003
1402     05,August,2004
Name: date, dtype: object
1403    09,October,2003
1403     05,August,2004
Name: date, dtype: object
1404    08,October,2003
1404     05,August,2004
Name: date, dtype: object
1405    07,October,2003
1405     05,August,2004
Name: date, dtype: object
1406    06,October,2003
1406     05,August,2004
Name: date, dtype: object
1407    02,October,2003
1407     05,August,2004
Name: date, dtype: object
1408    01,October,2003
1408     05,August,2004
Name: date, dtype: object
1409    01,October,2003
1409     05,August,2004
Name: date, dtype: object
1410    29,November,2003
1410      05,August,2004
Name: date, dtype: object
1411    25,November,2003
1411      05,August,2004
Name: date, dtype: object
1412    24,November,2003
1412      05,August,2004
Name: date, dtype: object
1413    19,November,2003
1413      05,August,2004
Name: date, dtype: object
1414    18,November,2003
1414      05,August,2004
Name: date, dtype: object
1415    17,November,2003
1415      05,August,2004
Name: date, dtype: object
1416    13,November,2003
1416      05,August,2004
Name: date, dtype: object
1417    12,November,2003
1417      05,August,2004
Name: date, dtype: object
1418    05,November,2003
1418      05,August,2004
Name: date, dtype: object
1419    03,November,2003
1419      05,August,2004
Name: date, dtype: object
1420    29,December,2003
1420      05,August,2004

Name: date, dtype: object
1421    23,December,2003
1421      05,August,2004
Name: date, dtype: object
1422    19,December,2003
1422      05,August,2004
Name: date, dtype: object
1423    19,December,2003
1423      05,August,2004
Name: date, dtype: object
1424    19,December,2003
1424      05,August,2004
Name: date, dtype: object
1425    17,December,2003
1425      05,August,2004
Name: date, dtype: object
1426    16,December,2003
1426      05,August,2004
Name: date, dtype: object
1427    09,December,2003
1427      05,August,2004
Name: date, dtype: object
1428    09,December,2003
1428      05,August,2004
Name: date, dtype: object
1429    09,December,2003
1429      05,August,2004
Name: date, dtype: object
1430    08,December,2003
1430      05,August,2004
Name: date, dtype: object
1431    03,December,2003
1431      05,August,2004
Name: date, dtype: object
1432    03,December,2003
1432      05,August,2004
Name: date, dtype: object
1433    30,January,2004
1433     05,August,2004
Name: date, dtype: object
1434    29,January,2004
1434     05,August,2004
Name: date, dtype: object
1435    28,January,2004
1435     05,August,2004
Name: date, dtype: object
1436    28,January,2004
1436     05,August,2004
Name: date, dtype: object
1437    23,January,2004
1437     05,August,2004
Name: date, dtype: object
1438    23,January,2004
1438     05,August,2004
Name: date, dtype: object
1439    22,January,2004
1439     05,August,2004
Name: date, dtype: object
1440    22,January,2004
1440     05,August,2004
Name: date, dtype: object
1441    21,January,2004
1441     05,August,2004
Name: date, dtype: object
1442    19,January,2004
1442     05,August,2004
Name: date, dtype: object
1443    16,January,2004
1443     05,August,2004
Name: date, dtype: object
1444    15,January,2004
1444     05,August,2004
Name: date, dtype: object
1445    13,January,2004
1445     05,August,2004
Name: date, dtype: object
1446    09,January,2004
1446     05,August,2004
Name: date, dtype: object
1447    08,January,2004
1447     05,August,2004
Name: date, dtype: object
1448    07,January,2004
1448     05,August,2004
Name: date, dtype: object
1449    06,January,2004
1449     05,August,2004
Name: date, dtype: object
1450    06,January,2004
1450     05,August,2004
Name: date, dtype: object
1451    05,January,2004
1451     05,August,2004
Name: date, dtype: object
1452    05,January,2004
1452     05,August,2004
Name: date, dtype: object
1453    01,January,2004
1453     05,August,2004
Name: date, dtype: object
1454    27,February,2004
1454      05,August,2004
Name: date, dtype: object
1455    26,February,2004
1455      05,August,2004
Name: date, dtype: object
1456    25,February,2004
1456      05,August,2004
Name: date, dtype: object
1457    24,February,2004
1457      05,August,2004
Name: date, dtype: object
1458    23,February,2004
1458      05,August,2004
Name: date, dtype: object
1459    18,February,2004
1459      05,August,2004
Name: date, dtype: object
1460    17,February,2004
1460      05,August,2004
Name: date, dtype: object
1461    14,February,2004
1461      05,August,2004
Name: date, dtype: object
1462    13,February,2004
1462      05,August,2004
Name: date, dtype: object
1463    12,February,2004
1463      05,August,2004
Name: date, dtype: object
1464    11,February,2004
1464      05,August,2004
Name: date, dtype: object
1465    06,February,2004
1465      05,August,2004
Name: date, dtype: object
1466    05,February,2004
1466      05,August,2004
Name: date, dtype: object
1467    05,February,2004
1467      05,August,2004
Name: date, dtype: object
1468    03,February,2004
1468      05,August,2004
Name: date, dtype: object
1469    02,February,2004
1469      05,August,2004
Name: date, dtype: object
1470     29,March,2004
1470    05,August,2004
Name: date, dtype: object
1471     26,March,2004
1471    05,August,2004
Name: date, dtype: object
1472     18,March,2004
1472    05,August,2004
Name: date, dtype: object
1473     15,March,2004
1473    05,August,2004
Name: date, dtype: object
1474     11,March,2004
1474    05,August,2004
Name: date, dtype: object
1475     09,March,2004
1475    05,August,2004
Name: date, dtype: object
1476     09,March,2004
1476    05,August,2004
Name: date, dtype: object
1477     04,March,2004
1477    05,August,2004
Name: date, dtype: object
1478     03,March,2004
1478    05,August,2004
Name: date, dtype: object
1479     03,March,2004
1479    05,August,2004
Name: date, dtype: object
1480     01,March,2004
1480    05,August,2004
Name: date, dtype: object
1481     28,April,2004
1481    05,August,2004
Name: date, dtype: object
1482     27,April,2004
1482    05,August,2004
Name: date, dtype: object
1483     26,April,2004
1483    05,August,2004
Name: date, dtype: object
1484     16,April,2004
1484    05,August,2004
Name: date, dtype: object
1485     15,April,2004
1485    05,August,2004
Name: date, dtype: object
1486     14,April,2004
1486    05,August,2004
Name: date, dtype: object
1487     09,April,2004
1487    05,August,2004
Name: date, dtype: object
1488     08,April,2004
1488    05,August,2004
Name: date, dtype: object
1489     02,April,2004
1489    05,August,2004
Name: date, dtype: object
1490     02,April,2004
1490    05,August,2004
Name: date, dtype: object
1491     01,April,2004
1491    05,August,2004
Name: date, dtype: object
1492       26,May,2004
1492    05,August,2004
Name: date, dtype: object
1493       24,May,2004
1493    05,August,2004
Name: date, dtype: object
1494       20,May,2004
1494    05,August,2004
Name: date, dtype: object
1495       18,May,2004
1495    05,August,2004
Name: date, dtype: object
1496       14,May,2004
1496    05,August,2004
Name: date, dtype: object
1497       13,May,2004
1497    05,August,2004
Name: date, dtype: object
1498       12,May,2004
1498    05,August,2004
Name: date, dtype: object
1499       11,May,2004
1499    05,August,2004
Name: date, dtype: object
1500       11,May,2004
1500    05,August,2004
Name: date, dtype: object
1501       10,May,2004
1501    05,August,2004
Name: date, dtype: object
1502      30,June,2004
1502    05,August,2004
Name: date, dtype: object
1503      23,June,2004
1503    05,August,2004
Name: date, dtype: object
1504      21,June,2004
1504    05,August,2004
Name: date, dtype: object
1505      18,June,2004
1505    05,August,2004
Name: date, dtype: object
1506      14,June,2004
1506    05,August,2004
Name: date, dtype: object
1507      10,June,2004
1507    05,August,2004
Name: date, dtype: object
1508      09,June,2004
1508    05,August,2004
Name: date, dtype: object
1509      08,June,2004
1509    05,August,2004
Name: date, dtype: object
1510      04,June,2004
1510    05,August,2004
Name: date, dtype: object
1511      03,June,2004
1511    05,August,2004
Name: date, dtype: object
1512      01,June,2004
1512    05,August,2004
Name: date, dtype: object
1513      30,July,2004
1513    05,August,2004
Name: date, dtype: object
1514      28,July,2004
1514    05,August,2004
Name: date, dtype: object
1515      27,July,2004
1515    05,August,2004
Name: date, dtype: object
1516      22,July,2004
1516    05,August,2004
Name: date, dtype: object
1517      21,July,2004
1517    05,August,2004
Name: date, dtype: object
1518      20,July,2004
1518    05,August,2004
Name: date, dtype: object
1519      14,July,2004
1519    05,August,2004
Name: date, dtype: object
1520      13,July,2004
1520    05,August,2004
Name: date, dtype: object
1521      09,July,2004
1521    05,August,2004
Name: date, dtype: object
1522      08,July,2004
1522    05,August,2004
Name: date, dtype: object
1523      02,July,2004
1523    05,August,2004
Name: date, dtype: object
1524      01,July,2004
1524    05,August,2004
Name: date, dtype: object
1525    09,August,2004
1525    05,August,2004
Name: date, dtype: object
1526    06,August,2004
1526    05,August,2004
Name: date, dtype: object
1527    05,August,2004
1527    05,August,2004
Name: date, dtype: object
1528    05,August,2004
1528    05,August,2004
Name: date, dtype: object
1529    04,August,2004
1529    05,August,2004
Name: date, dtype: object
1530    03,August,2004
1530    05,August,2004
Name: date, dtype: object
1531    02,August,2004
1531    05,August,2004
Name: date, dtype: object
1532       31,May,2004
1532    05,August,2004
Name: date, dtype: object
1533       27,May,2004
1533    05,August,2004
Name: date, dtype: object
1534       24,May,2004
1534    05,August,2004
Name: date, dtype: object
1535       22,May,2004
1535    05,August,2004
Name: date, dtype: object
1536       21,May,2004
1536    05,August,2004
Name: date, dtype: object
1537       19,May,2004
1537    05,August,2004
Name: date, dtype: object
1538       18,May,2004
1538    05,August,2004
Name: date, dtype: object
1539       17,May,2004
1539    05,August,2004
Name: date, dtype: object
1540       15,May,2004
1540    05,August,2004
Name: date, dtype: object
1541       14,May,2004
1541    05,August,2004
Name: date, dtype: object
1542       12,May,2004
1542    05,August,2004
Name: date, dtype: object
1543    19,August,2004
1543    05,August,2004
Name: date, dtype: object
1544    19,August,2004
1544    05,August,2004
Name: date, dtype: object
1545      03,June,2004
1545    05,August,2004
Name: date, dtype: object
1546      12,June,2004
1546    05,August,2004
Name: date, dtype: object
1547      11,June,2004
1547    05,August,2004
Name: date, dtype: object
1548      19,June,2004
1548    05,August,2004
Name: date, dtype: object
1549      14,June,2004
1549    05,August,2004
Name: date, dtype: object
1550      13,June,2004
1550    05,August,2004
Name: date, dtype: object
1551      13,June,2004
1551    05,August,2004
Name: date, dtype: object
1552      13,June,2004
1552    05,August,2004
Name: date, dtype: object
1553      22,June,2004
1553    05,August,2004
Name: date, dtype: object
1554      20,June,2004
1554    05,August,2004
Name: date, dtype: object
1555      20,June,2004
1555    05,August,2004
Name: date, dtype: object
1556      28,June,2004
1556    05,August,2004
Name: date, dtype: object
1557      05,July,2004
1557    05,August,2004
Name: date, dtype: object
1558      18,July,2004
1558    05,August,2004
Name: date, dtype: object
1559    19,August,2004
1559    05,August,2004
Name: date, dtype: object

1560      09,July,2004
1560    05,August,2004
Name: date, dtype: object
1561      09,July,2004
1561    05,August,2004
Name: date, dtype: object
1562      09,July,2004
1562    05,August,2004
Name: date, dtype: object
1563      09,July,2004
1563    05,August,2004
Name: date, dtype: object
1564      09,July,2004
1564    05,August,2004
Name: date, dtype: object
1565      09,July,2004
1565    05,August,2004
Name: date, dtype: object
1566      09,July,2004
1566    05,August,2004
Name: date, dtype: object
1567      09,July,2004
1567    05,August,2004
Name: date, dtype: object
1568      25,June,2004
1568    05,August,2004
Name: date, dtype: object
1569    22,August,2004
1569    05,August,2004
Name: date, dtype: object
1570    21,August,2004
1570    05,August,2004
Name: date, dtype: object
1571    21,August,2004
1571    05,August,2004
Name: date, dtype: object
1572    21,August,2004
1572    05,August,2004
Name: date, dtype: object
1573    20,August,2004
1573    05,August,2004
Name: date, dtype: object
1574    20,August,2004
1574    05,August,2004
Name: date, dtype: object
1575    19,August,2004
1575    05,August,2004
Name: date, dtype: object
1576    19,August,2004
1576    05,August,2004
Name: date, dtype: object
1577    18,August,2004
1577    05,August,2004
Name: date, dtype: object
1578    18,August,2004
1578    05,August,2004
Name: date, dtype: object
1579    18,August,2004
1579    05,August,2004
Name: date, dtype: object
1580    18,August,2004
1580    05,August,2004
Name: date, dtype: object
1581    18,August,2004
1581    05,August,2004
Name: date, dtype: object
1582    17,August,2004
1582    05,August,2004
Name: date, dtype: object
1583    17,August,2004
1583    05,August,2004
Name: date, dtype: object
1584    17,August,2004
1584    05,August,2004
Name: date, dtype: object
1585    17,August,2004
1585    05,August,2004
Name: date, dtype: object
1586    15,August,2004
1586    05,August,2004
Name: date, dtype: object
1587    13,August,2004
1587    05,August,2004
Name: date, dtype: object
1588    12,August,2004
1588    05,August,2004
Name: date, dtype: object
1589    12,August,2004
1589    05,August,2004
Name: date, dtype: object
1590    12,August,2004
1590    05,August,2004
Name: date, dtype: object
1591    12,August,2004
1591    05,August,2004
Name: date, dtype: object
1592    12,August,2004
1592    05,August,2004
Name: date, dtype: object
1593      27,June,2004
1593    05,August,2004
Name: date, dtype: object
1594      25,June,2004
1594    05,August,2004
Name: date, dtype: object
1595      25,June,2004
1595    05,August,2004
Name: date, dtype: object
1596      24,June,2004
1596    05,August,2004
Name: date, dtype: object
1597    04,August,2004
1597    05,August,2004
Name: date, dtype: object
1598    03,August,2004
1598    05,August,2004
Name: date, dtype: object
1599       29,May,2004
1599    05,August,2004
Name: date, dtype: object
1600       26,May,2004
1600    05,August,2004
Name: date, dtype: object
1601       26,May,2004
1601    05,August,2004
Name: date, dtype: object
1602       26,May,2004
1602    05,August,2004
Name: date, dtype: object
1603       26,May,2004
1603    05,August,2004
Name: date, dtype: object
1604       21,May,2004
1604    05,August,2004
Name: date, dtype: object
1605      30,June,2004
1605    05,August,2004
Name: date, dtype: object
1606      26,June,2004
1606    05,August,2004
Name: date, dtype: object
1607      24,June,2004
1607    05,August,2004
Name: date, dtype: object
1608      18,June,2004
1608    05,August,2004
Name: date, dtype: object
1609      17,June,2004
1609    05,August,2004
Name: date, dtype: object
1610      15,June,2004
1610    05,August,2004
Name: date, dtype: object
1611      12,June,2004
1611    05,August,2004
Name: date, dtype: object
1612      08,June,2004
1612    05,August,2004
Name: date, dtype: object
1613      04,June,2004
1613    05,August,2004
Name: date, dtype: object
1614      02,June,2004
1614    05,August,2004
Name: date, dtype: object
1615      28,July,2004
1615    05,August,2004
Name: date, dtype: object
1616      12,July,2004
1616    05,August,2004
Name: date, dtype: object
1617      10,July,2004
1617    05,August,2004
Name: date, dtype: object
1618      05,July,2004
1618    05,August,2004
Name: date, dtype: object
1619    08,August,2004
1619    05,August,2004
Name: date, dtype: object
1620    20,August,2004
1620    05,August,2004
Name: date, dtype: object
1621    19,August,2004
1621    05,August,2004
Name: date, dtype: object
1622    16,August,2004
1622    05,August,2004
Name: date, dtype: object
1623    13,August,2004
1623    05,August,2004
Name: date, dtype: object
1624    13,August,2004
1624    05,August,2004
Name: date, dtype: object
1625    13,August,2004
1625    05,August,2004
Name: date, dtype: object
1626    13,August,2004
1626    05,August,2004
Name: date, dtype: object
1627      31,July,2004
1627    05,August,2004
Name: date, dtype: object
1628      30,July,2004
1628    05,August,2004
Name: date, dtype: object
1629      27,July,2004
1629    05,August,2004
Name: date, dtype: object
1630      26,July,2004
1630    05,August,2004
Name: date, dtype: object
1631      25,July,2004
1631    05,August,2004
Name: date, dtype: object
1632      24,July,2004
1632    05,August,2004
Name: date, dtype: object
1633      23,July,2004
1633    05,August,2004
Name: date, dtype: object
1634      23,July,2004
1634    05,August,2004
Name: date, dtype: object
1635      23,July,2004
1635    05,August,2004
Name: date, dtype: object
1636      23,July,2004
1636    05,August,2004
Name: date, dtype: object
1637    15,August,2004
1637    05,August,2004
Name: date, dtype: object
1638    13,August,2004
1638    05,August,2004
Name: date, dtype: object
1639    09,August,2004
1639    05,August,2004
Name: date, dtype: object
1640    07,August,2004
1640    05,August,2004
Name: date, dtype: object
1641       23,May,2004
1641    05,August,2004
Name: date, dtype: object
1642       22,May,2004
1642    05,August,2004
Name: date, dtype: object
1643       21,May,2004
1643    05,August,2004
Name: date, dtype: object
1644       20,May,2004
1644    05,August,2004
Name: date, dtype: object
1645    24,August,2004
1645    05,August,2004
Name: date, dtype: object
1646    23,August,2004
1646    05,August,2004
Name: date, dtype: object
1647    23,August,2004
1647    05,August,2004
Name: date, dtype: object
1648    23,August,2004
1648    05,August,2004
Name: date, dtype: object
1649    19,August,2004
1649    05,August,2004
Name: date, dtype: object
1650    18,August,2004
1650    05,August,2004
Name: date, dtype: object
1651    17,August,2004
1651    05,August,2004
Name: date, dtype: object
1652    17,August,2004
1652    05,August,2004
Name: date, dtype: object
1653    16,August,2004
1653    05,August,2004
Name: date, dtype: object
1654    16,August,2004
1654    05,August,2004
Name: date, dtype: object
1655    15,August,2004
1655    05,August,2004
Name: date, dtype: object
1656    14,August,2004
1656    05,August,2004
Name: date, dtype: object
1657    13,August,2004
1657    05,August,2004
Name: date, dtype: object
1658      07,June,2004
1658    05,August,2004
Name: date, dtype: object
1659      07,June,2004
1659    05,August,2004
Name: date, dtype: object
1660      07,June,2004
1660    05,August,2004
Name: date, dtype: object
1661      07,June,2004
1661    05,August,2004
Name: date, dtype: object
1662    30,January,2003
1662     05,August,2004
Name: date, dtype: object
1663    29,January,2003
1663     05,August,2004
Name: date, dtype: object
1664    24,January,2003
1664     05,August,2004
Name: date, dtype: object
1665    23,January,2003
1665     05,August,2004
Name: date, dtype: object
1666    21,January,2003
1666     05,August,2004
Name: date, dtype: object
1667    20,January,2003
1667     05,August,2004
Name: date, dtype: object
1668    20,January,2003
1668     05,August,2004
Name: date, dtype: object
1669    19,January,2003
1669     05,August,2004
Name: date, dtype: object
1670    18,January,2003
1670     05,August,2004
Name: date, dtype: object
1671    17,January,2003
1671     05,August,2004
Name: date, dtype: object
1672    17,January,2003
1672     05,August,2004
Name: date, dtype: object
1673    16,January,2003
1673     05,August,2004
Name: date, dtype: object
1674    14,January,2003
1674     05,August,2004
Name: date, dtype: object
1675    14,January,2003
1675     05,August,2004
Name: date, dtype: object
1676    14,January,2003
1676     05,August,2004
Name: date, dtype: object
1677    14,January,2003
1677     05,August,2004
Name: date, dtype: object
1678    13,January,2003
1678     05,August,2004
Name: date, dtype: object
1679    11,January,2003
1679     05,August,2004
Name: date, dtype: object
1680    06,January,2003
1680     05,August,2004
Name: date, dtype: object
1681    05,January,2003
1681     05,August,2004
Name: date, dtype: object
1682    28,February,2003
1682      05,August,2004
Name: date, dtype: object
1683    25,February,2003
1683      05,August,2004
Name: date, dtype: object
1684    22,February,2003
1684      05,August,2004

Name: date, dtype: object
1685    21,February,2003
1685      05,August,2004
Name: date, dtype: object
1686    21,February,2003
1686      05,August,2004
Name: date, dtype: object
1687    19,February,2003
1687      05,August,2004
Name: date, dtype: object
1688    18,February,2003
1688      05,August,2004
Name: date, dtype: object
1689    17,February,2003
1689      05,August,2004
Name: date, dtype: object
1690    15,February,2003
1690      05,August,2004
Name: date, dtype: object
1691    13,February,2003
1691      05,August,2004
Name: date, dtype: object
1692    09,February,2003
1692      05,August,2004
Name: date, dtype: object
1693    06,February,2003
1693      05,August,2004
Name: date, dtype: object
1694    03,February,2003
1694      05,August,2004
Name: date, dtype: object
1695    02,February,2003
1695      05,August,2004
Name: date, dtype: object
1696     27,March,2003
1696    05,August,2004
Name: date, dtype: object
1697     25,March,2003
1697    05,August,2004
Name: date, dtype: object
1698     24,March,2003
1698    05,August,2004
Name: date, dtype: object
1699     30,April,2003
1699    05,August,2004
Name: date, dtype: object
1700     28,April,2003
1700    05,August,2004
Name: date, dtype: object
1701     17,April,2003
1701    05,August,2004
Name: date, dtype: object
1702     17,April,2003
1702    05,August,2004
Name: date, dtype: object
1703     15,April,2003
1703    05,August,2004
Name: date, dtype: object
1704      30,June,2003
1704    05,August,2004
Name: date, dtype: object
1705      26,June,2003
1705    05,August,2004
Name: date, dtype: object
1706      23,June,2003
1706    05,August,2004
Name: date, dtype: object
1707      21,June,2003
1707    05,August,2004
Name: date, dtype: object
1708      10,June,2003
1708    05,August,2004
Name: date, dtype: object
1709      09,June,2003
1709    05,August,2004
Name: date, dtype: object
1710      08,June,2003
1710    05,August,2004
Name: date, dtype: object
1711      06,June,2003
1711    05,August,2004
Name: date, dtype: object
1712      02,June,2003
1712    05,August,2004
Name: date, dtype: object
1713      02,June,2003
1713    05,August,2004
Name: date, dtype: object
1714      30,July,2003
1714    05,August,2004
Name: date, dtype: object
1715      29,July,2003
1715    05,August,2004
Name: date, dtype: object
1716      28,July,2003
1716    05,August,2004
Name: date, dtype: object
1717      27,July,2003
1717    05,August,2004
Name: date, dtype: object
1718      27,July,2003
1718    05,August,2004
Name: date, dtype: object
1719      27,July,2003
1719    05,August,2004
Name: date, dtype: object
1720      26,July,2003
1720    05,August,2004
Name: date, dtype: object
1721      26,July,2003
1721    05,August,2004
Name: date, dtype: object
1722      25,July,2003
1722    05,August,2004
Name: date, dtype: object
1723      24,July,2003
1723    05,August,2004
Name: date, dtype: object
1724      23,July,2003
1724    05,August,2004
Name: date, dtype: object
1725      21,July,2003
1725    05,August,2004
Name: date, dtype: object
1726      21,July,2003
1726    05,August,2004
Name: date, dtype: object
1727      21,July,2003
1727    05,August,2004
Name: date, dtype: object
1728      21,July,2003
1728    05,August,2004
Name: date, dtype: object
1729      19,July,2003
1729    05,August,2004
Name: date, dtype: object
1730      18,July,2003
1730    05,August,2004
Name: date, dtype: object
1731      17,July,2003
1731    05,August,2004
Name: date, dtype: object
1732      16,July,2003
1732    05,August,2004
Name: date, dtype: object
1733      16,July,2003
1733    05,August,2004
Name: date, dtype: object
1734      16,July,2003
1734    05,August,2004
Name: date, dtype: object
1735      15,July,2003
1735    05,August,2004
Name: date, dtype: object
1736      14,July,2003
1736    05,August,2004
Name: date, dtype: object
1737      14,July,2003
1737    05,August,2004
Name: date, dtype: object
1738      14,July,2003
1738    05,August,2004
Name: date, dtype: object
1739      14,July,2003
1739    05,August,2004
Name: date, dtype: object
1740      10,July,2003
1740    05,August,2004
Name: date, dtype: object
1741      09,July,2003
1741    05,August,2004
Name: date, dtype: object
1742      09,July,2003
1742    05,August,2004
Name: date, dtype: object
1743      08,July,2003
1743    05,August,2004
Name: date, dtype: object
1744      08,July,2003
1744    05,August,2004
Name: date, dtype: object
1745      08,July,2003
1745    05,August,2004
Name: date, dtype: object
1746      08,July,2003
1746    05,August,2004
Name: date, dtype: object
1747      07,July,2003
1747    05,August,2004
Name: date, dtype: object
1748      06,July,2003
1748    05,August,2004
Name: date, dtype: object
1749      06,July,2003
1749    05,August,2004
Name: date, dtype: object
1750      03,July,2003
1750    05,August,2004
Name: date, dtype: object
1751      03,July,2003
1751    05,August,2004
Name: date, dtype: object
1752      03,July,2003
1752    05,August,2004
Name: date, dtype: object
1753      02,July,2003
1753    05,August,2004
Name: date, dtype: object
1754      01,July,2003
1754    05,August,2004
Name: date, dtype: object
1755    31,August,2003
1755    05,August,2004
Name: date, dtype: object
1756    30,August,2003
1756    05,August,2004
Name: date, dtype: object
1757    30,August,2003
1757    05,August,2004
Name: date, dtype: object
1758    29,August,2003
1758    05,August,2004
Name: date, dtype: object
1759    29,August,2003
1759    05,August,2004
Name: date, dtype: object
1760    29,August,2003
1760    05,August,2004
Name: date, dtype: object
1761    29,August,2003
1761    05,August,2004
Name: date, dtype: object
1762    29,August,2003
1762    05,August,2004
Name: date, dtype: object
1763    29,August,2003
1763    05,August,2004
Name: date, dtype: object
1764    29,August,2003
1764    05,August,2004
Name: date, dtype: object
1765    28,August,2003
1765    05,August,2004
Name: date, dtype: object
1766    28,August,2003
1766    05,August,2004
Name: date, dtype: object
1767    28,August,2003
1767    05,August,2004
Name: date, dtype: object
1768    28,August,2003
1768    05,August,2004
Name: date, dtype: object
1769    28,August,2003
1769    05,August,2004
Name: date, dtype: object
1770    28,August,2003
1770    05,August,2004
Name: date, dtype: object
1771    27,August,2003
1771    05,August,2004
Name: date, dtype: object
1772    27,August,2003
1772    05,August,2004
Name: date, dtype: object
1773    27,August,2003
1773    05,August,2004
Name: date, dtype: object
1774    27,August,2003
1774    05,August,2004
Name: date, dtype: object
1775    27,August,2003
1775    05,August,2004
Name: date, dtype: object
1776    26,August,2003
1776    05,August,2004
Name: date, dtype: object
1777    26,August,2003
1777    05,August,2004
Name: date, dtype: object
1778    25,August,2003
1778    05,August,2004
Name: date, dtype: object
1779    24,August,2003
1779    05,August,2004
Name: date, dtype: object
1780    24,August,2003
1780    05,August,2004
Name: date, dtype: object
1781    24,August,2003
1781    05,August,2004
Name: date, dtype: object
1782    24,August,2003
1782    05,August,2004
Name: date, dtype: object
1783    24,August,2003
1783    05,August,2004
Name: date, dtype: object
1784    24,August,2003
1784    05,August,2004
Name: date, dtype: object
1785    23,August,2003
1785    05,August,2004
Name: date, dtype: object
1786    23,August,2003
1786    05,August,2004
Name: date, dtype: object
1787    23,August,2003
1787    05,August,2004
Name: date, dtype: object
1788    22,August,2003
1788    05,August,2004
Name: date, dtype: object
1789    21,August,2003
1789    05,August,2004
Name: date, dtype: object
1790    21,August,2003
1790    05,August,2004
Name: date, dtype: object
1791    21,August,2003
1791    05,August,2004
Name: date, dtype: object
1792    21,August,2003
1792    05,August,2004
Name: date, dtype: object
1793    20,August,2003
1793    05,August,2004
Name: date, dtype: object
1794    20,August,2003
1794    05,August,2004
Name: date, dtype: object
1795    19,August,2003
1795    05,August,2004
Name: date, dtype: object
1796    18,August,2003
1796    05,August,2004
Name: date, dtype: object
1797    18,August,2003
1797    05,August,2004
Name: date, dtype: object
1798    17,August,2003
1798    05,August,2004
Name: date, dtype: object
1799    17,August,2003
1799    05,August,2004
Name: date, dtype: object
1800    17,August,2003
1800    05,August,2004
Name: date, dtype: object
1801    16,August,2003
1801    05,August,2004
Name: date, dtype: object
1802    16,August,2003
1802    05,August,2004
Name: date, dtype: object
1803    15,August,2003
1803    05,August,2004
Name: date, dtype: object
1804    15,August,2003
1804    05,August,2004
Name: date, dtype: object

1805    15,August,2003
1805    05,August,2004
Name: date, dtype: object
1806    14,August,2003
1806    05,August,2004
Name: date, dtype: object
1807    14,August,2003
1807    05,August,2004
Name: date, dtype: object
1808    14,August,2003
1808    05,August,2004
Name: date, dtype: object
1809    13,August,2003
1809    05,August,2004
Name: date, dtype: object
1810    13,August,2003
1810    05,August,2004
Name: date, dtype: object
1811    12,August,2003
1811    05,August,2004
Name: date, dtype: object
1812    12,August,2003
1812    05,August,2004
Name: date, dtype: object
1813    12,August,2003
1813    05,August,2004
Name: date, dtype: object
1814    11,August,2003
1814    05,August,2004
Name: date, dtype: object
1815    10,August,2003
1815    05,August,2004
Name: date, dtype: object
1816    10,August,2003
1816    05,August,2004
Name: date, dtype: object
1817    09,August,2003
1817    05,August,2004
Name: date, dtype: object
1818    01,August,2003
1818    05,August,2004
Name: date, dtype: object
1819    30,September,2003
1819       05,August,2004
Name: date, dtype: object
1820    29,September,2003
1820       05,August,2004
Name: date, dtype: object
1821    29,September,2003
1821       05,August,2004
Name: date, dtype: object
1822    28,September,2003
1822       05,August,2004
Name: date, dtype: object
1823    27,September,2003
1823       05,August,2004
Name: date, dtype: object
1824    25,September,2003
1824       05,August,2004
Name: date, dtype: object
1825    24,September,2003
1825       05,August,2004
Name: date, dtype: object
1826    24,September,2003
1826       05,August,2004
Name: date, dtype: object
1827    23,September,2003
1827       05,August,2004
Name: date, dtype: object
1828    22,September,2003
1828       05,August,2004
Name: date, dtype: object
1829    22,September,2003
1829       05,August,2004
Name: date, dtype: object
1830    21,September,2003
1830       05,August,2004
Name: date, dtype: object
1831    20,September,2003
1831       05,August,2004
Name: date, dtype: object
1832    20,September,2003
1832       05,August,2004
Name: date, dtype: object
1833    19,September,2003
1833       05,August,2004
Name: date, dtype: object
1834    18,September,2003
1834       05,August,2004
Name: date, dtype: object
1835    17,September,2003
1835       05,August,2004
Name: date, dtype: object
1836    17,September,2003
1836       05,August,2004
Name: date, dtype: object
1837    15,September,2003
1837       05,August,2004
Name: date, dtype: object
1838    14,September,2003
1838       05,August,2004
Name: date, dtype: object
1839    13,September,2003
1839       05,August,2004
Name: date, dtype: object
1840    11,September,2003
1840       05,August,2004
Name: date, dtype: object
1841    11,September,2003
1841       05,August,2004
Name: date, dtype: object
1842    10,September,2003
1842       05,August,2004
Name: date, dtype: object
1843    10,September,2003
1843       05,August,2004
Name: date, dtype: object
1844    09,September,2003
1844       05,August,2004
Name: date, dtype: object
1845    08,September,2003
1845       05,August,2004
Name: date, dtype: object
1846    07,September,2003
1846       05,August,2004
Name: date, dtype: object
1847    06,September,2003
1847       05,August,2004
Name: date, dtype: object
1848    05,September,2003
1848       05,August,2004
Name: date, dtype: object
1849    05,September,2003
1849       05,August,2004
Name: date, dtype: object
1850    05,September,2003
1850       05,August,2004
Name: date, dtype: object
1851    04,September,2003
1851       05,August,2004
Name: date, dtype: object
1852    04,September,2003
1852       05,August,2004
Name: date, dtype: object
1853    04,September,2003
1853       05,August,2004
Name: date, dtype: object
1854    02,September,2003
1854       05,August,2004
Name: date, dtype: object
1855    02,September,2003
1855       05,August,2004
Name: date, dtype: object
1856    02,September,2003
1856       05,August,2004
Name: date, dtype: object
1857    02,September,2003
1857       05,August,2004
Name: date, dtype: object
1858    01,September,2003
1858       05,August,2004
Name: date, dtype: object
1859    01,September,2003
1859       05,August,2004
Name: date, dtype: object
1860    30,October,2003
1860     05,August,2004
Name: date, dtype: object
1861    29,October,2003
1861     05,August,2004
Name: date, dtype: object
1862    26,October,2003
1862     05,August,2004
Name: date, dtype: object
1863    22,October,2003
1863     05,August,2004
Name: date, dtype: object
1864    22,October,2003
1864     05,August,2004
Name: date, dtype: object
1865    21,October,2003
1865     05,August,2004
Name: date, dtype: object
1866    20,October,2003
1866     05,August,2004
Name: date, dtype: object
1867    16,October,2003
1867     05,August,2004
Name: date, dtype: object
1868    13,October,2003
1868     05,August,2004
Name: date, dtype: object
1869    13,October,2003
1869     05,August,2004
Name: date, dtype: object
1870    12,October,2003
1870     05,August,2004
Name: date, dtype: object
1871    11,October,2003
1871     05,August,2004
Name: date, dtype: object
1872    08,October,2003
1872     05,August,2004
Name: date, dtype: object
1873    07,October,2003
1873     05,August,2004
Name: date, dtype: object
1874    07,October,2003
1874     05,August,2004
Name: date, dtype: object
1875    05,October,2003
1875     05,August,2004
Name: date, dtype: object
1876    04,October,2003
1876     05,August,2004
Name: date, dtype: object
1877    01,October,2003
1877     05,August,2004
Name: date, dtype: object
1878    01,October,2003
1878     05,August,2004
Name: date, dtype: object
1879    30,November,2003
1879      05,August,2004
Name: date, dtype: object
1880    29,November,2003
1880      05,August,2004
Name: date, dtype: object
1881    29,November,2003
1881      05,August,2004
Name: date, dtype: object
1882    28,November,2003
1882      05,August,2004
Name: date, dtype: object
1883    28,November,2003
1883      05,August,2004
Name: date, dtype: object
1884    27,November,2003
1884      05,August,2004
Name: date, dtype: object
1885    26,November,2003
1885      05,August,2004
Name: date, dtype: object
1886    24,November,2003
1886      05,August,2004
Name: date, dtype: object
1887    23,November,2003
1887      05,August,2004
Name: date, dtype: object
1888    22,November,2003
1888      05,August,2004
Name: date, dtype: object
1889    19,November,2003
1889      05,August,2004
Name: date, dtype: object
1890    18,November,2003
1890      05,August,2004
Name: date, dtype: object
1891    11,November,2003
1891      05,August,2004
Name: date, dtype: object
1892    11,November,2003
1892      05,August,2004
Name: date, dtype: object
1893    09,November,2003
1893      05,August,2004
Name: date, dtype: object
1894    01,November,2003
1894      05,August,2004
Name: date, dtype: object
1895    26,December,2003
1895      05,August,2004
Name: date, dtype: object
1896    25,December,2003
1896      05,August,2004
Name: date, dtype: object
1897    24,December,2003
1897      05,August,2004
Name: date, dtype: object
1898    23,December,2003
1898      05,August,2004
Name: date, dtype: object
1899    22,December,2003
1899      05,August,2004
Name: date, dtype: object
1900    22,December,2003
1900      05,August,2004
Name: date, dtype: object
1901    21,December,2003
1901      05,August,2004
Name: date, dtype: object
1902    21,December,2003
1902      05,August,2004
Name: date, dtype: object
1903    21,December,2003
1903      05,August,2004
Name: date, dtype: object
1904    20,December,2003
1904      05,August,2004
Name: date, dtype: object
1905    20,December,2003
1905      05,August,2004
Name: date, dtype: object
1906    19,December,2003
1906      05,August,2004
Name: date, dtype: object
1907    19,December,2003
1907      05,August,2004
Name: date, dtype: object
1908    18,December,2003
1908      05,August,2004
Name: date, dtype: object
1909    18,December,2003
1909      05,August,2004
Name: date, dtype: object
1910    18,December,2003
1910      05,August,2004
Name: date, dtype: object
1911    18,December,2003
1911      05,August,2004
Name: date, dtype: object
1912    17,December,2003
1912      05,August,2004
Name: date, dtype: object
1913    17,December,2003
1913      05,August,2004
Name: date, dtype: object
1914    16,December,2003
1914      05,August,2004
Name: date, dtype: object

1915    16,December,2003
1915      05,August,2004
Name: date, dtype: object
1916    14,December,2003
1916      05,August,2004
Name: date, dtype: object
1917    14,December,2003
1917      05,August,2004
Name: date, dtype: object
1918    14,December,2003
1918      05,August,2004
Name: date, dtype: object
1919    12,December,2003
1919      05,August,2004
Name: date, dtype: object
1920    11,December,2003
1920      05,August,2004
Name: date, dtype: object
1921    10,December,2003
1921      05,August,2004
Name: date, dtype: object
1922    10,December,2003
1922      05,August,2004
Name: date, dtype: object
1923    10,December,2003
1923      05,August,2004
Name: date, dtype: object
1924    09,December,2003
1924      05,August,2004
Name: date, dtype: object
1925    09,December,2003
1925      05,August,2004
Name: date, dtype: object
1926    09,December,2003
1926      05,August,2004
Name: date, dtype: object
1927    08,December,2003
1927      05,August,2004
Name: date, dtype: object
1928    07,December,2003
1928      05,August,2004
Name: date, dtype: object
1929    06,December,2003
1929      05,August,2004
Name: date, dtype: object
1930    04,December,2003
1930      05,August,2004
Name: date, dtype: object
1931    02,December,2003
1931      05,August,2004
Name: date, dtype: object
1932    01,December,2003
1932      05,August,2004
Name: date, dtype: object
1933    31,January,2004
1933     05,August,2004
Name: date, dtype: object
1934    29,January,2004
1934     05,August,2004
Name: date, dtype: object
1935    28,January,2004
1935     05,August,2004
Name: date, dtype: object
1936    27,January,2004
1936     05,August,2004
Name: date, dtype: object
1937    27,January,2004
1937     05,August,2004
Name: date, dtype: object
1938    27,January,2004
1938     05,August,2004
Name: date, dtype: object
1939    25,January,2004
1939     05,August,2004
Name: date, dtype: object
1940    24,January,2004
1940     05,August,2004
Name: date, dtype: object
1941    24,January,2004
1941     05,August,2004
Name: date, dtype: object
1942    23,January,2004
1942     05,August,2004
Name: date, dtype: object
1943    22,January,2004
1943     05,August,2004
Name: date, dtype: object
1944    21,January,2004
1944     05,August,2004
Name: date, dtype: object
1945    21,January,2004
1945     05,August,2004
Name: date, dtype: object
1946    20,January,2004
1946     05,August,2004
Name: date, dtype: object
1947    20,January,2004
1947     05,August,2004
Name: date, dtype: object
1948    19,January,2004
1948     05,August,2004
Name: date, dtype: object
1949    17,January,2004
1949     05,August,2004
Name: date, dtype: object
1950    17,January,2004
1950     05,August,2004
Name: date, dtype: object
1951    17,January,2004
1951     05,August,2004
Name: date, dtype: object
1952    17,January,2004
1952     05,August,2004
Name: date, dtype: object
1953    16,January,2004
1953     05,August,2004
Name: date, dtype: object
1954    16,January,2004
1954     05,August,2004
Name: date, dtype: object
1955    14,January,2004
1955     05,August,2004
Name: date, dtype: object
1956    13,January,2004
1956     05,August,2004
Name: date, dtype: object
1957    12,January,2004
1957     05,August,2004
Name: date, dtype: object
1958    11,January,2004
1958     05,August,2004
Name: date, dtype: object
1959    08,January,2004
1959     05,August,2004
Name: date, dtype: object
1960    04,January,2004
1960     05,August,2004
Name: date, dtype: object
1961    03,January,2004
1961     05,August,2004
Name: date, dtype: object
1962    01,January,2004
1962     05,August,2004
Name: date, dtype: object
1963    01,January,2004
1963     05,August,2004
Name: date, dtype: object
1964    01,January,2004
1964     05,August,2004
Name: date, dtype: object
1965    29,February,2004
1965      05,August,2004
Name: date, dtype: object
1966    28,February,2004
1966      05,August,2004
Name: date, dtype: object
1967    28,February,2004
1967      05,August,2004
Name: date, dtype: object
1968    26,February,2004
1968      05,August,2004
Name: date, dtype: object
1969    26,February,2004
1969      05,August,2004
Name: date, dtype: object
1970    25,February,2004
1970      05,August,2004
Name: date, dtype: object
1971    24,February,2004
1971      05,August,2004
Name: date, dtype: object
1972    21,February,2004
1972      05,August,2004
Name: date, dtype: object
1973    20,February,2004
1973      05,August,2004
Name: date, dtype: object
1974    19,February,2004
1974      05,August,2004
Name: date, dtype: object
1975    19,February,2004
1975      05,August,2004
Name: date, dtype: object
1976    18,February,2004
1976      05,August,2004
Name: date, dtype: object
1977    16,February,2004
1977      05,August,2004
Name: date, dtype: object
1978    16,February,2004
1978      05,August,2004
Name: date, dtype: object
1979    16,February,2004
1979      05,August,2004
Name: date, dtype: object
1980    15,February,2004
1980      05,August,2004
Name: date, dtype: object
1981    15,February,2004
1981      05,August,2004
Name: date, dtype: object
1982    15,February,2004
1982      05,August,2004
Name: date, dtype: object
1983    14,February,2004
1983      05,August,2004
Name: date, dtype: object
1984    13,February,2004
1984      05,August,2004
Name: date, dtype: object
1985    10,February,2004
1985      05,August,2004
Name: date, dtype: object
1986    09,February,2004
1986      05,August,2004
Name: date, dtype: object
1987    08,February,2004
1987      05,August,2004
Name: date, dtype: object
1988    07,February,2004
1988      05,August,2004
Name: date, dtype: object
1989    07,February,2004
1989      05,August,2004
Name: date, dtype: object
1990    06,February,2004
1990      05,August,2004
Name: date, dtype: object
1991    06,February,2004
1991      05,August,2004
Name: date, dtype: object
1992    05,February,2004
1992      05,August,2004
Name: date, dtype: object
1993    04,February,2004
1993      05,August,2004
Name: date, dtype: object
1994    03,February,2004
1994      05,August,2004
Name: date, dtype: object
1995    02,February,2004
1995      05,August,2004
Name: date, dtype: object
1996    02,February,2004
1996      05,August,2004
Name: date, dtype: object
1997    02,February,2004
1997      05,August,2004
Name: date, dtype: object
1998    01,February,2004
1998      05,August,2004
Name: date, dtype: object
1999    01,February,2004
1999      05,August,2004
Name: date, dtype: object
2000     31,March,2004
2000    05,August,2004
Name: date, dtype: object
2001     30,March,2004
2001    05,August,2004
Name: date, dtype: object
2002     29,March,2004
2002    05,August,2004
Name: date, dtype: object
2003     29,March,2004
2003    05,August,2004
Name: date, dtype: object
2004     29,March,2004
2004    05,August,2004
Name: date, dtype: object
2005     27,March,2004
2005    05,August,2004
Name: date, dtype: object
2006     26,March,2004
2006    05,August,2004
Name: date, dtype: object
2007     26,March,2004
2007    05,August,2004
Name: date, dtype: object
2008     26,March,2004
2008    05,August,2004
Name: date, dtype: object
2009     25,March,2004
2009    05,August,2004
Name: date, dtype: object
2010     25,March,2004
2010    05,August,2004
Name: date, dtype: object
2011     24,March,2004
2011    05,August,2004
Name: date, dtype: object
2012     23,March,2004
2012    05,August,2004
Name: date, dtype: object
2013     22,March,2004
2013    05,August,2004
Name: date, dtype: object
2014     21,March,2004
2014    05,August,2004
Name: date, dtype: object
2015     20,March,2004
2015    05,August,2004
Name: date, dtype: object
2016     19,March,2004
2016    05,August,2004
Name: date, dtype: object
2017     18,March,2004
2017    05,August,2004
Name: date, dtype: object
2018     16,March,2004
2018    05,August,2004
Name: date, dtype: object
2019     15,March,2004
2019    05,August,2004
Name: date, dtype: object
2020     14,March,2004
2020    05,August,2004
Name: date, dtype: object
2021     12,March,2004
2021    05,August,2004
Name: date, dtype: object
2022     10,March,2004
2022    05,August,2004
Name: date, dtype: object
2023     10,March,2004
2023    05,August,2004
Name: date, dtype: object
2024     08,March,2004
2024    05,August,2004
Name: date, dtype: object
2025     07,March,2004
2025    05,August,2004
Name: date, dtype: object
2026     07,March,2004
2026    05,August,2004
Name: date, dtype: object
2027     05,March,2004
2027    05,August,2004
Name: date, dtype: object
2028     05,March,2004
2028    05,August,2004
Name: date, dtype: object
2029     04,March,2004
2029    05,August,2004
Name: date, dtype: object
2030     03,March,2004
2030    05,August,2004
Name: date, dtype: object
2031     02,March,2004
2031    05,August,2004
Name: date, dtype: object
2032     01,March,2004
2032    05,August,2004
Name: date, dtype: object
2033     01,March,2004
2033    05,August,2004
Name: date, dtype: object
2034     30,April,2004
2034    05,August,2004
Name: date, dtype: object
2035     29,April,2004
2035    05,August,2004
Name: date, dtype: object
2036     29,April,2004
2036    05,August,2004
Name: date, dtype: object
2037     28,April,2004
2037    05,August,2004
Name: date, dtype: object
2038     28,April,2004
2038    05,August,2004
Name: date, dtype: object
2039     27,April,2004
2039    05,August,2004
Name: date, dtype: object
2040     26,April,2004
2040    05,August,2004
Name: date, dtype: object
2041     25,April,2004
2041    05,August,2004
Name: date, dtype: object
2042     25,April,2004
2042    05,August,2004
Name: date, dtype: object
2043     24,April,2004
2043    05,August,2004
Name: date, dtype: object
2044     24,April,2004
2044    05,August,2004
Name: date, dtype: object
2045     23,April,2004
2045    05,August,2004
Name: date, dtype: object
2046     22,April,2004
2046    05,August,2004
Name: date, dtype: object
2047     22,April,2004
2047    05,August,2004
Name: date, dtype: object
2048     21,April,2004
2048    05,August,2004
Name: date, dtype: object
2049     20,April,2004
2049    05,August,2004

Name: date, dtype: object
2050     18,April,2004
2050    05,August,2004
Name: date, dtype: object
2051     17,April,2004
2051    05,August,2004
Name: date, dtype: object
2052     16,April,2004
2052    05,August,2004
Name: date, dtype: object
2053     16,April,2004
2053    05,August,2004
Name: date, dtype: object
2054     15,April,2004
2054    05,August,2004
Name: date, dtype: object
2055     15,April,2004
2055    05,August,2004
Name: date, dtype: object
2056     14,April,2004
2056    05,August,2004
Name: date, dtype: object
2057     14,April,2004
2057    05,August,2004
Name: date, dtype: object
2058     14,April,2004
2058    05,August,2004
Name: date, dtype: object
2059     13,April,2004
2059    05,August,2004
Name: date, dtype: object
2060     12,April,2004
2060    05,August,2004
Name: date, dtype: object
2061     11,April,2004
2061    05,August,2004
Name: date, dtype: object
2062     09,April,2004
2062    05,August,2004
Name: date, dtype: object
2063     09,April,2004
2063    05,August,2004
Name: date, dtype: object
2064     08,April,2004
2064    05,August,2004
Name: date, dtype: object
2065     08,April,2004
2065    05,August,2004
Name: date, dtype: object
2066     08,April,2004
2066    05,August,2004
Name: date, dtype: object
2067     07,April,2004
2067    05,August,2004
Name: date, dtype: object
2068     07,April,2004
2068    05,August,2004
Name: date, dtype: object
2069     05,April,2004
2069    05,August,2004
Name: date, dtype: object
2070     05,April,2004
2070    05,August,2004
Name: date, dtype: object
2071     04,April,2004
2071    05,August,2004
Name: date, dtype: object
2072     03,April,2004
2072    05,August,2004
Name: date, dtype: object
2073     01,April,2004
2073    05,August,2004
Name: date, dtype: object
2074       31,May,2004
2074    05,August,2004
Name: date, dtype: object
2075       30,May,2004
2075    05,August,2004
Name: date, dtype: object
2076       28,May,2004
2076    05,August,2004
Name: date, dtype: object
2077       28,May,2004
2077    05,August,2004
Name: date, dtype: object
2078       28,May,2004
2078    05,August,2004
Name: date, dtype: object
2079       27,May,2004
2079    05,August,2004
Name: date, dtype: object
2080       27,May,2004
2080    05,August,2004
Name: date, dtype: object
2081       26,May,2004
2081    05,August,2004
Name: date, dtype: object
2082       25,May,2004
2082    05,August,2004
Name: date, dtype: object
2083       25,May,2004
2083    05,August,2004
Name: date, dtype: object
2084       24,May,2004
2084    05,August,2004
Name: date, dtype: object
2085       24,May,2004
2085    05,August,2004
Name: date, dtype: object
2086       23,May,2004
2086    05,August,2004
Name: date, dtype: object
2087       22,May,2004
2087    05,August,2004
Name: date, dtype: object
2088       22,May,2004
2088    05,August,2004
Name: date, dtype: object
2089       20,May,2004
2089    05,August,2004
Name: date, dtype: object
2090       19,May,2004
2090    05,August,2004
Name: date, dtype: object
2091       18,May,2004
2091    05,August,2004
Name: date, dtype: object
2092       18,May,2004
2092    05,August,2004
Name: date, dtype: object
2093       17,May,2004
2093    05,August,2004
Name: date, dtype: object
2094       17,May,2004
2094    05,August,2004
Name: date, dtype: object
2095       16,May,2004
2095    05,August,2004
Name: date, dtype: object
2096       15,May,2004
2096    05,August,2004
Name: date, dtype: object
2097       13,May,2004
2097    05,August,2004
Name: date, dtype: object
2098       12,May,2004
2098    05,August,2004
Name: date, dtype: object
2099       11,May,2004
2099    05,August,2004
Name: date, dtype: object
2100       10,May,2004
2100    05,August,2004
Name: date, dtype: object
2101       10,May,2004
2101    05,August,2004
Name: date, dtype: object
2102       09,May,2004
2102    05,August,2004
Name: date, dtype: object
2103       09,May,2004
2103    05,August,2004
Name: date, dtype: object
2104       07,May,2004
2104    05,August,2004
Name: date, dtype: object
2105       05,May,2004
2105    05,August,2004
Name: date, dtype: object
2106       03,May,2004
2106    05,August,2004
Name: date, dtype: object
2107       02,May,2004
2107    05,August,2004
Name: date, dtype: object
2108       01,May,2004
2108    05,August,2004
Name: date, dtype: object
2109       01,May,2004
2109    05,August,2004
Name: date, dtype: object
2110       01,May,2004
2110    05,August,2004
Name: date, dtype: object
2111      30,June,2004
2111    05,August,2004
Name: date, dtype: object
2112      29,June,2004
2112    05,August,2004
Name: date, dtype: object
2113      28,June,2004
2113    05,August,2004
Name: date, dtype: object
2114      28,June,2004
2114    05,August,2004
Name: date, dtype: object
2115      27,June,2004
2115    05,August,2004
Name: date, dtype: object
2116      27,June,2004
2116    05,August,2004
Name: date, dtype: object
2117      26,June,2004
2117    05,August,2004
Name: date, dtype: object
2118      25,June,2004
2118    05,August,2004
Name: date, dtype: object
2119      25,June,2004
2119    05,August,2004
Name: date, dtype: object
2120      25,June,2004
2120    05,August,2004
Name: date, dtype: object
2121      24,June,2004
2121    05,August,2004
Name: date, dtype: object
2122      23,June,2004
2122    05,August,2004
Name: date, dtype: object
2123      23,June,2004
2123    05,August,2004
Name: date, dtype: object
2124      23,June,2004
2124    05,August,2004
Name: date, dtype: object
2125      22,June,2004
2125    05,August,2004
Name: date, dtype: object
2126      22,June,2004
2126    05,August,2004
Name: date, dtype: object
2127      21,June,2004
2127    05,August,2004
Name: date, dtype: object
2128      21,June,2004
2128    05,August,2004
Name: date, dtype: object
2129      20,June,2004
2129    05,August,2004
Name: date, dtype: object
2130      20,June,2004
2130    05,August,2004
Name: date, dtype: object
2131      19,June,2004
2131    05,August,2004
Name: date, dtype: object
2132      18,June,2004
2132    05,August,2004
Name: date, dtype: object
2133      18,June,2004
2133    05,August,2004
Name: date, dtype: object
2134      17,June,2004
2134    05,August,2004
Name: date, dtype: object
2135      16,June,2004
2135    05,August,2004
Name: date, dtype: object
2136      16,June,2004
2136    05,August,2004
Name: date, dtype: object
2137      16,June,2004
2137    05,August,2004
Name: date, dtype: object
2138      15,June,2004
2138    05,August,2004
Name: date, dtype: object
2139      15,June,2004
2139    05,August,2004
Name: date, dtype: object
2140      15,June,2004
2140    05,August,2004
Name: date, dtype: object
2141      14,June,2004
2141    05,August,2004
Name: date, dtype: object
2142      14,June,2004
2142    05,August,2004
Name: date, dtype: object
2143      14,June,2004
2143    05,August,2004
Name: date, dtype: object
2144      13,June,2004
2144    05,August,2004
Name: date, dtype: object
2145      13,June,2004
2145    05,August,2004
Name: date, dtype: object
2146      13,June,2004
2146    05,August,2004
Name: date, dtype: object
2147      13,June,2004
2147    05,August,2004
Name: date, dtype: object
2148      12,June,2004
2148    05,August,2004
Name: date, dtype: object
2149      12,June,2004
2149    05,August,2004
Name: date, dtype: object
2150      11,June,2004
2150    05,August,2004
Name: date, dtype: object
2151      11,June,2004
2151    05,August,2004
Name: date, dtype: object
2152      05,June,2004
2152    05,August,2004
Name: date, dtype: object
2153      04,June,2004
2153    05,August,2004
Name: date, dtype: object
2154      02,June,2004
2154    05,August,2004
Name: date, dtype: object
2155      02,June,2004
2155    05,August,2004
Name: date, dtype: object
2156      01,June,2004
2156    05,August,2004
Name: date, dtype: object
2157      01,June,2004
2157    05,August,2004
Name: date, dtype: object
2158      30,July,2004
2158    05,August,2004
Name: date, dtype: object
2159      29,July,2004
2159    05,August,2004
Name: date, dtype: object
2160      28,July,2004
2160    05,August,2004
Name: date, dtype: object
2161      28,July,2004
2161    05,August,2004
Name: date, dtype: object
2162      27,July,2004
2162    05,August,2004
Name: date, dtype: object
2163      25,July,2004
2163    05,August,2004
Name: date, dtype: object
2164      22,July,2004
2164    05,August,2004
Name: date, dtype: object
2165      21,July,2004
2165    05,August,2004
Name: date, dtype: object
2166      20,July,2004
2166    05,August,2004
Name: date, dtype: object
2167      19,July,2004
2167    05,August,2004
Name: date, dtype: object
2168      19,July,2004
2168    05,August,2004
Name: date, dtype: object
2169      19,July,2004
2169    05,August,2004
Name: date, dtype: object
2170      18,July,2004
2170    05,August,2004
Name: date, dtype: object
2171      18,July,2004
2171    05,August,2004
Name: date, dtype: object
2172      16,July,2004
2172    05,August,2004
Name: date, dtype: object
2173      16,July,2004
2173    05,August,2004
Name: date, dtype: object
2174      16,July,2004
2174    05,August,2004
Name: date, dtype: object
2175      16,July,2004
2175    05,August,2004
Name: date, dtype: object
2176      15,July,2004
2176    05,August,2004
Name: date, dtype: object
2177      14,July,2004
2177    05,August,2004
Name: date, dtype: object
2178      13,July,2004
2178    05,August,2004
Name: date, dtype: object
2179      13,July,2004
2179    05,August,2004
Name: date, dtype: object
2180      13,July,2004
2180    05,August,2004
Name: date, dtype: object
2181      12,July,2004
2181    05,August,2004
Name: date, dtype: object
2182      12,July,2004
2182    05,August,2004
Name: date, dtype: object
2183      12,July,2004
2183    05,August,2004
Name: date, dtype: object
2184      12,July,2004
2184    05,August,2004
Name: date, dtype: object
2185      11,July,2004
2185    05,August,2004
Name: date, dtype: object
2186      11,July,2004
2186    05,August,2004
Name: date, dtype: object
2187      11,July,2004
2187    05,August,2004
Name: date, dtype: object
2188      10,July,2004
2188    05,August,2004
Name: date, dtype: object
2189      10,July,2004
2189    05,August,2004
Name: date, dtype: object

2190      09,July,2004
2190    05,August,2004
Name: date, dtype: object
2191      09,July,2004
2191    05,August,2004
Name: date, dtype: object
2192      09,July,2004
2192    05,August,2004
Name: date, dtype: object
2193      09,July,2004
2193    05,August,2004
Name: date, dtype: object
2194      08,July,2004
2194    05,August,2004
Name: date, dtype: object
2195      08,July,2004
2195    05,August,2004
Name: date, dtype: object
2196      07,July,2004
2196    05,August,2004
Name: date, dtype: object
2197      07,July,2004
2197    05,August,2004
Name: date, dtype: object
2198      07,July,2004
2198    05,August,2004
Name: date, dtype: object
2199      06,July,2004
2199    05,August,2004
Name: date, dtype: object
2200      06,July,2004
2200    05,August,2004
Name: date, dtype: object
2201      06,July,2004
2201    05,August,2004
Name: date, dtype: object
2202      06,July,2004
2202    05,August,2004
Name: date, dtype: object
2203      05,July,2004
2203    05,August,2004
Name: date, dtype: object
2204      05,July,2004
2204    05,August,2004
Name: date, dtype: object
2205      04,July,2004
2205    05,August,2004
Name: date, dtype: object
2206      04,July,2004
2206    05,August,2004
Name: date, dtype: object
2207      04,July,2004
2207    05,August,2004
Name: date, dtype: object
2208      03,July,2004
2208    05,August,2004
Name: date, dtype: object
2209      03,July,2004
2209    05,August,2004
Name: date, dtype: object
2210      03,July,2004
2210    05,August,2004
Name: date, dtype: object
2211      02,July,2004
2211    05,August,2004
Name: date, dtype: object
2212      01,July,2004
2212    05,August,2004
Name: date, dtype: object
2213      01,July,2004
2213    05,August,2004
Name: date, dtype: object
2214    05,August,2004
2214    05,August,2004
Name: date, dtype: object
2215    04,August,2004
2215    05,August,2004
Name: date, dtype: object
2216    04,August,2004
2216    05,August,2004
Name: date, dtype: object
2217    03,August,2004
2217    05,August,2004
Name: date, dtype: object
2218    01,August,2004
2218    05,August,2004
Name: date, dtype: object
2219    01,August,2004
2219    05,August,2004
Name: date, dtype: object
2220      28,July,2004
2220    05,August,2004
Name: date, dtype: object
2221      22,July,2004
2221    05,August,2004
Name: date, dtype: object
2222       18,May,2004
2222    05,August,2004
Name: date, dtype: object
2223      25,June,2004
2223    05,August,2004
Name: date, dtype: object
2224      18,June,2004
2224    05,August,2004
Name: date, dtype: object
2225      04,June,2004
2225    05,August,2004
Name: date, dtype: object
2226      15,July,2004
2226    05,August,2004
Name: date, dtype: object
2227      09,June,2004
2227    05,August,2004
Name: date, dtype: object
2228      09,June,2004
2228    05,August,2004
Name: date, dtype: object
2229      09,June,2004
2229    05,August,2004
Name: date, dtype: object
2230      09,June,2004
2230    05,August,2004
Name: date, dtype: object
2231      09,June,2004
2231    05,August,2004
Name: date, dtype: object
2232      09,June,2004
2232    05,August,2004
Name: date, dtype: object
2233      09,June,2004
2233    05,August,2004
Name: date, dtype: object
2234      09,June,2004
2234    05,August,2004
Name: date, dtype: object
2235      09,June,2004
2235    05,August,2004
Name: date, dtype: object
2236      09,June,2004
2236    05,August,2004
Name: date, dtype: object
2237      09,June,2004
2237    05,August,2004
Name: date, dtype: object
2238      09,June,2004
2238    05,August,2004
Name: date, dtype: object
2239      09,June,2004
2239    05,August,2004
Name: date, dtype: object
2240      09,June,2004
2240    05,August,2004
Name: date, dtype: object
2241      09,June,2004
2241    05,August,2004
Name: date, dtype: object
2242      09,June,2004
2242    05,August,2004
Name: date, dtype: object
2243      09,June,2004
2243    05,August,2004
Name: date, dtype: object
2244      09,June,2004
2244    05,August,2004
Name: date, dtype: object
2245      09,June,2004
2245    05,August,2004
Name: date, dtype: object
2246      09,June,2004
2246    05,August,2004
Name: date, dtype: object
2247      09,June,2004
2247    05,August,2004
Name: date, dtype: object
2248      09,June,2004
2248    05,August,2004
Name: date, dtype: object
2249      09,June,2004
2249    05,August,2004
Name: date, dtype: object
2250      09,June,2004
2250    05,August,2004
Name: date, dtype: object
2251      09,June,2004
2251    05,August,2004
Name: date, dtype: object
2252      09,June,2004
2252    05,August,2004
Name: date, dtype: object
2253      09,June,2004
2253    05,August,2004
Name: date, dtype: object
2254      09,June,2004
2254    05,August,2004
Name: date, dtype: object
2255      09,June,2004
2255    05,August,2004
Name: date, dtype: object
2256      09,June,2004
2256    05,August,2004
Name: date, dtype: object
2257      09,June,2004
2257    05,August,2004
Name: date, dtype: object
2258      09,June,2004
2258    05,August,2004
Name: date, dtype: object
2259      09,June,2004
2259    05,August,2004
Name: date, dtype: object
2260      09,June,2004
2260    05,August,2004
Name: date, dtype: object
2261      09,June,2004
2261    05,August,2004
Name: date, dtype: object
2262      09,June,2004
2262    05,August,2004
Name: date, dtype: object
2263      09,June,2004
2263    05,August,2004
Name: date, dtype: object
2264      09,June,2004
2264    05,August,2004
Name: date, dtype: object
2265      09,June,2004
2265    05,August,2004
Name: date, dtype: object
2266      09,June,2004
2266    05,August,2004
Name: date, dtype: object
2267      09,June,2004
2267    05,August,2004
Name: date, dtype: object
2268      09,June,2004
2268    05,August,2004
Name: date, dtype: object
2269      09,June,2004
2269    05,August,2004
Name: date, dtype: object
2270      09,June,2004
2270    05,August,2004
Name: date, dtype: object
2271      09,June,2004
2271    05,August,2004
Name: date, dtype: object
2272      09,June,2004
2272    05,August,2004
Name: date, dtype: object
2273      09,June,2004
2273    05,August,2004
Name: date, dtype: object
2274      09,June,2004
2274    05,August,2004
Name: date, dtype: object
2275      09,June,2004
2275    05,August,2004
Name: date, dtype: object
2276      09,June,2004
2276    05,August,2004
Name: date, dtype: object
2277      09,June,2004
2277    05,August,2004
Name: date, dtype: object
2278      09,June,2004
2278    05,August,2004
Name: date, dtype: object
2279      09,June,2004
2279    05,August,2004
Name: date, dtype: object
2280      09,June,2004
2280    05,August,2004
Name: date, dtype: object
2281      09,June,2004
2281    05,August,2004
Name: date, dtype: object
2282      09,June,2004
2282    05,August,2004
Name: date, dtype: object
2283      09,June,2004
2283    05,August,2004
Name: date, dtype: object
2284      09,June,2004
2284    05,August,2004
Name: date, dtype: object
2285      09,June,2004
2285    05,August,2004
Name: date, dtype: object
2286      09,June,2004
2286    05,August,2004
Name: date, dtype: object
2287      09,June,2004
2287    05,August,2004
Name: date, dtype: object
2288      09,June,2004
2288    05,August,2004
Name: date, dtype: object
2289      09,June,2004
2289    05,August,2004
Name: date, dtype: object
2290      09,June,2004
2290    05,August,2004
Name: date, dtype: object
2291      09,June,2004
2291    05,August,2004
Name: date, dtype: object
2292      09,June,2004
2292    05,August,2004
Name: date, dtype: object
2293      09,June,2004
2293    05,August,2004
Name: date, dtype: object
2294      09,June,2004
2294    05,August,2004
Name: date, dtype: object
2295      09,June,2004
2295    05,August,2004
Name: date, dtype: object
2296      09,June,2004
2296    05,August,2004
Name: date, dtype: object
2297      09,June,2004
2297    05,August,2004
Name: date, dtype: object
2298      09,June,2004
2298    05,August,2004
Name: date, dtype: object
2299      09,June,2004
2299    05,August,2004
Name: date, dtype: object
2300      09,June,2004
2300    05,August,2004
Name: date, dtype: object
2301      09,June,2004
2301    05,August,2004
Name: date, dtype: object
2302      09,June,2004
2302    05,August,2004
Name: date, dtype: object
2303      09,June,2004
2303    05,August,2004
Name: date, dtype: object
2304      09,June,2004
2304    05,August,2004
Name: date, dtype: object
2305      09,June,2004
2305    05,August,2004
Name: date, dtype: object
2306      09,June,2004
2306    05,August,2004
Name: date, dtype: object
2307      09,June,2004
2307    05,August,2004
Name: date, dtype: object
2308      09,June,2004
2308    05,August,2004
Name: date, dtype: object
2309      09,June,2004
2309    05,August,2004
Name: date, dtype: object
2310      09,June,2004
2310    05,August,2004
Name: date, dtype: object
2311      09,June,2004
2311    05,August,2004
Name: date, dtype: object
2312      09,June,2004
2312    05,August,2004
Name: date, dtype: object
2313      09,June,2004
2313    05,August,2004
Name: date, dtype: object
2314      09,June,2004
2314    05,August,2004
Name: date, dtype: object
2315      09,June,2004
2315    05,August,2004
Name: date, dtype: object
2316      09,June,2004
2316    05,August,2004
Name: date, dtype: object
2317      09,June,2004
2317    05,August,2004
Name: date, dtype: object
2318      09,June,2004
2318    05,August,2004
Name: date, dtype: object

2319      09,June,2004
2319    05,August,2004
Name: date, dtype: object
2320      09,June,2004
2320    05,August,2004
Name: date, dtype: object
2321      09,June,2004
2321    05,August,2004
Name: date, dtype: object
2322      09,June,2004
2322    05,August,2004
Name: date, dtype: object
2323      09,June,2004
2323    05,August,2004
Name: date, dtype: object
2324      09,June,2004
2324    05,August,2004
Name: date, dtype: object
2325      09,June,2004
2325    05,August,2004
Name: date, dtype: object
2326      09,June,2004
2326    05,August,2004
Name: date, dtype: object
2327      09,June,2004
2327    05,August,2004
Name: date, dtype: object
2328      09,June,2004
2328    05,August,2004
Name: date, dtype: object
2329      09,June,2004
2329    05,August,2004
Name: date, dtype: object
2330      09,June,2004
2330    05,August,2004
Name: date, dtype: object
2331      09,June,2004
2331    05,August,2004
Name: date, dtype: object
2332      09,June,2004
2332    05,August,2004
Name: date, dtype: object
2333      09,June,2004
2333    05,August,2004
Name: date, dtype: object
2334      09,June,2004
2334    05,August,2004
Name: date, dtype: object
2335      09,June,2004
2335    05,August,2004
Name: date, dtype: object
2336      09,June,2004
2336    05,August,2004
Name: date, dtype: object
2337      09,June,2004
2337    05,August,2004
Name: date, dtype: object
2338      09,June,2004
2338    05,August,2004
Name: date, dtype: object
2339      09,June,2004
2339    05,August,2004
Name: date, dtype: object
2340      09,June,2004
2340    05,August,2004
Name: date, dtype: object
2341      09,June,2004
2341    05,August,2004
Name: date, dtype: object
2342      09,June,2004
2342    05,August,2004
Name: date, dtype: object
2343      09,June,2004
2343    05,August,2004
Name: date, dtype: object
2344      09,June,2004
2344    05,August,2004
Name: date, dtype: object
2345      09,June,2004
2345    05,August,2004
Name: date, dtype: object
2346      09,June,2004
2346    05,August,2004
Name: date, dtype: object
2347      09,June,2004
2347    05,August,2004
Name: date, dtype: object
2348      09,June,2004
2348    05,August,2004
Name: date, dtype: object
2349      09,June,2004
2349    05,August,2004
Name: date, dtype: object
2350      09,June,2004
2350    05,August,2004
Name: date, dtype: object
2351      09,June,2004
2351    05,August,2004
Name: date, dtype: object
2352      09,June,2004
2352    05,August,2004
Name: date, dtype: object
2353      09,June,2004
2353    05,August,2004
Name: date, dtype: object
2354      09,June,2004
2354    05,August,2004
Name: date, dtype: object
2355      09,June,2004
2355    05,August,2004
Name: date, dtype: object
2356      09,June,2004
2356    05,August,2004
Name: date, dtype: object
2357      09,June,2004
2357    05,August,2004
Name: date, dtype: object
2358      09,June,2004
2358    05,August,2004
Name: date, dtype: object
2359      09,June,2004
2359    05,August,2004
Name: date, dtype: object
2360      09,June,2004
2360    05,August,2004
Name: date, dtype: object
2361      09,June,2004
2361    05,August,2004
Name: date, dtype: object
2362      09,June,2004
2362    05,August,2004
Name: date, dtype: object
2363      09,June,2004
2363    05,August,2004
Name: date, dtype: object
2364      09,June,2004
2364    05,August,2004
Name: date, dtype: object
2365      09,June,2004
2365    05,August,2004
Name: date, dtype: object
2366      09,June,2004
2366    05,August,2004
Name: date, dtype: object
2367      09,June,2004
2367    05,August,2004
Name: date, dtype: object
2368      09,June,2004
2368    05,August,2004
Name: date, dtype: object
2369      09,June,2004
2369    05,August,2004
Name: date, dtype: object
2370      09,June,2004
2370    05,August,2004
Name: date, dtype: object
2371      09,June,2004
2371    05,August,2004
Name: date, dtype: object
2372      09,June,2004
2372    05,August,2004
Name: date, dtype: object
2373      09,June,2004
2373    05,August,2004
Name: date, dtype: object
2374      09,June,2004
2374    05,August,2004
Name: date, dtype: object
2375      09,June,2004
2375    05,August,2004
Name: date, dtype: object
2376      09,June,2004
2376    05,August,2004
Name: date, dtype: object
2377      09,June,2004
2377    05,August,2004
Name: date, dtype: object
2378      09,June,2004
2378    05,August,2004
Name: date, dtype: object
2379      09,June,2004
2379    05,August,2004
Name: date, dtype: object
2380      09,June,2004
2380    05,August,2004
Name: date, dtype: object
2381      09,June,2004
2381    05,August,2004
Name: date, dtype: object
2382      09,June,2004
2382    05,August,2004
Name: date, dtype: object
2383      09,June,2004
2383    05,August,2004
Name: date, dtype: object
2384      09,June,2004
2384    05,August,2004
Name: date, dtype: object
2385      09,June,2004
2385    05,August,2004
Name: date, dtype: object
2386      09,June,2004
2386    05,August,2004
Name: date, dtype: object
2387      09,June,2004
2387    05,August,2004
Name: date, dtype: object
2388      09,June,2004
2388    05,August,2004
Name: date, dtype: object
2389      09,June,2004
2389    05,August,2004
Name: date, dtype: object
2390      09,June,2004
2390    05,August,2004
Name: date, dtype: object
2391      09,June,2004
2391    05,August,2004
Name: date, dtype: object
2392      09,June,2004
2392    05,August,2004
Name: date, dtype: object
2393      09,June,2004
2393    05,August,2004
Name: date, dtype: object
2394      09,June,2004
2394    05,August,2004
Name: date, dtype: object
2395      09,June,2004
2395    05,August,2004
Name: date, dtype: object
2396      09,June,2004
2396    05,August,2004
Name: date, dtype: object
2397      09,June,2004
2397    05,August,2004
Name: date, dtype: object
2398      09,June,2004
2398    05,August,2004
Name: date, dtype: object
2399      09,June,2004
2399    05,August,2004
Name: date, dtype: object
2400      09,June,2004
2400    05,August,2004
Name: date, dtype: object
2401      09,June,2004
2401    05,August,2004
Name: date, dtype: object
2402      09,June,2004
2402    05,August,2004
Name: date, dtype: object
2403      09,June,2004
2403    05,August,2004
Name: date, dtype: object
2404      09,June,2004
2404    05,August,2004
Name: date, dtype: object
2405      09,June,2004
2405    05,August,2004
Name: date, dtype: object
2406      09,June,2004
2406    05,August,2004
Name: date, dtype: object
2407      09,June,2004
2407    05,August,2004
Name: date, dtype: object
2408      09,June,2004
2408    05,August,2004
Name: date, dtype: object
2409      09,June,2004
2409    05,August,2004
Name: date, dtype: object
2410      09,June,2004
2410    05,August,2004
Name: date, dtype: object
2411      09,June,2004
2411    05,August,2004
Name: date, dtype: object
2412      09,June,2004
2412    05,August,2004
Name: date, dtype: object
2413      09,June,2004
2413    05,August,2004
Name: date, dtype: object
2414      09,June,2004
2414    05,August,2004
Name: date, dtype: object
2415      09,June,2004
2415    05,August,2004
Name: date, dtype: object
2416      09,June,2004
2416    05,August,2004
Name: date, dtype: object
2417      09,June,2004
2417    05,August,2004
Name: date, dtype: object
2418      09,June,2004
2418    05,August,2004
Name: date, dtype: object
2419      09,June,2004
2419    05,August,2004
Name: date, dtype: object
2420      09,June,2004
2420    05,August,2004
Name: date, dtype: object
2421      09,June,2004
2421    05,August,2004
Name: date, dtype: object
2422      09,June,2004
2422    05,August,2004
Name: date, dtype: object
2423      09,June,2004
2423    05,August,2004
Name: date, dtype: object
2424      09,June,2004
2424    05,August,2004
Name: date, dtype: object
2425      09,June,2004
2425    05,August,2004
Name: date, dtype: object
2426      09,June,2004
2426    05,August,2004
Name: date, dtype: object
2427      09,June,2004
2427    05,August,2004
Name: date, dtype: object
2428      09,June,2004
2428    05,August,2004
Name: date, dtype: object
2429      09,June,2004
2429    05,August,2004
Name: date, dtype: object
2430      09,June,2004
2430    05,August,2004
Name: date, dtype: object
2431      09,June,2004
2431    05,August,2004
Name: date, dtype: object
2432      09,June,2004
2432    05,August,2004
Name: date, dtype: object
2433      09,June,2004
2433    05,August,2004
Name: date, dtype: object
2434      09,June,2004
2434    05,August,2004
Name: date, dtype: object
2435      09,June,2004
2435    05,August,2004
Name: date, dtype: object
2436      09,June,2004
2436    05,August,2004
Name: date, dtype: object
2437      09,June,2004
2437    05,August,2004
Name: date, dtype: object
2438      09,June,2004
2438    05,August,2004
Name: date, dtype: object
2439      09,June,2004
2439    05,August,2004
Name: date, dtype: object
2440      09,June,2004
2440    05,August,2004
Name: date, dtype: object
2441      09,June,2004
2441    05,August,2004
Name: date, dtype: object
2442      09,June,2004
2442    05,August,2004
Name: date, dtype: object
2443      09,June,2004
2443    05,August,2004
Name: date, dtype: object
2444      09,June,2004
2444    05,August,2004
Name: date, dtype: object
2445      09,June,2004
2445    05,August,2004
Name: date, dtype: object
2446      09,June,2004
2446    05,August,2004
Name: date, dtype: object
2447      09,June,2004
2447    05,August,2004
Name: date, dtype: object

2448      09,June,2004
2448    05,August,2004
Name: date, dtype: object
2449      09,June,2004
2449    05,August,2004
Name: date, dtype: object
2450      09,June,2004
2450    05,August,2004
Name: date, dtype: object
2451      09,June,2004
2451    05,August,2004
Name: date, dtype: object
2452      09,June,2004
2452    05,August,2004
Name: date, dtype: object
2453      09,June,2004
2453    05,August,2004
Name: date, dtype: object
2454      09,June,2004
2454    05,August,2004
Name: date, dtype: object
2455      09,June,2004
2455    05,August,2004
Name: date, dtype: object
2456      09,June,2004
2456    05,August,2004
Name: date, dtype: object
2457      09,June,2004
2457    05,August,2004
Name: date, dtype: object
2458      09,June,2004
2458    05,August,2004
Name: date, dtype: object
2459      09,June,2004
2459    05,August,2004
Name: date, dtype: object
2460      09,June,2004
2460    05,August,2004
Name: date, dtype: object
2461      09,June,2004
2461    05,August,2004
Name: date, dtype: object
2462      09,June,2004
2462    05,August,2004
Name: date, dtype: object
2463      09,June,2004
2463    05,August,2004
Name: date, dtype: object
2464      09,June,2004
2464    05,August,2004
Name: date, dtype: object
2465      09,June,2004
2465    05,August,2004
Name: date, dtype: object
2466      09,June,2004
2466    05,August,2004
Name: date, dtype: object
2467      09,June,2004
2467    05,August,2004
Name: date, dtype: object
2468      09,June,2004
2468    05,August,2004
Name: date, dtype: object
2469      09,June,2004
2469    05,August,2004
Name: date, dtype: object
2470      09,June,2004
2470    05,August,2004
Name: date, dtype: object
2471      09,June,2004
2471    05,August,2004
Name: date, dtype: object
2472      09,June,2004
2472    05,August,2004
Name: date, dtype: object
2473      09,June,2004
2473    05,August,2004
Name: date, dtype: object
2474      09,June,2004
2474    05,August,2004
Name: date, dtype: object
2475      09,June,2004
2475    05,August,2004
Name: date, dtype: object
2476      09,June,2004
2476    05,August,2004
Name: date, dtype: object
2477      09,June,2004
2477    05,August,2004
Name: date, dtype: object
2478      09,June,2004
2478    05,August,2004
Name: date, dtype: object
2479      09,June,2004
2479    05,August,2004
Name: date, dtype: object
2480      09,June,2004
2480    05,August,2004
Name: date, dtype: object
2481      09,June,2004
2481    05,August,2004
Name: date, dtype: object
2482      09,June,2004
2482    05,August,2004
Name: date, dtype: object
2483      09,June,2004
2483    05,August,2004
Name: date, dtype: object
2484      09,June,2004
2484    05,August,2004
Name: date, dtype: object
2485      09,June,2004
2485    05,August,2004
Name: date, dtype: object
2486      09,June,2004
2486    05,August,2004
Name: date, dtype: object
2487      09,June,2004
2487    05,August,2004
Name: date, dtype: object
2488      09,June,2004
2488    05,August,2004
Name: date, dtype: object
2489      09,June,2004
2489    05,August,2004
Name: date, dtype: object
2490      09,June,2004
2490    05,August,2004
Name: date, dtype: object
2491      09,June,2004
2491    05,August,2004
Name: date, dtype: object
2492      09,June,2004
2492    05,August,2004
Name: date, dtype: object
2493      09,June,2004
2493    05,August,2004
Name: date, dtype: object
2494      09,June,2004
2494    05,August,2004
Name: date, dtype: object
2495      09,June,2004
2495    05,August,2004
Name: date, dtype: object
2496      09,June,2004
2496    05,August,2004
Name: date, dtype: object
2497      09,June,2004
2497    05,August,2004
Name: date, dtype: object
2498      09,June,2004
2498    05,August,2004
Name: date, dtype: object
2499      09,June,2004
2499    05,August,2004
Name: date, dtype: object
2500      09,June,2004
2500    05,August,2004
Name: date, dtype: object
2501      09,June,2004
2501    05,August,2004
Name: date, dtype: object
2502      09,June,2004
2502    05,August,2004
Name: date, dtype: object
2503      09,June,2004
2503    05,August,2004
Name: date, dtype: object
2504      09,June,2004
2504    05,August,2004
Name: date, dtype: object
2505      09,June,2004
2505    05,August,2004
Name: date, dtype: object
2506      09,June,2004
2506    05,August,2004
Name: date, dtype: object
2507      09,June,2004
2507    05,August,2004
Name: date, dtype: object
2508      09,June,2004
2508    05,August,2004
Name: date, dtype: object
2509      09,June,2004
2509    05,August,2004
Name: date, dtype: object
2510      09,June,2004
2510    05,August,2004
Name: date, dtype: object
2511      09,June,2004
2511    05,August,2004
Name: date, dtype: object
2512      09,June,2004
2512    05,August,2004
Name: date, dtype: object
2513      09,June,2004
2513    05,August,2004
Name: date, dtype: object
2514      09,June,2004
2514    05,August,2004
Name: date, dtype: object
2515      09,June,2004
2515    05,August,2004
Name: date, dtype: object
2516      09,June,2004
2516    05,August,2004
Name: date, dtype: object
2517      09,June,2004
2517    05,August,2004
Name: date, dtype: object
2518      09,June,2004
2518    05,August,2004
Name: date, dtype: object
2519      09,June,2004
2519    05,August,2004
Name: date, dtype: object
2520      09,June,2004
2520    05,August,2004
Name: date, dtype: object
2521      09,June,2004
2521    05,August,2004
Name: date, dtype: object
2522      09,June,2004
2522    05,August,2004
Name: date, dtype: object
2523      09,June,2004
2523    05,August,2004
Name: date, dtype: object
2524      09,June,2004
2524    05,August,2004
Name: date, dtype: object
2525      09,June,2004
2525    05,August,2004
Name: date, dtype: object
2526      09,June,2004
2526    05,August,2004
Name: date, dtype: object
2527      09,June,2004
2527    05,August,2004
Name: date, dtype: object
2528      09,June,2004
2528    05,August,2004
Name: date, dtype: object
2529      09,June,2004
2529    05,August,2004
Name: date, dtype: object
2530      09,June,2004
2530    05,August,2004
Name: date, dtype: object
2531      09,June,2004
2531    05,August,2004
Name: date, dtype: object
2532      09,June,2004
2532    05,August,2004
Name: date, dtype: object
2533      09,June,2004
2533    05,August,2004
Name: date, dtype: object
2534      09,June,2004
2534    05,August,2004
Name: date, dtype: object
2535      09,June,2004
2535    05,August,2004
Name: date, dtype: object
2536      09,June,2004
2536    05,August,2004
Name: date, dtype: object
2537      09,June,2004
2537    05,August,2004
Name: date, dtype: object
2538      09,June,2004
2538    05,August,2004
Name: date, dtype: object
2539      09,June,2004
2539    05,August,2004
Name: date, dtype: object
2540      09,June,2004
2540    05,August,2004
Name: date, dtype: object
2541      09,June,2004
2541    05,August,2004
Name: date, dtype: object
2542      09,June,2004
2542    05,August,2004
Name: date, dtype: object
2543      09,June,2004
2543    05,August,2004
Name: date, dtype: object
2544      09,June,2004
2544    05,August,2004
Name: date, dtype: object
2545      09,June,2004
2545    05,August,2004
Name: date, dtype: object
2546      09,June,2004
2546    05,August,2004
Name: date, dtype: object
2547      09,June,2004
2547    05,August,2004
Name: date, dtype: object
2548      09,June,2004
2548    05,August,2004
Name: date, dtype: object
2549      09,June,2004
2549    05,August,2004
Name: date, dtype: object
2550      09,June,2004
2550    05,August,2004
Name: date, dtype: object
2551      09,June,2004
2551    05,August,2004
Name: date, dtype: object
2552      09,June,2004
2552    05,August,2004
Name: date, dtype: object
2553      09,June,2004
2553    05,August,2004
Name: date, dtype: object
2554      09,June,2004
2554    05,August,2004
Name: date, dtype: object
2555      09,June,2004
2555    05,August,2004
Name: date, dtype: object
2556      09,June,2004
2556    05,August,2004
Name: date, dtype: object
2557      09,June,2004
2557    05,August,2004
Name: date, dtype: object
2558      09,June,2004
2558    05,August,2004
Name: date, dtype: object
2559      09,June,2004
2559    05,August,2004
Name: date, dtype: object
2560      09,June,2004
2560    05,August,2004
Name: date, dtype: object
2561      09,June,2004
2561    05,August,2004
Name: date, dtype: object
2562      09,June,2004
2562    05,August,2004
Name: date, dtype: object
2563      09,June,2004
2563    05,August,2004
Name: date, dtype: object
2564      09,June,2004
2564    05,August,2004
Name: date, dtype: object
2565      09,June,2004
2565    05,August,2004
Name: date, dtype: object
2566      09,June,2004
2566    05,August,2004
Name: date, dtype: object
2567      09,June,2004
2567    05,August,2004
Name: date, dtype: object
2568      09,June,2004
2568    05,August,2004
Name: date, dtype: object
2569      09,June,2004
2569    05,August,2004
Name: date, dtype: object
2570      09,June,2004
2570    05,August,2004
Name: date, dtype: object
2571      09,June,2004
2571    05,August,2004
Name: date, dtype: object
2572      09,June,2004
2572    05,August,2004
Name: date, dtype: object
2573      09,June,2004
2573    05,August,2004
Name: date, dtype: object
2574      09,June,2004
2574    05,August,2004
Name: date, dtype: object
2575      09,June,2004
2575    05,August,2004
Name: date, dtype: object
2576      09,June,2004
2576    05,August,2004
Name: date, dtype: object
2577      09,June,2004
2577    05,August,2004
Name: date, dtype: object
2578      09,June,2004
2578    05,August,2004
Name: date, dtype: object
2579      09,June,2004
2579    05,August,2004
Name: date, dtype: object
2580      09,June,2004
2580    05,August,2004

Name: date, dtype: object
2581      09,June,2004
2581    05,August,2004
Name: date, dtype: object
2582      09,June,2004
2582    05,August,2004
Name: date, dtype: object
2583      09,June,2004
2583    05,August,2004
Name: date, dtype: object
2584      09,June,2004
2584    05,August,2004
Name: date, dtype: object
2585      09,June,2004
2585    05,August,2004
Name: date, dtype: object
2586      09,June,2004
2586    05,August,2004
Name: date, dtype: object
2587      09,June,2004
2587    05,August,2004
Name: date, dtype: object
2588      09,June,2004
2588    05,August,2004
Name: date, dtype: object
2589      09,June,2004
2589    05,August,2004
Name: date, dtype: object
2590      09,June,2004
2590    05,August,2004
Name: date, dtype: object
2591      09,June,2004
2591    05,August,2004
Name: date, dtype: object
2592      09,June,2004
2592    05,August,2004
Name: date, dtype: object
2593      09,June,2004
2593    05,August,2004
Name: date, dtype: object
2594      09,June,2004
2594    05,August,2004
Name: date, dtype: object
2595      09,June,2004
2595    05,August,2004
Name: date, dtype: object
2596      09,June,2004
2596    05,August,2004
Name: date, dtype: object
2597      09,June,2004
2597    05,August,2004
Name: date, dtype: object
2598      09,June,2004
2598    05,August,2004
Name: date, dtype: object
2599      09,June,2004
2599    05,August,2004
Name: date, dtype: object
2600      09,June,2004
2600    05,August,2004
Name: date, dtype: object
2601      09,June,2004
2601    05,August,2004
Name: date, dtype: object
2602      09,June,2004
2602    05,August,2004
Name: date, dtype: object
2603      09,June,2004
2603    05,August,2004
Name: date, dtype: object
2604      09,June,2004
2604    05,August,2004
Name: date, dtype: object
2605      09,June,2004
2605    05,August,2004
Name: date, dtype: object
2606      09,June,2004
2606    05,August,2004
Name: date, dtype: object
2607      09,June,2004
2607    05,August,2004
Name: date, dtype: object
2608      09,June,2004
2608    05,August,2004
Name: date, dtype: object
2609      09,June,2004
2609    05,August,2004
Name: date, dtype: object
2610      09,June,2004
2610    05,August,2004
Name: date, dtype: object
2611      09,June,2004
2611    05,August,2004
Name: date, dtype: object
2612      09,June,2004
2612    05,August,2004
Name: date, dtype: object
2613      09,June,2004
2613    05,August,2004
Name: date, dtype: object
2614      09,June,2004
2614    05,August,2004
Name: date, dtype: object
2615      09,June,2004
2615    05,August,2004
Name: date, dtype: object
2616      09,June,2004
2616    05,August,2004
Name: date, dtype: object
2617      09,June,2004
2617    05,August,2004
Name: date, dtype: object
2618      09,June,2004
2618    05,August,2004
Name: date, dtype: object
2619      09,June,2004
2619    05,August,2004
Name: date, dtype: object
2620      09,June,2004
2620    05,August,2004
Name: date, dtype: object
2621      09,June,2004
2621    05,August,2004
Name: date, dtype: object
2622      09,June,2004
2622    05,August,2004
Name: date, dtype: object
2623      09,June,2004
2623    05,August,2004
Name: date, dtype: object
2624      09,June,2004
2624    05,August,2004
Name: date, dtype: object
2625      09,June,2004
2625    05,August,2004
Name: date, dtype: object
2626      09,June,2004
2626    05,August,2004
Name: date, dtype: object
2627      09,June,2004
2627    05,August,2004
Name: date, dtype: object
2628      09,June,2004
2628    05,August,2004
Name: date, dtype: object
2629      09,June,2004
2629    05,August,2004
Name: date, dtype: object
2630      09,June,2004
2630    05,August,2004
Name: date, dtype: object
2631      09,June,2004
2631    05,August,2004
Name: date, dtype: object
2632      09,June,2004
2632    05,August,2004
Name: date, dtype: object
2633      09,June,2004
2633    05,August,2004
Name: date, dtype: object
2634      09,June,2004
2634    05,August,2004
Name: date, dtype: object
2635      09,June,2004
2635    05,August,2004
Name: date, dtype: object
2636      09,June,2004
2636    05,August,2004
Name: date, dtype: object
2637      09,June,2004
2637    05,August,2004
Name: date, dtype: object
2638      09,June,2004
2638    05,August,2004
Name: date, dtype: object
2639      09,June,2004
2639    05,August,2004
Name: date, dtype: object
2640      09,June,2004
2640    05,August,2004
Name: date, dtype: object
2641      09,June,2004
2641    05,August,2004
Name: date, dtype: object
2642      09,June,2004
2642    05,August,2004
Name: date, dtype: object
2643      09,June,2004
2643    05,August,2004
Name: date, dtype: object
2644      09,June,2004
2644    05,August,2004
Name: date, dtype: object
2645      09,June,2004
2645    05,August,2004
Name: date, dtype: object
2646      09,June,2004
2646    05,August,2004
Name: date, dtype: object
2647      09,June,2004
2647    05,August,2004
Name: date, dtype: object
2648      09,June,2004
2648    05,August,2004
Name: date, dtype: object
2649      09,June,2004
2649    05,August,2004
Name: date, dtype: object
2650      09,June,2004
2650    05,August,2004
Name: date, dtype: object
2651      09,June,2004
2651    05,August,2004
Name: date, dtype: object
2652      09,June,2004
2652    05,August,2004
Name: date, dtype: object
2653      09,June,2004
2653    05,August,2004
Name: date, dtype: object
2654      09,June,2004
2654    05,August,2004
Name: date, dtype: object
2655      09,June,2004
2655    05,August,2004
Name: date, dtype: object
2656      09,June,2004
2656    05,August,2004
Name: date, dtype: object
2657      09,June,2004
2657    05,August,2004
Name: date, dtype: object
2658      09,June,2004
2658    05,August,2004
Name: date, dtype: object
2659      09,June,2004
2659    05,August,2004
Name: date, dtype: object
2660      09,June,2004
2660    05,August,2004
Name: date, dtype: object
2661      09,June,2004
2661    05,August,2004
Name: date, dtype: object
2662      09,June,2004
2662    05,August,2004
Name: date, dtype: object
2663      09,June,2004
2663    05,August,2004
Name: date, dtype: object
2664      09,June,2004
2664    05,August,2004
Name: date, dtype: object
2665      09,June,2004
2665    05,August,2004
Name: date, dtype: object
2666      09,June,2004
2666    05,August,2004
Name: date, dtype: object
2667      09,June,2004
2667    05,August,2004
Name: date, dtype: object
2668      09,June,2004
2668    05,August,2004
Name: date, dtype: object
2669      09,June,2004
2669    05,August,2004
Name: date, dtype: object
2670      09,June,2004
2670    05,August,2004
Name: date, dtype: object
2671      09,June,2004
2671    05,August,2004
Name: date, dtype: object
2672      09,June,2004
2672    05,August,2004
Name: date, dtype: object
2673      09,June,2004
2673    05,August,2004
Name: date, dtype: object
2674      09,June,2004
2674    05,August,2004
Name: date, dtype: object
2675      09,June,2004
2675    05,August,2004
Name: date, dtype: object
2676      09,June,2004
2676    05,August,2004
Name: date, dtype: object
2677      09,June,2004
2677    05,August,2004
Name: date, dtype: object
2678      09,June,2004
2678    05,August,2004
Name: date, dtype: object
2679      09,June,2004
2679    05,August,2004
Name: date, dtype: object
2680      09,June,2004
2680    05,August,2004
Name: date, dtype: object
2681      09,June,2004
2681    05,August,2004
Name: date, dtype: object
2682      09,June,2004
2682    05,August,2004
Name: date, dtype: object
2683      09,June,2004
2683    05,August,2004
Name: date, dtype: object
2684      09,June,2004
2684    05,August,2004
Name: date, dtype: object
2685      09,June,2004
2685    05,August,2004
Name: date, dtype: object
2686      09,June,2004
2686    05,August,2004
Name: date, dtype: object
2687      09,June,2004
2687    05,August,2004
Name: date, dtype: object
2688      09,June,2004
2688    05,August,2004
Name: date, dtype: object
2689      09,June,2004
2689    05,August,2004
Name: date, dtype: object
2690      09,June,2004
2690    05,August,2004
Name: date, dtype: object
2691      09,June,2004
2691    05,August,2004
Name: date, dtype: object
2692      09,June,2004
2692    05,August,2004
Name: date, dtype: object
2693      09,June,2004
2693    05,August,2004
Name: date, dtype: object
2694      09,June,2004
2694    05,August,2004
Name: date, dtype: object
2695      09,June,2004
2695    05,August,2004
Name: date, dtype: object
2696      09,June,2004
2696    05,August,2004
Name: date, dtype: object
2697      09,June,2004
2697    05,August,2004
Name: date, dtype: object
2698      09,June,2004
2698    05,August,2004
Name: date, dtype: object
2699      09,June,2004
2699    05,August,2004
Name: date, dtype: object
2700      09,June,2004
2700    05,August,2004
Name: date, dtype: object
2701      09,June,2004
2701    05,August,2004
Name: date, dtype: object
2702      09,June,2004
2702    05,August,2004
Name: date, dtype: object
2703      09,June,2004
2703    05,August,2004
Name: date, dtype: object
2704      09,June,2004
2704    05,August,2004
Name: date, dtype: object
2705      09,June,2004
2705    05,August,2004
Name: date, dtype: object
2706      09,June,2004
2706    05,August,2004
Name: date, dtype: object
2707      09,June,2004
2707    05,August,2004
Name: date, dtype: object
2708      09,June,2004
2708    05,August,2004
Name: date, dtype: object
2709      09,June,2004
2709    05,August,2004

Name: date, dtype: object
2710      09,June,2004
2710    05,August,2004
Name: date, dtype: object
2711      09,June,2004
2711    05,August,2004
Name: date, dtype: object
2712      09,June,2004
2712    05,August,2004
Name: date, dtype: object
2713      09,June,2004
2713    05,August,2004
Name: date, dtype: object
2714      09,June,2004
2714    05,August,2004
Name: date, dtype: object
2715      09,June,2004
2715    05,August,2004
Name: date, dtype: object
2716      09,June,2004
2716    05,August,2004
Name: date, dtype: object
2717      09,June,2004
2717    05,August,2004
Name: date, dtype: object
2718      09,June,2004
2718    05,August,2004
Name: date, dtype: object
2719      09,June,2004
2719    05,August,2004
Name: date, dtype: object
2720      09,June,2004
2720    05,August,2004
Name: date, dtype: object
2721      09,June,2004
2721    05,August,2004
Name: date, dtype: object
2722      09,June,2004
2722    05,August,2004
Name: date, dtype: object
2723      09,June,2004
2723    05,August,2004
Name: date, dtype: object
2724      09,June,2004
2724    05,August,2004
Name: date, dtype: object
2725      09,June,2004
2725    05,August,2004
Name: date, dtype: object
2726      09,June,2004
2726    05,August,2004
Name: date, dtype: object
2727      09,June,2004
2727    05,August,2004
Name: date, dtype: object
2728      09,June,2004
2728    05,August,2004
Name: date, dtype: object
2729      09,June,2004
2729    05,August,2004
Name: date, dtype: object
2730      09,June,2004
2730    05,August,2004
Name: date, dtype: object
2731      09,June,2004
2731    05,August,2004
Name: date, dtype: object
2732      09,June,2004
2732    05,August,2004
Name: date, dtype: object
2733      09,June,2004
2733    05,August,2004
Name: date, dtype: object
2734      09,June,2004
2734    05,August,2004
Name: date, dtype: object
2735      09,June,2004
2735    05,August,2004
Name: date, dtype: object
2736      09,June,2004
2736    05,August,2004
Name: date, dtype: object
2737      09,June,2004
2737    05,August,2004
Name: date, dtype: object
2738      09,June,2004
2738    05,August,2004
Name: date, dtype: object
2739      09,June,2004
2739    05,August,2004
Name: date, dtype: object
2740      09,June,2004
2740    05,August,2004
Name: date, dtype: object
2741      09,June,2004
2741    05,August,2004
Name: date, dtype: object
2742      09,June,2004
2742    05,August,2004
Name: date, dtype: object
2743      09,June,2004
2743    05,August,2004
Name: date, dtype: object
2744      09,June,2004
2744    05,August,2004
Name: date, dtype: object
2745      09,June,2004
2745    05,August,2004
Name: date, dtype: object
2746      09,June,2004
2746    05,August,2004
Name: date, dtype: object
2747      09,June,2004
2747    05,August,2004
Name: date, dtype: object
2748      09,June,2004
2748    05,August,2004
Name: date, dtype: object
2749      09,June,2004
2749    05,August,2004
Name: date, dtype: object
2750      09,June,2004
2750    05,August,2004
Name: date, dtype: object
2751      09,June,2004
2751    05,August,2004
Name: date, dtype: object
2752      09,June,2004
2752    05,August,2004
Name: date, dtype: object
2753      09,June,2004
2753    05,August,2004
Name: date, dtype: object
2754      09,June,2004
2754    05,August,2004
Name: date, dtype: object
2755      09,June,2004
2755    05,August,2004
Name: date, dtype: object
2756      09,June,2004
2756    05,August,2004
Name: date, dtype: object
2757      09,June,2004
2757    05,August,2004
Name: date, dtype: object
2758      09,June,2004
2758    05,August,2004
Name: date, dtype: object
2759      09,June,2004
2759    05,August,2004
Name: date, dtype: object
2760      09,June,2004
2760    05,August,2004
Name: date, dtype: object
2761      09,June,2004
2761    05,August,2004
Name: date, dtype: object
2762      09,June,2004
2762    05,August,2004
Name: date, dtype: object
2763      09,June,2004
2763    05,August,2004
Name: date, dtype: object
2764      09,June,2004
2764    05,August,2004
Name: date, dtype: object
2765      09,June,2004
2765    05,August,2004
Name: date, dtype: object
2766      09,June,2004
2766    05,August,2004
Name: date, dtype: object
2767      09,June,2004
2767    05,August,2004
Name: date, dtype: object
2768      09,June,2004
2768    05,August,2004
Name: date, dtype: object
2769      09,June,2004
2769    05,August,2004
Name: date, dtype: object
2770      09,June,2004
2770    05,August,2004
Name: date, dtype: object
2771      09,June,2004
2771    05,August,2004
Name: date, dtype: object
2772      09,June,2004
2772    05,August,2004
Name: date, dtype: object
2773      09,June,2004
2773    05,August,2004
Name: date, dtype: object
2774      09,June,2004
2774    05,August,2004
Name: date, dtype: object
2775      09,June,2004
2775    05,August,2004
Name: date, dtype: object
2776      09,June,2004
2776    05,August,2004
Name: date, dtype: object
2777      09,June,2004
2777    05,August,2004
Name: date, dtype: object
2778      09,June,2004
2778    05,August,2004
Name: date, dtype: object
2779      09,June,2004
2779    05,August,2004
Name: date, dtype: object
2780      09,June,2004
2780    05,August,2004
Name: date, dtype: object
2781      09,June,2004
2781    05,August,2004
Name: date, dtype: object
2782      09,June,2004
2782    05,August,2004
Name: date, dtype: object
2783      09,June,2004
2783    05,August,2004
Name: date, dtype: object
2784      09,June,2004
2784    05,August,2004
Name: date, dtype: object
2785      09,June,2004
2785    05,August,2004
Name: date, dtype: object
2786      09,June,2004
2786    05,August,2004
Name: date, dtype: object
2787      09,June,2004
2787    05,August,2004
Name: date, dtype: object
2788      09,June,2004
2788    05,August,2004
Name: date, dtype: object
2789      09,June,2004
2789    05,August,2004
Name: date, dtype: object
2790      09,June,2004
2790    05,August,2004
Name: date, dtype: object
2791      09,June,2004
2791    05,August,2004
Name: date, dtype: object
2792      09,June,2004
2792    05,August,2004
Name: date, dtype: object
2793      09,June,2004
2793    05,August,2004
Name: date, dtype: object
2794      09,June,2004
2794    05,August,2004
Name: date, dtype: object
2795      09,June,2004
2795    05,August,2004
Name: date, dtype: object
2796      09,June,2004
2796    05,August,2004
Name: date, dtype: object
2797      09,June,2004
2797    05,August,2004
Name: date, dtype: object
2798      09,June,2004
2798    05,August,2004
Name: date, dtype: object
2799      09,June,2004
2799    05,August,2004
Name: date, dtype: object
2800      09,June,2004
2800    05,August,2004
Name: date, dtype: object
2801      09,June,2004
2801    05,August,2004
Name: date, dtype: object
2802      09,June,2004
2802    05,August,2004
Name: date, dtype: object
2803      09,June,2004
2803    05,August,2004
Name: date, dtype: object
2804      09,June,2004
2804    05,August,2004
Name: date, dtype: object
2805      09,June,2004
2805    05,August,2004
Name: date, dtype: object
2806      09,June,2004
2806    05,August,2004
Name: date, dtype: object
2807      09,June,2004
2807    05,August,2004
Name: date, dtype: object
2808      09,June,2004
2808    05,August,2004
Name: date, dtype: object
2809      09,June,2004
2809    05,August,2004
Name: date, dtype: object
2810      09,June,2004
2810    05,August,2004
Name: date, dtype: object
2811      09,June,2004
2811    05,August,2004
Name: date, dtype: object
2812      09,June,2004
2812    05,August,2004
Name: date, dtype: object
2813      09,June,2004
2813    05,August,2004
Name: date, dtype: object
2814      09,June,2004
2814    05,August,2004
Name: date, dtype: object
2815      09,June,2004
2815    05,August,2004
Name: date, dtype: object
2816      09,June,2004
2816    05,August,2004
Name: date, dtype: object
2817      09,June,2004
2817    05,August,2004
Name: date, dtype: object
2818      09,June,2004
2818    05,August,2004
Name: date, dtype: object
2819      09,June,2004
2819    05,August,2004
Name: date, dtype: object
2820      09,June,2004
2820    05,August,2004
Name: date, dtype: object
2821      09,June,2004
2821    05,August,2004
Name: date, dtype: object
2822      09,June,2004
2822    05,August,2004
Name: date, dtype: object
2823      09,June,2004
2823    05,August,2004
Name: date, dtype: object
2824      09,June,2004
2824    05,August,2004
Name: date, dtype: object
2825      09,June,2004
2825    05,August,2004
Name: date, dtype: object
2826      09,June,2004
2826    05,August,2004
Name: date, dtype: object
2827      09,June,2004
2827    05,August,2004
Name: date, dtype: object
2828      09,June,2004
2828    05,August,2004
Name: date, dtype: object
2829      09,June,2004
2829    05,August,2004
Name: date, dtype: object
2830      09,June,2004
2830    05,August,2004
Name: date, dtype: object
2831      09,June,2004
2831    05,August,2004
Name: date, dtype: object
2832    10,August,2004
2832    05,August,2004
Name: date, dtype: object
2833    09,August,2004
2833    05,August,2004
Name: date, dtype: object
2834    09,August,2004
2834    05,August,2004
Name: date, dtype: object
2835    20,August,2004
2835    05,August,2004
Name: date, dtype: object
2836    18,August,2004
2836    05,August,2004
Name: date, dtype: object
2837    14,August,2004
2837    05,August,2004
Name: date, dtype: object
2838    14,August,2004
2838    05,August,2004
Name: date, dtype: object
2839    14,August,2004
2839    05,August,2004
Name: date, dtype: object
2840    13,August,2004
2840    05,August,2004
Name: date, dtype: object
2841    12,August,2004
2841    05,August,2004
Name: date, dtype: object
2842      21,July,2004
2842    05,August,2004
Name: date, dtype: object
2843      08,July,2004
2843    05,August,2004
Name: date, dtype: object
2844      06,July,2004
2844    05,August,2004
Name: date, dtype: object

2845      04,July,2004
2845    05,August,2004
Name: date, dtype: object
2846       31,May,2004
2846    05,August,2004
Name: date, dtype: object
2847       30,May,2004
2847    05,August,2004
Name: date, dtype: object
2848       28,May,2004
2848    05,August,2004
Name: date, dtype: object
2849       27,May,2004
2849    05,August,2004
Name: date, dtype: object
2850       26,May,2004
2850    05,August,2004
Name: date, dtype: object
2851       24,May,2004
2851    05,August,2004
Name: date, dtype: object
2852       23,May,2004
2852    05,August,2004
Name: date, dtype: object
2853       22,May,2004
2853    05,August,2004
Name: date, dtype: object
2854       21,May,2004
2854    05,August,2004
Name: date, dtype: object
2855      30,June,2004
2855    05,August,2004
Name: date, dtype: object
2856      28,June,2004
2856    05,August,2004
Name: date, dtype: object
2857      25,June,2004
2857    05,August,2004
Name: date, dtype: object
2858      23,June,2004
2858    05,August,2004
Name: date, dtype: object
2859      22,June,2004
2859    05,August,2004
Name: date, dtype: object
2860      22,June,2004
2860    05,August,2004
Name: date, dtype: object
2861      18,June,2004
2861    05,August,2004
Name: date, dtype: object
2862      17,June,2004
2862    05,August,2004
Name: date, dtype: object
2863      15,June,2004
2863    05,August,2004
Name: date, dtype: object
2864      14,June,2004
2864    05,August,2004
Name: date, dtype: object
2865      31,July,2004
2865    05,August,2004
Name: date, dtype: object
2866      26,July,2004
2866    05,August,2004
Name: date, dtype: object
2867      17,July,2004
2867    05,August,2004
Name: date, dtype: object
2868      12,July,2004
2868    05,August,2004
Name: date, dtype: object
2869      10,July,2004
2869    05,August,2004
Name: date, dtype: object
2870      06,July,2004
2870    05,August,2004
Name: date, dtype: object
2871      01,July,2004
2871    05,August,2004
Name: date, dtype: object
2872    03,August,2004
2872    05,August,2004
Name: date, dtype: object
2873       27,May,2004
2873    05,August,2004
Name: date, dtype: object
2874       17,May,2004
2874    05,August,2004
Name: date, dtype: object
2875      22,June,2004
2875    05,August,2004
Name: date, dtype: object
2876      31,July,2004
2876    05,August,2004
Name: date, dtype: object
2877      21,June,2004
2877    05,August,2004
Name: date, dtype: object
2878      21,June,2004
2878    05,August,2004
Name: date, dtype: object
2879      30,July,2004
2879    05,August,2004
Name: date, dtype: object
2880      22,July,2004
2880    05,August,2004
Name: date, dtype: object
2881    19,August,2004
2881    05,August,2004
Name: date, dtype: object
2882    12,August,2004
2882    05,August,2004
Name: date, dtype: object
2883    13,August,2004
2883    05,August,2004
Name: date, dtype: object
2884    13,August,2004
2884    05,August,2004
Name: date, dtype: object
2885    13,August,2004
2885    05,August,2004
Name: date, dtype: object
2886    13,August,2004
2886    05,August,2004
Name: date, dtype: object
2887    13,August,2004
2887    05,August,2004
Name: date, dtype: object
2888      31,July,2004
2888    05,August,2004
Name: date, dtype: object
2889      30,July,2004
2889    05,August,2004
Name: date, dtype: object
2890      28,July,2004
2890    05,August,2004
Name: date, dtype: object
2891      27,July,2004
2891    05,August,2004
Name: date, dtype: object
2892      26,July,2004
2892    05,August,2004
Name: date, dtype: object
2893      25,July,2004
2893    05,August,2004
Name: date, dtype: object
2894      25,July,2004
2894    05,August,2004
Name: date, dtype: object
2895      24,July,2004
2895    05,August,2004
Name: date, dtype: object
2896      24,July,2004
2896    05,August,2004
Name: date, dtype: object
2897    08,August,2004
2897    05,August,2004
Name: date, dtype: object
2898    03,August,2004
2898    05,August,2004
Name: date, dtype: object
2899      24,July,2004
2899    05,August,2004
Name: date, dtype: object
2900      22,July,2004
2900    05,August,2004
Name: date, dtype: object
2901      20,July,2004
2901    05,August,2004
Name: date, dtype: object
2902      19,July,2004
2902    05,August,2004
Name: date, dtype: object
2903      17,July,2004
2903    05,August,2004
Name: date, dtype: object
2904      16,July,2004
2904    05,August,2004
Name: date, dtype: object
2905      15,July,2004
2905    05,August,2004
Name: date, dtype: object
2906    11,August,2004
2906    05,August,2004
Name: date, dtype: object
2907    10,August,2004
2907    05,August,2004
Name: date, dtype: object
2908    04,August,2004
2908    05,August,2004
Name: date, dtype: object
2909    02,August,2004
2909    05,August,2004
Name: date, dtype: object
2910    10,August,2004
2910    05,August,2004
Name: date, dtype: object
2911    10,August,2004
2911    05,August,2004
Name: date, dtype: object
2912     29,March,2002
2912    05,August,2004
Name: date, dtype: object
2913     27,March,2002
2913    05,August,2004
Name: date, dtype: object
2914     24,March,2002
2914    05,August,2004
Name: date, dtype: object
2915    23,March,2002
2915      21,May,2004
Name: date, dtype: object
2916    23,March,2002
2916      20,May,2004
Name: date, dtype: object
2917    19,March,2002
2917      19,May,2004
Name: date, dtype: object
2918    18,March,2002
2918      18,May,2004
Name: date, dtype: object
2919    17,March,2002
2919      18,May,2004
Name: date, dtype: object
2920    16,March,2002
2920      17,May,2004
Name: date, dtype: object
2921    14,April,2002
2921      17,May,2004
Name: date, dtype: object
2922    08,April,2002
2922      17,May,2004
Name: date, dtype: object
2923    08,April,2002
2923      28,May,2004
Name: date, dtype: object
2924    07,May,2002
2924    27,May,2004
Name: date, dtype: object
2925    24,June,2002
2925     27,May,2004
Name: date, dtype: object
2926    18,June,2002
2926     27,May,2004
Name: date, dtype: object
2927    18,June,2002
2927     26,May,2004
Name: date, dtype: object
2928    25,July,2002
2928     25,May,2004
Name: date, dtype: object
2929    25,July,2002
2929     24,May,2004
Name: date, dtype: object
2930    13,August,2002
2930       24,May,2004
Name: date, dtype: object
2931    27,November,2002
2931        04,June,2004
Name: date, dtype: object
2932    04,December,2002
2932        03,June,2004
Name: date, dtype: object
2933    08,January,2003
2933       02,June,2004
Name: date, dtype: object
2934    06,January,2003
2934       01,June,2004
Name: date, dtype: object
2935    28,February,2003
2935         31,May,2004
Name: date, dtype: object
2936    02,February,2003
2936        09,June,2004
Name: date, dtype: object
2937    21,April,2003
2937     08,June,2004
Name: date, dtype: object
2938    21,April,2003
2938     07,June,2004
Name: date, dtype: object
2939     25,May,2003
2939    07,June,2004
Name: date, dtype: object
2940    30,June,2003
2940    15,June,2004
Name: date, dtype: object
2941    29,June,2003
2941    14,June,2004
Name: date, dtype: object
2942    20,June,2003
2942    14,June,2004
Name: date, dtype: object
2943    06,July,2003
2943    25,June,2004
Name: date, dtype: object
2944    10,August,2003
2944      22,June,2004
Name: date, dtype: object
2945    21,November,2003
2945        21,June,2004
Name: date, dtype: object
2946    18,December,2003
2946        01,July,2004
Name: date, dtype: object
2947    15,February,2004
2947        30,June,2004
Name: date, dtype: object
2948     31,May,2004
2948    09,July,2004
Name: date, dtype: object
2949     26,May,2004
2949    08,July,2004
Name: date, dtype: object
2950     21,May,2004
2950    15,July,2004
Name: date, dtype: object
2951     15,May,2004
2951    14,July,2004
Name: date, dtype: object
2952     13,May,2004
2952    29,July,2004
Name: date, dtype: object
2953     11,May,2004
2953    26,July,2004
Name: date, dtype: object
2954    08,June,2004
2954    26,July,2004
Name: date, dtype: object
2955      02,June,2004
2955    06,August,2004
Name: date, dtype: object
2956      01,June,2004
2956    05,August,2004
Name: date, dtype: object
2957    08,August,2004
2957    05,August,2004
Name: date, dtype: object
2958    09,August,2004
2958    04,August,2004
Name: date, dtype: object
2959    09,August,2004
2959    03,August,2004
Name: date, dtype: object
2960    01,August,2004
2960    03,August,2004
Name: date, dtype: object
2961    01,August,2004
2961    02,August,2004
Name: date, dtype: object
2962    01,August,2004
2962      21,June,2004
Name: date, dtype: object
2963    01,August,2004
2963      21,June,2004
Name: date, dtype: object
2964    01,August,2004
2964      21,June,2004
Name: date, dtype: object
2965    01,August,2004
2965      21,June,2004
Name: date, dtype: object
2966    01,August,2004
2966      21,June,2004
Name: date, dtype: object
2967    01,August,2004
2967     25,March,2003
Name: date, dtype: object
2968    01,August,2004
2968     24,March,2003
Name: date, dtype: object
2969    01,August,2004
2969     23,March,2003
Name: date, dtype: object
2970    01,August,2004
2970     23,March,2003
Name: date, dtype: object
2971    01,August,2004
2971     05,April,2003
Name: date, dtype: object
2972    01,August,2004
2972     01,April,2003
Name: date, dtype: object
2973    01,August,2004
2973     01,April,2003
Name: date, dtype: object
2974    01,August,2004
2974     08,April,2003
Name: date, dtype: object
2975    01,August,2004
2975     30,April,2003
Name: date, dtype: object
2976    01,August,2004
2976       24,May,2003
Name: date, dtype: object
2977    01,August,2004
2977       22,May,2003
Name: date, dtype: object

2978    01,August,2004
2978       22,May,2003
Name: date, dtype: object
2979    01,August,2004
2979       26,May,2003
Name: date, dtype: object
2980    01,August,2004
2980       26,May,2003
Name: date, dtype: object
2981    01,August,2004
2981      03,June,2003
Name: date, dtype: object
2982    01,August,2004
2982      04,July,2003
Name: date, dtype: object
2983    01,August,2004
2983      30,June,2003
Name: date, dtype: object
2984    01,August,2004
2984      30,June,2003
Name: date, dtype: object
2985    01,August,2004
2985      30,June,2003
Name: date, dtype: object
2986    01,August,2004
2986      30,June,2003
Name: date, dtype: object
2987    01,August,2004
2987      30,June,2003
Name: date, dtype: object
2988    01,August,2004
2988      17,July,2003
Name: date, dtype: object
2989    01,August,2004
2989    16,August,2003
Name: date, dtype: object
2990    01,August,2004
2990    16,August,2003
Name: date, dtype: object
2991    01,August,2004
2991    18,August,2003
Name: date, dtype: object
2992       01,August,2004
2992    13,September,2003
Name: date, dtype: object
2993       01,August,2004
2993    12,September,2003
Name: date, dtype: object
2994       01,August,2004
2994    12,September,2003
Name: date, dtype: object
2995       01,August,2004
2995    12,September,2003
Name: date, dtype: object
2996       01,August,2004
2996    15,September,2003
Name: date, dtype: object
2997       01,August,2004
2997    15,September,2003
Name: date, dtype: object
2998       01,August,2004
2998    15,September,2003
Name: date, dtype: object
2999       01,August,2004
2999    23,September,2003
Name: date, dtype: object
3000       01,August,2004
3000    23,September,2003
Name: date, dtype: object
3001     01,August,2004
3001    01,October,2003
Name: date, dtype: object
3002       01,August,2004
3002    28,September,2003
Name: date, dtype: object
3003       01,August,2004
3003    28,September,2003
Name: date, dtype: object
3004       01,August,2004
3004    28,September,2003
Name: date, dtype: object
3005     01,August,2004
3005    12,October,2003
Name: date, dtype: object
3006     01,August,2004
3006    23,October,2003
Name: date, dtype: object
3007     01,August,2004
3007    23,October,2003
Name: date, dtype: object
3008     01,August,2004
3008    27,October,2003
Name: date, dtype: object
3009      01,August,2004
3009    03,November,2003
Name: date, dtype: object
3010      01,August,2004
3010    13,November,2003
Name: date, dtype: object
3011      01,August,2004
3011    13,November,2003
Name: date, dtype: object
3012      01,August,2004
3012    13,November,2003
Name: date, dtype: object
3013      01,August,2004
3013    24,November,2003
Name: date, dtype: object
3014      01,August,2004
3014    21,December,2003
Name: date, dtype: object
3015      01,August,2004
3015    21,December,2003
Name: date, dtype: object
3016      01,August,2004
3016    30,December,2003
Name: date, dtype: object
3017    01,August,2004
3017     11,March,2004
Name: date, dtype: object
3018    01,August,2004
3018     11,March,2004
Name: date, dtype: object
3019    01,August,2004
3019     19,March,2004
Name: date, dtype: object
3020    01,August,2004
3020     19,March,2004
Name: date, dtype: object
3021    01,August,2004
3021     22,March,2004
Name: date, dtype: object
3022    01,August,2004
3022     21,March,2004
Name: date, dtype: object
3023    01,August,2004
3023      06,June,2004
Name: date, dtype: object
3024    01,August,2004
3024      28,June,2004
Name: date, dtype: object
3025    01,August,2004
3025      28,June,2004
Name: date, dtype: object
3026    01,August,2004
3026      20,July,2004
Name: date, dtype: object
3027    01,August,2004
3027      13,July,2004
Name: date, dtype: object
3028    01,August,2004
3028      10,July,2004
Name: date, dtype: object
3029    01,August,2004
3029      07,July,2004
Name: date, dtype: object
3030    01,August,2004
3030      05,July,2004
Name: date, dtype: object
3031    01,August,2004
3031      05,July,2004
Name: date, dtype: object
3032    01,August,2004
3032      05,July,2004
Name: date, dtype: object
3033    01,August,2004
3033      05,July,2004
Name: date, dtype: object
3034    16,August,2004
3034      05,July,2004
Name: date, dtype: object
3035    15,August,2004
3035      05,July,2004
Name: date, dtype: object
3036    11,August,2004
3036      05,July,2004
Name: date, dtype: object
3037    09,August,2004
3037      05,July,2004
Name: date, dtype: object
3038     31,May,2004
3038    05,July,2004
Name: date, dtype: object
3039      02,June,2004
3039    17,August,2004
Name: date, dtype: object
3040      04,June,2004
3040    13,August,2004
Name: date, dtype: object
3041      07,June,2004
3041    12,August,2004
Name: date, dtype: object
3042      08,June,2004
3042    11,August,2004
Name: date, dtype: object
3043      09,June,2004
3043    10,August,2004
Name: date, dtype: object
3044      14,June,2004
3044    10,August,2004
Name: date, dtype: object
3045      08,June,2004
3045    10,August,2004
Name: date, dtype: object
3046      05,June,2004
3046    09,August,2004
Name: date, dtype: object
3047      05,June,2004
3047    09,August,2004
Name: date, dtype: object
3048      04,June,2004
3048    09,August,2004
Name: date, dtype: object
3049      21,July,2004
3049    07,August,2004
Name: date, dtype: object
3050      13,July,2004
3050    06,August,2004
Name: date, dtype: object
3051      09,July,2004
3051    06,August,2004
Name: date, dtype: object
3052    06,August,2004
3052      25,June,2004
Name: date, dtype: object
3053    11,August,2004
3053      22,June,2004
Name: date, dtype: object
3054    07,August,2004
3054      22,June,2004
Name: date, dtype: object
3055    07,August,2004
3055      18,June,2004
Name: date, dtype: object
3056     18,May,2004
3056    16,June,2004
Name: date, dtype: object
3057     17,May,2004
3057    14,June,2004
Name: date, dtype: object
3058    03,July,2004
3058    14,June,2004
Name: date, dtype: object
3059    13,August,2004
3059      14,June,2004
Name: date, dtype: object
3060    07,August,2004
3060      13,June,2004
Name: date, dtype: object
3061    06,August,2004
3061      13,June,2004
Name: date, dtype: object
3062    30,June,2004
3062    12,June,2004
Name: date, dtype: object
3063    11,July,2004
3063    12,June,2004
Name: date, dtype: object
3064    11,July,2004
3064    11,June,2004
Name: date, dtype: object
3065    11,July,2004
3065    10,June,2004
Name: date, dtype: object
3066    11,July,2004
3066    09,June,2004
Name: date, dtype: object
3067    11,July,2004
3067    07,June,2004
Name: date, dtype: object
3068    11,July,2004
3068    07,June,2004
Name: date, dtype: object
3069    11,July,2004
3069    07,June,2004
Name: date, dtype: object
3070     27,May,2004
3070    07,June,2004
Name: date, dtype: object
3071    30,June,2004
3071    06,June,2004
Name: date, dtype: object
3072    26,June,2004
3072    04,June,2004
Name: date, dtype: object
3073    24,June,2004
3073    04,June,2004
Name: date, dtype: object
3074    05,June,2004
3074    04,June,2004
Name: date, dtype: object
3075    03,June,2004
3075    04,June,2004
Name: date, dtype: object
3076    28,July,2004
3076    04,June,2004
Name: date, dtype: object
3077    26,July,2004
3077    22,July,2004
Name: date, dtype: object
3078    24,July,2004
3078    13,July,2004
Name: date, dtype: object
3079    11,July,2004
3079    09,July,2004
Name: date, dtype: object
3080    08,July,2004
3080    07,July,2004
Name: date, dtype: object
3081    07,July,2004
3081    03,July,2004
Name: date, dtype: object
3082    06,July,2004
3082    02,July,2004
Name: date, dtype: object
3083      04,July,2004
3083    12,August,2004
Name: date, dtype: object
3084      01,July,2004
3084    07,August,2004
Name: date, dtype: object
3085    11,August,2004
3085    06,August,2004
Name: date, dtype: object
3086    09,August,2004
3086    04,August,2004
Name: date, dtype: object
3087    03,August,2004
3087    04,August,2004
Name: date, dtype: object
3088    13,August,2004
3088    04,August,2004
Name: date, dtype: object
3089    12,August,2004
3089      29,July,2004
Name: date, dtype: object
3090    12,August,2004
3090    18,August,2004
Name: date, dtype: object
3091    12,August,2004
3091    03,August,2004
Name: date, dtype: object
3092    11,August,2004
3092    20,August,2004
Name: date, dtype: object
3093    11,August,2004
3093    19,August,2004
Name: date, dtype: object
3094    11,August,2004
3094    19,August,2004
Name: date, dtype: object
3095    11,August,2004
3095    19,August,2004
Name: date, dtype: object
3096    11,August,2004
3096    19,August,2004
Name: date, dtype: object
3097    10,August,2004
3097    19,August,2004
Name: date, dtype: object
3098    10,August,2004
3098    19,August,2004
Name: date, dtype: object
3099    10,August,2004
3099    18,August,2004
Name: date, dtype: object
3100    10,August,2004
3100    16,August,2004
Name: date, dtype: object
3101    21,August,2004
3101    14,August,2004
Name: date, dtype: object
3102    20,August,2004
3102    14,August,2004
Name: date, dtype: object
3103    20,August,2004
3103    13,August,2004
Name: date, dtype: object
3104    18,August,2004
3104    12,August,2004
Name: date, dtype: object
3105    18,August,2004
3105    12,August,2004
Name: date, dtype: object
3106    18,August,2004
3106    12,August,2004
Name: date, dtype: object
3107    18,August,2004
3107    11,August,2004
Name: date, dtype: object
3108    17,August,2004
3108    09,August,2004
Name: date, dtype: object
3109    16,August,2004
3109      28,July,2004
Name: date, dtype: object
3110    16,August,2004
3110      16,July,2004
Name: date, dtype: object
3111    14,July,2004
3111    16,July,2004
Name: date, dtype: object
3112    09,July,2004
3112    15,July,2004

Name: date, dtype: object
3113    09,July,2004
3113    15,July,2004
Name: date, dtype: object
3114    09,July,2004
3114    10,July,2004
Name: date, dtype: object
3115    07,June,2004
3115    10,July,2004
Name: date, dtype: object
3116    05,June,2004
3116    09,July,2004
Name: date, dtype: object
3117    04,June,2004
3117    05,July,2004
Name: date, dtype: object
3118    20,August,2004
3118      04,July,2004
Name: date, dtype: object
3119      31,July,2004
3119    13,August,2004
Name: date, dtype: object
3120    22,August,2004
3120    12,August,2004
Name: date, dtype: object
3121    21,August,2004
3121    05,August,2004
Name: date, dtype: object
3122    20,August,2004
3122    05,August,2004
Name: date, dtype: object
3123    20,August,2004
3123    03,August,2004
Name: date, dtype: object
3124    20,August,2004
3124    01,August,2004
Name: date, dtype: object
3125    19,August,2004
3125      31,July,2004
Name: date, dtype: object
3126    18,August,2004
3126      30,July,2004
Name: date, dtype: object
3127    18,August,2004
3127    18,August,2004
Name: date, dtype: object
3128    16,August,2004
3128    12,August,2004
Name: date, dtype: object
3129    16,August,2004
3129    06,August,2004
Name: date, dtype: object
3130    16,August,2004
3130    04,August,2004
Name: date, dtype: object
3131       30,May,2004
3131    03,August,2004
Name: date, dtype: object
3132       28,May,2004
3132    02,August,2004
Name: date, dtype: object
3133       28,May,2004
3133    01,August,2004
Name: date, dtype: object
3134        21,May,2004
3134    17,January,2003
Name: date, dtype: object
3135        21,May,2004
3135    17,January,2003
Name: date, dtype: object
3136        21,May,2004
3136    19,January,2003
Name: date, dtype: object
3137       28,June,2004
3137    22,January,2003
Name: date, dtype: object
3138       24,June,2004
3138    25,January,2003
Name: date, dtype: object
3139       17,June,2004
3139    25,January,2003
Name: date, dtype: object
3140       10,June,2004
3140    27,January,2003
Name: date, dtype: object
3141        05,June,2004
3141    01,February,2003
Name: date, dtype: object
3142        05,June,2004
3142    03,February,2003
Name: date, dtype: object
3143        04,June,2004
3143    04,February,2003
Name: date, dtype: object
3144        19,July,2004
3144    04,February,2003
Name: date, dtype: object
3145        03,July,2004
3145    09,February,2003
Name: date, dtype: object
3146        01,July,2004
3146    10,February,2003
Name: date, dtype: object
3147        01,July,2004
3147    10,February,2003
Name: date, dtype: object
3148     01,July,2004
3148    23,March,2003
Name: date, dtype: object
3149     01,July,2004
3149    23,March,2003
Name: date, dtype: object
3150     01,July,2004
3150    27,March,2003
Name: date, dtype: object
3151     01,July,2004
3151    28,March,2003
Name: date, dtype: object
3152     01,July,2004
3152    31,March,2003
Name: date, dtype: object
3153     01,July,2004
3153    06,April,2003
Name: date, dtype: object
3154     01,July,2004
3154    06,April,2003
Name: date, dtype: object
3155     01,July,2004
3155    13,April,2003
Name: date, dtype: object
3156     01,July,2004
3156    18,April,2003
Name: date, dtype: object
3157     01,July,2004
3157    18,April,2003
Name: date, dtype: object
3158    01,July,2004
3158     20,May,2003
Name: date, dtype: object
3159    01,July,2004
3159    15,June,2003
Name: date, dtype: object
3160    01,July,2004
3160    15,June,2003
Name: date, dtype: object
3161    01,July,2004
3161    01,July,2003
Name: date, dtype: object
3162    01,July,2004
3162    22,July,2003
Name: date, dtype: object
3163      01,July,2004
3163    06,August,2003
Name: date, dtype: object
3164      01,July,2004
3164    31,August,2003
Name: date, dtype: object
3165         01,July,2004
3165    21,September,2003
Name: date, dtype: object
3166         01,July,2004
3166    22,September,2003
Name: date, dtype: object
3167         01,July,2004
3167    24,September,2003
Name: date, dtype: object
3168         01,July,2004
3168    25,September,2003
Name: date, dtype: object
3169       01,July,2004
3169    01,October,2003
Name: date, dtype: object
3170       01,July,2004
3170    19,October,2003
Name: date, dtype: object
3171        31,July,2004
3171    01,November,2003
Name: date, dtype: object
3172        29,July,2004
3172    14,November,2003
Name: date, dtype: object
3173    27,July,2004
3173    02,June,2004
Name: date, dtype: object
3174    17,July,2004
3174    02,June,2004
Name: date, dtype: object
3175    17,July,2004
3175    02,June,2004
Name: date, dtype: object
3176    15,July,2004
3176    08,June,2004
Name: date, dtype: object
3177    15,July,2004
3177    17,July,2004
Name: date, dtype: object
3178      13,July,2004
3178    21,August,2004
Name: date, dtype: object
3179      13,July,2004
3179    20,August,2004
Name: date, dtype: object
3180      13,July,2004
3180    20,August,2004
Name: date, dtype: object
3181      10,July,2004
3181    20,August,2004
Name: date, dtype: object
3182      10,July,2004
3182    20,August,2004
Name: date, dtype: object
3183      10,July,2004
3183    20,August,2004
Name: date, dtype: object
3184      10,July,2004
3184    19,August,2004
Name: date, dtype: object
3185      09,July,2004
3185    19,August,2004
Name: date, dtype: object
3186      09,July,2004
3186    19,August,2004
Name: date, dtype: object
3187      09,July,2004
3187    18,August,2004
Name: date, dtype: object
3188    12,August,2004
3188    05,August,2004
Name: date, dtype: object
3189    11,August,2004
3189       30,May,2004
Name: date, dtype: object
3190    09,August,2004
3190       27,May,2004
Name: date, dtype: object
3191    09,August,2004
3191       26,May,2004
Name: date, dtype: object
3192    08,August,2004
3192       25,May,2004
Name: date, dtype: object
3193    08,August,2004
3193       25,May,2004
Name: date, dtype: object
3194    07,August,2004
3194       23,May,2004
Name: date, dtype: object
3195    05,August,2004
3195       21,May,2004
Name: date, dtype: object
3196    05,August,2004
3196       19,May,2004
Name: date, dtype: object
3197    05,August,2004
3197       19,May,2004
Name: date, dtype: object
3198    05,August,2004
3198       17,May,2004
Name: date, dtype: object
3199    03,August,2004
3199       17,May,2004
Name: date, dtype: object
3200    02,August,2004
3200       17,May,2004
Name: date, dtype: object
3201    02,August,2004
3201       17,May,2004
Name: date, dtype: object
3202     31,May,2004
3202    26,June,2004
Name: date, dtype: object
3203    03,June,2004
3203    25,June,2004
Name: date, dtype: object
3204    01,June,2004
3204    25,June,2004
Name: date, dtype: object
3205    01,June,2004
3205    23,June,2004
Name: date, dtype: object
3206    30,June,2004
3206    15,June,2004
Name: date, dtype: object
3207    27,June,2004
3207    14,June,2004
Name: date, dtype: object
3208    22,June,2004
3208    11,June,2004
Name: date, dtype: object
3209    17,June,2004
3209    10,June,2004
Name: date, dtype: object
3210    14,June,2004
3210    08,June,2004
Name: date, dtype: object
3211    10,June,2004
3211    07,June,2004
Name: date, dtype: object
3212    10,June,2004
3212    05,June,2004
Name: date, dtype: object
3213    29,July,2004
3213    04,June,2004
Name: date, dtype: object
3214    26,July,2004
3214    01,June,2004
Name: date, dtype: object
3215    26,July,2004
3215    01,June,2004
Name: date, dtype: object
3216    19,July,2004
3216    01,June,2004
Name: date, dtype: object
3217    15,July,2004
3217    01,June,2004
Name: date, dtype: object
3218    15,July,2004
3218    12,July,2004
Name: date, dtype: object
3219    14,July,2004
3219    05,July,2004
Name: date, dtype: object
3220    13,July,2004
3220    05,July,2004
Name: date, dtype: object
3221    09,August,2004
3221      05,July,2004
Name: date, dtype: object
3222    03,August,2004
3222      29,July,2004
Name: date, dtype: object
3223    03,August,2004
3223      24,July,2004
Name: date, dtype: object
3224    19,July,2004
3224    18,July,2004
Name: date, dtype: object
3225    19,July,2004
3225    17,July,2004
Name: date, dtype: object
3226    11,August,2004
3226      10,July,2004
Name: date, dtype: object
3227    04,August,2004
3227      06,July,2004
Name: date, dtype: object
3228    02,August,2004
3228      05,July,2004
Name: date, dtype: object
3229    02,August,2004
3229      04,July,2004
Name: date, dtype: object
3230      09,July,2004
3230    07,August,2004
Name: date, dtype: object
3231    08,July,2004
3231    25,July,2003
Name: date, dtype: object
3232    17,July,2004
3232    24,July,2003
Name: date, dtype: object
3233    16,July,2004
3233    23,July,2003
Name: date, dtype: object
3234      15,July,2004
3234    31,August,2003
Name: date, dtype: object
3235      14,July,2004
3235    30,August,2003
Name: date, dtype: object
3236      13,July,2004
3236    28,August,2003
Name: date, dtype: object
3237      13,July,2004
3237    27,August,2003
Name: date, dtype: object
3238      12,July,2004
3238    26,August,2003
Name: date, dtype: object
3239      22,July,2004
3239    24,August,2003
Name: date, dtype: object
3240      21,July,2004
3240    21,August,2003
Name: date, dtype: object
3241      21,July,2004
3241    21,August,2003
Name: date, dtype: object
3242      21,July,2004
3242    21,August,2003
Name: date, dtype: object
3243      21,July,2004
3243    19,August,2003
Name: date, dtype: object
3244      19,July,2004
3244    19,August,2003
Name: date, dtype: object

3245      19,July,2004
3245    19,August,2003
Name: date, dtype: object
3246      30,July,2004
3246    19,August,2003
Name: date, dtype: object
3247      29,July,2004
3247    15,August,2003
Name: date, dtype: object
3248      28,July,2004
3248    14,August,2003
Name: date, dtype: object
3249      27,July,2004
3249    14,August,2003
Name: date, dtype: object
3250      27,July,2004
3250    13,August,2003
Name: date, dtype: object
3251      27,July,2004
3251    12,August,2003
Name: date, dtype: object
3252      27,July,2004
3252    11,August,2003
Name: date, dtype: object
3253      26,July,2004
3253    10,August,2003
Name: date, dtype: object
3254         26,July,2004
3254    04,September,2003
Name: date, dtype: object
3255         26,July,2004
3255    01,September,2003
Name: date, dtype: object
3256       26,July,2004
3256    26,October,2003
Name: date, dtype: object
3257        26,July,2004
3257    19,November,2003
Name: date, dtype: object
3258        26,July,2004
3258    09,November,2003
Name: date, dtype: object
3259        26,July,2004
3259    09,November,2003
Name: date, dtype: object
3260        26,July,2004
3260    29,December,2003
Name: date, dtype: object
3261        26,July,2004
3261    22,December,2003
Name: date, dtype: object
3262        26,July,2004
3262    16,December,2003
Name: date, dtype: object
3263        26,July,2004
3263    15,December,2003
Name: date, dtype: object
3264      07,August,2004
3264    14,December,2003
Name: date, dtype: object
3265      06,August,2004
3265    05,December,2003
Name: date, dtype: object
3266     05,August,2004
3266    24,January,2004
Name: date, dtype: object
3267     04,August,2004
3267    23,January,2004
Name: date, dtype: object
3268     03,August,2004
3268    02,January,2004
Name: date, dtype: object
3269     03,August,2004
3269    01,January,2004
Name: date, dtype: object
3270      02,August,2004
3270    29,February,2004
Name: date, dtype: object
3271      02,August,2004
3271    26,February,2004
Name: date, dtype: object
3272      02,August,2004
3272    26,February,2004
Name: date, dtype: object
3273      01,August,2004
3273    26,February,2004
Name: date, dtype: object
3274      13,August,2004
3274    25,February,2004
Name: date, dtype: object
3275      12,August,2004
3275    23,February,2004
Name: date, dtype: object
3276      11,August,2004
3276    23,February,2004
Name: date, dtype: object
3277      11,August,2004
3277    16,February,2004
Name: date, dtype: object
3278      10,August,2004
3278    14,February,2004
Name: date, dtype: object
3279      10,August,2004
3279    14,February,2004
Name: date, dtype: object
3280      10,August,2004
3280    11,February,2004
Name: date, dtype: object
3281      09,August,2004
3281    03,February,2004
Name: date, dtype: object
3282      16,August,2004
3282    02,February,2004
Name: date, dtype: object
3283      16,August,2004
3283    02,February,2004
Name: date, dtype: object
3284    11,January,2004
3284      27,March,2004
Name: date, dtype: object
3285    09,January,2004
3285      26,March,2004
Name: date, dtype: object
3286    03,February,2004
3286       20,March,2004
Name: date, dtype: object
3287      24,May,2004
3287    14,March,2004
Name: date, dtype: object
3288      20,May,2004
3288    12,March,2004
Name: date, dtype: object
3289      19,May,2004
3289    06,March,2004
Name: date, dtype: object
3290      18,May,2004
3290    05,March,2004
Name: date, dtype: object
3291      18,May,2004
3291    04,March,2004
Name: date, dtype: object
3292      18,May,2004
3292    03,March,2004
Name: date, dtype: object
3293      17,May,2004
3293    03,March,2004
Name: date, dtype: object
3294      15,May,2004
3294    03,March,2004
Name: date, dtype: object
3295      15,May,2004
3295    30,April,2004
Name: date, dtype: object
3296      15,May,2004
3296    29,April,2004
Name: date, dtype: object
3297      14,May,2004
3297    29,April,2004
Name: date, dtype: object
3298      12,May,2004
3298    28,April,2004
Name: date, dtype: object
3299      12,May,2004
3299    28,April,2004
Name: date, dtype: object
3300      04,May,2004
3300    27,April,2004
Name: date, dtype: object
3301      04,May,2004
3301    26,April,2004
Name: date, dtype: object
3302     30,June,2004
3302    25,April,2004
Name: date, dtype: object
3303     15,June,2004
3303    19,April,2004
Name: date, dtype: object
3304     15,June,2004
3304    19,April,2004
Name: date, dtype: object
3305     13,July,2004
3305    19,April,2004
Name: date, dtype: object
3306     01,July,2004
3306    14,April,2004
Name: date, dtype: object
3307      30,May,2004
3307    11,April,2004
Name: date, dtype: object
3308     19,June,2004
3308    10,April,2004
Name: date, dtype: object
3309     30,July,2004
3309    07,April,2004
Name: date, dtype: object
3310     26,July,2004
3310    06,April,2004
Name: date, dtype: object
3311     09,July,2004
3311    04,April,2004
Name: date, dtype: object
3312    09,July,2004
3312     29,May,2004
Name: date, dtype: object
3313    21,June,2004
3313     28,May,2004
Name: date, dtype: object
3314    11,June,2004
3314     27,May,2004
Name: date, dtype: object
3315    07,June,2004
3315     25,May,2004
Name: date, dtype: object
3316    22,June,2004
3316     22,May,2004
Name: date, dtype: object
3317    21,June,2004
3317     20,May,2004
Name: date, dtype: object
3318    04,July,2004
3318     20,May,2004
Name: date, dtype: object
3319    13,July,2004
3319     17,May,2004
Name: date, dtype: object
3320    24,July,2004
3320     16,May,2004
Name: date, dtype: object
3321    22,July,2004
3321     14,May,2004
Name: date, dtype: object
3322    03,August,2004
3322       13,May,2004
Name: date, dtype: object
3323    02,August,2004
3323       10,May,2004
Name: date, dtype: object
3324    26,July,2004
3324     09,May,2004
Name: date, dtype: object
3325    24,July,2004
3325     09,May,2004
Name: date, dtype: object
3326    17,July,2004
3326     09,May,2004
Name: date, dtype: object
3327    15,July,2004
3327     09,May,2004
Name: date, dtype: object
3328    15,July,2004
3328     09,May,2004
Name: date, dtype: object
3329    15,July,2004
3329     02,May,2004
Name: date, dtype: object
3330    15,July,2004
3330     02,May,2004
Name: date, dtype: object
3331    15,July,2004
3331     01,May,2004
Name: date, dtype: object
3332    15,July,2004
3332    30,June,2004
Name: date, dtype: object
3333    13,August,2004
3333      29,June,2004
Name: date, dtype: object
3334    01,August,2004
3334      28,June,2004
Name: date, dtype: object
3335    30,July,2004
3335    27,June,2004
Name: date, dtype: object
3336    29,July,2004
3336    25,June,2004
Name: date, dtype: object
3337    29,July,2004
3337    23,June,2004
Name: date, dtype: object
3338    18,August,2004
3338      22,June,2004
Name: date, dtype: object
3339    12,August,2004
3339      15,June,2004
Name: date, dtype: object
3340    11,August,2004
3340      14,June,2004
Name: date, dtype: object
3341    10,August,2004
3341      10,June,2004
Name: date, dtype: object
3342    09,August,2004
3342      09,June,2004
Name: date, dtype: object
3343    08,August,2004
3343      06,June,2004
Name: date, dtype: object
3344    07,August,2004
3344      06,June,2004
Name: date, dtype: object
3345    05,August,2004
3345      04,June,2004
Name: date, dtype: object
3346    05,August,2004
3346      04,June,2004
Name: date, dtype: object
3347    03,August,2004
3347      01,June,2004
Name: date, dtype: object
3348    03,August,2004
3348      30,July,2004
Name: date, dtype: object
3349    01,August,2004
3349      27,July,2004
Name: date, dtype: object
3350    01,August,2004
3350      26,July,2004
Name: date, dtype: object
3351     31,May,2004
3351    25,July,2004
Name: date, dtype: object
3352     29,May,2004
3352    25,July,2004
Name: date, dtype: object
3353     25,May,2004
3353    23,July,2004
Name: date, dtype: object
3354     24,May,2004
3354    22,July,2004
Name: date, dtype: object
3355     23,May,2004
3355    21,July,2004
Name: date, dtype: object
3356     22,May,2004
3356    20,July,2004
Name: date, dtype: object
3357     18,May,2004
3357    13,July,2004
Name: date, dtype: object
3358     17,May,2004
3358    13,July,2004
Name: date, dtype: object
3359     17,May,2004
3359    12,July,2004
Name: date, dtype: object
3360     16,May,2004
3360    12,July,2004
Name: date, dtype: object
3361    14,June,2004
3361    09,July,2004
Name: date, dtype: object
3362    09,June,2004
3362    07,July,2004
Name: date, dtype: object
3363    08,June,2004
3363    03,July,2004
Name: date, dtype: object
3364     13,May,2004
3364    01,July,2004
Name: date, dtype: object
3365      30,June,2004
3365    11,August,2004
Name: date, dtype: object
3366      28,June,2004
3366    09,August,2004
Name: date, dtype: object
3367      27,June,2004
3367    08,August,2004
Name: date, dtype: object
3368      31,July,2004
3368    07,August,2004
Name: date, dtype: object
3369      24,July,2004
3369    01,August,2004
Name: date, dtype: object
3370    19,July,2004
3370    30,June,2004
Name: date, dtype: object
3371    17,July,2004
3371    28,June,2004
Name: date, dtype: object
3372    11,July,2004
3372    27,June,2004
Name: date, dtype: object
3373    08,July,2004
3373    27,June,2004
Name: date, dtype: object
3374    03,July,2004
3374    27,June,2004
Name: date, dtype: object
3375    02,July,2004
3375    29,July,2004
Name: date, dtype: object

3376    01,July,2004
3376    18,July,2004
Name: date, dtype: object
3377    15,August,2004
3377      12,July,2004
Name: date, dtype: object
3378    14,August,2004
3378      12,July,2004
Name: date, dtype: object
3379    13,August,2004
3379      06,July,2004
Name: date, dtype: object
3380    12,August,2004
3380      04,July,2004
Name: date, dtype: object
3381    08,August,2004
3381      03,July,2004
Name: date, dtype: object
3382    07,August,2004
3382    13,August,2004
Name: date, dtype: object
3383    06,August,2004
3383    09,August,2004
Name: date, dtype: object
3384    05,August,2004
3384    07,August,2004
Name: date, dtype: object
3385    04,August,2004
3385    07,August,2004
Name: date, dtype: object
3386    03,August,2004
3386    07,August,2004
Name: date, dtype: object
3387    02,August,2004
3387    05,August,2004
Name: date, dtype: object
3388    01,August,2004
3388    30,August,2002
Name: date, dtype: object
3389    18,August,2004
3389    29,August,2002
Name: date, dtype: object
3390    12,August,2004
3390    29,August,2002
Name: date, dtype: object
3391    10,August,2004
3391    29,August,2002
Name: date, dtype: object
3392    09,August,2004
3392    29,August,2002
Name: date, dtype: object
3393    08,August,2004
3393    28,August,2002
Name: date, dtype: object
3394    07,August,2004
3394    28,August,2002
Name: date, dtype: object
3395    07,August,2004
3395    28,August,2002
Name: date, dtype: object
3396    07,August,2004
3396    28,August,2002
Name: date, dtype: object
3397    07,August,2004
3397    28,August,2002
Name: date, dtype: object
3398      03,June,2004
3398    28,August,2002
Name: date, dtype: object
3399      03,June,2004
3399    27,August,2002
Name: date, dtype: object
3400      03,June,2004
3400    27,August,2002
Name: date, dtype: object
3401      03,June,2004
3401    27,August,2002
Name: date, dtype: object
3402      03,June,2004
3402    27,August,2002
Name: date, dtype: object
3403      03,June,2004
3403    26,August,2002
Name: date, dtype: object
3404      03,June,2004
3404    26,August,2002
Name: date, dtype: object
3405      03,June,2004
3405    23,August,2002
Name: date, dtype: object
3406      03,June,2004
3406    23,August,2002
Name: date, dtype: object
3407      03,June,2004
3407    23,August,2002
Name: date, dtype: object
3408      03,June,2004
3408    22,August,2002
Name: date, dtype: object
3409      03,June,2004
3409    22,August,2002
Name: date, dtype: object
3410      03,June,2004
3410    22,August,2002
Name: date, dtype: object
3411      03,June,2004
3411    21,August,2002
Name: date, dtype: object
3412      03,June,2004
3412    21,August,2002
Name: date, dtype: object
3413      03,June,2004
3413    21,August,2002
Name: date, dtype: object
3414      03,June,2004
3414    21,August,2002
Name: date, dtype: object
3415      03,June,2004
3415    21,August,2002
Name: date, dtype: object
3416      03,June,2004
3416    21,August,2002
Name: date, dtype: object
3417      03,June,2004
3417    21,August,2002
Name: date, dtype: object
3418      03,June,2004
3418    20,August,2002
Name: date, dtype: object
3419      03,June,2004
3419    20,August,2002
Name: date, dtype: object
3420      03,June,2004
3420    20,August,2002
Name: date, dtype: object
3421      03,June,2004
3421    20,August,2002
Name: date, dtype: object
3422    12,August,2004
3422    20,August,2002
Name: date, dtype: object
3423    12,August,2004
3423    20,August,2002
Name: date, dtype: object
3424    12,August,2004
3424    19,August,2002
Name: date, dtype: object
3425    12,August,2004
3425    19,August,2002
Name: date, dtype: object
3426    12,August,2004
3426    19,August,2002
Name: date, dtype: object
3427    12,August,2004
3427    19,August,2002
Name: date, dtype: object
3428    12,August,2004
3428    19,August,2002
Name: date, dtype: object
3429    12,August,2004
3429    19,August,2002
Name: date, dtype: object
3430    12,August,2004
3430    19,August,2002
Name: date, dtype: object
3431    12,August,2004
3431    16,August,2002
Name: date, dtype: object
3432    12,August,2004
3432    16,August,2002
Name: date, dtype: object
3433    12,August,2004
3433    16,August,2002
Name: date, dtype: object
3434    12,August,2004
3434    16,August,2002
Name: date, dtype: object
3435    12,August,2004
3435    16,August,2002
Name: date, dtype: object
3436    12,August,2004
3436    16,August,2002
Name: date, dtype: object
3437    12,August,2004
3437    16,August,2002
Name: date, dtype: object
3438    12,August,2004
3438    16,August,2002
Name: date, dtype: object
3439    12,August,2004
3439    16,August,2002
Name: date, dtype: object
3440    12,August,2004
3440    16,August,2002
Name: date, dtype: object
3441    12,August,2004
3441    16,August,2002
Name: date, dtype: object
3442    12,August,2004
3442    16,August,2002
Name: date, dtype: object
3443    12,August,2004
3443    16,August,2002
Name: date, dtype: object
3444    12,August,2004
3444    16,August,2002
Name: date, dtype: object
3445    12,August,2004
3445    16,August,2002
Name: date, dtype: object
3446    12,August,2004
3446    16,August,2002
Name: date, dtype: object
3447       12,August,2004
3447    27,September,2002
Name: date, dtype: object
3448       12,August,2004
3448    26,September,2002
Name: date, dtype: object
3449       12,August,2004
3449    26,September,2002
Name: date, dtype: object
3450       12,August,2004
3450    25,September,2002
Name: date, dtype: object
3451       12,August,2004
3451    25,September,2002
Name: date, dtype: object
3452       12,August,2004
3452    25,September,2002
Name: date, dtype: object
3453       12,August,2004
3453    25,September,2002
Name: date, dtype: object
3454         22,June,2004
3454    25,September,2002
Name: date, dtype: object
3455         20,June,2004
3455    25,September,2002
Name: date, dtype: object
3456         19,June,2004
3456    24,September,2002
Name: date, dtype: object
3457         18,June,2004
3457    24,September,2002
Name: date, dtype: object
3458         18,June,2004
3458    24,September,2002
Name: date, dtype: object
3459         18,June,2004
3459    24,September,2002
Name: date, dtype: object
3460         18,June,2004
3460    24,September,2002
Name: date, dtype: object
3461         18,June,2004
3461    24,September,2002
Name: date, dtype: object
3462         18,June,2004
3462    23,September,2002
Name: date, dtype: object
3463         18,June,2004
3463    23,September,2002
Name: date, dtype: object
3464         21,July,2004
3464    23,September,2002
Name: date, dtype: object
3465         20,July,2004
3465    23,September,2002
Name: date, dtype: object
3466         02,July,2004
3466    23,September,2002
Name: date, dtype: object
3467         02,July,2004
3467    23,September,2002
Name: date, dtype: object
3468         02,July,2004
3468    23,September,2002
Name: date, dtype: object
3469          12,May,2004
3469    23,September,2002
Name: date, dtype: object
3470          11,May,2004
3470    23,September,2002
Name: date, dtype: object
3471          10,May,2004
3471    20,September,2002
Name: date, dtype: object
3472          10,May,2004
3472    20,September,2002
Name: date, dtype: object
3473          10,May,2004
3473    20,September,2002
Name: date, dtype: object
3474          10,May,2004
3474    20,September,2002
Name: date, dtype: object
3475          10,May,2004
3475    20,September,2002
Name: date, dtype: object
3476          10,May,2004
3476    20,September,2002
Name: date, dtype: object
3477         12,June,2004
3477    20,September,2002
Name: date, dtype: object
3478         07,June,2004
3478    20,September,2002
Name: date, dtype: object
3479       10,August,2004
3479    19,September,2002
Name: date, dtype: object
3480       10,August,2004
3480    19,September,2002
Name: date, dtype: object
3481       10,August,2004
3481    19,September,2002
Name: date, dtype: object
3482       10,August,2004
3482    19,September,2002
Name: date, dtype: object
3483       10,August,2004
3483    19,September,2002
Name: date, dtype: object
3484       10,August,2004
3484    19,September,2002
Name: date, dtype: object
3485       10,August,2004
3485    19,September,2002
Name: date, dtype: object
3486       10,August,2004
3486    19,September,2002
Name: date, dtype: object
3487       10,August,2004
3487    19,September,2002
Name: date, dtype: object
3488       10,August,2004
3488    18,September,2002
Name: date, dtype: object
3489       10,August,2004
3489    18,September,2002
Name: date, dtype: object
3490       10,August,2004
3490    18,September,2002
Name: date, dtype: object
3491       10,August,2004
3491    17,September,2002
Name: date, dtype: object
3492       10,August,2004
3492    17,September,2002
Name: date, dtype: object
3493       10,August,2004
3493    17,September,2002
Name: date, dtype: object
3494       10,August,2004
3494    13,September,2002
Name: date, dtype: object
3495       10,August,2004
3495    12,September,2002
Name: date, dtype: object
3496       10,August,2004
3496    12,September,2002
Name: date, dtype: object
3497       10,August,2004
3497    12,September,2002
Name: date, dtype: object
3498       10,August,2004
3498    12,September,2002
Name: date, dtype: object
3499       10,August,2004
3499    11,September,2002
Name: date, dtype: object
3500       10,August,2004
3500    11,September,2002
Name: date, dtype: object
3501       10,August,2004
3501    10,September,2002
Name: date, dtype: object
3502       10,August,2004
3502    10,September,2002
Name: date, dtype: object
3503       10,August,2004
3503    10,September,2002
Name: date, dtype: object
3504       10,August,2004
3504    10,September,2002
Name: date, dtype: object
3505       10,August,2004
3505    09,September,2002
Name: date, dtype: object

3506       10,August,2004
3506    09,September,2002
Name: date, dtype: object
3507       10,August,2004
3507    09,September,2002
Name: date, dtype: object
3508       10,August,2004
3508    09,September,2002
Name: date, dtype: object
3509       10,August,2004
3509    09,September,2002
Name: date, dtype: object
3510       10,August,2004
3510    06,September,2002
Name: date, dtype: object
3511       10,August,2004
3511    06,September,2002
Name: date, dtype: object
3512       10,August,2004
3512    06,September,2002
Name: date, dtype: object
3513       10,August,2004
3513    05,September,2002
Name: date, dtype: object
3514       10,August,2004
3514    04,September,2002
Name: date, dtype: object
3515       10,August,2004
3515    04,September,2002
Name: date, dtype: object
3516       10,August,2004
3516    04,September,2002
Name: date, dtype: object
3517       10,August,2004
3517    03,September,2002
Name: date, dtype: object
3518       10,August,2004
3518    03,September,2002
Name: date, dtype: object
3519       10,August,2004
3519    03,September,2002
Name: date, dtype: object
3520       10,August,2004
3520    03,September,2002
Name: date, dtype: object
3521     10,August,2004
3521    31,October,2002
Name: date, dtype: object
3522     10,August,2004
3522    30,October,2002
Name: date, dtype: object
3523     10,August,2004
3523    30,October,2002
Name: date, dtype: object
3524     10,August,2004
3524    30,October,2002
Name: date, dtype: object
3525     10,August,2004
3525    30,October,2002
Name: date, dtype: object
3526     10,August,2004
3526    30,October,2002
Name: date, dtype: object
3527     10,August,2004
3527    30,October,2002
Name: date, dtype: object
3528     10,August,2004
3528    29,October,2002
Name: date, dtype: object
3529     10,August,2004
3529    29,October,2002
Name: date, dtype: object
3530     10,August,2004
3530    29,October,2002
Name: date, dtype: object
3531     10,August,2004
3531    28,October,2002
Name: date, dtype: object
3532     10,August,2004
3532    28,October,2002
Name: date, dtype: object
3533     10,August,2004
3533    28,October,2002
Name: date, dtype: object
3534     10,August,2004
3534    28,October,2002
Name: date, dtype: object
3535     10,August,2004
3535    28,October,2002
Name: date, dtype: object
3536     10,August,2004
3536    28,October,2002
Name: date, dtype: object
3537     10,August,2004
3537    28,October,2002
Name: date, dtype: object
3538     10,August,2004
3538    28,October,2002
Name: date, dtype: object
3539     10,August,2004
3539    28,October,2002
Name: date, dtype: object
3540     10,August,2004
3540    28,October,2002
Name: date, dtype: object
3541     10,August,2004
3541    28,October,2002
Name: date, dtype: object
3542     10,August,2004
3542    24,October,2002
Name: date, dtype: object
3543     10,August,2004
3543    24,October,2002
Name: date, dtype: object
3544     10,August,2004
3544    24,October,2002
Name: date, dtype: object
3545     10,August,2004
3545    24,October,2002
Name: date, dtype: object
3546     10,August,2004
3546    23,October,2002
Name: date, dtype: object
3547     10,August,2004
3547    23,October,2002
Name: date, dtype: object
3548     10,August,2004
3548    22,October,2002
Name: date, dtype: object
3549     10,August,2004
3549    21,October,2002
Name: date, dtype: object
3550     10,August,2004
3550    21,October,2002
Name: date, dtype: object
3551     10,August,2004
3551    21,October,2002
Name: date, dtype: object
3552     10,August,2004
3552    21,October,2002
Name: date, dtype: object
3553     10,August,2004
3553    21,October,2002
Name: date, dtype: object
3554     10,August,2004
3554    18,October,2002
Name: date, dtype: object
3555     10,August,2004
3555    18,October,2002
Name: date, dtype: object
3556     10,August,2004
3556    18,October,2002
Name: date, dtype: object
3557     10,August,2004
3557    17,October,2002
Name: date, dtype: object
3558     10,August,2004
3558    17,October,2002
Name: date, dtype: object
3559     10,August,2004
3559    16,October,2002
Name: date, dtype: object
3560     10,August,2004
3560    16,October,2002
Name: date, dtype: object
3561     10,August,2004
3561    16,October,2002
Name: date, dtype: object
3562     10,August,2004
3562    16,October,2002
Name: date, dtype: object
3563     10,August,2004
3563    15,October,2002
Name: date, dtype: object
3564     10,August,2004
3564    15,October,2002
Name: date, dtype: object
3565     10,August,2004
3565    15,October,2002
Name: date, dtype: object
3566     10,August,2004
3566    15,October,2002
Name: date, dtype: object
3567     10,August,2004
3567    14,October,2002
Name: date, dtype: object
3568     10,August,2004
3568    14,October,2002
Name: date, dtype: object
3569     10,August,2004
3569    14,October,2002
Name: date, dtype: object
3570     10,August,2004
3570    14,October,2002
Name: date, dtype: object
3571     10,August,2004
3571    14,October,2002
Name: date, dtype: object
3572     10,August,2004
3572    14,October,2002
Name: date, dtype: object
3573     10,August,2004
3573    14,October,2002
Name: date, dtype: object
3574     10,August,2004
3574    14,October,2002
Name: date, dtype: object
3575     10,August,2004
3575    14,October,2002
Name: date, dtype: object
3576     10,August,2004
3576    14,October,2002
Name: date, dtype: object
3577     10,August,2004
3577    11,October,2002
Name: date, dtype: object
3578     10,August,2004
3578    11,October,2002
Name: date, dtype: object
3579     10,August,2004
3579    11,October,2002
Name: date, dtype: object
3580     10,August,2004
3580    11,October,2002
Name: date, dtype: object
3581     10,August,2004
3581    11,October,2002
Name: date, dtype: object
3582     10,August,2004
3582    11,October,2002
Name: date, dtype: object
3583     10,August,2004
3583    11,October,2002
Name: date, dtype: object
3584     10,August,2004
3584    11,October,2002
Name: date, dtype: object
3585     10,August,2004
3585    10,October,2002
Name: date, dtype: object
3586     10,August,2004
3586    10,October,2002
Name: date, dtype: object
3587     10,August,2004
3587    10,October,2002
Name: date, dtype: object
3588     10,August,2004
3588    10,October,2002
Name: date, dtype: object
3589     10,August,2004
3589    10,October,2002
Name: date, dtype: object
3590     10,August,2004
3590    10,October,2002
Name: date, dtype: object
3591     10,August,2004
3591    09,October,2002
Name: date, dtype: object
3592     10,August,2004
3592    09,October,2002
Name: date, dtype: object
3593     10,August,2004
3593    09,October,2002
Name: date, dtype: object
3594     10,August,2004
3594    09,October,2002
Name: date, dtype: object
3595     10,August,2004
3595    09,October,2002
Name: date, dtype: object
3596     10,August,2004
3596    08,October,2002
Name: date, dtype: object
3597     10,August,2004
3597    08,October,2002
Name: date, dtype: object
3598     10,August,2004
3598    08,October,2002
Name: date, dtype: object
3599     10,August,2004
3599    07,October,2002
Name: date, dtype: object
3600     10,August,2004
3600    07,October,2002
Name: date, dtype: object
3601     10,August,2004
3601    07,October,2002
Name: date, dtype: object
3602     10,August,2004
3602    07,October,2002
Name: date, dtype: object
3603     10,August,2004
3603    07,October,2002
Name: date, dtype: object
3604     10,August,2004
3604    04,October,2002
Name: date, dtype: object
3605     10,August,2004
3605    03,October,2002
Name: date, dtype: object
3606     10,August,2004
3606    02,October,2002
Name: date, dtype: object
3607     10,August,2004
3607    02,October,2002
Name: date, dtype: object
3608     10,August,2004
3608    02,October,2002
Name: date, dtype: object
3609     10,August,2004
3609    01,October,2002
Name: date, dtype: object
3610     10,August,2004
3610    01,October,2002
Name: date, dtype: object
3611     10,August,2004
3611    01,October,2002
Name: date, dtype: object
3612     10,August,2004
3612    01,October,2002
Name: date, dtype: object
3613     10,August,2004
3613    01,October,2002
Name: date, dtype: object
3614     10,August,2004
3614    01,October,2002
Name: date, dtype: object
3615     10,August,2004
3615    01,October,2002
Name: date, dtype: object

3616     10,August,2004
3616    01,October,2002
Name: date, dtype: object
3617      10,August,2004
3617    29,November,2002
Name: date, dtype: object
3618      10,August,2004
3618    27,November,2002
Name: date, dtype: object
3619      10,August,2004
3619    26,November,2002
Name: date, dtype: object
3620      10,August,2004
3620    26,November,2002
Name: date, dtype: object
3621      10,August,2004
3621    26,November,2002
Name: date, dtype: object
3622      10,August,2004
3622    26,November,2002
Name: date, dtype: object
3623      10,August,2004
3623    25,November,2002
Name: date, dtype: object
3624      10,August,2004
3624    25,November,2002
Name: date, dtype: object
3625      10,August,2004
3625    25,November,2002
Name: date, dtype: object
3626      10,August,2004
3626    25,November,2002
Name: date, dtype: object
3627      10,August,2004
3627    22,November,2002
Name: date, dtype: object
3628      10,August,2004
3628    22,November,2002
Name: date, dtype: object
3629      10,August,2004
3629    22,November,2002
Name: date, dtype: object
3630      10,August,2004
3630    22,November,2002
Name: date, dtype: object
3631      10,August,2004
3631    22,November,2002
Name: date, dtype: object
3632      10,August,2004
3632    22,November,2002
Name: date, dtype: object
3633      10,August,2004
3633    21,November,2002
Name: date, dtype: object
3634      10,August,2004
3634    21,November,2002
Name: date, dtype: object
3635      10,August,2004
3635    21,November,2002
Name: date, dtype: object
3636      10,August,2004
3636    21,November,2002
Name: date, dtype: object
3637      10,August,2004
3637    21,November,2002
Name: date, dtype: object
3638      10,August,2004
3638    21,November,2002
Name: date, dtype: object
3639      10,August,2004
3639    21,November,2002
Name: date, dtype: object
3640      10,August,2004
3640    21,November,2002
Name: date, dtype: object
3641      10,August,2004
3641    21,November,2002
Name: date, dtype: object
3642      10,August,2004
3642    21,November,2002
Name: date, dtype: object
3643      10,August,2004
3643    21,November,2002
Name: date, dtype: object
3644      10,August,2004
3644    21,November,2002
Name: date, dtype: object
3645      10,August,2004
3645    21,November,2002
Name: date, dtype: object
3646      10,August,2004
3646    21,November,2002
Name: date, dtype: object
3647      10,August,2004
3647    21,November,2002
Name: date, dtype: object
3648      10,August,2004
3648    21,November,2002
Name: date, dtype: object
3649      10,August,2004
3649    20,November,2002
Name: date, dtype: object
3650      10,August,2004
3650    20,November,2002
Name: date, dtype: object
3651         24,May,2004
3651    20,November,2002
Name: date, dtype: object
3652         24,May,2004
3652    20,November,2002
Name: date, dtype: object
3653         24,May,2004
3653    20,November,2002
Name: date, dtype: object
3654         24,May,2004
3654    20,November,2002
Name: date, dtype: object
3655         24,May,2004
3655    20,November,2002
Name: date, dtype: object
3656         24,May,2004
3656    20,November,2002
Name: date, dtype: object
3657         24,May,2004
3657    20,November,2002
Name: date, dtype: object
3658         24,May,2004
3658    19,November,2002
Name: date, dtype: object
3659         24,May,2004
3659    19,November,2002
Name: date, dtype: object
3660         24,May,2004
3660    19,November,2002
Name: date, dtype: object
3661         24,May,2004
3661    19,November,2002
Name: date, dtype: object
3662         24,May,2004
3662    18,November,2002
Name: date, dtype: object
3663         24,May,2004
3663    18,November,2002
Name: date, dtype: object
3664         24,May,2004
3664    18,November,2002
Name: date, dtype: object
3665         24,May,2004
3665    18,November,2002
Name: date, dtype: object
3666         24,May,2004
3666    18,November,2002
Name: date, dtype: object
3667         24,May,2004
3667    18,November,2002
Name: date, dtype: object
3668         24,May,2004
3668    18,November,2002
Name: date, dtype: object
3669         24,May,2004
3669    15,November,2002
Name: date, dtype: object
3670         24,May,2004
3670    15,November,2002
Name: date, dtype: object
3671         24,May,2004
3671    15,November,2002
Name: date, dtype: object
3672         24,May,2004
3672    15,November,2002
Name: date, dtype: object
3673         24,May,2004
3673    15,November,2002
Name: date, dtype: object
3674         24,May,2004
3674    15,November,2002
Name: date, dtype: object
3675         24,May,2004
3675    15,November,2002
Name: date, dtype: object
3676         24,May,2004
3676    15,November,2002
Name: date, dtype: object
3677         24,May,2004
3677    15,November,2002
Name: date, dtype: object
3678         24,May,2004
3678    15,November,2002
Name: date, dtype: object
3679         24,May,2004
3679    15,November,2002
Name: date, dtype: object
3680         24,May,2004
3680    15,November,2002
Name: date, dtype: object
3681         24,May,2004
3681    14,November,2002
Name: date, dtype: object
3682         24,May,2004
3682    14,November,2002
Name: date, dtype: object
3683         24,May,2004
3683    14,November,2002
Name: date, dtype: object
3684         24,May,2004
3684    13,November,2002
Name: date, dtype: object
3685         24,May,2004
3685    13,November,2002
Name: date, dtype: object
3686         24,May,2004
3686    13,November,2002
Name: date, dtype: object
3687         24,May,2004
3687    13,November,2002
Name: date, dtype: object
3688         24,May,2004
3688    13,November,2002
Name: date, dtype: object
3689         24,May,2004
3689    13,November,2002
Name: date, dtype: object
3690         24,May,2004
3690    13,November,2002
Name: date, dtype: object
3691         24,May,2004
3691    13,November,2002
Name: date, dtype: object
3692         24,May,2004
3692    12,November,2002
Name: date, dtype: object
3693         24,May,2004
3693    12,November,2002
Name: date, dtype: object
3694         24,May,2004
3694    12,November,2002
Name: date, dtype: object
3695        28,July,2004
3695    12,November,2002
Name: date, dtype: object
3696        28,July,2004
3696    12,November,2002
Name: date, dtype: object
3697        28,July,2004
3697    12,November,2002
Name: date, dtype: object
3698        28,July,2004
3698    12,November,2002
Name: date, dtype: object
3699        28,July,2004
3699    11,November,2002
Name: date, dtype: object
3700        28,July,2004
3700    11,November,2002
Name: date, dtype: object
3701        28,July,2004
3701    11,November,2002
Name: date, dtype: object
3702        28,July,2004
3702    11,November,2002
Name: date, dtype: object
3703        28,July,2004
3703    08,November,2002
Name: date, dtype: object
3704        28,July,2004
3704    08,November,2002
Name: date, dtype: object
3705        28,July,2004
3705    08,November,2002
Name: date, dtype: object
3706        28,July,2004
3706    08,November,2002
Name: date, dtype: object
3707        28,July,2004
3707    07,November,2002
Name: date, dtype: object
3708        28,July,2004
3708    07,November,2002
Name: date, dtype: object
3709        28,July,2004
3709    07,November,2002
Name: date, dtype: object
3710        28,July,2004
3710    07,November,2002
Name: date, dtype: object
3711        28,July,2004
3711    07,November,2002
Name: date, dtype: object
3712        28,July,2004
3712    05,November,2002
Name: date, dtype: object
3713        28,July,2004
3713    05,November,2002
Name: date, dtype: object
3714        28,July,2004
3714    05,November,2002
Name: date, dtype: object
3715        28,July,2004
3715    05,November,2002
Name: date, dtype: object
3716        28,July,2004
3716    05,November,2002
Name: date, dtype: object
3717        28,July,2004
3717    31,December,2002
Name: date, dtype: object
3718        28,July,2004
3718    30,December,2002
Name: date, dtype: object
3719        28,July,2004
3719    30,December,2002
Name: date, dtype: object
3720        28,July,2004
3720    30,December,2002
Name: date, dtype: object
3721        28,July,2004
3721    30,December,2002
Name: date, dtype: object
3722        28,July,2004
3722    30,December,2002
Name: date, dtype: object
3723        28,July,2004
3723    30,December,2002
Name: date, dtype: object
3724        28,July,2004
3724    30,December,2002
Name: date, dtype: object
3725        28,July,2004
3725    30,December,2002
Name: date, dtype: object
3726        28,July,2004
3726    30,December,2002
Name: date, dtype: object
3727        28,July,2004
3727    27,December,2002
Name: date, dtype: object
3728        28,July,2004
3728    27,December,2002
Name: date, dtype: object
3729        28,July,2004
3729    27,December,2002
Name: date, dtype: object
3730        28,July,2004
3730    27,December,2002
Name: date, dtype: object
3731        28,July,2004
3731    27,December,2002
Name: date, dtype: object
3732        28,July,2004
3732    27,December,2002
Name: date, dtype: object
3733        28,July,2004
3733    27,December,2002
Name: date, dtype: object
3734        28,July,2004
3734    27,December,2002
Name: date, dtype: object
3735        28,July,2004
3735    27,December,2002
Name: date, dtype: object
3736         27,May,2004
3736    27,December,2002
Name: date, dtype: object
3737         24,May,2004
3737    26,December,2002
Name: date, dtype: object
3738         23,May,2004
3738    26,December,2002
Name: date, dtype: object
3739         23,May,2004
3739    26,December,2002
Name: date, dtype: object
3740        09,June,2004
3740    26,December,2002
Name: date, dtype: object
3741        07,June,2004
3741    26,December,2002
Name: date, dtype: object
3742        03,June,2004
3742    26,December,2002
Name: date, dtype: object
3743        03,June,2004
3743    26,December,2002
Name: date, dtype: object

3744      14,August,2004
3744    26,December,2002
Name: date, dtype: object
3745        25,July,2004
3745    24,December,2002
Name: date, dtype: object
3746        06,July,2004
3746    24,December,2002
Name: date, dtype: object
3747        06,July,2004
3747    24,December,2002
Name: date, dtype: object
3748        05,July,2004
3748    24,December,2002
Name: date, dtype: object
3749        04,July,2004
3749    24,December,2002
Name: date, dtype: object
3750        26,July,2004
3750    24,December,2002
Name: date, dtype: object
3751        19,July,2004
3751    23,December,2002
Name: date, dtype: object
3752        13,July,2004
3752    23,December,2002
Name: date, dtype: object
3753        11,July,2004
3753    20,December,2002
Name: date, dtype: object
3754        08,July,2004
3754    20,December,2002
Name: date, dtype: object
3755      11,August,2004
3755    20,December,2002
Name: date, dtype: object
3756      09,August,2004
3756    20,December,2002
Name: date, dtype: object
3757      04,August,2004
3757    20,December,2002
Name: date, dtype: object
3758        29,July,2004
3758    20,December,2002
Name: date, dtype: object
3759        22,July,2004
3759    20,December,2002
Name: date, dtype: object
3760        22,July,2004
3760    20,December,2002
Name: date, dtype: object
3761        21,July,2004
3761    19,December,2002
Name: date, dtype: object
3762        16,July,2004
3762    19,December,2002
Name: date, dtype: object
3763        14,July,2004
3763    19,December,2002
Name: date, dtype: object
3764        14,July,2004
3764    19,December,2002
Name: date, dtype: object
3765      11,August,2004
3765    19,December,2002
Name: date, dtype: object
3766      05,August,2004
3766    19,December,2002
Name: date, dtype: object
3767      04,August,2004
3767    19,December,2002
Name: date, dtype: object
3768      03,August,2004
3768    18,December,2002
Name: date, dtype: object
3769      20,August,2004
3769    18,December,2002
Name: date, dtype: object
3770      14,August,2004
3770    18,December,2002
Name: date, dtype: object
3771      10,August,2004
3771    17,December,2002
Name: date, dtype: object
3772      08,August,2004
3772    17,December,2002
Name: date, dtype: object
3773      07,August,2004
3773    17,December,2002
Name: date, dtype: object
3774      04,August,2004
3774    17,December,2002
Name: date, dtype: object
3775      03,August,2004
3775    17,December,2002
Name: date, dtype: object
3776      03,August,2004
3776    16,December,2002
Name: date, dtype: object
3777      02,August,2004
3777    16,December,2002
Name: date, dtype: object
3778      02,August,2004
3778    16,December,2002
Name: date, dtype: object
3779        20,July,2004
3779    13,December,2002
Name: date, dtype: object
3780        14,July,2004
3780    13,December,2002
Name: date, dtype: object
3781        14,July,2004
3781    13,December,2002
Name: date, dtype: object
3782        13,July,2004
3782    12,December,2002
Name: date, dtype: object
3783        13,July,2004
3783    12,December,2002
Name: date, dtype: object
3784        13,July,2004
3784    11,December,2002
Name: date, dtype: object
3785        13,July,2004
3785    10,December,2002
Name: date, dtype: object
3786        28,July,2004
3786    10,December,2002
Name: date, dtype: object
3787        20,July,2004
3787    10,December,2002
Name: date, dtype: object
3788        17,July,2004
3788    10,December,2002
Name: date, dtype: object
3789        13,July,2004
3789    10,December,2002
Name: date, dtype: object
3790        12,July,2004
3790    10,December,2002
Name: date, dtype: object
3791        11,July,2004
3791    09,December,2002
Name: date, dtype: object
3792        09,July,2004
3792    09,December,2002
Name: date, dtype: object
3793        08,July,2004
3793    09,December,2002
Name: date, dtype: object
3794        08,July,2004
3794    09,December,2002
Name: date, dtype: object
3795        07,July,2004
3795    06,December,2002
Name: date, dtype: object
3796      20,August,2004
3796    06,December,2002
Name: date, dtype: object
3797      11,August,2004
3797    06,December,2002
Name: date, dtype: object
3798        23,June,2004
3798    05,December,2002
Name: date, dtype: object
3799        18,June,2004
3799    05,December,2002
Name: date, dtype: object
3800        17,June,2004
3800    05,December,2002
Name: date, dtype: object
3801        15,June,2004
3801    05,December,2002
Name: date, dtype: object
3802        11,June,2004
3802    05,December,2002
Name: date, dtype: object
3803        09,June,2004
3803    05,December,2002
Name: date, dtype: object
3804        04,June,2004
3804    05,December,2002
Name: date, dtype: object
3805        23,June,2004
3805    05,December,2002
Name: date, dtype: object
3806        09,June,2004
3806    05,December,2002
Name: date, dtype: object
3807        09,June,2004
3807    04,December,2002
Name: date, dtype: object
3808        06,July,2004
3808    04,December,2002
Name: date, dtype: object
3809      16,August,2004
3809    04,December,2002
Name: date, dtype: object
3810    15,November,2003
3810    04,December,2002
Name: date, dtype: object
3811    10,November,2003
3811    04,December,2002
Name: date, dtype: object
3812    10,November,2003
3812    04,December,2002
Name: date, dtype: object
3813        30,July,2004
3813    04,December,2002
Name: date, dtype: object
3814        29,July,2004
3814    03,December,2002
Name: date, dtype: object
3815        29,July,2004
3815    03,December,2002
Name: date, dtype: object
3816        29,July,2004
3816    03,December,2002
Name: date, dtype: object
3817       28,July,2004
3817    31,January,2003
Name: date, dtype: object
3818       28,July,2004
3818    30,January,2003
Name: date, dtype: object
3819       28,July,2004
3819    30,January,2003
Name: date, dtype: object
3820       27,July,2004
3820    30,January,2003
Name: date, dtype: object
3821       27,July,2004
3821    30,January,2003
Name: date, dtype: object
3822       27,July,2004
3822    30,January,2003
Name: date, dtype: object
3823       27,July,2004
3823    30,January,2003
Name: date, dtype: object
3824       27,July,2004
3824    30,January,2003
Name: date, dtype: object
3825       27,July,2004
3825    30,January,2003
Name: date, dtype: object
3826       27,July,2004
3826    30,January,2003
Name: date, dtype: object
3827       27,July,2004
3827    30,January,2003
Name: date, dtype: object
3828       27,July,2004
3828    30,January,2003
Name: date, dtype: object
3829       27,July,2004
3829    29,January,2003
Name: date, dtype: object
3830       27,July,2004
3830    29,January,2003
Name: date, dtype: object
3831       27,July,2004
3831    29,January,2003
Name: date, dtype: object
3832       27,July,2004
3832    29,January,2003
Name: date, dtype: object
3833       27,July,2004
3833    28,January,2003
Name: date, dtype: object
3834       27,July,2004
3834    28,January,2003
Name: date, dtype: object
3835       27,July,2004
3835    28,January,2003
Name: date, dtype: object
3836       27,July,2004
3836    28,January,2003
Name: date, dtype: object
3837       27,July,2004
3837    28,January,2003
Name: date, dtype: object
3838       27,July,2004
3838    28,January,2003
Name: date, dtype: object
3839       27,July,2004
3839    27,January,2003
Name: date, dtype: object
3840       27,July,2004
3840    27,January,2003
Name: date, dtype: object
3841     05,August,2004
3841    27,January,2003
Name: date, dtype: object
3842     04,August,2004
3842    27,January,2003
Name: date, dtype: object
3843     02,August,2004
3843    27,January,2003
Name: date, dtype: object
3844       18,July,2004
3844    24,January,2003
Name: date, dtype: object
3845       14,July,2004
3845    24,January,2003
Name: date, dtype: object
3846       11,July,2004
3846    24,January,2003
Name: date, dtype: object
3847       09,July,2004
3847    24,January,2003
Name: date, dtype: object
3848       09,July,2004
3848    24,January,2003
Name: date, dtype: object
3849       08,July,2004
3849    24,January,2003
Name: date, dtype: object
3850       08,July,2004
3850    23,January,2003
Name: date, dtype: object
3851       07,July,2004
3851    23,January,2003
Name: date, dtype: object
3852       07,July,2004
3852    23,January,2003
Name: date, dtype: object
3853     03,August,2004
3853    23,January,2003
Name: date, dtype: object
3854       06,July,2004
3854    23,January,2003
Name: date, dtype: object
3855       04,July,2004
3855    23,January,2003
Name: date, dtype: object
3856       03,July,2004
3856    23,January,2003
Name: date, dtype: object
3857     19,August,2004
3857    22,January,2003
Name: date, dtype: object
3858     12,August,2004
3858    22,January,2003
Name: date, dtype: object
3859     11,August,2004
3859    22,January,2003
Name: date, dtype: object
3860     03,August,2004
3860    22,January,2003
Name: date, dtype: object
3861     03,August,2004
3861    22,January,2003
Name: date, dtype: object
3862     11,August,2004
3862    22,January,2003
Name: date, dtype: object
3863     11,August,2004
3863    22,January,2003
Name: date, dtype: object
3864       31,July,2004
3864    22,January,2003
Name: date, dtype: object
3865       30,July,2004
3865    22,January,2003
Name: date, dtype: object
3866       24,July,2004
3866    22,January,2003
Name: date, dtype: object
3867       18,July,2004
3867    21,January,2003
Name: date, dtype: object
3868       16,July,2004
3868    21,January,2003
Name: date, dtype: object
3869       14,July,2004
3869    21,January,2003
Name: date, dtype: object
3870       13,July,2004
3870    21,January,2003
Name: date, dtype: object
3871       02,July,2004
3871    21,January,2003
Name: date, dtype: object
3872     15,August,2004
3872    21,January,2003
Name: date, dtype: object
3873     07,August,2004
3873    21,January,2003
Name: date, dtype: object
3874     05,August,2004
3874    21,January,2003
Name: date, dtype: object
3875     01,August,2004
3875    21,January,2003
Name: date, dtype: object
3876       23,June,2004
3876    21,January,2003
Name: date, dtype: object
3877       21,June,2004
3877    21,January,2003
Name: date, dtype: object
3878       20,June,2004
3878    21,January,2003

Name: date, dtype: object
3879       20,June,2004
3879    21,January,2003
Name: date, dtype: object
3880       20,June,2004
3880    21,January,2003
Name: date, dtype: object
3881       20,June,2004
3881    21,January,2003
Name: date, dtype: object
3882       27,July,2004
3882    21,January,2003
Name: date, dtype: object
3883       19,July,2004
3883    21,January,2003
Name: date, dtype: object
3884       09,July,2004
3884    21,January,2003
Name: date, dtype: object
3885       03,July,2004
3885    21,January,2003
Name: date, dtype: object
3886       03,July,2004
3886    20,January,2003
Name: date, dtype: object
3887       02,July,2004
3887    20,January,2003
Name: date, dtype: object
3888     12,August,2004
3888    20,January,2003
Name: date, dtype: object
3889     08,August,2004
3889    20,January,2003
Name: date, dtype: object
3890     06,August,2004
3890    20,January,2003
Name: date, dtype: object
3891       30,July,2004
3891    20,January,2003
Name: date, dtype: object
3892       29,July,2004
3892    20,January,2003
Name: date, dtype: object
3893       28,July,2004
3893    20,January,2003
Name: date, dtype: object
3894       28,July,2004
3894    20,January,2003
Name: date, dtype: object
3895       27,July,2004
3895    20,January,2003
Name: date, dtype: object
3896       27,July,2004
3896    20,January,2003
Name: date, dtype: object
3897       27,July,2004
3897    20,January,2003
Name: date, dtype: object
3898       27,July,2004
3898    20,January,2003
Name: date, dtype: object
3899       26,July,2004
3899    20,January,2003
Name: date, dtype: object
3900       25,July,2004
3900    20,January,2003
Name: date, dtype: object
3901       24,July,2004
3901    20,January,2003
Name: date, dtype: object
3902       22,July,2004
3902    20,January,2003
Name: date, dtype: object
3903       22,July,2004
3903    20,January,2003
Name: date, dtype: object
3904       21,July,2004
3904    20,January,2003
Name: date, dtype: object
3905       21,July,2004
3905    20,January,2003
Name: date, dtype: object
3906       20,July,2004
3906    20,January,2003
Name: date, dtype: object
3907       20,July,2004
3907    20,January,2003
Name: date, dtype: object
3908       20,July,2004
3908    20,January,2003
Name: date, dtype: object
3909       20,July,2004
3909    20,January,2003
Name: date, dtype: object
3910     17,August,2004
3910    20,January,2003
Name: date, dtype: object
3911     16,August,2004
3911    20,January,2003
Name: date, dtype: object
3912     16,August,2004
3912    20,January,2003
Name: date, dtype: object
3913     10,August,2004
3913    20,January,2003
Name: date, dtype: object
3914     10,August,2004
3914    20,January,2003
Name: date, dtype: object
3915     10,August,2004
3915    20,January,2003
Name: date, dtype: object
3916     10,August,2004
3916    17,January,2003
Name: date, dtype: object
3917      03,August,2004
3917    28,February,2003
Name: date, dtype: object
3918      03,August,2004
3918    27,February,2003
Name: date, dtype: object
3919      03,August,2004
3919    27,February,2003
Name: date, dtype: object
3920      03,August,2004
3920    27,February,2003
Name: date, dtype: object
3921      03,August,2004
3921    27,February,2003
Name: date, dtype: object
3922      03,August,2004
3922    27,February,2003
Name: date, dtype: object
3923      03,August,2004
3923    27,February,2003
Name: date, dtype: object
3924         27,May,2004
3924    27,February,2003
Name: date, dtype: object
3925         26,May,2004
3925    27,February,2003
Name: date, dtype: object
3926         25,May,2004
3926    26,February,2003
Name: date, dtype: object
3927         21,May,2004
3927    26,February,2003
Name: date, dtype: object
3928         10,May,2004
3928    26,February,2003
Name: date, dtype: object
3929         10,May,2004
3929    26,February,2003
Name: date, dtype: object
3930         10,May,2004
3930    26,February,2003
Name: date, dtype: object
3931         10,May,2004
3931    26,February,2003
Name: date, dtype: object
3932         10,May,2004
3932    26,February,2003
Name: date, dtype: object
3933         10,May,2004
3933    25,February,2003
Name: date, dtype: object
3934         10,May,2004
3934    25,February,2003
Name: date, dtype: object
3935         10,May,2004
3935    25,February,2003
Name: date, dtype: object
3936         27,May,2004
3936    25,February,2003
Name: date, dtype: object
3937         26,May,2004
3937    25,February,2003
Name: date, dtype: object
3938         26,May,2004
3938    24,February,2003
Name: date, dtype: object
3939         26,May,2004
3939    24,February,2003
Name: date, dtype: object
3940         26,May,2004
3940    24,February,2003
Name: date, dtype: object
3941         26,May,2004
3941    24,February,2003
Name: date, dtype: object
3942         26,May,2004
3942    21,February,2003
Name: date, dtype: object
3943         26,May,2004
3943    21,February,2003
Name: date, dtype: object
3944         26,May,2004
3944    21,February,2003
Name: date, dtype: object
3945         26,May,2004
3945    21,February,2003
Name: date, dtype: object
3946        29,June,2004
3946    21,February,2003
Name: date, dtype: object
3947        25,June,2004
3947    21,February,2003
Name: date, dtype: object
3948        24,June,2004
3948    21,February,2003
Name: date, dtype: object
3949        23,June,2004
3949    20,February,2003
Name: date, dtype: object
3950        09,July,2004
3950    20,February,2003
Name: date, dtype: object
3951        03,July,2004
3951    20,February,2003
Name: date, dtype: object
3952        03,July,2004
3952    20,February,2003
Name: date, dtype: object
3953        01,July,2004
3953    20,February,2003
Name: date, dtype: object
3954        06,June,2004
3954    20,February,2003
Name: date, dtype: object
3955        05,June,2004
3955    20,February,2003
Name: date, dtype: object
3956        05,June,2004
3956    20,February,2003
Name: date, dtype: object
3957        28,July,2004
3957    20,February,2003
Name: date, dtype: object
3958        27,July,2004
3958    20,February,2003
Name: date, dtype: object
3959        20,July,2004
3959    20,February,2003
Name: date, dtype: object
3960      08,August,2004
3960    20,February,2003
Name: date, dtype: object
3961      19,August,2004
3961    20,February,2003
Name: date, dtype: object
3962      19,August,2004
3962    19,February,2003
Name: date, dtype: object
3963      19,August,2004
3963    19,February,2003
Name: date, dtype: object
3964      19,August,2004
3964    19,February,2003
Name: date, dtype: object
3965      18,August,2004
3965    19,February,2003
Name: date, dtype: object
3966      16,August,2004
3966    19,February,2003
Name: date, dtype: object
3967      13,August,2004
3967    19,February,2003
Name: date, dtype: object
3968         27,May,2004
3968    19,February,2003
Name: date, dtype: object
3969         26,May,2004
3969    19,February,2003
Name: date, dtype: object
3970         20,May,2004
3970    19,February,2003
Name: date, dtype: object
3971         19,May,2004
3971    19,February,2003
Name: date, dtype: object
3972         19,May,2004
3972    19,February,2003
Name: date, dtype: object
3973         19,May,2004
3973    19,February,2003
Name: date, dtype: object
3974        23,June,2004
3974    18,February,2003
Name: date, dtype: object
3975        21,June,2004
3975    18,February,2003
Name: date, dtype: object
3976        09,June,2004
3976    18,February,2003
Name: date, dtype: object
3977        07,June,2004
3977    18,February,2003
Name: date, dtype: object
3978        03,June,2004
3978    18,February,2003
Name: date, dtype: object
3979         25,May,2004
3979    18,February,2003
Name: date, dtype: object
3980         19,May,2004
3980    18,February,2003
Name: date, dtype: object
3981         19,May,2004
3981    18,February,2003
Name: date, dtype: object
3982        26,June,2004
3982    18,February,2003
Name: date, dtype: object
3983        21,June,2004
3983    18,February,2003
Name: date, dtype: object
3984        21,June,2004
3984    18,February,2003
Name: date, dtype: object
3985        21,June,2004
3985    18,February,2003
Name: date, dtype: object
3986        07,June,2004
3986    18,February,2003
Name: date, dtype: object
3987        03,June,2004
3987    18,February,2003
Name: date, dtype: object
3988        03,June,2004
3988    18,February,2003
Name: date, dtype: object
3989        26,June,2004
3989    18,February,2003
Name: date, dtype: object
3990        26,June,2004
3990    18,February,2003
Name: date, dtype: object
3991        26,June,2004
3991    18,February,2003
Name: date, dtype: object
3992        26,June,2004
3992    18,February,2003
Name: date, dtype: object
3993        26,June,2004
3993    17,February,2003
Name: date, dtype: object
3994        26,June,2004
3994    17,February,2003
Name: date, dtype: object
3995        26,June,2004
3995    17,February,2003
Name: date, dtype: object
3996        26,June,2004
3996    17,February,2003
Name: date, dtype: object
3997        26,June,2004
3997    17,February,2003
Name: date, dtype: object
3998        29,July,2004
3998    17,February,2003
Name: date, dtype: object
3999        28,July,2004
3999    17,February,2003
Name: date, dtype: object
4000        27,July,2004
4000    17,February,2003
Name: date, dtype: object
4001        25,July,2004
4001    17,February,2003
Name: date, dtype: object
4002        24,July,2004
4002    14,February,2003
Name: date, dtype: object
4003        24,July,2004
4003    13,February,2003
Name: date, dtype: object
4004        24,July,2004
4004    13,February,2003
Name: date, dtype: object
4005        24,July,2004
4005    13,February,2003
Name: date, dtype: object
4006        24,July,2004
4006    13,February,2003
Name: date, dtype: object
4007        24,July,2004
4007    13,February,2003
Name: date, dtype: object
4008        24,July,2004
4008    13,February,2003
Name: date, dtype: object
4009      02,August,2004
4009    13,February,2003
Name: date, dtype: object
4010      24,August,2004
4010    13,February,2003
Name: date, dtype: object
4011      23,August,2004
4011    13,February,2003
Name: date, dtype: object
4012      22,August,2004
4012    13,February,2003
Name: date, dtype: object
4013         22,May,2004
4013    13,February,2003
Name: date, dtype: object
4014         14,May,2004
4014    12,February,2003
Name: date, dtype: object

4015         13,May,2004
4015    12,February,2003
Name: date, dtype: object
4016         12,May,2004
4016    12,February,2003
Name: date, dtype: object
4017     26,June,2004
4017    31,March,2003
Name: date, dtype: object
4018     11,June,2004
4018    28,March,2003
Name: date, dtype: object
4019     28,July,2004
4019    28,March,2003
Name: date, dtype: object
4020     20,July,2004
4020    28,March,2003
Name: date, dtype: object
4021     18,July,2004
4021    28,March,2003
Name: date, dtype: object
4022     14,July,2004
4022    27,March,2003
Name: date, dtype: object
4023    06,August,2004
4023     27,March,2003
Name: date, dtype: object
4024    04,August,2004
4024     27,March,2003
Name: date, dtype: object
4025    01,August,2004
4025     27,March,2003
Name: date, dtype: object
4026     31,July,2004
4026    27,March,2003
Name: date, dtype: object
4027     29,July,2004
4027    27,March,2003
Name: date, dtype: object
4028     29,July,2004
4028    27,March,2003
Name: date, dtype: object
4029     29,July,2004
4029    26,March,2003
Name: date, dtype: object
4030    16,August,2004
4030     26,March,2003
Name: date, dtype: object
4031    16,August,2004
4031     26,March,2003
Name: date, dtype: object
4032    16,August,2004
4032     26,March,2003
Name: date, dtype: object
4033     20,July,2004
4033    26,March,2003
Name: date, dtype: object
4034     16,July,2004
4034    26,March,2003
Name: date, dtype: object
4035     15,July,2004
4035    25,March,2003
Name: date, dtype: object
4036     12,July,2004
4036    25,March,2003
Name: date, dtype: object
4037     09,July,2004
4037    25,March,2003
Name: date, dtype: object
4038     08,July,2004
4038    25,March,2003
Name: date, dtype: object
4039     08,July,2004
4039    25,March,2003
Name: date, dtype: object
4040    05,August,2004
4040     25,March,2003
Name: date, dtype: object
4041    01,August,2004
4041     25,March,2003
Name: date, dtype: object
4042      29,May,2004
4042    24,March,2003
Name: date, dtype: object
4043      28,May,2004
4043    24,March,2003
Name: date, dtype: object
4044      28,May,2004
4044    24,March,2003
Name: date, dtype: object
4045      28,May,2004
4045    24,March,2003
Name: date, dtype: object
4046      21,May,2004
4046    24,March,2003
Name: date, dtype: object
4047     25,June,2004
4047    24,March,2003
Name: date, dtype: object
4048     15,June,2004
4048    24,March,2003
Name: date, dtype: object
4049     15,June,2004
4049    24,March,2003
Name: date, dtype: object
4050     30,July,2004
4050    21,March,2003
Name: date, dtype: object
4051     06,July,2004
4051    21,March,2003
Name: date, dtype: object
4052     01,July,2004
4052    21,March,2003
Name: date, dtype: object
4053     27,July,2003
4053    21,March,2003
Name: date, dtype: object
4054     21,July,2003
4054    21,March,2003
Name: date, dtype: object
4055     20,July,2003
4055    21,March,2003
Name: date, dtype: object
4056     20,July,2003
4056    21,March,2003
Name: date, dtype: object
4057     19,July,2003
4057    21,March,2003
Name: date, dtype: object
4058     18,July,2003
4058    21,March,2003
Name: date, dtype: object
4059     14,July,2003
4059    20,March,2003
Name: date, dtype: object
4060     14,July,2003
4060    20,March,2003
Name: date, dtype: object
4061     13,July,2003
4061    20,March,2003
Name: date, dtype: object
4062     12,July,2003
4062    20,March,2003
Name: date, dtype: object
4063     12,July,2003
4063    19,March,2003
Name: date, dtype: object
4064     12,July,2003
4064    19,March,2003
Name: date, dtype: object
4065     12,July,2003
4065    19,March,2003
Name: date, dtype: object
4066     11,July,2003
4066    19,March,2003
Name: date, dtype: object
4067     11,July,2003
4067    19,March,2003
Name: date, dtype: object
4068    31,August,2003
4068     19,March,2003
Name: date, dtype: object
4069    28,August,2003
4069     19,March,2003
Name: date, dtype: object
4070    24,August,2003
4070     19,March,2003
Name: date, dtype: object
4071    23,August,2003
4071     19,March,2003
Name: date, dtype: object
4072    23,August,2003
4072     19,March,2003
Name: date, dtype: object
4073    19,August,2003
4073     18,March,2003
Name: date, dtype: object
4074    19,August,2003
4074     18,March,2003
Name: date, dtype: object
4075    18,August,2003
4075     18,March,2003
Name: date, dtype: object
4076    17,August,2003
4076     18,March,2003
Name: date, dtype: object
4077    16,August,2003
4077     18,March,2003
Name: date, dtype: object
4078    15,August,2003
4078     17,March,2003
Name: date, dtype: object
4079    14,August,2003
4079     17,March,2003
Name: date, dtype: object
4080    14,August,2003
4080     17,March,2003
Name: date, dtype: object
4081    08,August,2003
4081     17,March,2003
Name: date, dtype: object
4082    07,August,2003
4082     17,March,2003
Name: date, dtype: object
4083    28,September,2003
4083        14,March,2003
Name: date, dtype: object
4084    26,September,2003
4084        14,March,2003
Name: date, dtype: object
4085    25,September,2003
4085        14,March,2003
Name: date, dtype: object
4086    24,September,2003
4086        14,March,2003
Name: date, dtype: object
4087    23,September,2003
4087        14,March,2003
Name: date, dtype: object
4088    21,September,2003
4088        14,March,2003
Name: date, dtype: object
4089    20,September,2003
4089        13,March,2003
Name: date, dtype: object
4090    18,September,2003
4090        12,March,2003
Name: date, dtype: object
4091    18,September,2003
4091        12,March,2003
Name: date, dtype: object
4092    17,September,2003
4092        11,March,2003
Name: date, dtype: object
4093    14,September,2003
4093        11,March,2003
Name: date, dtype: object
4094    12,September,2003
4094        11,March,2003
Name: date, dtype: object
4095    10,September,2003
4095        10,March,2003
Name: date, dtype: object
4096    09,September,2003
4096        10,March,2003
Name: date, dtype: object
4097    06,September,2003
4097        08,March,2003
Name: date, dtype: object
4098    05,September,2003
4098        08,March,2003
Name: date, dtype: object
4099    02,September,2003
4099        08,March,2003
Name: date, dtype: object
4100    02,September,2003
4100        08,March,2003
Name: date, dtype: object
4101    02,September,2003
4101        08,March,2003
Name: date, dtype: object
4102    30,October,2003
4102      08,March,2003
Name: date, dtype: object
4103    28,October,2003
4103      07,March,2003
Name: date, dtype: object
4104    27,October,2003
4104      07,March,2003
Name: date, dtype: object
4105    26,October,2003
4105      06,March,2003
Name: date, dtype: object
4106    25,October,2003
4106      06,March,2003
Name: date, dtype: object
4107    24,October,2003
4107      05,March,2003
Name: date, dtype: object
4108    22,October,2003
4108      05,March,2003
Name: date, dtype: object
4109    20,October,2003
4109      05,March,2003
Name: date, dtype: object
4110    18,October,2003
4110      05,March,2003
Name: date, dtype: object
4111    16,October,2003
4111      04,March,2003
Name: date, dtype: object
4112    16,October,2003
4112      04,March,2003
Name: date, dtype: object
4113    15,October,2003
4113      03,March,2003
Name: date, dtype: object
4114    14,October,2003
4114      03,March,2003
Name: date, dtype: object
4115    14,October,2003
4115      03,March,2003
Name: date, dtype: object
4116    12,October,2003
4116      03,March,2003
Name: date, dtype: object
4117    11,October,2003
4117      30,April,2003
Name: date, dtype: object
4118    11,October,2003
4118      29,April,2003
Name: date, dtype: object
4119    08,October,2003
4119      29,April,2003
Name: date, dtype: object
4120    04,October,2003
4120      28,April,2003
Name: date, dtype: object
4121    23,November,2003
4121       25,April,2003
Name: date, dtype: object
4122    16,November,2003
4122       25,April,2003
Name: date, dtype: object
4123    13,November,2003
4123       24,April,2003
Name: date, dtype: object
4124    12,November,2003
4124       24,April,2003
Name: date, dtype: object
4125    09,November,2003
4125       24,April,2003
Name: date, dtype: object
4126    07,November,2003
4126       24,April,2003
Name: date, dtype: object
4127    06,November,2003
4127       24,April,2003
Name: date, dtype: object
4128    31,December,2003
4128       23,April,2003
Name: date, dtype: object
4129    24,December,2003
4129       23,April,2003
Name: date, dtype: object
4130    18,December,2003
4130       23,April,2003
Name: date, dtype: object
4131    13,December,2003
4131       23,April,2003
Name: date, dtype: object
4132    11,December,2003
4132       23,April,2003
Name: date, dtype: object
4133    05,December,2003
4133       23,April,2003
Name: date, dtype: object
4134    22,January,2004
4134      23,April,2003
Name: date, dtype: object
4135    21,January,2004
4135      23,April,2003
Name: date, dtype: object
4136    18,January,2004
4136      23,April,2003
Name: date, dtype: object
4137    14,January,2004
4137      22,April,2003
Name: date, dtype: object
4138    06,January,2004
4138      22,April,2003
Name: date, dtype: object
4139    03,January,2004
4139      22,April,2003
Name: date, dtype: object
4140    24,February,2004
4140       22,April,2003
Name: date, dtype: object
4141    07,February,2004
4141       22,April,2003
Name: date, dtype: object
4142    30,March,2004
4142    22,April,2003
Name: date, dtype: object
4143    29,March,2004
4143    21,April,2003
Name: date, dtype: object
4144    14,March,2004
4144    21,April,2003
Name: date, dtype: object
4145    14,March,2004
4145    18,April,2003
Name: date, dtype: object
4146    26,April,2004
4146    18,April,2003
Name: date, dtype: object
4147    24,April,2004
4147    17,April,2003
Name: date, dtype: object
4148    22,April,2004
4148    16,April,2003
Name: date, dtype: object

4149    05,April,2004
4149    15,April,2003
Name: date, dtype: object
4150    05,April,2004
4150    15,April,2003
Name: date, dtype: object
4151      31,May,2004
4151    15,April,2003
Name: date, dtype: object
4152      30,May,2004
4152    14,April,2003
Name: date, dtype: object
4153      25,May,2004
4153    14,April,2003
Name: date, dtype: object
4154      23,May,2004
4154    14,April,2003
Name: date, dtype: object
4155      21,May,2004
4155    14,April,2003
Name: date, dtype: object
4156      20,May,2004
4156    11,April,2003
Name: date, dtype: object
4157      20,May,2004
4157    11,April,2003
Name: date, dtype: object
4158      17,May,2004
4158    11,April,2003
Name: date, dtype: object
4159      11,May,2004
4159    11,April,2003
Name: date, dtype: object
4160      10,May,2004
4160    11,April,2003
Name: date, dtype: object
4161      08,May,2004
4161    11,April,2003
Name: date, dtype: object
4162      08,May,2004
4162    11,April,2003
Name: date, dtype: object
4163      07,May,2004
4163    11,April,2003
Name: date, dtype: object
4164     25,June,2004
4164    10,April,2003
Name: date, dtype: object
4165     22,June,2004
4165    10,April,2003
Name: date, dtype: object
4166     20,June,2004
4166    10,April,2003
Name: date, dtype: object
4167     13,June,2004
4167    10,April,2003
Name: date, dtype: object
4168     07,June,2004
4168    08,April,2003
Name: date, dtype: object
4169     06,June,2004
4169    08,April,2003
Name: date, dtype: object
4170     05,June,2004
4170    08,April,2003
Name: date, dtype: object
4171     04,June,2004
4171    08,April,2003
Name: date, dtype: object
4172     03,June,2004
4172    08,April,2003
Name: date, dtype: object
4173     03,June,2004
4173    08,April,2003
Name: date, dtype: object
4174     03,June,2004
4174    08,April,2003
Name: date, dtype: object
4175     25,July,2004
4175    07,April,2003
Name: date, dtype: object
4176     22,July,2004
4176    06,April,2003
Name: date, dtype: object
4177     22,July,2004
4177    04,April,2003
Name: date, dtype: object
4178     18,July,2004
4178    03,April,2003
Name: date, dtype: object
4179     14,July,2004
4179    03,April,2003
Name: date, dtype: object
4180     09,July,2004
4180    03,April,2003
Name: date, dtype: object
4181     05,July,2004
4181    03,April,2003
Name: date, dtype: object
4182     02,July,2004
4182    03,April,2003
Name: date, dtype: object
4183     01,July,2004
4183    03,April,2003
Name: date, dtype: object
4184      26,May,2004
4184    03,April,2003
Name: date, dtype: object
4185     17,June,2004
4185    03,April,2003
Name: date, dtype: object
4186     16,June,2004
4186    03,April,2003
Name: date, dtype: object
4187     05,June,2004
4187    03,April,2003
Name: date, dtype: object
4188     07,June,2004
4188    02,April,2003
Name: date, dtype: object
4189     06,June,2004
4189    02,April,2003
Name: date, dtype: object
4190     05,June,2004
4190    02,April,2003
Name: date, dtype: object
4191     04,June,2004
4191    02,April,2003
Name: date, dtype: object
4192     04,June,2004
4192    02,April,2003
Name: date, dtype: object
4193     30,June,2004
4193    02,April,2003
Name: date, dtype: object
4194     29,June,2004
4194    02,April,2003
Name: date, dtype: object
4195     29,June,2004
4195    02,April,2003
Name: date, dtype: object
4196     28,June,2004
4196    02,April,2003
Name: date, dtype: object
4197     28,June,2004
4197    01,April,2003
Name: date, dtype: object
4198     25,June,2004
4198    01,April,2003
Name: date, dtype: object
4199     24,June,2004
4199    01,April,2003
Name: date, dtype: object
4200     23,June,2004
4200    01,April,2003
Name: date, dtype: object
4201     30,July,2004
4201    01,April,2003
Name: date, dtype: object
4202     29,July,2004
4202    01,April,2003
Name: date, dtype: object
4203     29,July,2004
4203    01,April,2003
Name: date, dtype: object
4204     28,July,2004
4204    01,April,2003
Name: date, dtype: object
4205     26,July,2004
4205    01,April,2003
Name: date, dtype: object
4206     23,July,2004
4206    01,April,2003
Name: date, dtype: object
4207     22,July,2004
4207    01,April,2003
Name: date, dtype: object
4208     22,July,2004
4208    01,April,2003
Name: date, dtype: object
4209     21,July,2004
4209    01,April,2003
Name: date, dtype: object
4210     20,July,2004
4210    01,April,2003
Name: date, dtype: object
4211    20,July,2004
4211     31,May,2003
Name: date, dtype: object
4212    19,July,2004
4212     30,May,2003
Name: date, dtype: object
4213    15,July,2004
4213     29,May,2003
Name: date, dtype: object
4214    15,July,2004
4214     29,May,2003
Name: date, dtype: object
4215    14,July,2004
4215     29,May,2003
Name: date, dtype: object
4216    14,July,2004
4216     29,May,2003
Name: date, dtype: object
4217    11,July,2004
4217     28,May,2003
Name: date, dtype: object
4218    08,July,2004
4218     28,May,2003
Name: date, dtype: object
4219    07,July,2004
4219     28,May,2003
Name: date, dtype: object
4220    05,July,2004
4220     28,May,2003
Name: date, dtype: object
4221    01,July,2004
4221     27,May,2003
Name: date, dtype: object
4222    01,July,2004
4222     27,May,2003
Name: date, dtype: object
4223    01,July,2004
4223     27,May,2003
Name: date, dtype: object
4224    17,August,2004
4224       27,May,2003
Name: date, dtype: object
4225    16,August,2004
4225       27,May,2003
Name: date, dtype: object
4226    13,August,2004
4226       27,May,2003
Name: date, dtype: object
4227    11,August,2004
4227       23,May,2003
Name: date, dtype: object
4228    11,August,2004
4228       23,May,2003
Name: date, dtype: object
4229    06,August,2004
4229       23,May,2003
Name: date, dtype: object
4230    06,August,2004
4230       23,May,2003
Name: date, dtype: object
4231    06,August,2004
4231       23,May,2003
Name: date, dtype: object
4232    05,August,2004
4232       22,May,2003
Name: date, dtype: object
4233    04,August,2004
4233       22,May,2003
Name: date, dtype: object
4234    03,August,2004
4234       21,May,2003
Name: date, dtype: object
4235    02,August,2004
4235       21,May,2003
Name: date, dtype: object
4236    02,August,2004
4236       21,May,2003
Name: date, dtype: object
4237    02,August,2004
4237       21,May,2003
Name: date, dtype: object
4238    29,January,2004
4238        21,May,2003
Name: date, dtype: object
4239    28,January,2004
4239        21,May,2003
Name: date, dtype: object
4240    23,January,2004
4240        21,May,2003
Name: date, dtype: object
4241    23,January,2004
4241        21,May,2003
Name: date, dtype: object
4242    23,January,2004
4242        21,May,2003
Name: date, dtype: object
4243    22,January,2004
4243        20,May,2003
Name: date, dtype: object
4244    21,January,2004
4244        20,May,2003
Name: date, dtype: object
4245    20,January,2004
4245        20,May,2003
Name: date, dtype: object
4246    20,January,2004
4246        20,May,2003
Name: date, dtype: object
4247    19,January,2004
4247        20,May,2003
Name: date, dtype: object
4248    19,January,2004
4248        20,May,2003
Name: date, dtype: object
4249    19,January,2004
4249        20,May,2003
Name: date, dtype: object
4250    25,February,2004
4250         20,May,2003
Name: date, dtype: object
4251    23,February,2004
4251         19,May,2003
Name: date, dtype: object
4252    18,February,2004
4252         19,May,2003
Name: date, dtype: object
4253    17,February,2004
4253         19,May,2003
Name: date, dtype: object
4254    12,February,2004
4254         19,May,2003
Name: date, dtype: object
4255    09,February,2004
4255         16,May,2003
Name: date, dtype: object
4256    09,February,2004
4256         16,May,2003
Name: date, dtype: object
4257    07,February,2004
4257         16,May,2003
Name: date, dtype: object
4258    03,February,2004
4258         16,May,2003
Name: date, dtype: object
4259    01,February,2004
4259         16,May,2003
Name: date, dtype: object
4260    31,March,2004
4260      15,May,2003
Name: date, dtype: object
4261    21,March,2004
4261      15,May,2003
Name: date, dtype: object
4262    03,March,2004
4262      15,May,2003
Name: date, dtype: object
4263    21,April,2004
4263      15,May,2003
Name: date, dtype: object
4264    14,April,2004
4264      15,May,2003
Name: date, dtype: object
4265    24,May,2004
4265    14,May,2003
Name: date, dtype: object
4266    18,May,2004
4266    14,May,2003
Name: date, dtype: object
4267    16,May,2004
4267    14,May,2003
Name: date, dtype: object
4268    12,May,2004
4268    14,May,2003
Name: date, dtype: object
4269    11,May,2004
4269    13,May,2003
Name: date, dtype: object
4270    04,May,2004
4270    13,May,2003
Name: date, dtype: object
4271    04,May,2004
4271    13,May,2003
Name: date, dtype: object
4272    19,June,2004
4272     13,May,2003
Name: date, dtype: object
4273    15,June,2004
4273     13,May,2003
Name: date, dtype: object
4274    14,June,2004
4274     13,May,2003
Name: date, dtype: object
4275    07,June,2004
4275     12,May,2003
Name: date, dtype: object
4276    07,June,2004
4276     12,May,2003
Name: date, dtype: object
4277    07,June,2004
4277     12,May,2003
Name: date, dtype: object
4278    20,July,2004
4278     09,May,2003
Name: date, dtype: object

4279    02,June,2004
4279     09,May,2003
Name: date, dtype: object
4280    31,May,2004
4280    09,May,2003
Name: date, dtype: object
4281    28,June,2004
4281     09,May,2003
Name: date, dtype: object
4282    22,June,2004
4282     09,May,2003
Name: date, dtype: object
4283    18,June,2004
4283     09,May,2003
Name: date, dtype: object
4284    17,June,2004
4284     08,May,2003
Name: date, dtype: object
4285    08,June,2004
4285     08,May,2003
Name: date, dtype: object
4286    06,June,2004
4286     08,May,2003
Name: date, dtype: object
4287    01,June,2004
4287     08,May,2003
Name: date, dtype: object
4288    31,July,2004
4288     07,May,2003
Name: date, dtype: object
4289    27,July,2004
4289     07,May,2003
Name: date, dtype: object
4290    25,July,2004
4290     07,May,2003
Name: date, dtype: object
4291    23,July,2004
4291     06,May,2003
Name: date, dtype: object
4292    23,July,2004
4292     06,May,2003
Name: date, dtype: object
4293    23,July,2004
4293     06,May,2003
Name: date, dtype: object
4294    21,July,2004
4294     06,May,2003
Name: date, dtype: object
4295    21,July,2004
4295     05,May,2003
Name: date, dtype: object
4296    20,July,2004
4296     05,May,2003
Name: date, dtype: object
4297    18,July,2004
4297     02,May,2003
Name: date, dtype: object
4298    13,July,2004
4298     02,May,2003
Name: date, dtype: object
4299    10,July,2004
4299     02,May,2003
Name: date, dtype: object
4300    08,July,2004
4300     02,May,2003
Name: date, dtype: object
4301    06,August,2004
4301       01,May,2003
Name: date, dtype: object
4302    04,August,2004
4302       01,May,2003
Name: date, dtype: object
4303    02,August,2004
4303       01,May,2003
Name: date, dtype: object
4304    01,August,2004
4304       01,May,2003
Name: date, dtype: object
4305    17,May,2004
4305    01,May,2003
Name: date, dtype: object
4306    17,May,2004
4306    01,May,2003
Name: date, dtype: object
4307    17,May,2004
4307    01,May,2003
Name: date, dtype: object
4308    17,May,2004
4308    01,May,2003
Name: date, dtype: object
4309    30,July,2004
4309    30,June,2003
Name: date, dtype: object
4310    30,July,2004
4310    27,June,2003
Name: date, dtype: object
4311    30,July,2004
4311    27,June,2003
Name: date, dtype: object
4312    30,July,2004
4312    27,June,2003
Name: date, dtype: object
4313    30,July,2004
4313    26,June,2003
Name: date, dtype: object
4314    30,July,2004
4314    26,June,2003
Name: date, dtype: object
4315    30,July,2004
4315    25,June,2003
Name: date, dtype: object
4316    30,July,2004
4316    24,June,2003
Name: date, dtype: object
4317    30,July,2004
4317    23,June,2003
Name: date, dtype: object
4318    30,July,2004
4318    23,June,2003
Name: date, dtype: object
4319    30,July,2004
4319    20,June,2003
Name: date, dtype: object
4320    30,July,2004
4320    20,June,2003
Name: date, dtype: object
4321    30,July,2004
4321    19,June,2003
Name: date, dtype: object
4322    30,July,2004
4322    19,June,2003
Name: date, dtype: object
4323    30,July,2004
4323    19,June,2003
Name: date, dtype: object
4324    30,July,2004
4324    19,June,2003
Name: date, dtype: object
4325    30,July,2004
4325    19,June,2003
Name: date, dtype: object
4326    30,July,2004
4326    19,June,2003
Name: date, dtype: object
4327    30,July,2004
4327    18,June,2003
Name: date, dtype: object
4328    30,July,2004
4328    18,June,2003
Name: date, dtype: object
4329    30,July,2004
4329    18,June,2003
Name: date, dtype: object
4330    30,July,2004
4330    18,June,2003
Name: date, dtype: object
4331    30,July,2004
4331    18,June,2003
Name: date, dtype: object
4332    30,July,2004
4332    17,June,2003
Name: date, dtype: object
4333    30,July,2004
4333    17,June,2003
Name: date, dtype: object
4334    30,July,2004
4334    17,June,2003
Name: date, dtype: object
4335    30,July,2004
4335    17,June,2003
Name: date, dtype: object
4336    30,July,2004
4336    17,June,2003
Name: date, dtype: object
4337    30,July,2004
4337    16,June,2003
Name: date, dtype: object
4338    30,July,2004
4338    16,June,2003
Name: date, dtype: object
4339    30,July,2004
4339    16,June,2003
Name: date, dtype: object
4340    30,July,2004
4340    15,June,2003
Name: date, dtype: object
4341    30,July,2004
4341    13,June,2003
Name: date, dtype: object
4342    30,July,2004
4342    12,June,2003
Name: date, dtype: object
4343    30,July,2004
4343    12,June,2003
Name: date, dtype: object
4344    30,July,2004
4344    12,June,2003
Name: date, dtype: object
4345    30,July,2004
4345    12,June,2003
Name: date, dtype: object
4346    30,July,2004
4346    11,June,2003
Name: date, dtype: object
4347    30,July,2004
4347    11,June,2003
Name: date, dtype: object
4348    30,July,2004
4348    10,June,2003
Name: date, dtype: object
4349    30,July,2004
4349    10,June,2003
Name: date, dtype: object
4350    30,July,2004
4350    10,June,2003
Name: date, dtype: object
4351    30,July,2004
4351    09,June,2003
Name: date, dtype: object
4352    30,July,2004
4352    06,June,2003
Name: date, dtype: object
4353    30,July,2004
4353    06,June,2003
Name: date, dtype: object
4354    30,July,2004
4354    06,June,2003
Name: date, dtype: object
4355     29,May,2004
4355    06,June,2003
Name: date, dtype: object
4356     29,May,2004
4356    06,June,2003
Name: date, dtype: object
4357    30,June,2004
4357    05,June,2003
Name: date, dtype: object
4358    25,June,2004
4358    05,June,2003
Name: date, dtype: object
4359    21,June,2004
4359    05,June,2003
Name: date, dtype: object
4360    20,June,2004
4360    05,June,2003
Name: date, dtype: object
4361    19,June,2004
4361    05,June,2003
Name: date, dtype: object
4362    15,June,2004
4362    04,June,2003
Name: date, dtype: object
4363    14,June,2004
4363    04,June,2003
Name: date, dtype: object
4364    12,June,2004
4364    04,June,2003
Name: date, dtype: object
4365    10,June,2004
4365    04,June,2003
Name: date, dtype: object
4366    04,June,2004
4366    04,June,2003
Name: date, dtype: object
4367    01,June,2004
4367    03,June,2003
Name: date, dtype: object
4368    01,June,2004
4368    03,June,2003
Name: date, dtype: object
4369    31,July,2004
4369    03,June,2003
Name: date, dtype: object
4370    30,July,2004
4370    03,June,2003
Name: date, dtype: object
4371    29,July,2004
4371    03,June,2003
Name: date, dtype: object
4372    26,July,2004
4372    02,June,2003
Name: date, dtype: object
4373    25,July,2004
4373    02,June,2003
Name: date, dtype: object
4374    24,July,2004
4374    02,June,2003
Name: date, dtype: object
4375    23,July,2004
4375    02,June,2003
Name: date, dtype: object
4376    23,July,2004
4376    02,June,2003
Name: date, dtype: object
4377    22,July,2004
4377    02,June,2003
Name: date, dtype: object
4378    17,July,2004
4378    31,July,2003
Name: date, dtype: object
4379    16,July,2004
4379    30,July,2003
Name: date, dtype: object
4380    14,July,2004
4380    29,July,2003
Name: date, dtype: object
4381    13,July,2004
4381    29,July,2003
Name: date, dtype: object
4382    11,July,2004
4382    28,July,2003
Name: date, dtype: object
4383    09,July,2004
4383    28,July,2003
Name: date, dtype: object
4384    09,July,2004
4384    28,July,2003
Name: date, dtype: object
4385    05,July,2004
4385    28,July,2003
Name: date, dtype: object
4386    02,July,2004
4386    28,July,2003
Name: date, dtype: object
4387    04,August,2004
4387      28,July,2003
Name: date, dtype: object
4388    02,August,2004
4388      28,July,2003
Name: date, dtype: object
4389    01,August,2004
4389      25,July,2003
Name: date, dtype: object
4390    01,August,2004
4390      25,July,2003
Name: date, dtype: object
4391     28,May,2004
4391    25,July,2003
Name: date, dtype: object
4392     27,May,2004
4392    25,July,2003
Name: date, dtype: object
4393     26,May,2004
4393    25,July,2003
Name: date, dtype: object
4394     22,May,2004
4394    25,July,2003
Name: date, dtype: object
4395     21,May,2004
4395    25,July,2003
Name: date, dtype: object
4396     19,May,2004
4396    25,July,2003
Name: date, dtype: object
4397     18,May,2004
4397    25,July,2003
Name: date, dtype: object
4398    14,June,2004
4398    25,July,2003
Name: date, dtype: object
4399    13,June,2004
4399    23,July,2003
Name: date, dtype: object
4400    09,June,2004
4400    22,July,2003
Name: date, dtype: object
4401    07,June,2004
4401    18,July,2003
Name: date, dtype: object
4402    01,June,2004
4402    18,July,2003
Name: date, dtype: object
4403    30,July,2004
4403    18,July,2003
Name: date, dtype: object
4404    28,July,2004
4404    17,July,2003
Name: date, dtype: object
4405    27,July,2004
4405    17,July,2003
Name: date, dtype: object
4406    17,August,2004
4406      17,July,2003
Name: date, dtype: object
4407    13,August,2004
4407      17,July,2003
Name: date, dtype: object
4408    12,August,2004
4408      16,July,2003
Name: date, dtype: object
4409    08,August,2004
4409      16,July,2003
Name: date, dtype: object
4410    02,August,2004
4410      16,July,2003
Name: date, dtype: object
4411    21,August,2004
4411      16,July,2003
Name: date, dtype: object
4412    15,August,2004
4412      16,July,2003
Name: date, dtype: object
4413    14,August,2004
4413      16,July,2003
Name: date, dtype: object
4414    13,August,2004
4414      16,July,2003
Name: date, dtype: object

4415    10,August,2004
4415      16,July,2003
Name: date, dtype: object
4416    09,August,2004
4416      15,July,2003
Name: date, dtype: object
4417    08,August,2004
4417      15,July,2003
Name: date, dtype: object
4418    08,August,2004
4418      15,July,2003
Name: date, dtype: object
4419    23,July,2004
4419    15,July,2003
Name: date, dtype: object
4420    23,July,2004
4420    15,July,2003
Name: date, dtype: object
4421    23,July,2004
4421    15,July,2003
Name: date, dtype: object
4422    23,July,2004
4422    15,July,2003
Name: date, dtype: object
4423    23,July,2004
4423    15,July,2003
Name: date, dtype: object
4424    24,July,2004
4424    15,July,2003
Name: date, dtype: object
4425    24,July,2004
4425    15,July,2003
Name: date, dtype: object
4426    25,July,2004
4426    15,July,2003
Name: date, dtype: object
4427    27,July,2004
4427    14,July,2003
Name: date, dtype: object
4428    28,July,2004
4428    14,July,2003
Name: date, dtype: object
4429    28,July,2004
4429    14,July,2003
Name: date, dtype: object
4430    28,July,2004
4430    14,July,2003
Name: date, dtype: object
4431    28,July,2004
4431    14,July,2003
Name: date, dtype: object
4432    28,July,2004
4432    14,July,2003
Name: date, dtype: object
4433    29,July,2004
4433    14,July,2003
Name: date, dtype: object
4434    29,July,2004
4434    14,July,2003
Name: date, dtype: object
4435    29,July,2004
4435    11,July,2003
Name: date, dtype: object
4436    30,July,2004
4436    11,July,2003
Name: date, dtype: object
4437    30,July,2004
4437    10,July,2003
Name: date, dtype: object
4438    31,July,2004
4438    10,July,2003
Name: date, dtype: object
4439    02,August,2004
4439      10,July,2003
Name: date, dtype: object
4440    04,August,2004
4440      09,July,2003
Name: date, dtype: object
4441    05,August,2004
4441      09,July,2003
Name: date, dtype: object
4442    05,August,2004
4442      08,July,2003
Name: date, dtype: object
4443    05,August,2004
4443      08,July,2003
Name: date, dtype: object
4444    07,August,2004
4444      08,July,2003
Name: date, dtype: object
4445    08,August,2004
4445      08,July,2003
Name: date, dtype: object
4446    09,August,2004
4446      08,July,2003
Name: date, dtype: object
4447    09,August,2004
4447      07,July,2003
Name: date, dtype: object
4448    10,August,2004
4448      07,July,2003
Name: date, dtype: object
4449    10,August,2004
4449      07,July,2003
Name: date, dtype: object
4450    15,August,2004
4450      07,July,2003
Name: date, dtype: object
4451    17,August,2004
4451      07,July,2003
Name: date, dtype: object
4452    18,August,2004
4452      07,July,2003
Name: date, dtype: object
4453    18,August,2004
4453      02,July,2003
Name: date, dtype: object
4454    18,August,2004
4454      01,July,2003
Name: date, dtype: object
4455     30,May,2004
4455    01,July,2003
Name: date, dtype: object
4456     14,May,2004
4456    01,July,2003
Name: date, dtype: object
4457     11,May,2004
4457    01,July,2003
Name: date, dtype: object
4458       10,May,2004
4458    29,August,2003
Name: date, dtype: object
4459       08,May,2004
4459    28,August,2003
Name: date, dtype: object
4460      19,July,2004
4460    28,August,2003
Name: date, dtype: object
4461      18,July,2004
4461    27,August,2003
Name: date, dtype: object
4462      14,July,2004
4462    26,August,2003
Name: date, dtype: object
4463      31,July,2004
4463    26,August,2003
Name: date, dtype: object
4464      30,July,2004
4464    26,August,2003
Name: date, dtype: object
4465      30,July,2004
4465    26,August,2003
Name: date, dtype: object
4466      29,July,2004
4466    26,August,2003
Name: date, dtype: object
4467      28,July,2004
4467    22,August,2003
Name: date, dtype: object
4468      27,July,2004
4468    22,August,2003
Name: date, dtype: object
4469    07,August,2004
4469    21,August,2003
Name: date, dtype: object
4470    03,August,2004
4470    19,August,2003
Name: date, dtype: object
4471       29,May,2004
4471    17,August,2003
Name: date, dtype: object
4472       25,May,2004
4472    15,August,2003
Name: date, dtype: object
4473       24,May,2004
4473    15,August,2003
Name: date, dtype: object
4474       24,May,2004
4474    14,August,2003
Name: date, dtype: object
4475       23,May,2004
4475    13,August,2003
Name: date, dtype: object
4476       21,May,2004
4476    13,August,2003
Name: date, dtype: object
4477       20,May,2004
4477    13,August,2003
Name: date, dtype: object
4478       17,May,2004
4478    11,August,2003
Name: date, dtype: object
4479       16,May,2004
4479    08,August,2003
Name: date, dtype: object
4480       15,May,2004
4480    08,August,2003
Name: date, dtype: object
4481       15,May,2004
4481    08,August,2003
Name: date, dtype: object
4482       14,May,2004
4482    08,August,2003
Name: date, dtype: object
4483       14,May,2004
4483    08,August,2003
Name: date, dtype: object
4484       14,May,2004
4484    08,August,2003
Name: date, dtype: object
4485       14,May,2004
4485    07,August,2003
Name: date, dtype: object
4486       14,May,2004
4486    07,August,2003
Name: date, dtype: object
4487       14,May,2004
4487    06,August,2003
Name: date, dtype: object
4488      24,June,2004
4488    05,August,2003
Name: date, dtype: object
4489      21,June,2004
4489    05,August,2003
Name: date, dtype: object
4490      16,June,2004
4490    05,August,2003
Name: date, dtype: object
4491      16,June,2004
4491    05,August,2003
Name: date, dtype: object
4492      12,July,2004
4492    04,August,2003
Name: date, dtype: object
4493      04,July,2004
4493    04,August,2003
Name: date, dtype: object
4494      02,July,2004
4494    04,August,2003
Name: date, dtype: object
4495      02,July,2004
4495    04,August,2003
Name: date, dtype: object
4496    07,August,2004
4496    04,August,2003
Name: date, dtype: object
4497      31,July,2004
4497    04,August,2003
Name: date, dtype: object
4498      13,July,2004
4498    04,August,2003
Name: date, dtype: object
4499    12,August,2004
4499    04,August,2003
Name: date, dtype: object
4500    06,August,2004
4500    01,August,2003
Name: date, dtype: object
4501    01,August,2004
4501    01,August,2003
Name: date, dtype: object
4502    07,August,2004
4502    01,August,2003
Name: date, dtype: object
4503       06,August,2004
4503    30,September,2003
Name: date, dtype: object
4504       06,August,2004
4504    26,September,2003
Name: date, dtype: object
4505       06,August,2004
4505    26,September,2003
Name: date, dtype: object
4506       06,August,2004
4506    25,September,2003
Name: date, dtype: object
4507       05,August,2004
4507    23,September,2003
Name: date, dtype: object
4508       04,August,2004
4508    23,September,2003
Name: date, dtype: object
4509       04,August,2004
4509    23,September,2003
Name: date, dtype: object
4510       04,August,2004
4510    23,September,2003
Name: date, dtype: object
4511       03,August,2004
4511    23,September,2003
Name: date, dtype: object
4512       13,August,2004
4512    23,September,2003
Name: date, dtype: object
4513       12,August,2004
4513    23,September,2003
Name: date, dtype: object
4514       12,August,2004
4514    22,September,2003
Name: date, dtype: object
4515       11,August,2004
4515    22,September,2003
Name: date, dtype: object
4516       10,August,2004
4516    22,September,2003
Name: date, dtype: object
4517       10,August,2004
4517    22,September,2003
Name: date, dtype: object
4518       09,August,2004
4518    19,September,2003
Name: date, dtype: object
4519       20,August,2004
4519    18,September,2003
Name: date, dtype: object
4520       19,August,2004
4520    18,September,2003
Name: date, dtype: object
4521       19,August,2004
4521    18,September,2003
Name: date, dtype: object
4522       19,August,2004
4522    17,September,2003
Name: date, dtype: object
4523       18,August,2004
4523    16,September,2003
Name: date, dtype: object
4524       17,August,2004
4524    16,September,2003
Name: date, dtype: object
4525       17,August,2004
4525    16,September,2003
Name: date, dtype: object
4526       16,August,2004
4526    15,September,2003
Name: date, dtype: object
4527       16,August,2004
4527    15,September,2003
Name: date, dtype: object
4528         31,July,2004
4528    15,September,2003
Name: date, dtype: object
4529         29,July,2004
4529    12,September,2003
Name: date, dtype: object
4530         27,July,2004
4530    11,September,2003
Name: date, dtype: object
4531         26,July,2004
4531    11,September,2003
Name: date, dtype: object
4532         24,July,2004
4532    11,September,2003
Name: date, dtype: object
4533         24,July,2004
4533    10,September,2003
Name: date, dtype: object
4534         24,July,2004
4534    10,September,2003
Name: date, dtype: object
4535         24,July,2004
4535    10,September,2003
Name: date, dtype: object
4536         23,July,2004
4536    10,September,2003
Name: date, dtype: object
4537         22,July,2004
4537    10,September,2003
Name: date, dtype: object
4538         21,July,2004
4538    10,September,2003
Name: date, dtype: object
4539         20,July,2004
4539    10,September,2003
Name: date, dtype: object
4540         20,July,2004
4540    10,September,2003
Name: date, dtype: object
4541         19,July,2004
4541    09,September,2003
Name: date, dtype: object
4542         19,July,2004
4542    08,September,2003
Name: date, dtype: object
4543         19,July,2004
4543    05,September,2003
Name: date, dtype: object
4544         17,July,2004
4544    04,September,2003
Name: date, dtype: object
4545         15,July,2004
4545    04,September,2003
Name: date, dtype: object
4546         15,July,2004
4546    04,September,2003
Name: date, dtype: object
4547         15,July,2004
4547    04,September,2003
Name: date, dtype: object
4548         15,July,2004
4548    04,September,2003
Name: date, dtype: object
4549         14,July,2004
4549    04,September,2003
Name: date, dtype: object
4550         14,July,2004
4550    04,September,2003
Name: date, dtype: object
4551         13,July,2004
4551    04,September,2003
Name: date, dtype: object
4552         12,July,2004
4552    03,September,2003
Name: date, dtype: object

4553         12,July,2004
4553    03,September,2003
Name: date, dtype: object
4554         12,July,2004
4554    02,September,2003
Name: date, dtype: object
4555         11,July,2004
4555    02,September,2003
Name: date, dtype: object
4556         11,July,2004
4556    02,September,2003
Name: date, dtype: object
4557         10,July,2004
4557    02,September,2003
Name: date, dtype: object
4558         09,July,2004
4558    02,September,2003
Name: date, dtype: object
4559         09,July,2004
4559    02,September,2003
Name: date, dtype: object
4560         08,July,2004
4560    02,September,2003
Name: date, dtype: object
4561         08,July,2004
4561    02,September,2003
Name: date, dtype: object
4562         08,July,2004
4562    02,September,2003
Name: date, dtype: object
4563         07,July,2004
4563    02,September,2003
Name: date, dtype: object
4564       07,July,2004
4564    31,October,2003
Name: date, dtype: object
4565       07,July,2004
4565    30,October,2003
Name: date, dtype: object
4566       06,July,2004
4566    29,October,2003
Name: date, dtype: object
4567       05,July,2004
4567    29,October,2003
Name: date, dtype: object
4568     15,August,2004
4568    29,October,2003
Name: date, dtype: object
4569     12,August,2004
4569    28,October,2003
Name: date, dtype: object
4570     11,August,2004
4570    28,October,2003
Name: date, dtype: object
4571     11,August,2004
4571    28,October,2003
Name: date, dtype: object
4572     05,August,2004
4572    28,October,2003
Name: date, dtype: object
4573     04,August,2004
4573    27,October,2003
Name: date, dtype: object
4574     04,August,2004
4574    27,October,2003
Name: date, dtype: object
4575     03,August,2004
4575    24,October,2003
Name: date, dtype: object
4576     02,August,2004
4576    24,October,2003
Name: date, dtype: object
4577     02,August,2004
4577    24,October,2003
Name: date, dtype: object
4578       29,June,2004
4578    23,October,2003
Name: date, dtype: object
4579       28,June,2004
4579    23,October,2003
Name: date, dtype: object
4580       26,June,2004
4580    23,October,2003
Name: date, dtype: object
4581       26,June,2004
4581    22,October,2003
Name: date, dtype: object
4582       25,June,2004
4582    16,October,2003
Name: date, dtype: object
4583       25,June,2004
4583    16,October,2003
Name: date, dtype: object
4584       25,June,2004
4584    16,October,2003
Name: date, dtype: object
4585       16,June,2004
4585    16,October,2003
Name: date, dtype: object
4586       12,June,2004
4586    16,October,2003
Name: date, dtype: object
4587       12,June,2004
4587    16,October,2003
Name: date, dtype: object
4588       10,June,2004
4588    16,October,2003
Name: date, dtype: object
4589       10,June,2004
4589    15,October,2003
Name: date, dtype: object
4590       08,June,2004
4590    15,October,2003
Name: date, dtype: object
4591       08,June,2004
4591    15,October,2003
Name: date, dtype: object
4592       08,June,2004
4592    14,October,2003
Name: date, dtype: object
4593       26,July,2004
4593    14,October,2003
Name: date, dtype: object
4594       23,July,2004
4594    14,October,2003
Name: date, dtype: object
4595       23,July,2004
4595    14,October,2003
Name: date, dtype: object
4596       14,July,2004
4596    13,October,2003
Name: date, dtype: object
4597       02,July,2004
4597    13,October,2003
Name: date, dtype: object
4598       02,July,2004
4598    13,October,2003
Name: date, dtype: object
4599       02,July,2004
4599    13,October,2003
Name: date, dtype: object
4600      30,April,2004
4600    13,October,2003
Name: date, dtype: object
4601      28,April,2004
4601    12,October,2003
Name: date, dtype: object
4602      26,April,2004
4602    12,October,2003
Name: date, dtype: object
4603      25,April,2004
4603    12,October,2003
Name: date, dtype: object
4604        06,May,2004
4604    12,October,2003
Name: date, dtype: object
4605        02,May,2004
4605    12,October,2003
Name: date, dtype: object
4606        02,May,2004
4606    12,October,2003
Name: date, dtype: object
4607       18,June,2004
4607    10,October,2003
Name: date, dtype: object
4608       17,June,2004
4608    09,October,2003
Name: date, dtype: object
4609       07,June,2004
4609    09,October,2003
Name: date, dtype: object
4610       01,June,2004
4610    08,October,2003
Name: date, dtype: object
4611        28,May,2004
4611    08,October,2003
Name: date, dtype: object
4612        25,May,2004
4612    07,October,2003
Name: date, dtype: object
4613        24,May,2004
4613    07,October,2003
Name: date, dtype: object
4614        19,May,2004
4614    07,October,2003
Name: date, dtype: object
4615        18,May,2004
4615    07,October,2003
Name: date, dtype: object
4616        18,May,2004
4616    07,October,2003
Name: date, dtype: object
4617        17,May,2004
4617    07,October,2003
Name: date, dtype: object
4618        14,May,2004
4618    07,October,2003
Name: date, dtype: object
4619        04,May,2004
4619    06,October,2003
Name: date, dtype: object
4620        04,May,2004
4620    03,October,2003
Name: date, dtype: object
4621       29,June,2004
4621    02,October,2003
Name: date, dtype: object
4622       28,June,2004
4622    02,October,2003
Name: date, dtype: object
4623       25,June,2004
4623    02,October,2003
Name: date, dtype: object
4624       18,June,2004
4624    02,October,2003
Name: date, dtype: object
4625       14,June,2004
4625    02,October,2003
Name: date, dtype: object
4626       02,July,2004
4626    02,October,2003
Name: date, dtype: object
4627       14,June,2004
4627    01,October,2003
Name: date, dtype: object
4628       10,June,2004
4628    01,October,2003
Name: date, dtype: object
4629       30,June,2004
4629    01,October,2003
Name: date, dtype: object
4630        30,June,2004
4630    28,November,2003
Name: date, dtype: object
4631         26,May,2004
4631    26,November,2003
Name: date, dtype: object
4632         25,May,2004
4632    25,November,2003
Name: date, dtype: object
4633         24,May,2004
4633    25,November,2003
Name: date, dtype: object
4634         14,May,2004
4634    24,November,2003
Name: date, dtype: object
4635         14,May,2004
4635    24,November,2003
Name: date, dtype: object
4636         14,May,2004
4636    24,November,2003
Name: date, dtype: object
4637        29,June,2004
4637    24,November,2003
Name: date, dtype: object
4638        28,June,2004
4638    24,November,2003
Name: date, dtype: object
4639        28,June,2004
4639    24,November,2003
Name: date, dtype: object
4640        25,June,2004
4640    21,November,2003
Name: date, dtype: object
4641        24,June,2004
4641    20,November,2003
Name: date, dtype: object
4642        24,June,2004
4642    20,November,2003
Name: date, dtype: object
4643        24,June,2004
4643    20,November,2003
Name: date, dtype: object
4644        23,June,2004
4644    20,November,2003
Name: date, dtype: object
4645        22,June,2004
4645    17,November,2003
Name: date, dtype: object
4646        22,June,2004
4646    17,November,2003
Name: date, dtype: object
4647        21,June,2004
4647    14,November,2003
Name: date, dtype: object
4648        21,June,2004
4648    14,November,2003
Name: date, dtype: object
4649        21,June,2004
4649    12,November,2003
Name: date, dtype: object
4650        17,June,2004
4650    12,November,2003
Name: date, dtype: object
4651        16,June,2004
4651    12,November,2003
Name: date, dtype: object
4652        14,June,2004
4652    11,November,2003
Name: date, dtype: object
4653        14,June,2004
4653    11,November,2003
Name: date, dtype: object
4654        14,June,2004
4654    10,November,2003
Name: date, dtype: object
4655        11,June,2004
4655    10,November,2003
Name: date, dtype: object
4656        11,June,2004
4656    07,November,2003
Name: date, dtype: object
4657        08,June,2004
4657    07,November,2003
Name: date, dtype: object
4658        08,June,2004
4658    07,November,2003
Name: date, dtype: object
4659        07,June,2004
4659    07,November,2003
Name: date, dtype: object
4660        07,June,2004
4660    07,November,2003
Name: date, dtype: object
4661        22,July,2004
4661    03,November,2003
Name: date, dtype: object
4662        21,July,2004
4662    03,November,2003
Name: date, dtype: object
4663        20,July,2004
4663    31,December,2003
Name: date, dtype: object
4664        19,July,2004
4664    30,December,2003
Name: date, dtype: object
4665        16,July,2004
4665    30,December,2003
Name: date, dtype: object
4666        16,July,2004
4666    29,December,2003
Name: date, dtype: object
4667        09,July,2004
4667    29,December,2003
Name: date, dtype: object
4668        07,July,2004
4668    29,December,2003
Name: date, dtype: object
4669        02,July,2004
4669    29,December,2003
Name: date, dtype: object
4670        01,July,2004
4670    29,December,2003
Name: date, dtype: object
4671      06,August,2004
4671    29,December,2003
Name: date, dtype: object
4672      04,August,2004
4672    26,December,2003
Name: date, dtype: object
4673      09,August,2004
4673    26,December,2003
Name: date, dtype: object
4674      07,August,2004
4674    26,December,2003
Name: date, dtype: object
4675      06,August,2004
4675    26,December,2003
Name: date, dtype: object
4676      05,August,2004
4676    26,December,2003
Name: date, dtype: object
4677      04,August,2004
4677    26,December,2003
Name: date, dtype: object
4678      04,August,2004
4678    21,December,2003
Name: date, dtype: object
4679      04,August,2004
4679    19,December,2003
Name: date, dtype: object
4680         14,May,2004
4680    18,December,2003
Name: date, dtype: object
4681       27,April,2004
4681    18,December,2003
Name: date, dtype: object
4682       24,April,2004
4682    18,December,2003
Name: date, dtype: object

4683       23,April,2004
4683    17,December,2003
Name: date, dtype: object
4684       22,April,2004
4684    17,December,2003
Name: date, dtype: object
4685       20,April,2004
4685    17,December,2003
Name: date, dtype: object
4686       20,April,2004
4686    17,December,2003
Name: date, dtype: object
4687       20,April,2004
4687    17,December,2003
Name: date, dtype: object
4688       19,April,2004
4688    16,December,2003
Name: date, dtype: object
4689       19,April,2004
4689    15,December,2003
Name: date, dtype: object
4690       18,April,2004
4690    15,December,2003
Name: date, dtype: object
4691       18,April,2004
4691    11,December,2003
Name: date, dtype: object
4692       18,April,2004
4692    09,December,2003
Name: date, dtype: object
4693       18,April,2004
4693    08,December,2003
Name: date, dtype: object
4694       18,April,2004
4694    05,December,2003
Name: date, dtype: object
4695       18,April,2004
4695    05,December,2003
Name: date, dtype: object
4696       18,April,2004
4696    05,December,2003
Name: date, dtype: object
4697       16,April,2004
4697    05,December,2003
Name: date, dtype: object
4698       15,April,2004
4698    04,December,2003
Name: date, dtype: object
4699       15,April,2004
4699    03,December,2003
Name: date, dtype: object
4700       15,April,2004
4700    01,December,2003
Name: date, dtype: object
4701      14,April,2004
4701    30,January,2004
Name: date, dtype: object
4702      14,April,2004
4702    29,January,2004
Name: date, dtype: object
4703      14,April,2004
4703    29,January,2004
Name: date, dtype: object
4704      13,April,2004
4704    29,January,2004
Name: date, dtype: object
4705      13,April,2004
4705    29,January,2004
Name: date, dtype: object
4706      13,April,2004
4706    28,January,2004
Name: date, dtype: object
4707      13,April,2004
4707    28,January,2004
Name: date, dtype: object
4708      13,April,2004
4708    28,January,2004
Name: date, dtype: object
4709      13,April,2004
4709    28,January,2004
Name: date, dtype: object
4710      04,April,2004
4710    27,January,2004
Name: date, dtype: object
4711      02,April,2004
4711    27,January,2004
Name: date, dtype: object
4712      01,April,2004
4712    27,January,2004
Name: date, dtype: object
4713        31,May,2004
4713    27,January,2004
Name: date, dtype: object
4714        30,May,2004
4714    27,January,2004
Name: date, dtype: object
4715        28,May,2004
4715    26,January,2004
Name: date, dtype: object
4716        27,May,2004
4716    26,January,2004
Name: date, dtype: object
4717        25,May,2004
4717    26,January,2004
Name: date, dtype: object
4718        24,May,2004
4718    26,January,2004
Name: date, dtype: object
4719        23,May,2004
4719    26,January,2004
Name: date, dtype: object
4720        18,May,2004
4720    26,January,2004
Name: date, dtype: object
4721        16,May,2004
4721    24,January,2004
Name: date, dtype: object
4722        15,May,2004
4722    24,January,2004
Name: date, dtype: object
4723        15,May,2004
4723    24,January,2004
Name: date, dtype: object
4724        14,May,2004
4724    24,January,2004
Name: date, dtype: object
4725        11,May,2004
4725    24,January,2004
Name: date, dtype: object
4726        10,May,2004
4726    24,January,2004
Name: date, dtype: object
4727        10,May,2004
4727    23,January,2004
Name: date, dtype: object
4728        09,May,2004
4728    22,January,2004
Name: date, dtype: object
4729        07,May,2004
4729    22,January,2004
Name: date, dtype: object
4730        06,May,2004
4730    21,January,2004
Name: date, dtype: object
4731        05,May,2004
4731    21,January,2004
Name: date, dtype: object
4732        04,May,2004
4732    21,January,2004
Name: date, dtype: object
4733        02,May,2004
4733    21,January,2004
Name: date, dtype: object
4734        01,May,2004
4734    21,January,2004
Name: date, dtype: object
4735       30,June,2004
4735    20,January,2004
Name: date, dtype: object
4736       29,June,2004
4736    20,January,2004
Name: date, dtype: object
4737       29,June,2004
4737    20,January,2004
Name: date, dtype: object
4738       28,June,2004
4738    20,January,2004
Name: date, dtype: object
4739       28,June,2004
4739    19,January,2004
Name: date, dtype: object
4740       28,June,2004
4740    19,January,2004
Name: date, dtype: object
4741       28,June,2004
4741    19,January,2004
Name: date, dtype: object
4742       26,June,2004
4742    19,January,2004
Name: date, dtype: object
4743       25,June,2004
4743    16,January,2004
Name: date, dtype: object
4744       23,June,2004
4744    16,January,2004
Name: date, dtype: object
4745       19,June,2004
4745    15,January,2004
Name: date, dtype: object
4746       16,June,2004
4746    15,January,2004
Name: date, dtype: object
4747       15,June,2004
4747    13,January,2004
Name: date, dtype: object
4748       15,June,2004
4748    13,January,2004
Name: date, dtype: object
4749       15,June,2004
4749    08,January,2004
Name: date, dtype: object
4750       04,June,2004
4750    08,January,2004
Name: date, dtype: object
4751       25,July,2004
4751    07,January,2004
Name: date, dtype: object
4752       06,July,2004
4752    07,January,2004
Name: date, dtype: object
4753       05,July,2004
4753    06,January,2004
Name: date, dtype: object
4754       04,July,2004
4754    06,January,2004
Name: date, dtype: object
4755       04,July,2004
4755    02,January,2004
Name: date, dtype: object
4756       01,July,2004
4756    02,January,2004
Name: date, dtype: object
4757        01,July,2004
4757    27,February,2004
Name: date, dtype: object
4758        01,July,2004
4758    26,February,2004
Name: date, dtype: object
4759        01,July,2004
4759    25,February,2004
Name: date, dtype: object
4760        01,July,2004
4760    25,February,2004
Name: date, dtype: object
4761      05,August,2004
4761    25,February,2004
Name: date, dtype: object
4762      21,August,2004
4762    25,February,2004
Name: date, dtype: object
4763      21,August,2004
4763    24,February,2004
Name: date, dtype: object
4764      21,August,2004
4764    24,February,2004
Name: date, dtype: object
4765      05,August,2004
4765    24,February,2004
Name: date, dtype: object
4766      04,August,2004
4766    23,February,2004
Name: date, dtype: object
4767      04,August,2004
4767    23,February,2004
Name: date, dtype: object
4768      03,August,2004
4768    20,February,2004
Name: date, dtype: object
4769      03,August,2004
4769    19,February,2004
Name: date, dtype: object
4770      03,August,2004
4770    19,February,2004
Name: date, dtype: object
4771      03,August,2004
4771    19,February,2004
Name: date, dtype: object
4772      03,August,2004
4772    17,February,2004
Name: date, dtype: object
4773      14,August,2004
4773    17,February,2004
Name: date, dtype: object
4774      11,August,2004
4774    16,February,2004
Name: date, dtype: object
4775      10,August,2004
4775    16,February,2004
Name: date, dtype: object
4776      09,August,2004
4776    13,February,2004
Name: date, dtype: object
4777      08,August,2004
4777    12,February,2004
Name: date, dtype: object
4778      08,August,2004
4778    11,February,2004
Name: date, dtype: object
4779        31,July,2004
4779    11,February,2004
Name: date, dtype: object
4780        30,July,2004
4780    11,February,2004
Name: date, dtype: object
4781        29,July,2004
4781    10,February,2004
Name: date, dtype: object
4782        29,July,2004
4782    09,February,2004
Name: date, dtype: object
4783        29,July,2004
4783    09,February,2004
Name: date, dtype: object
4784        28,July,2004
4784    09,February,2004
Name: date, dtype: object
4785        28,July,2004
4785    07,February,2004
Name: date, dtype: object
4786        28,July,2004
4786    07,February,2004
Name: date, dtype: object
4787        28,July,2004
4787    07,February,2004
Name: date, dtype: object
4788        27,July,2004
4788    06,February,2004
Name: date, dtype: object
4789        27,July,2004
4789    03,February,2004
Name: date, dtype: object
4790        26,July,2004
4790    02,February,2004
Name: date, dtype: object
4791        26,July,2004
4791    02,February,2004
Name: date, dtype: object
4792        26,July,2004
4792    02,February,2004
Name: date, dtype: object
4793        26,July,2004
4793    02,February,2004
Name: date, dtype: object
4794        26,July,2004
4794    02,February,2004
Name: date, dtype: object
4795        23,July,2004
4795    02,February,2004
Name: date, dtype: object
4796        23,July,2004
4796    02,February,2004
Name: date, dtype: object
4797     23,July,2004
4797    31,March,2004
Name: date, dtype: object
4798     23,July,2004
4798    30,March,2004
Name: date, dtype: object
4799     22,July,2004
4799    30,March,2004
Name: date, dtype: object
4800     22,July,2004
4800    29,March,2004
Name: date, dtype: object
4801     22,July,2004
4801    29,March,2004
Name: date, dtype: object
4802     21,July,2004
4802    29,March,2004
Name: date, dtype: object
4803     21,July,2004
4803    29,March,2004
Name: date, dtype: object
4804     21,July,2004
4804    29,March,2004
Name: date, dtype: object
4805     21,July,2004
4805    29,March,2004
Name: date, dtype: object
4806     21,July,2004
4806    26,March,2004
Name: date, dtype: object
4807     20,July,2004
4807    26,March,2004
Name: date, dtype: object
4808     20,July,2004
4808    25,March,2004
Name: date, dtype: object
4809     20,July,2004
4809    25,March,2004
Name: date, dtype: object
4810     20,July,2004
4810    25,March,2004
Name: date, dtype: object
4811     20,July,2004
4811    25,March,2004
Name: date, dtype: object
4812     17,July,2004
4812    24,March,2004
Name: date, dtype: object
4813     17,July,2004
4813    24,March,2004
Name: date, dtype: object
4814     16,July,2004
4814    23,March,2004
Name: date, dtype: object
4815     15,July,2004
4815    23,March,2004
Name: date, dtype: object
4816    17,August,2004
4816     22,March,2004
Name: date, dtype: object
4817    16,August,2004
4817     19,March,2004
Name: date, dtype: object
4818    16,August,2004
4818     17,March,2004
Name: date, dtype: object

4819    16,August,2004
4819     17,March,2004
Name: date, dtype: object
4820    16,August,2004
4820     17,March,2004
Name: date, dtype: object
4821    13,August,2004
4821     17,March,2004
Name: date, dtype: object
4822    13,August,2004
4822     16,March,2004
Name: date, dtype: object
4823    12,August,2004
4823     16,March,2004
Name: date, dtype: object
4824    11,August,2004
4824     16,March,2004
Name: date, dtype: object
4825    06,August,2004
4825     16,March,2004
Name: date, dtype: object
4826    05,August,2004
4826     16,March,2004
Name: date, dtype: object
4827    04,August,2004
4827     15,March,2004
Name: date, dtype: object
4828    04,August,2004
4828     15,March,2004
Name: date, dtype: object
4829    04,August,2004
4829     12,March,2004
Name: date, dtype: object
4830    04,August,2004
4830     11,March,2004
Name: date, dtype: object
4831    03,August,2004
4831     11,March,2004
Name: date, dtype: object
4832    03,August,2004
4832     11,March,2004
Name: date, dtype: object
4833    03,August,2004
4833     11,March,2004
Name: date, dtype: object
4834    03,August,2004
4834     11,March,2004
Name: date, dtype: object
4835    03,August,2004
4835     10,March,2004
Name: date, dtype: object
4836    03,August,2004
4836     10,March,2004
Name: date, dtype: object
4837    02,August,2004
4837     09,March,2004
Name: date, dtype: object
4838    02,August,2004
4838     08,March,2004
Name: date, dtype: object
4839    02,August,2004
4839     08,March,2004
Name: date, dtype: object
4840    02,August,2004
4840     08,March,2004
Name: date, dtype: object
4841    02,August,2004
4841     08,March,2004
Name: date, dtype: object
4842      21,May,2004
4842    05,March,2004
Name: date, dtype: object
4843      20,May,2004
4843    05,March,2004
Name: date, dtype: object
4844      20,May,2004
4844    05,March,2004
Name: date, dtype: object
4845      20,May,2004
4845    05,March,2004
Name: date, dtype: object
4846      20,May,2004
4846    02,March,2004
Name: date, dtype: object
4847      20,May,2004
4847    02,March,2004
Name: date, dtype: object
4848      20,May,2004
4848    01,March,2004
Name: date, dtype: object
4849      20,May,2004
4849    29,April,2004
Name: date, dtype: object
4850      20,May,2004
4850    28,April,2004
Name: date, dtype: object
4851      20,May,2004
4851    27,April,2004
Name: date, dtype: object
4852      20,May,2004
4852    27,April,2004
Name: date, dtype: object
4853      20,May,2004
4853    26,April,2004
Name: date, dtype: object
4854     16,June,2004
4854    26,April,2004
Name: date, dtype: object
4855     06,June,2004
4855    26,April,2004
Name: date, dtype: object
4856     05,June,2004
4856    26,April,2004
Name: date, dtype: object
4857     04,June,2004
4857    25,April,2004
Name: date, dtype: object
4858     04,June,2004
4858    23,April,2004
Name: date, dtype: object
4859    23,August,2004
4859     22,April,2004
Name: date, dtype: object
4860    20,August,2004
4860     22,April,2004
Name: date, dtype: object
4861     23,June,2004
4861    22,April,2004
Name: date, dtype: object
4862     21,June,2004
4862    21,April,2004
Name: date, dtype: object
4863     17,June,2004
4863    20,April,2004
Name: date, dtype: object
4864     16,June,2004
4864    20,April,2004
Name: date, dtype: object
4865     16,June,2004
4865    19,April,2004
Name: date, dtype: object
4866     15,June,2004
4866    19,April,2004
Name: date, dtype: object
4867     15,June,2004
4867    16,April,2004
Name: date, dtype: object
4868     15,June,2004
4868    15,April,2004
Name: date, dtype: object
4869     16,July,2004
4869    14,April,2004
Name: date, dtype: object
4870     07,July,2004
4870    14,April,2004
Name: date, dtype: object
4871    27,October,2003
4871      14,April,2004
Name: date, dtype: object
4872    19,October,2003
4872      13,April,2004
Name: date, dtype: object
4873    18,October,2003
4873      13,April,2004
Name: date, dtype: object
4874    18,October,2003
4874      13,April,2004
Name: date, dtype: object
4875    02,November,2003
4875       13,April,2004
Name: date, dtype: object
4876    01,November,2003
4876       13,April,2004
Name: date, dtype: object
4877    01,November,2003
4877       12,April,2004
Name: date, dtype: object
4878    01,November,2003
4878       12,April,2004
Name: date, dtype: object
4879    21,February,2004
4879       09,April,2004
Name: date, dtype: object
4880    21,February,2004
4880       09,April,2004
Name: date, dtype: object
4881    20,March,2004
4881    09,April,2004
Name: date, dtype: object
4882    06,March,2004
4882    09,April,2004
Name: date, dtype: object
4883    06,March,2004
4883    08,April,2004
Name: date, dtype: object
4884    25,April,2004
4884    07,April,2004
Name: date, dtype: object
4885    18,April,2004
4885    07,April,2004
Name: date, dtype: object
4886      16,May,2004
4886    07,April,2004
Name: date, dtype: object
4887     30,June,2004
4887    07,April,2004
Name: date, dtype: object
4888     24,June,2004
4888    06,April,2004
Name: date, dtype: object
4889     22,June,2004
4889    06,April,2004
Name: date, dtype: object
4890     21,June,2004
4890    06,April,2004
Name: date, dtype: object
4891     19,June,2004
4891    01,April,2004
Name: date, dtype: object
4892    19,June,2004
4892     28,May,2004
Name: date, dtype: object
4893    15,June,2004
4893     27,May,2004
Name: date, dtype: object
4894    12,June,2004
4894     26,May,2004
Name: date, dtype: object
4895    06,June,2004
4895     26,May,2004
Name: date, dtype: object
4896    18,June,2004
4896     25,May,2004
Name: date, dtype: object
4897    17,June,2004
4897     24,May,2004
Name: date, dtype: object
4898    17,June,2004
4898     21,May,2004
Name: date, dtype: object
4899    17,June,2004
4899     20,May,2004
Name: date, dtype: object
4900    25,June,2004
4900     19,May,2004
Name: date, dtype: object
4901    24,June,2004
4901     18,May,2004
Name: date, dtype: object
4902    24,June,2004
4902     18,May,2004
Name: date, dtype: object
4903    23,June,2004
4903     17,May,2004
Name: date, dtype: object
4904    22,June,2004
4904     14,May,2004
Name: date, dtype: object
4905    29,June,2004
4905     14,May,2004
Name: date, dtype: object
4906    28,June,2004
4906     14,May,2004
Name: date, dtype: object
4907    28,June,2004
4907     13,May,2004
Name: date, dtype: object
4908    27,June,2004
4908     13,May,2004
Name: date, dtype: object
4909    08,July,2004
4909     13,May,2004
Name: date, dtype: object
4910    05,July,2004
4910     13,May,2004
Name: date, dtype: object
4911    17,July,2004
4911     12,May,2004
Name: date, dtype: object
4912    15,July,2004
4912     11,May,2004
Name: date, dtype: object
4913    13,July,2004
4913     09,May,2004
Name: date, dtype: object
4914    23,July,2004
4914     09,May,2004
Name: date, dtype: object
4915    19,July,2004
4915     07,May,2004
Name: date, dtype: object
4916    29,July,2004
4916     06,May,2004
Name: date, dtype: object
4917    28,July,2004
4917     05,May,2004
Name: date, dtype: object
4918    27,July,2004
4918     05,May,2004
Name: date, dtype: object
4919    27,July,2004
4919     05,May,2004
Name: date, dtype: object
4920    25,July,2004
4920     05,May,2004
Name: date, dtype: object
4921    25,July,2004
4921     05,May,2004
Name: date, dtype: object
4922    25,July,2004
4922    30,June,2004
Name: date, dtype: object
4923    06,August,2004
4923      29,June,2004
Name: date, dtype: object
4924    03,August,2004
4924      29,June,2004
Name: date, dtype: object
4925    03,August,2004
4925      29,June,2004
Name: date, dtype: object
4926    03,August,2004
4926      29,June,2004
Name: date, dtype: object
4927    03,August,2004
4927      29,June,2004
Name: date, dtype: object
4928    02,August,2004
4928      28,June,2004
Name: date, dtype: object
4929    14,August,2004
4929      25,June,2004
Name: date, dtype: object
4930    09,August,2004
4930      24,June,2004
Name: date, dtype: object
4931    09,August,2004
4931      24,June,2004
Name: date, dtype: object
4932    09,August,2004
4932      24,June,2004
Name: date, dtype: object
4933    09,August,2004
4933      24,June,2004
Name: date, dtype: object
4934    08,August,2004
4934      23,June,2004
Name: date, dtype: object
4935    08,August,2004
4935      23,June,2004
Name: date, dtype: object
4936     28,May,2004
4936    23,June,2004
Name: date, dtype: object
4937     22,May,2004
4937    23,June,2004
Name: date, dtype: object
4938     22,May,2004
4938    23,June,2004
Name: date, dtype: object
4939     18,May,2004
4939    22,June,2004
Name: date, dtype: object
4940     17,May,2004
4940    21,June,2004
Name: date, dtype: object
4941     16,May,2004
4941    21,June,2004
Name: date, dtype: object
4942     15,May,2004
4942    21,June,2004
Name: date, dtype: object
4943     15,May,2004
4943    16,June,2004
Name: date, dtype: object
4944    12,June,2004
4944    14,June,2004
Name: date, dtype: object

4945    10,June,2004
4945    14,June,2004
Name: date, dtype: object
4946    07,June,2004
4946    14,June,2004
Name: date, dtype: object
4947    04,June,2004
4947    11,June,2004
Name: date, dtype: object
4948    02,June,2004
4948    10,June,2004
Name: date, dtype: object
4949    01,June,2004
4949    10,June,2004
Name: date, dtype: object
4950    01,June,2004
4950    09,June,2004
Name: date, dtype: object
4951    11,July,2004
4951    07,June,2004
Name: date, dtype: object
4952    09,July,2004
4952    07,June,2004
Name: date, dtype: object
4953    07,July,2004
4953    03,June,2004
Name: date, dtype: object
4954    02,August,2004
4954      03,June,2004
Name: date, dtype: object
4955    24,August,2004
4955      03,June,2004
Name: date, dtype: object
4956    23,August,2004
4956      02,June,2004
Name: date, dtype: object
4957    30,September,2003
4957         01,June,2004
Name: date, dtype: object
4958    29,September,2003
4958         01,June,2004
Name: date, dtype: object
4959    29,September,2003
4959         01,June,2004
Name: date, dtype: object
4960    26,September,2003
4960         01,June,2004
Name: date, dtype: object
4961    25,September,2003
4961         01,June,2004
Name: date, dtype: object
4962    25,September,2003
4962         29,July,2004
Name: date, dtype: object
4963    25,September,2003
4963         28,July,2004
Name: date, dtype: object
4964    25,September,2003
4964         26,July,2004
Name: date, dtype: object
4965    25,September,2003
4965         26,July,2004
Name: date, dtype: object
4966    25,September,2003
4966         25,July,2004
Name: date, dtype: object
4967    24,September,2003
4967         23,July,2004
Name: date, dtype: object
4968    24,September,2003
4968         21,July,2004
Name: date, dtype: object
4969    23,September,2003
4969         20,July,2004
Name: date, dtype: object
4970    23,September,2003
4970         20,July,2004
Name: date, dtype: object
4971    23,September,2003
4971         19,July,2004
Name: date, dtype: object
4972    22,September,2003
4972         16,July,2004
Name: date, dtype: object
4973    22,September,2003
4973         16,July,2004
Name: date, dtype: object
4974    22,September,2003
4974         16,July,2004
Name: date, dtype: object
4975    22,September,2003
4975         15,July,2004
Name: date, dtype: object
4976    22,September,2003
4976         15,July,2004
Name: date, dtype: object
4977    20,September,2003
4977         14,July,2004
Name: date, dtype: object
4978    20,September,2003
4978         13,July,2004
Name: date, dtype: object
4979    19,September,2003
4979         12,July,2004
Name: date, dtype: object
4980    18,September,2003
4980         09,July,2004
Name: date, dtype: object
4981    18,September,2003
4981         09,July,2004
Name: date, dtype: object
4982    17,September,2003
4982         09,July,2004
Name: date, dtype: object
4983    16,September,2003
4983         08,July,2004
Name: date, dtype: object
4984    14,September,2003
4984         08,July,2004
Name: date, dtype: object
4985    14,September,2003
4985         08,July,2004
Name: date, dtype: object
4986    14,September,2003
4986         08,July,2004
Name: date, dtype: object
4987    14,September,2003
4987         08,July,2004
Name: date, dtype: object
4988    12,September,2003
4988         01,July,2004
Name: date, dtype: object
4989    12,September,2003
4989         01,July,2004
Name: date, dtype: object
4990    31,October,2003
4990       01,July,2004
Name: date, dtype: object
4991    30,October,2003
4991       01,July,2004
Name: date, dtype: object
4992    30,October,2003
4992     11,August,2004
Name: date, dtype: object
4993    30,October,2003
4993     10,August,2004
Name: date, dtype: object
4994    30,October,2003
4994     10,August,2004
Name: date, dtype: object
4995    29,October,2003
4995     09,August,2004
Name: date, dtype: object
4996    29,October,2003
4996     06,August,2004
Name: date, dtype: object
4997    29,October,2003
4997     06,August,2004
Name: date, dtype: object
4998    28,October,2003
4998     04,August,2004
Name: date, dtype: object
4999    28,October,2003
4999     04,August,2004
Name: date, dtype: object
5000    28,October,2003
5000     04,August,2004
Name: date, dtype: object
5001    27,October,2003
5001     04,August,2004
Name: date, dtype: object
5002    27,October,2003
5002     03,August,2004
Name: date, dtype: object
5003    27,October,2003
5003     03,August,2004
Name: date, dtype: object
5004    27,October,2003
5004     22,August,2004
Name: date, dtype: object
5005    26,October,2003
5005     22,August,2004
Name: date, dtype: object
5006    25,October,2003
5006       30,July,2004
Name: date, dtype: object
5007    24,October,2003
5007     18,August,2004
Name: date, dtype: object
5008    23,October,2003
5008     09,August,2004
Name: date, dtype: object
5009    23,October,2003
5009     09,August,2004
Name: date, dtype: object
5010    23,October,2003
5010     04,August,2004
Name: date, dtype: object
5011    23,October,2003
5011     04,August,2004
Name: date, dtype: object
5012    23,October,2003
5012     19,August,2004
Name: date, dtype: object
5013    22,October,2003
5013     14,August,2004
Name: date, dtype: object
5014    22,October,2003
5014     14,August,2004
Name: date, dtype: object
5015    22,October,2003
5015     11,August,2004
Name: date, dtype: object
5016    21,October,2003
5016     08,August,2004
Name: date, dtype: object
5017    21,October,2003
5017     07,August,2004
Name: date, dtype: object
5018    21,October,2003
5018     06,August,2004
Name: date, dtype: object
5019    21,October,2003
5019     06,August,2004
Name: date, dtype: object
5020    21,October,2003
5020     05,August,2004
Name: date, dtype: object
5021    20,October,2003
5021     03,August,2004
Name: date, dtype: object
5022    20,October,2003
5022     03,August,2004
Name: date, dtype: object
5023    20,October,2003
5023     02,August,2004
Name: date, dtype: object
5024    20,October,2003
5024     02,August,2004
Name: date, dtype: object
5025    19,October,2003
5025     02,August,2004
Name: date, dtype: object
5026    19,October,2003
5026       14,July,2004
Name: date, dtype: object
5027    19,October,2003
5027       12,July,2004
Name: date, dtype: object
5028    18,October,2003
5028       12,July,2004
Name: date, dtype: object
5029    18,October,2003
5029       28,July,2004
Name: date, dtype: object
5030    17,October,2003
5030       23,July,2004
Name: date, dtype: object
5031    16,October,2003
5031       23,July,2004
Name: date, dtype: object
5032    16,October,2003
5032       22,July,2004
Name: date, dtype: object
5033    16,October,2003
5033       22,July,2004
Name: date, dtype: object
5034    16,October,2003
5034       22,July,2004
Name: date, dtype: object
5035    16,October,2003
5035       22,July,2004
Name: date, dtype: object
5036    15,October,2003
5036       22,July,2004
Name: date, dtype: object
5037    15,October,2003
5037       22,July,2004
Name: date, dtype: object
5038    15,October,2003
5038     09,August,2004
Name: date, dtype: object
5039    14,October,2003
5039     02,August,2004
Name: date, dtype: object
5040    14,October,2003
5040       31,July,2004
Name: date, dtype: object
5041    14,October,2003
5041       29,July,2004
Name: date, dtype: object
5042    14,October,2003
5042       29,July,2004
Name: date, dtype: object
5043    13,October,2003
5043       25,July,2004
Name: date, dtype: object
5044    13,October,2003
5044       25,July,2004
Name: date, dtype: object
5045    13,October,2003
5045       25,July,2004
Name: date, dtype: object
5046    13,October,2003
5046       24,July,2004
Name: date, dtype: object
5047    10,October,2003
5047       24,July,2004
Name: date, dtype: object
5048    09,October,2003
5048       23,July,2004
Name: date, dtype: object
5049    09,October,2003
5049       23,July,2004
Name: date, dtype: object
5050    09,October,2003
5050       23,July,2004
Name: date, dtype: object
5051    09,October,2003
5051       23,July,2004
Name: date, dtype: object
5052    09,October,2003
5052       23,July,2004
Name: date, dtype: object
5053    08,October,2003
5053     17,August,2004
Name: date, dtype: object
5054    08,October,2003
5054     15,August,2004
Name: date, dtype: object
5055    08,October,2003
5055     04,August,2004
Name: date, dtype: object
5056    08,October,2003
5056     03,August,2004
Name: date, dtype: object
5057    07,October,2003
5057     03,August,2004
Name: date, dtype: object
5058    06,October,2003
5058     01,August,2004
Name: date, dtype: object
5059    06,October,2003
5059      27,March,2004
Name: date, dtype: object
5060    06,October,2003
5060      25,March,2004
Name: date, dtype: object
5061    04,October,2003
5061     05,August,2004
Name: date, dtype: object
5062    04,October,2003
5062     04,August,2004
Name: date, dtype: object
5063    04,October,2003
5063     04,August,2004
Name: date, dtype: object
5064    04,October,2003
5064     03,August,2004
Name: date, dtype: object
5065    03,October,2003
5065     03,August,2004
Name: date, dtype: object
5066    02,October,2003
5066     02,August,2004
Name: date, dtype: object
5067    02,October,2003
5067     02,August,2004
Name: date, dtype: object
5068    01,October,2003
5068     02,August,2004
Name: date, dtype: object
5069    01,October,2003
5069     01,August,2004
Name: date, dtype: object
5070    01,October,2003
5070     01,August,2004
Name: date, dtype: object
5071    01,October,2003
5071     01,August,2004
Name: date, dtype: object
5072    01,October,2003
5072       20,June,2004
Name: date, dtype: object
5073    27,November,2003
5073        19,July,2004
Name: date, dtype: object
5074    26,November,2003
5074        18,July,2004
Name: date, dtype: object
5075    26,November,2003
5075      02,August,2004
Name: date, dtype: object
5076    25,November,2003
5076        30,June,2004
Name: date, dtype: object
5077    25,November,2003
5077        29,June,2004
Name: date, dtype: object
5078    25,November,2003
5078        24,June,2004
Name: date, dtype: object
5079    24,November,2003
5079        23,June,2004
Name: date, dtype: object
5080    22,November,2003
5080        23,June,2004
Name: date, dtype: object

5081    21,November,2003
5081        23,June,2004
Name: date, dtype: object
5082    20,November,2003
5082        01,July,2004
Name: date, dtype: object
5083    20,November,2003
5083      10,August,2004
Name: date, dtype: object
5084    20,November,2003
5084      06,August,2004
Name: date, dtype: object
5085    19,November,2003
5085      06,August,2004
Name: date, dtype: object
5086    19,November,2003
5086      06,August,2004
Name: date, dtype: object
5087    19,November,2003
5087        26,July,2004
Name: date, dtype: object
5088    19,November,2003
5088        25,July,2004
Name: date, dtype: object
5089    18,November,2003
5089        21,July,2004
Name: date, dtype: object
5090    17,November,2003
5090        19,July,2004
Name: date, dtype: object
5091    17,November,2003
5091        18,July,2004
Name: date, dtype: object
5092    17,November,2003
5092        18,July,2004
Name: date, dtype: object
5093    17,November,2003
5093        10,July,2004
Name: date, dtype: object
5094    16,November,2003
5094      13,August,2004
Name: date, dtype: object
5095    16,November,2003
5095      11,August,2004
Name: date, dtype: object
5096    14,November,2003
5096      08,August,2004
Name: date, dtype: object
5097    13,November,2003
5097      03,August,2004
Name: date, dtype: object
5098    13,November,2003
5098      02,August,2004
Name: date, dtype: object
5099    13,November,2003
5099      01,August,2004
Name: date, dtype: object
5100    12,November,2003
5100        10,July,2004
Name: date, dtype: object
5101    10,November,2003
5101        04,July,2004
Name: date, dtype: object
5102    10,November,2003
5102        01,July,2004
Name: date, dtype: object
5103    10,November,2003
5103       24,March,2004
Name: date, dtype: object
5104    09,November,2003
5104       23,March,2004
Name: date, dtype: object
5105    09,November,2003
5105         01,May,2004
Name: date, dtype: object
5106    09,November,2003
5106       28,April,2004
Name: date, dtype: object
5107    09,November,2003
5107       28,April,2004
Name: date, dtype: object
5108    07,November,2003
5108         18,May,2004
Name: date, dtype: object
5109    06,November,2003
5109        16,July,2004
Name: date, dtype: object
5110    06,November,2003
5110        12,July,2004
Name: date, dtype: object
5111    05,November,2003
5111        12,July,2004
Name: date, dtype: object
5112    05,November,2003
5112        19,July,2004
Name: date, dtype: object
5113    05,November,2003
5113        18,July,2004
Name: date, dtype: object
5114    05,November,2003
5114        18,July,2004
Name: date, dtype: object
5115    03,November,2003
5115        18,July,2004
Name: date, dtype: object
5116    03,November,2003
5116        18,July,2004
Name: date, dtype: object
5117    03,November,2003
5117        30,July,2004
Name: date, dtype: object
5118    03,November,2003
5118      03,August,2004
Name: date, dtype: object
5119    03,November,2003
5119      03,August,2004
Name: date, dtype: object
5120    31,December,2003
5120        18,July,2004
Name: date, dtype: object
5121    30,December,2003
5121        16,July,2004
Name: date, dtype: object
5122    29,December,2003
5122        15,July,2004
Name: date, dtype: object
5123    29,December,2003
5123        14,July,2004
Name: date, dtype: object
5124    22,December,2003
5124        13,July,2004
Name: date, dtype: object
5125    19,December,2003
5125        12,July,2004
Name: date, dtype: object
5126    17,December,2003
5126        12,July,2004
Name: date, dtype: object
5127    17,December,2003
5127        27,June,2004
Name: date, dtype: object
5128    17,December,2003
5128        25,June,2004
Name: date, dtype: object
5129    15,December,2003
5129        21,July,2004
Name: date, dtype: object
5130    12,December,2003
5130        21,July,2004
Name: date, dtype: object
5131    12,December,2003
5131        21,July,2004
Name: date, dtype: object
5132    11,December,2003
5132        21,July,2004
Name: date, dtype: object
5133    11,December,2003
5133        21,July,2004
Name: date, dtype: object
5134    11,December,2003
5134        21,July,2004
Name: date, dtype: object
5135    09,December,2003
5135        21,July,2004
Name: date, dtype: object
5136    09,December,2003
5136        21,July,2004
Name: date, dtype: object
5137    08,December,2003
5137        21,July,2004
Name: date, dtype: object
5138    08,December,2003
5138        21,July,2004
Name: date, dtype: object
5139    08,December,2003
5139        21,July,2004
Name: date, dtype: object
5140    05,December,2003
5140        21,July,2004
Name: date, dtype: object
5141    04,December,2003
5141      23,August,2004
Name: date, dtype: object
5142    04,December,2003
5142      21,August,2004
Name: date, dtype: object
5143    04,December,2003
5143      20,August,2004
Name: date, dtype: object
5144    04,December,2003
5144      19,August,2004
Name: date, dtype: object
5145    03,December,2003
5145      18,August,2004
Name: date, dtype: object
5146    02,December,2003
5146      18,August,2004
Name: date, dtype: object
5147    02,December,2003
5147      17,August,2004
Name: date, dtype: object
5148    02,December,2003
5148      17,August,2004
Name: date, dtype: object
5149    02,December,2003
5149      17,August,2004
Name: date, dtype: object
5150    02,December,2003
5150      17,August,2004
Name: date, dtype: object
5151    02,December,2003
5151      17,August,2004
Name: date, dtype: object
5152    30,January,2004
5152     17,August,2004
Name: date, dtype: object
5153    29,January,2004
5153     17,August,2004
Name: date, dtype: object
5154    29,January,2004
5154     17,August,2004
Name: date, dtype: object
5155    29,January,2004
5155     17,August,2004
Name: date, dtype: object
5156    28,January,2004
5156     17,August,2004
Name: date, dtype: object
5157    27,January,2004
5157     17,August,2004
Name: date, dtype: object
5158    27,January,2004
5158     17,August,2004
Name: date, dtype: object
5159    26,January,2004
5159       24,June,2004
Name: date, dtype: object
5160    26,January,2004
5160       23,June,2004
Name: date, dtype: object
5161    23,January,2004
5161       22,June,2004
Name: date, dtype: object
5162    23,January,2004
5162       20,June,2004
Name: date, dtype: object
5163    23,January,2004
5163       19,June,2004
Name: date, dtype: object
5164    22,January,2004
5164       18,June,2004
Name: date, dtype: object
5165    22,January,2004
5165       25,June,2004
Name: date, dtype: object
5166    22,January,2004
5166       15,June,2004
Name: date, dtype: object
5167    22,January,2004
5167       15,June,2004
Name: date, dtype: object
5168    22,January,2004
5168       27,July,2004
Name: date, dtype: object
5169    21,January,2004
5169       25,July,2004
Name: date, dtype: object
5170    21,January,2004
5170       30,June,2004
Name: date, dtype: object
5171    21,January,2004
5171       29,June,2004
Name: date, dtype: object
5172    20,January,2004
5172       27,June,2004
Name: date, dtype: object
5173    20,January,2004
5173       27,June,2004
Name: date, dtype: object
5174    20,January,2004
5174       25,June,2004
Name: date, dtype: object
5175    19,January,2004
5175       25,June,2004
Name: date, dtype: object
5176    16,January,2004
5176       25,June,2004
Name: date, dtype: object
5177    16,January,2004
5177       25,June,2004
Name: date, dtype: object
5178    15,January,2004
5178       24,June,2004
Name: date, dtype: object
5179    15,January,2004
5179       24,June,2004
Name: date, dtype: object
5180    09,January,2004
5180       23,June,2004
Name: date, dtype: object
5181    08,January,2004
5181       23,June,2004
Name: date, dtype: object
5182    07,January,2004
5182       22,June,2004
Name: date, dtype: object
5183    07,January,2004
5183       22,June,2004
Name: date, dtype: object
5184    07,January,2004
5184       22,June,2004
Name: date, dtype: object
5185    06,January,2004
5185       20,June,2004
Name: date, dtype: object
5186    06,January,2004
5186       20,June,2004
Name: date, dtype: object
5187    05,January,2004
5187       19,June,2004
Name: date, dtype: object
5188    05,January,2004
5188       19,June,2004
Name: date, dtype: object
5189    05,January,2004
5189       19,June,2004
Name: date, dtype: object
5190    05,January,2004
5190       18,June,2004
Name: date, dtype: object
5191    04,January,2004
5191       18,June,2004
Name: date, dtype: object
5192    04,January,2004
5192       17,June,2004
Name: date, dtype: object
5193    27,February,2004
5193        17,June,2004
Name: date, dtype: object
5194    26,February,2004
5194        16,June,2004
Name: date, dtype: object
5195    26,February,2004
5195        16,June,2004
Name: date, dtype: object
5196    26,February,2004
5196        15,June,2004
Name: date, dtype: object
5197    26,February,2004
5197        15,June,2004
Name: date, dtype: object
5198    26,February,2004
5198        14,June,2004
Name: date, dtype: object
5199    26,February,2004
5199        13,June,2004
Name: date, dtype: object
5200    25,February,2004
5200        13,June,2004
Name: date, dtype: object
5201    25,February,2004
5201        13,June,2004
Name: date, dtype: object
5202    24,February,2004
5202        12,June,2004
Name: date, dtype: object
5203    23,February,2004
5203        12,June,2004
Name: date, dtype: object
5204    23,February,2004
5204        11,June,2004
Name: date, dtype: object
5205    23,February,2004
5205        11,June,2004
Name: date, dtype: object
5206    20,February,2004
5206        11,June,2004
Name: date, dtype: object
5207    19,February,2004
5207        10,June,2004
Name: date, dtype: object
5208    19,February,2004
5208        09,June,2004
Name: date, dtype: object
5209    19,February,2004
5209        09,June,2004
Name: date, dtype: object
5210    19,February,2004
5210        09,June,2004
Name: date, dtype: object
5211    19,February,2004
5211        09,June,2004
Name: date, dtype: object
5212    19,February,2004
5212        08,June,2004

Name: date, dtype: object
5213    19,February,2004
5213        08,June,2004
Name: date, dtype: object
5214    18,February,2004
5214        08,June,2004
Name: date, dtype: object
5215    17,February,2004
5215        06,June,2004
Name: date, dtype: object
5216    17,February,2004
5216        06,June,2004
Name: date, dtype: object
5217    17,February,2004
5217        06,June,2004
Name: date, dtype: object
5218    16,February,2004
5218        06,June,2004
Name: date, dtype: object
5219    16,February,2004
5219        06,June,2004
Name: date, dtype: object
5220    13,February,2004
5220        06,June,2004
Name: date, dtype: object
5221    12,February,2004
5221        05,June,2004
Name: date, dtype: object
5222    12,February,2004
5222        05,June,2004
Name: date, dtype: object
5223    12,February,2004
5223        05,June,2004
Name: date, dtype: object
5224    12,February,2004
5224        04,June,2004
Name: date, dtype: object
5225    12,February,2004
5225        04,June,2004
Name: date, dtype: object
5226    10,February,2004
5226        31,July,2004
Name: date, dtype: object
5227    10,February,2004
5227        29,July,2004
Name: date, dtype: object
5228    10,February,2004
5228        29,July,2004
Name: date, dtype: object
5229    09,February,2004
5229        29,July,2004
Name: date, dtype: object
5230    09,February,2004
5230        28,July,2004
Name: date, dtype: object
5231    06,February,2004
5231        27,July,2004
Name: date, dtype: object
5232    06,February,2004
5232        26,July,2004
Name: date, dtype: object
5233    05,February,2004
5233        26,July,2004
Name: date, dtype: object
5234    04,February,2004
5234        25,July,2004
Name: date, dtype: object
5235    04,February,2004
5235        24,July,2004
Name: date, dtype: object
5236    04,February,2004
5236        24,July,2004
Name: date, dtype: object
5237    01,February,2004
5237        23,July,2004
Name: date, dtype: object
5238    01,February,2004
5238        23,July,2004
Name: date, dtype: object
5239    26,March,2004
5239     23,July,2004
Name: date, dtype: object
5240    24,March,2004
5240     22,July,2004
Name: date, dtype: object
5241    22,March,2004
5241     21,July,2004
Name: date, dtype: object
5242    22,March,2004
5242     20,July,2004
Name: date, dtype: object
5243    22,March,2004
5243     20,July,2004
Name: date, dtype: object
5244    18,March,2004
5244     20,July,2004
Name: date, dtype: object
5245    18,March,2004
5245     19,July,2004
Name: date, dtype: object
5246    18,March,2004
5246     18,July,2004
Name: date, dtype: object
5247    18,March,2004
5247     18,July,2004
Name: date, dtype: object
5248    17,March,2004
5248     18,July,2004
Name: date, dtype: object
5249    16,March,2004
5249     18,July,2004
Name: date, dtype: object
5250    16,March,2004
5250     17,July,2004
Name: date, dtype: object
5251    16,March,2004
5251     17,July,2004
Name: date, dtype: object
5252    15,March,2004
5252     17,July,2004
Name: date, dtype: object
5253    12,March,2004
5253     16,July,2004
Name: date, dtype: object
5254    11,March,2004
5254     16,July,2004
Name: date, dtype: object
5255    11,March,2004
5255     15,July,2004
Name: date, dtype: object
5256    10,March,2004
5256     15,July,2004
Name: date, dtype: object
5257    09,March,2004
5257     15,July,2004
Name: date, dtype: object
5258    09,March,2004
5258     15,July,2004
Name: date, dtype: object
5259    09,March,2004
5259     15,July,2004
Name: date, dtype: object
5260    09,March,2004
5260     14,July,2004
Name: date, dtype: object
5261    08,March,2004
5261     14,July,2004
Name: date, dtype: object
5262    03,March,2004
5262     14,July,2004
Name: date, dtype: object
5263    03,March,2004
5263     14,July,2004
Name: date, dtype: object
5264    02,March,2004
5264     14,July,2004
Name: date, dtype: object
5265    30,April,2004
5265     14,July,2004
Name: date, dtype: object
5266    28,April,2004
5266     12,July,2004
Name: date, dtype: object
5267    28,April,2004
5267     11,July,2004
Name: date, dtype: object
5268    28,April,2004
5268     11,July,2004
Name: date, dtype: object
5269    26,April,2004
5269     11,July,2004
Name: date, dtype: object
5270    26,April,2004
5270     08,July,2004
Name: date, dtype: object
5271    26,April,2004
5271     08,July,2004
Name: date, dtype: object
5272    26,April,2004
5272     08,July,2004
Name: date, dtype: object
5273    22,April,2004
5273     08,July,2004
Name: date, dtype: object
5274    21,April,2004
5274     08,July,2004
Name: date, dtype: object
5275    19,April,2004
5275     07,July,2004
Name: date, dtype: object
5276    19,April,2004
5276     07,July,2004
Name: date, dtype: object
5277    16,April,2004
5277     07,July,2004
Name: date, dtype: object
5278    14,April,2004
5278     05,July,2004
Name: date, dtype: object
5279    14,April,2004
5279     05,July,2004
Name: date, dtype: object
5280    14,April,2004
5280     04,July,2004
Name: date, dtype: object
5281    13,April,2004
5281     04,July,2004
Name: date, dtype: object
5282    13,April,2004
5282     04,July,2004
Name: date, dtype: object
5283    12,April,2004
5283     04,July,2004
Name: date, dtype: object
5284    12,April,2004
5284     03,July,2004
Name: date, dtype: object
5285    12,April,2004
5285     02,July,2004
Name: date, dtype: object
5286     06,April,2004
5286    10,August,2004
Name: date, dtype: object
5287     06,April,2004
5287    08,August,2004
Name: date, dtype: object
5288     06,April,2004
5288    07,August,2004
Name: date, dtype: object
5289     06,April,2004
5289    06,August,2004
Name: date, dtype: object
5290     05,April,2004
5290    06,August,2004
Name: date, dtype: object
5291     02,April,2004
5291    06,August,2004
Name: date, dtype: object
5292     01,April,2004
5292    05,August,2004
Name: date, dtype: object
5293     01,April,2004
5293    04,August,2004
Name: date, dtype: object
5294     01,April,2004
5294    04,August,2004
Name: date, dtype: object
5295       28,May,2004
5295    04,August,2004
Name: date, dtype: object
5296       27,May,2004
5296    03,August,2004
Name: date, dtype: object
5297       27,May,2004
5297    03,August,2004
Name: date, dtype: object
5298       27,May,2004
5298    02,August,2004
Name: date, dtype: object
5299       26,May,2004
5299    02,August,2004
Name: date, dtype: object
5300       26,May,2004
5300    01,August,2004
Name: date, dtype: object
5301       24,May,2004
5301    01,August,2004
Name: date, dtype: object
5302         24,May,2004
5302    31,December,2003
Name: date, dtype: object
5303         24,May,2004
5303    30,December,2003
Name: date, dtype: object
5304         24,May,2004
5304    30,December,2003
Name: date, dtype: object
5305         24,May,2004
5305    30,December,2003
Name: date, dtype: object
5306         24,May,2004
5306    30,December,2003
Name: date, dtype: object
5307         21,May,2004
5307    30,December,2003
Name: date, dtype: object
5308         21,May,2004
5308    30,December,2003
Name: date, dtype: object
5309        21,May,2004
5309    31,January,2004
Name: date, dtype: object
5310        21,May,2004
5310    29,January,2004
Name: date, dtype: object
5311        20,May,2004
5311    28,January,2004
Name: date, dtype: object
5312        20,May,2004
5312    26,January,2004
Name: date, dtype: object
5313        20,May,2004
5313    26,January,2004
Name: date, dtype: object
5314        19,May,2004
5314    20,January,2004
Name: date, dtype: object
5315        19,May,2004
5315    20,January,2004
Name: date, dtype: object
5316        19,May,2004
5316    19,January,2004
Name: date, dtype: object
5317        18,May,2004
5317    17,January,2004
Name: date, dtype: object
5318        18,May,2004
5318    15,January,2004
Name: date, dtype: object
5319        17,May,2004
5319    15,January,2004
Name: date, dtype: object
5320        17,May,2004
5320    15,January,2004
Name: date, dtype: object
5321        14,May,2004
5321    14,January,2004
Name: date, dtype: object
5322        14,May,2004
5322    13,January,2004
Name: date, dtype: object
5323        13,May,2004
5323    13,January,2004
Name: date, dtype: object
5324        13,May,2004
5324    06,January,2004
Name: date, dtype: object
5325        13,May,2004
5325    06,January,2004
Name: date, dtype: object
5326        12,May,2004
5326    02,January,2004
Name: date, dtype: object
5327         11,May,2004
5327    28,February,2004
Name: date, dtype: object
5328         07,May,2004
5328    23,February,2004
Name: date, dtype: object
5329         07,May,2004
5329    23,February,2004
Name: date, dtype: object
5330         06,May,2004
5330    22,February,2004
Name: date, dtype: object
5331         06,May,2004
5331    21,February,2004
Name: date, dtype: object
5332         05,May,2004
5332    18,February,2004
Name: date, dtype: object
5333         05,May,2004
5333    17,February,2004
Name: date, dtype: object
5334         04,May,2004
5334    16,February,2004
Name: date, dtype: object
5335         04,May,2004
5335    16,February,2004
Name: date, dtype: object
5336         04,May,2004
5336    15,February,2004
Name: date, dtype: object
5337         04,May,2004
5337    15,February,2004
Name: date, dtype: object
5338        30,June,2004
5338    15,February,2004
Name: date, dtype: object
5339        28,June,2004
5339    13,February,2004
Name: date, dtype: object
5340        25,June,2004
5340    12,February,2004
Name: date, dtype: object
5341        25,June,2004
5341    08,February,2004
Name: date, dtype: object
5342        25,June,2004
5342    07,February,2004

Name: date, dtype: object
5343        25,June,2004
5343    02,February,2004
Name: date, dtype: object
5344        24,June,2004
5344    02,February,2004
Name: date, dtype: object
5345        24,June,2004
5345    02,February,2004
Name: date, dtype: object
5346     24,June,2004
5346    29,March,2004
Name: date, dtype: object
5347     23,June,2004
5347    25,March,2004
Name: date, dtype: object
5348     23,June,2004
5348    25,March,2004
Name: date, dtype: object
5349     22,June,2004
5349    14,March,2004
Name: date, dtype: object
5350     22,June,2004
5350    09,March,2004
Name: date, dtype: object
5351     21,June,2004
5351    09,March,2004
Name: date, dtype: object
5352     21,June,2004
5352    07,March,2004
Name: date, dtype: object
5353     17,June,2004
5353    03,March,2004
Name: date, dtype: object
5354     16,June,2004
5354    30,April,2004
Name: date, dtype: object
5355     16,June,2004
5355    29,April,2004
Name: date, dtype: object
5356     16,June,2004
5356    29,April,2004
Name: date, dtype: object
5357     16,June,2004
5357    29,April,2004
Name: date, dtype: object
5358     16,June,2004
5358    28,April,2004
Name: date, dtype: object
5359     16,June,2004
5359    26,April,2004
Name: date, dtype: object
5360     14,June,2004
5360    25,April,2004
Name: date, dtype: object
5361     14,June,2004
5361    24,April,2004
Name: date, dtype: object
5362     14,June,2004
5362    18,April,2004
Name: date, dtype: object
5363     14,June,2004
5363    16,April,2004
Name: date, dtype: object
5364     11,June,2004
5364    06,April,2004
Name: date, dtype: object
5365     11,June,2004
5365    05,April,2004
Name: date, dtype: object
5366     11,June,2004
5366    04,April,2004
Name: date, dtype: object
5367     11,June,2004
5367    03,April,2004
Name: date, dtype: object
5368     11,June,2004
5368    03,April,2004
Name: date, dtype: object
5369    10,June,2004
5369     30,May,2004
Name: date, dtype: object
5370    10,June,2004
5370     29,May,2004
Name: date, dtype: object
5371    09,June,2004
5371     29,May,2004
Name: date, dtype: object
5372    09,June,2004
5372     29,May,2004
Name: date, dtype: object
5373    09,June,2004
5373     29,May,2004
Name: date, dtype: object
5374    09,June,2004
5374     26,May,2004
Name: date, dtype: object
5375    09,June,2004
5375     26,May,2004
Name: date, dtype: object
5376    07,June,2004
5376     26,May,2004
Name: date, dtype: object
5377    07,June,2004
5377     26,May,2004
Name: date, dtype: object
5378    07,June,2004
5378     26,May,2004
Name: date, dtype: object
5379    07,June,2004
5379     26,May,2004
Name: date, dtype: object
5380    03,June,2004
5380     26,May,2004
Name: date, dtype: object
5381    03,June,2004
5381     26,May,2004
Name: date, dtype: object
5382    02,June,2004
5382     19,May,2004
Name: date, dtype: object
5383    02,June,2004
5383     18,May,2004
Name: date, dtype: object
5384    01,June,2004
5384     18,May,2004
Name: date, dtype: object
5385    01,June,2004
5385    27,June,2004
Name: date, dtype: object
5386    30,July,2004
5386    26,June,2004
Name: date, dtype: object
5387    29,July,2004
5387    25,June,2004
Name: date, dtype: object
5388    29,July,2004
5388    22,June,2004
Name: date, dtype: object
5389    29,July,2004
5389    21,June,2004
Name: date, dtype: object
5390    28,July,2004
5390    20,June,2004
Name: date, dtype: object
5391    28,July,2004
5391    20,June,2004
Name: date, dtype: object
5392    28,July,2004
5392    20,June,2004
Name: date, dtype: object
5393    26,July,2004
5393    15,June,2004
Name: date, dtype: object
5394    23,July,2004
5394    15,June,2004
Name: date, dtype: object
5395    23,July,2004
5395    15,June,2004
Name: date, dtype: object
5396    22,July,2004
5396    13,June,2004
Name: date, dtype: object
5397    21,July,2004
5397    12,June,2004
Name: date, dtype: object
5398    20,July,2004
5398    11,June,2004
Name: date, dtype: object
5399    20,July,2004
5399    11,June,2004
Name: date, dtype: object
5400    19,July,2004
5400    11,June,2004
Name: date, dtype: object
5401    19,July,2004
5401    09,June,2004
Name: date, dtype: object
5402    16,July,2004
5402    07,June,2004
Name: date, dtype: object
5403    16,July,2004
5403    06,June,2004
Name: date, dtype: object
5404    15,July,2004
5404    05,June,2004
Name: date, dtype: object
5405    14,July,2004
5405    05,June,2004
Name: date, dtype: object
5406    14,July,2004
5406    05,June,2004
Name: date, dtype: object
5407    14,July,2004
5407    05,June,2004
Name: date, dtype: object
5408    14,July,2004
5408    05,June,2004
Name: date, dtype: object
5409    12,July,2004
5409    05,June,2004
Name: date, dtype: object
5410    10,July,2004
5410    05,June,2004
Name: date, dtype: object
5411    09,July,2004
5411    05,June,2004
Name: date, dtype: object
5412    07,July,2004
5412    01,June,2004
Name: date, dtype: object
5413    05,July,2004
5413    30,June,2004
Name: date, dtype: object
5414    02,July,2004
5414    29,June,2004
Name: date, dtype: object
5415    01,July,2004
5415    29,June,2004
Name: date, dtype: object
5416    01,July,2004
5416    29,June,2004
Name: date, dtype: object
5417    01,July,2004
5417    29,June,2004
Name: date, dtype: object
5418    10,August,2004
5418      29,June,2004
Name: date, dtype: object
5419    06,August,2004
5419      29,June,2004
Name: date, dtype: object
5420    05,August,2004
5420      29,June,2004
Name: date, dtype: object
5421    04,August,2004
5421      29,June,2004
Name: date, dtype: object
5422    04,August,2004
5422      29,June,2004
Name: date, dtype: object
5423    04,August,2004
5423      29,June,2004
Name: date, dtype: object
5424    03,August,2004
5424      29,June,2004
Name: date, dtype: object
5425    03,August,2004
5425      29,June,2004
Name: date, dtype: object
5426    03,August,2004
5426      28,June,2004
Name: date, dtype: object
5427    03,August,2004
5427      27,June,2004
Name: date, dtype: object
5428    02,August,2004
5428      27,June,2004
Name: date, dtype: object
5429    01,August,2004
5429      27,June,2004
Name: date, dtype: object
5430    10,July,2004
5430    19,June,2004
Name: date, dtype: object
5431    09,July,2004
5431    18,June,2004
Name: date, dtype: object
5432    09,July,2004
5432    17,June,2004
Name: date, dtype: object
5433    08,July,2004
5433    31,July,2004
Name: date, dtype: object
5434    07,July,2004
5434    30,July,2004
Name: date, dtype: object
5435    07,July,2004
5435    27,July,2004
Name: date, dtype: object
5436    07,July,2004
5436    27,July,2004
Name: date, dtype: object
5437    07,July,2004
5437    27,July,2004
Name: date, dtype: object
5438    06,July,2004
5438    27,July,2004
Name: date, dtype: object
5439    06,July,2004
5439    26,July,2004
Name: date, dtype: object
5440    06,July,2004
5440    26,July,2004
Name: date, dtype: object
5441    06,July,2004
5441    22,July,2004
Name: date, dtype: object
5442    05,July,2004
5442    22,July,2004
Name: date, dtype: object
5443    05,July,2004
5443    20,July,2004
Name: date, dtype: object
5444    05,July,2004
5444    20,July,2004
Name: date, dtype: object
5445    05,July,2004
5445    20,July,2004
Name: date, dtype: object
5446    05,July,2004
5446    20,July,2004
Name: date, dtype: object
5447    05,July,2004
5447    18,July,2004
Name: date, dtype: object
5448    05,July,2004
5448    17,July,2004
Name: date, dtype: object
5449    17,July,2004
5449    17,July,2004
Name: date, dtype: object
5450    16,July,2004
5450    17,July,2004
Name: date, dtype: object
5451    15,July,2004
5451    17,July,2004
Name: date, dtype: object
5452    14,July,2004
5452    16,July,2004
Name: date, dtype: object
5453    13,July,2004
5453    16,July,2004
Name: date, dtype: object
5454    12,July,2004
5454    15,July,2004
Name: date, dtype: object
5455    12,July,2004
5455    14,July,2004
Name: date, dtype: object
5456    11,July,2004
5456    14,July,2004
Name: date, dtype: object
5457    11,July,2004
5457    14,July,2004
Name: date, dtype: object
5458    23,July,2004
5458    13,July,2004
Name: date, dtype: object
5459    22,July,2004
5459    13,July,2004
Name: date, dtype: object
5460    21,July,2004
5460    11,July,2004
Name: date, dtype: object
5461    20,July,2004
5461    11,July,2004
Name: date, dtype: object
5462    19,July,2004
5462    10,July,2004
Name: date, dtype: object
5463    19,July,2004
5463    10,July,2004
Name: date, dtype: object
5464    18,July,2004
5464    10,July,2004
Name: date, dtype: object
5465    31,July,2004
5465    10,July,2004
Name: date, dtype: object
5466    30,July,2004
5466    10,July,2004
Name: date, dtype: object
5467    30,July,2004
5467    09,July,2004
Name: date, dtype: object
5468    29,July,2004
5468    09,July,2004
Name: date, dtype: object
5469    28,July,2004
5469    09,July,2004
Name: date, dtype: object
5470    27,July,2004
5470    08,July,2004
Name: date, dtype: object
5471    27,July,2004
5471    07,July,2004
Name: date, dtype: object
5472    05,August,2004
5472      03,July,2004
Name: date, dtype: object
5473    04,August,2004
5473      03,July,2004
Name: date, dtype: object
5474    14,August,2004
5474      01,July,2004
Name: date, dtype: object
5475    13,August,2004
5475      01,July,2004
Name: date, dtype: object
5476    11,August,2004
5476      01,July,2004
Name: date, dtype: object
5477    09,August,2004
5477      01,July,2004
Name: date, dtype: object
5478    19,February,2004
5478      09,August,2004
Name: date, dtype: object
5479       24,May,2004
5479    08,August,2004
Name: date, dtype: object
5480       14,May,2004
5480    08,August,2004
Name: date, dtype: object
5481       13,May,2004
5481    07,August,2004
Name: date, dtype: object
5482      28,June,2004
5482    07,August,2004
Name: date, dtype: object
5483    04,August,2004
5483    07,August,2004
Name: date, dtype: object
5484    03,August,2004
5484    05,August,2004
Name: date, dtype: object
5485       12,May,2004
5485    04,August,2004
Name: date, dtype: object
5486       10,May,2004
5486    02,August,2004
Name: date, dtype: object

5487       10,May,2004
5487    02,August,2004
Name: date, dtype: object
5488       10,May,2004
5488    02,August,2004
Name: date, dtype: object
5489      29,June,2004
5489    01,August,2004
Name: date, dtype: object
5490      28,June,2004
5490    01,August,2004
Name: date, dtype: object
5491      25,June,2004
5491    01,August,2004
Name: date, dtype: object
5492      24,June,2004
5492    01,August,2004
Name: date, dtype: object
5493      23,June,2004
5493    01,August,2004
Name: date, dtype: object
5494      23,June,2004
5494    01,August,2004
Name: date, dtype: object
5495      22,June,2004
5495    01,August,2004
Name: date, dtype: object
5496      22,June,2004
5496    01,August,2004
Name: date, dtype: object
5497      22,June,2004
5497    01,August,2004
Name: date, dtype: object
5498      22,June,2004
5498    01,August,2004
Name: date, dtype: object
5499      22,June,2004
5499    01,August,2004
Name: date, dtype: object
5500    22,June,2004
5500    08,July,2004
Name: date, dtype: object
5501    30,July,2004
5501    07,July,2004
Name: date, dtype: object
5502    29,July,2004
5502    06,July,2004
Name: date, dtype: object
5503    28,July,2004
5503    06,July,2004
Name: date, dtype: object
5504    26,July,2004
5504    06,July,2004
Name: date, dtype: object
5505      26,July,2004
5505    06,August,2004
Name: date, dtype: object
5506      06,July,2004
5506    04,August,2004
Name: date, dtype: object
5507      01,July,2004
5507    04,August,2004
Name: date, dtype: object
5508    17,August,2004
5508    04,August,2004
Name: date, dtype: object
5509    02,August,2004
5509    04,August,2004
Name: date, dtype: object
5510     15,May,2004
5510    25,June,2004
Name: date, dtype: object
5511     18,May,2004
5511    25,June,2004
Name: date, dtype: object
5512     16,May,2004
5512    25,June,2004
Name: date, dtype: object
5513     16,May,2004
5513    25,June,2004
Name: date, dtype: object
5514     16,May,2004
5514    25,June,2004
Name: date, dtype: object
5515    16,June,2004
5515    25,June,2004
Name: date, dtype: object
5516    15,June,2004
5516    25,June,2004
Name: date, dtype: object
5517    14,June,2004
5517    25,June,2004
Name: date, dtype: object
5518    10,July,2004
5518    25,June,2004
Name: date, dtype: object
5519    09,July,2004
5519    25,June,2004
Name: date, dtype: object
5520    08,July,2004
5520    25,June,2004
Name: date, dtype: object
5521    08,July,2004
5521    25,June,2004
Name: date, dtype: object
5522    06,July,2004
5522    25,June,2004
Name: date, dtype: object
5523    06,July,2004
5523    25,June,2004
Name: date, dtype: object
5524    06,July,2004
5524    25,June,2004
Name: date, dtype: object
5525    17,July,2004
5525    25,June,2004
Name: date, dtype: object
5526    15,July,2004
5526    25,June,2004
Name: date, dtype: object
5527    23,July,2004
5527    25,June,2004
Name: date, dtype: object
5528    28,July,2004
5528    25,June,2004
Name: date, dtype: object
5529    27,July,2004
5529    25,June,2004
Name: date, dtype: object
5530    27,July,2004
5530    25,June,2004
Name: date, dtype: object
5531    26,July,2004
5531    25,June,2004
Name: date, dtype: object
5532    06,August,2004
5532      25,June,2004
Name: date, dtype: object
5533    08,August,2004
5533      25,June,2004
Name: date, dtype: object
5534    23,June,2004
5534    25,June,2004
Name: date, dtype: object
5535    23,June,2004
5535    25,June,2004
Name: date, dtype: object
5536    23,June,2004
5536    25,June,2004
Name: date, dtype: object
5537    23,June,2004
5537    25,June,2004
Name: date, dtype: object
5538    23,June,2004
5538    25,June,2004
Name: date, dtype: object
5539    23,June,2004
5539    25,June,2004
Name: date, dtype: object
5540    23,June,2004
5540    25,June,2004
Name: date, dtype: object
5541    23,June,2004
5541    25,June,2004
Name: date, dtype: object
5542    23,June,2004
5542    25,June,2004
Name: date, dtype: object
5543    23,June,2004
5543    25,June,2004
Name: date, dtype: object
5544    23,June,2004
5544    25,June,2004
Name: date, dtype: object
5545    23,June,2004
5545    25,June,2004
Name: date, dtype: object
5546    23,June,2004
5546    25,June,2004
Name: date, dtype: object
5547    23,June,2004
5547    25,June,2004
Name: date, dtype: object
5548    23,June,2004
5548    25,June,2004
Name: date, dtype: object
5549    23,June,2004
5549    25,June,2004
Name: date, dtype: object
5550    23,June,2004
5550    25,June,2004
Name: date, dtype: object
5551    23,June,2004
5551    25,June,2004
Name: date, dtype: object
5552    23,June,2004
5552    25,June,2004
Name: date, dtype: object
5553    23,June,2004
5553    25,June,2004
Name: date, dtype: object
5554    27,February,2004
5554        25,June,2004
Name: date, dtype: object
5555    25,February,2004
5555        21,July,2004
Name: date, dtype: object
5556    23,February,2004
5556      04,August,2004
Name: date, dtype: object
5557      31,March,2004
5557    31,October,2003
Name: date, dtype: object
5558      30,March,2004
5558    30,October,2003
Name: date, dtype: object
5559      27,March,2004
5559    27,October,2003
Name: date, dtype: object
5560      07,March,2004
5560    24,October,2003
Name: date, dtype: object
5561      02,March,2004
5561    24,October,2003
Name: date, dtype: object
5562      25,April,2004
5562    23,October,2003
Name: date, dtype: object
5563        17,May,2004
5563    22,October,2003
Name: date, dtype: object
5564        07,May,2004
5564    20,October,2003
Name: date, dtype: object
5565       29,June,2004
5565    19,October,2003
Name: date, dtype: object
5566       28,June,2004
5566    18,October,2003
Name: date, dtype: object
5567       27,June,2004
5567    17,October,2003
Name: date, dtype: object
5568       06,June,2004
5568    16,October,2003
Name: date, dtype: object
5569       06,June,2004
5569    15,October,2003
Name: date, dtype: object
5570       03,June,2004
5570    14,October,2003
Name: date, dtype: object
5571       29,July,2004
5571    14,October,2003
Name: date, dtype: object
5572        27,July,2004
5572    30,November,2003
Name: date, dtype: object
5573        20,July,2004
5573    29,November,2003
Name: date, dtype: object
5574        15,July,2004
5574    25,November,2003
Name: date, dtype: object
5575        14,July,2004
5575    22,November,2003
Name: date, dtype: object
5576        11,July,2004
5576    16,November,2003
Name: date, dtype: object
5577        09,July,2004
5577    14,November,2003
Name: date, dtype: object
5578        09,July,2004
5578    11,November,2003
Name: date, dtype: object
5579        08,July,2004
5579    09,November,2003
Name: date, dtype: object
5580        07,July,2004
5580    08,November,2003
Name: date, dtype: object
5581        07,July,2004
5581    07,November,2003
Name: date, dtype: object
5582        05,July,2004
5582    06,November,2003
Name: date, dtype: object
5583        04,July,2004
5583    06,November,2003
Name: date, dtype: object
5584        03,July,2004
5584    02,November,2003
Name: date, dtype: object
5585        02,July,2004
5585    02,November,2003
Name: date, dtype: object
5586        01,July,2004
5586    31,December,2003
Name: date, dtype: object
5587      11,August,2004
5587    26,December,2003
Name: date, dtype: object
5588      10,August,2004
5588    22,December,2003
Name: date, dtype: object
5589      06,August,2004
5589    18,December,2003
Name: date, dtype: object
5590      03,August,2004
5590    17,December,2003
Name: date, dtype: object
5591        14,June,2004
5591    16,December,2003
Name: date, dtype: object
5592        10,June,2004
5592    16,December,2003
Name: date, dtype: object
5593        22,July,2004
5593    11,December,2003
Name: date, dtype: object
5594        21,July,2004
5594    06,December,2003
Name: date, dtype: object
5595        20,July,2004
5595    05,December,2003
Name: date, dtype: object
5596       20,July,2004
5596    31,January,2004
Name: date, dtype: object
5597       25,July,2004
5597    30,January,2004
Name: date, dtype: object
5598       20,June,2004
5598    30,January,2004
Name: date, dtype: object
5599       18,June,2004
5599    29,January,2004
Name: date, dtype: object
5600       18,June,2004
5600    27,January,2004
Name: date, dtype: object
5601       17,June,2004
5601    26,January,2004
Name: date, dtype: object
5602       17,June,2004
5602    25,January,2004
Name: date, dtype: object
5603       17,June,2004
5603    25,January,2004
Name: date, dtype: object
5604       17,June,2004
5604    23,January,2004
Name: date, dtype: object
5605       17,June,2004
5605    23,January,2004
Name: date, dtype: object
5606       17,June,2004
5606    21,January,2004
Name: date, dtype: object
5607       17,June,2004
5607    20,January,2004
Name: date, dtype: object
5608       17,June,2004
5608    19,January,2004
Name: date, dtype: object
5609       17,June,2004
5609    18,January,2004
Name: date, dtype: object
5610       31,July,2004
5610    16,January,2004
Name: date, dtype: object
5611       28,July,2004
5611    14,January,2004
Name: date, dtype: object
5612       04,July,2004
5612    14,January,2004
Name: date, dtype: object
5613     16,August,2004
5613    13,January,2004
Name: date, dtype: object
5614       17,June,2002
5614    10,January,2004
Name: date, dtype: object
5615     05,August,2002
5615    09,January,2004
Name: date, dtype: object
5616    29,October,2002
5616    04,January,2004
Name: date, dtype: object
5617    24,October,2002
5617    04,January,2004
Name: date, dtype: object
5618    23,October,2002
5618    03,January,2004
Name: date, dtype: object
5619    21,October,2002
5619    02,January,2004
Name: date, dtype: object
5620     17,October,2002
5620    28,February,2004
Name: date, dtype: object
5621     17,October,2002
5621    25,February,2004
Name: date, dtype: object
5622     13,October,2002
5622    24,February,2004
Name: date, dtype: object
5623     12,October,2002
5623    23,February,2004
Name: date, dtype: object
5624     10,October,2002
5624    22,February,2004
Name: date, dtype: object
5625     09,October,2002
5625    20,February,2004
Name: date, dtype: object
5626     08,October,2002
5626    19,February,2004

Name: date, dtype: object
5627     07,October,2002
5627    16,February,2004
Name: date, dtype: object
5628    29,November,2002
5628    16,February,2004
Name: date, dtype: object
5629    24,November,2002
5629    15,February,2004
Name: date, dtype: object
5630    24,November,2002
5630    15,February,2004
Name: date, dtype: object
5631    23,November,2002
5631    15,February,2004
Name: date, dtype: object
5632    22,November,2002
5632    15,February,2004
Name: date, dtype: object
5633    18,November,2002
5633    14,February,2004
Name: date, dtype: object
5634    18,November,2002
5634    13,February,2004
Name: date, dtype: object
5635    10,November,2002
5635    12,February,2004
Name: date, dtype: object
5636    09,November,2002
5636    09,February,2004
Name: date, dtype: object
5637    05,November,2002
5637    08,February,2004
Name: date, dtype: object
5638    04,November,2002
5638    07,February,2004
Name: date, dtype: object
5639    04,November,2002
5639    05,February,2004
Name: date, dtype: object
5640    26,December,2002
5640    04,February,2004
Name: date, dtype: object
5641    22,December,2002
5641    03,February,2004
Name: date, dtype: object
5642    19,December,2002
5642    02,February,2004
Name: date, dtype: object
5643    17,December,2002
5643    01,February,2004
Name: date, dtype: object
5644    11,December,2002
5644    01,February,2004
Name: date, dtype: object
5645    11,December,2002
5645    01,February,2004
Name: date, dtype: object
5646    09,December,2002
5646       31,March,2004
Name: date, dtype: object
5647    02,December,2002
5647       30,March,2004
Name: date, dtype: object
5648    02,December,2002
5648       30,March,2004
Name: date, dtype: object
5649    31,January,2003
5649      28,March,2004
Name: date, dtype: object
5650    26,January,2003
5650      24,March,2004
Name: date, dtype: object
5651    25,January,2003
5651      23,March,2004
Name: date, dtype: object
5652    23,January,2003
5652      22,March,2004
Name: date, dtype: object
5653    19,January,2003
5653      20,March,2004
Name: date, dtype: object
5654    18,January,2003
5654      19,March,2004
Name: date, dtype: object
5655    14,January,2003
5655      18,March,2004
Name: date, dtype: object
5656    13,January,2003
5656      17,March,2004
Name: date, dtype: object
5657    12,January,2003
5657      15,March,2004
Name: date, dtype: object
5658    11,January,2003
5658      14,March,2004
Name: date, dtype: object
5659    05,January,2003
5659      09,March,2004
Name: date, dtype: object
5660    23,February,2003
5660       08,March,2004
Name: date, dtype: object
5661    21,February,2003
5661       06,March,2004
Name: date, dtype: object
5662    12,February,2003
5662       05,March,2004
Name: date, dtype: object
5663    10,February,2003
5663       04,March,2004
Name: date, dtype: object
5664    08,February,2003
5664       03,March,2004
Name: date, dtype: object
5665    02,February,2003
5665       02,March,2004
Name: date, dtype: object
5666    01,February,2003
5666       01,March,2004
Name: date, dtype: object
5667    31,March,2003
5667    30,April,2004
Name: date, dtype: object
5668    27,March,2003
5668    27,April,2004
Name: date, dtype: object
5669    23,March,2003
5669    24,April,2004
Name: date, dtype: object
5670    23,March,2003
5670    23,April,2004
Name: date, dtype: object
5671    21,March,2003
5671    22,April,2004
Name: date, dtype: object
5672    17,March,2003
5672    22,April,2004
Name: date, dtype: object
5673    15,March,2003
5673    21,April,2004
Name: date, dtype: object
5674    13,March,2003
5674    20,April,2004
Name: date, dtype: object
5675    09,March,2003
5675    17,April,2004
Name: date, dtype: object
5676    09,March,2003
5676    17,April,2004
Name: date, dtype: object
5677    05,March,2003
5677    16,April,2004
Name: date, dtype: object
5678    05,March,2003
5678    13,April,2004
Name: date, dtype: object
5679    02,March,2003
5679    11,April,2004
Name: date, dtype: object
5680    02,March,2003
5680    10,April,2004
Name: date, dtype: object
5681    01,March,2003
5681    08,April,2004
Name: date, dtype: object
5682    30,April,2003
5682    07,April,2004
Name: date, dtype: object
5683    27,April,2003
5683    06,April,2004
Name: date, dtype: object
5684    20,April,2003
5684    03,April,2004
Name: date, dtype: object
5685    16,April,2003
5685      30,May,2004
Name: date, dtype: object
5686    10,April,2003
5686      27,May,2004
Name: date, dtype: object
5687    07,April,2003
5687      26,May,2004
Name: date, dtype: object
5688    07,April,2003
5688      24,May,2004
Name: date, dtype: object
5689    06,April,2003
5689      23,May,2004
Name: date, dtype: object
5690    03,April,2003
5690      22,May,2004
Name: date, dtype: object
5691    02,April,2003
5691      21,May,2004
Name: date, dtype: object
5692    01,April,2003
5692      20,May,2004
Name: date, dtype: object
5693    27,May,2003
5693    19,May,2004
Name: date, dtype: object
5694    16,May,2003
5694    16,May,2004
Name: date, dtype: object
5695    16,May,2003
5695    16,May,2004
Name: date, dtype: object
5696    12,May,2003
5696    16,May,2004
Name: date, dtype: object
5697    04,May,2003
5697    14,May,2004
Name: date, dtype: object
5698    27,June,2003
5698     11,May,2004
Name: date, dtype: object
5699    26,June,2003
5699     11,May,2004
Name: date, dtype: object
5700    22,June,2003
5700     10,May,2004
Name: date, dtype: object
5701    20,June,2003
5701     08,May,2004
Name: date, dtype: object
5702    17,June,2003
5702     08,May,2004
Name: date, dtype: object
5703    16,June,2003
5703     06,May,2004
Name: date, dtype: object
5704    13,June,2003
5704     05,May,2004
Name: date, dtype: object
5705    01,June,2003
5705     03,May,2004
Name: date, dtype: object
5706    28,July,2003
5706     01,May,2004
Name: date, dtype: object
5707    25,July,2003
5707    30,June,2004
Name: date, dtype: object
5708    25,July,2003
5708    29,June,2004
Name: date, dtype: object
5709    20,July,2003
5709    27,June,2004
Name: date, dtype: object
5710    13,July,2003
5710    25,June,2004
Name: date, dtype: object
5711    09,July,2003
5711    23,June,2004
Name: date, dtype: object
5712    07,July,2003
5712    22,June,2004
Name: date, dtype: object
5713    06,July,2003
5713    18,June,2004
Name: date, dtype: object
5714    01,July,2003
5714    17,June,2004
Name: date, dtype: object
5715    24,August,2003
5715      14,June,2004
Name: date, dtype: object
5716    21,August,2003
5716      13,June,2004
Name: date, dtype: object
5717    18,August,2003
5717      13,June,2004
Name: date, dtype: object
5718    18,August,2003
5718      12,June,2004
Name: date, dtype: object
5719    14,August,2003
5719      11,June,2004
Name: date, dtype: object
5720    12,August,2003
5720      10,June,2004
Name: date, dtype: object
5721    05,August,2003
5721      10,June,2004
Name: date, dtype: object
5722    01,August,2003
5722      09,June,2004
Name: date, dtype: object
5723    29,September,2003
5723         08,June,2004
Name: date, dtype: object
5724    21,September,2003
5724         03,June,2004
Name: date, dtype: object
5725    18,September,2003
5725         01,June,2004
Name: date, dtype: object
5726    15,September,2003
5726         22,July,2004
Name: date, dtype: object
5727    08,September,2003
5727         21,July,2004
Name: date, dtype: object
5728    07,September,2003
5728         20,July,2004
Name: date, dtype: object
5729    02,September,2003
5729         19,July,2004
Name: date, dtype: object
5730    30,October,2003
5730       18,July,2004
Name: date, dtype: object
5731    28,October,2003
5731       12,July,2004
Name: date, dtype: object
5732    27,October,2003
5732       09,July,2004
Name: date, dtype: object
5733    05,October,2003
5733       05,July,2004
Name: date, dtype: object
5734    04,October,2003
5734       02,July,2004
Name: date, dtype: object
5735    23,November,2003
5735      03,August,2004
Name: date, dtype: object
5736    16,November,2003
5736      01,August,2004
Name: date, dtype: object
5737    09,November,2003
5737         31,May,2004
Name: date, dtype: object
5738    08,November,2003
5738         24,May,2004
Name: date, dtype: object
5739    05,November,2003
5739         21,May,2004
Name: date, dtype: object
5740    03,November,2003
5740         19,May,2004
Name: date, dtype: object
5741    31,December,2003
5741         17,May,2004
Name: date, dtype: object
5742    28,December,2003
5742         15,May,2004
Name: date, dtype: object
5743    26,December,2003
5743         14,May,2004
Name: date, dtype: object
5744    26,December,2003
5744        17,June,2004
Name: date, dtype: object
5745    24,December,2003
5745        08,June,2004
Name: date, dtype: object
5746    22,December,2003
5746        05,June,2004
Name: date, dtype: object
5747    20,December,2003
5747        28,July,2004
Name: date, dtype: object
5748    18,December,2003
5748        21,July,2004
Name: date, dtype: object
5749    17,December,2003
5749     31,January,2004
Name: date, dtype: object
5750    06,December,2003
5750    27,February,2004
Name: date, dtype: object
5751    01,December,2003
5751    26,February,2004
Name: date, dtype: object
5752     28,January,2004
5752    24,February,2004
Name: date, dtype: object
5753     27,January,2004
5753    23,February,2004
Name: date, dtype: object
5754     26,January,2004
5754    22,February,2004
Name: date, dtype: object
5755     24,January,2004
5755    21,February,2004
Name: date, dtype: object
5756     22,January,2004
5756    20,February,2004
Name: date, dtype: object
5757     18,January,2004
5757    19,February,2004
Name: date, dtype: object
5758     17,January,2004
5758    18,February,2004
Name: date, dtype: object
5759     14,January,2004
5759    17,February,2004
Name: date, dtype: object
5760     13,January,2004
5760    16,February,2004
Name: date, dtype: object
5761     08,January,2004
5761    14,February,2004
Name: date, dtype: object
5762     07,January,2004
5762    13,February,2004
Name: date, dtype: object
5763     06,January,2004
5763    10,February,2004
Name: date, dtype: object
5764     03,January,2004
5764    02,February,2004
Name: date, dtype: object
5765     01,January,2004
5765    02,February,2004
Name: date, dtype: object
5766    29,February,2004
5766    01,February,2004
Name: date, dtype: object
5767    24,February,2004
5767       31,March,2004
Name: date, dtype: object
5768    24,February,2004
5768       30,March,2004
Name: date, dtype: object
5769    17,February,2004
5769       29,March,2004
Name: date, dtype: object
5770    12,February,2004
5770       28,March,2004
Name: date, dtype: object
5771    11,February,2004
5771       27,March,2004
Name: date, dtype: object
5772    05,February,2004
5772       25,March,2004
Name: date, dtype: object
5773    31,March,2004
5773    24,March,2004
Name: date, dtype: object
5774    27,March,2004
5774    23,March,2004
Name: date, dtype: object
5775    15,March,2004
5775    21,March,2004
Name: date, dtype: object
5776    14,March,2004
5776    19,March,2004
Name: date, dtype: object
5777    07,March,2004
5777    19,March,2004
Name: date, dtype: object
5778    04,March,2004
5778    17,March,2004
Name: date, dtype: object
5779    27,April,2004
5779    16,March,2004
Name: date, dtype: object
5780    21,April,2004
5780    15,March,2004
Name: date, dtype: object
5781    12,April,2004
5781    14,March,2004

Name: date, dtype: object
5782    08,April,2004
5782    13,March,2004
Name: date, dtype: object
5783    06,April,2004
5783    11,March,2004
Name: date, dtype: object
5784    02,April,2004
5784    11,March,2004
Name: date, dtype: object
5785    02,April,2004
5785    10,March,2004
Name: date, dtype: object
5786      31,May,2004
5786    09,March,2004
Name: date, dtype: object
5787      28,May,2004
5787    08,March,2004
Name: date, dtype: object
5788      26,May,2004
5788    06,March,2004
Name: date, dtype: object
5789      15,May,2004
5789    04,March,2004
Name: date, dtype: object
5790      14,May,2004
5790    03,March,2004
Name: date, dtype: object
5791      13,May,2004
5791    02,March,2004
Name: date, dtype: object
5792      11,May,2004
5792    01,March,2004
Name: date, dtype: object
5793      08,May,2004
5793    30,April,2004
Name: date, dtype: object
5794      07,May,2004
5794    28,April,2004
Name: date, dtype: object
5795     27,June,2004
5795    27,April,2004
Name: date, dtype: object
5796     23,June,2004
5796    26,April,2004
Name: date, dtype: object
5797     21,June,2004
5797    25,April,2004
Name: date, dtype: object
5798     10,June,2004
5798    20,April,2004
Name: date, dtype: object
5799     02,June,2004
5799    19,April,2004
Name: date, dtype: object
5800     01,June,2004
5800    17,April,2004
Name: date, dtype: object
5801     01,June,2004
5801    16,April,2004
Name: date, dtype: object
5802     31,July,2004
5802    14,April,2004
Name: date, dtype: object
5803     28,July,2004
5803    13,April,2004
Name: date, dtype: object
5804     18,July,2004
5804    12,April,2004
Name: date, dtype: object
5805     15,July,2004
5805    11,April,2004
Name: date, dtype: object
5806     09,July,2004
5806    09,April,2004
Name: date, dtype: object
5807     01,July,2004
5807    07,April,2004
Name: date, dtype: object
5808    08,August,2004
5808     06,April,2004
Name: date, dtype: object
5809      21,May,2004
5809    04,April,2004
Name: date, dtype: object
5810      20,May,2004
5810    04,April,2004
Name: date, dtype: object
5811     20,June,2004
5811    01,April,2004
Name: date, dtype: object
5812    14,June,2004
5812     31,May,2004
Name: date, dtype: object
5813    05,June,2004
5813     30,May,2004
Name: date, dtype: object
5814    15,July,2004
5814     29,May,2004
Name: date, dtype: object
5815    07,July,2004
5815     27,May,2004
Name: date, dtype: object
5816    03,July,2004
5816     26,May,2004
Name: date, dtype: object
5817    07,August,2004
5817       25,May,2004
Name: date, dtype: object
5818    31,May,2004
5818    24,May,2004
Name: date, dtype: object
5819    30,May,2004
5819    23,May,2004
Name: date, dtype: object
5820    28,May,2004
5820    23,May,2004
Name: date, dtype: object
5821    25,May,2004
5821    22,May,2004
Name: date, dtype: object
5822    24,May,2004
5822    21,May,2004
Name: date, dtype: object
5823    24,May,2004
5823    19,May,2004
Name: date, dtype: object
5824    24,May,2004
5824    19,May,2004
Name: date, dtype: object
5825    22,May,2004
5825    18,May,2004
Name: date, dtype: object
5826    22,May,2004
5826    17,May,2004
Name: date, dtype: object
5827    22,May,2004
5827    16,May,2004
Name: date, dtype: object
5828    22,May,2004
5828    12,May,2004
Name: date, dtype: object
5829    22,May,2004
5829    10,May,2004
Name: date, dtype: object
5830    22,May,2004
5830    09,May,2004
Name: date, dtype: object
5831    22,May,2004
5831    08,May,2004
Name: date, dtype: object
5832    22,May,2004
5832    07,May,2004
Name: date, dtype: object
5833    22,May,2004
5833    05,May,2004
Name: date, dtype: object
5834    22,May,2004
5834    05,May,2004
Name: date, dtype: object
5835    22,May,2004
5835    04,May,2004
Name: date, dtype: object
5836    22,May,2004
5836    02,May,2004
Name: date, dtype: object
5837    15,June,2004
5837    30,June,2004
Name: date, dtype: object
5838    13,June,2004
5838    29,June,2004
Name: date, dtype: object
5839    13,June,2004
5839    28,June,2004
Name: date, dtype: object
5840    08,June,2004
5840    27,June,2004
Name: date, dtype: object
5841    07,June,2004
5841    26,June,2004
Name: date, dtype: object
5842    04,June,2004
5842    25,June,2004
Name: date, dtype: object
5843    02,June,2004
5843    24,June,2004
Name: date, dtype: object
5844    02,June,2004
5844    23,June,2004
Name: date, dtype: object
5845    08,August,2004
5845      22,June,2004
Name: date, dtype: object
5846    31,July,2004
5846    21,June,2004
Name: date, dtype: object
5847    19,August,2004
5847      20,June,2004
Name: date, dtype: object
5848    17,August,2004
5848      19,June,2004
Name: date, dtype: object
5849    17,August,2004
5849      17,June,2004
Name: date, dtype: object
5850    13,August,2004
5850      16,June,2004
Name: date, dtype: object
5851    10,August,2004
5851      15,June,2004
Name: date, dtype: object
5852    08,August,2004
5852      14,June,2004
Name: date, dtype: object
5853    07,August,2004
5853      12,June,2004
Name: date, dtype: object
5854    07,August,2004
5854      11,June,2004
Name: date, dtype: object
5855    04,August,2004
5855      09,June,2004
Name: date, dtype: object
5856    03,August,2004
5856      07,June,2004
Name: date, dtype: object
5857    02,August,2004
5857      07,June,2004
Name: date, dtype: object
5858    02,August,2004
5858      06,June,2004
Name: date, dtype: object
5859    02,August,2004
5859      06,June,2004
Name: date, dtype: object
5860    02,August,2004
5860      04,June,2004
Name: date, dtype: object
5861    01,August,2004
5861      04,June,2004
Name: date, dtype: object
5862    26,July,2004
5862    03,June,2004
Name: date, dtype: object
5863    25,July,2004
5863    02,June,2004
Name: date, dtype: object
5864    25,July,2004
5864    01,June,2004
Name: date, dtype: object
5865    25,July,2004
5865    01,June,2004
Name: date, dtype: object
5866    25,July,2004
5866    31,July,2004
Name: date, dtype: object
5867    01,August,2004
5867      27,July,2004
Name: date, dtype: object
5868    01,August,2004
5868      26,July,2004
Name: date, dtype: object
5869    01,August,2004
5869      21,July,2004
Name: date, dtype: object
5870    01,August,2004
5870      21,July,2004
Name: date, dtype: object
5871    01,August,2004
5871      21,July,2004
Name: date, dtype: object
5872    01,August,2004
5872      19,July,2004
Name: date, dtype: object
5873    01,August,2004
5873      17,July,2004
Name: date, dtype: object
5874    01,August,2004
5874      14,July,2004
Name: date, dtype: object
5875    01,August,2004
5875      12,July,2004
Name: date, dtype: object
5876    01,August,2004
5876      11,July,2004
Name: date, dtype: object
5877    01,August,2004
5877      01,July,2004
Name: date, dtype: object
5878    01,August,2004
5878      01,July,2004
Name: date, dtype: object
5879    01,August,2004
5879    11,August,2004
Name: date, dtype: object
5880    01,August,2004
5880    08,August,2004
Name: date, dtype: object
5881    01,August,2004
5881    04,August,2004
Name: date, dtype: object
5882    01,August,2004
5882    03,August,2004
Name: date, dtype: object
5883    01,August,2004
5883       23,May,2004
Name: date, dtype: object
5884    01,August,2004
5884       23,May,2004
Name: date, dtype: object
5885    01,August,2004
5885      30,June,2004
Name: date, dtype: object
5886    01,August,2004
5886      30,June,2004
Name: date, dtype: object
5887    01,August,2004
5887      02,July,2004
Name: date, dtype: object
5888    01,August,2004
5888      02,July,2004
Name: date, dtype: object
5889    01,August,2004
5889      02,July,2004
Name: date, dtype: object
5890    01,August,2004
5890      02,July,2004
Name: date, dtype: object
5891    01,August,2004
5891      02,July,2004
Name: date, dtype: object
5892    01,August,2004
5892      02,July,2004
Name: date, dtype: object
5893    01,August,2004
5893      02,July,2004
Name: date, dtype: object
5894    01,August,2004
5894      02,July,2004
Name: date, dtype: object
5895    01,August,2004
5895      02,July,2004
Name: date, dtype: object
5896    01,August,2004
5896      02,July,2004
Name: date, dtype: object
5897    01,August,2004
5897      02,July,2004
Name: date, dtype: object
5898    01,August,2004
5898      02,July,2004
Name: date, dtype: object
5899    01,August,2004
5899      02,July,2004
Name: date, dtype: object
5900    01,August,2004
5900      02,July,2004
Name: date, dtype: object
5901    01,August,2004
5901      02,July,2004
Name: date, dtype: object
5902    01,August,2004
5902      02,July,2004
Name: date, dtype: object
5903    07,July,2004
5903    02,July,2004
Name: date, dtype: object
5904    07,July,2004
5904    02,July,2004
Name: date, dtype: object
5905    07,July,2004
5905    02,July,2004
Name: date, dtype: object
5906    07,July,2004
5906    02,July,2004
Name: date, dtype: object
5907    07,July,2004
5907    02,July,2004
Name: date, dtype: object
5908    07,July,2004
5908    02,July,2004
Name: date, dtype: object
5909    07,July,2004
5909    02,July,2004
Name: date, dtype: object
5910    07,July,2004
5910    02,July,2004
Name: date, dtype: object
5911    07,July,2004
5911    02,July,2004
Name: date, dtype: object
5912    07,July,2004
5912    02,July,2004
Name: date, dtype: object
5913    07,July,2004
5913    02,July,2004
Name: date, dtype: object
5914    07,July,2004
5914    02,July,2004
Name: date, dtype: object
5915    07,July,2004
5915    02,July,2004
Name: date, dtype: object
5916     28,May,2004
5916    02,July,2004
Name: date, dtype: object
5917     24,May,2004
5917    02,July,2004
Name: date, dtype: object
5918     20,May,2004
5918    02,July,2004
Name: date, dtype: object
5919     19,May,2004
5919    02,July,2004
Name: date, dtype: object
5920     18,May,2004
5920    02,July,2004
Name: date, dtype: object
5921     17,May,2004
5921    02,July,2004
Name: date, dtype: object
5922     17,May,2004
5922    02,July,2004
Name: date, dtype: object
5923     17,May,2004
5923    02,July,2004
Name: date, dtype: object
5924    28,June,2004
5924    02,July,2004
Name: date, dtype: object
5925    24,June,2004
5925    02,July,2004
Name: date, dtype: object
5926    22,June,2004
5926    02,July,2004
Name: date, dtype: object
5927    20,June,2004
5927    02,July,2004
Name: date, dtype: object
5928    18,June,2004
5928    02,July,2004
Name: date, dtype: object
5929    16,June,2004
5929    02,July,2004
Name: date, dtype: object
5930    14,June,2004
5930    02,July,2004
Name: date, dtype: object
5931    12,June,2004
5931    02,July,2004
Name: date, dtype: object
5932    11,June,2004
5932    02,July,2004
Name: date, dtype: object
5933    10,June,2004
5933    02,July,2004
Name: date, dtype: object
5934    09,June,2004
5934    02,July,2004
Name: date, dtype: object
5935    09,June,2004
5935    02,July,2004
Name: date, dtype: object
5936    04,June,2004
5936    02,July,2004
Name: date, dtype: object
5937    04,June,2004
5937    02,July,2004
Name: date, dtype: object
5938    03,June,2004
5938    02,July,2004
Name: date, dtype: object
5939    27,July,2004
5939    02,July,2004
Name: date, dtype: object
5940    24,July,2004
5940    02,July,2004

Name: date, dtype: object
5941    19,July,2004
5941    02,July,2004
Name: date, dtype: object
5942    14,July,2004
5942    02,July,2004
Name: date, dtype: object
5943      10,July,2004
5943    19,August,2004
Name: date, dtype: object
5944      08,July,2004
5944    18,August,2004
Name: date, dtype: object
5945      04,July,2004
5945    18,August,2004
Name: date, dtype: object
5946    08,August,2004
5946    18,August,2004
Name: date, dtype: object
5947      30,July,2004
5947    13,August,2004
Name: date, dtype: object
5948      29,July,2004
5948    12,August,2004
Name: date, dtype: object
5949      29,July,2004
5949    12,August,2004
Name: date, dtype: object
5950      29,July,2004
5950    08,August,2004
Name: date, dtype: object
5951      29,July,2004
5951    06,August,2004
Name: date, dtype: object
5952      29,July,2004
5952    06,August,2004
Name: date, dtype: object
5953    06,August,2004
5953    06,August,2004
Name: date, dtype: object
5954    03,August,2004
5954       29,May,2004
Name: date, dtype: object
5955    30,September,2002
5955          29,May,2004
Name: date, dtype: object
5956    27,October,2002
5956       30,June,2004
Name: date, dtype: object
5957    19,October,2002
5957       16,June,2004
Name: date, dtype: object
5958    07,October,2002
5958       07,June,2004
Name: date, dtype: object
5959    02,October,2002
5959       01,June,2004
Name: date, dtype: object
5960    01,October,2002
5960       22,July,2004
Name: date, dtype: object
5961    18,November,2002
5961      05,August,2004
Name: date, dtype: object
5962    13,November,2002
5962        31,July,2004
Name: date, dtype: object
5963    10,November,2002
5963        30,July,2004
Name: date, dtype: object
5964    08,November,2002
5964        29,July,2004
Name: date, dtype: object
5965    08,November,2002
5965        28,July,2004
Name: date, dtype: object
5966    30,September,2003
5966         27,July,2004
Name: date, dtype: object
5967    29,September,2003
5967         27,July,2004
Name: date, dtype: object
5968    29,September,2003
5968         27,July,2004
Name: date, dtype: object
5969    28,September,2003
5969         25,July,2004
Name: date, dtype: object
5970    28,September,2003
5970         24,July,2004
Name: date, dtype: object
5971    27,September,2003
5971         24,July,2004
Name: date, dtype: object
5972    26,September,2003
5972         24,July,2004
Name: date, dtype: object
5973    26,September,2003
5973         24,July,2004
Name: date, dtype: object
5974    24,September,2003
5974         24,July,2004
Name: date, dtype: object
5975    24,September,2003
5975         23,July,2004
Name: date, dtype: object
5976    23,September,2003
5976         23,July,2004
Name: date, dtype: object
5977    23,September,2003
5977         23,July,2004
Name: date, dtype: object
5978    26,October,2003
5978       22,July,2004
Name: date, dtype: object
5979    22,October,2003
5979       22,July,2004
Name: date, dtype: object
5980    20,October,2003
5980       22,July,2004
Name: date, dtype: object
5981    19,October,2003
5981       20,July,2004
Name: date, dtype: object
5982    17,October,2003
5982       20,July,2004
Name: date, dtype: object
5983    17,October,2003
5983       19,July,2004
Name: date, dtype: object
5984    17,October,2003
5984       18,July,2004
Name: date, dtype: object
5985    17,October,2003
5985       18,July,2004
Name: date, dtype: object
5986    15,October,2003
5986       18,July,2004
Name: date, dtype: object
5987    14,October,2003
5987       18,July,2004
Name: date, dtype: object
5988    14,October,2003
5988       18,July,2004
Name: date, dtype: object
5989    12,October,2003
5989       18,July,2004
Name: date, dtype: object
5990    09,October,2003
5990       17,July,2004
Name: date, dtype: object
5991    07,October,2003
5991       17,July,2004
Name: date, dtype: object
5992    07,October,2003
5992       17,July,2004
Name: date, dtype: object
5993    06,October,2003
5993       17,July,2004
Name: date, dtype: object
5994    06,October,2003
5994       17,July,2004
Name: date, dtype: object
5995    04,October,2003
5995       17,July,2004
Name: date, dtype: object
5996    04,October,2003
5996       17,July,2004
Name: date, dtype: object
5997    04,October,2003
5997       17,July,2004
Name: date, dtype: object
5998    29,November,2003
5998        16,July,2004
Name: date, dtype: object
5999    27,November,2003
5999        16,July,2004
Name: date, dtype: object
6000    18,November,2003
6000        15,July,2004
Name: date, dtype: object
6001    13,November,2003
6001        15,July,2004
Name: date, dtype: object
6002    02,November,2003
6002        15,July,2004
Name: date, dtype: object
6003    02,November,2003
6003        15,July,2004
Name: date, dtype: object
6004    26,December,2003
6004        14,July,2004
Name: date, dtype: object
6005    14,December,2003
6005        14,July,2004
Name: date, dtype: object
6006    14,December,2003
6006        14,July,2004
Name: date, dtype: object
6007    10,December,2003
6007      15,August,2004
Name: date, dtype: object
6008    10,December,2003
6008      14,August,2004
Name: date, dtype: object
6009    31,January,2004
6009     14,August,2004
Name: date, dtype: object
6010    29,January,2004
6010     13,August,2004
Name: date, dtype: object
6011    28,January,2004
6011     13,August,2004
Name: date, dtype: object
6012    27,January,2004
6012     12,August,2004
Name: date, dtype: object
6013    25,January,2004
6013     11,August,2004
Name: date, dtype: object
6014    23,January,2004
6014     11,August,2004
Name: date, dtype: object
6015    22,January,2004
6015     10,August,2004
Name: date, dtype: object
6016    22,January,2004
6016     10,August,2004
Name: date, dtype: object
6017    22,January,2004
6017     10,August,2004
Name: date, dtype: object
6018    22,January,2004
6018     10,August,2004
Name: date, dtype: object
6019    22,January,2004
6019     02,August,2004
Name: date, dtype: object
6020    22,January,2004
6020     02,August,2004
Name: date, dtype: object
6021    22,January,2004
6021     02,August,2004
Name: date, dtype: object
6022    22,January,2004
6022        25,May,2004
Name: date, dtype: object
6023    22,January,2004
6023        24,May,2004
Name: date, dtype: object
6024    22,January,2004
6024        17,May,2004
Name: date, dtype: object
6025    22,January,2004
6025        13,May,2004
Name: date, dtype: object
6026    21,January,2004
6026        13,May,2004
Name: date, dtype: object
6027    21,January,2004
6027        11,May,2004
Name: date, dtype: object
6028    18,January,2004
6028       26,June,2004
Name: date, dtype: object
6029    18,January,2004
6029       17,June,2004
Name: date, dtype: object
6030    18,January,2004
6030       14,June,2004
Name: date, dtype: object
6031    18,January,2004
6031       09,June,2004
Name: date, dtype: object
6032    18,January,2004
6032       03,June,2004
Name: date, dtype: object
6033    18,January,2004
6033       31,July,2004
Name: date, dtype: object
6034    18,January,2004
6034       17,July,2004
Name: date, dtype: object
6035    18,January,2004
6035       17,July,2004
Name: date, dtype: object
6036    18,January,2004
6036       31,July,2004
Name: date, dtype: object
6037    18,January,2004
6037       30,July,2004
Name: date, dtype: object
6038    18,January,2004
6038       30,July,2004
Name: date, dtype: object
6039    15,January,2004
6039       18,July,2004
Name: date, dtype: object
6040    14,January,2004
6040     06,August,2004
Name: date, dtype: object
6041    13,January,2004
6041       29,July,2004
Name: date, dtype: object
6042    12,January,2004
6042       18,July,2004
Name: date, dtype: object
6043    09,January,2004
6043       18,July,2004
Name: date, dtype: object
6044    08,January,2004
6044       18,July,2004
Name: date, dtype: object
6045    08,January,2004
6045       18,July,2004
Name: date, dtype: object
6046    25,February,2004
6046        18,July,2004
Name: date, dtype: object
6047    24,February,2004
6047        17,July,2004
Name: date, dtype: object
6048    24,February,2004
6048        17,July,2004
Name: date, dtype: object
6049    22,February,2004
6049        15,July,2004
Name: date, dtype: object
6050    18,February,2004
6050        15,July,2004
Name: date, dtype: object

6051    05,February,2004
6051        15,July,2004
Name: date, dtype: object
6052    04,February,2004
6052        15,July,2004
Name: date, dtype: object
6053     31,March,2004
6053    06,August,2004
Name: date, dtype: object
6054    30,March,2004
6054     30,June,2004
Name: date, dtype: object
6055    29,March,2004
6055     29,June,2004
Name: date, dtype: object
6056    29,March,2004
6056     28,June,2004
Name: date, dtype: object
6057    26,March,2004
6057     27,June,2004
Name: date, dtype: object
6058    23,March,2004
6058     26,June,2004
Name: date, dtype: object
6059    12,March,2004
6059     30,July,2004
Name: date, dtype: object
6060    12,March,2004
6060     28,July,2004
Name: date, dtype: object
6061    12,March,2004
6061     25,July,2004
Name: date, dtype: object
6062    01,March,2004
6062     23,July,2004
Name: date, dtype: object
6063    30,April,2004
6063     13,July,2004
Name: date, dtype: object
6064    28,April,2004
6064     08,July,2004
Name: date, dtype: object
6065    26,April,2004
6065     02,July,2004
Name: date, dtype: object
6066    26,April,2004
6066     01,July,2004
Name: date, dtype: object
6067     25,April,2004
6067    17,August,2004
Name: date, dtype: object
6068     23,April,2004
6068    02,August,2004
Name: date, dtype: object
6069    19,April,2004
6069     09,July,2004
Name: date, dtype: object
6070    19,April,2004
6070     06,July,2004
Name: date, dtype: object
6071    14,April,2004
6071     29,July,2004
Name: date, dtype: object
6072    14,April,2004
6072     28,July,2004
Name: date, dtype: object
6073    12,April,2004
6073     27,July,2004
Name: date, dtype: object
6074    12,April,2004
6074     26,July,2004
Name: date, dtype: object
6075    12,April,2004
6075     25,July,2004
Name: date, dtype: object
6076    09,April,2004
6076     24,July,2004
Name: date, dtype: object
6077    07,April,2004
6077     23,July,2004
Name: date, dtype: object
6078    04,April,2004
6078     22,July,2004
Name: date, dtype: object
6079     24,May,2004
6079    21,July,2004
Name: date, dtype: object
6080     21,May,2004
6080    20,July,2004
Name: date, dtype: object
6081     20,May,2004
6081    19,July,2004
Name: date, dtype: object
6082     16,May,2004
6082    19,July,2004
Name: date, dtype: object
6083       14,May,2004
6083    16,August,2004
Name: date, dtype: object
6084      29,July,2004
6084    06,August,2004
Name: date, dtype: object
6085    01,August,2004
6085    02,August,2004
Name: date, dtype: object
6086    19,August,2004
6086      23,June,2004
Name: date, dtype: object
6087    18,August,2004
6087      22,June,2004
Name: date, dtype: object
6088    17,August,2004
6088      13,June,2004
Name: date, dtype: object
6089    16,August,2004
6089      11,June,2004
Name: date, dtype: object
6090    16,August,2004
6090      11,June,2004
Name: date, dtype: object
6091    14,August,2004
6091      11,June,2004
Name: date, dtype: object
6092    13,August,2004
6092      10,June,2004
Name: date, dtype: object
6093    11,August,2004
6093      10,June,2004
Name: date, dtype: object
6094    11,August,2004
6094      10,June,2004
Name: date, dtype: object
6095    10,August,2004
6095      10,June,2004
Name: date, dtype: object
6096    09,August,2004
6096      10,June,2004
Name: date, dtype: object
6097    09,August,2004
6097      09,June,2004
Name: date, dtype: object
6098    09,August,2004
6098      09,June,2004
Name: date, dtype: object
6099    16,June,2004
6099    09,June,2004
Name: date, dtype: object
6100    09,June,2004
6100    08,June,2004
Name: date, dtype: object
6101    04,June,2004
6101    04,June,2004
Name: date, dtype: object
6102    03,June,2004
6102    04,June,2004
Name: date, dtype: object
6103    23,September,2003
6103          23,May,2004
Name: date, dtype: object
6104    30,November,2003
6104         21,May,2004
Name: date, dtype: object
6105    28,November,2003
6105        25,June,2004
Name: date, dtype: object
6106    26,November,2003
6106        01,June,2004
Name: date, dtype: object
6107    12,November,2003
6107        21,June,2004
Name: date, dtype: object
6108    31,December,2003
6108        21,June,2004
Name: date, dtype: object
6109    26,December,2003
6109        21,June,2004
Name: date, dtype: object
6110    26,December,2003
6110        21,June,2004
Name: date, dtype: object
6111    19,December,2003
6111        21,June,2004
Name: date, dtype: object
6112    16,December,2003
6112        21,June,2004
Name: date, dtype: object
6113    14,December,2003
6113        21,June,2004
Name: date, dtype: object
6114    13,December,2003
6114        21,June,2004
Name: date, dtype: object
6115    11,December,2003
6115        21,June,2004
Name: date, dtype: object
6116    10,December,2003
6116        21,June,2004
Name: date, dtype: object
6117    03,December,2003
6117        21,June,2004
Name: date, dtype: object
6118    03,December,2003
6118        21,June,2004
Name: date, dtype: object
6119    30,January,2004
6119       21,June,2004
Name: date, dtype: object
6120    28,January,2004
6120       21,June,2004
Name: date, dtype: object
6121    27,January,2004
6121       21,June,2004
Name: date, dtype: object
6122    26,January,2004
6122       21,June,2004
Name: date, dtype: object
6123    24,January,2004
6123       21,June,2004
Name: date, dtype: object
6124    24,January,2004
6124       21,June,2004
Name: date, dtype: object
6125    24,January,2004
6125       21,June,2004
Name: date, dtype: object
6126    24,January,2004
6126       21,June,2004
Name: date, dtype: object
6127    15,January,2004
6127       21,June,2004
Name: date, dtype: object
6128    12,January,2004
6128       21,June,2004
Name: date, dtype: object
6129    09,January,2004
6129       21,June,2004
Name: date, dtype: object
6130    07,January,2004
6130       21,June,2004
Name: date, dtype: object
6131    19,February,2004
6131        21,June,2004
Name: date, dtype: object
6132    26,March,2004
6132     21,June,2004
Name: date, dtype: object
6133    22,March,2004
6133     21,June,2004
Name: date, dtype: object
6134    16,March,2004
6134     21,June,2004
Name: date, dtype: object
6135    13,March,2004
6135     21,June,2004
Name: date, dtype: object
6136    09,March,2004
6136     21,June,2004
Name: date, dtype: object
6137    03,March,2004
6137     21,June,2004
Name: date, dtype: object
6138    30,April,2004
6138     21,June,2004
Name: date, dtype: object
6139    24,April,2004
6139     21,June,2004
Name: date, dtype: object
6140    24,April,2004
6140     21,June,2004
Name: date, dtype: object
6141    21,April,2004
6141     21,June,2004
Name: date, dtype: object
6142    16,April,2004
6142     21,June,2004
Name: date, dtype: object
6143    16,April,2004
6143     21,June,2004
Name: date, dtype: object
6144    14,April,2004
6144     21,June,2004
Name: date, dtype: object
6145    12,April,2004
6145     21,June,2004
Name: date, dtype: object
6146    12,April,2004
6146      14,May,2004
Name: date, dtype: object
6147    11,April,2004
6147      13,May,2004
Name: date, dtype: object
6148    09,April,2004
6148      12,May,2004
Name: date, dtype: object
6149    08,April,2004
6149      12,May,2004
Name: date, dtype: object
6150    07,April,2004
6150      12,May,2004
Name: date, dtype: object
6151    05,April,2004
6151      12,May,2004
Name: date, dtype: object
6152    03,April,2004
6152      12,May,2004
Name: date, dtype: object
6153    03,April,2004
6153      12,May,2004
Name: date, dtype: object
6154    28,May,2004
6154    20,May,2004
Name: date, dtype: object
6155    26,May,2004
6155    19,May,2004
Name: date, dtype: object
6156    25,May,2004
6156    18,May,2004
Name: date, dtype: object
6157    24,May,2004
6157    17,May,2004
Name: date, dtype: object
6158    22,May,2004
6158    17,May,2004
Name: date, dtype: object
6159    22,May,2004
6159    16,May,2004
Name: date, dtype: object
6160    22,May,2004
6160    27,May,2004
Name: date, dtype: object
6161    22,May,2004
6161    25,May,2004
Name: date, dtype: object
6162    22,May,2004
6162    24,May,2004
Name: date, dtype: object
6163     18,May,2004
6163    04,June,2004
Name: date, dtype: object
6164     17,May,2004
6164    03,June,2004
Name: date, dtype: object
6165     15,May,2004
6165    02,June,2004
Name: date, dtype: object
6166     12,May,2004
6166    01,June,2004
Name: date, dtype: object
6167     12,May,2004
6167    01,June,2004
Name: date, dtype: object
6168     11,May,2004
6168    01,June,2004
Name: date, dtype: object
6169     10,May,2004
6169    11,June,2004
Name: date, dtype: object
6170     10,May,2004
6170    09,June,2004
Name: date, dtype: object
6171     09,May,2004
6171    08,June,2004
Name: date, dtype: object
6172     04,May,2004
6172    06,June,2004
Name: date, dtype: object
6173     02,May,2004
6173    06,June,2004
Name: date, dtype: object
6174    29,June,2004
6174    17,June,2004
Name: date, dtype: object
6175    21,June,2004
6175    16,June,2004
Name: date, dtype: object
6176    18,June,2004
6176    16,June,2004
Name: date, dtype: object
6177    17,June,2004
6177    15,June,2004
Name: date, dtype: object
6178    17,June,2004
6178    14,June,2004
Name: date, dtype: object
6179    17,June,2004
6179    13,June,2004
Name: date, dtype: object
6180    16,June,2004
6180    25,June,2004
Name: date, dtype: object
6181    14,June,2004
6181    24,June,2004
Name: date, dtype: object
6182    11,June,2004
6182    21,June,2004
Name: date, dtype: object
6183    10,June,2004
6183    03,July,2004
Name: date, dtype: object
6184    10,June,2004
6184    30,June,2004
Name: date, dtype: object
6185    08,June,2004
6185    30,June,2004
Name: date, dtype: object
6186    08,June,2004
6186    30,June,2004
Name: date, dtype: object
6187    05,June,2004
6187    28,June,2004
Name: date, dtype: object
6188    05,June,2004
6188    27,June,2004
Name: date, dtype: object

6189    02,June,2004
6189    09,July,2004
Name: date, dtype: object
6190    01,June,2004
6190    08,July,2004
Name: date, dtype: object
6191    31,July,2004
6191    07,July,2004
Name: date, dtype: object
6192    28,July,2004
6192    06,July,2004
Name: date, dtype: object
6193    20,July,2004
6193    05,July,2004
Name: date, dtype: object
6194    20,July,2004
6194    05,July,2004
Name: date, dtype: object
6195    09,July,2004
6195    17,July,2004
Name: date, dtype: object
6196    08,July,2004
6196    15,July,2004
Name: date, dtype: object
6197    06,July,2004
6197    15,July,2004
Name: date, dtype: object
6198    02,July,2004
6198    14,July,2004
Name: date, dtype: object
6199    02,July,2004
6199    22,July,2004
Name: date, dtype: object
6200    02,July,2004
6200    21,July,2004
Name: date, dtype: object
6201    09,August,2004
6201      20,July,2004
Name: date, dtype: object
6202    07,August,2004
6202      20,July,2004
Name: date, dtype: object
6203    06,August,2004
6203      30,July,2004
Name: date, dtype: object
6204    04,August,2004
6204      28,July,2004
Name: date, dtype: object
6205    03,August,2004
6205      27,July,2004
Name: date, dtype: object
6206      19,June,2004
6206    03,August,2004
Name: date, dtype: object
6207    14,June,2004
6207     17,Mai,2004
Name: date, dtype: object
6208    13,June,2004
6208     17,Mai,2004
Name: date, dtype: object
6209    07,June,2004
6209     17,Mai,2004
Name: date, dtype: object
6210    07,June,2004
6210     17,Mai,2004
Name: date, dtype: object
6211    30,July,2004
6211     17,Mai,2004
Name: date, dtype: object
6212    25,July,2004
6212     17,Mai,2004
Name: date, dtype: object
6213    22,July,2004
6213     17,Mai,2004
Name: date, dtype: object
6214    05,August,2004
6214       17,Mai,2004
Name: date, dtype: object
6215    04,August,2004
6215       17,Mai,2004
Name: date, dtype: object
6216    18,August,1999
6216       17,Mai,2004
Name: date, dtype: object
6217    25,October,1999
6217        17,Mai,2004
Name: date, dtype: object
6218    10,December,1999
6218         17,Mai,2004
Name: date, dtype: object
6219    11,March,2000
6219      17,Mai,2004
Name: date, dtype: object
6220    18,April,2000
6220      17,Mai,2004
Name: date, dtype: object
6221    07,May,2000
6221    17,Mai,2004
Name: date, dtype: object
6222    01,July,2000
6222     17,Mai,2004
Name: date, dtype: object
6223    05,April,2001
6223      17,Mai,2004
Name: date, dtype: object
6224    29,June,2001
6224     17,Mai,2004
Name: date, dtype: object
6225    10,November,2001
6225         17,Mai,2004
Name: date, dtype: object
6226    18,April,2002
6226      17,Mai,2004
Name: date, dtype: object
6227    06,August,2002
6227       17,Mai,2004
Name: date, dtype: object
6228    20,September,2002
6228          17,Mai,2004
Name: date, dtype: object
6229    11,September,2002
6229          17,Mai,2004
Name: date, dtype: object
6230    01,October,2002
6230        17,Mai,2004
Name: date, dtype: object
6231    11,November,2002
6231         17,Mai,2004
Name: date, dtype: object
6232    15,December,2002
6232         17,Mai,2004
Name: date, dtype: object
6233    02,December,2002
6233         17,Mai,2004
Name: date, dtype: object
6234    15,May,2003
6234    17,Mai,2004
Name: date, dtype: object
6235    05,August,2003
6235       17,Mai,2004
Name: date, dtype: object
6236    31,October,2003
6236        17,Mai,2004
Name: date, dtype: object
6237    09,January,2004
6237        17,Mai,2004
Name: date, dtype: object
6238    26,April,2004
6238      17,Mai,2004
Name: date, dtype: object
6239    16,April,2004
6239      17,Mai,2004
Name: date, dtype: object
6240    29,May,2004
6240    17,Mai,2004
Name: date, dtype: object
6241    27,May,2004
6241    17,Mai,2004
Name: date, dtype: object
6242    20,May,2004
6242    17,Mai,2004
Name: date, dtype: object
6243    11,May,2004
6243    17,Mai,2004
Name: date, dtype: object
6244    05,May,2004
6244    17,Mai,2004
Name: date, dtype: object
6245    03,May,2004
6245    17,Mai,2004
Name: date, dtype: object
6246    30,June,2004
6246     17,Mai,2004
Name: date, dtype: object
6247    29,July,2004
6247     17,Mai,2004
Name: date, dtype: object
6248    08,July,2004
6248     17,Mai,2004
Name: date, dtype: object
6249    10,August,2004
6249       17,Mai,2004
Name: date, dtype: object
6250    02,August,2004
6250       17,Mai,2004
Name: date, dtype: object
6251    06,August,2004
6251       17,Mai,2004
Name: date, dtype: object
6252    06,August,2004
6252       17,Mai,2004
Name: date, dtype: object
6253    06,August,2004
6253       17,Mai,2004
Name: date, dtype: object
6254    06,August,2004
6254      20,mars,2004
Name: date, dtype: object
6255    06,August,2004
6255      20,mars,2004
Name: date, dtype: object
6256    06,August,2004
6256      20,mars,2004
Name: date, dtype: object
6257    06,August,2004
6257      11,mars,2004
Name: date, dtype: object
6258    06,August,2004
6258      11,mars,2004
Name: date, dtype: object
6259    06,August,2004
6259      11,mars,2004
Name: date, dtype: object
6260    06,August,2004
6260      11,mars,2004
Name: date, dtype: object
6261    06,August,2004
6261      11,mars,2004
Name: date, dtype: object
6262    06,August,2004
6262      11,mars,2004
Name: date, dtype: object
6263    06,August,2004
6263      11,mars,2004
Name: date, dtype: object
6264    06,August,2004
6264      07,mars,2004
Name: date, dtype: object
6265    06,August,2004
6265      07,mars,2004
Name: date, dtype: object
6266    06,August,2004
6266      04,mars,2004
Name: date, dtype: object
6267    06,August,2004
6267      04,mars,2004
Name: date, dtype: object
6268    06,August,2004
6268      04,mars,2004
Name: date, dtype: object
6269    06,August,2004
6269      04,mars,2004
Name: date, dtype: object
6270    18,September,2003
6270         04,mars,2004
Name: date, dtype: object
6271    17,September,2003
6271         04,mars,2004
Name: date, dtype: object
6272    16,September,2003
6272         04,mars,2004
Name: date, dtype: object
6273    15,September,2003
6273         04,mars,2004
Name: date, dtype: object
6274    15,September,2003
6274         04,mars,2004
Name: date, dtype: object
6275    15,September,2003
6275         04,mars,2004
Name: date, dtype: object
6276    26,September,2003
6276         04,mars,2004
Name: date, dtype: object
6277    25,September,2003
6277         04,mars,2004
Name: date, dtype: object
6278    23,September,2003
6278         04,mars,2004
Name: date, dtype: object
6279    04,October,2003
6279       04,mars,2004
Name: date, dtype: object
6280    28,September,2003
6280         04,mars,2004
Name: date, dtype: object
6281    23,October,2003
6281       04,mars,2004
Name: date, dtype: object
6282    23,October,2003
6282       04,mars,2004
Name: date, dtype: object
6283    23,October,2003
6283       04,mars,2004
Name: date, dtype: object
6284    23,October,2003
6284       04,mars,2004
Name: date, dtype: object
6285    23,October,2003
6285       04,mars,2004
Name: date, dtype: object
6286    13,November,2003
6286        04,mars,2004
Name: date, dtype: object
6287    22,November,2003
6287        04,mars,2004
Name: date, dtype: object
6288    21,November,2003
6288        04,mars,2004
Name: date, dtype: object
6289    21,November,2003
6289        04,mars,2004
Name: date, dtype: object
6290    29,November,2003
6290        04,mars,2004
Name: date, dtype: object
6291    25,November,2003
6291        04,mars,2004
Name: date, dtype: object
6292    25,November,2003
6292        04,mars,2004
Name: date, dtype: object
6293    05,December,2003
6293        04,mars,2004
Name: date, dtype: object
6294    04,December,2003
6294        04,mars,2004
Name: date, dtype: object
6295    11,December,2003
6295        04,mars,2004
Name: date, dtype: object
6296    07,December,2003
6296        04,mars,2004
Name: date, dtype: object
6297    07,December,2003
6297        04,mars,2004
Name: date, dtype: object
6298    07,January,2004
6298       04,mars,2004
Name: date, dtype: object
6299    16,January,2004
6299       04,mars,2004
Name: date, dtype: object
6300    07,April,2004
6300     04,mars,2004
Name: date, dtype: object
6301     21,May,2004
6301    04,mars,2004
Name: date, dtype: object
6302     20,May,2004
6302    04,mars,2004
Name: date, dtype: object
6303     19,May,2004
6303    04,mars,2004
Name: date, dtype: object
6304     19,May,2004
6304    04,mars,2004
Name: date, dtype: object
6305     19,May,2004
6305    04,mars,2004
Name: date, dtype: object
6306     19,May,2004
6306    04,mars,2004
Name: date, dtype: object
6307     19,May,2004
6307    04,mars,2004
Name: date, dtype: object
6308     19,May,2004
6308    04,mars,2004
Name: date, dtype: object
6309     19,May,2004
6309    04,mars,2004
Name: date, dtype: object
6310     19,May,2004
6310    04,mars,2004
Name: date, dtype: object
6311     29,May,2004
6311    04,mars,2004
Name: date, dtype: object
6312     25,May,2004
6312    04,mars,2004
Name: date, dtype: object
6313     24,May,2004
6313    04,mars,2004
Name: date, dtype: object
6314    02,June,2004
6314    04,mars,2004
Name: date, dtype: object
6315     31,May,2004
6315    04,mars,2004
Name: date, dtype: object
6316     31,May,2004
6316    04,mars,2004
Name: date, dtype: object
6317     31,May,2004
6317    04,mars,2004
Name: date, dtype: object
6318     31,May,2004
6318    04,mars,2004
Name: date, dtype: object
6319     31,May,2004
6319    04,mars,2004
Name: date, dtype: object
6320    12,June,2004
6320    04,mars,2004
Name: date, dtype: object
6321    11,June,2004
6321    04,mars,2004
Name: date, dtype: object
6322    09,June,2004
6322    04,mars,2004
Name: date, dtype: object
6323    09,June,2004
6323    04,mars,2004
Name: date, dtype: object
6324    16,June,2004
6324    04,mars,2004
Name: date, dtype: object
6325    15,June,2004
6325    04,mars,2004
Name: date, dtype: object
6326    28,June,2004
6326    04,mars,2004
Name: date, dtype: object
6327    05,July,2004
6327    04,mars,2004
Name: date, dtype: object
6328    05,July,2004
6328    04,mars,2004
Name: date, dtype: object
6329    05,July,2004
6329    04,mars,2004
Name: date, dtype: object
6330    05,July,2004
6330    04,mars,2004
Name: date, dtype: object

6331    16,January,2004
6331       04,mars,2004
Name: date, dtype: object
6332    29,July,2004
6332    04,mars,2004
Name: date, dtype: object
6333    28,July,2004
6333    04,mars,2004
Name: date, dtype: object
6334    28,July,2004
6334    04,mars,2004
Name: date, dtype: object
6335    28,July,2004
6335    04,mars,2004
Name: date, dtype: object
6336    18,August,2004
6336      04,mars,2004
Name: date, dtype: object
6337    16,August,2004
6337      19,July,2004
Name: date, dtype: object
6338    15,August,2004
6338      15,July,2004
Name: date, dtype: object
6339    14,August,2004
6339      14,July,2004
Name: date, dtype: object
6340    13,August,2004
6340      12,July,2004
Name: date, dtype: object
6341    11,August,2004
6341    08,August,2004
Name: date, dtype: object
6342    05,August,2004
6342    08,August,2004
Name: date, dtype: object
6343    02,August,2004
6343    08,August,2004
Name: date, dtype: object
6344    25,January,2004
6344     08,August,2004
Name: date, dtype: object
6345       28,May,2004
6345    08,August,2004
Name: date, dtype: object
6346      30,June,2004
6346    08,August,2004
Name: date, dtype: object
6347      24,June,2004
6347    08,August,2004
Name: date, dtype: object
6348      23,June,2004
6348    08,August,2004
Name: date, dtype: object
6349      15,June,2004
6349    08,August,2004
Name: date, dtype: object
6350      10,June,2004
6350    08,August,2004
Name: date, dtype: object
6351      10,June,2004
6351    08,August,2004
Name: date, dtype: object
6352      10,June,2004
6352    08,August,2004
Name: date, dtype: object
6353      09,June,2004
6353    08,August,2004
Name: date, dtype: object
6354      08,June,2004
6354    08,August,2004
Name: date, dtype: object
6355      26,July,2004
6355    08,August,2004
Name: date, dtype: object
6356      23,July,2004
6356    08,August,2004
Name: date, dtype: object
6357      16,July,2004
6357    08,August,2004
Name: date, dtype: object
6358      15,July,2004
6358    08,August,2004
Name: date, dtype: object
6359      08,July,2004
6359    08,August,2004
Name: date, dtype: object
6360      02,July,2004
6360    08,August,2004
Name: date, dtype: object
6361      01,July,2004
6361    08,August,2004
Name: date, dtype: object
6362    02,August,2004
6362    08,August,2004
Name: date, dtype: object
6363      24,July,2004
6363    08,August,2004
Name: date, dtype: object
6364      19,July,2004
6364    08,August,2004
Name: date, dtype: object
6365      17,July,2004
6365    08,August,2004
Name: date, dtype: object
6366      17,July,2004
6366    08,August,2004
Name: date, dtype: object
6367      14,July,2004
6367    08,August,2004
Name: date, dtype: object
6368      14,July,2004
6368    08,August,2004
Name: date, dtype: object
6369    05,August,2004
6369    08,August,2004
Name: date, dtype: object
6370    04,August,2004
6370    08,August,2004
Name: date, dtype: object
6371    03,August,2004
6371    08,August,2004
Name: date, dtype: object
6372    03,August,2004
6372    08,August,2004
Name: date, dtype: object
6373      02,June,2004
6373    08,August,2004
Name: date, dtype: object
6374      02,June,2004
6374    08,August,2004
Name: date, dtype: object
6375      02,June,2004
6375    08,August,2004
Name: date, dtype: object
6376      02,June,2004
6376    08,August,2004
Name: date, dtype: object
6377      02,June,2004
6377    08,August,2004
Name: date, dtype: object
6378      02,June,2004
6378    08,August,2004
Name: date, dtype: object
6379      02,June,2004
6379    08,August,2004
Name: date, dtype: object
6380      02,June,2004
6380    08,August,2004
Name: date, dtype: object
6381      02,June,2004
6381    08,August,2004
Name: date, dtype: object
6382      02,June,2004
6382    08,August,2004
Name: date, dtype: object
6383      02,June,2004
6383    08,August,2004
Name: date, dtype: object
6384      02,June,2004
6384    08,August,2004
Name: date, dtype: object
6385      02,June,2004
6385    08,August,2004
Name: date, dtype: object
6386      02,June,2004
6386    08,August,2004
Name: date, dtype: object
6387      02,June,2004
6387    08,August,2004
Name: date, dtype: object
6388      02,June,2004
6388    08,August,2004
Name: date, dtype: object
6389      02,June,2004
6389    08,August,2004
Name: date, dtype: object
6390      02,June,2004
6390    08,August,2004
Name: date, dtype: object
6391      02,June,2004
6391    08,August,2004
Name: date, dtype: object
6392      02,June,2004
6392    08,August,2004
Name: date, dtype: object
6393      02,June,2004
6393    08,August,2004
Name: date, dtype: object
6394      02,June,2004
6394    08,August,2004
Name: date, dtype: object
6395      02,June,2004
6395    08,August,2004
Name: date, dtype: object
6396      02,June,2004
6396    08,August,2004
Name: date, dtype: object
6397      02,June,2004
6397    08,August,2004
Name: date, dtype: object
6398      02,June,2004
6398    08,August,2004
Name: date, dtype: object
6399      02,June,2004
6399    08,August,2004
Name: date, dtype: object
6400      02,June,2004
6400    08,August,2004
Name: date, dtype: object
6401      02,June,2004
6401    08,August,2004
Name: date, dtype: object
6402      02,June,2004
6402    08,August,2004
Name: date, dtype: object
6403      02,June,2004
6403    08,August,2004
Name: date, dtype: object
6404      02,June,2004
6404    08,August,2004
Name: date, dtype: object
6405      02,June,2004
6405    08,August,2004
Name: date, dtype: object
6406      02,June,2004
6406    08,August,2004
Name: date, dtype: object
6407      02,June,2004
6407    08,August,2004
Name: date, dtype: object
6408      02,June,2004
6408    08,August,2004
Name: date, dtype: object
6409      02,June,2004
6409    08,August,2004
Name: date, dtype: object
6410      02,June,2004
6410    08,August,2004
Name: date, dtype: object
6411      02,June,2004
6411    08,August,2004
Name: date, dtype: object
6412      02,June,2004
6412    08,August,2004
Name: date, dtype: object
6413      02,June,2004
6413    08,August,2004
Name: date, dtype: object
6414      02,June,2004
6414    08,August,2004
Name: date, dtype: object
6415      02,June,2004
6415    08,August,2004
Name: date, dtype: object
6416      02,June,2004
6416    08,August,2004
Name: date, dtype: object
6417      02,June,2004
6417    08,August,2004
Name: date, dtype: object
6418      02,June,2004
6418    08,August,2004
Name: date, dtype: object
6419      02,June,2004
6419    08,August,2004
Name: date, dtype: object
6420      02,June,2004
6420    08,August,2004
Name: date, dtype: object
6421      02,June,2004
6421    08,August,2004
Name: date, dtype: object
6422      02,June,2004
6422    08,August,2004
Name: date, dtype: object
6423      02,June,2004
6423    08,August,2004
Name: date, dtype: object
6424      02,June,2004
6424    08,August,2004
Name: date, dtype: object
6425      02,June,2004
6425    08,August,2004
Name: date, dtype: object
6426      02,June,2004
6426    08,August,2004
Name: date, dtype: object
6427      02,June,2004
6427    08,August,2004
Name: date, dtype: object
6428      02,June,2004
6428    08,August,2004
Name: date, dtype: object
6429      02,June,2004
6429    08,August,2004
Name: date, dtype: object
6430      02,June,2004
6430    08,August,2004
Name: date, dtype: object
6431      02,June,2004
6431    08,August,2004
Name: date, dtype: object
6432      02,June,2004
6432    08,August,2004
Name: date, dtype: object
6433      02,June,2004
6433    08,August,2004
Name: date, dtype: object
6434      02,June,2004
6434    08,August,2004
Name: date, dtype: object
6435      02,June,2004
6435    08,August,2004
Name: date, dtype: object
6436      02,June,2004
6436    08,August,2004
Name: date, dtype: object
6437      02,June,2004
6437    08,August,2004
Name: date, dtype: object
6438    02,June,2004
6438    29,July,2004
Name: date, dtype: object
6439    02,June,2004
6439    27,July,2004
Name: date, dtype: object
6440    02,June,2004
6440    26,July,2004
Name: date, dtype: object
6441    02,June,2004
6441    26,July,2004
Name: date, dtype: object
6442    02,June,2004
6442    26,July,2004
Name: date, dtype: object
6443    02,June,2004
6443    26,July,2004
Name: date, dtype: object
6444    02,June,2004
6444    21,July,2004
Name: date, dtype: object
6445    02,June,2004
6445    21,July,2004
Name: date, dtype: object
6446    02,June,2004
6446    20,July,2004
Name: date, dtype: object
6447    02,June,2004
6447    20,July,2004
Name: date, dtype: object
6448    02,June,2004
6448    16,July,2004
Name: date, dtype: object
6449    02,June,2004
6449    16,July,2004
Name: date, dtype: object
6450    02,June,2004
6450    15,July,2004
Name: date, dtype: object
6451    02,June,2004
6451    14,July,2004
Name: date, dtype: object
6452    02,June,2004
6452    14,July,2004
Name: date, dtype: object
6453      02,June,2004
6453    09,August,2004
Name: date, dtype: object
6454      02,June,2004
6454    06,August,2004
Name: date, dtype: object
6455      02,June,2004
6455    05,August,2004
Name: date, dtype: object
6456      02,June,2004
6456    04,August,2004
Name: date, dtype: object
6457      02,June,2004
6457    03,August,2004
Name: date, dtype: object
6458      02,June,2004
6458    02,August,2004
Name: date, dtype: object
6459      02,June,2004
6459    02,August,2004
Name: date, dtype: object
6460     02,June,2004
6460    17,April,2004
Name: date, dtype: object
6461    02,June,2004
6461     16,May,2004
Name: date, dtype: object
6462    02,June,2004
6462    21,June,2004
Name: date, dtype: object
6463    02,June,2004
6463    19,June,2004
Name: date, dtype: object
6464    02,June,2004
6464    05,July,2004
Name: date, dtype: object
6465        02,June,2004
6465    28,February,2004
Name: date, dtype: object
6466        02,June,2004
6466    27,February,2004
Name: date, dtype: object
6467        02,June,2004
6467    26,February,2004
Name: date, dtype: object
6468        02,June,2004
6468    26,February,2004

Name: date, dtype: object
6469        02,June,2004
6469    26,February,2004
Name: date, dtype: object
6470        02,June,2004
6470    26,February,2004
Name: date, dtype: object
6471     02,June,2004
6471    22,March,2004
Name: date, dtype: object
6472     02,June,2004
6472    20,March,2004
Name: date, dtype: object
6473     02,June,2004
6473    12,March,2004
Name: date, dtype: object
6474     02,June,2004
6474    09,March,2004
Name: date, dtype: object
6475     02,June,2004
6475    09,March,2004
Name: date, dtype: object
6476     02,June,2004
6476    09,March,2004
Name: date, dtype: object
6477     02,June,2004
6477    06,March,2004
Name: date, dtype: object
6478     02,June,2004
6478    06,March,2004
Name: date, dtype: object
6479     02,June,2004
6479    06,March,2004
Name: date, dtype: object
6480     02,June,2004
6480    05,March,2004
Name: date, dtype: object
6481     02,June,2004
6481    03,March,2004
Name: date, dtype: object
6482     02,June,2004
6482    02,March,2004
Name: date, dtype: object
6483     02,June,2004
6483    02,March,2004
Name: date, dtype: object
6484     02,June,2004
6484    27,April,2004
Name: date, dtype: object
6485     02,June,2004
6485    20,April,2004
Name: date, dtype: object
6486     02,June,2004
6486    17,April,2004
Name: date, dtype: object
6487     02,June,2004
6487    07,April,2004
Name: date, dtype: object
6488     02,June,2004
6488    01,April,2004
Name: date, dtype: object
6489     02,June,2004
6489    01,April,2004
Name: date, dtype: object
6490    02,June,2004
6490     25,May,2004
Name: date, dtype: object
6491    02,June,2004
6491     11,May,2004
Name: date, dtype: object
6492    02,June,2004
6492     11,May,2004
Name: date, dtype: object
6493    02,June,2004
6493    26,June,2004
Name: date, dtype: object
6494    02,June,2004
6494    24,June,2004
Name: date, dtype: object
6495    02,June,2004
6495    20,June,2004
Name: date, dtype: object
6496    02,June,2004
6496    10,June,2004
Name: date, dtype: object
6497    02,June,2004
6497    01,June,2004
Name: date, dtype: object
6498    02,June,2004
6498    30,July,2004
Name: date, dtype: object
6499    02,June,2004
6499    26,July,2004
Name: date, dtype: object
6500    02,June,2004
6500    14,July,2004
Name: date, dtype: object
6501    02,June,2004
6501    09,July,2004
Name: date, dtype: object
6502    02,June,2004
6502    29,July,2004
Name: date, dtype: object
6503    02,June,2004
6503    27,July,2004
Name: date, dtype: object
6504    02,June,2004
6504    26,July,2004
Name: date, dtype: object
6505    02,June,2004
6505    26,July,2004
Name: date, dtype: object
6506    02,June,2004
6506    26,July,2004
Name: date, dtype: object
6507    02,June,2004
6507    26,July,2004
Name: date, dtype: object
6508    02,June,2004
6508    26,July,2004
Name: date, dtype: object
6509      02,June,2004
6509    02,August,2004
Name: date, dtype: object
6510       02,June,2004
6510    28,October,2003
Name: date, dtype: object
6511       02,June,2004
6511    27,October,2003
Name: date, dtype: object
6512       02,June,2004
6512    27,October,2003
Name: date, dtype: object
6513       02,June,2004
6513    27,October,2003
Name: date, dtype: object
6514       02,June,2004
6514    24,October,2003
Name: date, dtype: object
6515       02,June,2004
6515    24,October,2003
Name: date, dtype: object
6516       02,June,2004
6516    18,October,2003
Name: date, dtype: object
6517       02,June,2004
6517    17,October,2003
Name: date, dtype: object
6518       02,June,2004
6518    15,October,2003
Name: date, dtype: object
6519       02,June,2004
6519    15,October,2003
Name: date, dtype: object
6520       02,June,2004
6520    14,October,2003
Name: date, dtype: object
6521       02,June,2004
6521    12,October,2003
Name: date, dtype: object
6522       02,June,2004
6522    12,October,2003
Name: date, dtype: object
6523       02,June,2004
6523    12,October,2003
Name: date, dtype: object
6524       02,June,2004
6524    10,October,2003
Name: date, dtype: object
6525       02,June,2004
6525    10,October,2003
Name: date, dtype: object
6526       02,June,2004
6526    09,October,2003
Name: date, dtype: object
6527       02,June,2004
6527    08,October,2003
Name: date, dtype: object
6528       02,June,2004
6528    08,October,2003
Name: date, dtype: object
6529       02,June,2004
6529    08,October,2003
Name: date, dtype: object
6530       02,June,2004
6530    08,October,2003
Name: date, dtype: object
6531       02,June,2004
6531    08,October,2003
Name: date, dtype: object
6532        02,June,2004
6532    30,November,2003
Name: date, dtype: object
6533        02,June,2004
6533    17,November,2003
Name: date, dtype: object
6534        02,June,2004
6534    17,November,2003
Name: date, dtype: object
6535        02,June,2004
6535    16,November,2003
Name: date, dtype: object
6536        02,June,2004
6536    11,November,2003
Name: date, dtype: object
6537        02,June,2004
6537    10,November,2003
Name: date, dtype: object
6538        02,June,2004
6538    08,November,2003
Name: date, dtype: object
6539        02,June,2004
6539    05,November,2003
Name: date, dtype: object
6540        02,June,2004
6540    05,November,2003
Name: date, dtype: object
6541        02,June,2004
6541    28,December,2003
Name: date, dtype: object
6542        02,June,2004
6542    11,December,2003
Name: date, dtype: object
6543        02,June,2004
6543    10,December,2003
Name: date, dtype: object
6544        02,June,2004
6544    09,December,2003
Name: date, dtype: object
6545        02,June,2004
6545    08,December,2003
Name: date, dtype: object
6546        02,June,2004
6546    05,December,2003
Name: date, dtype: object
6547        02,June,2004
6547    05,December,2003
Name: date, dtype: object
6548        02,June,2004
6548    04,December,2003
Name: date, dtype: object
6549       02,June,2004
6549    30,January,2004
Name: date, dtype: object
6550       02,June,2004
6550    29,January,2004
Name: date, dtype: object
6551       02,June,2004
6551    28,January,2004
Name: date, dtype: object
6552       02,June,2004
6552    28,January,2004
Name: date, dtype: object
6553       02,June,2004
6553    28,January,2004
Name: date, dtype: object
6554       02,June,2004
6554    27,January,2004
Name: date, dtype: object
6555       02,June,2004
6555    27,January,2004
Name: date, dtype: object
6556       02,June,2004
6556    27,January,2004
Name: date, dtype: object
6557       02,June,2004
6557    27,January,2004
Name: date, dtype: object
6558       02,June,2004
6558    23,January,2004
Name: date, dtype: object
6559       02,June,2004
6559    23,January,2004
Name: date, dtype: object
6560       02,June,2004
6560    23,January,2004
Name: date, dtype: object
6561       02,June,2004
6561    20,January,2004
Name: date, dtype: object
6562       02,June,2004
6562    20,January,2004
Name: date, dtype: object
6563       02,June,2004
6563    20,January,2004
Name: date, dtype: object
6564       02,June,2004
6564    20,January,2004
Name: date, dtype: object
6565       02,June,2004
6565    18,January,2004
Name: date, dtype: object
6566       02,June,2004
6566    17,January,2004
Name: date, dtype: object
6567       02,June,2004
6567    17,January,2004
Name: date, dtype: object
6568       02,June,2004
6568    13,January,2004
Name: date, dtype: object
6569       02,June,2004
6569    11,January,2004
Name: date, dtype: object
6570       02,June,2004
6570    10,January,2004
Name: date, dtype: object
6571        02,June,2004
6571    28,February,2004
Name: date, dtype: object
6572        02,June,2004
6572    27,February,2004
Name: date, dtype: object
6573        02,June,2004
6573    26,February,2004
Name: date, dtype: object
6574        02,June,2004
6574    22,February,2004
Name: date, dtype: object
6575        02,June,2004
6575    22,February,2004
Name: date, dtype: object
6576        02,June,2004
6576    20,February,2004
Name: date, dtype: object
6577        02,June,2004
6577    19,February,2004
Name: date, dtype: object
6578        02,June,2004
6578    19,February,2004
Name: date, dtype: object
6579        02,June,2004
6579    17,February,2004
Name: date, dtype: object
6580        02,June,2004
6580    17,February,2004
Name: date, dtype: object
6581        02,June,2004
6581    17,February,2004
Name: date, dtype: object
6582        02,June,2004
6582    16,February,2004
Name: date, dtype: object
6583        02,June,2004
6583    16,February,2004
Name: date, dtype: object
6584        02,June,2004
6584    16,February,2004
Name: date, dtype: object
6585        02,June,2004
6585    16,February,2004
Name: date, dtype: object
6586        02,June,2004
6586    16,February,2004
Name: date, dtype: object
6587        02,June,2004
6587    15,February,2004
Name: date, dtype: object
6588        02,June,2004
6588    15,February,2004
Name: date, dtype: object
6589        02,June,2004
6589    13,February,2004
Name: date, dtype: object
6590        02,June,2004
6590    13,February,2004
Name: date, dtype: object
6591        02,June,2004
6591    13,February,2004
Name: date, dtype: object
6592        02,June,2004
6592    13,February,2004
Name: date, dtype: object
6593        02,June,2004
6593    11,February,2004
Name: date, dtype: object
6594        02,June,2004
6594    09,February,2004
Name: date, dtype: object
6595        02,June,2004
6595    07,February,2004
Name: date, dtype: object
6596        02,June,2004
6596    07,February,2004
Name: date, dtype: object
6597        02,June,2004
6597    07,February,2004
Name: date, dtype: object
6598        02,June,2004
6598    07,February,2004
Name: date, dtype: object
6599        02,June,2004
6599    07,February,2004
Name: date, dtype: object
6600        02,June,2004
6600    06,February,2004
Name: date, dtype: object
6601        02,June,2004
6601    04,February,2004
Name: date, dtype: object
6602        02,June,2004
6602    01,February,2004
Name: date, dtype: object
6603     02,June,2004
6603    31,March,2004
Name: date, dtype: object
6604     02,June,2004
6604    27,March,2004
Name: date, dtype: object
6605     02,June,2004
6605    22,March,2004
Name: date, dtype: object
6606     02,June,2004
6606    19,March,2004

Name: date, dtype: object
6607     02,June,2004
6607    12,March,2004
Name: date, dtype: object
6608     02,June,2004
6608    05,March,2004
Name: date, dtype: object
6609     02,June,2004
6609    05,March,2004
Name: date, dtype: object
6610     02,June,2004
6610    04,March,2004
Name: date, dtype: object
6611     02,June,2004
6611    03,March,2004
Name: date, dtype: object
6612     02,June,2004
6612    03,March,2004
Name: date, dtype: object
6613     02,June,2004
6613    26,April,2004
Name: date, dtype: object
6614     02,June,2004
6614    20,April,2004
Name: date, dtype: object
6615     02,June,2004
6615    14,April,2004
Name: date, dtype: object
6616     02,June,2004
6616    09,April,2004
Name: date, dtype: object
6617    02,June,2004
6617     25,May,2004
Name: date, dtype: object
6618    02,June,2004
6618     24,May,2004
Name: date, dtype: object
6619    02,June,2004
6619     21,May,2004
Name: date, dtype: object
6620    02,June,2004
6620     13,May,2004
Name: date, dtype: object
6621    02,June,2004
6621     11,May,2004
Name: date, dtype: object
6622    02,June,2004
6622     03,May,2004
Name: date, dtype: object
6623    02,June,2004
6623     03,May,2004
Name: date, dtype: object
6624    02,June,2004
6624    25,June,2004
Name: date, dtype: object
6625    02,June,2004
6625    24,June,2004
Name: date, dtype: object
6626    02,June,2004
6626    23,June,2004
Name: date, dtype: object
6627    02,June,2004
6627    21,June,2004
Name: date, dtype: object
6628    02,June,2004
6628    12,June,2004
Name: date, dtype: object
6629    02,June,2004
6629    31,July,2004
Name: date, dtype: object
6630    02,June,2004
6630    28,July,2004
Name: date, dtype: object
6631    02,June,2004
6631    23,July,2004
Name: date, dtype: object
6632    02,June,2004
6632    23,July,2004
Name: date, dtype: object
6633    02,June,2004
6633    23,July,2004
Name: date, dtype: object
6634    02,June,2004
6634    23,July,2004
Name: date, dtype: object
6635    02,June,2004
6635    22,July,2004
Name: date, dtype: object
6636    02,June,2004
6636    20,July,2004
Name: date, dtype: object
6637    02,June,2004
6637    12,July,2004
Name: date, dtype: object
6638      02,June,2004
6638    04,August,2004
Name: date, dtype: object
6639    02,June,2004
6639     28,May,2004
Name: date, dtype: object
6640    02,June,2004
6640     25,May,2004
Name: date, dtype: object
6641    02,June,2004
6641     22,May,2004
Name: date, dtype: object
6642    02,June,2004
6642     22,May,2004
Name: date, dtype: object
6643    02,June,2004
6643     21,May,2004
Name: date, dtype: object
6644    02,June,2004
6644     16,May,2004
Name: date, dtype: object
6645    02,June,2004
6645     16,May,2004
Name: date, dtype: object
6646    02,June,2004
6646     15,May,2004
Name: date, dtype: object
6647    02,June,2004
6647    29,June,2004
Name: date, dtype: object
6648    02,June,2004
6648    27,June,2004
Name: date, dtype: object
6649    02,June,2004
6649    25,June,2004
Name: date, dtype: object
6650    02,June,2004
6650    22,June,2004
Name: date, dtype: object
6651    02,June,2004
6651    20,June,2004
Name: date, dtype: object
6652    02,June,2004
6652    15,June,2004
Name: date, dtype: object
6653    02,June,2004
6653    14,June,2004
Name: date, dtype: object
6654    02,June,2004
6654    11,June,2004
Name: date, dtype: object
6655    02,June,2004
6655    03,June,2004
Name: date, dtype: object
6656    02,June,2004
6656    02,June,2004
Name: date, dtype: object
6657    02,June,2004
6657    01,June,2004
Name: date, dtype: object
6658    02,June,2004
6658    25,July,2004
Name: date, dtype: object
6659    02,June,2004
6659    20,July,2004
Name: date, dtype: object
6660    02,June,2004
6660    16,July,2004
Name: date, dtype: object
6661    02,June,2004
6661    10,July,2004
Name: date, dtype: object
6662    02,June,2004
6662    09,July,2004
Name: date, dtype: object
6663    02,June,2004
6663    04,July,2004
Name: date, dtype: object
6664      02,June,2004
6664    21,August,2004
Name: date, dtype: object
6665      02,June,2004
6665    12,August,2004
Name: date, dtype: object
6666      02,June,2004
6666    12,August,2004
Name: date, dtype: object
6667      02,June,2004
6667    12,August,2004
Name: date, dtype: object
6668    02,June,2004
6668    30,July,2004
Name: date, dtype: object
6669      02,June,2004
6669    04,August,2004
Name: date, dtype: object
6670      02,June,2004
6670    03,August,2004
Name: date, dtype: object
6671      02,June,2004
6671    03,August,2004
Name: date, dtype: object
6672      02,June,2004
6672    01,August,2004
Name: date, dtype: object
6673       02,June,2004
6673    29,January,2004
Name: date, dtype: object
6674       02,June,2004
6674    27,January,2004
Name: date, dtype: object
6675       02,June,2004
6675    19,January,2004
Name: date, dtype: object
6676       02,June,2004
6676    18,January,2004
Name: date, dtype: object
6677       02,June,2004
6677    18,January,2004
Name: date, dtype: object
6678       02,June,2004
6678    17,January,2004
Name: date, dtype: object
6679       02,June,2004
6679    17,January,2004
Name: date, dtype: object
6680        02,June,2004
6680    29,February,2004
Name: date, dtype: object
6681        02,June,2004
6681    24,February,2004
Name: date, dtype: object
6682        02,June,2004
6682    23,February,2004
Name: date, dtype: object
6683        02,June,2004
6683    20,February,2004
Name: date, dtype: object
6684        02,June,2004
6684    18,February,2004
Name: date, dtype: object
6685        29,June,2004
6685    17,February,2004
Name: date, dtype: object
6686        28,June,2004
6686    12,February,2004
Name: date, dtype: object
6687        28,June,2004
6687    11,February,2004
Name: date, dtype: object
6688     28,June,2004
6688    21,March,2004
Name: date, dtype: object
6689     28,June,2004
6689    11,March,2004
Name: date, dtype: object
6690     28,June,2004
6690    06,March,2004
Name: date, dtype: object
6691     28,June,2004
6691    06,March,2004
Name: date, dtype: object
6692     30,July,2004
6692    02,March,2004
Name: date, dtype: object
6693     16,July,2004
6693    02,March,2004
Name: date, dtype: object
6694     01,July,2004
6694    01,March,2004
Name: date, dtype: object
6695      31,May,2004
6695    26,April,2004
Name: date, dtype: object
6696      30,May,2004
6696    20,April,2004
Name: date, dtype: object
6697      29,May,2004
6697    09,April,2004
Name: date, dtype: object
6698    29,May,2004
6698    27,May,2004
Name: date, dtype: object
6699    28,May,2004
6699    26,May,2004
Name: date, dtype: object
6700    26,May,2004
6700    26,May,2004
Name: date, dtype: object
6701    25,May,2004
6701    19,May,2004
Name: date, dtype: object
6702    25,May,2004
6702    19,May,2004
Name: date, dtype: object
6703    24,May,2004
6703    19,May,2004
Name: date, dtype: object
6704    23,May,2004
6704    12,May,2004
Name: date, dtype: object
6705    30,June,2004
6705     09,May,2004
Name: date, dtype: object
6706    29,June,2004
6706     08,May,2004
Name: date, dtype: object
6707    28,June,2004
6707     02,May,2004
Name: date, dtype: object
6708    27,June,2004
6708     01,May,2004
Name: date, dtype: object
6709    26,June,2004
6709    24,June,2004
Name: date, dtype: object
6710    25,June,2004
6710    21,June,2004
Name: date, dtype: object
6711    23,June,2004
6711    17,June,2004
Name: date, dtype: object
6712    22,June,2004
6712    15,June,2004
Name: date, dtype: object
6713      21,June,2004
6713    06,August,2004
Name: date, dtype: object
6714      21,June,2004
6714    06,August,2004
Name: date, dtype: object
6715    20,June,2004
6715    27,July,2004
Name: date, dtype: object
6716    19,June,2004
6716    26,July,2004
Name: date, dtype: object
6717    18,June,2004
6717    25,July,2004
Name: date, dtype: object
6718    18,June,2004
6718    24,July,2004
Name: date, dtype: object
6719    17,June,2004
6719    23,July,2004
Name: date, dtype: object
6720    16,June,2004
6720    23,July,2004
Name: date, dtype: object
6721    15,June,2004
6721    23,July,2004
Name: date, dtype: object
6722    14,June,2004
6722    23,July,2004
Name: date, dtype: object
6723      13,June,2004
6723    16,August,2004
Name: date, dtype: object
6724      12,June,2004
6724    08,August,2004
Name: date, dtype: object
6725      10,June,2004
6725    08,August,2004
Name: date, dtype: object
6726      09,June,2004
6726    08,August,2004
Name: date, dtype: object
6727      08,June,2004
6727    08,August,2004
Name: date, dtype: object
6728      07,June,2004
6728    08,August,2004
Name: date, dtype: object
6729      06,June,2004
6729    08,August,2004
Name: date, dtype: object
6730      04,June,2004
6730    08,August,2004
Name: date, dtype: object
6731      04,June,2004
6731    08,August,2004
Name: date, dtype: object
6732      02,June,2004
6732    08,August,2004
Name: date, dtype: object
6733      01,June,2004
6733    08,August,2004
Name: date, dtype: object
6734      31,July,2004
6734    08,August,2004
Name: date, dtype: object
6735      29,July,2004
6735    08,August,2004
Name: date, dtype: object
6736      28,July,2004
6736    08,August,2004
Name: date, dtype: object
6737      28,July,2004
6737    08,August,2004
Name: date, dtype: object
6738      27,July,2004
6738    08,August,2004
Name: date, dtype: object
6739      26,July,2004
6739    08,August,2004
Name: date, dtype: object
6740      25,July,2004
6740    08,August,2004
Name: date, dtype: object
6741      24,July,2004
6741    08,August,2004
Name: date, dtype: object
6742      22,July,2004
6742    08,August,2004
Name: date, dtype: object
6743      22,July,2004
6743    08,August,2004
Name: date, dtype: object
6744      21,July,2004
6744    08,August,2004
Name: date, dtype: object
6745      21,July,2004
6745    08,August,2004
Name: date, dtype: object

6746      20,July,2004
6746    08,August,2004
Name: date, dtype: object
6747      19,July,2004
6747    08,August,2004
Name: date, dtype: object
6748      18,July,2004
6748    08,August,2004
Name: date, dtype: object
6749      16,July,2004
6749    08,August,2004
Name: date, dtype: object
6750      11,July,2004
6750    08,August,2004
Name: date, dtype: object
6751      10,July,2004
6751    08,August,2004
Name: date, dtype: object
6752      10,July,2004
6752    08,August,2004
Name: date, dtype: object
6753      08,July,2004
6753    08,August,2004
Name: date, dtype: object
6754      06,July,2004
6754    08,August,2004
Name: date, dtype: object
6755      05,July,2004
6755    08,August,2004
Name: date, dtype: object
6756      04,July,2004
6756    08,August,2004
Name: date, dtype: object
6757      03,July,2004
6757    08,August,2004
Name: date, dtype: object
6758      02,July,2004
6758    08,August,2004
Name: date, dtype: object
6759      02,July,2004
6759    08,August,2004
Name: date, dtype: object
6760      01,July,2004
6760    08,August,2004
Name: date, dtype: object
6761    10,August,2004
6761    08,August,2004
Name: date, dtype: object
6762    08,August,2004
6762    08,August,2004
Name: date, dtype: object
6763    07,August,2004
6763    08,August,2004
Name: date, dtype: object
6764    05,August,2004
6764    08,August,2004
Name: date, dtype: object
6765    05,August,2004
6765    08,August,2004
Name: date, dtype: object
6766    04,August,2004
6766    08,August,2004
Name: date, dtype: object
6767    03,August,2004
6767    08,August,2004
Name: date, dtype: object
6768    03,August,2004
6768    08,August,2004
Name: date, dtype: object
6769    02,August,2004
6769    08,August,2004
Name: date, dtype: object
6770    01,August,2004
6770    08,August,2004
Name: date, dtype: object
6771       27,May,2004
6771    08,August,2004
Name: date, dtype: object
6772       19,May,2004
6772    08,August,2004
Name: date, dtype: object
6773      16,June,2004
6773    08,August,2004
Name: date, dtype: object
6774      14,June,2004
6774    08,August,2004
Name: date, dtype: object
6775      13,June,2004
6775    08,August,2004
Name: date, dtype: object
6776      12,June,2004
6776    08,August,2004
Name: date, dtype: object
6777      12,June,2004
6777    08,August,2004
Name: date, dtype: object
6778      13,July,2004
6778    08,August,2004
Name: date, dtype: object
6779       26,May,2004
6779    08,August,2004
Name: date, dtype: object
6780       25,May,2004
6780    08,August,2004
Name: date, dtype: object
6781     24,May,2004
6781    26,July,2004
Name: date, dtype: object
6782     22,May,2004
6782    23,July,2004
Name: date, dtype: object
6783     21,May,2004
6783    20,July,2004
Name: date, dtype: object
6784    02,June,2004
6784    20,July,2004
Name: date, dtype: object
6785     15,May,2004
6785    19,July,2004
Name: date, dtype: object
6786     13,May,2004
6786    19,July,2004
Name: date, dtype: object
6787    30,June,2004
6787    16,July,2004
Name: date, dtype: object
6788    28,June,2004
6788    12,July,2004
Name: date, dtype: object
6789    25,June,2004
6789    10,July,2004
Name: date, dtype: object
6790    31,July,2004
6790    10,July,2004
Name: date, dtype: object
6791    29,July,2004
6791    10,July,2004
Name: date, dtype: object
6792    25,July,2004
6792    10,July,2004
Name: date, dtype: object
6793    21,July,2004
6793    10,July,2004
Name: date, dtype: object
6794    16,July,2004
6794    10,July,2004
Name: date, dtype: object
6795    08,July,2004
6795    10,July,2004
Name: date, dtype: object
6796    03,July,2004
6796    10,July,2004
Name: date, dtype: object
6797    12,August,2004
6797      10,July,2004
Name: date, dtype: object
6798    06,August,2004
6798      10,July,2004
Name: date, dtype: object
6799    01,September,2003
6799         10,July,2004
Name: date, dtype: object
6800    01,September,2003
6800         10,July,2004
Name: date, dtype: object
6801    01,September,2003
6801         10,July,2004
Name: date, dtype: object
6802    01,September,2003
6802         10,July,2004
Name: date, dtype: object
6803    01,September,2003
6803       10,August,2004
Name: date, dtype: object
6804      29,July,2004
6804    03,August,2004
Name: date, dtype: object
6805      26,July,2004
6805    02,August,2004
Name: date, dtype: object
6806      24,July,2004
6806    01,August,2004
Name: date, dtype: object
6807    19,July,2004
6807    30,July,2004
Name: date, dtype: object
6808    18,July,2004
6808    30,July,2004
Name: date, dtype: object
6809     17,July,2004
6809    30,March,2004
Name: date, dtype: object
6810     17,July,2004
6810    29,March,2004
Name: date, dtype: object
6811     16,July,2004
6811    27,March,2004
Name: date, dtype: object
6812     15,July,2004
6812    27,March,2004
Name: date, dtype: object
6813     15,July,2004
6813    26,March,2004
Name: date, dtype: object
6814     15,July,2004
6814    25,March,2004
Name: date, dtype: object
6815    16,August,2004
6815     22,March,2004
Name: date, dtype: object
6816    07,August,2004
6816     22,March,2004
Name: date, dtype: object
6817    01,August,2004
6817     14,March,2004
Name: date, dtype: object
6818    13,August,2004
6818     08,March,2004
Name: date, dtype: object
6819    10,August,2004
6819     29,April,2004
Name: date, dtype: object
6820    10,August,2004
6820     26,April,2004
Name: date, dtype: object
6821    10,August,2004
6821     24,April,2004
Name: date, dtype: object
6822    21,August,2004
6822     22,April,2004
Name: date, dtype: object
6823    15,August,2004
6823     22,April,2004
Name: date, dtype: object
6824    15,August,2004
6824     21,April,2004
Name: date, dtype: object
6825    15,August,2004
6825     19,April,2004
Name: date, dtype: object
6826    08,August,2004
6826     18,April,2004
Name: date, dtype: object
6827    08,August,2004
6827     15,April,2004
Name: date, dtype: object
6828     16,July,2004
6828    12,April,2004
Name: date, dtype: object
6829     15,July,2004
6829    09,April,2004
Name: date, dtype: object
6830     08,July,2004
6830    07,April,2004
Name: date, dtype: object
6831     08,July,2004
6831    03,April,2004
Name: date, dtype: object
6832     05,June,2004
6832    03,April,2004
Name: date, dtype: object
6833     04,June,2004
6833    02,April,2004
Name: date, dtype: object
6834     03,June,2004
6834    01,April,2004
Name: date, dtype: object
6835    03,June,2004
6835     26,May,2004
Name: date, dtype: object
6836    03,June,2004
6836     18,May,2004
Name: date, dtype: object
6837    31,July,2004
6837     10,May,2004
Name: date, dtype: object
6838    01,August,2004
6838       06,May,2004
Name: date, dtype: object
6839    16,August,2004
6839       06,May,2004
Name: date, dtype: object
6840    16,August,2004
6840       05,May,2004
Name: date, dtype: object
6841    13,May,2004
6841    01,May,2004
Name: date, dtype: object
6842    11,May,2004
6842    01,May,2004
Name: date, dtype: object
6843    11,May,2004
6843    01,May,2004
Name: date, dtype: object
6844    11,May,2004
6844    01,May,2004
Name: date, dtype: object
6845     11,May,2004
6845    29,June,2004
Name: date, dtype: object
6846    19,July,2004
6846    27,June,2004
Name: date, dtype: object
6847    16,July,2004
6847    18,June,2004
Name: date, dtype: object
6848    13,July,2004
6848    10,June,2004
Name: date, dtype: object
6849    13,July,2004
6849    06,June,2004
Name: date, dtype: object
6850    13,July,2004
6850    01,June,2004
Name: date, dtype: object
6851    03,August,2004
6851      31,July,2004
Name: date, dtype: object
6852    24,July,2004
6852    30,July,2004
Name: date, dtype: object
6853    22,July,2004
6853    30,July,2004
Name: date, dtype: object
6854    22,July,2004
6854    29,July,2004
Name: date, dtype: object
6855    22,July,2004
6855    29,July,2004
Name: date, dtype: object
6856    21,July,2004
6856    24,July,2004
Name: date, dtype: object
6857    21,July,2004
6857    23,July,2004
Name: date, dtype: object
6858    21,July,2004
6858    20,July,2004
Name: date, dtype: object
6859    21,July,2004
6859    16,July,2004
Name: date, dtype: object
6860    21,July,2004
6860    13,July,2004
Name: date, dtype: object
6861    21,July,2004
6861    12,July,2004
Name: date, dtype: object
6862    21,July,2004
6862    04,July,2004
Name: date, dtype: object
6863      21,July,2004
6863    09,August,2004
Name: date, dtype: object
6864      21,July,2004
6864    03,August,2004
Name: date, dtype: object
6865      21,July,2004
6865    03,August,2004
Name: date, dtype: object
6866    21,July,2004
6866     30,May,2004
Name: date, dtype: object
6867    21,July,2004
6867     27,May,2004
Name: date, dtype: object
6868    21,July,2004
6868     25,May,2004
Name: date, dtype: object
6869    21,July,2004
6869     23,May,2004
Name: date, dtype: object
6870    21,July,2004
6870     16,May,2004
Name: date, dtype: object
6871    21,July,2004
6871    15,June,2004
Name: date, dtype: object
6872    21,July,2004
6872    11,June,2004
Name: date, dtype: object
6873    21,July,2004
6873    11,June,2004
Name: date, dtype: object
6874    21,July,2004
6874    17,June,2004
Name: date, dtype: object
6875    21,July,2004
6875    15,June,2004
Name: date, dtype: object
6876    21,July,2004
6876    14,June,2004
Name: date, dtype: object
6877    21,July,2004
6877    14,June,2004
Name: date, dtype: object
6878    21,July,2004
6878    14,June,2004
Name: date, dtype: object
6879    21,July,2004
6879    24,June,2004
Name: date, dtype: object
6880    21,July,2004
6880    21,June,2004
Name: date, dtype: object
6881    30,July,2004
6881    21,June,2004
Name: date, dtype: object
6882    29,July,2004
6882    21,June,2004
Name: date, dtype: object
6883    29,July,2004
6883    29,June,2004
Name: date, dtype: object
6884    28,July,2004
6884    29,June,2004
Name: date, dtype: object
6885    27,July,2004
6885    17,July,2004
Name: date, dtype: object
6886    27,July,2004
6886    17,July,2004
Name: date, dtype: object
6887    05,August,2004
6887      18,July,2004
Name: date, dtype: object
6888    02,August,2004
6888      25,July,2004
Name: date, dtype: object
6889    01,August,2004
6889      25,July,2004
Name: date, dtype: object
6890    01,August,2004
6890    13,August,2004
Name: date, dtype: object

6891    13,August,2004
6891      26,June,2004
Name: date, dtype: object
6892    12,August,2004
6892      16,June,2004
Name: date, dtype: object
6893    10,August,2004
6893      15,June,2004
Name: date, dtype: object
6894    10,August,2004
6894      15,June,2004
Name: date, dtype: object
6895    09,August,2004
6895      15,June,2004
Name: date, dtype: object
6896    09,August,2004
6896      15,June,2004
Name: date, dtype: object
6897    18,August,2004
6897      15,June,2004
Name: date, dtype: object
6898    15,August,2004
6898      15,June,2004
Name: date, dtype: object
6899    10,June,2004
6899    15,June,2004
Name: date, dtype: object
6900    07,June,2004
6900    15,June,2004
Name: date, dtype: object
6901    06,June,2004
6901    15,June,2004
Name: date, dtype: object
6902    16,July,2004
6902    15,June,2004
Name: date, dtype: object
6903    16,July,2004
6903    15,June,2004
Name: date, dtype: object
6904    16,July,2004
6904    15,June,2004
Name: date, dtype: object
6905    16,July,2004
6905    15,June,2004
Name: date, dtype: object
6906    16,July,2004
6906    12,June,2004
Name: date, dtype: object
6907    16,July,2004
6907    12,June,2004
Name: date, dtype: object
6908    16,July,2004
6908    12,June,2004
Name: date, dtype: object
6909    16,July,2004
6909    12,June,2004
Name: date, dtype: object
6910    03,July,2004
6910    11,June,2004
Name: date, dtype: object
6911    03,July,2004
6911    14,July,2004
Name: date, dtype: object
6912       03,July,2004
6912    26,January,2004
Name: date, dtype: object
6913        03,July,2004
6913    16,February,2004
Name: date, dtype: object
6914        03,July,2004
6914    06,February,2004
Name: date, dtype: object
6915        03,July,2004
6915    01,February,2004
Name: date, dtype: object
6916     03,July,2004
6916    17,March,2004
Name: date, dtype: object
6917     03,July,2004
6917    08,March,2004
Name: date, dtype: object
6918     03,July,2004
6918    05,April,2004
Name: date, dtype: object
6919    03,July,2004
6919     27,May,2004
Name: date, dtype: object
6920    03,July,2004
6920     17,May,2004
Name: date, dtype: object
6921    03,July,2004
6921     05,May,2004
Name: date, dtype: object
6922    03,July,2004
6922    20,June,2004
Name: date, dtype: object
6923    03,July,2004
6923    17,June,2004
Name: date, dtype: object
6924    03,July,2004
6924    02,June,2004
Name: date, dtype: object
6925    03,July,2004
6925    28,July,2004
Name: date, dtype: object
6926    03,July,2004
6926    27,July,2004
Name: date, dtype: object
6927    03,July,2004
6927    20,July,2004
Name: date, dtype: object
6928    03,July,2004
6928    09,July,2004
Name: date, dtype: object
6929    03,July,2004
6929    06,July,2004
Name: date, dtype: object
6930      03,July,2004
6930    13,August,2004
Name: date, dtype: object
6931      03,July,2004
6931    10,August,2004
Name: date, dtype: object
6932      03,July,2004
6932    04,August,2004
Name: date, dtype: object
6933      03,July,2004
6933    04,August,2004
Name: date, dtype: object
6934    03,July,2004
6934    18,June,2004
Name: date, dtype: object
6935    03,July,2004
6935    16,June,2004
Name: date, dtype: object
6936    03,July,2004
6936    16,June,2004
Name: date, dtype: object
6937    03,July,2004
6937    16,June,2004
Name: date, dtype: object
6938    03,July,2004
6938    16,June,2004
Name: date, dtype: object
6939    03,July,2004
6939    16,June,2004
Name: date, dtype: object
6940    03,July,2004
6940    16,June,2004
Name: date, dtype: object
6941    03,July,2004
6941    16,June,2004
Name: date, dtype: object
6942    03,July,2004
6942    16,June,2004
Name: date, dtype: object
6943    03,July,2004
6943    16,June,2004
Name: date, dtype: object
6944    03,July,2004
6944    16,June,2004
Name: date, dtype: object
6945    03,July,2004
6945    16,June,2004
Name: date, dtype: object
6946    03,July,2004
6946    16,June,2004
Name: date, dtype: object
6947    03,July,2004
6947    16,June,2004
Name: date, dtype: object
6948    03,July,2004
6948    16,June,2004
Name: date, dtype: object
6949    31,July,2002
6949    16,June,2004
Name: date, dtype: object
6950    29,July,2002
6950    15,June,2004
Name: date, dtype: object
6951    29,July,2002
6951    15,June,2004
Name: date, dtype: object
6952    29,July,2002
6952    15,June,2004
Name: date, dtype: object
6953    29,July,2002
6953    15,June,2004
Name: date, dtype: object
6954    28,July,2002
6954    15,June,2004
Name: date, dtype: object
6955    26,July,2002
6955    15,June,2004
Name: date, dtype: object
6956    26,July,2002
6956    15,June,2004
Name: date, dtype: object
6957    25,July,2002
6957    15,June,2004
Name: date, dtype: object
6958    25,July,2002
6958    15,June,2004
Name: date, dtype: object
6959    25,July,2002
6959    15,June,2004
Name: date, dtype: object
6960    21,July,2002
6960    15,June,2004
Name: date, dtype: object
6961    19,July,2002
6961    15,June,2004
Name: date, dtype: object
6962    19,July,2002
6962    15,June,2004
Name: date, dtype: object
6963    17,July,2002
6963    15,June,2004
Name: date, dtype: object
6964    17,July,2002
6964    15,June,2004
Name: date, dtype: object
6965    16,July,2002
6965    15,June,2004
Name: date, dtype: object
6966    16,July,2002
6966    15,June,2004
Name: date, dtype: object
6967    16,July,2002
6967    15,June,2004
Name: date, dtype: object
6968    15,July,2002
6968    15,June,2004
Name: date, dtype: object
6969    14,July,2002
6969    15,June,2004
Name: date, dtype: object
6970    14,July,2002
6970    15,June,2004
Name: date, dtype: object
6971    14,July,2002
6971    15,June,2004
Name: date, dtype: object
6972    14,July,2002
6972    15,June,2004
Name: date, dtype: object
6973    14,July,2002
6973    15,June,2004
Name: date, dtype: object
6974    14,July,2002
6974    15,June,2004
Name: date, dtype: object
6975    13,July,2002
6975    15,June,2004
Name: date, dtype: object
6976    12,July,2002
6976    15,June,2004
Name: date, dtype: object
6977    12,July,2002
6977    15,June,2004
Name: date, dtype: object
6978    11,July,2002
6978    15,June,2004
Name: date, dtype: object
6979    11,July,2002
6979    15,June,2004
Name: date, dtype: object
6980    11,July,2002
6980    15,June,2004
Name: date, dtype: object
6981    10,July,2002
6981    15,June,2004
Name: date, dtype: object
6982    10,July,2002
6982    15,June,2004
Name: date, dtype: object
6983    10,July,2002
6983    15,June,2004
Name: date, dtype: object
6984    10,July,2002
6984    15,June,2004
Name: date, dtype: object
6985    09,July,2002
6985    15,June,2004
Name: date, dtype: object
6986    07,July,2002
6986    15,June,2004
Name: date, dtype: object
6987    07,July,2002
6987    15,June,2004
Name: date, dtype: object
6988    06,July,2002
6988    15,June,2004
Name: date, dtype: object
6989    06,July,2002
6989    15,June,2004
Name: date, dtype: object
6990    06,July,2002
6990    15,June,2004
Name: date, dtype: object
6991    06,July,2002
6991    15,June,2004
Name: date, dtype: object
6992    05,July,2002
6992    15,June,2004
Name: date, dtype: object
6993    05,July,2002
6993    15,June,2004
Name: date, dtype: object
6994    03,July,2002
6994    15,June,2004
Name: date, dtype: object
6995    03,July,2002
6995    15,June,2004
Name: date, dtype: object
6996    03,July,2002
6996    01,July,2004
Name: date, dtype: object
6997    03,July,2002
6997    01,July,2004
Name: date, dtype: object
6998    02,July,2002
6998    01,July,2004
Name: date, dtype: object
6999    02,July,2002
6999    01,July,2004
Name: date, dtype: object
7000    02,July,2002
7000    01,July,2004
Name: date, dtype: object
7001    02,July,2002
7001    01,July,2004
Name: date, dtype: object
7002    02,July,2002
7002    01,July,2004
Name: date, dtype: object
7003    02,July,2002
7003    01,July,2004
Name: date, dtype: object
7004    02,July,2002
7004    01,July,2004
Name: date, dtype: object
7005    02,July,2002
7005    01,July,2004
Name: date, dtype: object
7006    02,July,2002
7006    01,July,2004
Name: date, dtype: object
7007    01,July,2002
7007    01,July,2004
Name: date, dtype: object
7008    01,July,2002
7008    01,July,2004
Name: date, dtype: object
7009    01,July,2002
7009    01,July,2004
Name: date, dtype: object
7010    01,July,2002
7010    01,July,2004
Name: date, dtype: object
7011    01,July,2002
7011    01,July,2004
Name: date, dtype: object
7012    01,July,2002
7012    01,July,2004
Name: date, dtype: object
7013    01,July,2002
7013    01,July,2004
Name: date, dtype: object
7014    01,July,2002
7014    01,July,2004
Name: date, dtype: object
7015    01,July,2002
7015    01,July,2004
Name: date, dtype: object
7016    01,July,2002
7016    01,July,2004
Name: date, dtype: object
7017    01,July,2002
7017    01,July,2004
Name: date, dtype: object
7018    01,July,2002
7018    01,July,2004
Name: date, dtype: object
7019    01,July,2002
7019    01,July,2004
Name: date, dtype: object
7020    27,August,2002
7020      01,July,2004
Name: date, dtype: object
7021    25,August,2002
7021      01,July,2004
Name: date, dtype: object
7022    17,August,2002
7022      01,July,2004
Name: date, dtype: object
7023    15,August,2002
7023      01,July,2004
Name: date, dtype: object
7024    11,August,2002
7024      01,July,2004
Name: date, dtype: object
7025    11,August,2002
7025     17,April,2003
Name: date, dtype: object
7026    09,August,2002
7026     15,April,2003
Name: date, dtype: object
7027    08,August,2002
7027       30,May,2003
Name: date, dtype: object
7028    07,August,2002
7028       29,May,2003
Name: date, dtype: object
7029    06,August,2002
7029       27,May,2003
Name: date, dtype: object

7030    04,August,2002
7030      05,June,2003
Name: date, dtype: object
7031    01,August,2002
7031      01,June,2003
Name: date, dtype: object
7032    25,September,2002
7032         25,June,2003
Name: date, dtype: object
7033    23,September,2002
7033         02,July,2003
Name: date, dtype: object
7034    21,September,2002
7034         11,July,2003
Name: date, dtype: object
7035    20,September,2002
7035         07,July,2003
Name: date, dtype: object
7036    18,September,2002
7036         19,July,2003
Name: date, dtype: object
7037    17,September,2002
7037         18,July,2003
Name: date, dtype: object
7038    16,September,2002
7038         18,July,2003
Name: date, dtype: object
7039    13,September,2002
7039         16,July,2003
Name: date, dtype: object
7040    13,September,2002
7040         16,July,2003
Name: date, dtype: object
7041    12,September,2002
7041         15,July,2003
Name: date, dtype: object
7042    11,September,2002
7042         15,July,2003
Name: date, dtype: object
7043    11,September,2002
7043         13,July,2003
Name: date, dtype: object
7044    05,September,2002
7044         13,July,2003
Name: date, dtype: object
7045    04,September,2002
7045         23,July,2003
Name: date, dtype: object
7046    02,September,2002
7046         21,July,2003
Name: date, dtype: object
7047    02,September,2002
7047         20,July,2003
Name: date, dtype: object
7048    02,September,2002
7048         20,July,2003
Name: date, dtype: object
7049    02,September,2002
7049       02,August,2003
Name: date, dtype: object
7050    29,October,2002
7050     01,August,2003
Name: date, dtype: object
7051    21,October,2002
7051       31,July,2003
Name: date, dtype: object
7052    21,October,2002
7052     08,August,2003
Name: date, dtype: object
7053    17,October,2002
7053     06,August,2003
Name: date, dtype: object
7054    17,October,2002
7054     06,August,2003
Name: date, dtype: object
7055    17,October,2002
7055     05,August,2003
Name: date, dtype: object
7056    15,October,2002
7056     05,August,2003
Name: date, dtype: object
7057    15,October,2002
7057     04,August,2003
Name: date, dtype: object
7058    07,October,2002
7058     03,August,2003
Name: date, dtype: object
7059    07,October,2002
7059     13,August,2003
Name: date, dtype: object
7060    07,October,2002
7060     10,August,2003
Name: date, dtype: object
7061    04,October,2002
7061     21,August,2003
Name: date, dtype: object
7062    04,October,2002
7062     18,August,2003
Name: date, dtype: object
7063    01,October,2002
7063     27,August,2003
Name: date, dtype: object
7064    29,November,2002
7064      24,August,2003
Name: date, dtype: object
7065     26,November,2002
7065    06,September,2003
Name: date, dtype: object
7066     13,November,2002
7066    04,September,2003
Name: date, dtype: object
7067     08,November,2002
7067    03,September,2003
Name: date, dtype: object
7068     08,November,2002
7068    03,September,2003
Name: date, dtype: object
7069     07,November,2002
7069    03,September,2003
Name: date, dtype: object
7070     02,November,2002
7070    02,September,2003
Name: date, dtype: object
7071    02,November,2002
7071      31,August,2003
Name: date, dtype: object
7072     02,November,2002
7072    12,September,2003
Name: date, dtype: object
7073     29,December,2002
7073    10,September,2003
Name: date, dtype: object
7074     25,December,2002
7074    10,September,2003
Name: date, dtype: object
7075     17,December,2002
7075    10,September,2003
Name: date, dtype: object
7076     11,December,2002
7076    09,September,2003
Name: date, dtype: object
7077     11,December,2002
7077    09,September,2003
Name: date, dtype: object
7078     10,December,2002
7078    20,September,2003
Name: date, dtype: object
7079     01,December,2002
7079    16,September,2003
Name: date, dtype: object
7080     01,December,2002
7080    16,September,2003
Name: date, dtype: object
7081      30,January,2003
7081    16,September,2003
Name: date, dtype: object
7082      28,January,2003
7082    26,September,2003
Name: date, dtype: object
7083      24,January,2003
7083    24,September,2003
Name: date, dtype: object
7084    22,January,2003
7084    01,October,2003
Name: date, dtype: object
7085    21,January,2003
7085    09,October,2003
Name: date, dtype: object
7086    20,January,2003
7086    06,October,2003
Name: date, dtype: object
7087    17,January,2003
7087    17,October,2003
Name: date, dtype: object
7088    17,January,2003
7088    16,October,2003
Name: date, dtype: object
7089    16,January,2003
7089    15,October,2003
Name: date, dtype: object
7090    15,January,2003
7090    14,October,2003
Name: date, dtype: object
7091    13,January,2003
7091    14,October,2003
Name: date, dtype: object
7092    13,January,2003
7092    14,October,2003
Name: date, dtype: object
7093    13,January,2003
7093    14,October,2003
Name: date, dtype: object
7094    12,January,2003
7094    22,October,2003
Name: date, dtype: object
7095    08,January,2003
7095    20,October,2003
Name: date, dtype: object
7096    07,January,2003
7096    20,October,2003
Name: date, dtype: object
7097    04,January,2003
7097    20,October,2003
Name: date, dtype: object
7098    28,February,2003
7098     20,October,2003
Name: date, dtype: object
7099    26,February,2003
7099     31,October,2003
Name: date, dtype: object
7100    25,February,2003
7100     30,October,2003
Name: date, dtype: object
7101    25,February,2003
7101     28,October,2003
Name: date, dtype: object
7102    24,February,2003
7102     27,October,2003
Name: date, dtype: object
7103    23,February,2003
7103    06,November,2003
Name: date, dtype: object
7104    23,February,2003
7104    05,November,2003
Name: date, dtype: object
7105    23,February,2003
7105    04,November,2003
Name: date, dtype: object
7106    22,February,2003
7106    03,November,2003
Name: date, dtype: object
7107    22,February,2003
7107    03,November,2003
Name: date, dtype: object
7108    22,February,2003
7108    02,November,2003
Name: date, dtype: object
7109    22,February,2003
7109    02,November,2003
Name: date, dtype: object
7110    21,February,2003
7110    15,November,2003
Name: date, dtype: object
7111    21,February,2003
7111    14,November,2003
Name: date, dtype: object
7112    21,February,2003
7112    11,November,2003
Name: date, dtype: object
7113    20,February,2003
7113    10,November,2003
Name: date, dtype: object
7114    20,February,2003
7114    09,November,2003
Name: date, dtype: object
7115    20,February,2003
7115    20,November,2003
Name: date, dtype: object
7116    20,February,2003
7116    19,November,2003
Name: date, dtype: object
7117    17,February,2003
7117    18,November,2003
Name: date, dtype: object
7118    16,February,2003
7118    18,November,2003
Name: date, dtype: object
7119    16,February,2003
7119    16,November,2003
Name: date, dtype: object
7120    16,February,2003
7120    26,November,2003
Name: date, dtype: object
7121    16,February,2003
7121    04,December,2003
Name: date, dtype: object
7122    16,February,2003
7122    02,December,2003
Name: date, dtype: object
7123    15,February,2003
7123    02,December,2003
Name: date, dtype: object
7124    15,February,2003
7124    12,December,2003
Name: date, dtype: object
7125    15,February,2003
7125    11,December,2003
Name: date, dtype: object
7126    14,February,2003
7126    09,December,2003
Name: date, dtype: object
7127    14,February,2003
7127    08,December,2003
Name: date, dtype: object
7128    07,February,2003
7128    08,December,2003
Name: date, dtype: object
7129       31,March,2003
7129    19,December,2003
Name: date, dtype: object
7130       26,March,2003
7130    16,December,2003
Name: date, dtype: object
7131       26,March,2003
7131    15,December,2003
Name: date, dtype: object
7132       25,March,2003
7132    23,December,2003
Name: date, dtype: object
7133      23,March,2003
7133    03,January,2004
Name: date, dtype: object
7134      23,March,2003
7134    02,January,2004
Name: date, dtype: object
7135       22,March,2003
7135    29,December,2003
Name: date, dtype: object
7136       21,March,2003
7136    29,December,2003
Name: date, dtype: object
7137      19,March,2003
7137    09,January,2004
Name: date, dtype: object
7138      18,March,2003
7138    08,January,2004
Name: date, dtype: object

7139      17,March,2003
7139    07,January,2004
Name: date, dtype: object
7140      17,March,2003
7140    05,January,2004
Name: date, dtype: object
7141      17,March,2003
7141    05,January,2004
Name: date, dtype: object
7142      17,March,2003
7142    17,January,2004
Name: date, dtype: object
7143      15,March,2003
7143    16,January,2004
Name: date, dtype: object
7144      15,March,2003
7144    11,January,2004
Name: date, dtype: object
7145      14,March,2003
7145    11,January,2004
Name: date, dtype: object
7146      14,March,2003
7146    20,January,2004
Name: date, dtype: object
7147      14,March,2003
7147    28,January,2004
Name: date, dtype: object
7148      13,March,2003
7148    27,January,2004
Name: date, dtype: object
7149      13,March,2003
7149    26,January,2004
Name: date, dtype: object
7150      12,March,2003
7150    26,January,2004
Name: date, dtype: object
7151       12,March,2003
7151    07,February,2004
Name: date, dtype: object
7152       12,March,2003
7152    05,February,2004
Name: date, dtype: object
7153       12,March,2003
7153    04,February,2004
Name: date, dtype: object
7154       12,March,2003
7154    04,February,2004
Name: date, dtype: object
7155       11,March,2003
7155    03,February,2004
Name: date, dtype: object
7156       11,March,2003
7156    03,February,2004
Name: date, dtype: object
7157       11,March,2003
7157    02,February,2004
Name: date, dtype: object
7158       09,March,2003
7158    02,February,2004
Name: date, dtype: object
7159       08,March,2003
7159    02,February,2004
Name: date, dtype: object
7160       07,March,2003
7160    13,February,2004
Name: date, dtype: object
7161       07,March,2003
7161    12,February,2004
Name: date, dtype: object
7162       06,March,2003
7162    10,February,2004
Name: date, dtype: object
7163       06,March,2003
7163    16,February,2004
Name: date, dtype: object
7164       06,March,2003
7164    16,February,2004
Name: date, dtype: object
7165       05,March,2003
7165    28,February,2004
Name: date, dtype: object
7166       05,March,2003
7166    27,February,2004
Name: date, dtype: object
7167       05,March,2003
7167    26,February,2004
Name: date, dtype: object
7168       04,March,2003
7168    25,February,2004
Name: date, dtype: object
7169       04,March,2003
7169    24,February,2004
Name: date, dtype: object
7170       04,March,2003
7170    23,February,2004
Name: date, dtype: object
7171       04,March,2003
7171    23,February,2004
Name: date, dtype: object
7172    03,March,2003
7172    06,March,2004
Name: date, dtype: object
7173    03,March,2003
7173    04,March,2004
Name: date, dtype: object
7174    03,March,2003
7174    01,March,2004
Name: date, dtype: object
7175    03,March,2003
7175    01,March,2004
Name: date, dtype: object
7176    03,March,2003
7176    01,March,2004
Name: date, dtype: object
7177    02,March,2003
7177    01,March,2004
Name: date, dtype: object
7178    02,March,2003
7178    10,March,2004
Name: date, dtype: object
7179    02,March,2003
7179    08,March,2004
Name: date, dtype: object
7180    02,March,2003
7180    19,March,2004
Name: date, dtype: object
7181    01,March,2003
7181    16,March,2004
Name: date, dtype: object
7182    30,April,2003
7182    15,March,2004
Name: date, dtype: object
7183    25,April,2003
7183    14,March,2004
Name: date, dtype: object
7184    24,April,2003
7184    25,March,2004
Name: date, dtype: object
7185    24,April,2003
7185    22,March,2004
Name: date, dtype: object
7186    23,April,2003
7186    22,March,2004
Name: date, dtype: object
7187    21,April,2003
7187    03,April,2004
Name: date, dtype: object
7188    18,April,2003
7188    02,April,2004
Name: date, dtype: object
7189    17,April,2003
7189    30,March,2004
Name: date, dtype: object
7190    16,April,2003
7190    29,March,2004
Name: date, dtype: object
7191    13,April,2003
7191    09,April,2004
Name: date, dtype: object
7192    13,April,2003
7192    14,April,2004
Name: date, dtype: object
7193    13,April,2003
7193    23,April,2004
Name: date, dtype: object
7194    13,April,2003
7194    22,April,2004
Name: date, dtype: object
7195    11,April,2003
7195    22,April,2004
Name: date, dtype: object
7196    09,April,2003
7196    22,April,2004
Name: date, dtype: object
7197    04,April,2003
7197    20,April,2004
Name: date, dtype: object
7198    02,April,2003
7198    20,April,2004
Name: date, dtype: object
7199    02,April,2003
7199    19,April,2004
Name: date, dtype: object
7200      31,May,2003
7200    18,April,2004
Name: date, dtype: object
7201      29,May,2003
7201    27,April,2004
Name: date, dtype: object
7202      28,May,2003
7202    26,April,2004
Name: date, dtype: object
7203      26,May,2003
7203    26,April,2004
Name: date, dtype: object
7204    25,May,2003
7204    06,May,2004
Name: date, dtype: object
7205    25,May,2003
7205    05,May,2004
Name: date, dtype: object
7206    23,May,2003
7206    04,May,2004
Name: date, dtype: object
7207    22,May,2003
7207    15,May,2004
Name: date, dtype: object
7208    17,May,2003
7208    14,May,2004
Name: date, dtype: object
7209    17,May,2003
7209    09,May,2004
Name: date, dtype: object
7210    16,May,2003
7210    21,May,2004
Name: date, dtype: object
7211    15,May,2003
7211    20,May,2004
Name: date, dtype: object
7212    15,May,2003
7212    19,May,2004
Name: date, dtype: object
7213    15,May,2003
7213    19,May,2004
Name: date, dtype: object
7214    15,May,2003
7214    18,May,2004
Name: date, dtype: object
7215    15,May,2003
7215    16,May,2004
Name: date, dtype: object
7216    14,May,2003
7216    16,May,2004
Name: date, dtype: object
7217    14,May,2003
7217    25,May,2004
Name: date, dtype: object
7218     14,May,2003
7218    05,June,2004
Name: date, dtype: object
7219     14,May,2003
7219    02,June,2004
Name: date, dtype: object
7220     14,May,2003
7220    01,June,2004
Name: date, dtype: object
7221    10,May,2003
7221    31,May,2004
Name: date, dtype: object
7222    10,May,2003
7222    30,May,2004
Name: date, dtype: object
7223     10,May,2003
7223    11,June,2004
Name: date, dtype: object
7224     09,May,2003
7224    10,June,2004
Name: date, dtype: object
7225     09,May,2003
7225    09,June,2004
Name: date, dtype: object
7226     07,May,2003
7226    08,June,2004
Name: date, dtype: object
7227     07,May,2003
7227    07,June,2004
Name: date, dtype: object
7228     07,May,2003
7228    06,June,2004
Name: date, dtype: object
7229     06,May,2003
7229    18,June,2004
Name: date, dtype: object
7230     04,May,2003
7230    17,June,2004
Name: date, dtype: object
7231    26,June,2003
7231    16,June,2004
Name: date, dtype: object
7232    23,June,2003
7232    15,June,2004
Name: date, dtype: object
7233    11,June,2003
7233    15,June,2004
Name: date, dtype: object
7234    11,June,2003
7234    15,June,2004
Name: date, dtype: object
7235    10,June,2003
7235    14,June,2004
Name: date, dtype: object
7236    09,June,2003
7236    13,June,2004
Name: date, dtype: object
7237    06,June,2003
7237    13,June,2004
Name: date, dtype: object
7238    05,June,2003
7238    24,June,2004
Name: date, dtype: object
7239    04,June,2003
7239    21,June,2004
Name: date, dtype: object
7240    03,June,2003
7240    21,June,2004
Name: date, dtype: object
7241    03,June,2003
7241    21,June,2004
Name: date, dtype: object
7242    03,June,2003
7242    21,June,2004
Name: date, dtype: object
7243    31,July,2003
7243    02,July,2004
Name: date, dtype: object
7244    28,July,2003
7244    01,July,2004
Name: date, dtype: object
7245    22,July,2003
7245    29,June,2004
Name: date, dtype: object
7246    21,July,2003
7246    28,June,2004
Name: date, dtype: object
7247    21,July,2003
7247    27,June,2004
Name: date, dtype: object
7248    20,July,2003
7248    10,July,2004
Name: date, dtype: object
7249    12,July,2003
7249    08,July,2004
Name: date, dtype: object
7250    12,July,2003
7250    07,July,2004
Name: date, dtype: object
7251    12,July,2003
7251    05,July,2004
Name: date, dtype: object
7252    06,July,2003
7252    16,July,2004
Name: date, dtype: object
7253    06,July,2003
7253    15,July,2004
Name: date, dtype: object
7254    06,July,2003
7254    13,July,2004
Name: date, dtype: object
7255    05,July,2003
7255    30,July,2004
Name: date, dtype: object
7256    04,July,2003
7256    29,July,2004
Name: date, dtype: object
7257    03,July,2003
7257    28,July,2004
Name: date, dtype: object
7258    28,August,2003
7258      28,July,2004
Name: date, dtype: object
7259    26,August,2003
7259      26,July,2004
Name: date, dtype: object
7260    22,August,2003
7260      26,July,2004
Name: date, dtype: object
7261    17,August,2003
7261    05,August,2004
Name: date, dtype: object
7262    08,August,2003
7262    04,August,2004
Name: date, dtype: object
7263    08,August,2003
7263    03,August,2004
Name: date, dtype: object
7264    28,September,2003
7264       03,August,2004
Name: date, dtype: object
7265    23,September,2003
7265       02,August,2004
Name: date, dtype: object
7266    22,September,2003
7266       04,August,2004
Name: date, dtype: object
7267    22,September,2003
7267       03,August,2004
Name: date, dtype: object
7268    22,September,2003
7268       03,August,2004
Name: date, dtype: object
7269    22,September,2003
7269       02,August,2004
Name: date, dtype: object
7270    19,September,2003
7270       02,August,2004
Name: date, dtype: object
7271    16,September,2003
7271       02,August,2004
Name: date, dtype: object
7272    14,September,2003
7272       02,August,2004
Name: date, dtype: object
7273    07,September,2003
7273       01,August,2004
Name: date, dtype: object
7274    04,September,2003
7274       01,August,2004
Name: date, dtype: object
7275    03,September,2003
7275       01,August,2004
Name: date, dtype: object
7276    03,September,2003
7276       01,August,2004
Name: date, dtype: object
7277    03,September,2003
7277       01,August,2004
Name: date, dtype: object
7278    03,September,2003
7278         27,July,2004
Name: date, dtype: object
7279    27,October,2003
7279       24,July,2004
Name: date, dtype: object
7280    24,October,2003
7280       23,July,2004

Name: date, dtype: object
7281    24,October,2003
7281       23,July,2004
Name: date, dtype: object
7282    21,October,2003
7282       23,July,2004
Name: date, dtype: object
7283    16,October,2003
7283        21,May,2004
Name: date, dtype: object
7284    16,October,2003
7284        19,May,2004
Name: date, dtype: object
7285    13,October,2003
7285        19,May,2004
Name: date, dtype: object
7286    10,October,2003
7286        19,May,2004
Name: date, dtype: object
7287    10,October,2003
7287        19,May,2004
Name: date, dtype: object
7288    10,October,2003
7288        19,May,2004
Name: date, dtype: object
7289    25,November,2003
7289         18,May,2004
Name: date, dtype: object
7290    24,November,2003
7290        24,June,2004
Name: date, dtype: object
7291    24,November,2003
7291      03,August,2004
Name: date, dtype: object
7292    23,November,2003
7292         30,May,2004
Name: date, dtype: object
7293    21,November,2003
7293         29,May,2004
Name: date, dtype: object
7294    20,November,2003
7294         26,May,2004
Name: date, dtype: object
7295    19,November,2003
7295         25,May,2004
Name: date, dtype: object
7296    18,November,2003
7296         24,May,2004
Name: date, dtype: object
7297    15,November,2003
7297         23,May,2004
Name: date, dtype: object
7298    09,November,2003
7298         22,May,2004
Name: date, dtype: object
7299    31,December,2003
7299        23,June,2004
Name: date, dtype: object
7300    28,December,2003
7300        08,June,2004
Name: date, dtype: object
7301    20,December,2003
7301        02,June,2004
Name: date, dtype: object
7302    12,December,2003
7302        18,July,2004
Name: date, dtype: object
7303    12,December,2003
7303        14,July,2004
Name: date, dtype: object
7304    08,December,2003
7304         26,May,2004
Name: date, dtype: object
7305    01,December,2003
7305         25,May,2004
Name: date, dtype: object
7306    01,December,2003
7306         25,May,2004
Name: date, dtype: object
7307    31,January,2004
7307        20,May,2004
Name: date, dtype: object
7308    27,January,2004
7308        19,May,2004
Name: date, dtype: object
7309    26,January,2004
7309        19,May,2004
Name: date, dtype: object
7310    18,January,2004
7310        18,May,2004
Name: date, dtype: object
7311    18,January,2004
7311        13,May,2004
Name: date, dtype: object
7312    15,January,2004
7312        12,May,2004
Name: date, dtype: object
7313    10,January,2004
7313        10,May,2004
Name: date, dtype: object
7314    03,January,2004
7314        10,May,2004
Name: date, dtype: object
7315    02,January,2004
7315        10,May,2004
Name: date, dtype: object
7316    01,January,2004
7316       11,June,2004
Name: date, dtype: object
7317    01,January,2004
7317       02,June,2004
Name: date, dtype: object
7318    28,February,2004
7318        13,July,2004
Name: date, dtype: object
7319    23,February,2004
7319       24,April,2004
Name: date, dtype: object
7320    21,February,2004
7320       23,April,2004
Name: date, dtype: object
7321    17,February,2004
7321       23,April,2004
Name: date, dtype: object
7322    17,February,2004
7322       22,April,2004
Name: date, dtype: object
7323    09,February,2004
7323       22,April,2004
Name: date, dtype: object
7324    07,February,2004
7324       22,April,2004
Name: date, dtype: object
7325    05,February,2004
7325       22,April,2004
Name: date, dtype: object
7326    31,March,2004
7326    22,April,2004
Name: date, dtype: object
7327    30,March,2004
7327    22,April,2004
Name: date, dtype: object
7328    30,March,2004
7328    22,April,2004
Name: date, dtype: object
7329    28,March,2004
7329    22,April,2004
Name: date, dtype: object
7330    25,March,2004
7330    22,April,2004
Name: date, dtype: object
7331    19,March,2004
7331    22,April,2004
Name: date, dtype: object
7332    18,March,2004
7332    22,April,2004
Name: date, dtype: object
7333    17,March,2004
7333    22,April,2004
Name: date, dtype: object
7334    16,March,2004
7334    22,April,2004
Name: date, dtype: object
7335    14,March,2004
7335      01,May,2004
Name: date, dtype: object
7336    14,March,2004
7336    30,April,2004
Name: date, dtype: object
7337    13,March,2004
7337    30,April,2004
Name: date, dtype: object
7338    12,March,2004
7338    30,April,2004
Name: date, dtype: object
7339    11,March,2004
7339    29,April,2004
Name: date, dtype: object
7340    10,March,2004
7340    29,April,2004
Name: date, dtype: object
7341    09,March,2004
7341    29,April,2004
Name: date, dtype: object
7342    09,March,2004
7342    26,April,2004
Name: date, dtype: object
7343    07,March,2004
7343    26,April,2004
Name: date, dtype: object
7344    07,March,2004
7344    26,April,2004
Name: date, dtype: object
7345    05,March,2004
7345    26,April,2004
Name: date, dtype: object
7346    04,March,2004
7346      08,May,2004
Name: date, dtype: object
7347    01,March,2004
7347      07,May,2004
Name: date, dtype: object
7348    30,April,2004
7348      05,May,2004
Name: date, dtype: object
7349    27,April,2004
7349      05,May,2004
Name: date, dtype: object
7350    26,April,2004
7350      05,May,2004
Name: date, dtype: object
7351    26,April,2004
7351      04,May,2004
Name: date, dtype: object
7352    25,April,2004
7352      04,May,2004
Name: date, dtype: object
7353    24,April,2004
7353      03,May,2004
Name: date, dtype: object
7354    23,April,2004
7354      02,May,2004
Name: date, dtype: object
7355    21,April,2004
7355      02,May,2004
Name: date, dtype: object
7356    21,April,2004
7356      02,May,2004
Name: date, dtype: object
7357    19,April,2004
7357      02,May,2004
Name: date, dtype: object
7358    18,April,2004
7358      02,May,2004
Name: date, dtype: object
7359    18,April,2004
7359      02,May,2004
Name: date, dtype: object
7360    18,April,2004
7360      02,May,2004
Name: date, dtype: object
7361    18,April,2004
7361      15,May,2004
Name: date, dtype: object
7362    17,April,2004
7362      14,May,2004
Name: date, dtype: object
7363    13,April,2004
7363      13,May,2004
Name: date, dtype: object
7364    13,April,2004
7364      13,May,2004
Name: date, dtype: object
7365    12,April,2004
7365      12,May,2004
Name: date, dtype: object
7366    11,April,2004
7366      11,May,2004
Name: date, dtype: object
7367    07,April,2004
7367      10,May,2004
Name: date, dtype: object
7368    05,April,2004
7368      10,May,2004
Name: date, dtype: object
7369    01,April,2004
7369      10,May,2004
Name: date, dtype: object
7370    01,April,2004
7370      09,May,2004
Name: date, dtype: object
7371    27,May,2004
7371    09,May,2004
Name: date, dtype: object
7372    26,May,2004
7372    09,May,2004
Name: date, dtype: object
7373    26,May,2004
7373    09,May,2004
Name: date, dtype: object
7374    22,May,2004
7374    09,May,2004
Name: date, dtype: object
7375    19,May,2004
7375    22,May,2004
Name: date, dtype: object
7376    18,May,2004
7376    20,May,2004
Name: date, dtype: object
7377    13,May,2004
7377    18,May,2004
Name: date, dtype: object
7378    12,May,2004
7378    17,May,2004
Name: date, dtype: object
7379    11,May,2004
7379    16,May,2004
Name: date, dtype: object
7380    10,May,2004
7380    16,May,2004
Name: date, dtype: object
7381    10,May,2004
7381    16,May,2004
Name: date, dtype: object
7382    09,May,2004
7382    16,May,2004
Name: date, dtype: object
7383    09,May,2004
7383    28,May,2004
Name: date, dtype: object
7384    09,May,2004
7384    26,May,2004
Name: date, dtype: object
7385    09,May,2004
7385    25,May,2004
Name: date, dtype: object
7386     08,May,2004
7386    05,June,2004
Name: date, dtype: object
7387     08,May,2004
7387    10,June,2004
Name: date, dtype: object
7388     07,May,2004
7388    09,June,2004
Name: date, dtype: object
7389     07,May,2004
7389    06,June,2004
Name: date, dtype: object
7390     07,May,2004
7390    17,June,2004
Name: date, dtype: object
7391     05,May,2004
7391    15,June,2004
Name: date, dtype: object
7392     03,May,2004
7392    10,July,2004
Name: date, dtype: object
7393     03,May,2004
7393    06,July,2004
Name: date, dtype: object
7394    30,June,2004
7394    13,July,2004
Name: date, dtype: object
7395    25,June,2004
7395    28,July,2004
Name: date, dtype: object
7396    25,June,2004
7396    27,July,2004
Name: date, dtype: object
7397    17,June,2004
7397    27,July,2004
Name: date, dtype: object
7398    16,June,2004
7398    25,July,2004
Name: date, dtype: object
7399    15,June,2004
7399    25,July,2004
Name: date, dtype: object
7400      10,June,2004
7400    06,August,2004
Name: date, dtype: object
7401      08,June,2004
7401    04,August,2004
Name: date, dtype: object
7402      07,June,2004
7402    03,August,2004
Name: date, dtype: object
7403      06,June,2004
7403    02,August,2004
Name: date, dtype: object
7404     03,June,2004
7404    28,March,2004
Name: date, dtype: object
7405     01,June,2004
7405    25,April,2004
Name: date, dtype: object
7406    01,June,2004
7406    23,July,2004
Name: date, dtype: object
7407    30,July,2004
7407    19,July,2004
Name: date, dtype: object
7408    27,July,2004
7408    18,July,2004
Name: date, dtype: object
7409    25,July,2004
7409    18,July,2004
Name: date, dtype: object
7410      19,July,2004
7410    18,August,2004
Name: date, dtype: object
7411      18,July,2004
7411    12,August,2004
Name: date, dtype: object
7412      14,July,2004
7412    07,August,2004
Name: date, dtype: object
7413      14,July,2004
7413    03,August,2004
Name: date, dtype: object
7414      11,July,2004
7414    01,August,2004
Name: date, dtype: object
7415      06,July,2004
7415    01,August,2004
Name: date, dtype: object
7416    06,July,2004
7416    20,July,2004
Name: date, dtype: object
7417    01,July,2004
7417    14,July,2004
Name: date, dtype: object
7418    08,August,2004
7418    03,August,2004
Name: date, dtype: object
7419    04,August,2004
7419      31,July,2004
Name: date, dtype: object
7420    03,August,2004
7420      23,July,2004
Name: date, dtype: object
7421    31,July,2004
7421    20,July,2004
Name: date, dtype: object
7422    30,July,2004
7422    19,July,2004
Name: date, dtype: object

7423    29,July,2004
7423    18,July,2004
Name: date, dtype: object
7424    27,July,2004
7424    18,July,2004
Name: date, dtype: object
7425    26,July,2004
7425    18,July,2004
Name: date, dtype: object
7426    25,July,2004
7426     30,May,2004
Name: date, dtype: object
7427    25,July,2004
7427     29,May,2004
Name: date, dtype: object
7428    09,August,2004
7428       27,May,2004
Name: date, dtype: object
7429    04,August,2004
7429       25,May,2004
Name: date, dtype: object
7430     31,May,2004
7430    30,June,2004
Name: date, dtype: object
7431    04,June,2004
7431    17,June,2004
Name: date, dtype: object
7432    28,December,2003
7432        10,June,2004
Name: date, dtype: object
7433    22,December,2003
7433        09,June,2004
Name: date, dtype: object
7434    20,December,2003
7434        01,June,2004
Name: date, dtype: object
7435    15,December,2003
7435        01,June,2004
Name: date, dtype: object
7436    12,December,2003
7436        19,July,2004
Name: date, dtype: object
7437    07,December,2003
7437        20,June,2004
Name: date, dtype: object
7438    05,December,2003
7438        30,July,2004
Name: date, dtype: object
7439    26,January,2004
7439       24,July,2004
Name: date, dtype: object
7440    23,January,2004
7440       11,July,2004
Name: date, dtype: object
7441    20,January,2004
7441       09,July,2004
Name: date, dtype: object
7442    07,January,2004
7442       05,July,2004
Name: date, dtype: object
7443    05,January,2004
7443     14,August,2004
Name: date, dtype: object
7444    02,February,2004
7444      13,August,2004
Name: date, dtype: object
7445     29,March,2004
7445    13,August,2004
Name: date, dtype: object
7446     24,March,2004
7446    07,August,2004
Name: date, dtype: object
7447     22,March,2004
7447    07,August,2004
Name: date, dtype: object
7448     11,March,2004
7448    07,August,2004
Name: date, dtype: object
7449     28,April,2004
7449    01,August,2004
Name: date, dtype: object
7450     02,May,2004
7450    27,July,2004
Name: date, dtype: object
7451    30,June,2004
7451    26,July,2004
Name: date, dtype: object
7452    05,June,2004
7452    25,July,2004
Name: date, dtype: object
7453    05,June,2004
7453    25,July,2004
Name: date, dtype: object
7454    05,June,2004
7454    30,July,2004
Name: date, dtype: object
7455    05,June,2004
7455    25,July,2004
Name: date, dtype: object
7456    05,June,2004
7456    24,July,2004
Name: date, dtype: object
7457    05,June,2004
7457    23,July,2004
Name: date, dtype: object
7458    05,June,2004
7458    20,July,2004
Name: date, dtype: object
7459    05,June,2004
7459    19,July,2004
Name: date, dtype: object
7460      05,June,2004
7460    09,August,2004
Name: date, dtype: object
7461      05,June,2004
7461    05,August,2004
Name: date, dtype: object
7462    05,June,2004
7462    27,July,2004
Name: date, dtype: object
7463    05,June,2004
7463    26,July,2004
Name: date, dtype: object
7464    05,June,2004
7464    26,July,2004
Name: date, dtype: object
7465    05,June,2004
7465    26,July,2004
Name: date, dtype: object
7466    05,June,2004
7466    25,July,2004
Name: date, dtype: object
7467    05,June,2004
7467    25,July,2004
Name: date, dtype: object
7468    05,June,2004
7468    25,July,2004
Name: date, dtype: object
7469    05,June,2004
7469    25,July,2004
Name: date, dtype: object
7470    05,June,2004
7470    24,July,2004
Name: date, dtype: object
7471    05,June,2004
7471    24,July,2004
Name: date, dtype: object
7472    05,June,2004
7472    24,July,2004
Name: date, dtype: object
7473    05,June,2004
7473    23,July,2004
Name: date, dtype: object
7474    05,June,2004
7474    23,July,2004
Name: date, dtype: object
7475    07,July,2004
7475    23,July,2004
Name: date, dtype: object
7476    17,July,2004
7476    23,July,2004
Name: date, dtype: object
7477    16,July,2004
7477    23,July,2004
Name: date, dtype: object
7478    15,July,2004
7478    23,July,2004
Name: date, dtype: object
7479    14,July,2004
7479    23,July,2004
Name: date, dtype: object
7480    13,July,2004
7480    23,July,2004
Name: date, dtype: object
7481    11,July,2004
7481    23,July,2004
Name: date, dtype: object
7482    11,July,2004
7482    19,July,2004
Name: date, dtype: object
7483    11,July,2004
7483    17,July,2004
Name: date, dtype: object
7484      11,July,2004
7484    14,August,2004
Name: date, dtype: object
7485      24,July,2004
7485    12,August,2004
Name: date, dtype: object
7486      23,July,2004
7486    11,August,2004
Name: date, dtype: object
7487      23,July,2004
7487    11,August,2004
Name: date, dtype: object
7488      22,July,2004
7488    11,August,2004
Name: date, dtype: object
7489      21,July,2004
7489    11,August,2004
Name: date, dtype: object
7490      19,July,2004
7490    04,August,2004
Name: date, dtype: object
7491      18,July,2004
7491    04,August,2004
Name: date, dtype: object
7492      25,July,2004
7492    04,August,2004
Name: date, dtype: object
7493    03,August,2004
7493    04,August,2004
Name: date, dtype: object
7494    02,August,2004
7494    04,August,2004
Name: date, dtype: object
7495    14,August,2004
7495    04,August,2004
Name: date, dtype: object
7496    12,August,2004
7496    03,August,2004
Name: date, dtype: object
7497    10,August,2004
7497    03,August,2004
Name: date, dtype: object
7498    08,August,2004
7498    03,August,2004
Name: date, dtype: object
7499    16,August,2004
7499    03,August,2004
Name: date, dtype: object
7500    15,August,2004
7500      27,June,2004
Name: date, dtype: object
7501    10,August,2004
7501      12,July,2004
Name: date, dtype: object
7502    09,August,2004
7502      28,June,2004
Name: date, dtype: object
7503    08,August,2004
7503      28,June,2004
Name: date, dtype: object
7504    05,August,2004
7504      28,June,2004
Name: date, dtype: object
7505    04,August,2004
7505      03,July,2004
Name: date, dtype: object
7506    04,August,2004
7506       16,May,2004
Name: date, dtype: object
7507    30,June,2004
7507    27,June,2004
Name: date, dtype: object
7508    28,June,2004
7508    24,June,2004
Name: date, dtype: object
7509    27,June,2004
7509    22,June,2004
Name: date, dtype: object
7510    22,June,2004
7510    21,June,2004
Name: date, dtype: object
7511    22,June,2004
7511    20,June,2004
Name: date, dtype: object
7512    22,June,2004
7512    19,June,2004
Name: date, dtype: object
7513    22,June,2004
7513    12,June,2004
Name: date, dtype: object
7514    22,June,2004
7514    09,June,2004
Name: date, dtype: object
7515    22,June,2004
7515    18,July,2004
Name: date, dtype: object
7516    22,June,2004
7516    10,July,2004
Name: date, dtype: object
7517    22,June,2004
7517    06,July,2004
Name: date, dtype: object
7518    22,June,2004
7518    01,July,2004
Name: date, dtype: object
7519      25,July,2004
7519    02,August,2004
Name: date, dtype: object
7520    21,July,2004
7520    31,July,2004
Name: date, dtype: object
7521    21,July,2004
7521    30,July,2004
Name: date, dtype: object
7522    21,July,2004
7522    30,July,2004
Name: date, dtype: object
7523    21,July,2004
7523    29,July,2004
Name: date, dtype: object
7524    21,July,2004
7524    29,July,2004
Name: date, dtype: object
7525    21,July,2004
7525    29,July,2004
Name: date, dtype: object
7526    20,July,2004
7526    29,July,2004
Name: date, dtype: object
7527    18,July,2004
7527    27,July,2004
Name: date, dtype: object
7528    12,July,2004
7528    26,July,2004
Name: date, dtype: object
7529      04,July,2004
7529    01,August,2004
Name: date, dtype: object
7530    01,July,2004
7530    22,July,2004
Name: date, dtype: object
7531    16,August,2004
7531       29,May,2004
Name: date, dtype: object
7532    29,September,2000
7532          27,May,2004
Name: date, dtype: object
7533    29,September,2000
7533          26,May,2004
Name: date, dtype: object
7534    07,October,2000
7534        25,May,2004
Name: date, dtype: object
7535    05,October,2000
7535        22,May,2004
Name: date, dtype: object
7536    05,October,2000
7536        21,May,2004
Name: date, dtype: object
7537    04,October,2000
7537        20,May,2004
Name: date, dtype: object
7538    03,October,2000
7538        19,May,2004
Name: date, dtype: object
7539    02,October,2000
7539        19,May,2004
Name: date, dtype: object
7540    02,October,2000
7540        19,May,2004
Name: date, dtype: object
7541    01,October,2000
7541       28,June,2004
Name: date, dtype: object
7542    01,October,2000
7542       13,June,2004
Name: date, dtype: object
7543    01,October,2000
7543       06,June,2004
Name: date, dtype: object
7544    01,October,2000
7544       22,July,2004
Name: date, dtype: object
7545    01,October,2000
7545       19,July,2004
Name: date, dtype: object
7546    14,October,2000
7546       14,July,2004
Name: date, dtype: object
7547    10,October,2000
7547       14,July,2004
Name: date, dtype: object
7548    10,October,2000
7548       14,July,2004
Name: date, dtype: object
7549    08,October,2000
7549       14,July,2004
Name: date, dtype: object
7550    08,October,2000
7550       12,July,2004
Name: date, dtype: object
7551    16,October,2000
7551       08,July,2004
Name: date, dtype: object
7552    27,October,2000
7552     10,August,2004
Name: date, dtype: object
7553    26,October,2000
7553     05,August,2004
Name: date, dtype: object
7554    23,October,2000
7554     04,August,2004
Name: date, dtype: object
7555    22,October,2000
7555        31,May,2004
Name: date, dtype: object
7556    22,October,2000
7556       24,June,2004
Name: date, dtype: object
7557    30,October,2000
7557       19,June,2004
Name: date, dtype: object
7558    18,November,2000
7558        15,June,2004
Name: date, dtype: object
7559    14,November,2000
7559        14,June,2004
Name: date, dtype: object
7560    14,November,2000
7560        08,June,2004
Name: date, dtype: object
7561    13,December,2000
7561        01,June,2004
Name: date, dtype: object
7562    13,December,2000
7562      06,August,2004
Name: date, dtype: object
7563    13,December,2000
7563        23,July,2004
Name: date, dtype: object
7564    13,December,2000
7564        23,July,2004
Name: date, dtype: object
7565    13,December,2000
7565        23,July,2004
Name: date, dtype: object
7566    21,December,2000
7566        23,July,2004
Name: date, dtype: object
7567    20,December,2000
7567        23,July,2004
Name: date, dtype: object

7568    20,December,2000
7568        23,July,2004
Name: date, dtype: object
7569    29,December,2000
7569        23,July,2004
Name: date, dtype: object
7570    27,December,2000
7570        23,July,2004
Name: date, dtype: object
7571    27,December,2000
7571        23,July,2004
Name: date, dtype: object
7572    27,December,2000
7572        23,July,2004
Name: date, dtype: object
7573    27,December,2000
7573        23,July,2004
Name: date, dtype: object
7574    03,January,2001
7574       23,July,2004
Name: date, dtype: object
7575    02,January,2001
7575       23,July,2004
Name: date, dtype: object
7576    01,January,2001
7576       23,July,2004
Name: date, dtype: object
7577    07,January,2001
7577       23,July,2004
Name: date, dtype: object
7578    20,January,2001
7578       23,July,2004
Name: date, dtype: object
7579    19,January,2001
7579       29,June,2004
Name: date, dtype: object
7580    26,January,2001
7580       28,June,2004
Name: date, dtype: object
7581    25,January,2001
7581       28,June,2004
Name: date, dtype: object
7582    24,January,2001
7582       26,June,2004
Name: date, dtype: object
7583    29,January,2001
7583       26,June,2004
Name: date, dtype: object
7584    28,January,2001
7584       26,June,2004
Name: date, dtype: object
7585    08,February,2001
7585        25,June,2004
Name: date, dtype: object
7586    06,February,2001
7586        25,June,2004
Name: date, dtype: object
7587    15,February,2001
7587        25,June,2004
Name: date, dtype: object
7588    03,March,2001
7588     25,June,2004
Name: date, dtype: object
7589    10,March,2001
7589     25,June,2004
Name: date, dtype: object
7590    09,March,2001
7590     25,June,2004
Name: date, dtype: object
7591    08,March,2001
7591     25,June,2004
Name: date, dtype: object
7592    05,March,2001
7592     25,June,2004
Name: date, dtype: object
7593    05,March,2001
7593     25,June,2004
Name: date, dtype: object
7594    05,March,2001
7594     25,June,2004
Name: date, dtype: object
7595    19,March,2001
7595     25,June,2004
Name: date, dtype: object
7596    14,April,2001
7596     24,June,2004
Name: date, dtype: object
7597    18,April,2001
7597     24,June,2004
Name: date, dtype: object
7598    28,April,2001
7598     24,June,2004
Name: date, dtype: object
7599    27,April,2001
7599     25,July,2004
Name: date, dtype: object
7600    26,April,2001
7600     24,July,2004
Name: date, dtype: object
7601    26,April,2001
7601     22,July,2004
Name: date, dtype: object
7602    23,April,2001
7602     20,July,2004
Name: date, dtype: object
7603    23,April,2001
7603     20,July,2004
Name: date, dtype: object
7604    23,April,2001
7604     20,July,2004
Name: date, dtype: object
7605     05,May,2001
7605    16,July,2004
Name: date, dtype: object
7606    30,April,2001
7606     16,July,2004
Name: date, dtype: object
7607     14,May,2001
7607    08,July,2004
Name: date, dtype: object
7608     24,May,2001
7608    04,July,2004
Name: date, dtype: object
7609     23,May,2001
7609    01,July,2004
Name: date, dtype: object
7610       23,May,2001
7610    12,August,2004
Name: date, dtype: object
7611       23,May,2001
7611    04,August,2004
Name: date, dtype: object
7612    30,May,2001
7612    13,May,2004
Name: date, dtype: object
7613    09,June,2001
7613    30,June,2004
Name: date, dtype: object
7614    08,June,2001
7614    29,June,2004
Name: date, dtype: object
7615    06,June,2001
7615    12,June,2004
Name: date, dtype: object
7616    06,July,2001
7616    11,June,2004
Name: date, dtype: object
7617    12,July,2001
7617    29,July,2004
Name: date, dtype: object
7618      20,July,2001
7618    24,August,2004
Name: date, dtype: object
7619      19,July,2001
7619    24,August,2004
Name: date, dtype: object
7620      22,July,2001
7620    18,August,2004
Name: date, dtype: object
7621      22,July,2001
7621    19,August,2004
Name: date, dtype: object
7622    02,August,2001
7622    19,August,2004
Name: date, dtype: object
7623    09,August,2001
7623    20,August,2004
Name: date, dtype: object
7624    08,August,2001
7624    20,August,2004
Name: date, dtype: object
7625    08,August,2001
7625    23,August,2004
Name: date, dtype: object
7626    15,August,2001
7626      30,June,2004
Name: date, dtype: object
7627    22,August,2001
7627      29,June,2004
Name: date, dtype: object
7628    26,August,2001
7628      28,June,2004
Name: date, dtype: object
7629    18,September,2001
7629         28,June,2004
Name: date, dtype: object
7630    21,February,2002
7630        27,June,2004
Name: date, dtype: object
7631    06,June,2002
7631    26,June,2004
Name: date, dtype: object
7632    04,June,2002
7632    26,June,2004
Name: date, dtype: object
7633    04,June,2002
7633    25,June,2004
Name: date, dtype: object
7634    10,June,2002
7634    25,June,2004
Name: date, dtype: object
7635    06,July,2002
7635    24,June,2004
Name: date, dtype: object
7636    01,July,2002
7636    23,June,2004
Name: date, dtype: object
7637    01,July,2002
7637    23,June,2004
Name: date, dtype: object
7638    12,July,2002
7638    22,June,2004
Name: date, dtype: object
7639    15,July,2002
7639    22,June,2004
Name: date, dtype: object
7640    20,August,2002
7640      22,June,2004
Name: date, dtype: object
7641    02,September,2002
7641         21,June,2004
Name: date, dtype: object
7642    10,September,2002
7642         20,June,2004
Name: date, dtype: object
7643    17,September,2002
7643         20,June,2004
Name: date, dtype: object
7644    27,September,2002
7644         20,June,2004
Name: date, dtype: object
7645    26,September,2002
7645         20,June,2004
Name: date, dtype: object
7646    26,September,2002
7646         20,June,2004
Name: date, dtype: object
7647    11,October,2002
7647       20,June,2004
Name: date, dtype: object
7648    08,October,2002
7648       31,July,2004
Name: date, dtype: object
7649    08,October,2002
7649       29,July,2004
Name: date, dtype: object
7650    07,October,2002
7650       28,July,2004
Name: date, dtype: object
7651    07,October,2002
7651       26,July,2004
Name: date, dtype: object
7652    07,October,2002
7652       24,July,2004
Name: date, dtype: object
7653    07,October,2002
7653       23,July,2004
Name: date, dtype: object
7654    19,October,2002
7654       21,July,2004
Name: date, dtype: object
7655    18,October,2002
7655       19,July,2004
Name: date, dtype: object
7656    16,October,2002
7656       18,July,2004
Name: date, dtype: object
7657    15,October,2002
7657       16,July,2004
Name: date, dtype: object
7658    14,October,2002
7658       15,July,2004
Name: date, dtype: object
7659    25,October,2002
7659       13,July,2004
Name: date, dtype: object
7660    30,October,2002
7660       13,July,2004
Name: date, dtype: object
7661    28,October,2002
7661       12,July,2004
Name: date, dtype: object
7662    09,November,2002
7662        11,July,2004
Name: date, dtype: object
7663    05,November,2002
7663        10,July,2004
Name: date, dtype: object
7664    12,November,2002
7664        09,July,2004
Name: date, dtype: object
7665    20,November,2002
7665        08,July,2004
Name: date, dtype: object
7666    18,November,2002
7666        08,July,2004
Name: date, dtype: object
7667    29,November,2002
7667        07,July,2004
Name: date, dtype: object
7668    24,November,2002
7668        06,July,2004
Name: date, dtype: object
7669    09,January,2003
7669       05,July,2004
Name: date, dtype: object
7670    16,January,2003
7670       04,July,2004
Name: date, dtype: object
7671    12,January,2003
7671       04,July,2004
Name: date, dtype: object
7672    12,January,2003
7672       02,July,2004
Name: date, dtype: object
7673    28,January,2003
7673       02,July,2004
Name: date, dtype: object
7674    22,February,2003
7674        02,July,2004
Name: date, dtype: object
7675    21,February,2003
7675      16,August,2004
Name: date, dtype: object
7676    19,February,2003
7676      15,August,2004
Name: date, dtype: object
7677    26,February,2003
7677      13,August,2004
Name: date, dtype: object
7678    25,February,2003
7678      08,August,2004
Name: date, dtype: object
7679    25,February,2003
7679      06,August,2004
Name: date, dtype: object
7680     08,March,2003
7680    05,August,2004
Name: date, dtype: object
7681    28,March,2003
7681     30,July,2004
Name: date, dtype: object
7682     27,March,2003
7682    03,August,2004
Name: date, dtype: object
7683     02,April,2003
7683    03,August,2004
Name: date, dtype: object
7684    02,April,2003
7684      31,May,2004
Name: date, dtype: object
7685    16,April,2003
7685      30,May,2004
Name: date, dtype: object
7686    15,April,2003
7686      30,May,2004
Name: date, dtype: object
7687    26,April,2003
7687      27,May,2004
Name: date, dtype: object
7688    25,April,2003
7688    29,March,2003
Name: date, dtype: object
7689     10,June,2003
7689    27,March,2003
Name: date, dtype: object
7690     10,June,2003
7690    26,March,2003
Name: date, dtype: object
7691     12,June,2004
7691    25,March,2003
Name: date, dtype: object
7692     11,June,2004
7692    23,April,2003
Name: date, dtype: object
7693     11,June,2004
7693    16,April,2003
Name: date, dtype: object
7694     11,June,2004
7694    12,April,2003
Name: date, dtype: object
7695     11,June,2004
7695    04,April,2003
Name: date, dtype: object
7696     11,June,2004
7696    02,April,2003
Name: date, dtype: object
7697     11,June,2004
7697    01,April,2003
Name: date, dtype: object
7698    11,June,2004
7698     27,May,2003
Name: date, dtype: object
7699    19,June,2004
7699     15,May,2003
Name: date, dtype: object
7700    19,June,2004
7700     14,May,2003
Name: date, dtype: object
7701    26,June,2004
7701     02,May,2003
Name: date, dtype: object
7702    25,June,2004
7702    30,June,2003
Name: date, dtype: object
7703    24,June,2004
7703    27,June,2003
Name: date, dtype: object
7704    23,June,2004
7704    24,June,2003
Name: date, dtype: object
7705    21,June,2004
7705    20,June,2003
Name: date, dtype: object
7706    21,June,2004
7706    18,June,2003
Name: date, dtype: object
7707    21,June,2004
7707    14,June,2003
Name: date, dtype: object
7708    21,June,2004
7708    13,June,2003
Name: date, dtype: object
7709    20,June,2004
7709    04,June,2003
Name: date, dtype: object
7710    20,June,2004
7710    31,July,2003
Name: date, dtype: object
7711    20,June,2004
7711    25,July,2003
Name: date, dtype: object
7712    02,July,2004
7712    21,July,2003
Name: date, dtype: object
7713    30,June,2004
7713    15,July,2003
Name: date, dtype: object
7714    28,June,2004
7714    09,July,2003
Name: date, dtype: object
7715    27,June,2004
7715    08,July,2003

Name: date, dtype: object
7716    27,June,2004
7716    05,July,2003
Name: date, dtype: object
7717    07,July,2004
7717    02,July,2003
Name: date, dtype: object
7718      04,July,2004
7718    27,August,2003
Name: date, dtype: object
7719      04,July,2004
7719    19,August,2003
Name: date, dtype: object
7720      04,July,2004
7720    13,August,2003
Name: date, dtype: object
7721      14,July,2004
7721    11,August,2003
Name: date, dtype: object
7722      12,July,2004
7722    06,August,2003
Name: date, dtype: object
7723         20,July,2004
7723    27,September,2003
Name: date, dtype: object
7724         18,July,2004
7724    23,September,2003
Name: date, dtype: object
7725       04,August,2004
7725    22,September,2003
Name: date, dtype: object
7726         27,June,2004
7726    20,September,2003
Name: date, dtype: object
7727         23,June,2004
7727    18,September,2003
Name: date, dtype: object
7728         21,June,2004
7728    17,September,2003
Name: date, dtype: object
7729         20,June,2004
7729    07,September,2003
Name: date, dtype: object
7730         14,June,2004
7730    05,September,2003
Name: date, dtype: object
7731         13,June,2004
7731    04,September,2003
Name: date, dtype: object
7732         11,June,2004
7732    03,September,2003
Name: date, dtype: object
7733       09,June,2004
7733    29,October,2003
Name: date, dtype: object
7734       07,June,2004
7734    28,October,2003
Name: date, dtype: object
7735        24,July,2004
7735    29,November,2003
Name: date, dtype: object
7736        10,July,2004
7736    10,November,2003
Name: date, dtype: object
7737      06,August,2004
7737    09,November,2003
Name: date, dtype: object
7738         28,May,2004
7738    08,November,2003
Name: date, dtype: object
7739         26,May,2004
7739    05,November,2003
Name: date, dtype: object
7740         24,May,2004
7740    05,November,2003
Name: date, dtype: object
7741         22,May,2004
7741    30,December,2003
Name: date, dtype: object
7742         22,May,2004
7742    17,December,2003
Name: date, dtype: object
7743         21,May,2004
7743    05,December,2003
Name: date, dtype: object
7744         20,May,2004
7744    02,December,2003
Name: date, dtype: object
7745        19,May,2004
7745    16,January,2004
Name: date, dtype: object
7746       28,June,2004
7746    09,January,2004
Name: date, dtype: object
7747       25,June,2004
7747    03,January,2004
Name: date, dtype: object
7748        18,June,2004
7748    11,February,2004
Name: date, dtype: object
7749        14,June,2004
7749    08,February,2004
Name: date, dtype: object
7750        10,June,2004
7750    05,February,2004
Name: date, dtype: object
7751     06,June,2004
7751    29,March,2004
Name: date, dtype: object
7752     04,June,2004
7752    14,March,2004
Name: date, dtype: object
7753     01,June,2004
7753    06,March,2004
Name: date, dtype: object
7754     01,June,2004
7754    01,March,2004
Name: date, dtype: object
7755     14,July,2004
7755    22,April,2004
Name: date, dtype: object
7756    01,August,2004
7756     20,April,2004
Name: date, dtype: object
7757      28,May,2004
7757    19,April,2004
Name: date, dtype: object
7758      27,May,2004
7758    14,April,2004
Name: date, dtype: object
7759      26,May,2004
7759    13,April,2004
Name: date, dtype: object
7760      26,May,2004
7760    01,April,2004
Name: date, dtype: object
7761    30,June,2004
7761     23,May,2004
Name: date, dtype: object
7762    28,June,2004
7762     21,May,2004
Name: date, dtype: object
7763    21,June,2004
7763     20,May,2004
Name: date, dtype: object
7764    13,June,2004
7764     13,May,2004
Name: date, dtype: object
7765    11,June,2004
7765     11,May,2004
Name: date, dtype: object
7766    10,June,2004
7766     08,May,2004
Name: date, dtype: object
7767    09,June,2004
7767     07,May,2004
Name: date, dtype: object
7768    09,June,2004
7768     07,May,2004
Name: date, dtype: object
7769    04,June,2004
7769     03,May,2004
Name: date, dtype: object
7770    04,June,2004
7770     03,May,2004
Name: date, dtype: object
7771    03,June,2004
7771     02,May,2004
Name: date, dtype: object
7772    02,June,2004
7772    23,June,2004
Name: date, dtype: object
7773    01,June,2004
7773    19,June,2004
Name: date, dtype: object
7774    30,July,2004
7774    17,June,2004
Name: date, dtype: object
7775    29,July,2004
7775    14,June,2004
Name: date, dtype: object
7776    26,July,2004
7776    10,June,2004
Name: date, dtype: object
7777    24,July,2004
7777    08,June,2004
Name: date, dtype: object
7778    23,July,2004
7778    06,June,2004
Name: date, dtype: object
7779    22,July,2004
7779    06,June,2004
Name: date, dtype: object
7780    19,July,2004
7780    06,June,2004
Name: date, dtype: object
7781    15,July,2004
7781    28,July,2004
Name: date, dtype: object
7782    14,July,2004
7782    24,July,2004
Name: date, dtype: object
7783    09,July,2004
7783    10,July,2004
Name: date, dtype: object
7784    09,July,2004
7784    06,July,2004
Name: date, dtype: object
7785    06,July,2004
7785    30,July,2004
Name: date, dtype: object
7786    10,August,2004
7786      29,July,2004
Name: date, dtype: object
7787    09,August,2004
7787      28,July,2004
Name: date, dtype: object
7788    06,August,2004
7788      27,July,2004
Name: date, dtype: object
7789    04,August,2004
7789      26,July,2004
Name: date, dtype: object
7790    02,August,2004
7790    18,August,2004
Name: date, dtype: object
7791    02,August,2004
7791    13,August,2004
Name: date, dtype: object
7792    02,August,2004
7792    11,August,2004
Name: date, dtype: object
7793      11,July,2004
7793    09,August,2004
Name: date, dtype: object
7794      29,June,2004
7794    03,August,2004
Name: date, dtype: object
7795      25,June,2004
7795    02,August,2004
Name: date, dtype: object
7796      23,June,2004
7796    01,August,2004
Name: date, dtype: object
7797     21,June,2004
7797    16,April,2004
Name: date, dtype: object
7798     21,June,2004
7798    14,April,2004
Name: date, dtype: object
7799    02,July,2004
7799     10,May,2004
Name: date, dtype: object
7800    01,July,2004
7800     04,May,2004
Name: date, dtype: object
7801    01,July,2004
7801    22,June,2004
Name: date, dtype: object
7802    28,August,2003
7802      19,June,2004
Name: date, dtype: object
7803    27,August,2003
7803      19,June,2004
Name: date, dtype: object
7804    27,August,2003
7804       17,May,2004
Name: date, dtype: object
7805    27,August,2003
7805       17,May,2004
Name: date, dtype: object
7806    26,August,2003
7806       17,May,2004
Name: date, dtype: object
7807    26,August,2003
7807       17,May,2004
Name: date, dtype: object
7808    24,August,2003
7808       17,May,2004
Name: date, dtype: object
7809    22,August,2003
7809       17,May,2004
Name: date, dtype: object
7810    22,August,2003
7810       17,May,2004
Name: date, dtype: object
7811    22,August,2003
7811       17,May,2004
Name: date, dtype: object
7812    21,August,2003
7812       17,May,2004
Name: date, dtype: object
7813    21,August,2003
7813       17,May,2004
Name: date, dtype: object
7814    21,August,2003
7814       17,May,2004
Name: date, dtype: object
7815    28,September,2003
7815          17,May,2004
Name: date, dtype: object
7816    25,September,2003
7816          17,May,2004
Name: date, dtype: object
7817    23,September,2003
7817          17,May,2004
Name: date, dtype: object
7818    21,September,2003
7818          17,May,2004
Name: date, dtype: object
7819    17,September,2003
7819          17,May,2004
Name: date, dtype: object
7820    17,September,2003
7820          17,May,2004
Name: date, dtype: object
7821    14,September,2003
7821          17,May,2004
Name: date, dtype: object
7822    13,September,2003
7822          17,May,2004
Name: date, dtype: object
7823    11,September,2003
7823          17,May,2004
Name: date, dtype: object
7824    10,September,2003
7824          17,May,2004
Name: date, dtype: object
7825    07,September,2003
7825          17,May,2004
Name: date, dtype: object
7826    06,September,2003
7826          17,May,2004
Name: date, dtype: object
7827    04,September,2003
7827          17,May,2004
Name: date, dtype: object
7828    02,September,2003
7828          17,May,2004
Name: date, dtype: object
7829    01,September,2003
7829          17,May,2004
Name: date, dtype: object
7830    28,October,2003
7830        17,May,2004
Name: date, dtype: object
7831    27,October,2003
7831        17,May,2004
Name: date, dtype: object
7832    26,October,2003
7832        17,May,2004
Name: date, dtype: object
7833    24,October,2003
7833        17,May,2004
Name: date, dtype: object
7834    21,October,2003
7834        17,May,2004
Name: date, dtype: object
7835    19,October,2003
7835        17,May,2004
Name: date, dtype: object
7836    15,October,2003
7836        17,May,2004
Name: date, dtype: object
7837    13,October,2003
7837        17,May,2004
Name: date, dtype: object
7838    08,October,2003
7838        17,May,2004
Name: date, dtype: object
7839    02,October,2003
7839        17,May,2004
Name: date, dtype: object
7840    02,October,2003
7840        17,May,2004
Name: date, dtype: object
7841    01,October,2003
7841       15,July,2004
Name: date, dtype: object
7842    28,November,2003
7842        15,July,2004
Name: date, dtype: object
7843    26,November,2003
7843        29,June,2004
Name: date, dtype: object
7844    24,November,2003
7844        29,June,2004
Name: date, dtype: object
7845    21,November,2003
7845        29,June,2004
Name: date, dtype: object
7846    19,November,2003
7846        15,July,2004
Name: date, dtype: object
7847    18,November,2003
7847        06,July,2004
Name: date, dtype: object
7848    17,November,2003
7848        04,July,2004
Name: date, dtype: object
7849    14,November,2003
7849        01,July,2004
Name: date, dtype: object
7850    13,November,2003
7850        29,June,2004
Name: date, dtype: object
7851    09,November,2003
7851        16,June,2004
Name: date, dtype: object
7852    02,November,2003
7852        12,June,2004
Name: date, dtype: object
7853    31,December,2003
7853        12,June,2004
Name: date, dtype: object
7854    30,December,2003
7854        11,June,2004
Name: date, dtype: object
7855    29,December,2003
7855        09,June,2004
Name: date, dtype: object
7856    28,December,2003
7856        08,June,2004
Name: date, dtype: object
7857    28,December,2003
7857        07,June,2004
Name: date, dtype: object

7858    22,December,2003
7858        07,June,2004
Name: date, dtype: object
7859    15,December,2003
7859        06,June,2004
Name: date, dtype: object
7860    15,December,2003
7860        06,June,2004
Name: date, dtype: object
7861    14,December,2003
7861        06,June,2004
Name: date, dtype: object
7862    11,December,2003
7862        04,June,2004
Name: date, dtype: object
7863    08,December,2003
7863        04,June,2004
Name: date, dtype: object
7864    08,December,2003
7864        03,June,2004
Name: date, dtype: object
7865    07,December,2003
7865        03,June,2004
Name: date, dtype: object
7866    02,December,2003
7866        02,June,2004
Name: date, dtype: object
7867    01,December,2003
7867        02,June,2004
Name: date, dtype: object
7868    31,January,2004
7868       31,July,2004
Name: date, dtype: object
7869    27,January,2004
7869       29,July,2004
Name: date, dtype: object
7870    26,January,2004
7870       24,July,2004
Name: date, dtype: object
7871    26,January,2004
7871       23,July,2004
Name: date, dtype: object
7872    26,January,2004
7872       23,July,2004
Name: date, dtype: object
7873    25,January,2004
7873       23,July,2004
Name: date, dtype: object
7874    25,January,2004
7874       22,July,2004
Name: date, dtype: object
7875    25,January,2004
7875       20,July,2004
Name: date, dtype: object
7876    21,January,2004
7876       20,July,2004
Name: date, dtype: object
7877    20,January,2004
7877       16,July,2004
Name: date, dtype: object
7878    19,January,2004
7878       16,July,2004
Name: date, dtype: object
7879    19,January,2004
7879       04,July,2004
Name: date, dtype: object
7880    18,January,2004
7880       03,July,2004
Name: date, dtype: object
7881    18,January,2004
7881       01,July,2004
Name: date, dtype: object
7882    16,January,2004
7882     05,August,2004
Name: date, dtype: object
7883    14,January,2004
7883     02,August,2004
Name: date, dtype: object
7884    12,January,2004
7884     02,August,2004
Name: date, dtype: object
7885    07,January,2004
7885     02,August,2004
Name: date, dtype: object
7886    04,January,2004
7886     02,August,2004
Name: date, dtype: object
7887    04,January,2004
7887     02,August,2004
Name: date, dtype: object
7888    27,February,2004
7888      02,August,2004
Name: date, dtype: object
7889    23,February,2004
7889      02,August,2004
Name: date, dtype: object
7890    19,February,2004
7890      02,August,2004
Name: date, dtype: object
7891    19,February,2004
7891      02,August,2004
Name: date, dtype: object
7892    19,February,2004
7892        07,July,2004
Name: date, dtype: object
7893    18,February,2004
7893        29,July,2004
Name: date, dtype: object
7894    16,February,2004
7894        26,July,2004
Name: date, dtype: object
7895    16,February,2004
7895        26,July,2004
Name: date, dtype: object
7896    12,February,2004
7896        26,July,2004
Name: date, dtype: object
7897    12,February,2004
7897        25,July,2004
Name: date, dtype: object
7898    11,February,2004
7898        25,July,2004
Name: date, dtype: object
7899    09,February,2004
7899        24,July,2004
Name: date, dtype: object
7900    06,February,2004
7900        21,July,2004
Name: date, dtype: object
7901    04,February,2004
7901        21,July,2004
Name: date, dtype: object
7902    02,February,2004
7902        21,July,2004
Name: date, dtype: object
7903    02,February,2004
7903        20,July,2004
Name: date, dtype: object
7904    29,March,2004
7904     20,July,2004
Name: date, dtype: object
7905    28,March,2004
7905     20,July,2004
Name: date, dtype: object
7906    25,March,2004
7906     19,July,2004
Name: date, dtype: object
7907    24,March,2004
7907     19,July,2004
Name: date, dtype: object
7908    22,March,2004
7908     19,July,2004
Name: date, dtype: object
7909    19,March,2004
7909     19,July,2004
Name: date, dtype: object
7910    16,March,2004
7910     19,July,2004
Name: date, dtype: object
7911     14,March,2004
7911    18,August,2004
Name: date, dtype: object
7912     12,March,2004
7912    16,August,2004
Name: date, dtype: object
7913     11,March,2004
7913    13,August,2004
Name: date, dtype: object
7914     10,March,2004
7914    09,August,2004
Name: date, dtype: object
7915     09,March,2004
7915    06,August,2004
Name: date, dtype: object
7916     09,March,2004
7916    05,August,2004
Name: date, dtype: object
7917     08,March,2004
7917    19,August,2004
Name: date, dtype: object
7918     07,March,2004
7918    16,August,2004
Name: date, dtype: object
7919     04,March,2004
7919    09,August,2004
Name: date, dtype: object
7920     04,March,2004
7920    09,August,2004
Name: date, dtype: object
7921     03,March,2004
7921    09,August,2004
Name: date, dtype: object
7922     01,March,2004
7922    08,August,2004
Name: date, dtype: object
7923     01,March,2004
7923    06,August,2004
Name: date, dtype: object
7924     28,April,2004
7924    05,August,2004
Name: date, dtype: object
7925     27,April,2004
7925    04,August,2004
Name: date, dtype: object
7926     25,April,2004
7926    04,August,2004
Name: date, dtype: object
7927    25,April,2004
7927     27,June,2004
Name: date, dtype: object
7928    22,April,2004
7928     22,June,2004
Name: date, dtype: object
7929    20,April,2004
7929     18,June,2004
Name: date, dtype: object
7930    14,April,2004
7930     17,June,2004
Name: date, dtype: object
7931    13,April,2004
7931     16,June,2004
Name: date, dtype: object
7932    12,April,2004
7932     16,June,2004
Name: date, dtype: object
7933    11,April,2004
7933     15,June,2004
Name: date, dtype: object
7934    08,April,2004
7934     15,June,2004
Name: date, dtype: object
7935    07,April,2004
7935     15,June,2004
Name: date, dtype: object
7936    05,April,2004
7936     14,June,2004
Name: date, dtype: object
7937    02,April,2004
7937     14,June,2004
Name: date, dtype: object
7938    02,April,2004
7938     14,June,2004
Name: date, dtype: object
7939     31,May,2004
7939    13,June,2004
Name: date, dtype: object
7940     26,May,2004
7940    13,June,2004
Name: date, dtype: object
7941     25,May,2004
7941    13,June,2004
Name: date, dtype: object
7942     24,May,2004
7942    13,June,2004
Name: date, dtype: object
7943     19,May,2004
7943    12,June,2004
Name: date, dtype: object
7944     19,May,2004
7944    12,June,2004
Name: date, dtype: object
7945     17,May,2004
7945    12,June,2004
Name: date, dtype: object
7946     14,May,2004
7946    12,June,2004
Name: date, dtype: object
7947     13,May,2004
7947    12,June,2004
Name: date, dtype: object
7948     12,May,2004
7948    12,June,2004
Name: date, dtype: object
7949     10,May,2004
7949    03,July,2004
Name: date, dtype: object
7950     09,May,2004
7950    19,June,2004
Name: date, dtype: object
7951     07,May,2004
7951    18,June,2004
Name: date, dtype: object
7952     06,May,2004
7952    18,June,2004
Name: date, dtype: object
7953     03,May,2004
7953    17,June,2004
Name: date, dtype: object
7954     03,May,2004
7954    17,June,2004
Name: date, dtype: object
7955    30,June,2004
7955    17,June,2004
Name: date, dtype: object
7956    27,June,2004
7956    17,June,2004
Name: date, dtype: object
7957    17,June,2004
7957    17,June,2004
Name: date, dtype: object
7958    16,June,2004
7958    26,June,2004
Name: date, dtype: object
7959    15,June,2004
7959    24,June,2004
Name: date, dtype: object
7960    13,June,2004
7960    23,June,2004
Name: date, dtype: object
7961    11,June,2004
7961    23,June,2004
Name: date, dtype: object
7962    10,June,2004
7962    22,June,2004
Name: date, dtype: object
7963    09,June,2004
7963    22,June,2004
Name: date, dtype: object
7964    07,June,2004
7964    22,June,2004
Name: date, dtype: object
7965    04,June,2004
7965    21,June,2004
Name: date, dtype: object
7966    02,June,2004
7966    21,June,2004
Name: date, dtype: object
7967    31,July,2004
7967    21,June,2004
Name: date, dtype: object
7968    28,July,2004
7968    02,July,2004
Name: date, dtype: object
7969    23,July,2004
7969    01,July,2004
Name: date, dtype: object
7970    23,July,2004
7970    01,July,2004
Name: date, dtype: object
7971    22,July,2004
7971    30,June,2004
Name: date, dtype: object
7972    21,July,2004
7972    29,June,2004
Name: date, dtype: object
7973    16,July,2004
7973    29,June,2004
Name: date, dtype: object
7974    12,July,2004
7974    29,June,2004
Name: date, dtype: object
7975    09,July,2004
7975    29,June,2004
Name: date, dtype: object
7976    08,July,2004
7976    29,June,2004
Name: date, dtype: object
7977    08,July,2004
7977    08,July,2004
Name: date, dtype: object
7978    01,July,2004
7978    16,July,2004
Name: date, dtype: object
7979    11,August,2004
7979      14,July,2004
Name: date, dtype: object
7980    09,August,2004
7980      24,July,2004
Name: date, dtype: object
7981    07,August,2004
7981      19,July,2004
Name: date, dtype: object
7982    04,August,2004
7982    09,August,2004
Name: date, dtype: object
7983    03,August,2004
7983    08,August,2004
Name: date, dtype: object
7984      07,June,2004
7984    08,August,2004
Name: date, dtype: object
7985      07,June,2004
7985    15,August,2004
Name: date, dtype: object
7986      07,June,2004
7986    01,August,2004
Name: date, dtype: object
7987      30,June,2004
7987    01,August,2004
Name: date, dtype: object
7988      23,June,2004
7988    01,August,2004
Name: date, dtype: object
7989      16,June,2004
7989    01,August,2004
Name: date, dtype: object
7990      16,June,2004
7990    01,August,2004
Name: date, dtype: object
7991      09,June,2004
7991    01,August,2004
Name: date, dtype: object
7992    30,September,2003
7992       01,August,2004
Name: date, dtype: object
7993    24,September,2003
7993       01,August,2004
Name: date, dtype: object
7994    30,October,2003
7994     01,August,2004
Name: date, dtype: object
7995    13,October,2003
7995     01,August,2004
Name: date, dtype: object
7996    15,January,2004
7996     01,August,2004
Name: date, dtype: object
7997    04,February,2004
7997      01,August,2004
Name: date, dtype: object
7998    03,February,2004
7998      01,August,2004
Name: date, dtype: object
7999     29,March,2004
7999    01,August,2004
Name: date, dtype: object
8000     08,March,2004
8000    01,August,2004
Name: date, dtype: object
8001     07,March,2004
8001    01,August,2004
Name: date, dtype: object
8002     05,March,2004
8002    01,August,2004
Name: date, dtype: object
8003     04,March,2004
8003    01,August,2004
Name: date, dtype: object

8004     02,April,2004
8004    01,August,2004
Name: date, dtype: object
8005     30,May,2004
8005    29,June,2004
Name: date, dtype: object
8006     29,May,2004
8006    27,June,2004
Name: date, dtype: object
8007     28,May,2004
8007    26,July,2004
Name: date, dtype: object
8008     27,May,2004
8008    29,June,2004
Name: date, dtype: object
8009     26,May,2004
8009    14,June,2004
Name: date, dtype: object
8010      24,May,2004
8010    31,March,2004
Name: date, dtype: object
8011      21,May,2004
8011    30,March,2004
Name: date, dtype: object
8012      20,May,2004
8012    30,March,2004
Name: date, dtype: object
8013      20,May,2004
8013    29,April,2004
Name: date, dtype: object
8014      19,May,2004
8014    28,April,2004
Name: date, dtype: object
8015      18,May,2004
8015    26,April,2004
Name: date, dtype: object
8016      17,May,2004
8016    24,April,2004
Name: date, dtype: object
8017      16,May,2004
8017    23,April,2004
Name: date, dtype: object
8018      15,May,2004
8018    21,April,2004
Name: date, dtype: object
8019      15,May,2004
8019    20,April,2004
Name: date, dtype: object
8020      15,May,2004
8020    18,April,2004
Name: date, dtype: object
8021      15,May,2004
8021    15,April,2004
Name: date, dtype: object
8022      15,May,2004
8022    14,April,2004
Name: date, dtype: object
8023      14,May,2004
8023    11,April,2004
Name: date, dtype: object
8024      13,May,2004
8024    10,April,2004
Name: date, dtype: object
8025      12,May,2004
8025    09,April,2004
Name: date, dtype: object
8026      11,May,2004
8026    08,April,2004
Name: date, dtype: object
8027      10,May,2004
8027    08,April,2004
Name: date, dtype: object
8028      09,May,2004
8028    08,April,2004
Name: date, dtype: object
8029     21,June,2004
8029    08,April,2004
Name: date, dtype: object
8030     19,June,2004
8030    05,April,2004
Name: date, dtype: object
8031     15,June,2004
8031    02,April,2004
Name: date, dtype: object
8032     11,June,2004
8032    02,April,2004
Name: date, dtype: object
8033     07,June,2004
8033    01,April,2004
Name: date, dtype: object
8034    04,June,2004
8034     25,May,2004
Name: date, dtype: object
8035    01,June,2004
8035     22,May,2004
Name: date, dtype: object
8036    08,August,2004
8036       22,May,2004
Name: date, dtype: object
8037    12,July,2004
8037     21,May,2004
Name: date, dtype: object
8038    12,July,2004
8038     19,May,2004
Name: date, dtype: object
8039    27,May,2004
8039    19,May,2004
Name: date, dtype: object
8040    20,May,2004
8040    18,May,2004
Name: date, dtype: object
8041    20,May,2004
8041    17,May,2004
Name: date, dtype: object
8042    18,May,2004
8042    17,May,2004
Name: date, dtype: object
8043    18,May,2004
8043    12,May,2004
Name: date, dtype: object
8044    24,June,2004
8044     11,May,2004
Name: date, dtype: object
8045    23,June,2004
8045     10,May,2004
Name: date, dtype: object
8046    17,June,2004
8046     08,May,2004
Name: date, dtype: object
8047    16,June,2004
8047     08,May,2004
Name: date, dtype: object
8048    16,June,2004
8048     03,May,2004
Name: date, dtype: object
8049    12,June,2004
8049     01,May,2004
Name: date, dtype: object
8050    10,June,2004
8050     01,May,2004
Name: date, dtype: object
8051    04,June,2004
8051    29,June,2004
Name: date, dtype: object
8052    02,June,2004
8052    28,June,2004
Name: date, dtype: object
8053    02,June,2004
8053    28,June,2004
Name: date, dtype: object
8054    02,June,2004
8054    27,June,2004
Name: date, dtype: object
8055    29,July,2004
8055    27,June,2004
Name: date, dtype: object
8056    28,July,2004
8056    19,June,2004
Name: date, dtype: object
8057    24,July,2004
8057    16,June,2004
Name: date, dtype: object
8058    19,July,2004
8058    15,June,2004
Name: date, dtype: object
8059    15,July,2004
8059    15,June,2004
Name: date, dtype: object
8060    15,July,2004
8060    14,June,2004
Name: date, dtype: object
8061    13,July,2004
8061    13,June,2004
Name: date, dtype: object
8062    13,July,2004
8062    12,June,2004
Name: date, dtype: object
8063    06,July,2004
8063    11,June,2004
Name: date, dtype: object
8064    09,August,2004
8064      11,June,2004
Name: date, dtype: object
8065    23,February,2004
8065        09,June,2004
Name: date, dtype: object
8066    19,February,2004
8066        09,June,2004
Name: date, dtype: object
8067    15,February,2004
8067        08,June,2004
Name: date, dtype: object
8068    12,February,2004
8068        08,June,2004
Name: date, dtype: object
8069    11,February,2004
8069        07,June,2004
Name: date, dtype: object
8070    10,February,2004
8070        06,June,2004
Name: date, dtype: object
8071    09,February,2004
8071        01,June,2004
Name: date, dtype: object
8072    08,February,2004
8072        01,June,2004
Name: date, dtype: object
8073    07,February,2004
8073        01,June,2004
Name: date, dtype: object
8074    07,February,2004
8074        01,June,2004
Name: date, dtype: object
8075    16,March,2004
8075     31,July,2004
Name: date, dtype: object
8076    02,March,2004
8076     29,July,2004
Name: date, dtype: object
8077    02,March,2004
8077     28,July,2004
Name: date, dtype: object
8078    30,April,2004
8078     26,July,2004
Name: date, dtype: object
8079    27,April,2004
8079     25,July,2004
Name: date, dtype: object
8080    25,April,2004
8080     25,July,2004
Name: date, dtype: object
8081    24,April,2004
8081     25,July,2004
Name: date, dtype: object
8082    21,April,2004
8082     16,July,2004
Name: date, dtype: object
8083    20,April,2004
8083     15,July,2004
Name: date, dtype: object
8084    19,April,2004
8084     14,July,2004
Name: date, dtype: object
8085    17,April,2004
8085     14,July,2004
Name: date, dtype: object
8086    17,April,2004
8086     13,July,2004
Name: date, dtype: object
8087    14,April,2004
8087     13,July,2004
Name: date, dtype: object
8088    14,April,2004
8088     12,July,2004
Name: date, dtype: object
8089     31,May,2004
8089    12,July,2004
Name: date, dtype: object
8090     25,May,2004
8090    08,July,2004
Name: date, dtype: object
8091     24,May,2004
8091    08,July,2004
Name: date, dtype: object
8092     17,May,2004
8092    07,July,2004
Name: date, dtype: object
8093     13,May,2004
8093    07,July,2004
Name: date, dtype: object
8094     13,May,2004
8094    06,July,2004
Name: date, dtype: object
8095    30,June,2004
8095    03,July,2004
Name: date, dtype: object
8096    28,June,2004
8096    01,July,2004
Name: date, dtype: object
8097      25,June,2004
8097    05,August,2004
Name: date, dtype: object
8098      24,June,2004
8098    04,August,2004
Name: date, dtype: object
8099      24,June,2004
8099    03,August,2004
Name: date, dtype: object
8100      21,June,2004
8100    02,August,2004
Name: date, dtype: object
8101    18,June,2004
8101     30,May,2004
Name: date, dtype: object
8102    14,June,2004
8102     29,May,2004
Name: date, dtype: object
8103    10,June,2004
8103     29,May,2004
Name: date, dtype: object
8104    09,June,2004
8104     28,May,2004
Name: date, dtype: object
8105    02,June,2004
8105     25,May,2004
Name: date, dtype: object
8106    02,June,2004
8106     23,May,2004
Name: date, dtype: object
8107    28,July,2004
8107     23,May,2004
Name: date, dtype: object
8108    21,July,2004
8108     22,May,2004
Name: date, dtype: object
8109    18,July,2004
8109     19,May,2004
Name: date, dtype: object
8110    07,July,2004
8110     18,May,2004
Name: date, dtype: object
8111    01,July,2004
8111     18,May,2004
Name: date, dtype: object
8112    11,August,2004
8112       18,May,2004
Name: date, dtype: object
8113    09,August,2004
8113       17,May,2004
Name: date, dtype: object
8114    02,August,2004
8114       17,May,2004
Name: date, dtype: object
8115    30,July,2004
8115     16,May,2004
Name: date, dtype: object
8116    28,July,2004
8116     16,May,2004
Name: date, dtype: object
8117    26,July,2004
8117     16,May,2004
Name: date, dtype: object
8118    25,July,2004
8118     15,May,2004
Name: date, dtype: object
8119    25,July,2004
8119     15,May,2004
Name: date, dtype: object
8120    09,August,2004
8120       15,May,2004
Name: date, dtype: object
8121    07,August,2004
8121       15,May,2004
Name: date, dtype: object
8122    04,August,2004
8122       14,May,2004
Name: date, dtype: object
8123    14,August,2004
8123       14,May,2004
Name: date, dtype: object
8124    08,August,2004
8124       14,May,2004
Name: date, dtype: object
8125    08,August,2004
8125       13,May,2004
Name: date, dtype: object
8126    15,July,2004
8126     13,May,2004
Name: date, dtype: object
8127    08,August,2004
8127       13,May,2004
Name: date, dtype: object
8128    08,August,2004
8128       13,May,2004
Name: date, dtype: object
8129    08,August,2004
8129       13,May,2004
Name: date, dtype: object
8130    08,August,2004
8130       13,May,2004
Name: date, dtype: object
8131    08,August,2004
8131       13,May,2004
Name: date, dtype: object
8132    08,August,2004
8132      30,June,2004
Name: date, dtype: object
8133    08,August,2004
8133      29,June,2004
Name: date, dtype: object
8134    08,August,2004
8134      27,June,2004
Name: date, dtype: object
8135    08,August,2004
8135      27,June,2004
Name: date, dtype: object
8136    08,August,2004
8136      26,June,2004
Name: date, dtype: object
8137    08,August,2004
8137      20,June,2004
Name: date, dtype: object
8138    08,August,2004
8138      18,June,2004
Name: date, dtype: object
8139    08,August,2004
8139      17,June,2004
Name: date, dtype: object
8140    08,August,2004
8140      16,June,2004
Name: date, dtype: object
8141    08,August,2004
8141      15,June,2004
Name: date, dtype: object
8142    08,August,2004
8142      14,June,2004
Name: date, dtype: object
8143    08,August,2004
8143      14,June,2004
Name: date, dtype: object
8144    08,August,2004
8144      13,June,2004
Name: date, dtype: object
8145    08,August,2004
8145      12,June,2004
Name: date, dtype: object
8146    08,August,2004
8146      12,June,2004
Name: date, dtype: object
8147    08,August,2004
8147      11,June,2004
Name: date, dtype: object

8148    08,August,2004
8148      11,June,2004
Name: date, dtype: object
8149    08,August,2004
8149      11,June,2004
Name: date, dtype: object
8150    08,August,2004
8150      10,June,2004
Name: date, dtype: object
8151    08,August,2004
8151      10,June,2004
Name: date, dtype: object
8152    08,August,2004
8152      10,June,2004
Name: date, dtype: object
8153    08,August,2004
8153      09,June,2004
Name: date, dtype: object
8154    08,August,2004
8154      09,June,2004
Name: date, dtype: object
8155    08,August,2004
8155      08,June,2004
Name: date, dtype: object
8156    08,August,2004
8156      08,June,2004
Name: date, dtype: object
8157    08,August,2004
8157      08,June,2004
Name: date, dtype: object
8158    08,August,2004
8158      08,June,2004
Name: date, dtype: object
8159    08,August,2004
8159      08,June,2004
Name: date, dtype: object
8160     31,May,2004
8160    07,June,2004
Name: date, dtype: object
8161     27,May,2004
8161    07,June,2004
Name: date, dtype: object
8162    29,June,2004
8162    07,June,2004
Name: date, dtype: object
8163    10,June,2004
8163    07,June,2004
Name: date, dtype: object
8164    07,June,2004
8164    06,June,2004
Name: date, dtype: object
8165    20,July,2004
8165    05,June,2004
Name: date, dtype: object
8166    07,July,2004
8166    05,June,2004
Name: date, dtype: object
8167    04,July,2004
8167    04,June,2004
Name: date, dtype: object
8168    19,August,2004
8168      03,June,2004
Name: date, dtype: object
8169    18,August,2004
8169      03,June,2004
Name: date, dtype: object
8170    17,August,2004
8170      02,June,2004
Name: date, dtype: object
8171    17,August,2004
8171      02,June,2004
Name: date, dtype: object
8172    16,August,2004
8172      01,June,2004
Name: date, dtype: object
8173    15,August,2004
8173      01,June,2004
Name: date, dtype: object
8174    15,August,2004
8174      01,June,2004
Name: date, dtype: object
8175    14,August,2004
8175      01,June,2004
Name: date, dtype: object
8176    14,August,2004
8176      01,June,2004
Name: date, dtype: object
8177    14,August,2004
8177      28,July,2004
Name: date, dtype: object
8178    13,August,2004
8178      26,July,2004
Name: date, dtype: object
8179    11,August,2004
8179      26,July,2004
Name: date, dtype: object
8180    11,August,2004
8180      25,July,2004
Name: date, dtype: object
8181    11,August,2004
8181      25,July,2004
Name: date, dtype: object
8182    10,August,2004
8182      24,July,2004
Name: date, dtype: object
8183    10,August,2004
8183      24,July,2004
Name: date, dtype: object
8184    10,August,2004
8184      24,July,2004
Name: date, dtype: object
8185    09,August,2004
8185      24,July,2004
Name: date, dtype: object
8186    09,August,2004
8186      24,July,2004
Name: date, dtype: object
8187    09,August,2004
8187      24,July,2004
Name: date, dtype: object
8188    09,August,2004
8188      24,July,2004
Name: date, dtype: object
8189    09,August,2004
8189      24,July,2004
Name: date, dtype: object
8190    09,August,2004
8190      24,July,2004
Name: date, dtype: object
8191    09,August,2004
8191      24,July,2004
Name: date, dtype: object
8192    09,August,2004
8192      24,July,2004
Name: date, dtype: object
8193     15,May,2004
8193    24,July,2004
Name: date, dtype: object
8194     14,May,2004
8194    24,July,2004
Name: date, dtype: object
8195     14,May,2004
8195    24,July,2004
Name: date, dtype: object
8196     14,May,2004
8196    24,July,2004
Name: date, dtype: object
8197     11,May,2004
8197    24,July,2004
Name: date, dtype: object
8198     11,May,2004
8198    24,July,2004
Name: date, dtype: object
8199     11,May,2004
8199    24,July,2004
Name: date, dtype: object
8200     11,May,2004
8200    24,July,2004
Name: date, dtype: object
8201     11,May,2004
8201    24,July,2004
Name: date, dtype: object
8202     11,May,2004
8202    24,July,2004
Name: date, dtype: object
8203     11,May,2004
8203    24,July,2004
Name: date, dtype: object
8204     11,May,2004
8204    24,July,2004
Name: date, dtype: object
8205     11,May,2004
8205    24,July,2004
Name: date, dtype: object
8206     11,May,2004
8206    24,July,2004
Name: date, dtype: object
8207     11,May,2004
8207    24,July,2004
Name: date, dtype: object
8208     11,May,2004
8208    24,July,2004
Name: date, dtype: object
8209     11,May,2004
8209    24,July,2004
Name: date, dtype: object
8210     11,May,2004
8210    24,July,2004
Name: date, dtype: object
8211     11,May,2004
8211    24,July,2004
Name: date, dtype: object
8212     11,May,2004
8212    24,July,2004
Name: date, dtype: object
8213     11,May,2004
8213    24,July,2004
Name: date, dtype: object
8214     11,May,2004
8214    24,July,2004
Name: date, dtype: object
8215     11,May,2004
8215    24,July,2004
Name: date, dtype: object
8216     11,May,2004
8216    23,July,2004
Name: date, dtype: object
8217     11,May,2004
8217    23,July,2004
Name: date, dtype: object
8218     11,May,2004
8218    23,July,2004
Name: date, dtype: object
8219     11,May,2004
8219    23,July,2004
Name: date, dtype: object
8220     22,May,2004
8220    23,July,2004
Name: date, dtype: object
8221     21,May,2004
8221    23,July,2004
Name: date, dtype: object
8222     21,May,2004
8222    23,July,2004
Name: date, dtype: object
8223     20,May,2004
8223    23,July,2004
Name: date, dtype: object
8224     20,May,2004
8224    23,July,2004
Name: date, dtype: object
8225     20,May,2004
8225    23,July,2004
Name: date, dtype: object
8226     20,May,2004
8226    23,July,2004
Name: date, dtype: object
8227     20,May,2004
8227    23,July,2004
Name: date, dtype: object
8228     19,May,2004
8228    23,July,2004
Name: date, dtype: object
8229     16,May,2004
8229    23,July,2004
Name: date, dtype: object
8230     29,May,2004
8230    23,July,2004
Name: date, dtype: object
8231     24,May,2004
8231    23,July,2004
Name: date, dtype: object
8232     24,May,2004
8232    23,July,2004
Name: date, dtype: object
8233    05,June,2004
8233    23,July,2004
Name: date, dtype: object
8234    04,June,2004
8234    23,July,2004
Name: date, dtype: object
8235    04,June,2004
8235    23,July,2004
Name: date, dtype: object
8236    04,June,2004
8236    23,July,2004
Name: date, dtype: object
8237    04,June,2004
8237    23,July,2004
Name: date, dtype: object
8238    04,June,2004
8238    23,July,2004
Name: date, dtype: object
8239    03,June,2004
8239    23,July,2004
Name: date, dtype: object
8240    03,June,2004
8240    23,July,2004
Name: date, dtype: object
8241    03,June,2004
8241    23,July,2004
Name: date, dtype: object
8242    03,June,2004
8242    22,July,2004
Name: date, dtype: object
8243    03,June,2004
8243    22,July,2004
Name: date, dtype: object
8244    03,June,2004
8244    22,July,2004
Name: date, dtype: object
8245    03,June,2004
8245    21,July,2004
Name: date, dtype: object
8246    02,June,2004
8246    21,July,2004
Name: date, dtype: object
8247    01,June,2004
8247    20,July,2004
Name: date, dtype: object
8248    01,June,2004
8248    19,July,2004
Name: date, dtype: object
8249    12,June,2004
8249    19,July,2004
Name: date, dtype: object
8250    11,June,2004
8250    19,July,2004
Name: date, dtype: object
8251    11,June,2004
8251    19,July,2004
Name: date, dtype: object
8252    10,June,2004
8252    19,July,2004
Name: date, dtype: object
8253    10,June,2004
8253    19,July,2004
Name: date, dtype: object
8254    09,June,2004
8254    17,July,2004
Name: date, dtype: object
8255    09,June,2004
8255    17,July,2004
Name: date, dtype: object
8256    09,June,2004
8256    16,July,2004
Name: date, dtype: object
8257      09,June,2004
8257    07,August,2004
Name: date, dtype: object
8258      08,June,2004
8258    04,August,2004
Name: date, dtype: object
8259      08,June,2004
8259    04,August,2004
Name: date, dtype: object
8260      07,June,2004
8260    04,August,2004
Name: date, dtype: object
8261      07,June,2004
8261    04,August,2004
Name: date, dtype: object
8262    07,June,2004
8262    24,June,2004
Name: date, dtype: object
8263    07,June,2004
8263    22,June,2004
Name: date, dtype: object
8264    07,June,2004
8264    21,June,2004
Name: date, dtype: object
8265    07,June,2004
8265    20,June,2004
Name: date, dtype: object
8266    06,June,2004
8266    19,June,2004
Name: date, dtype: object
8267    06,June,2004
8267    15,June,2004
Name: date, dtype: object
8268    06,June,2004
8268    15,June,2004
Name: date, dtype: object
8269    06,June,2004
8269    13,June,2004
Name: date, dtype: object
8270    06,June,2004
8270    13,June,2004
Name: date, dtype: object
8271    06,June,2004
8271    23,July,2004
Name: date, dtype: object
8272    06,June,2004
8272    22,July,2004
Name: date, dtype: object
8273    06,June,2004
8273    19,July,2004
Name: date, dtype: object
8274    06,June,2004
8274    15,July,2004
Name: date, dtype: object
8275    19,June,2004
8275    14,July,2004
Name: date, dtype: object
8276    17,June,2004
8276    12,July,2004
Name: date, dtype: object
8277    17,June,2004
8277    10,July,2004
Name: date, dtype: object
8278      17,June,2004
8278    10,August,2004
Name: date, dtype: object
8279      15,June,2004
8279    03,August,2004
Name: date, dtype: object
8280      14,June,2004
8280    01,August,2004
Name: date, dtype: object
8281    14,June,2004
8281    29,July,2004
Name: date, dtype: object
8282    13,June,2004
8282    28,July,2004
Name: date, dtype: object
8283    13,June,2004
8283    25,July,2004
Name: date, dtype: object
8284    13,June,2004
8284    24,July,2004
Name: date, dtype: object
8285      13,June,2004
8285    06,August,2004
Name: date, dtype: object
8286      13,June,2004
8286    03,August,2004
Name: date, dtype: object
8287      13,June,2004
8287    23,August,2004
Name: date, dtype: object
8288      13,June,2004
8288    22,August,2004
Name: date, dtype: object
8289      13,June,2004
8289    22,August,2004
Name: date, dtype: object
8290      26,June,2004
8290    21,August,2004
Name: date, dtype: object
8291      25,June,2004
8291    21,August,2004
Name: date, dtype: object
8292      23,June,2004
8292    20,August,2004
Name: date, dtype: object
8293      23,June,2004
8293    20,August,2004

Name: date, dtype: object
8294      23,June,2004
8294    20,August,2004
Name: date, dtype: object
8295      23,June,2004
8295    19,August,2004
Name: date, dtype: object
8296      23,June,2004
8296    19,August,2004
Name: date, dtype: object
8297      02,July,2004
8297    19,August,2004
Name: date, dtype: object
8298      01,July,2004
8298    19,August,2004
Name: date, dtype: object
8299      28,June,2004
8299    17,August,2004
Name: date, dtype: object
8300      28,June,2004
8300    17,August,2004
Name: date, dtype: object
8301      28,June,2004
8301    17,August,2004
Name: date, dtype: object
8302      08,July,2004
8302    17,August,2004
Name: date, dtype: object
8303     08,July,2004
8303    15,March,2004
Name: date, dtype: object
8304     08,July,2004
8304    14,March,2004
Name: date, dtype: object
8305     16,July,2004
8305    14,March,2004
Name: date, dtype: object
8306      12,July,2004
8306    14,August,2004
Name: date, dtype: object
8307    11,July,2004
8307    25,July,2004
Name: date, dtype: object
8308    11,July,2004
8308    22,July,2004
Name: date, dtype: object
8309    29,July,2004
8309    21,July,2004
Name: date, dtype: object
8310    27,July,2004
8310    20,July,2004
Name: date, dtype: object
8311    27,July,2004
8311    19,July,2004
Name: date, dtype: object
8312    26,July,2004
8312    19,July,2004
Name: date, dtype: object
8313    25,July,2004
8313    18,July,2004
Name: date, dtype: object
8314    25,July,2004
8314    17,July,2004
Name: date, dtype: object
8315    25,July,2004
8315    16,July,2004
Name: date, dtype: object
8316    25,July,2004
8316    16,July,2004
Name: date, dtype: object
8317    25,July,2004
8317    16,July,2004
Name: date, dtype: object
8318    25,July,2004
8318    16,July,2004
Name: date, dtype: object
8319    06,August,2004
8319      16,July,2004
Name: date, dtype: object
8320    03,August,2004
8320    16,August,2004
Name: date, dtype: object
8321    03,August,2004
8321      26,July,2004
Name: date, dtype: object
8322    30,July,2004
8322    13,July,2004
Name: date, dtype: object
8323    28,July,2004
8323    11,July,2004
Name: date, dtype: object
8324    28,July,2004
8324    11,July,2004
Name: date, dtype: object
8325    10,August,2004
8325      11,July,2004
Name: date, dtype: object
8326    09,August,2004
8326      08,July,2004
Name: date, dtype: object
8327    10,June,2004
8327    08,July,2004
Name: date, dtype: object
8328    10,June,2004
8328    27,June,2004
Name: date, dtype: object
8329    10,June,2004
8329    21,June,2004
Name: date, dtype: object
8330    10,June,2004
8330    18,June,2004
Name: date, dtype: object
8331    10,June,2004
8331    16,June,2004
Name: date, dtype: object
8332    10,June,2004
8332    16,June,2004
Name: date, dtype: object
8333    10,June,2004
8333    15,June,2004
Name: date, dtype: object
8334    10,June,2004
8334    14,June,2004
Name: date, dtype: object
8335    10,June,2004
8335    09,June,2004
Name: date, dtype: object
8336    10,June,2004
8336    08,June,2004
Name: date, dtype: object
8337    10,June,2004
8337    08,June,2004
Name: date, dtype: object
8338    10,June,2004
8338    07,June,2004
Name: date, dtype: object
8339    10,June,2004
8339    07,June,2004
Name: date, dtype: object
8340    10,June,2004
8340    06,June,2004
Name: date, dtype: object
8341    10,June,2004
8341    05,June,2004
Name: date, dtype: object
8342    10,June,2004
8342    05,June,2004
Name: date, dtype: object
8343    10,June,2004
8343    05,June,2004
Name: date, dtype: object
8344    17,August,2004
8344      29,July,2004
Name: date, dtype: object
8345    17,August,2004
8345      27,July,2004
Name: date, dtype: object
8346    17,August,2004
8346      27,July,2004
Name: date, dtype: object
8347    17,August,2004
8347      26,July,2004
Name: date, dtype: object
8348    29,June,2004
8348    26,July,2004
Name: date, dtype: object
8349    22,July,2004
8349    22,July,2004
Name: date, dtype: object
8350    13,July,2004
8350    20,July,2004
Name: date, dtype: object
8351    05,July,2004
8351    18,July,2004
Name: date, dtype: object
8352    05,July,2004
8352    17,July,2004
Name: date, dtype: object
8353    05,July,2004
8353    14,July,2004
Name: date, dtype: object
8354    05,July,2004
8354    12,July,2004
Name: date, dtype: object
8355    05,July,2004
8355    12,July,2004
Name: date, dtype: object
8356    05,July,2004
8356    10,July,2004
Name: date, dtype: object
8357    05,July,2004
8357    10,July,2004
Name: date, dtype: object
8358    05,July,2004
8358    09,July,2004
Name: date, dtype: object
8359    05,July,2004
8359    01,July,2004
Name: date, dtype: object
8360      05,July,2004
8360    11,August,2004
Name: date, dtype: object
8361      05,July,2004
8361    10,August,2004
Name: date, dtype: object
8362      05,July,2004
8362    05,August,2004
Name: date, dtype: object
8363      27,June,2004
8363    01,August,2004
Name: date, dtype: object
8364    25,June,2004
8364    14,June,2004
Name: date, dtype: object
8365    25,June,2004
8365    10,June,2004
Name: date, dtype: object
8366    24,June,2004
8366    22,July,2004
Name: date, dtype: object
8367    16,June,2004
8367    19,July,2004
Name: date, dtype: object
8368    13,June,2004
8368    08,July,2004
Name: date, dtype: object
8369    11,June,2004
8369    01,July,2004
Name: date, dtype: object
8370    03,June,2004
8370    30,July,2004
Name: date, dtype: object
8371    03,June,2004
8371    28,July,2004
Name: date, dtype: object
8372    03,June,2004
8372    27,July,2004
Name: date, dtype: object
8373    03,June,2004
8373    27,July,2004
Name: date, dtype: object
8374    29,July,2004
8374    26,July,2004
Name: date, dtype: object
8375    22,July,2004
8375    25,July,2004
Name: date, dtype: object
8376    20,July,2004
8376    24,July,2004
Name: date, dtype: object
8377    20,July,2004
8377    23,July,2004
Name: date, dtype: object
8378    12,July,2004
8378    23,July,2004
Name: date, dtype: object
8379      09,July,2004
8379    12,August,2004
Name: date, dtype: object
8380      01,July,2004
8380    04,August,2004
Name: date, dtype: object
8381      01,July,2004
8381    02,August,2004
Name: date, dtype: object
8382      01,July,2004
8382    02,August,2004
Name: date, dtype: object
8383    11,August,2004
8383      28,June,2004
Name: date, dtype: object
8384    10,August,2004
8384      23,June,2004
Name: date, dtype: object
8385    23,September,2003
8385         22,June,2004
Name: date, dtype: object
8386    22,September,2003
8386         19,June,2004
Name: date, dtype: object
8387    20,September,2003
8387         12,June,2004
Name: date, dtype: object
8388    16,September,2003
8388         09,June,2004
Name: date, dtype: object
8389    14,September,2003
8389         09,June,2004
Name: date, dtype: object
8390    13,September,2003
8390         06,June,2004
Name: date, dtype: object
8391    11,September,2003
8391         05,June,2004
Name: date, dtype: object
8392    11,September,2003
8392         16,July,2004
Name: date, dtype: object
8393    27,October,2003
8393       12,July,2004
Name: date, dtype: object
8394    23,October,2003
8394       12,July,2004
Name: date, dtype: object
8395    20,October,2003
8395     13,August,2004
Name: date, dtype: object
8396    16,October,2003
8396     09,August,2004
Name: date, dtype: object
8397    15,October,2003
8397     06,August,2004
Name: date, dtype: object
8398    15,October,2003
8398     04,August,2004
Name: date, dtype: object
8399    14,October,2003
8399     02,August,2004
Name: date, dtype: object
8400    09,October,2003
8400     23,August,2004
Name: date, dtype: object
8401    06,October,2003
8401     18,August,2004
Name: date, dtype: object
8402    06,October,2003
8402     18,August,2004
Name: date, dtype: object
8403    05,October,2003
8403    31,January,2004
Name: date, dtype: object
8404    17,November,2003
8404     29,January,2004
Name: date, dtype: object
8405    03,November,2003
8405     27,January,2004
Name: date, dtype: object
8406    18,December,2003
8406     23,January,2004
Name: date, dtype: object
8407    17,December,2003
8407     22,January,2004
Name: date, dtype: object
8408    13,December,2003
8408     22,January,2004
Name: date, dtype: object
8409    12,December,2003
8409     22,January,2004
Name: date, dtype: object
8410    04,December,2003
8410     22,January,2004
Name: date, dtype: object
8411    04,December,2003
8411    28,February,2004
Name: date, dtype: object
8412    04,December,2003
8412    26,February,2004
Name: date, dtype: object
8413    01,December,2003
8413    22,February,2004
Name: date, dtype: object
8414     16,January,2004
8414    20,February,2004
Name: date, dtype: object
8415     15,January,2004
8415    18,February,2004
Name: date, dtype: object
8416    18,February,2004
8416    15,February,2004
Name: date, dtype: object
8417    17,February,2004
8417    15,February,2004
Name: date, dtype: object
8418    16,February,2004
8418    13,February,2004
Name: date, dtype: object
8419    13,February,2004
8419    13,February,2004
Name: date, dtype: object
8420    11,February,2004
8420    10,February,2004
Name: date, dtype: object
8421    08,February,2004
8421    10,February,2004
Name: date, dtype: object
8422    08,February,2004
8422    08,February,2004
Name: date, dtype: object
8423       31,March,2004
8423    05,February,2004
Name: date, dtype: object
8424       30,March,2004
8424    04,February,2004
Name: date, dtype: object
8425       29,March,2004
8425    04,February,2004
Name: date, dtype: object
8426       29,March,2004
8426    03,February,2004
Name: date, dtype: object
8427       26,March,2004
8427    02,February,2004
Name: date, dtype: object
8428       26,March,2004
8428    01,February,2004
Name: date, dtype: object
8429    24,March,2004
8429    30,March,2004
Name: date, dtype: object
8430    24,March,2004
8430    26,March,2004
Name: date, dtype: object
8431    22,March,2004
8431    21,March,2004
Name: date, dtype: object
8432    21,March,2004
8432    19,March,2004
Name: date, dtype: object
8433    19,March,2004
8433    11,March,2004
Name: date, dtype: object
8434    19,March,2004
8434    11,March,2004
Name: date, dtype: object
8435    19,March,2004
8435    09,March,2004
Name: date, dtype: object
8436    16,March,2004
8436    08,March,2004
Name: date, dtype: object
8437    16,March,2004
8437    07,March,2004
Name: date, dtype: object
8438    15,March,2004
8438    02,March,2004
Name: date, dtype: object

8439    14,March,2004
8439    02,March,2004
Name: date, dtype: object
8440    13,March,2004
8440    02,March,2004
Name: date, dtype: object
8441    13,March,2004
8441    25,April,2004
Name: date, dtype: object
8442    11,March,2004
8442    17,April,2004
Name: date, dtype: object
8443    11,March,2004
8443    17,April,2004
Name: date, dtype: object
8444    11,March,2004
8444    04,April,2004
Name: date, dtype: object
8445    08,March,2004
8445    04,April,2004
Name: date, dtype: object
8446    05,March,2004
8446      27,May,2004
Name: date, dtype: object
8447    30,April,2004
8447      23,May,2004
Name: date, dtype: object
8448    29,April,2004
8448      21,May,2004
Name: date, dtype: object
8449    28,April,2004
8449      17,May,2004
Name: date, dtype: object
8450    28,April,2004
8450      14,May,2004
Name: date, dtype: object
8451    27,April,2004
8451      14,May,2004
Name: date, dtype: object
8452    27,April,2004
8452      13,May,2004
Name: date, dtype: object
8453    26,April,2004
8453     29,June,2004
Name: date, dtype: object
8454    25,April,2004
8454     26,June,2004
Name: date, dtype: object
8455    25,April,2004
8455     24,June,2004
Name: date, dtype: object
8456    25,April,2004
8456     21,June,2004
Name: date, dtype: object
8457    25,April,2004
8457     19,June,2004
Name: date, dtype: object
8458    23,April,2004
8458     14,June,2004
Name: date, dtype: object
8459    23,April,2004
8459     06,June,2004
Name: date, dtype: object
8460    20,April,2004
8460     06,June,2004
Name: date, dtype: object
8461    18,April,2004
8461     30,July,2004
Name: date, dtype: object
8462    18,April,2004
8462     28,July,2004
Name: date, dtype: object
8463    17,April,2004
8463     27,July,2004
Name: date, dtype: object
8464    17,April,2004
8464     24,July,2004
Name: date, dtype: object
8465    17,April,2004
8465     23,July,2004
Name: date, dtype: object
8466    16,April,2004
8466     21,July,2004
Name: date, dtype: object
8467    16,April,2004
8467     18,July,2004
Name: date, dtype: object
8468    15,April,2004
8468     18,July,2004
Name: date, dtype: object
8469    15,April,2004
8469     17,July,2004
Name: date, dtype: object
8470    14,April,2004
8470     16,July,2004
Name: date, dtype: object
8471    13,April,2004
8471     14,July,2004
Name: date, dtype: object
8472    12,April,2004
8472     11,July,2004
Name: date, dtype: object
8473    12,April,2004
8473     10,July,2004
Name: date, dtype: object
8474    11,April,2004
8474     10,July,2004
Name: date, dtype: object
8475    10,April,2004
8475     07,July,2004
Name: date, dtype: object
8476    10,April,2004
8476     05,July,2004
Name: date, dtype: object
8477    10,April,2004
8477     05,July,2004
Name: date, dtype: object
8478     09,April,2004
8478    10,August,2004
Name: date, dtype: object
8479     09,April,2004
8479    07,August,2004
Name: date, dtype: object
8480     09,April,2004
8480    05,August,2004
Name: date, dtype: object
8481     09,April,2004
8481    05,August,2004
Name: date, dtype: object
8482     08,April,2004
8482    04,August,2004
Name: date, dtype: object
8483     06,April,2004
8483    01,August,2004
Name: date, dtype: object
8484     06,April,2004
8484    01,August,2004
Name: date, dtype: object
8485    06,April,2004
8485     31,July,2004
Name: date, dtype: object
8486     05,April,2004
8486    11,August,2004
Name: date, dtype: object
8487     05,April,2004
8487    07,August,2004
Name: date, dtype: object
8488     04,April,2004
8488    02,August,2004
Name: date, dtype: object
8489     02,April,2004
8489    01,August,2004
Name: date, dtype: object
8490    02,April,2004
8490     18,June,2004
Name: date, dtype: object
8491     02,April,2004
8491    08,August,2004
Name: date, dtype: object
8492     01,April,2004
8492    08,August,2004
Name: date, dtype: object
8493     01,April,2004
8493    08,August,2004
Name: date, dtype: object
8494     01,April,2004
8494    08,August,2004
Name: date, dtype: object
8495     01,April,2004
8495    08,August,2004
Name: date, dtype: object
8496       31,May,2004
8496    08,August,2004
Name: date, dtype: object
8497       30,May,2004
8497    08,August,2004
Name: date, dtype: object
8498       30,May,2004
8498    08,August,2004
Name: date, dtype: object
8499       30,May,2004
8499    08,August,2004
Name: date, dtype: object
8500       29,May,2004
8500    08,August,2004
Name: date, dtype: object
8501       29,May,2004
8501    08,August,2004
Name: date, dtype: object
8502       29,May,2004
8502    08,August,2004
Name: date, dtype: object
8503       29,May,2004
8503    08,August,2004
Name: date, dtype: object
8504       29,May,2004
8504    08,August,2004
Name: date, dtype: object
8505       28,May,2004
8505    08,August,2004
Name: date, dtype: object
8506       28,May,2004
8506    08,August,2004
Name: date, dtype: object
8507       26,May,2004
8507    08,August,2004
Name: date, dtype: object
8508       24,May,2004
8508    08,August,2004
Name: date, dtype: object
8509       23,May,2004
8509    08,August,2004
Name: date, dtype: object
8510       21,May,2004
8510    08,August,2004
Name: date, dtype: object
8511       21,May,2004
8511    08,August,2004
Name: date, dtype: object
8512       21,May,2004
8512    08,August,2004
Name: date, dtype: object
8513       21,May,2004
8513    08,August,2004
Name: date, dtype: object
8514       20,May,2004
8514    08,August,2004
Name: date, dtype: object
8515       19,May,2004
8515    08,August,2004
Name: date, dtype: object
8516       18,May,2004
8516    08,August,2004
Name: date, dtype: object
8517       18,May,2004
8517    08,August,2004
Name: date, dtype: object
8518       17,May,2004
8518    08,August,2004
Name: date, dtype: object
8519     17,May,2004
8519    20,July,2004
Name: date, dtype: object
8520     17,May,2004
8520    20,July,2004
Name: date, dtype: object
8521     17,May,2004
8521    28,July,2004
Name: date, dtype: object
8522     16,May,2004
8522    26,July,2004
Name: date, dtype: object
8523     15,May,2004
8523    25,July,2004
Name: date, dtype: object
8524     14,May,2004
8524    25,July,2004
Name: date, dtype: object
8525     14,May,2004
8525    25,July,2004
Name: date, dtype: object
8526     12,May,2004
8526    25,July,2004
Name: date, dtype: object
8527     11,May,2004
8527    20,July,2004
Name: date, dtype: object
8528     11,May,2004
8528    27,July,2004
Name: date, dtype: object
8529     11,May,2004
8529    26,July,2004
Name: date, dtype: object
8530     10,May,2004
8530    20,July,2004
Name: date, dtype: object
8531     10,May,2004
8531    20,July,2004
Name: date, dtype: object
8532     09,May,2004
8532    19,July,2004
Name: date, dtype: object
8533     06,May,2004
8533    13,July,2004
Name: date, dtype: object
8534     06,May,2004
8534    12,July,2004
Name: date, dtype: object
8535     06,May,2004
8535    27,July,2004
Name: date, dtype: object
8536     05,May,2004
8536    25,July,2004
Name: date, dtype: object
8537     04,May,2004
8537    22,July,2004
Name: date, dtype: object
8538     04,May,2004
8538    18,July,2004
Name: date, dtype: object
8539     03,May,2004
8539    17,July,2004
Name: date, dtype: object
8540     03,May,2004
8540    15,July,2004
Name: date, dtype: object
8541     03,May,2004
8541    15,July,2004
Name: date, dtype: object
8542     02,May,2004
8542    13,July,2004
Name: date, dtype: object
8543     02,May,2004
8543    11,July,2004
Name: date, dtype: object
8544     02,May,2004
8544    10,July,2004
Name: date, dtype: object
8545     01,May,2004
8545    07,July,2004
Name: date, dtype: object
8546     01,May,2004
8546    05,July,2004
Name: date, dtype: object
8547     01,May,2004
8547    04,July,2004
Name: date, dtype: object
8548       01,May,2004
8548    14,August,2004
Name: date, dtype: object
8549      26,June,2004
8549    08,August,2004
Name: date, dtype: object
8550      25,June,2004
8550    07,August,2004
Name: date, dtype: object
8551      25,June,2004
8551    01,August,2004
Name: date, dtype: object
8552    23,June,2004
8552    27,July,2004
Name: date, dtype: object
8553      22,June,2004
8553    02,August,2004
Name: date, dtype: object
8554    21,June,2004
8554     29,May,2004
Name: date, dtype: object
8555    21,June,2004
8555     22,May,2004
Name: date, dtype: object
8556    19,June,2004
8556     21,May,2004
Name: date, dtype: object
8557    18,June,2004
8557     20,May,2004
Name: date, dtype: object
8558    17,June,2004
8558     29,May,2004
Name: date, dtype: object
8559    17,June,2004
8559     28,May,2004
Name: date, dtype: object
8560    16,June,2004
8560     27,May,2004
Name: date, dtype: object
8561    15,June,2004
8561     26,May,2004
Name: date, dtype: object
8562    14,June,2004
8562     26,May,2004
Name: date, dtype: object
8563    13,June,2004
8563     25,May,2004
Name: date, dtype: object
8564    13,June,2004
8564     25,May,2004
Name: date, dtype: object
8565    13,June,2004
8565     24,May,2004
Name: date, dtype: object
8566    12,June,2004
8566     24,May,2004
Name: date, dtype: object
8567    12,June,2004
8567     24,May,2004
Name: date, dtype: object
8568    11,June,2004
8568    03,July,2004
Name: date, dtype: object
8569    11,June,2004
8569    30,June,2004
Name: date, dtype: object
8570    11,June,2004
8570    29,June,2004
Name: date, dtype: object
8571    09,June,2004
8571    29,June,2004
Name: date, dtype: object
8572    09,June,2004
8572    28,June,2004
Name: date, dtype: object
8573    09,June,2004
8573    09,July,2004
Name: date, dtype: object
8574    08,June,2004
8574    08,July,2004
Name: date, dtype: object
8575    08,June,2004
8575    07,July,2004
Name: date, dtype: object
8576    08,June,2004
8576    07,July,2004
Name: date, dtype: object
8577    08,June,2004
8577    05,July,2004
Name: date, dtype: object
8578    07,June,2004
8578    17,July,2004
Name: date, dtype: object
8579    07,June,2004
8579    12,July,2004
Name: date, dtype: object
8580    07,June,2004
8580    12,July,2004
Name: date, dtype: object
8581    06,June,2004
8581    22,July,2004
Name: date, dtype: object
8582    06,June,2004
8582    20,July,2004
Name: date, dtype: object

8583    05,June,2004
8583    19,July,2004
Name: date, dtype: object
8584    04,June,2004
8584    28,July,2004
Name: date, dtype: object
8585      02,June,2004
8585    02,August,2004
Name: date, dtype: object
8586    01,June,2004
8586     28,May,2004
Name: date, dtype: object
8587    01,June,2004
8587     26,May,2004
Name: date, dtype: object
8588    30,July,2004
8588     24,May,2004
Name: date, dtype: object
8589    29,July,2004
8589     22,May,2004
Name: date, dtype: object
8590    28,July,2004
8590     20,May,2004
Name: date, dtype: object
8591    27,July,2004
8591    29,June,2004
Name: date, dtype: object
8592    27,July,2004
8592    08,July,2004
Name: date, dtype: object
8593    24,July,2004
8593    04,July,2004
Name: date, dtype: object
8594    24,July,2004
8594    04,July,2004
Name: date, dtype: object
8595      24,July,2004
8595    02,August,2004
Name: date, dtype: object
8596      23,July,2004
8596    21,August,2004
Name: date, dtype: object
8597      23,July,2004
8597    19,August,2004
Name: date, dtype: object
8598      22,July,2004
8598    18,August,2004
Name: date, dtype: object
8599      21,July,2004
8599    17,August,2004
Name: date, dtype: object
8600      21,July,2004
8600    16,August,2004
Name: date, dtype: object
8601    21,July,2004
8601    29,July,2004
Name: date, dtype: object
8602    20,July,2004
8602    28,July,2004
Name: date, dtype: object
8603    20,July,2004
8603    27,July,2004
Name: date, dtype: object
8604    19,July,2004
8604    27,July,2004
Name: date, dtype: object
8605      18,July,2004
8605    17,August,2004
Name: date, dtype: object
8606      13,July,2004
8606    02,August,2004
Name: date, dtype: object
8607    13,July,2004
8607    17,June,2004
Name: date, dtype: object
8608      12,July,2004
8608    16,August,2004
Name: date, dtype: object
8609      09,July,2004
8609    15,August,2004
Name: date, dtype: object
8610      08,July,2004
8610    12,August,2004
Name: date, dtype: object
8611      07,July,2004
8611    10,August,2004
Name: date, dtype: object
8612      07,July,2004
8612    09,August,2004
Name: date, dtype: object
8613      05,July,2004
8613    08,August,2004
Name: date, dtype: object
8614      02,July,2004
8614    07,August,2004
Name: date, dtype: object
8615      01,July,2004
8615    06,August,2004
Name: date, dtype: object
8616      01,July,2004
8616    10,August,2004
Name: date, dtype: object
8617    13,August,2004
8617    10,August,2004
Name: date, dtype: object
8618    12,August,2004
8618    10,August,2004
Name: date, dtype: object
8619    11,August,2004
8619    10,August,2004
Name: date, dtype: object
8620    10,August,2004
8620    10,August,2004
Name: date, dtype: object
8621    09,August,2004
8621    10,August,2004
Name: date, dtype: object
8622    09,August,2004
8622    10,August,2004
Name: date, dtype: object
8623    09,August,2004
8623    10,August,2004
Name: date, dtype: object
8624    09,August,2004
8624    10,August,2004
Name: date, dtype: object
8625    09,August,2004
8625    10,August,2004
Name: date, dtype: object
8626    08,August,2004
8626    10,August,2004
Name: date, dtype: object
8627    08,August,2004
8627    10,August,2004
Name: date, dtype: object
8628    08,August,2004
8628    10,August,2004
Name: date, dtype: object
8629    08,August,2004
8629    10,August,2004
Name: date, dtype: object
8630    02,August,2004
8630    10,August,2004
Name: date, dtype: object
8631    02,August,2004
8631    10,August,2004
Name: date, dtype: object
8632    02,August,2004
8632    10,August,2004
Name: date, dtype: object
8633    02,August,2004
8633    10,August,2004
Name: date, dtype: object
8634    02,August,2004
8634    10,August,2004
Name: date, dtype: object
8635    02,August,2004
8635    10,August,2004
Name: date, dtype: object
8636    03,August,2004
8636    10,August,2004
Name: date, dtype: object
8637    01,August,2004
8637    10,August,2004
Name: date, dtype: object
8638      26,June,2004
8638    10,August,2004
Name: date, dtype: object
8639      25,June,2004
8639    10,August,2004
Name: date, dtype: object
8640      23,June,2004
8640    10,August,2004
Name: date, dtype: object
8641      21,June,2004
8641    10,August,2004
Name: date, dtype: object
8642      18,June,2004
8642    10,August,2004
Name: date, dtype: object
8643      18,June,2004
8643    10,August,2004
Name: date, dtype: object
8644      10,July,2004
8644    10,August,2004
Name: date, dtype: object
8645      08,July,2004
8645    10,August,2004
Name: date, dtype: object
8646      05,July,2004
8646    10,August,2004
Name: date, dtype: object
8647      30,June,2004
8647    10,August,2004
Name: date, dtype: object
8648      25,June,2004
8648    10,August,2004
Name: date, dtype: object
8649      24,June,2004
8649    10,August,2004
Name: date, dtype: object
8650      16,June,2004
8650    10,August,2004
Name: date, dtype: object
8651      11,June,2004
8651    10,August,2004
Name: date, dtype: object
8652      09,June,2004
8652    10,August,2004
Name: date, dtype: object
8653      08,June,2004
8653    10,August,2004
Name: date, dtype: object
8654      07,June,2004
8654    10,August,2004
Name: date, dtype: object
8655      07,June,2004
8655    10,August,2004
Name: date, dtype: object
8656      07,June,2004
8656    10,August,2004
Name: date, dtype: object
8657    07,June,2004
8657     05,May,2004
Name: date, dtype: object
8658    27,July,2004
8658     05,May,2004
Name: date, dtype: object
8659    24,July,2004
8659     05,May,2004
Name: date, dtype: object
8660    17,July,2004
8660     05,May,2004
Name: date, dtype: object
8661    17,July,2004
8661     05,May,2004
Name: date, dtype: object
8662    14,July,2004
8662     05,May,2004
Name: date, dtype: object
8663    12,July,2004
8663     05,May,2004
Name: date, dtype: object
8664    10,July,2004
8664     05,May,2004
Name: date, dtype: object
8665    11,August,2004
8665       05,May,2004
Name: date, dtype: object
8666    07,August,2004
8666       05,May,2004
Name: date, dtype: object
8667    07,August,2004
8667       05,May,2004
Name: date, dtype: object
8668    05,August,2004
8668       05,May,2004
Name: date, dtype: object
8669    03,August,2004
8669       05,May,2004
Name: date, dtype: object
8670    31,mai,2004
8670    05,May,2004
Name: date, dtype: object
8671    28,mai,2004
8671    05,May,2004
Name: date, dtype: object
8672    28,mai,2004
8672    05,May,2004
Name: date, dtype: object
8673    28,mai,2004
8673    05,May,2004
Name: date, dtype: object
8674    27,mai,2004
8674    05,May,2004
Name: date, dtype: object
8675    26,mai,2004
8675    05,May,2004
Name: date, dtype: object
8676    25,mai,2004
8676    05,May,2004
Name: date, dtype: object
8677    25,mai,2004
8677    05,May,2004
Name: date, dtype: object
8678    25,mai,2004
8678    05,May,2004
Name: date, dtype: object
8679    25,mai,2004
8679    05,May,2004
Name: date, dtype: object
8680    25,mai,2004
8680    05,May,2004
Name: date, dtype: object
8681    27,juin,2004
8681     05,May,2004
Name: date, dtype: object
8682    25,juin,2004
8682     05,May,2004
Name: date, dtype: object
8683    24,juin,2004
8683     05,May,2004
Name: date, dtype: object
8684    24,juin,2004
8684     05,May,2004
Name: date, dtype: object
8685    23,juin,2004
8685     05,May,2004
Name: date, dtype: object
8686    22,juin,2004
8686     05,May,2004
Name: date, dtype: object
8687    22,juin,2004
8687     05,May,2004
Name: date, dtype: object
8688    22,juin,2004
8688     05,May,2004
Name: date, dtype: object
8689    21,juin,2004
8689     05,May,2004
Name: date, dtype: object
8690    21,juin,2004
8690     05,May,2004
Name: date, dtype: object
8691    21,juin,2004
8691     05,May,2004
Name: date, dtype: object
8692    20,juin,2004
8692     05,May,2004
Name: date, dtype: object
8693    20,juin,2004
8693     05,May,2004
Name: date, dtype: object
8694    20,juin,2004
8694     05,May,2004
Name: date, dtype: object
8695    18,juin,2004
8695     05,May,2004
Name: date, dtype: object
8696    17,juin,2004
8696     05,May,2004
Name: date, dtype: object
8697    17,juin,2004
8697     05,May,2004
Name: date, dtype: object
8698    16,juin,2004
8698     05,May,2004
Name: date, dtype: object
8699    16,juin,2004
8699     05,May,2004
Name: date, dtype: object
8700    16,juin,2004
8700     05,May,2004
Name: date, dtype: object
8701    16,juin,2004
8701     05,May,2004
Name: date, dtype: object
8702    15,juin,2004
8702     05,May,2004
Name: date, dtype: object
8703    13,juin,2004
8703     05,May,2004
Name: date, dtype: object
8704    12,juin,2004
8704     05,May,2004
Name: date, dtype: object
8705    12,juin,2004
8705     05,May,2004
Name: date, dtype: object
8706    11,juin,2004
8706     05,May,2004
Name: date, dtype: object
8707    11,juin,2004
8707     05,May,2004
Name: date, dtype: object
8708    10,juin,2004
8708     05,May,2004
Name: date, dtype: object
8709    08,juin,2004
8709     05,May,2004
Name: date, dtype: object
8710    08,juin,2004
8710     05,May,2004
Name: date, dtype: object
8711    08,juin,2004
8711     05,May,2004
Name: date, dtype: object
8712    08,juin,2004
8712     05,May,2004
Name: date, dtype: object
8713    07,juin,2004
8713     05,May,2004
Name: date, dtype: object
8714    07,juin,2004
8714     05,May,2004
Name: date, dtype: object
8715    07,juin,2004
8715     05,May,2004
Name: date, dtype: object
8716    07,juin,2004
8716     05,May,2004
Name: date, dtype: object
8717    06,juin,2004
8717     05,May,2004
Name: date, dtype: object
8718    06,juin,2004
8718     05,May,2004
Name: date, dtype: object
8719    06,juin,2004
8719     05,May,2004
Name: date, dtype: object
8720    06,juin,2004
8720     05,May,2004
Name: date, dtype: object
8721    05,juin,2004
8721     05,May,2004
Name: date, dtype: object
8722    05,juin,2004
8722     05,May,2004
Name: date, dtype: object
8723    04,juin,2004
8723     05,May,2004
Name: date, dtype: object
8724    04,juin,2004
8724     05,May,2004
Name: date, dtype: object
8725    04,juin,2004
8725     05,May,2004
Name: date, dtype: object
8726    04,juin,2004
8726     05,May,2004
Name: date, dtype: object
8727    01,juin,2004
8727     05,May,2004
Name: date, dtype: object
8728    01,juin,2004
8728     05,May,2004
Name: date, dtype: object

8729    01,juin,2004
8729     05,May,2004
Name: date, dtype: object
8730    01,juin,2004
8730     05,May,2004
Name: date, dtype: object
8731    01,juin,2004
8731     05,May,2004
Name: date, dtype: object
8732    01,juin,2004
8732     05,May,2004
Name: date, dtype: object
8733    01,juin,2004
8733     05,May,2004
Name: date, dtype: object
8734    01,juin,2004
8734     05,May,2004
Name: date, dtype: object
8735    01,juin,2004
8735     05,May,2004
Name: date, dtype: object
8736    25,juillet,2004
8736        05,May,2004
Name: date, dtype: object
8737    20,juillet,2004
8737        05,May,2004
Name: date, dtype: object
8738    20,juillet,2004
8738        05,May,2004
Name: date, dtype: object
8739    18,juillet,2004
8739        05,May,2004
Name: date, dtype: object
8740    17,juillet,2004
8740        05,May,2004
Name: date, dtype: object
8741    16,juillet,2004
8741        05,May,2004
Name: date, dtype: object
8742    09,juillet,2004
8742        05,May,2004
Name: date, dtype: object
8743    09,juillet,2004
8743        05,May,2004
Name: date, dtype: object
8744    08,juillet,2004
8744        05,May,2004
Name: date, dtype: object
8745    04,juillet,2004
8745        05,May,2004
Name: date, dtype: object
8746    03,juillet,2004
8746        05,May,2004
Name: date, dtype: object
8747    01,juillet,2004
8747        05,May,2004
Name: date, dtype: object
8748    01,juillet,2004
8748        05,May,2004
Name: date, dtype: object
8749    31,August,2003
8749       05,May,2004
Name: date, dtype: object
8750    27,August,2003
8750       05,May,2004
Name: date, dtype: object
8751    25,August,2003
8751       05,May,2004
Name: date, dtype: object
8752    24,August,2003
8752       05,May,2004
Name: date, dtype: object
8753    22,August,2003
8753       05,May,2004
Name: date, dtype: object
8754    30,September,2003
8754          05,May,2004
Name: date, dtype: object
8755    28,September,2003
8755          05,May,2004
Name: date, dtype: object
8756    21,September,2003
8756          05,May,2004
Name: date, dtype: object
8757    11,September,2003
8757          05,May,2004
Name: date, dtype: object
8758    07,September,2003
8758          05,May,2004
Name: date, dtype: object
8759    06,September,2003
8759          05,May,2004
Name: date, dtype: object
8760    04,September,2003
8760          05,May,2004
Name: date, dtype: object
8761    30,October,2003
8761        05,May,2004
Name: date, dtype: object
8762    29,October,2003
8762        05,May,2004
Name: date, dtype: object
8763    21,October,2003
8763        05,May,2004
Name: date, dtype: object
8764    18,October,2003
8764        05,May,2004
Name: date, dtype: object
8765    16,October,2003
8765        05,May,2004
Name: date, dtype: object
8766    15,October,2003
8766        05,May,2004
Name: date, dtype: object
8767    13,October,2003
8767        05,May,2004
Name: date, dtype: object
8768    25,November,2003
8768         05,May,2004
Name: date, dtype: object
8769    21,November,2003
8769         05,May,2004
Name: date, dtype: object
8770    20,November,2003
8770         05,May,2004
Name: date, dtype: object
8771    17,November,2003
8771         05,May,2004
Name: date, dtype: object
8772    12,November,2003
8772         05,May,2004
Name: date, dtype: object
8773    07,November,2003
8773         05,May,2004
Name: date, dtype: object
8774    05,November,2003
8774         05,May,2004
Name: date, dtype: object
8775    23,December,2003
8775         05,May,2004
Name: date, dtype: object
8776    17,December,2003
8776         05,May,2004
Name: date, dtype: object
8777    11,December,2003
8777         05,May,2004
Name: date, dtype: object
8778    05,December,2003
8778         05,May,2004
Name: date, dtype: object
8779    05,December,2003
8779         05,May,2004
Name: date, dtype: object
8780    30,January,2004
8780        05,May,2004
Name: date, dtype: object
8781    28,January,2004
8781        05,May,2004
Name: date, dtype: object
8782    27,January,2004
8782        05,May,2004
Name: date, dtype: object
8783    23,January,2004
8783        05,May,2004
Name: date, dtype: object
8784    21,January,2004
8784        05,May,2004
Name: date, dtype: object
8785    16,January,2004
8785        05,May,2004
Name: date, dtype: object
8786    14,January,2004
8786        05,May,2004
Name: date, dtype: object
8787    14,January,2004
8787        05,May,2004
Name: date, dtype: object
8788    22,February,2004
8788         05,May,2004
Name: date, dtype: object
8789    19,February,2004
8789         05,May,2004
Name: date, dtype: object
8790    10,February,2004
8790         05,May,2004
Name: date, dtype: object
8791    03,February,2004
8791         05,May,2004
Name: date, dtype: object
8792    31,March,2004
8792      05,May,2004
Name: date, dtype: object
8793    18,March,2004
8793      05,May,2004
Name: date, dtype: object
8794    17,March,2004
8794      05,May,2004
Name: date, dtype: object
8795    03,March,2004
8795      05,May,2004
Name: date, dtype: object
8796    28,April,2004
8796      05,May,2004
Name: date, dtype: object
8797    21,April,2004
8797      05,May,2004
Name: date, dtype: object
8798    18,April,2004
8798      05,May,2004
Name: date, dtype: object
8799    16,April,2004
8799      05,May,2004
Name: date, dtype: object
8800    15,April,2004
8800      05,May,2004
Name: date, dtype: object
8801    14,April,2004
8801      05,May,2004
Name: date, dtype: object
8802    03,April,2004
8802      05,May,2004
Name: date, dtype: object
8803    02,April,2004
8803      05,May,2004
Name: date, dtype: object
8804    01,April,2004
8804      05,May,2004
Name: date, dtype: object
8805    31,May,2004
8805    05,May,2004
Name: date, dtype: object
8806    29,May,2004
8806    05,May,2004
Name: date, dtype: object
8807    27,May,2004
8807    05,May,2004
Name: date, dtype: object
8808    25,May,2004
8808    05,May,2004
Name: date, dtype: object
8809    20,May,2004
8809    05,May,2004
Name: date, dtype: object
8810    20,May,2004
8810    05,May,2004
Name: date, dtype: object
8811    17,May,2004
8811    05,May,2004
Name: date, dtype: object
8812    17,May,2004
8812    05,May,2004
Name: date, dtype: object
8813    12,May,2004
8813    05,May,2004
Name: date, dtype: object
8814    10,May,2004
8814    05,May,2004
Name: date, dtype: object
8815    07,May,2004
8815    05,May,2004
Name: date, dtype: object
8816    05,May,2004
8816    05,May,2004
Name: date, dtype: object
8817    30,June,2004
8817     05,May,2004
Name: date, dtype: object
8818    27,June,2004
8818     05,May,2004
Name: date, dtype: object
8819    26,June,2004
8819     05,May,2004
Name: date, dtype: object
8820    22,June,2004
8820     05,May,2004
Name: date, dtype: object
8821    21,June,2004
8821     05,May,2004
Name: date, dtype: object
8822    20,June,2004
8822     05,May,2004
Name: date, dtype: object
8823    19,June,2004
8823     05,May,2004
Name: date, dtype: object
8824    17,June,2004
8824     05,May,2004
Name: date, dtype: object
8825    16,June,2004
8825     05,May,2004
Name: date, dtype: object
8826    15,June,2004
8826     05,May,2004
Name: date, dtype: object
8827    09,June,2004
8827     05,May,2004
Name: date, dtype: object
8828    08,June,2004
8828     05,May,2004
Name: date, dtype: object
8829    07,June,2004
8829     05,May,2004
Name: date, dtype: object
8830    04,June,2004
8830     05,May,2004
Name: date, dtype: object
8831    02,June,2004
8831     05,May,2004
Name: date, dtype: object
8832    02,June,2004
8832     05,May,2004
Name: date, dtype: object
8833    01,June,2004
8833     05,May,2004
Name: date, dtype: object
8834    28,July,2004
8834     05,May,2004
Name: date, dtype: object
8835    27,July,2004
8835     05,May,2004
Name: date, dtype: object
8836    26,July,2004
8836     05,May,2004
Name: date, dtype: object
8837    25,July,2004
8837     05,May,2004
Name: date, dtype: object
8838    23,July,2004
8838     05,May,2004
Name: date, dtype: object
8839    21,July,2004
8839     05,May,2004
Name: date, dtype: object
8840    20,July,2004
8840     05,May,2004
Name: date, dtype: object
8841    15,July,2004
8841     05,May,2004
Name: date, dtype: object
8842    14,July,2004
8842     05,May,2004
Name: date, dtype: object
8843    13,July,2004
8843     05,May,2004
Name: date, dtype: object
8844    13,July,2004
8844     05,May,2004
Name: date, dtype: object
8845    10,July,2004
8845     05,May,2004
Name: date, dtype: object
8846    09,July,2004
8846     05,May,2004
Name: date, dtype: object
8847    08,July,2004
8847     05,May,2004
Name: date, dtype: object
8848    07,July,2004
8848     05,May,2004
Name: date, dtype: object
8849    06,July,2004
8849     05,May,2004
Name: date, dtype: object
8850    11,August,2004
8850       05,May,2004
Name: date, dtype: object
8851    10,August,2004
8851       05,May,2004
Name: date, dtype: object
8852    09,August,2004
8852       05,May,2004
Name: date, dtype: object
8853    01,August,2004
8853       05,May,2004
Name: date, dtype: object

8854    20,June,2004
8854     05,May,2004
Name: date, dtype: object
8855    19,June,2004
8855     05,May,2004
Name: date, dtype: object
8856    19,June,2004
8856     05,May,2004
Name: date, dtype: object
8857    19,June,2004
8857     05,May,2004
Name: date, dtype: object
8858    19,June,2004
8858     05,May,2004
Name: date, dtype: object
8859    19,June,2004
8859     05,May,2004
Name: date, dtype: object
8860    19,June,2004
8860     05,May,2004
Name: date, dtype: object
8861    19,June,2004
8861     05,May,2004
Name: date, dtype: object
8862    19,June,2004
8862     05,May,2004
Name: date, dtype: object
8863    19,June,2004
8863     05,May,2004
Name: date, dtype: object
8864    19,June,2004
8864     05,May,2004
Name: date, dtype: object
8865    19,June,2004
8865     05,May,2004
Name: date, dtype: object
8866    19,June,2004
8866     05,May,2004
Name: date, dtype: object
8867    19,June,2004
8867     05,May,2004
Name: date, dtype: object
8868    19,June,2004
8868     05,May,2004
Name: date, dtype: object
8869    19,June,2004
8869     05,May,2004
Name: date, dtype: object
8870    19,June,2004
8870     05,May,2004
Name: date, dtype: object
8871    19,June,2004
8871     05,May,2004
Name: date, dtype: object
8872    27,July,2004
8872     05,May,2004
Name: date, dtype: object
8873    21,July,2004
8873     05,May,2004
Name: date, dtype: object
8874    20,July,2004
8874     05,May,2004
Name: date, dtype: object
8875    18,July,2004
8875     05,May,2004
Name: date, dtype: object
8876    17,July,2004
8876     05,May,2004
Name: date, dtype: object
8877    17,July,2004
8877     05,May,2004
Name: date, dtype: object
8878    17,July,2004
8878     05,May,2004
Name: date, dtype: object
8879    17,July,2004
8879     05,May,2004
Name: date, dtype: object
8880    17,July,2004
8880     05,May,2004
Name: date, dtype: object
8881    17,July,2004
8881     05,May,2004
Name: date, dtype: object
8882    17,July,2004
8882     05,May,2004
Name: date, dtype: object
8883    04,August,2004
8883       05,May,2004
Name: date, dtype: object
8884    29,February,2004
8884         05,May,2004
Name: date, dtype: object
8885    26,February,2004
8885         05,May,2004
Name: date, dtype: object
8886    26,February,2004
8886         05,May,2004
Name: date, dtype: object
8887    24,February,2004
8887         05,May,2004
Name: date, dtype: object
8888    21,February,2004
8888         05,May,2004
Name: date, dtype: object
8889    20,February,2004
8889         05,May,2004
Name: date, dtype: object
8890    13,February,2004
8890         05,May,2004
Name: date, dtype: object
8891    13,February,2004
8891         05,May,2004
Name: date, dtype: object
8892    13,February,2004
8892         05,May,2004
Name: date, dtype: object
8893    13,February,2004
8893         05,May,2004
Name: date, dtype: object
8894    31,March,2004
8894      05,May,2004
Name: date, dtype: object
8895    30,March,2004
8895      05,May,2004
Name: date, dtype: object
8896    30,March,2004
8896      05,May,2004
Name: date, dtype: object
8897    29,March,2004
8897      27,May,2004
Name: date, dtype: object
8898    29,March,2004
8898      26,May,2004
Name: date, dtype: object
8899    28,March,2004
8899     27,June,2004
Name: date, dtype: object
8900    28,March,2004
8900     23,June,2004
Name: date, dtype: object
8901    28,March,2004
8901     21,June,2004
Name: date, dtype: object
8902    28,March,2004
8902     20,June,2004
Name: date, dtype: object
8903    28,March,2004
8903     19,June,2004
Name: date, dtype: object
8904    26,March,2004
8904     18,June,2004
Name: date, dtype: object
8905    24,March,2004
8905     17,June,2004
Name: date, dtype: object
8906    22,March,2004
8906     14,June,2004
Name: date, dtype: object
8907    17,March,2004
8907     13,June,2004
Name: date, dtype: object
8908    11,March,2004
8908     12,June,2004
Name: date, dtype: object
8909    04,March,2004
8909     11,June,2004
Name: date, dtype: object
8910    03,March,2004
8910     11,June,2004
Name: date, dtype: object
8911    30,April,2004
8911     10,June,2004
Name: date, dtype: object
8912    29,April,2004
8912     09,June,2004
Name: date, dtype: object
8913    27,April,2004
8913     08,June,2004
Name: date, dtype: object
8914    25,April,2004
8914     07,June,2004
Name: date, dtype: object
8915    23,April,2004
8915     06,June,2004
Name: date, dtype: object
8916    18,April,2004
8916     24,July,2004
Name: date, dtype: object
8917    16,April,2004
8917     22,July,2004
Name: date, dtype: object
8918    16,April,2004
8918     21,July,2004
Name: date, dtype: object
8919    12,April,2004
8919     20,July,2004
Name: date, dtype: object
8920    11,April,2004
8920     19,July,2004
Name: date, dtype: object
8921    10,April,2004
8921     19,July,2004
Name: date, dtype: object
8922    10,April,2004
8922     18,July,2004
Name: date, dtype: object
8923    10,April,2004
8923     18,July,2004
Name: date, dtype: object
8924    10,April,2004
8924     18,July,2004
Name: date, dtype: object
8925    08,April,2004
8925     07,July,2004
Name: date, dtype: object
8926    08,April,2004
8926     07,July,2004
Name: date, dtype: object
8927     28,May,2004
8927    07,July,2004
Name: date, dtype: object
8928     27,May,2004
8928    07,July,2004
Name: date, dtype: object
8929     26,May,2004
8929    07,July,2004
Name: date, dtype: object
8930     25,May,2004
8930    07,July,2004
Name: date, dtype: object
8931     25,May,2004
8931    07,July,2004
Name: date, dtype: object
8932     22,May,2004
8932    07,July,2004
Name: date, dtype: object
8933     17,May,2004
8933    07,July,2004
Name: date, dtype: object
8934     13,May,2004
8934    07,July,2004
Name: date, dtype: object
8935     09,May,2004
8935    07,July,2004
Name: date, dtype: object
8936     05,May,2004
8936    07,July,2004
Name: date, dtype: object
8937     01,May,2004
8937    07,July,2004
Name: date, dtype: object
8938    29,June,2004
8938    07,July,2004
Name: date, dtype: object
8939    21,June,2004
8939    07,July,2004
Name: date, dtype: object
8940    15,June,2004
8940    07,July,2004
Name: date, dtype: object
8941    14,June,2004
8941    07,July,2004
Name: date, dtype: object
8942    11,June,2004
8942    07,July,2004
Name: date, dtype: object
8943    06,June,2004
8943    07,July,2004
Name: date, dtype: object
8944    01,June,2004
8944    07,July,2004
Name: date, dtype: object
8945    13,July,2004
8945    07,July,2004
Name: date, dtype: object
8946    09,July,2004
8946    07,July,2004
Name: date, dtype: object
8947    07,July,2004
8947    04,July,2004
Name: date, dtype: object
8948    07,July,2004
8948    01,July,2004
Name: date, dtype: object
8949    07,August,2004
8949    17,August,2004
Name: date, dtype: object
8950      13,June,2004
8950    16,August,2004
Name: date, dtype: object
8951      06,June,2004
8951    14,August,2004
Name: date, dtype: object
8952      04,June,2004
8952    14,August,2004
Name: date, dtype: object
8953       27,May,2004
8953    07,August,2004
Name: date, dtype: object
8954       23,May,2004
8954    01,August,2004
Name: date, dtype: object
8955       20,May,2004
8955    01,August,2004
Name: date, dtype: object
8956     20,May,2004
8956    04,June,2004
Name: date, dtype: object
8957    10,June,2004
8957    02,June,2004
Name: date, dtype: object
8958    08,June,2004
8958    02,June,2004
Name: date, dtype: object
8959    07,June,2004
8959    01,June,2004
Name: date, dtype: object
8960    04,June,2004
8960     14,May,2004
Name: date, dtype: object
8961    01,June,2004
8961    30,July,2004
Name: date, dtype: object
8962    01,June,2004
8962    28,July,2004
Name: date, dtype: object
8963    09,July,2004
8963    28,July,2004
Name: date, dtype: object
8964    15,August,2004
8964    01,August,2004
Name: date, dtype: object
8965    14,August,2004
8965       26,May,2004
Name: date, dtype: object
8966    13,August,2004
8966       16,May,2004
Name: date, dtype: object
8967    13,August,2004
8967       15,May,2004
Name: date, dtype: object
8968    13,August,2004
8968       14,May,2004
Name: date, dtype: object
8969    13,August,2004
8969       13,May,2004
Name: date, dtype: object
8970    13,August,2004
8970       12,May,2004
Name: date, dtype: object
8971    13,August,2004
8971       11,May,2004
Name: date, dtype: object
8972    17,July,2004
8972    14,June,2004
Name: date, dtype: object
8973    13,July,2004
8973    29,July,2004
Name: date, dtype: object
8974    12,July,2004
8974    28,July,2004
Name: date, dtype: object
8975    12,July,2004
8975    28,July,2004
Name: date, dtype: object
8976     10,July,2004
8976    11,March,2004
Name: date, dtype: object
8977     09,July,2004
8977    15,March,2004
Name: date, dtype: object
8978     22,June,2004
8978    30,March,2004
Name: date, dtype: object
8979     18,June,2004
8979    28,March,2004
Name: date, dtype: object
8980     17,June,2004
8980    28,March,2004
Name: date, dtype: object
8981     17,June,2004
8981    13,April,2004
Name: date, dtype: object
8982     16,June,2004
8982    12,April,2004
Name: date, dtype: object
8983    16,June,2004
8983     05,May,2004
Name: date, dtype: object
8984    16,June,2004
8984     02,May,2004
Name: date, dtype: object
8985    14,June,2004
8985     02,May,2004
Name: date, dtype: object
8986    11,July,2004
8986     19,May,2004
Name: date, dtype: object
8987    11,July,2004
8987     19,May,2004
Name: date, dtype: object
8988    06,July,2004
8988     24,May,2004
Name: date, dtype: object
8989    02,July,2004
8989    07,June,2004
Name: date, dtype: object
8990    29,June,2004
8990    25,June,2004
Name: date, dtype: object
8991    24,June,2004
8991    12,July,2004
Name: date, dtype: object
8992    20,June,2004
8992    30,July,2004
Name: date, dtype: object
8993    19,June,2004
8993    26,July,2004
Name: date, dtype: object
8994    18,June,2004
8994     16,May,2004
Name: date, dtype: object
8995    17,June,2004
8995     16,May,2004
Name: date, dtype: object
8996    17,June,2004
8996     16,May,2004
Name: date, dtype: object
8997    17,June,2004
8997     16,May,2004
Name: date, dtype: object
8998    17,June,2004
8998     16,May,2004
Name: date, dtype: object
8999    16,June,2004
8999     16,May,2004
Name: date, dtype: object

9000    16,June,2004
9000     16,May,2004
Name: date, dtype: object
9001    16,June,2004
9001     16,May,2004
Name: date, dtype: object
9002    16,June,2004
9002     16,May,2004
Name: date, dtype: object
9003    15,June,2004
9003     16,May,2004
Name: date, dtype: object
9004    15,June,2004
9004     16,May,2004
Name: date, dtype: object
9005    15,June,2004
9005     16,May,2004
Name: date, dtype: object
9006    15,June,2004
9006     16,May,2004
Name: date, dtype: object
9007    15,June,2004
9007     16,May,2004
Name: date, dtype: object
9008    14,June,2004
9008     16,May,2004
Name: date, dtype: object
9009    14,June,2004
9009     16,May,2004
Name: date, dtype: object
9010    14,June,2004
9010     16,May,2004
Name: date, dtype: object
9011    13,June,2004
9011     16,May,2004
Name: date, dtype: object
9012    13,June,2004
9012     16,May,2004
Name: date, dtype: object
9013    12,June,2004
9013     16,May,2004
Name: date, dtype: object
9014    12,June,2004
9014     16,May,2004
Name: date, dtype: object
9015    12,June,2004
9015     16,May,2004
Name: date, dtype: object
9016    12,June,2004
9016     16,May,2004
Name: date, dtype: object
9017    11,June,2004
9017     16,May,2004
Name: date, dtype: object
9018    11,June,2004
9018     16,May,2004
Name: date, dtype: object
9019    11,June,2004
9019     16,May,2004
Name: date, dtype: object
9020    11,June,2004
9020     16,May,2004
Name: date, dtype: object
9021    11,June,2004
9021     16,May,2004
Name: date, dtype: object
9022    11,June,2004
9022     16,May,2004
Name: date, dtype: object
9023    10,June,2004
9023     16,May,2004
Name: date, dtype: object
9024    10,June,2004
9024     16,May,2004
Name: date, dtype: object
9025    10,June,2004
9025     16,May,2004
Name: date, dtype: object
9026    09,June,2004
9026     16,May,2004
Name: date, dtype: object
9027    07,June,2004
9027     16,May,2004
Name: date, dtype: object
9028    06,June,2004
9028     16,May,2004
Name: date, dtype: object
9029    06,June,2004
9029     16,May,2004
Name: date, dtype: object
9030    05,June,2004
9030     16,May,2004
Name: date, dtype: object
9031    05,June,2004
9031     16,May,2004
Name: date, dtype: object
9032    05,June,2004
9032     16,May,2004
Name: date, dtype: object
9033    05,June,2004
9033     16,May,2004
Name: date, dtype: object
9034    03,June,2004
9034     16,May,2004
Name: date, dtype: object
9035    03,June,2004
9035     16,May,2004
Name: date, dtype: object
9036    03,June,2004
9036     16,May,2004
Name: date, dtype: object
9037     22,July,2004
9037    29,April,2004
Name: date, dtype: object
9038     18,July,2004
9038    26,April,2004
Name: date, dtype: object
9039     17,July,2004
9039    25,April,2004
Name: date, dtype: object
9040    15,July,2004
9040     26,May,2004
Name: date, dtype: object
9041    14,July,2004
9041     20,May,2004
Name: date, dtype: object
9042    12,July,2004
9042     18,May,2004
Name: date, dtype: object
9043    11,July,2004
9043     17,May,2004
Name: date, dtype: object
9044    11,July,2004
9044     16,May,2004
Name: date, dtype: object
9045    11,July,2004
9045     16,May,2004
Name: date, dtype: object
9046    10,July,2004
9046     14,May,2004
Name: date, dtype: object
9047    10,July,2004
9047     13,May,2004
Name: date, dtype: object
9048    10,July,2004
9048     06,May,2004
Name: date, dtype: object
9049    10,July,2004
9049     04,May,2004
Name: date, dtype: object
9050    09,July,2004
9050    30,June,2004
Name: date, dtype: object
9051    07,July,2004
9051    29,June,2004
Name: date, dtype: object
9052    04,July,2004
9052    28,June,2004
Name: date, dtype: object
9053    04,July,2004
9053    28,June,2004
Name: date, dtype: object
9054    01,July,2004
9054    26,June,2004
Name: date, dtype: object
9055    01,July,2004
9055    25,June,2004
Name: date, dtype: object
9056    01,July,2004
9056    24,June,2004
Name: date, dtype: object
9057    01,July,2004
9057    22,June,2004
Name: date, dtype: object
9058    15,August,2004
9058      15,June,2004
Name: date, dtype: object
9059    14,August,2004
9059      13,June,2004
Name: date, dtype: object
9060    14,August,2004
9060      11,June,2004
Name: date, dtype: object
9061    14,August,2004
9061      11,June,2004
Name: date, dtype: object
9062    14,August,2004
9062      10,June,2004
Name: date, dtype: object
9063    09,August,2004
9063      10,June,2004
Name: date, dtype: object
9064    09,August,2004
9064      10,June,2004
Name: date, dtype: object
9065    08,August,2004
9065      09,June,2004
Name: date, dtype: object
9066    30,April,2004
9066     09,June,2004
Name: date, dtype: object
9067     30,May,2004
9067    07,June,2004
Name: date, dtype: object
9068     30,May,2004
9068    06,June,2004
Name: date, dtype: object
9069     30,May,2004
9069    04,June,2004
Name: date, dtype: object
9070    03,June,2004
9070    04,June,2004
Name: date, dtype: object
9071    02,June,2004
9071    04,June,2004
Name: date, dtype: object
9072    02,June,2004
9072    04,June,2004
Name: date, dtype: object
9073    30,June,2004
9073    04,June,2004
Name: date, dtype: object
9074    30,July,2004
9074    04,June,2004
Name: date, dtype: object
9075    28,July,2004
9075    04,June,2004
Name: date, dtype: object
9076    27,July,2004
9076    06,July,2004
Name: date, dtype: object
9077    26,July,2004
9077    05,July,2004
Name: date, dtype: object
9078    25,July,2004
9078    05,July,2004
Name: date, dtype: object
9079    21,July,2004
9079    04,July,2004
Name: date, dtype: object
9080    20,July,2004
9080    04,July,2004
Name: date, dtype: object
9081    19,July,2004
9081    05,July,2004
Name: date, dtype: object
9082    17,July,2004
9082    30,July,2004
Name: date, dtype: object
9083    16,July,2004
9083    29,July,2004
Name: date, dtype: object
9084    16,July,2004
9084    27,July,2004
Name: date, dtype: object
9085    11,July,2004
9085    26,July,2004
Name: date, dtype: object
9086    10,July,2004
9086    25,July,2004
Name: date, dtype: object
9087    10,July,2004
9087    23,July,2004
Name: date, dtype: object
9088    09,July,2004
9088    23,July,2004
Name: date, dtype: object
9089    09,July,2004
9089    22,July,2004
Name: date, dtype: object
9090    08,July,2004
9090    21,July,2004
Name: date, dtype: object
9091    08,July,2004
9091    21,July,2004
Name: date, dtype: object
9092    07,July,2004
9092    21,July,2004
Name: date, dtype: object
9093      07,July,2004
9093    13,August,2004
Name: date, dtype: object
9094    02,August,2004
9094    09,August,2004
Name: date, dtype: object
9095    01,August,2004
9095    02,August,2004
Name: date, dtype: object
9096      30,June,2004
9096    02,August,2004
Name: date, dtype: object
9097      28,June,2004
9097    02,August,2004
Name: date, dtype: object
9098    27,June,2004
9098     29,May,2004
Name: date, dtype: object
9099    26,June,2004
9099     27,May,2004
Name: date, dtype: object
9100    25,June,2004
9100     17,May,2004
Name: date, dtype: object
9101    24,June,2004
9101     17,May,2004
Name: date, dtype: object
9102    23,June,2004
9102    22,June,2004
Name: date, dtype: object
9103    23,June,2004
9103    19,June,2004
Name: date, dtype: object
9104    23,June,2004
9104    16,June,2004
Name: date, dtype: object
9105    29,July,2004
9105    14,June,2004
Name: date, dtype: object
9106    21,July,2004
9106    03,June,2004
Name: date, dtype: object
9107    20,July,2004
9107    01,June,2004
Name: date, dtype: object
9108    17,July,2004
9108    01,June,2004
Name: date, dtype: object
9109    15,July,2004
9109    01,June,2004
Name: date, dtype: object
9110    14,July,2004
9110    28,July,2004
Name: date, dtype: object
9111    12,July,2004
9111    14,July,2004
Name: date, dtype: object
9112    08,July,2004
9112    10,July,2004
Name: date, dtype: object
9113    06,July,2004
9113    03,July,2004
Name: date, dtype: object
9114    05,July,2004
9114    31,July,2004
Name: date, dtype: object
9115    02,July,2004
9115    29,July,2004
Name: date, dtype: object
9116    14,August,2004
9116      26,July,2004
Name: date, dtype: object
9117    12,August,2004
9117      25,July,2004
Name: date, dtype: object
9118    11,August,2004
9118      24,July,2004
Name: date, dtype: object
9119    09,August,2004
9119      23,July,2004
Name: date, dtype: object
9120    08,August,2004
9120      22,July,2004
Name: date, dtype: object
9121    07,August,2004
9121      21,July,2004
Name: date, dtype: object
9122    06,August,2004
9122      20,July,2004
Name: date, dtype: object
9123    05,August,2004
9123      19,July,2004
Name: date, dtype: object
9124    04,August,2004
9124      19,July,2004
Name: date, dtype: object
9125    03,August,2004
9125    18,August,2004
Name: date, dtype: object
9126      31,July,2004
9126    17,August,2004
Name: date, dtype: object
9127      30,July,2004
9127    16,August,2004
Name: date, dtype: object
9128      28,July,2004
9128    14,August,2004
Name: date, dtype: object
9129      27,July,2004
9129    13,August,2004
Name: date, dtype: object
9130      27,July,2004
9130    12,August,2004
Name: date, dtype: object
9131    13,August,2004
9131    11,August,2004
Name: date, dtype: object
9132    11,August,2004
9132    10,August,2004
Name: date, dtype: object
9133    10,August,2004
9133    10,August,2004
Name: date, dtype: object
9134    09,August,2004
9134    10,August,2004
Name: date, dtype: object
9135    06,August,2004
9135    10,August,2004
Name: date, dtype: object
9136    06,August,2004
9136    10,August,2004
Name: date, dtype: object
9137    04,August,2004
9137    09,August,2004
Name: date, dtype: object
9138    03,August,2004
9138    09,August,2004

Name: date, dtype: object
9139    01,August,2004
9139    09,August,2004
Name: date, dtype: object
9140     29,April,2004
9140    08,August,2004
Name: date, dtype: object
9141     28,April,2004
9141    07,August,2004
Name: date, dtype: object
9142     26,April,2004
9142    07,August,2004
Name: date, dtype: object
9143     23,April,2004
9143    07,August,2004
Name: date, dtype: object
9144     21,April,2004
9144    07,August,2004
Name: date, dtype: object
9145     19,April,2004
9145    06,August,2004
Name: date, dtype: object
9146     16,April,2004
9146    06,August,2004
Name: date, dtype: object
9147     13,April,2004
9147    06,August,2004
Name: date, dtype: object
9148     13,April,2004
9148    03,August,2004
Name: date, dtype: object
9149     13,April,2004
9149    02,August,2004
Name: date, dtype: object
9150     12,April,2004
9150    22,August,2004
Name: date, dtype: object
9151     11,April,2004
9151    22,August,2004
Name: date, dtype: object
9152     10,April,2004
9152    22,August,2004
Name: date, dtype: object
9153     08,April,2004
9153    22,August,2004
Name: date, dtype: object
9154       08,April,2004
9154    28,February,2004
Name: date, dtype: object
9155       08,April,2004
9155    27,February,2004
Name: date, dtype: object
9156       07,April,2004
9156    26,February,2004
Name: date, dtype: object
9157       06,April,2004
9157    25,February,2004
Name: date, dtype: object
9158       06,April,2004
9158    25,February,2004
Name: date, dtype: object
9159         30,May,2004
9159    25,February,2004
Name: date, dtype: object
9160         28,May,2004
9160    23,February,2004
Name: date, dtype: object
9161         28,May,2004
9161    23,February,2004
Name: date, dtype: object
9162         09,May,2004
9162    22,February,2004
Name: date, dtype: object
9163         03,May,2004
9163    21,February,2004
Name: date, dtype: object
9164         02,May,2004
9164    20,February,2004
Name: date, dtype: object
9165         01,May,2004
9165    20,February,2004
Name: date, dtype: object
9166        30,June,2004
9166    20,February,2004
Name: date, dtype: object
9167        29,June,2004
9167    20,February,2004
Name: date, dtype: object
9168        27,June,2004
9168    17,February,2004
Name: date, dtype: object
9169        26,June,2004
9169    17,February,2004
Name: date, dtype: object
9170        26,June,2004
9170    15,February,2004
Name: date, dtype: object
9171        23,June,2004
9171    15,February,2004
Name: date, dtype: object
9172        20,June,2004
9172    14,February,2004
Name: date, dtype: object
9173        20,June,2004
9173    12,February,2004
Name: date, dtype: object
9174        19,June,2004
9174    11,February,2004
Name: date, dtype: object
9175        18,June,2004
9175    10,February,2004
Name: date, dtype: object
9176     17,June,2004
9176    31,March,2004
Name: date, dtype: object
9177     14,June,2004
9177    30,March,2004
Name: date, dtype: object
9178     14,June,2004
9178    29,March,2004
Name: date, dtype: object
9179     13,June,2004
9179    28,March,2004
Name: date, dtype: object
9180     11,June,2004
9180    28,March,2004
Name: date, dtype: object
9181     10,June,2004
9181    26,March,2004
Name: date, dtype: object
9182     06,June,2004
9182    25,March,2004
Name: date, dtype: object
9183     05,June,2004
9183    25,March,2004
Name: date, dtype: object
9184     05,June,2004
9184    25,March,2004
Name: date, dtype: object
9185     03,June,2004
9185    24,March,2004
Name: date, dtype: object
9186     03,June,2004
9186    24,March,2004
Name: date, dtype: object
9187     03,June,2004
9187    23,March,2004
Name: date, dtype: object
9188     31,July,2004
9188    21,March,2004
Name: date, dtype: object
9189     30,July,2004
9189    20,March,2004
Name: date, dtype: object
9190     28,July,2004
9190    18,March,2004
Name: date, dtype: object
9191     26,July,2004
9191    11,March,2004
Name: date, dtype: object
9192     24,July,2004
9192    04,March,2004
Name: date, dtype: object
9193     21,July,2004
9193    02,March,2004
Name: date, dtype: object
9194     19,July,2004
9194    29,April,2004
Name: date, dtype: object
9195     18,July,2004
9195    26,April,2004
Name: date, dtype: object
9196     17,July,2004
9196    22,April,2004
Name: date, dtype: object
9197     16,July,2004
9197    21,April,2004
Name: date, dtype: object
9198     16,July,2004
9198    18,April,2004
Name: date, dtype: object
9199     15,July,2004
9199    17,April,2004
Name: date, dtype: object
9200     13,July,2004
9200    15,April,2004
Name: date, dtype: object
9201     09,July,2004
9201    12,April,2004
Name: date, dtype: object
9202     09,July,2004
9202    11,April,2004
Name: date, dtype: object
9203     07,July,2004
9203    09,April,2004
Name: date, dtype: object
9204     02,July,2004
9204    07,April,2004
Name: date, dtype: object
9205    06,August,2004
9205     06,April,2004
Name: date, dtype: object
9206    03,August,2004
9206     05,April,2004
Name: date, dtype: object
9207    03,August,2004
9207     05,April,2004
Name: date, dtype: object
9208    30,March,2004
9208    03,April,2004
Name: date, dtype: object
9209    29,March,2004
9209    03,April,2004
Name: date, dtype: object
9210    28,March,2004
9210      29,May,2004
Name: date, dtype: object
9211    28,March,2004
9211      26,May,2004
Name: date, dtype: object
9212    28,March,2004
9212      20,May,2004
Name: date, dtype: object
9213    27,March,2004
9213      19,May,2004
Name: date, dtype: object
9214    27,March,2004
9214      18,May,2004
Name: date, dtype: object
9215    22,April,2004
9215      17,May,2004
Name: date, dtype: object
9216    18,April,2004
9216      15,May,2004
Name: date, dtype: object
9217    12,April,2004
9217      13,May,2004
Name: date, dtype: object
9218    10,April,2004
9218      11,May,2004
Name: date, dtype: object
9219    07,April,2004
9219      11,May,2004
Name: date, dtype: object
9220    06,April,2004
9220      04,May,2004
Name: date, dtype: object
9221    01,April,2004
9221     25,June,2004
Name: date, dtype: object
9222     16,May,2004
9222    14,June,2004
Name: date, dtype: object
9223     08,May,2004
9223    13,June,2004
Name: date, dtype: object
9224     07,May,2004
9224    08,June,2004
Name: date, dtype: object
9225     04,May,2004
9225    03,June,2004
Name: date, dtype: object
9226    27,June,2004
9226    21,July,2004
Name: date, dtype: object
9227    25,June,2004
9227    20,July,2004
Name: date, dtype: object
9228    23,June,2004
9228    14,July,2004
Name: date, dtype: object
9229      20,June,2004
9229    03,August,2004
Name: date, dtype: object
9230      12,June,2004
9230    01,August,2004
Name: date, dtype: object
9231    09,June,2004
9231    30,July,2004
Name: date, dtype: object
9232    08,June,2004
9232    30,July,2004
Name: date, dtype: object
9233    15,July,2004
9233    30,July,2004
Name: date, dtype: object
9234    12,July,2004
9234    30,July,2004
Name: date, dtype: object
9235    08,July,2004
9235    30,July,2004
Name: date, dtype: object
9236      06,July,2004
9236    03,August,2004
Name: date, dtype: object
9237      05,July,2004
9237    04,August,2004
Name: date, dtype: object
9238      03,July,2004
9238    04,August,2004
Name: date, dtype: object
9239     28,April,2004
9239    04,August,2004
Name: date, dtype: object
9240       27,May,2004
9240    04,August,2004
Name: date, dtype: object
9241       21,May,2004
9241    04,August,2004
Name: date, dtype: object
9242       13,May,2004
9242    04,August,2004
Name: date, dtype: object
9243    07,May,2004
9243    28,May,2004
Name: date, dtype: object
9244    06,May,2004
9244    28,May,2004
Name: date, dtype: object
9245    28,June,2004
9245     21,May,2004
Name: date, dtype: object
9246    20,June,2004
9246     21,May,2004
Name: date, dtype: object
9247    19,June,2004
9247    03,June,2004
Name: date, dtype: object
9248    10,June,2004
9248     27,May,2004
Name: date, dtype: object
9249    09,June,2004
9249     26,May,2004
Name: date, dtype: object
9250    25,July,2004
9250     24,May,2004
Name: date, dtype: object
9251    16,July,2004
9251     21,May,2004
Name: date, dtype: object
9252    13,July,2004
9252     19,May,2004
Name: date, dtype: object
9253    10,July,2004
9253     17,May,2004
Name: date, dtype: object
9254    07,July,2004
9254    28,June,2004
Name: date, dtype: object
9255    07,July,2004
9255    21,June,2004
Name: date, dtype: object
9256     29,May,2004
9256    16,June,2004
Name: date, dtype: object
9257     11,May,2004
9257    10,June,2004
Name: date, dtype: object
9258     04,May,2004
9258    01,June,2004
Name: date, dtype: object
9259    25,June,2004
9259    26,July,2004
Name: date, dtype: object
9260    22,June,2004
9260    08,July,2004
Name: date, dtype: object
9261      22,June,2004
9261    09,August,2004
Name: date, dtype: object
9262    21,June,2004
9262     31,May,2004
Name: date, dtype: object
9263    18,June,2004
9263     30,May,2004
Name: date, dtype: object
9264    12,June,2004
9264     29,May,2004
Name: date, dtype: object
9265    09,June,2004
9265     28,May,2004
Name: date, dtype: object
9266    08,June,2004
9266     26,May,2004
Name: date, dtype: object
9267    07,June,2004
9267     24,May,2004
Name: date, dtype: object
9268    06,June,2004
9268     23,May,2004
Name: date, dtype: object
9269    04,June,2004
9269     22,May,2004
Name: date, dtype: object
9270    03,June,2004
9270     22,May,2004
Name: date, dtype: object
9271    22,July,2004
9271    28,June,2004
Name: date, dtype: object
9272    19,July,2004
9272    27,June,2004
Name: date, dtype: object
9273    10,July,2004
9273    27,June,2004
Name: date, dtype: object
9274    07,August,2004
9274      27,June,2004
Name: date, dtype: object
9275    03,August,2004
9275      26,June,2004
Name: date, dtype: object
9276    01,August,2004
9276      26,June,2004
Name: date, dtype: object
9277    31,July,2004
9277    25,June,2004
Name: date, dtype: object
9278    30,July,2004
9278    22,June,2004
Name: date, dtype: object
9279    29,July,2004
9279    21,June,2004
Name: date, dtype: object
9280    27,July,2004
9280    21,June,2004
Name: date, dtype: object
9281    24,July,2004
9281    21,June,2004
Name: date, dtype: object
9282    24,July,2004
9282    20,June,2004
Name: date, dtype: object
9283    20,July,2004
9283    20,June,2004
Name: date, dtype: object
9284    20,July,2004
9284    12,June,2004
Name: date, dtype: object
9285    19,July,2004
9285    09,June,2004
Name: date, dtype: object
9286    17,July,2004
9286    05,June,2004
Name: date, dtype: object

9287    17,July,2004
9287    04,June,2004
Name: date, dtype: object
9288    14,August,2004
9288      03,June,2004
Name: date, dtype: object
9289    07,August,2004
9289      01,June,2004
Name: date, dtype: object
9290    05,August,2004
9290      31,July,2004
Name: date, dtype: object
9291    03,August,2004
9291      30,July,2004
Name: date, dtype: object
9292    01,August,2004
9292      30,July,2004
Name: date, dtype: object
9293    23,August,2004
9293      28,July,2004
Name: date, dtype: object
9294    22,August,2004
9294      28,July,2004
Name: date, dtype: object
9295    21,August,2004
9295      28,July,2004
Name: date, dtype: object
9296    20,August,2004
9296      27,July,2004
Name: date, dtype: object
9297    19,August,2004
9297      25,July,2004
Name: date, dtype: object
9298    19,August,2004
9298      23,July,2004
Name: date, dtype: object
9299    19,August,2004
9299      21,July,2004
Name: date, dtype: object
9300    14,August,2004
9300      21,July,2004
Name: date, dtype: object
9301    13,August,2004
9301      21,July,2004
Name: date, dtype: object
9302      02,July,2004
9302    09,August,2004
Name: date, dtype: object
9303     25,Julho,2004
9303    06,August,2004
Name: date, dtype: object
9304     25,Julho,2004
9304    05,August,2004
Name: date, dtype: object
9305     25,Julho,2004
9305    04,August,2004
Name: date, dtype: object
9306     25,Julho,2004
9306    02,August,2004
Name: date, dtype: object
9307     25,Julho,2004
9307    01,August,2004
Name: date, dtype: object
9308    25,Julho,2004
9308     12,July,2004
Name: date, dtype: object
9309    25,Julho,2004
9309     10,July,2004
Name: date, dtype: object
9310    01,Agosto,2004
9310      10,July,2004
Name: date, dtype: object
9311    01,Agosto,2004
9311      09,July,2004
Name: date, dtype: object
9312    27,June,2004
9312    08,July,2004
Name: date, dtype: object
9313    31,July,2004
9313    08,July,2004
Name: date, dtype: object
9314    23,July,2004
9314    08,July,2004
Name: date, dtype: object
9315    17,July,2004
9315    08,July,2004
Name: date, dtype: object
9316    09,July,2004
9316    08,July,2004
Name: date, dtype: object
9317    06,July,2004
9317    06,July,2004
Name: date, dtype: object
9318    22,June,2004
9318    04,July,2004
Name: date, dtype: object
9319    30,July,2004
9319    04,July,2004
Name: date, dtype: object
9320    28,July,2004
9320    03,July,2004
Name: date, dtype: object
9321    28,July,2004
9321    03,July,2004
Name: date, dtype: object
9322    28,July,2004
9322    03,July,2004
Name: date, dtype: object
9323    22,July,2004
9323    29,June,2004
Name: date, dtype: object
9324    22,July,2004
9324    25,June,2004
Name: date, dtype: object
9325    20,July,2004
9325    23,June,2004
Name: date, dtype: object
9326    15,July,2004
9326    18,June,2004
Name: date, dtype: object
9327    15,July,2004
9327    17,June,2004
Name: date, dtype: object
9328    15,July,2004
9328    14,June,2004
Name: date, dtype: object
9329    15,July,2004
9329    10,June,2004
Name: date, dtype: object
9330    15,July,2004
9330    26,July,2004
Name: date, dtype: object
9331    13,July,2004
9331    21,July,2004
Name: date, dtype: object
9332    09,July,2004
9332    21,July,2004
Name: date, dtype: object
9333    08,July,2004
9333    08,July,2004
Name: date, dtype: object
9334    08,July,2004
9334    02,July,2004
Name: date, dtype: object
9335    08,July,2004
9335    06,July,2004
Name: date, dtype: object
9336    08,July,2004
9336    06,July,2004
Name: date, dtype: object
9337    08,July,2004
9337    06,July,2004
Name: date, dtype: object
9338    09,August,2004
9338      06,July,2004
Name: date, dtype: object
9339    19,August,2004
9339      07,July,2004
Name: date, dtype: object
9340    19,August,2004
9340      07,July,2004
Name: date, dtype: object
9341    20,August,2004
9341      08,July,2004
Name: date, dtype: object
9342    19,August,2004
9342      11,July,2004
Name: date, dtype: object
9343    18,August,2004
9343      13,July,2004
Name: date, dtype: object
9344    16,August,2004
9344      14,July,2004
Name: date, dtype: object
9345    13,August,2004
9345      16,July,2004
Name: date, dtype: object
9346    13,August,2004
9346      17,July,2004
Name: date, dtype: object
9347    17,July,2004
9347    18,July,2004
Name: date, dtype: object
9348    29,July,2004
9348     17,May,2004
Name: date, dtype: object
9349    23,July,2004
9349     17,May,2004
Name: date, dtype: object
9350    22,July,2004
9350     17,May,2004
Name: date, dtype: object
9351    17,July,2004
9351     17,May,2004
Name: date, dtype: object
9352    16,July,2004
9352     17,May,2004
Name: date, dtype: object
9353    16,July,2004
9353     17,May,2004
Name: date, dtype: object
9354    12,August,2004
9354       17,May,2004
Name: date, dtype: object
9355    01,August,2004
9355      28,June,2004
Name: date, dtype: object
9356     27,May,2004
9356    25,June,2004
Name: date, dtype: object
9357    14,June,2004
9357    09,July,2004
Name: date, dtype: object
9358    09,June,2004
9358    19,June,2004
Name: date, dtype: object
9359    02,July,2004
9359    24,June,2004
Name: date, dtype: object
9360    27,July,2004
9360    23,June,2004
Name: date, dtype: object
9361    18,July,2004
9361    03,July,2004
Name: date, dtype: object
9362    18,July,2004
9362    03,July,2004
Name: date, dtype: object
9363    13,July,2004
9363    06,July,2004
Name: date, dtype: object
9364    13,July,2004
9364    11,July,2004
Name: date, dtype: object
9365    13,July,2004
9365    24,July,2004
Name: date, dtype: object
9366    13,July,2004
9366    20,July,2004
Name: date, dtype: object
9367      13,July,2004
9367    06,August,2004
Name: date, dtype: object
9368    10,July,2004
9368    29,July,2004
Name: date, dtype: object
9369    10,July,2004
9369    17,July,2004
Name: date, dtype: object
9370    09,July,2004
9370    16,July,2004
Name: date, dtype: object
9371    08,July,2004
9371    14,July,2004
Name: date, dtype: object
9372    07,July,2004
9372    12,July,2004
Name: date, dtype: object
9373    07,July,2004
9373    09,July,2004
Name: date, dtype: object
9374    07,July,2004
9374    06,July,2004
Name: date, dtype: object
9375    22,August,2004
9375      05,July,2004
Name: date, dtype: object
9376    20,August,2004
9376      04,July,2004
Name: date, dtype: object
9377    20,August,2004
9377    15,August,2004
Name: date, dtype: object
9378    19,August,2004
9378    13,August,2004
Name: date, dtype: object
9379    18,August,2004
9379    08,August,2004
Name: date, dtype: object
9380    16,August,2004
9380    04,August,2004
Name: date, dtype: object
9381    16,August,2004
9381      04,June,2004
Name: date, dtype: object
9382    12,August,2004
9382      04,June,2004
Name: date, dtype: object
9383    11,August,2004
9383      04,June,2004
Name: date, dtype: object
9384    10,August,2004
9384      04,June,2004
Name: date, dtype: object
9385    09,August,2004
9385      05,June,2004
Name: date, dtype: object
9386    19,August,2004
9386      05,June,2004
Name: date, dtype: object
9387    10,August,2004
9387      05,June,2004
Name: date, dtype: object
9388    09,August,2004
9388      05,June,2004
Name: date, dtype: object
9389    09,August,2004
9389      05,June,2004
Name: date, dtype: object
9390    09,August,2004
9390      05,June,2004
Name: date, dtype: object
9391    09,August,2004
9391      05,June,2004
Name: date, dtype: object
9392    09,August,2004
9392      05,June,2004
Name: date, dtype: object
9393    09,August,2004
9393      05,June,2004
Name: date, dtype: object
9394    08,August,2004
9394      05,June,2004
Name: date, dtype: object
9395    08,August,2004
9395      06,June,2004
Name: date, dtype: object
9396    08,August,2004
9396      06,June,2004
Name: date, dtype: object
9397    08,August,2004
9397      07,June,2004
Name: date, dtype: object
9398     28,May,2004
9398    07,June,2004
Name: date, dtype: object
9399     28,May,2004
9399    10,June,2004
Name: date, dtype: object
9400    03,July,2004
9400    10,June,2004
Name: date, dtype: object
9401    14,June,2004
9401    13,June,2004
Name: date, dtype: object
9402    14,June,2004
9402    13,June,2004
Name: date, dtype: object
9403    14,June,2004
9403    16,June,2004
Name: date, dtype: object
9404    14,June,2004
9404    17,June,2004
Name: date, dtype: object
9405    14,June,2004
9405    17,June,2004
Name: date, dtype: object
9406    14,June,2004
9406    18,June,2004
Name: date, dtype: object
9407    14,June,2004
9407    18,June,2004
Name: date, dtype: object
9408    14,June,2004
9408    18,June,2004
Name: date, dtype: object
9409    14,June,2004
9409    18,June,2004
Name: date, dtype: object
9410    14,June,2004
9410    18,June,2004
Name: date, dtype: object
9411    31,July,2004
9411    18,June,2004
Name: date, dtype: object
9412    30,July,2004
9412    18,June,2004
Name: date, dtype: object
9413    30,July,2004
9413    18,June,2004
Name: date, dtype: object
9414    29,July,2004
9414    20,June,2004
Name: date, dtype: object
9415    28,July,2004
9415    22,June,2004
Name: date, dtype: object
9416    27,July,2004
9416    22,June,2004
Name: date, dtype: object
9417    25,July,2004
9417    22,June,2004
Name: date, dtype: object
9418    25,July,2004
9418    22,June,2004
Name: date, dtype: object
9419    23,July,2004
9419    26,June,2004
Name: date, dtype: object
9420    22,July,2004
9420    26,June,2004
Name: date, dtype: object
9421    21,July,2004
9421    26,June,2004
Name: date, dtype: object
9422    19,July,2004
9422    26,June,2004
Name: date, dtype: object
9423    16,July,2004
9423    26,June,2004
Name: date, dtype: object
9424    15,July,2004
9424    09,July,2004
Name: date, dtype: object
9425    14,July,2004
9425    13,July,2004
Name: date, dtype: object
9426    14,July,2004
9426    30,June,2004
Name: date, dtype: object
9427    14,July,2004
9427    29,June,2004
Name: date, dtype: object
9428    14,July,2004
9428    28,June,2004
Name: date, dtype: object
9429    13,July,2004
9429    30,July,2004
Name: date, dtype: object
9430    12,July,2004
9430    26,July,2004
Name: date, dtype: object
9431    12,July,2004
9431    16,July,2004
Name: date, dtype: object
9432    12,July,2004
9432    06,July,2004
Name: date, dtype: object
9433    12,July,2004
9433    02,July,2004
Name: date, dtype: object

9434      11,July,2004
9434    14,August,2004
Name: date, dtype: object
9435      11,July,2004
9435    06,August,2004
Name: date, dtype: object
9436      09,July,2004
9436    04,August,2004
Name: date, dtype: object
9437      09,July,2004
9437    04,August,2004
Name: date, dtype: object
9438      08,July,2004
9438    04,August,2004
Name: date, dtype: object
9439      08,July,2004
9439    04,August,2004
Name: date, dtype: object
9440      08,July,2004
9440    04,August,2004
Name: date, dtype: object
9441      07,July,2004
9441    04,August,2004
Name: date, dtype: object
9442      07,July,2004
9442    04,August,2004
Name: date, dtype: object
9443      07,July,2004
9443    04,August,2004
Name: date, dtype: object
9444      07,July,2004
9444    04,August,2004
Name: date, dtype: object
9445      06,July,2004
9445    04,August,2004
Name: date, dtype: object
9446      06,July,2004
9446    04,August,2004
Name: date, dtype: object
9447      06,July,2004
9447    04,August,2004
Name: date, dtype: object
9448      06,July,2004
9448    04,August,2004
Name: date, dtype: object
9449    14,August,2004
9449    04,August,2004
Name: date, dtype: object
9450    13,August,2004
9450    04,August,2004
Name: date, dtype: object
9451    10,August,2004
9451    04,August,2004
Name: date, dtype: object
9452    08,August,2004
9452    04,August,2004
Name: date, dtype: object
9453    07,August,2004
9453    04,August,2004
Name: date, dtype: object
9454    07,August,2004
9454    04,August,2004
Name: date, dtype: object
9455    06,August,2004
9455    04,August,2004
Name: date, dtype: object
9456    06,August,2004
9456    04,August,2004
Name: date, dtype: object
9457    06,August,2004
9457    04,August,2004
Name: date, dtype: object
9458    04,August,2004
9458    04,August,2004
Name: date, dtype: object
9459    04,August,2004
9459    04,August,2004
Name: date, dtype: object
9460    03,August,2004
9460    04,August,2004
Name: date, dtype: object
9461    01,August,2004
9461    04,August,2004
Name: date, dtype: object
9462    01,August,2004
9462    04,August,2004
Name: date, dtype: object
9463       31,May,2004
9463    04,August,2004
Name: date, dtype: object
9464       30,May,2004
9464    04,August,2004
Name: date, dtype: object
9465       30,May,2004
9465    04,August,2004
Name: date, dtype: object
9466       26,May,2004
9466    04,August,2004
Name: date, dtype: object
9467       24,May,2004
9467    14,August,2004
Name: date, dtype: object
9468       24,May,2004
9468    13,August,2004
Name: date, dtype: object
9469       23,May,2004
9469    09,August,2004
Name: date, dtype: object
9470       19,May,2004
9470    08,August,2004
Name: date, dtype: object
9471       18,May,2004
9471    08,August,2004
Name: date, dtype: object
9472      17,May,2004
9472    30,April,2004
Name: date, dtype: object
9473      14,May,2004
9473    20,April,2004
Name: date, dtype: object
9474      13,May,2004
9474    20,April,2004
Name: date, dtype: object
9475    13,May,2004
9475    31,May,2004
Name: date, dtype: object
9476    13,May,2004
9476    30,May,2004
Name: date, dtype: object
9477    30,June,2004
9477     27,May,2004
Name: date, dtype: object
9478    29,June,2004
9478     24,May,2004
Name: date, dtype: object
9479    28,June,2004
9479     24,May,2004
Name: date, dtype: object
9480    14,June,2004
9480     19,May,2004
Name: date, dtype: object
9481    06,June,2004
9481     17,May,2004
Name: date, dtype: object
9482    01,June,2004
9482     16,May,2004
Name: date, dtype: object
9483    26,July,2004
9483     15,May,2004
Name: date, dtype: object
9484    21,July,2004
9484     15,May,2004
Name: date, dtype: object
9485    08,July,2004
9485     12,May,2004
Name: date, dtype: object
9486    28,June,2004
9486     11,May,2004
Name: date, dtype: object
9487    26,June,2004
9487     10,May,2004
Name: date, dtype: object
9488    01,July,2004
9488     04,May,2004
Name: date, dtype: object
9489    24,August,2004
9489      24,June,2004
Name: date, dtype: object
9490    22,August,2004
9490      23,June,2004
Name: date, dtype: object
9491    21,August,2004
9491      23,June,2004
Name: date, dtype: object
9492    19,August,2004
9492      21,June,2004
Name: date, dtype: object
9493    09,July,2004
9493    19,June,2004
Name: date, dtype: object
9494    09,July,2004
9494    19,June,2004
Name: date, dtype: object
9495    06,August,2004
9495      18,June,2004
Name: date, dtype: object
9496    04,August,2004
9496      17,June,2004
Name: date, dtype: object
9497    04,August,2004
9497      12,June,2004
Name: date, dtype: object
9498    04,August,2004
9498      09,June,2004
Name: date, dtype: object
9499    27,July,2004
9499    09,June,2004
Name: date, dtype: object
9500    26,July,2004
9500    03,June,2004
Name: date, dtype: object
9501    26,July,2004
9501    02,June,2004
Name: date, dtype: object
9502    21,June,2004
9502    02,June,2004
Name: date, dtype: object
9503    12,June,2004
9503    02,June,2004
Name: date, dtype: object
9504    12,June,2004
9504    30,July,2004
Name: date, dtype: object
9505    12,June,2004
9505    07,July,2004
Name: date, dtype: object
9506      12,June,2004
9506    03,August,2004
Name: date, dtype: object
9507      12,June,2004
9507    01,August,2004
Name: date, dtype: object
9508    12,June,2004
9508     22,May,2004
Name: date, dtype: object
9509    11,June,2004
9509     20,May,2004
Name: date, dtype: object
9510    11,June,2004
9510     15,May,2004
Name: date, dtype: object
9511    23,June,2004
9511     14,May,2004
Name: date, dtype: object
9512    22,June,2004
9512     14,May,2004
Name: date, dtype: object
9513    21,June,2004
9513     14,May,2004
Name: date, dtype: object
9514    21,June,2004
9514    27,June,2004
Name: date, dtype: object
9515    21,June,2004
9515    13,June,2004
Name: date, dtype: object
9516    21,June,2004
9516    01,June,2004
Name: date, dtype: object
9517    21,June,2004
9517    30,July,2004
Name: date, dtype: object
9518    25,June,2004
9518    29,July,2004
Name: date, dtype: object
9519    21,June,2004
9519    29,July,2004
Name: date, dtype: object
9520    21,June,2004
9520    26,July,2004
Name: date, dtype: object
9521    21,June,2004
9521    26,July,2004
Name: date, dtype: object
9522    21,June,2004
9522    25,July,2004
Name: date, dtype: object
9523    21,June,2004
9523    25,July,2004
Name: date, dtype: object
9524    21,June,2004
9524    22,July,2004
Name: date, dtype: object
9525    21,June,2004
9525    21,July,2004
Name: date, dtype: object
9526    25,June,2004
9526    08,July,2004
Name: date, dtype: object
9527      25,June,2004
9527    06,August,2004
Name: date, dtype: object
9528    25,June,2004
9528     26,May,2004
Name: date, dtype: object
9529    25,June,2004
9529     26,May,2004
Name: date, dtype: object
9530    25,June,2004
9530    16,June,2004
Name: date, dtype: object
9531      26,June,2004
9531    05,August,2004
Name: date, dtype: object
9532    25,June,2004
9532     28,May,2004
Name: date, dtype: object
9533    25,June,2004
9533     27,May,2004
Name: date, dtype: object
9534    25,June,2004
9534     27,May,2004
Name: date, dtype: object
9535    25,June,2004
9535     27,May,2004
Name: date, dtype: object
9536    25,June,2004
9536     26,May,2004
Name: date, dtype: object
9537    25,June,2004
9537     26,May,2004
Name: date, dtype: object
9538    25,June,2004
9538     26,May,2004
Name: date, dtype: object
9539    30,June,2004
9539     25,May,2004
Name: date, dtype: object
9540    29,June,2004
9540     25,May,2004
Name: date, dtype: object
9541    29,June,2004
9541     25,May,2004
Name: date, dtype: object
9542    29,June,2004
9542     24,May,2004
Name: date, dtype: object
9543    29,June,2004
9543     24,May,2004
Name: date, dtype: object
9544    29,June,2004
9544     24,May,2004
Name: date, dtype: object
9545    29,June,2004
9545     24,May,2004
Name: date, dtype: object
9546    28,June,2004
9546     21,May,2004
Name: date, dtype: object
9547    28,June,2004
9547     21,May,2004
Name: date, dtype: object
9548    28,June,2004
9548     21,May,2004
Name: date, dtype: object
9549    28,June,2004
9549     21,May,2004
Name: date, dtype: object
9550    25,June,2004
9550     21,May,2004
Name: date, dtype: object
9551    25,June,2004
9551     21,May,2004
Name: date, dtype: object
9552    25,June,2004
9552     20,May,2004
Name: date, dtype: object
9553    25,June,2004
9553     20,May,2004
Name: date, dtype: object
9554    25,June,2004
9554     20,May,2004
Name: date, dtype: object
9555    24,June,2004
9555     19,May,2004
Name: date, dtype: object
9556    24,June,2004
9556     19,May,2004
Name: date, dtype: object
9557    24,June,2004
9557     19,May,2004
Name: date, dtype: object
9558    24,June,2004
9558     18,May,2004
Name: date, dtype: object
9559    24,June,2004
9559     18,May,2004
Name: date, dtype: object
9560    23,June,2004
9560     14,May,2004
Name: date, dtype: object
9561    23,June,2004
9561     14,May,2004
Name: date, dtype: object
9562    23,June,2004
9562     14,May,2004
Name: date, dtype: object
9563    23,June,2004
9563     13,May,2004
Name: date, dtype: object
9564    23,June,2004
9564     13,May,2004
Name: date, dtype: object
9565    22,June,2004
9565     13,May,2004
Name: date, dtype: object
9566    22,June,2004
9566     13,May,2004
Name: date, dtype: object
9567    22,June,2004
9567     12,May,2004
Name: date, dtype: object
9568    22,June,2004
9568     12,May,2004
Name: date, dtype: object
9569    22,June,2004
9569     12,May,2004
Name: date, dtype: object
9570    22,June,2004
9570     11,May,2004
Name: date, dtype: object
9571    22,June,2004
9571     11,May,2004
Name: date, dtype: object
9572    22,June,2004
9572     11,May,2004
Name: date, dtype: object
9573    21,June,2004
9573     11,May,2004
Name: date, dtype: object
9574    21,June,2004
9574     11,May,2004
Name: date, dtype: object
9575    21,June,2004
9575     11,May,2004
Name: date, dtype: object
9576    21,June,2004
9576     11,May,2004
Name: date, dtype: object
9577    21,June,2004
9577    30,June,2004
Name: date, dtype: object
9578    21,June,2004
9578    29,June,2004
Name: date, dtype: object

9579    21,June,2004
9579    29,June,2004
Name: date, dtype: object
9580    18,June,2004
9580    28,June,2004
Name: date, dtype: object
9581    18,June,2004
9581    28,June,2004
Name: date, dtype: object
9582    18,June,2004
9582    28,June,2004
Name: date, dtype: object
9583    18,June,2004
9583    25,June,2004
Name: date, dtype: object
9584    18,June,2004
9584    24,June,2004
Name: date, dtype: object
9585    17,June,2004
9585    23,June,2004
Name: date, dtype: object
9586    17,June,2004
9586    23,June,2004
Name: date, dtype: object
9587    17,June,2004
9587    23,June,2004
Name: date, dtype: object
9588    17,June,2004
9588    22,June,2004
Name: date, dtype: object
9589    17,June,2004
9589    22,June,2004
Name: date, dtype: object
9590    17,June,2004
9590    22,June,2004
Name: date, dtype: object
9591    17,June,2004
9591    21,June,2004
Name: date, dtype: object
9592    17,June,2004
9592    21,June,2004
Name: date, dtype: object
9593    17,June,2004
9593    21,June,2004
Name: date, dtype: object
9594    16,June,2004
9594    21,June,2004
Name: date, dtype: object
9595    16,June,2004
9595    21,June,2004
Name: date, dtype: object
9596    16,June,2004
9596    21,June,2004
Name: date, dtype: object
9597    16,June,2004
9597    21,June,2004
Name: date, dtype: object
9598    16,June,2004
9598    17,June,2004
Name: date, dtype: object
9599    16,June,2004
9599    17,June,2004
Name: date, dtype: object
9600    16,June,2004
9600    17,June,2004
Name: date, dtype: object
9601    16,June,2004
9601    17,June,2004
Name: date, dtype: object
9602    16,June,2004
9602    16,June,2004
Name: date, dtype: object
9603    16,June,2004
9603    16,June,2004
Name: date, dtype: object
9604    16,June,2004
9604    16,June,2004
Name: date, dtype: object
9605    16,June,2004
9605    15,June,2004
Name: date, dtype: object
9606    16,June,2004
9606    10,June,2004
Name: date, dtype: object
9607    16,June,2004
9607    10,June,2004
Name: date, dtype: object
9608    30,July,2004
9608    10,June,2004
Name: date, dtype: object
9609    29,July,2004
9609    09,June,2004
Name: date, dtype: object
9610    29,July,2004
9610    09,June,2004
Name: date, dtype: object
9611    29,July,2004
9611    08,June,2004
Name: date, dtype: object
9612    29,July,2004
9612    08,June,2004
Name: date, dtype: object
9613    28,July,2004
9613    08,June,2004
Name: date, dtype: object
9614    28,July,2004
9614    08,June,2004
Name: date, dtype: object
9615    28,July,2004
9615    08,June,2004
Name: date, dtype: object
9616    28,July,2004
9616    07,June,2004
Name: date, dtype: object
9617    28,July,2004
9617    07,June,2004
Name: date, dtype: object
9618    27,July,2004
9618    07,June,2004
Name: date, dtype: object
9619    26,July,2004
9619    04,June,2004
Name: date, dtype: object
9620    26,July,2004
9620    04,June,2004
Name: date, dtype: object
9621    23,July,2004
9621    03,June,2004
Name: date, dtype: object
9622    23,July,2004
9622    03,June,2004
Name: date, dtype: object
9623    23,July,2004
9623    02,June,2004
Name: date, dtype: object
9624    23,July,2004
9624    02,June,2004
Name: date, dtype: object
9625    22,July,2004
9625    02,June,2004
Name: date, dtype: object
9626    22,July,2004
9626    01,June,2004
Name: date, dtype: object
9627    20,July,2004
9627    01,June,2004
Name: date, dtype: object
9628    20,July,2004
9628    01,June,2004
Name: date, dtype: object
9629    20,July,2004
9629    01,June,2004
Name: date, dtype: object
9630    20,July,2004
9630    01,June,2004
Name: date, dtype: object
9631    19,July,2004
9631    01,June,2004
Name: date, dtype: object
9632    19,July,2004
9632    30,July,2004
Name: date, dtype: object
9633    19,July,2004
9633    28,July,2004
Name: date, dtype: object
9634    16,July,2004
9634    28,July,2004
Name: date, dtype: object
9635    16,July,2004
9635    27,July,2004
Name: date, dtype: object
9636    16,July,2004
9636    27,July,2004
Name: date, dtype: object
9637    16,July,2004
9637    27,July,2004
Name: date, dtype: object
9638    15,July,2004
9638    26,July,2004
Name: date, dtype: object
9639    14,July,2004
9639    26,July,2004
Name: date, dtype: object
9640    14,July,2004
9640    26,July,2004
Name: date, dtype: object
9641    14,July,2004
9641    26,July,2004
Name: date, dtype: object
9642    13,July,2004
9642    26,July,2004
Name: date, dtype: object
9643    13,July,2004
9643    22,July,2004
Name: date, dtype: object
9644    13,July,2004
9644    22,July,2004
Name: date, dtype: object
9645    13,July,2004
9645    22,July,2004
Name: date, dtype: object
9646    12,July,2004
9646    22,July,2004
Name: date, dtype: object
9647    12,July,2004
9647    21,July,2004
Name: date, dtype: object
9648    12,July,2004
9648    20,July,2004
Name: date, dtype: object
9649    12,July,2004
9649    20,July,2004
Name: date, dtype: object
9650    12,July,2004
9650    20,July,2004
Name: date, dtype: object
9651    08,July,2004
9651    19,July,2004
Name: date, dtype: object
9652    08,July,2004
9652    19,July,2004
Name: date, dtype: object
9653    08,July,2004
9653    19,July,2004
Name: date, dtype: object
9654    08,July,2004
9654    16,July,2004
Name: date, dtype: object
9655    08,July,2004
9655    16,July,2004
Name: date, dtype: object
9656    07,July,2004
9656    16,July,2004
Name: date, dtype: object
9657    07,July,2004
9657    16,July,2004
Name: date, dtype: object
9658    07,July,2004
9658    15,July,2004
Name: date, dtype: object
9659    07,July,2004
9659    13,July,2004
Name: date, dtype: object
9660    06,July,2004
9660    13,July,2004
Name: date, dtype: object
9661    02,July,2004
9661    12,July,2004
Name: date, dtype: object
9662    02,July,2004
9662    12,July,2004
Name: date, dtype: object
9663    02,July,2004
9663    12,July,2004
Name: date, dtype: object
9664    02,July,2004
9664    08,July,2004
Name: date, dtype: object
9665    01,July,2004
9665    08,July,2004
Name: date, dtype: object
9666    01,July,2004
9666    08,July,2004
Name: date, dtype: object
9667    01,July,2004
9667    08,July,2004
Name: date, dtype: object
9668    01,July,2004
9668    07,July,2004
Name: date, dtype: object
9669    01,July,2004
9669    07,July,2004
Name: date, dtype: object
9670    16,August,2004
9670      06,July,2004
Name: date, dtype: object
9671    13,August,2004
9671      06,July,2004
Name: date, dtype: object
9672    12,August,2004
9672      06,July,2004
Name: date, dtype: object
9673    12,August,2004
9673      06,July,2004
Name: date, dtype: object
9674    12,August,2004
9674      06,July,2004
Name: date, dtype: object
9675    11,August,2004
9675      02,July,2004
Name: date, dtype: object
9676    11,August,2004
9676      13,July,2004
Name: date, dtype: object
9677    11,August,2004
9677      09,July,2004
Name: date, dtype: object
9678    10,August,2004
9678    12,August,2004
Name: date, dtype: object
9679    10,August,2004
9679    12,August,2004
Name: date, dtype: object
9680    09,August,2004
9680    12,August,2004
Name: date, dtype: object
9681    09,August,2004
9681    12,August,2004
Name: date, dtype: object
9682    06,August,2004
9682      30,June,2004
Name: date, dtype: object
9683    04,August,2004
9683      28,June,2004
Name: date, dtype: object
9684    03,August,2004
9684      11,July,2004
Name: date, dtype: object
9685    03,August,2004
9685      06,July,2004
Name: date, dtype: object
9686    03,August,2004
9686      01,July,2004
Name: date, dtype: object
9687    03,August,2004
9687       28,May,2004
Name: date, dtype: object
9688    03,August,2004
9688       26,May,2004
Name: date, dtype: object
9689    03,August,2004
9689       24,May,2004
Name: date, dtype: object
9690    02,August,2004
9690       23,May,2004
Name: date, dtype: object
9691    02,August,2004
9691       22,May,2004
Name: date, dtype: object
9692    02,August,2004
9692       21,May,2004
Name: date, dtype: object
9693    02,August,2004
9693       20,May,2004
Name: date, dtype: object
9694    02,August,2004
9694       18,May,2004
Name: date, dtype: object
9695    02,August,2004
9695       17,May,2004
Name: date, dtype: object
9696    28,June,2004
9696     17,May,2004
Name: date, dtype: object
9697    26,June,2004
9697     16,May,2004
Name: date, dtype: object
9698    26,June,2004
9698     15,May,2004
Name: date, dtype: object
9699    26,June,2004
9699     15,May,2004
Name: date, dtype: object
9700    26,June,2004
9700     14,May,2004
Name: date, dtype: object
9701    26,June,2004
9701     14,May,2004
Name: date, dtype: object
9702    26,June,2004
9702     13,May,2004
Name: date, dtype: object
9703    26,June,2004
9703     13,May,2004
Name: date, dtype: object
9704    26,June,2004
9704     12,May,2004
Name: date, dtype: object
9705    26,June,2004
9705     12,May,2004
Name: date, dtype: object
9706    26,June,2004
9706     12,May,2004
Name: date, dtype: object
9707    01,July,2004
9707     11,May,2004
Name: date, dtype: object
9708    01,July,2004
9708     11,May,2004
Name: date, dtype: object
9709    16,August,2004
9709       11,May,2004
Name: date, dtype: object
9710    13,August,2004
9710       11,May,2004
Name: date, dtype: object
9711    09,August,2004
9711       11,May,2004
Name: date, dtype: object
9712    02,August,2004
9712      28,June,2004
Name: date, dtype: object
9713    01,August,2004
9713      26,June,2004
Name: date, dtype: object
9714    28,July,2004
9714    08,June,2004
Name: date, dtype: object
9715    20,August,2004
9715      08,June,2004
Name: date, dtype: object
9716    17,August,2004
9716      05,June,2004
Name: date, dtype: object
9717    16,August,2004
9717      05,June,2004
Name: date, dtype: object
9718    17,August,2004
9718      05,July,2004
Name: date, dtype: object
9719    17,August,2004
9719      27,July,2004
Name: date, dtype: object
9720    17,August,2004
9720      26,July,2004
Name: date, dtype: object
9721    19,August,2004
9721      23,July,2004
Name: date, dtype: object
9722    19,August,2004
9722      23,July,2004
Name: date, dtype: object
9723    19,August,2004
9723      22,July,2004
Name: date, dtype: object
9724    19,August,2004
9724      21,July,2004

Name: date, dtype: object
9725    19,August,2004
9725      20,July,2004
Name: date, dtype: object
9726    19,August,2004
9726      19,July,2004
Name: date, dtype: object
9727    19,August,2004
9727      16,July,2004
Name: date, dtype: object
9728    19,August,2004
9728      16,July,2004
Name: date, dtype: object
9729    20,August,2004
9729      16,July,2004
Name: date, dtype: object
9730      20,August,2004
9730    30,December,2003
Name: date, dtype: object
9731      20,August,2004
9731    29,December,2003
Name: date, dtype: object
9732      21,August,2004
9732    29,December,2003
Name: date, dtype: object
9733     23,August,2004
9733    30,January,2004
Name: date, dtype: object
9734        31,May,2004
9734    29,January,2004
Name: date, dtype: object
9735        30,May,2004
9735    28,January,2004
Name: date, dtype: object
9736        30,May,2004
9736    28,January,2004
Name: date, dtype: object
9737        30,May,2004
9737    27,January,2004
Name: date, dtype: object
9738        29,May,2004
9738    26,January,2004
Name: date, dtype: object
9739        29,May,2004
9739    25,January,2004
Name: date, dtype: object
9740        29,May,2004
9740    23,January,2004
Name: date, dtype: object
9741        28,May,2004
9741    22,January,2004
Name: date, dtype: object
9742        28,May,2004
9742    21,January,2004
Name: date, dtype: object
9743        28,May,2004
9743    21,January,2004
Name: date, dtype: object
9744        28,May,2004
9744    20,January,2004
Name: date, dtype: object
9745        27,May,2004
9745    20,January,2004
Name: date, dtype: object
9746        27,May,2004
9746    19,January,2004
Name: date, dtype: object
9747        27,May,2004
9747    19,January,2004
Name: date, dtype: object
9748        27,May,2004
9748    16,January,2004
Name: date, dtype: object
9749        27,May,2004
9749    16,January,2004
Name: date, dtype: object
9750        27,May,2004
9750    15,January,2004
Name: date, dtype: object
9751        27,May,2004
9751    14,January,2004
Name: date, dtype: object
9752        25,May,2004
9752    14,January,2004
Name: date, dtype: object
9753        25,May,2004
9753    13,January,2004
Name: date, dtype: object
9754        25,May,2004
9754    13,January,2004
Name: date, dtype: object
9755        25,May,2004
9755    12,January,2004
Name: date, dtype: object
9756       18,June,2004
9756    11,January,2004
Name: date, dtype: object
9757       17,June,2004
9757    09,January,2004
Name: date, dtype: object
9758       17,June,2004
9758    08,January,2004
Name: date, dtype: object
9759       17,June,2004
9759    07,January,2004
Name: date, dtype: object
9760       17,June,2004
9760    07,January,2004
Name: date, dtype: object
9761       17,June,2004
9761    06,January,2004
Name: date, dtype: object
9762       17,June,2004
9762    06,January,2004
Name: date, dtype: object
9763       17,June,2004
9763    05,January,2004
Name: date, dtype: object
9764       17,June,2004
9764    01,January,2004
Name: date, dtype: object
9765       17,June,2004
9765    01,January,2004
Name: date, dtype: object
9766        17,June,2004
9766    29,February,2004
Name: date, dtype: object
9767        16,June,2004
9767    27,February,2004
Name: date, dtype: object
9768        16,June,2004
9768    27,February,2004
Name: date, dtype: object
9769        16,June,2004
9769    26,February,2004
Name: date, dtype: object
9770        16,June,2004
9770    25,February,2004
Name: date, dtype: object
9771        15,June,2004
9771    25,February,2004
Name: date, dtype: object
9772        15,June,2004
9772    24,February,2004
Name: date, dtype: object
9773        15,June,2004
9773    23,February,2004
Name: date, dtype: object
9774        15,June,2004
9774    23,February,2004
Name: date, dtype: object
9775        15,June,2004
9775    20,February,2004
Name: date, dtype: object
9776        14,June,2004
9776    20,February,2004
Name: date, dtype: object
9777        14,June,2004
9777    19,February,2004
Name: date, dtype: object
9778        14,June,2004
9778    18,February,2004
Name: date, dtype: object
9779        14,June,2004
9779    18,February,2004
Name: date, dtype: object
9780        14,June,2004
9780    17,February,2004
Name: date, dtype: object
9781        13,June,2004
9781    17,February,2004
Name: date, dtype: object
9782        13,June,2004
9782    16,February,2004
Name: date, dtype: object
9783        13,June,2004
9783    16,February,2004
Name: date, dtype: object
9784        13,June,2004
9784    13,February,2004
Name: date, dtype: object
9785        13,June,2004
9785    13,February,2004
Name: date, dtype: object
9786        12,June,2004
9786    12,February,2004
Name: date, dtype: object
9787        12,June,2004
9787    12,February,2004
Name: date, dtype: object
9788        11,June,2004
9788    11,February,2004
Name: date, dtype: object
9789        11,June,2004
9789    11,February,2004
Name: date, dtype: object
9790        10,June,2004
9790    10,February,2004
Name: date, dtype: object
9791        10,June,2004
9791    09,February,2004
Name: date, dtype: object
9792        10,June,2004
9792    09,February,2004
Name: date, dtype: object
9793        10,June,2004
9793    09,February,2004
Name: date, dtype: object
9794        09,June,2004
9794    06,February,2004
Name: date, dtype: object
9795        09,June,2004
9795    05,February,2004
Name: date, dtype: object
9796        09,June,2004
9796    04,February,2004
Name: date, dtype: object
9797        09,June,2004
9797    03,February,2004
Name: date, dtype: object
9798        09,June,2004
9798    02,February,2004
Name: date, dtype: object
9799        09,June,2004
9799    01,February,2004
Name: date, dtype: object
9800     08,June,2004
9800    31,March,2004
Name: date, dtype: object
9801     08,June,2004
9801    30,March,2004
Name: date, dtype: object
9802     08,June,2004
9802    29,March,2004
Name: date, dtype: object
9803     07,June,2004
9803    26,March,2004
Name: date, dtype: object
9804     06,June,2004
9804    26,March,2004
Name: date, dtype: object
9805     06,June,2004
9805    24,March,2004
Name: date, dtype: object
9806     06,June,2004
9806    23,March,2004
Name: date, dtype: object
9807     05,June,2004
9807    22,March,2004
Name: date, dtype: object
9808     05,June,2004
9808    19,March,2004
Name: date, dtype: object
9809     04,June,2004
9809    19,March,2004
Name: date, dtype: object
9810     04,June,2004
9810    19,March,2004
Name: date, dtype: object
9811     03,June,2004
9811    18,March,2004
Name: date, dtype: object
9812     03,June,2004
9812    16,March,2004
Name: date, dtype: object
9813     02,June,2004
9813    16,March,2004
Name: date, dtype: object
9814     01,June,2004
9814    15,March,2004
Name: date, dtype: object
9815     01,June,2004
9815    15,March,2004
Name: date, dtype: object
9816     01,June,2004
9816    15,March,2004
Name: date, dtype: object
9817     01,June,2004
9817    12,March,2004
Name: date, dtype: object
9818     01,June,2004
9818    11,March,2004
Name: date, dtype: object
9819     01,June,2004
9819    11,March,2004
Name: date, dtype: object
9820    08,August,2004
9820     10,March,2004
Name: date, dtype: object
9821    08,August,2004
9821     08,March,2004
Name: date, dtype: object
9822     02,July,2004
9822    06,March,2004
Name: date, dtype: object
9823    23,August,2004
9823     06,March,2004
Name: date, dtype: object
9824    20,August,2004
9824     04,March,2004
Name: date, dtype: object
9825    20,August,2004
9825     02,March,2004
Name: date, dtype: object
9826    19,August,2004
9826     02,March,2004
Name: date, dtype: object
9827    19,August,2004
9827     02,March,2004
Name: date, dtype: object
9828    19,August,2004
9828     30,April,2004
Name: date, dtype: object
9829    19,August,2004
9829     29,April,2004
Name: date, dtype: object
9830    18,August,2004
9830     27,April,2004
Name: date, dtype: object
9831    18,August,2004
9831     27,April,2004
Name: date, dtype: object
9832    17,August,2004
9832     26,April,2004
Name: date, dtype: object
9833    17,August,2004
9833     23,April,2004
Name: date, dtype: object
9834    16,August,2004
9834     22,April,2004
Name: date, dtype: object
9835    13,August,2004
9835     21,April,2004
Name: date, dtype: object
9836     24,July,2002
9836    20,April,2004
Name: date, dtype: object
9837     21,July,2002
9837    19,April,2004
Name: date, dtype: object
9838     20,July,2002
9838    16,April,2004
Name: date, dtype: object
9839     20,July,2002
9839    15,April,2004
Name: date, dtype: object
9840     20,July,2002
9840    14,April,2004
Name: date, dtype: object
9841     19,July,2002
9841    13,April,2004
Name: date, dtype: object
9842     18,July,2002
9842    12,April,2004
Name: date, dtype: object
9843     18,July,2002
9843    09,April,2004
Name: date, dtype: object
9844     17,July,2002
9844    08,April,2004
Name: date, dtype: object
9845    27,August,2002
9845     07,April,2004
Name: date, dtype: object
9846    25,August,2002
9846     06,April,2004
Name: date, dtype: object
9847    24,August,2002
9847     04,April,2004
Name: date, dtype: object
9848    21,August,2002
9848     02,April,2004
Name: date, dtype: object
9849    20,August,2002
9849     01,April,2004
Name: date, dtype: object
9850    15,August,2002
9850       28,May,2004
Name: date, dtype: object
9851    09,August,2002
9851       26,May,2004
Name: date, dtype: object
9852    07,August,2002
9852       23,May,2004
Name: date, dtype: object
9853    06,August,2002
9853       21,May,2004
Name: date, dtype: object
9854    26,September,2002
9854          19,May,2004
Name: date, dtype: object
9855    19,September,2002
9855          18,May,2004
Name: date, dtype: object
9856    04,September,2002
9856          17,May,2004
Name: date, dtype: object
9857    18,October,2002
9857        13,May,2004
Name: date, dtype: object

9858    29,November,2002
9858         12,May,2004
Name: date, dtype: object
9859    19,November,2002
9859         12,May,2004
Name: date, dtype: object
9860    08,November,2002
9860         11,May,2004
Name: date, dtype: object
9861    06,November,2002
9861         10,May,2004
Name: date, dtype: object
9862    05,November,2002
9862         08,May,2004
Name: date, dtype: object
9863    04,November,2002
9863         08,May,2004
Name: date, dtype: object
9864    04,November,2002
9864         06,May,2004
Name: date, dtype: object
9865    04,December,2002
9865         04,May,2004
Name: date, dtype: object
9866    03,December,2002
9866         03,May,2004
Name: date, dtype: object
9867    02,December,2002
9867         01,May,2004
Name: date, dtype: object
9868     30,May,2003
9868    30,June,2004
Name: date, dtype: object
9869    28,November,2003
9869        29,June,2004
Name: date, dtype: object
9870    21,November,2003
9870        28,June,2004
Name: date, dtype: object
9871    20,November,2003
9871        24,June,2004
Name: date, dtype: object
9872    18,November,2003
9872        23,June,2004
Name: date, dtype: object
9873    13,November,2003
9873        21,June,2004
Name: date, dtype: object
9874    19,December,2003
9874        17,June,2004
Name: date, dtype: object
9875    18,December,2003
9875        17,June,2004
Name: date, dtype: object
9876    16,December,2003
9876        15,June,2004
Name: date, dtype: object
9877    12,December,2003
9877        15,June,2004
Name: date, dtype: object
9878    11,December,2003
9878        10,June,2004
Name: date, dtype: object
9879    10,December,2003
9879        10,June,2004
Name: date, dtype: object
9880    08,December,2003
9880        09,June,2004
Name: date, dtype: object
9881    05,December,2003
9881        08,June,2004
Name: date, dtype: object
9882    30,January,2004
9882       07,June,2004
Name: date, dtype: object
9883    29,January,2004
9883       04,June,2004
Name: date, dtype: object
9884    26,January,2004
9884       03,June,2004
Name: date, dtype: object
9885    26,January,2004
9885       02,June,2004
Name: date, dtype: object
9886    23,January,2004
9886       01,June,2004
Name: date, dtype: object
9887    22,January,2004
9887       30,July,2004
Name: date, dtype: object
9888    22,January,2004
9888       28,July,2004
Name: date, dtype: object
9889    21,January,2004
9889       26,July,2004
Name: date, dtype: object
9890    19,January,2004
9890       23,July,2004
Name: date, dtype: object
9891    19,January,2004
9891       22,July,2004
Name: date, dtype: object
9892    16,January,2004
9892       20,July,2004
Name: date, dtype: object
9893    13,January,2004
9893       19,July,2004
Name: date, dtype: object
9894    13,January,2004
9894       17,July,2004
Name: date, dtype: object
9895    02,January,2004
9895       15,July,2004
Name: date, dtype: object
9896    02,January,2004
9896       12,July,2004
Name: date, dtype: object
9897    02,January,2004
9897       11,July,2004
Name: date, dtype: object
9898    26,February,2004
9898        08,July,2004
Name: date, dtype: object
9899    18,February,2004
9899        07,July,2004
Name: date, dtype: object
9900    14,February,2004
9900        01,July,2004
Name: date, dtype: object
9901    11,February,2004
9901      09,August,2004
Name: date, dtype: object
9902     03,March,2004
9902    03,August,2004
Name: date, dtype: object
9903     13,April,2004
9903    02,August,2004
Name: date, dtype: object
9904     13,May,2004
9904    16,July,2004
Name: date, dtype: object
9905    29,June,2004
9905    14,July,2004
Name: date, dtype: object
9906    25,June,2004
9906    12,July,2004
Name: date, dtype: object
9907    25,June,2004
9907    10,July,2004
Name: date, dtype: object
9908    22,June,2004
9908    28,June,2004
Name: date, dtype: object
9909    22,June,2004
9909    27,June,2004
Name: date, dtype: object
9910    30,July,2004
9910    26,June,2004
Name: date, dtype: object
9911    29,July,2004
9911    24,June,2004
Name: date, dtype: object
9912    27,July,2004
9912    20,June,2004
Name: date, dtype: object
9913    20,July,2004
9913    18,June,2004
Name: date, dtype: object
9914    15,July,2004
9914    28,July,2004
Name: date, dtype: object
9915    08,July,2004
9915    19,July,2004
Name: date, dtype: object
9916    08,July,2004
9916    12,July,2004
Name: date, dtype: object
9917    06,July,2004
9917    05,July,2004
Name: date, dtype: object
9918    06,August,2004
9918    05,August,2004
Name: date, dtype: object
9919    30,June,2004
9919     30,May,2004
Name: date, dtype: object
9920    29,June,2004
9920     27,May,2004
Name: date, dtype: object
9921    28,June,2004
9921     24,May,2004
Name: date, dtype: object
9922    25,June,2004
9922     24,May,2004
Name: date, dtype: object
9923    24,June,2004
9923     21,May,2004
Name: date, dtype: object
9924    23,June,2004
9924     20,May,2004
Name: date, dtype: object
9925    22,June,2004
9925    27,June,2004
Name: date, dtype: object
9926    21,June,2004
9926    24,June,2004
Name: date, dtype: object
9927    10,June,2004
9927    22,June,2004
Name: date, dtype: object
9928    08,June,2004
9928    18,June,2004
Name: date, dtype: object
9929    07,June,2004
9929    11,June,2004
Name: date, dtype: object
9930    22,July,2004
9930    09,June,2004
Name: date, dtype: object
9931    20,July,2004
9931    07,June,2004
Name: date, dtype: object
9932    16,July,2004
9932    06,June,2004
Name: date, dtype: object
9933    11,July,2004
9933    03,June,2004
Name: date, dtype: object
9934    02,July,2004
9934    29,July,2004
Name: date, dtype: object
9935    01,July,2004
9935    18,July,2004
Name: date, dtype: object
9936    13,August,2004
9936      15,July,2004
Name: date, dtype: object
9937    16,July,2004
9937    06,July,2004
Name: date, dtype: object
9938      30,June,2004
9938    05,August,2004
Name: date, dtype: object
9939      04,July,2004
9939    17,August,2004
Name: date, dtype: object
9940      26,July,2004
9940    11,August,2004
Name: date, dtype: object
9941    19,August,2004
9941    10,August,2004
Name: date, dtype: object
9942    04,August,2004
9942    10,August,2004
Name: date, dtype: object
9943    03,August,2004
9943    10,August,2004
Name: date, dtype: object
9944    10,August,2004
9944    10,August,2004
Name: date, dtype: object
9945    10,August,2004
9945    10,August,2004
Name: date, dtype: object
9946    10,August,2004
9946    10,August,2004
Name: date, dtype: object
9947    10,August,2004
9947    10,August,2004
Name: date, dtype: object
9948    10,August,2004
9948    17,August,2004
Name: date, dtype: object
9949    10,August,2004
9949    17,August,2004
Name: date, dtype: object
9950    10,August,2004
9950    12,August,2004
Name: date, dtype: object
9951    10,August,2004
9951    12,August,2004
Name: date, dtype: object
9952    10,August,2004
9952    12,August,2004
Name: date, dtype: object
9953    10,August,2004
9953    12,August,2004
Name: date, dtype: object
9954    10,August,2004
9954    12,August,2004
Name: date, dtype: object
9955       10,August,2004
9955    01,September,2003
Name: date, dtype: object
9956    10,August,2004
9956    31,August,2003
Name: date, dtype: object
9957    10,August,2004
9957    31,August,2003
Name: date, dtype: object
9958    10,August,2004
9958    31,August,2003
Name: date, dtype: object
9959       10,August,2004
9959    08,September,2003
Name: date, dtype: object
9960       10,August,2004
9960    08,September,2003
Name: date, dtype: object
9961     10,August,2004
9961    23,October,2003
Name: date, dtype: object
9962     10,August,2004
9962    29,October,2003
Name: date, dtype: object
9963    10,August,2004
9963      28,July,2004
Name: date, dtype: object
9964    10,August,2004
9964    04,August,2004
Name: date, dtype: object
9965    10,August,2004
9965    03,August,2004
Name: date, dtype: object
9966    10,August,2004
9966    01,August,2004
Name: date, dtype: object
9967    10,August,2004
9967       22,May,2004
Name: date, dtype: object
9968    10,August,2004
9968       22,May,2004
Name: date, dtype: object
9969    10,August,2004
9969       22,May,2004
Name: date, dtype: object
9970    10,August,2004
9970    03,August,1999
Name: date, dtype: object
9971    10,August,2004
9971       26,May,2004
Name: date, dtype: object
9972    10,August,2004
9972       21,May,2004
Name: date, dtype: object
9973    09,August,2004
9973       20,May,2004
Name: date, dtype: object
9974    09,August,2004
9974       19,May,2004
Name: date, dtype: object
9975    09,August,2004
9975       18,May,2004
Name: date, dtype: object
9976    09,August,2004
9976       17,May,2004
Name: date, dtype: object
9977    09,August,2004
9977       17,May,2004
Name: date, dtype: object
9978    09,August,2004
9978       14,May,2004
Name: date, dtype: object
9979    09,August,2004
9979       14,May,2004
Name: date, dtype: object
9980    09,August,2004
9980       14,May,2004
Name: date, dtype: object
9981    09,August,2004
9981       14,May,2004
Name: date, dtype: object
9982    09,August,2004
9982       13,May,2004
Name: date, dtype: object
9983    26,June,2004
9983     12,May,2004
Name: date, dtype: object
9984    24,June,2004
9984     12,May,2004
Name: date, dtype: object
9985    21,June,2004
9985     12,May,2004
Name: date, dtype: object
9986    20,June,2004
9986    25,June,2004
Name: date, dtype: object
9987    20,June,2004
9987    14,June,2004
Name: date, dtype: object
9988    20,June,2004
9988    10,June,2004
Name: date, dtype: object
9989    19,June,2004
9989    03,June,2004
Name: date, dtype: object
9990    31,July,2004
9990    01,June,2004
Name: date, dtype: object
9991    30,July,2004
9991    19,July,2004
Name: date, dtype: object
9992    30,July,2004
9992    16,July,2004
Name: date, dtype: object
9993    30,July,2004
9993    15,July,2004
Name: date, dtype: object
9994    29,July,2004
9994    14,July,2004
Name: date, dtype: object

9995      29,July,2004
9995    04,August,2004
Name: date, dtype: object
9996      22,July,2004
9996    04,August,2004
Name: date, dtype: object
9997      21,July,2004
9997    16,August,2004
Name: date, dtype: object
9998      21,July,2004
9998    15,August,2004
Name: date, dtype: object
9999      21,July,2004
9999    14,August,2004
Name: date, dtype: object
10000      20,July,2004
10000    13,August,2004
Name: date, dtype: object
10001      20,July,2004
10001    09,August,2004
Name: date, dtype: object
10002      20,July,2004
10002    07,August,2004
Name: date, dtype: object
10003    20,July,2004
10003    24,June,2004
Name: date, dtype: object
10004    20,July,2004
10004    21,June,2004
Name: date, dtype: object
10005    20,July,2004
10005    20,June,2004
Name: date, dtype: object
10006    19,July,2004
10006    17,June,2004
Name: date, dtype: object
10007    19,July,2004
10007    15,June,2004
Name: date, dtype: object
10008    19,July,2004
10008    15,June,2004
Name: date, dtype: object
10009    19,July,2004
10009    27,July,2004
Name: date, dtype: object
10010    19,July,2004
10010    26,July,2004
Name: date, dtype: object
10011    19,July,2004
10011    25,July,2004
Name: date, dtype: object
10012    18,July,2004
10012    23,July,2004
Name: date, dtype: object
10013    18,July,2004
10013    19,July,2004
Name: date, dtype: object
10014    18,July,2004
10014    18,July,2004
Name: date, dtype: object
10015    18,July,2004
10015    15,July,2004
Name: date, dtype: object
10016    18,July,2004
10016    13,July,2004
Name: date, dtype: object
10017    17,July,2004
10017    02,July,2004
Name: date, dtype: object
10018      17,July,2004
10018    07,August,2004
Name: date, dtype: object
10019      17,July,2004
10019    06,August,2004
Name: date, dtype: object
10020      17,July,2004
10020    04,August,2004
Name: date, dtype: object
10021      17,July,2004
10021    04,August,2004
Name: date, dtype: object
10022      16,July,2004
10022    03,August,2004
Name: date, dtype: object
10023      16,July,2004
10023    02,August,2004
Name: date, dtype: object
10024    16,July,2004
10024    09,June,2004
Name: date, dtype: object
10025    16,July,2004
10025    09,June,2004
Name: date, dtype: object
10026    16,July,2004
10026    09,June,2004
Name: date, dtype: object
10027    16,July,2004
10027    09,June,2004
Name: date, dtype: object
10028    16,July,2004
10028    09,June,2004
Name: date, dtype: object
10029    15,July,2004
10029    09,June,2004
Name: date, dtype: object
10030    15,July,2004
10030    09,June,2004
Name: date, dtype: object
10031    15,July,2004
10031    09,June,2004
Name: date, dtype: object
10032    15,July,2004
10032    09,June,2004
Name: date, dtype: object
10033    15,July,2004
10033    09,June,2004
Name: date, dtype: object
10034    14,July,2004
10034    16,June,2004
Name: date, dtype: object
10035    14,July,2004
10035    22,June,2004
Name: date, dtype: object
10036    14,July,2004
10036    22,June,2004
Name: date, dtype: object
10037    13,July,2004
10037    22,June,2004
Name: date, dtype: object
10038    13,July,2004
10038    22,June,2004
Name: date, dtype: object
10039    12,July,2004
10039    07,July,2004
Name: date, dtype: object
10040    09,July,2004
10040    08,July,2004
Name: date, dtype: object
10041    09,July,2004
10041    27,June,2004
Name: date, dtype: object
10042    07,July,2004
10042    14,June,2004
Name: date, dtype: object
10043    06,July,2004
10043    13,June,2004
Name: date, dtype: object
10044    06,July,2004
10044    09,June,2004
Name: date, dtype: object
10045    06,July,2004
10045    09,June,2004
Name: date, dtype: object
10046    06,July,2004
10046    08,June,2004
Name: date, dtype: object
10047      04,July,2004
10047    04,August,2004
Name: date, dtype: object
10048      02,July,2004
10048    03,August,2004
Name: date, dtype: object
10049    02,July,2004
10049    18,June,2004
Name: date, dtype: object
10050    02,July,2004
10050    18,June,2004
Name: date, dtype: object
10051    15,August,2004
10051      18,June,2004
Name: date, dtype: object
10052    13,August,2004
10052      18,June,2004
Name: date, dtype: object
10053    13,August,2004
10053      31,July,2004
Name: date, dtype: object
10054    13,August,2004
10054      30,July,2004
Name: date, dtype: object
10055    12,August,2004
10055      30,July,2004
Name: date, dtype: object
10056    11,August,2004
10056    20,August,2004
Name: date, dtype: object
10057    11,August,2004
10057    18,August,2004
Name: date, dtype: object
10058    11,August,2004
10058    18,August,2004
Name: date, dtype: object
10059    11,August,2004
10059    16,August,2004
Name: date, dtype: object
10060    11,August,2004
10060    13,August,2004
Name: date, dtype: object
10061    10,August,2004
10061    13,August,2004
Name: date, dtype: object
10062    10,August,2004
10062    12,August,2004
Name: date, dtype: object
10063    10,August,2004
10063    12,August,2004
Name: date, dtype: object
10064    10,August,2004
10064    11,August,2004
Name: date, dtype: object
10065    10,August,2004
10065    11,August,2004
Name: date, dtype: object
10066    10,August,2004
10066    10,August,2004
Name: date, dtype: object
10067    10,August,2004
10067    10,August,2004
Name: date, dtype: object
10068    10,August,2004
10068    10,August,2004
Name: date, dtype: object
10069    09,August,2004
10069    09,August,2004
Name: date, dtype: object
10070    09,August,2004
10070    09,August,2004
Name: date, dtype: object
10071    09,August,2004
10071    08,August,2004
Name: date, dtype: object
10072    09,August,2004
10072    07,August,2004
Name: date, dtype: object
10073    08,August,2004
10073    06,August,2004
Name: date, dtype: object
10074    08,August,2004
10074    06,August,2004
Name: date, dtype: object
10075    08,August,2004
10075    02,August,2004
Name: date, dtype: object
10076    08,August,2004
10076    02,August,2004
Name: date, dtype: object
10077    08,August,2004
10077    01,August,2004
Name: date, dtype: object
10078    08,August,2004
10078    01,August,2004
Name: date, dtype: object
10079    07,August,2004
10079      30,June,2004
Name: date, dtype: object
10080    07,August,2004
10080      30,June,2004
Name: date, dtype: object
10081    07,August,2004
10081      06,July,2004
Name: date, dtype: object
10082    07,August,2004
10082      01,July,2004
Name: date, dtype: object
10083    06,August,2004
10083    03,August,2004
Name: date, dtype: object
10084    05,August,2004
10084       23,May,2004
Name: date, dtype: object
10085    04,August,2004
10085       22,May,2004
Name: date, dtype: object
10086    04,August,2004
10086       21,May,2004
Name: date, dtype: object
10087    04,August,2004
10087      11,June,2004
Name: date, dtype: object
10088    04,August,2004
10088      16,July,2004
Name: date, dtype: object
10089    03,August,2004
10089      15,July,2004
Name: date, dtype: object
10090    02,August,2004
10090      15,July,2004
Name: date, dtype: object
10091    02,August,2004
10091      15,July,2004
Name: date, dtype: object
10092    02,August,2004
10092      21,July,2004
Name: date, dtype: object
10093    02,August,2004
10093      19,July,2004
Name: date, dtype: object
10094    02,August,2004
10094      19,July,2004
Name: date, dtype: object
10095    02,August,2004
10095      16,June,2004
Name: date, dtype: object
10096    02,August,2004
10096      14,June,2004
Name: date, dtype: object
10097    02,August,2004
10097      09,June,2004
Name: date, dtype: object
10098    02,August,2004
10098      04,June,2004
Name: date, dtype: object
10099    01,August,2004
10099      30,July,2004
Name: date, dtype: object
10100    01,August,2004
10100      29,July,2004
Name: date, dtype: object
10101    01,August,2004
10101      27,July,2004
Name: date, dtype: object
10102    01,August,2004
10102      26,July,2004
Name: date, dtype: object
10103    01,August,2004
10103      26,July,2004
Name: date, dtype: object
10104    01,August,2004
10104      26,July,2004
Name: date, dtype: object
10105       31,May,2004
10105    12,August,2004
Name: date, dtype: object
10106       30,May,2004
10106    09,August,2004
Name: date, dtype: object
10107       30,May,2004
10107    09,August,2004
Name: date, dtype: object
10108       30,May,2004
10108    07,August,2004
Name: date, dtype: object
10109       30,May,2004
10109    02,August,2004
Name: date, dtype: object
10110       30,May,2004
10110    02,August,2004
Name: date, dtype: object
10111       30,May,2004
10111    23,August,2004
Name: date, dtype: object
10112       30,May,2004
10112    21,August,2004
Name: date, dtype: object
10113     29,May,2004
10113    23,July,2004
Name: date, dtype: object
10114       29,May,2004
10114    18,August,2004
Name: date, dtype: object
10115       29,May,2004
10115    17,August,2004
Name: date, dtype: object
10116       29,May,2004
10116    16,August,2004
Name: date, dtype: object
10117       29,May,2004
10117    16,August,2004
Name: date, dtype: object
10118       29,May,2004
10118    16,August,2004
Name: date, dtype: object
10119       29,May,2004
10119    16,August,2004
Name: date, dtype: object
10120       29,May,2004
10120    13,August,2004
Name: date, dtype: object
10121       29,May,2004
10121    03,August,2004
Name: date, dtype: object
10122       29,May,2004
10122    03,August,2004
Name: date, dtype: object
10123       29,May,2004
10123    03,August,2004
Name: date, dtype: object
10124       29,May,2004
10124    02,August,2004
Name: date, dtype: object
10125       29,May,2004
10125    02,August,2004
Name: date, dtype: object
10126       29,May,2004
10126    02,August,2004
Name: date, dtype: object
10127       29,May,2004
10127    02,August,2004
Name: date, dtype: object
10128       29,May,2004
10128    02,August,2004
Name: date, dtype: object
10129       28,May,2004
10129    02,August,2004
Name: date, dtype: object
10130       28,May,2004
10130    02,August,2004
Name: date, dtype: object
10131       28,May,2004
10131    02,August,2004
Name: date, dtype: object
10132       28,May,2004
10132    02,August,2004
Name: date, dtype: object
10133       28,May,2004
10133    02,August,2004
Name: date, dtype: object
10134       28,May,2004
10134    02,August,2004
Name: date, dtype: object
10135       28,May,2004
10135    02,August,2004
Name: date, dtype: object
10136       28,May,2004
10136    02,August,2004
Name: date, dtype: object

10137       28,May,2004
10137    02,August,2004
Name: date, dtype: object
10138       28,May,2004
10138    02,August,2004
Name: date, dtype: object
10139       28,May,2004
10139    02,August,2004
Name: date, dtype: object
10140         28,May,2004
10140    18,December,2001
Name: date, dtype: object
10141      28,May,2004
10141    09,March,2002
Name: date, dtype: object
10142      28,May,2004
10142    08,March,2002
Name: date, dtype: object
10143      28,May,2004
10143    08,March,2002
Name: date, dtype: object
10144      28,May,2004
10144    08,March,2002
Name: date, dtype: object
10145      27,May,2004
10145    08,March,2002
Name: date, dtype: object
10146      27,May,2004
10146    07,March,2002
Name: date, dtype: object
10147      27,May,2004
10147    07,March,2002
Name: date, dtype: object
10148      27,May,2004
10148    07,March,2002
Name: date, dtype: object
10149      27,May,2004
10149    07,March,2002
Name: date, dtype: object
10150      27,May,2004
10150    07,March,2002
Name: date, dtype: object
10151      27,May,2004
10151    07,March,2002
Name: date, dtype: object
10152      27,May,2004
10152    07,March,2002
Name: date, dtype: object
10153      27,May,2004
10153    16,March,2002
Name: date, dtype: object
10154      27,May,2004
10154    15,March,2002
Name: date, dtype: object
10155      27,May,2004
10155    15,March,2002
Name: date, dtype: object
10156      26,May,2004
10156    14,March,2002
Name: date, dtype: object
10157      26,May,2004
10157    14,March,2002
Name: date, dtype: object
10158      26,May,2004
10158    14,March,2002
Name: date, dtype: object
10159      26,May,2004
10159    13,March,2002
Name: date, dtype: object
10160     20,June,2004
10160    13,March,2002
Name: date, dtype: object
10161     12,June,2004
10161    13,March,2002
Name: date, dtype: object
10162     06,June,2004
10162    13,March,2002
Name: date, dtype: object
10163     05,June,2004
10163    13,March,2002
Name: date, dtype: object
10164     04,June,2004
10164    12,March,2002
Name: date, dtype: object
10165     04,June,2004
10165    12,March,2002
Name: date, dtype: object
10166     04,June,2004
10166    12,March,2002
Name: date, dtype: object
10167     03,June,2004
10167    12,March,2002
Name: date, dtype: object
10168     02,June,2004
10168    11,March,2002
Name: date, dtype: object
10169     02,June,2004
10169    11,March,2002
Name: date, dtype: object
10170     01,June,2004
10170    11,March,2002
Name: date, dtype: object
10171     01,June,2004
10171    11,March,2002
Name: date, dtype: object
10172     01,June,2004
10172    11,March,2002
Name: date, dtype: object
10173     01,June,2004
10173    11,March,2002
Name: date, dtype: object
10174     01,June,2004
10174    11,March,2002
Name: date, dtype: object
10175     01,June,2004
10175    10,March,2002
Name: date, dtype: object
10176     01,June,2004
10176    10,March,2002
Name: date, dtype: object
10177     01,June,2004
10177    10,March,2002
Name: date, dtype: object
10178     01,June,2004
10178    10,March,2002
Name: date, dtype: object
10179     01,June,2004
10179    10,March,2002
Name: date, dtype: object
10180     01,June,2004
10180    23,March,2002
Name: date, dtype: object
10181     26,June,2004
10181    22,March,2002
Name: date, dtype: object
10182    23,September,2003
10182        21,March,2002
Name: date, dtype: object
10183    20,September,2003
10183        20,March,2002
Name: date, dtype: object
10184    15,September,2003
10184        19,March,2002
Name: date, dtype: object
10185    01,September,2003
10185        19,March,2002
Name: date, dtype: object
10186    01,October,2003
10186      18,March,2002
Name: date, dtype: object
10187     31,July,2004
10187    18,March,2002
Name: date, dtype: object
10188     30,July,2004
10188    30,March,2002
Name: date, dtype: object
10189     27,July,2004
10189    29,March,2002
Name: date, dtype: object
10190     27,July,2004
10190    28,March,2002
Name: date, dtype: object
10191    12,August,2004
10191     27,March,2002
Name: date, dtype: object
10192    11,August,2004
10192     26,March,2002
Name: date, dtype: object
10193    11,August,2004
10193     26,March,2002
Name: date, dtype: object
10194    11,August,2004
10194     25,March,2002
Name: date, dtype: object
10195    11,August,2004
10195     25,March,2002
Name: date, dtype: object
10196    10,August,2004
10196     25,March,2002
Name: date, dtype: object
10197    08,August,2004
10197     06,April,2002
Name: date, dtype: object
10198    06,August,2004
10198     05,April,2002
Name: date, dtype: object
10199    05,August,2004
10199     04,April,2002
Name: date, dtype: object
10200    04,August,2004
10200     01,April,2002
Name: date, dtype: object
10201    04,August,2004
10201     01,April,2002
Name: date, dtype: object
10202    04,August,2004
10202     13,April,2002
Name: date, dtype: object
10203    04,August,2004
10203     12,April,2002
Name: date, dtype: object
10204      29,May,2004
10204    11,April,2002
Name: date, dtype: object
10205      28,May,2004
10205    11,April,2002
Name: date, dtype: object
10206      28,May,2004
10206    10,April,2002
Name: date, dtype: object
10207      27,May,2004
10207    09,April,2002
Name: date, dtype: object
10208      27,May,2004
10208    09,April,2002
Name: date, dtype: object
10209      27,May,2004
10209    08,April,2002
Name: date, dtype: object
10210      27,May,2004
10210    08,April,2002
Name: date, dtype: object
10211      27,May,2004
10211    07,April,2002
Name: date, dtype: object
10212      27,May,2004
10212    18,April,2002
Name: date, dtype: object
10213      27,May,2004
10213    17,April,2002
Name: date, dtype: object
10214      27,May,2004
10214    17,April,2002
Name: date, dtype: object
10215      27,May,2004
10215    16,April,2002
Name: date, dtype: object
10216      27,May,2004
10216    16,April,2002
Name: date, dtype: object
10217      27,May,2004
10217    16,April,2002
Name: date, dtype: object
10218     25,June,2004
10218    16,April,2002
Name: date, dtype: object
10219     24,June,2004
10219    15,April,2002
Name: date, dtype: object
10220     18,June,2004
10220    15,April,2002
Name: date, dtype: object
10221     15,June,2004
10221    14,April,2002
Name: date, dtype: object
10222     11,June,2004
10222    14,April,2002
Name: date, dtype: object
10223     08,June,2004
10223    14,April,2002
Name: date, dtype: object
10224     06,June,2004
10224    27,April,2002
Name: date, dtype: object
10225     06,June,2004
10225    26,April,2002
Name: date, dtype: object
10226     06,June,2004
10226    25,April,2002
Name: date, dtype: object
10227     06,June,2004
10227    24,April,2002
Name: date, dtype: object
10228     21,July,2004
10228    24,April,2002
Name: date, dtype: object
10229     16,July,2004
10229    24,April,2002
Name: date, dtype: object
10230     16,July,2004
10230    23,April,2002
Name: date, dtype: object
10231     01,July,2004
10231    22,April,2002
Name: date, dtype: object
10232      28,May,2004
10232    21,April,2002
Name: date, dtype: object
10233      27,May,2004
10233    21,April,2002
Name: date, dtype: object
10234    27,May,2004
10234    03,May,2002
Name: date, dtype: object
10235    27,May,2004
10235    02,May,2002
Name: date, dtype: object
10236    03,May,2004
10236    01,May,2002
Name: date, dtype: object
10237    03,May,2004
10237    01,May,2002
Name: date, dtype: object
10238      03,May,2004
10238    30,April,2002
Name: date, dtype: object
10239      03,May,2004
10239    30,April,2002
Name: date, dtype: object
10240      02,May,2004
10240    29,April,2002
Name: date, dtype: object
10241      01,May,2004
10241    29,April,2002
Name: date, dtype: object
10242      01,May,2004
10242    29,April,2002
Name: date, dtype: object
10243      01,May,2004
10243    28,April,2002
Name: date, dtype: object
10244     29,June,2004
10244    28,April,2002
Name: date, dtype: object
10245    28,June,2004
10245     08,May,2002
Name: date, dtype: object
10246    28,June,2004
10246     07,May,2002
Name: date, dtype: object
10247    28,June,2004
10247     07,May,2002
Name: date, dtype: object
10248    28,June,2004
10248     05,May,2002
Name: date, dtype: object
10249    27,June,2004
10249     18,May,2002
Name: date, dtype: object
10250    27,June,2004
10250     17,May,2002
Name: date, dtype: object
10251    26,June,2004
10251     15,May,2002
Name: date, dtype: object
10252    25,June,2004
10252     15,May,2002
Name: date, dtype: object
10253    25,June,2004
10253     15,May,2002
Name: date, dtype: object
10254    25,June,2004
10254     15,May,2002
Name: date, dtype: object
10255    24,June,2004
10255     15,May,2002
Name: date, dtype: object
10256    23,June,2004
10256     14,May,2002
Name: date, dtype: object
10257    23,June,2004
10257     14,May,2002
Name: date, dtype: object
10258    23,June,2004
10258     25,May,2002
Name: date, dtype: object
10259    23,June,2004
10259     24,May,2002
Name: date, dtype: object
10260    22,June,2004
10260     23,May,2002
Name: date, dtype: object
10261    22,June,2004
10261     23,May,2002
Name: date, dtype: object
10262    21,June,2004
10262     22,May,2002
Name: date, dtype: object
10263    21,June,2004
10263     21,May,2002
Name: date, dtype: object
10264    21,June,2004
10264     19,May,2002
Name: date, dtype: object

10265    21,June,2004
10265     31,May,2002
Name: date, dtype: object
10266    20,June,2004
10266     29,May,2002
Name: date, dtype: object
10267    20,June,2004
10267     29,May,2002
Name: date, dtype: object
10268    19,June,2004
10268     28,May,2002
Name: date, dtype: object
10269    18,June,2004
10269     28,May,2002
Name: date, dtype: object
10270    18,June,2004
10270     27,May,2002
Name: date, dtype: object
10271    18,June,2004
10271     27,May,2002
Name: date, dtype: object
10272    18,June,2004
10272     27,May,2002
Name: date, dtype: object
10273    18,June,2004
10273     27,May,2002
Name: date, dtype: object
10274    18,June,2004
10274     26,May,2002
Name: date, dtype: object
10275    18,June,2004
10275    05,June,2002
Name: date, dtype: object
10276    17,June,2004
10276    03,June,2002
Name: date, dtype: object
10277    17,June,2004
10277    02,June,2002
Name: date, dtype: object
10278    17,June,2004
10278    02,June,2002
Name: date, dtype: object
10279    17,June,2004
10279    13,June,2002
Name: date, dtype: object
10280    17,June,2004
10280    10,June,2002
Name: date, dtype: object
10281    17,June,2004
10281    22,June,2002
Name: date, dtype: object
10282    17,June,2004
10282    21,June,2002
Name: date, dtype: object
10283    16,June,2004
10283    21,June,2002
Name: date, dtype: object
10284    16,June,2004
10284    16,June,2002
Name: date, dtype: object
10285    16,June,2004
10285    25,June,2002
Name: date, dtype: object
10286    15,June,2004
10286    24,June,2002
Name: date, dtype: object
10287    13,June,2004
10287    23,June,2002
Name: date, dtype: object
10288    13,June,2004
10288    23,June,2002
Name: date, dtype: object
10289    13,June,2004
10289    06,July,2002
Name: date, dtype: object
10290    13,June,2004
10290    04,July,2002
Name: date, dtype: object
10291    13,June,2004
10291    04,July,2002
Name: date, dtype: object
10292    12,June,2004
10292    04,July,2002
Name: date, dtype: object
10293    12,June,2004
10293    03,July,2002
Name: date, dtype: object
10294    12,June,2004
10294    03,July,2002
Name: date, dtype: object
10295    12,June,2004
10295    02,July,2002
Name: date, dtype: object
10296    10,June,2004
10296    02,July,2002
Name: date, dtype: object
10297    10,June,2004
10297    02,July,2002
Name: date, dtype: object
10298    10,June,2004
10298    01,July,2002
Name: date, dtype: object
10299    08,June,2004
10299    01,July,2002
Name: date, dtype: object
10300    08,June,2004
10300    01,July,2002
Name: date, dtype: object
10301    07,June,2004
10301    13,July,2002
Name: date, dtype: object
10302    07,June,2004
10302    12,July,2002
Name: date, dtype: object
10303    06,June,2004
10303    11,July,2002
Name: date, dtype: object
10304    04,June,2004
10304    11,July,2002
Name: date, dtype: object
10305    03,June,2004
10305    10,July,2002
Name: date, dtype: object
10306    03,June,2004
10306    10,July,2002
Name: date, dtype: object
10307    02,June,2004
10307    10,July,2002
Name: date, dtype: object
10308    01,June,2004
10308    08,July,2002
Name: date, dtype: object
10309    01,June,2004
10309    08,July,2002
Name: date, dtype: object
10310    01,June,2004
10310    08,July,2002
Name: date, dtype: object
10311    01,June,2004
10311    08,July,2002
Name: date, dtype: object
10312    01,June,2004
10312    20,July,2002
Name: date, dtype: object
10313    01,June,2004
10313    19,July,2002
Name: date, dtype: object
10314    30,July,2004
10314    18,July,2002
Name: date, dtype: object
10315    29,July,2004
10315    18,July,2002
Name: date, dtype: object
10316    29,July,2004
10316    17,July,2002
Name: date, dtype: object
10317    29,July,2004
10317    17,July,2002
Name: date, dtype: object
10318    28,July,2004
10318    16,July,2002
Name: date, dtype: object
10319    28,July,2004
10319    16,July,2002
Name: date, dtype: object
10320    28,July,2004
10320    15,July,2002
Name: date, dtype: object
10321    27,July,2004
10321    15,July,2002
Name: date, dtype: object
10322    27,July,2004
10322    15,July,2002
Name: date, dtype: object
10323    26,July,2004
10323    14,July,2002
Name: date, dtype: object
10324    26,July,2004
10324    14,July,2002
Name: date, dtype: object
10325    25,July,2004
10325    14,July,2002
Name: date, dtype: object
10326    25,July,2004
10326    27,July,2002
Name: date, dtype: object
10327    25,July,2004
10327    26,July,2002
Name: date, dtype: object
10328    24,July,2004
10328    25,July,2002
Name: date, dtype: object
10329    23,July,2004
10329    25,July,2002
Name: date, dtype: object
10330    23,July,2004
10330    24,July,2002
Name: date, dtype: object
10331    22,July,2004
10331    22,July,2002
Name: date, dtype: object
10332    22,July,2004
10332    21,July,2002
Name: date, dtype: object
10333      22,July,2004
10333    01,August,2002
Name: date, dtype: object
10334    22,July,2004
10334    31,July,2002
Name: date, dtype: object
10335    20,July,2004
10335    31,July,2002
Name: date, dtype: object
10336    18,July,2004
10336    30,July,2002
Name: date, dtype: object
10337    18,July,2004
10337    30,July,2002
Name: date, dtype: object
10338    17,July,2004
10338    30,July,2002
Name: date, dtype: object
10339    15,July,2004
10339    29,July,2002
Name: date, dtype: object
10340    15,July,2004
10340    29,July,2002
Name: date, dtype: object
10341    15,July,2004
10341    28,July,2002
Name: date, dtype: object
10342    13,July,2004
10342    28,July,2002
Name: date, dtype: object
10343    13,July,2004
10343    28,July,2002
Name: date, dtype: object
10344      12,July,2004
10344    09,August,2002
Name: date, dtype: object
10345      12,July,2004
10345    08,August,2002
Name: date, dtype: object
10346      11,July,2004
10346    08,August,2002
Name: date, dtype: object
10347      09,July,2004
10347    07,August,2002
Name: date, dtype: object
10348      09,July,2004
10348    07,August,2002
Name: date, dtype: object
10349      08,July,2004
10349    07,August,2002
Name: date, dtype: object
10350      07,July,2004
10350    07,August,2002
Name: date, dtype: object
10351      07,July,2004
10351    07,August,2002
Name: date, dtype: object
10352      05,July,2004
10352    06,August,2002
Name: date, dtype: object
10353      05,July,2004
10353    17,August,2002
Name: date, dtype: object
10354      02,July,2004
10354    16,August,2002
Name: date, dtype: object
10355      01,July,2004
10355    16,August,2002
Name: date, dtype: object
10356      01,July,2004
10356    16,August,2002
Name: date, dtype: object
10357      01,July,2004
10357    23,August,2002
Name: date, dtype: object
10358      01,July,2004
10358    22,August,2002
Name: date, dtype: object
10359    09,August,2004
10359    22,August,2002
Name: date, dtype: object
10360    04,August,2004
10360    20,August,2002
Name: date, dtype: object
10361    03,August,2004
10361    20,August,2002
Name: date, dtype: object
10362    03,August,2004
10362    19,August,2002
Name: date, dtype: object
10363    03,August,2004
10363    19,August,2002
Name: date, dtype: object
10364    03,August,2004
10364    19,August,2002
Name: date, dtype: object
10365     22,April,2004
10365    19,August,2002
Name: date, dtype: object
10366     21,April,2004
10366    30,August,2002
Name: date, dtype: object
10367     20,April,2004
10367    29,August,2002
Name: date, dtype: object
10368     30,April,2004
10368    29,August,2002
Name: date, dtype: object
10369     29,April,2004
10369    27,August,2002
Name: date, dtype: object
10370     28,April,2004
10370    27,August,2002
Name: date, dtype: object
10371     27,April,2004
10371    26,August,2002
Name: date, dtype: object
10372     26,April,2004
10372    26,August,2002
Name: date, dtype: object
10373     26,April,2004
10373    26,August,2002
Name: date, dtype: object
10374     26,April,2004
10374    26,August,2002
Name: date, dtype: object
10375     25,April,2004
10375    26,August,2002
Name: date, dtype: object
10376          07,May,2004
10376    07,September,2002
Name: date, dtype: object
10377          06,May,2004
10377    06,September,2002
Name: date, dtype: object
10378          05,May,2004
10378    06,September,2002
Name: date, dtype: object
10379          04,May,2004
10379    05,September,2002
Name: date, dtype: object
10380          03,May,2004
10380    05,September,2002
Name: date, dtype: object
10381          02,May,2004
10381    05,September,2002
Name: date, dtype: object
10382          12,May,2004
10382    04,September,2002
Name: date, dtype: object
10383          18,May,2004
10383    04,September,2002
Name: date, dtype: object
10384          17,May,2004
10384    04,September,2002
Name: date, dtype: object
10385          28,May,2004
10385    03,September,2002
Name: date, dtype: object
10386          27,May,2004
10386    03,September,2002
Name: date, dtype: object
10387          26,May,2004
10387    03,September,2002
Name: date, dtype: object
10388          25,May,2004
10388    13,September,2002
Name: date, dtype: object
10389          24,May,2004
10389    12,September,2002
Name: date, dtype: object
10390          24,May,2004
10390    11,September,2002
Name: date, dtype: object
10391          30,May,2004
10391    11,September,2002
Name: date, dtype: object
10392         10,June,2004
10392    11,September,2002
Name: date, dtype: object
10393         09,June,2004
10393    11,September,2002
Name: date, dtype: object
10394         08,June,2004
10394    10,September,2002
Name: date, dtype: object
10395         07,June,2004
10395    10,September,2002
Name: date, dtype: object
10396         17,June,2004
10396    10,September,2002
Name: date, dtype: object
10397         16,June,2004
10397    10,September,2002
Name: date, dtype: object
10398         15,June,2004
10398    09,September,2002
Name: date, dtype: object
10399         14,June,2004
10399    09,September,2002
Name: date, dtype: object
10400         24,June,2004
10400    09,September,2002
Name: date, dtype: object
10401         21,June,2004
10401    09,September,2002
Name: date, dtype: object
10402         08,July,2004
10402    09,September,2002
Name: date, dtype: object
10403         07,July,2004
10403    08,September,2002
Name: date, dtype: object
10404         05,July,2004
10404    08,September,2002
Name: date, dtype: object
10405         15,July,2004
10405    08,September,2002
Name: date, dtype: object
10406         22,July,2004
10406    21,September,2002
Name: date, dtype: object
10407         19,July,2004
10407    20,September,2002
Name: date, dtype: object
10408       06,August,2004
10408    20,September,2002
Name: date, dtype: object
10409       05,August,2004
10409    20,September,2002
Name: date, dtype: object
10410       02,August,2004
10410    20,September,2002
Name: date, dtype: object

10411      29,January,2004
10411    20,September,2002
Name: date, dtype: object
10412      27,January,2004
10412    20,September,2002
Name: date, dtype: object
10413      26,January,2004
10413    19,September,2002
Name: date, dtype: object
10414     18,February,2004
10414    19,September,2002
Name: date, dtype: object
10415        28,April,2004
10415    19,September,2002
Name: date, dtype: object
10416        12,April,2004
10416    19,September,2002
Name: date, dtype: object
10417          23,May,2004
10417    18,September,2002
Name: date, dtype: object
10418          21,May,2004
10418    17,September,2002
Name: date, dtype: object
10419          17,May,2004
10419    17,September,2002
Name: date, dtype: object
10420          17,May,2004
10420    17,September,2002
Name: date, dtype: object
10421          17,May,2004
10421    16,September,2002
Name: date, dtype: object
10422         21,June,2004
10422    16,September,2002
Name: date, dtype: object
10423         20,June,2004
10423    15,September,2002
Name: date, dtype: object
10424         18,June,2004
10424    15,September,2002
Name: date, dtype: object
10425         13,June,2004
10425    15,September,2002
Name: date, dtype: object
10426         06,June,2004
10426    15,September,2002
Name: date, dtype: object
10427         05,June,2004
10427    28,September,2002
Name: date, dtype: object
10428         28,July,2004
10428    27,September,2002
Name: date, dtype: object
10429       01,Agosto,2004
10429    27,September,2002
Name: date, dtype: object
10430       01,Agosto,2004
10430    27,September,2002
Name: date, dtype: object
10431       01,Agosto,2004
10431    26,September,2002
Name: date, dtype: object
10432       01,Agosto,2004
10432    25,September,2002
Name: date, dtype: object
10433       02,August,2003
10433    25,September,2002
Name: date, dtype: object
10434         30,July,2003
10434    25,September,2002
Name: date, dtype: object
10435       06,August,2003
10435    25,September,2002
Name: date, dtype: object
10436       15,August,2003
10436    24,September,2002
Name: date, dtype: object
10437       10,August,2003
10437    24,September,2002
Name: date, dtype: object
10438       22,August,2003
10438    24,September,2002
Name: date, dtype: object
10439       19,August,2003
10439    24,September,2002
Name: date, dtype: object
10440       30,August,2003
10440    23,September,2002
Name: date, dtype: object
10441       27,August,2003
10441    23,September,2002
Name: date, dtype: object
10442       24,August,2003
10442    23,September,2002
Name: date, dtype: object
10443    05,September,2003
10443      05,October,2002
Name: date, dtype: object
10444    02,September,2003
10444      04,October,2002
Name: date, dtype: object
10445    10,September,2003
10445      04,October,2002
Name: date, dtype: object
10446    18,September,2003
10446      04,October,2002
Name: date, dtype: object
10447    14,September,2003
10447      02,October,2002
Name: date, dtype: object
10448    27,September,2003
10448      02,October,2002
Name: date, dtype: object
10449    23,September,2003
10449      01,October,2002
Name: date, dtype: object
10450    01,October,2003
10450    01,October,2002
Name: date, dtype: object
10451    10,October,2003
10451    01,October,2002
Name: date, dtype: object
10452    05,October,2003
10452    01,October,2002
Name: date, dtype: object
10453    18,October,2003
10453    01,October,2002
Name: date, dtype: object
10454      14,October,2003
10454    30,September,2002
Name: date, dtype: object
10455      12,October,2003
10455    29,September,2002
Name: date, dtype: object
10456    23,October,2003
10456    10,October,2002
Name: date, dtype: object
10457    21,October,2003
10457    09,October,2002
Name: date, dtype: object
10458    28,October,2003
10458    08,October,2002
Name: date, dtype: object
10459    06,November,2003
10459     07,October,2002
Name: date, dtype: object
10460    05,November,2003
10460     07,October,2002
Name: date, dtype: object
10461    11,November,2003
10461     07,October,2002
Name: date, dtype: object
10462    17,November,2003
10462     06,October,2002
Name: date, dtype: object
10463    29,November,2003
10463     18,October,2002
Name: date, dtype: object
10464    05,December,2003
10464     17,October,2002
Name: date, dtype: object
10465    15,December,2003
10465     15,October,2002
Name: date, dtype: object
10466    26,December,2003
10466     26,October,2002
Name: date, dtype: object
10467    05,January,2004
10467    25,October,2002
Name: date, dtype: object
10468    17,January,2004
10468    25,October,2002
Name: date, dtype: object
10469    18,January,2004
10469    24,October,2002
Name: date, dtype: object
10470    27,January,2004
10470    24,October,2002
Name: date, dtype: object
10471    04,February,2004
10471     23,October,2002
Name: date, dtype: object
10472    11,February,2004
10472     23,October,2002
Name: date, dtype: object
10473    10,February,2004
10473     23,October,2002
Name: date, dtype: object
10474    18,February,2004
10474     21,October,2002
Name: date, dtype: object
10475      06,March,2004
10475    21,October,2002
Name: date, dtype: object
10476       03,March,2004
10476    01,November,2002
Name: date, dtype: object
10477      20,March,2004
10477    31,October,2002
Name: date, dtype: object
10478      17,March,2004
10478    30,October,2002
Name: date, dtype: object
10479      24,March,2004
10479    30,October,2002
Name: date, dtype: object
10480      02,April,2004
10480    29,October,2002
Name: date, dtype: object
10481      14,April,2004
10481    29,October,2002
Name: date, dtype: object
10482      28,April,2004
10482    28,October,2002
Name: date, dtype: object
10483        14,May,2004
10483    28,October,2002
Name: date, dtype: object
10484        10,May,2004
10484    28,October,2002
Name: date, dtype: object
10485        29,May,2004
10485    28,October,2002
Name: date, dtype: object
10486        28,May,2004
10486    27,October,2002
Name: date, dtype: object
10487       09,June,2004
10487    27,October,2002
Name: date, dtype: object
10488       20,June,2004
10488    27,October,2002
Name: date, dtype: object
10489       02,July,2004
10489    27,October,2002
Name: date, dtype: object
10490        06,July,2004
10490    09,November,2002
Name: date, dtype: object
10491        11,July,2004
10491    08,November,2002
Name: date, dtype: object
10492        21,July,2004
10492    07,November,2002
Name: date, dtype: object
10493        28,July,2004
10493    07,November,2002
Name: date, dtype: object
10494      05,August,2004
10494    06,November,2002
Name: date, dtype: object
10495      11,August,2004
10495    06,November,2002
Name: date, dtype: object
10496        27,July,2004
10496    05,November,2002
Name: date, dtype: object
10497        16,July,2004
10497    04,November,2002
Name: date, dtype: object
10498        14,July,2004
10498    03,November,2002
Name: date, dtype: object
10499      16,August,2004
10499    03,November,2002
Name: date, dtype: object
10500      13,August,2004
10500    03,November,2002
Name: date, dtype: object
10501        23,July,2004
10501    03,November,2002
Name: date, dtype: object
10502      03,August,2004
10502    03,November,2002
Name: date, dtype: object
10503     21,October,2002
10503    16,November,2002
Name: date, dtype: object
10504     18,October,2002
10504    15,November,2002
Name: date, dtype: object
10505     16,October,2002
10505    14,November,2002
Name: date, dtype: object
10506     20,January,2003
10506    13,November,2002
Name: date, dtype: object
10507    25,February,2003
10507    13,November,2002
Name: date, dtype: object
10508    24,February,2003
10508    13,November,2002
Name: date, dtype: object
10509       24,March,2003
10509    12,November,2002
Name: date, dtype: object
10510       18,March,2003
10510    12,November,2002
Name: date, dtype: object
10511       13,March,2003
10511    12,November,2002
Name: date, dtype: object
10512       12,March,2003
10512    12,November,2002
Name: date, dtype: object
10513       05,March,2003
10513    12,November,2002
Name: date, dtype: object
10514       05,March,2003
10514    12,November,2002
Name: date, dtype: object
10515       05,March,2003
10515    23,November,2002
Name: date, dtype: object
10516       05,March,2003
10516    22,November,2002
Name: date, dtype: object
10517       04,April,2003
10517    21,November,2002
Name: date, dtype: object
10518        31,July,2003
10518    21,November,2002
Name: date, dtype: object

10519    30,December,2003
10519    20,November,2002
Name: date, dtype: object
10520     31,January,2004
10520    20,November,2002
Name: date, dtype: object
10521     30,January,2004
10521    19,November,2002
Name: date, dtype: object
10522     29,January,2004
10522    18,November,2002
Name: date, dtype: object
10523     29,January,2004
10523    18,November,2002
Name: date, dtype: object
10524     29,January,2004
10524    18,November,2002
Name: date, dtype: object
10525     28,January,2004
10525    17,November,2002
Name: date, dtype: object
10526     28,January,2004
10526    17,November,2002
Name: date, dtype: object
10527     27,January,2004
10527    30,November,2002
Name: date, dtype: object
10528     27,January,2004
10528    28,November,2002
Name: date, dtype: object
10529     09,January,2004
10529    28,November,2002
Name: date, dtype: object
10530    06,February,2004
10530    27,November,2002
Name: date, dtype: object
10531    05,February,2004
10531    27,November,2002
Name: date, dtype: object
10532    05,February,2004
10532    26,November,2002
Name: date, dtype: object
10533    05,February,2004
10533    26,November,2002
Name: date, dtype: object
10534    03,February,2004
10534    25,November,2002
Name: date, dtype: object
10535    02,February,2004
10535    25,November,2002
Name: date, dtype: object
10536    01,February,2004
10536    25,November,2002
Name: date, dtype: object
10537    01,February,2004
10537    25,November,2002
Name: date, dtype: object
10538       30,March,2004
10538    24,November,2002
Name: date, dtype: object
10539       23,March,2004
10539    24,November,2002
Name: date, dtype: object
10540       23,March,2004
10540    24,November,2002
Name: date, dtype: object
10541       18,March,2004
10541    24,November,2002
Name: date, dtype: object
10542       15,March,2004
10542    07,December,2002
Name: date, dtype: object
10543       11,March,2004
10543    06,December,2002
Name: date, dtype: object
10544       10,March,2004
10544    06,December,2002
Name: date, dtype: object
10545       10,March,2004
10545    06,December,2002
Name: date, dtype: object
10546       29,April,2004
10546    06,December,2002
Name: date, dtype: object
10547       23,April,2004
10547    05,December,2002
Name: date, dtype: object
10548       02,April,2004
10548    05,December,2002
Name: date, dtype: object
10549       01,April,2004
10549    05,December,2002
Name: date, dtype: object
10550         13,May,2004
10550    04,December,2002
Name: date, dtype: object
10551         06,May,2004
10551    04,December,2002
Name: date, dtype: object
10552         05,May,2004
10552    04,December,2002
Name: date, dtype: object
10553        21,June,2004
10553    04,December,2002
Name: date, dtype: object
10554        18,June,2004
10554    03,December,2002
Name: date, dtype: object
10555        17,June,2004
10555    03,December,2002
Name: date, dtype: object
10556        16,June,2004
10556    03,December,2002
Name: date, dtype: object
10557        15,June,2004
10557    03,December,2002
Name: date, dtype: object
10558        15,June,2004
10558    02,December,2002
Name: date, dtype: object
10559        14,June,2004
10559    02,December,2002
Name: date, dtype: object
10560        14,June,2004
10560    01,December,2002
Name: date, dtype: object
10561        11,June,2004
10561    01,December,2002
Name: date, dtype: object
10562        10,June,2004
10562    01,December,2002
Name: date, dtype: object
10563        10,June,2004
10563    01,December,2002
Name: date, dtype: object
10564        28,July,2004
10564    01,December,2002
Name: date, dtype: object
10565        27,July,2004
10565    01,December,2002
Name: date, dtype: object
10566        26,July,2004
10566    14,December,2002
Name: date, dtype: object
10567        23,July,2004
10567    13,December,2002
Name: date, dtype: object
10568        23,July,2004
10568    12,December,2002
Name: date, dtype: object
10569        19,July,2004
10569    12,December,2002
Name: date, dtype: object
10570        19,July,2004
10570    12,December,2002
Name: date, dtype: object
10571        09,July,2004
10571    11,December,2002
Name: date, dtype: object
10572        07,July,2004
10572    11,December,2002
Name: date, dtype: object
10573        01,July,2004
10573    11,December,2002
Name: date, dtype: object
10574        01,July,2004
10574    10,December,2002
Name: date, dtype: object
10575        01,July,2004
10575    10,December,2002
Name: date, dtype: object
10576      10,August,2004
10576    10,December,2002
Name: date, dtype: object
10577      04,August,2004
10577    09,December,2002
Name: date, dtype: object
10578      04,August,2004
10578    09,December,2002
Name: date, dtype: object
10579      03,August,2004
10579    08,December,2002
Name: date, dtype: object
10580      02,August,2004
10580    08,December,2002
Name: date, dtype: object
10581      02,August,2004
10581    20,December,2002
Name: date, dtype: object
10582      02,August,2004
10582    19,December,2002
Name: date, dtype: object
10583      02,August,2004
10583    18,December,2002
Name: date, dtype: object
10584        30,June,2004
10584    18,December,2002
Name: date, dtype: object
10585        26,June,2004
10585    18,December,2002
Name: date, dtype: object
10586        31,July,2004
10586    18,December,2002
Name: date, dtype: object
10587        29,July,2004
10587    17,December,2002
Name: date, dtype: object
10588        28,July,2004
10588    17,December,2002
Name: date, dtype: object
10589        27,July,2004
10589    17,December,2002
Name: date, dtype: object
10590        20,July,2004
10590    17,December,2002
Name: date, dtype: object
10591        19,July,2004
10591    16,December,2002
Name: date, dtype: object
10592        16,July,2004
10592    16,December,2002
Name: date, dtype: object
10593        10,July,2004
10593    16,December,2002
Name: date, dtype: object
10594        10,July,2004
10594    15,December,2002
Name: date, dtype: object
10595        10,July,2004
10595    15,December,2002
Name: date, dtype: object
10596        06,July,2004
10596    15,December,2002
Name: date, dtype: object
10597        06,July,2004
10597    15,December,2002
Name: date, dtype: object
10598        03,July,2004
10598    15,December,2002
Name: date, dtype: object
10599        03,July,2004
10599    28,December,2002
Name: date, dtype: object
10600        02,July,2004
10600    27,December,2002
Name: date, dtype: object
10601        01,July,2004
10601    27,December,2002
Name: date, dtype: object
10602      17,August,2004
10602    26,December,2002
Name: date, dtype: object
10603      12,August,2004
10603    24,December,2002
Name: date, dtype: object
10604      10,August,2004
10604    24,December,2002
Name: date, dtype: object
10605        03,June,2004
10605    24,December,2002
Name: date, dtype: object
10606        03,June,2004
10606    24,December,2002
Name: date, dtype: object
10607        03,June,2004
10607    24,December,2002
Name: date, dtype: object
10608        03,June,2004
10608    23,December,2002
Name: date, dtype: object
10609        03,June,2004
10609    23,December,2002
Name: date, dtype: object
10610        03,June,2004
10610    22,December,2002
Name: date, dtype: object
10611       03,June,2004
10611    03,January,2003
Name: date, dtype: object
10612       03,June,2004
10612    01,January,2003
Name: date, dtype: object
10613       03,June,2004
10613    01,January,2003
Name: date, dtype: object
10614       03,June,2004
10614    01,January,2003
Name: date, dtype: object
10615       03,June,2004
10615    01,January,2003
Name: date, dtype: object
10616        03,June,2004
10616    31,December,2002
Name: date, dtype: object
10617        03,June,2004
10617    30,December,2002
Name: date, dtype: object
10618       03,June,2004
10618    05,January,2003
Name: date, dtype: object
10619       03,June,2004
10619    17,January,2003
Name: date, dtype: object
10620       03,June,2004
10620    16,January,2003
Name: date, dtype: object
10621       03,June,2004
10621    16,January,2003
Name: date, dtype: object
10622       03,June,2004
10622    16,January,2003
Name: date, dtype: object
10623       03,June,2004
10623    15,January,2003
Name: date, dtype: object
10624       04,June,2004
10624    15,January,2003
Name: date, dtype: object
10625       07,June,2004
10625    15,January,2003
Name: date, dtype: object
10626       28,June,2004
10626    14,January,2003
Name: date, dtype: object
10627       27,June,2004
10627    14,January,2003
Name: date, dtype: object
10628       25,June,2004
10628    14,January,2003
Name: date, dtype: object
10629       24,June,2004
10629    14,January,2003
Name: date, dtype: object

10630       22,June,2004
10630    12,January,2003
Name: date, dtype: object
10631       20,June,2004
10631    12,January,2003
Name: date, dtype: object
10632       19,June,2004
10632    12,January,2003
Name: date, dtype: object
10633       18,June,2004
10633    12,January,2003
Name: date, dtype: object
10634       17,June,2004
10634    12,January,2003
Name: date, dtype: object
10635       17,June,2004
10635    12,January,2003
Name: date, dtype: object
10636       16,June,2004
10636    24,January,2003
Name: date, dtype: object
10637       16,June,2004
10637    23,January,2003
Name: date, dtype: object
10638       15,June,2004
10638    23,January,2003
Name: date, dtype: object
10639       15,June,2004
10639    22,January,2003
Name: date, dtype: object
10640       14,June,2004
10640    22,January,2003
Name: date, dtype: object
10641       14,June,2004
10641    21,January,2003
Name: date, dtype: object
10642       14,June,2004
10642    21,January,2003
Name: date, dtype: object
10643       13,June,2004
10643    20,January,2003
Name: date, dtype: object
10644       13,June,2004
10644    20,January,2003
Name: date, dtype: object
10645       13,June,2004
10645    31,January,2003
Name: date, dtype: object
10646       12,June,2004
10646    30,January,2003
Name: date, dtype: object
10647       12,June,2004
10647    30,January,2003
Name: date, dtype: object
10648       11,June,2004
10648    30,January,2003
Name: date, dtype: object
10649       10,June,2004
10649    29,January,2003
Name: date, dtype: object
10650       10,June,2004
10650    28,January,2003
Name: date, dtype: object
10651       09,June,2004
10651    28,January,2003
Name: date, dtype: object
10652       30,July,2004
10652    27,January,2003
Name: date, dtype: object
10653       27,July,2004
10653    27,January,2003
Name: date, dtype: object
10654       22,July,2004
10654    27,January,2003
Name: date, dtype: object
10655       20,July,2004
10655    27,January,2003
Name: date, dtype: object
10656       20,July,2004
10656    27,January,2003
Name: date, dtype: object
10657        19,July,2004
10657    06,February,2003
Name: date, dtype: object
10658        16,July,2004
10658    05,February,2003
Name: date, dtype: object
10659        14,July,2004
10659    05,February,2003
Name: date, dtype: object
10660        12,July,2004
10660    04,February,2003
Name: date, dtype: object
10661        12,July,2004
10661    04,February,2003
Name: date, dtype: object
10662        05,July,2004
10662    04,February,2003
Name: date, dtype: object
10663        01,July,2004
10663    03,February,2003
Name: date, dtype: object
10664      13,August,2004
10664    02,February,2003
Name: date, dtype: object
10665      12,August,2004
10665    02,February,2003
Name: date, dtype: object
10666      12,August,2004
10666    02,February,2003
Name: date, dtype: object
10667      11,August,2004
10667    02,February,2003
Name: date, dtype: object
10668      08,August,2004
10668    02,February,2003
Name: date, dtype: object
10669      07,August,2004
10669    02,February,2003
Name: date, dtype: object
10670      06,August,2004
10670    15,February,2003
Name: date, dtype: object
10671      04,August,2004
10671    14,February,2003
Name: date, dtype: object
10672      02,August,2004
10672    14,February,2003
Name: date, dtype: object
10673        26,June,2004
10673    13,February,2003
Name: date, dtype: object
10674        10,June,2004
10674    13,February,2003
Name: date, dtype: object
10675        17,July,2004
10675    12,February,2003
Name: date, dtype: object
10676        13,July,2004
10676    12,February,2003
Name: date, dtype: object
10677        13,July,2004
10677    11,February,2003
Name: date, dtype: object
10678        13,July,2004
10678    11,February,2003
Name: date, dtype: object
10679      18,August,2004
10679    11,February,2003
Name: date, dtype: object
10680      17,August,2004
10680    11,February,2003
Name: date, dtype: object
10681      16,August,2004
10681    11,February,2003
Name: date, dtype: object
10682      15,August,2004
10682    10,February,2003
Name: date, dtype: object
10683      15,August,2004
10683    10,February,2003
Name: date, dtype: object
10684      15,August,2004
10684    10,February,2003
Name: date, dtype: object
10685      13,August,2004
10685    09,February,2003
Name: date, dtype: object
10686      13,August,2004
10686    09,February,2003
Name: date, dtype: object
10687      12,August,2004
10687    09,February,2003
Name: date, dtype: object
10688      11,August,2004
10688    09,February,2003
Name: date, dtype: object
10689      10,August,2004
10689    20,February,2003
Name: date, dtype: object
10690         31,May,2004
10690    19,February,2003
Name: date, dtype: object
10691         28,May,2004
10691    18,February,2003
Name: date, dtype: object
10692         23,May,2004
10692    18,February,2003
Name: date, dtype: object
10693         22,May,2004
10693    18,February,2003
Name: date, dtype: object
10694         22,May,2004
10694    18,February,2003
Name: date, dtype: object
10695        04,June,2004
10695    18,February,2003
Name: date, dtype: object
10696        04,June,2004
10696    18,February,2003
Name: date, dtype: object
10697        07,July,2003
10697    18,February,2003
Name: date, dtype: object
10698        02,July,2003
10698    18,February,2003
Name: date, dtype: object
10699    27,September,2003
10699     18,February,2003
Name: date, dtype: object
10700    27,September,2003
10700        01,March,2003
Name: date, dtype: object
10701    09,December,2003
10701    28,February,2003
Name: date, dtype: object
10702     30,January,2004
10702    27,February,2003
Name: date, dtype: object
10703       12,March,2004
10703    27,February,2003
Name: date, dtype: object
10704       11,March,2004
10704    26,February,2003
Name: date, dtype: object
10705       09,March,2004
10705    26,February,2003
Name: date, dtype: object
10706       04,March,2004
10706    26,February,2003
Name: date, dtype: object
10707       03,March,2004
10707    25,February,2003
Name: date, dtype: object
10708       03,March,2004
10708    25,February,2003
Name: date, dtype: object
10709         26,May,2004
10709    25,February,2003
Name: date, dtype: object
10710         25,May,2004
10710    24,February,2003
Name: date, dtype: object
10711         21,May,2004
10711    24,February,2003
Name: date, dtype: object
10712         21,May,2004
10712    24,February,2003
Name: date, dtype: object
10713         09,May,2004
10713    24,February,2003
Name: date, dtype: object
10714      09,May,2004
10714    08,March,2003
Name: date, dtype: object
10715     08,June,2004
10715    07,March,2003
Name: date, dtype: object
10716     07,June,2004
10716    07,March,2003
Name: date, dtype: object
10717     05,June,2004
10717    06,March,2003
Name: date, dtype: object
10718     01,June,2004
10718    06,March,2003
Name: date, dtype: object
10719     24,July,2004
10719    05,March,2003
Name: date, dtype: object
10720     08,July,2004
10720    05,March,2003
Name: date, dtype: object
10721     08,July,2004
10721    05,March,2003
Name: date, dtype: object
10722     08,July,2004
10722    04,March,2003
Name: date, dtype: object
10723     08,July,2004
10723    04,March,2003
Name: date, dtype: object
10724     08,July,2004
10724    04,March,2003
Name: date, dtype: object
10725     08,July,2004
10725    04,March,2003
Name: date, dtype: object
10726     08,July,2004
10726    03,March,2003
Name: date, dtype: object
10727     08,July,2004
10727    03,March,2003
Name: date, dtype: object
10728     08,July,2004
10728    03,March,2003
Name: date, dtype: object
10729     08,July,2004
10729    03,March,2003
Name: date, dtype: object
10730     08,July,2004
10730    14,March,2003
Name: date, dtype: object
10731     08,July,2004
10731    13,March,2003
Name: date, dtype: object
10732     08,July,2004
10732    13,March,2003
Name: date, dtype: object
10733     08,July,2004
10733    13,March,2003
Name: date, dtype: object
10734     08,July,2004
10734    13,March,2003
Name: date, dtype: object
10735     08,July,2004
10735    13,March,2003
Name: date, dtype: object
10736     08,July,2004
10736    12,March,2003
Name: date, dtype: object
10737     08,July,2004
10737    11,March,2003
Name: date, dtype: object

10738     08,July,2004
10738    11,March,2003
Name: date, dtype: object
10739     08,July,2004
10739    10,March,2003
Name: date, dtype: object
10740     08,July,2004
10740    10,March,2003
Name: date, dtype: object
10741     08,July,2004
10741    10,March,2003
Name: date, dtype: object
10742     08,July,2004
10742    09,March,2003
Name: date, dtype: object
10743     08,July,2004
10743    09,March,2003
Name: date, dtype: object
10744     08,July,2004
10744    09,March,2003
Name: date, dtype: object
10745     08,July,2004
10745    21,March,2003
Name: date, dtype: object
10746     08,July,2004
10746    19,March,2003
Name: date, dtype: object
10747     08,July,2004
10747    19,March,2003
Name: date, dtype: object
10748     08,July,2004
10748    16,March,2003
Name: date, dtype: object
10749     08,July,2004
10749    16,March,2003
Name: date, dtype: object
10750     08,July,2004
10750    16,March,2003
Name: date, dtype: object
10751     08,July,2004
10751    28,March,2003
Name: date, dtype: object
10752     08,July,2004
10752    27,March,2003
Name: date, dtype: object
10753     08,July,2004
10753    26,March,2003
Name: date, dtype: object
10754     08,July,2004
10754    26,March,2003
Name: date, dtype: object
10755     08,July,2004
10755    26,March,2003
Name: date, dtype: object
10756     08,July,2004
10756    25,March,2003
Name: date, dtype: object
10757     08,July,2004
10757    25,March,2003
Name: date, dtype: object
10758     08,July,2004
10758    24,March,2003
Name: date, dtype: object
10759     08,July,2004
10759    24,March,2003
Name: date, dtype: object
10760     08,July,2004
10760    23,March,2003
Name: date, dtype: object
10761     08,July,2004
10761    04,April,2003
Name: date, dtype: object
10762     08,July,2004
10762    03,April,2003
Name: date, dtype: object
10763     08,July,2004
10763    02,April,2003
Name: date, dtype: object
10764     08,July,2004
10764    01,April,2003
Name: date, dtype: object
10765     08,July,2004
10765    31,March,2003
Name: date, dtype: object
10766     08,July,2004
10766    30,March,2003
Name: date, dtype: object
10767     08,July,2004
10767    30,March,2003
Name: date, dtype: object
10768     30,June,2004
10768    30,March,2003
Name: date, dtype: object
10769     29,June,2004
10769    30,March,2003
Name: date, dtype: object
10770     28,June,2004
10770    30,March,2003
Name: date, dtype: object
10771     27,June,2004
10771    11,April,2003
Name: date, dtype: object
10772     26,June,2004
10772    10,April,2003
Name: date, dtype: object
10773     26,June,2004
10773    09,April,2003
Name: date, dtype: object
10774     25,June,2004
10774    08,April,2003
Name: date, dtype: object
10775     24,June,2004
10775    08,April,2003
Name: date, dtype: object
10776     23,June,2004
10776    07,April,2003
Name: date, dtype: object
10777     22,June,2004
10777    07,April,2003
Name: date, dtype: object
10778     20,June,2004
10778    07,April,2003
Name: date, dtype: object
10779     19,June,2004
10779    07,April,2003
Name: date, dtype: object
10780     18,June,2004
10780    07,April,2003
Name: date, dtype: object
10781     26,July,2004
10781    17,April,2003
Name: date, dtype: object
10782     25,July,2004
10782    16,April,2003
Name: date, dtype: object
10783     16,July,2004
10783    15,April,2003
Name: date, dtype: object
10784     15,July,2004
10784    14,April,2003
Name: date, dtype: object
10785     14,July,2004
10785    14,April,2003
Name: date, dtype: object
10786     12,July,2004
10786    24,April,2003
Name: date, dtype: object
10787     11,July,2004
10787    23,April,2003
Name: date, dtype: object
10788     08,July,2004
10788    22,April,2003
Name: date, dtype: object
10789     07,July,2004
10789    21,April,2003
Name: date, dtype: object
10790     07,July,2004
10790    21,April,2003
Name: date, dtype: object
10791    05,July,2004
10791     03,May,2003
Name: date, dtype: object
10792    05,July,2004
10792     01,May,2003
Name: date, dtype: object
10793     04,July,2004
10793    30,April,2003
Name: date, dtype: object
10794     03,July,2004
10794    29,April,2003
Name: date, dtype: object
10795     02,July,2004
10795    28,April,2003
Name: date, dtype: object
10796     01,July,2004
10796    28,April,2003
Name: date, dtype: object
10797    14,August,2004
10797       09,May,2003
Name: date, dtype: object
10798    13,August,2004
10798       05,May,2003
Name: date, dtype: object
10799    12,August,2004
10799       05,May,2003
Name: date, dtype: object
10800    05,August,2004
10800       17,May,2003
Name: date, dtype: object
10801    01,August,2004
10801       15,May,2003
Name: date, dtype: object
10802    22,June,2004
10802     14,May,2003
Name: date, dtype: object
10803    02,July,2004
10803     13,May,2003
Name: date, dtype: object
10804    15,July,2004
10804     12,May,2003
Name: date, dtype: object
10805    15,July,2004
10805     21,May,2003
Name: date, dtype: object
10806    15,July,2004
10806     19,May,2003
Name: date, dtype: object
10807    15,July,2004
10807     18,May,2003
Name: date, dtype: object
10808    28,June,2004
10808     31,May,2003
Name: date, dtype: object
10809    26,June,2004
10809     30,May,2003
Name: date, dtype: object
10810    26,June,2004
10810     30,May,2003
Name: date, dtype: object
10811    25,June,2004
10811     30,May,2003
Name: date, dtype: object
10812    10,June,2004
10812     29,May,2003
Name: date, dtype: object
10813    31,July,2004
10813    06,June,2003
Name: date, dtype: object
10814    13,July,2004
10814    05,June,2003
Name: date, dtype: object
10815    07,July,2004
10815    05,June,2003
Name: date, dtype: object
10816    04,July,2004
10816    03,June,2003
Name: date, dtype: object
10817    12,August,2004
10817      03,June,2003
Name: date, dtype: object
10818    03,August,2004
10818      01,June,2003
Name: date, dtype: object
10819    18,August,2004
10819      01,June,2003
Name: date, dtype: object
10820     31,May,2004
10820    01,June,2003
Name: date, dtype: object
10821     16,May,2004
10821    14,June,2003
Name: date, dtype: object
10822     16,May,2004
10822    13,June,2003
Name: date, dtype: object
10823     18,May,2004
10823    12,June,2003
Name: date, dtype: object
10824     30,May,2004
10824    10,June,2003
Name: date, dtype: object
10825     31,May,2004
10825    10,June,2003
Name: date, dtype: object
10826     16,May,2004
10826    09,June,2003
Name: date, dtype: object
10827    05,June,2004
10827    08,June,2003
Name: date, dtype: object
10828    05,June,2004
10828    08,June,2003
Name: date, dtype: object
10829    30,July,2004
10829    08,June,2003
Name: date, dtype: object
10830    29,July,2004
10830    08,June,2003
Name: date, dtype: object
10831    27,July,2004
10831    19,June,2003
Name: date, dtype: object
10832    27,July,2004
10832    18,June,2003
Name: date, dtype: object
10833    07,August,2004
10833      17,June,2003
Name: date, dtype: object
10834    01,August,2004
10834      15,June,2003
Name: date, dtype: object
10835    01,August,2004
10835      27,June,2003
Name: date, dtype: object
10836    25,June,2004
10836    26,June,2003
Name: date, dtype: object
10837    24,June,2004
10837    23,June,2003
Name: date, dtype: object
10838    22,June,2004
10838    22,June,2003
Name: date, dtype: object
10839    21,June,2004
10839    22,June,2003
Name: date, dtype: object
10840    18,June,2004
10840    05,July,2003
Name: date, dtype: object
10841    18,June,2004
10841    04,July,2003
Name: date, dtype: object
10842    30,July,2004
10842    04,July,2003
Name: date, dtype: object
10843    29,July,2004
10843    04,July,2003
Name: date, dtype: object
10844    28,July,2004
10844    03,July,2003
Name: date, dtype: object
10845    23,July,2004
10845    03,July,2003
Name: date, dtype: object
10846    22,July,2004
10846    30,June,2003
Name: date, dtype: object
10847    18,July,2004
10847    30,June,2003
Name: date, dtype: object
10848    14,July,2004
10848    30,June,2003
Name: date, dtype: object
10849    13,July,2004
10849    29,June,2003
Name: date, dtype: object
10850    12,July,2004
10850    11,July,2003
Name: date, dtype: object
10851    11,July,2004
10851    08,July,2003
Name: date, dtype: object
10852    07,July,2004
10852    08,July,2003
Name: date, dtype: object
10853    06,July,2004
10853    08,July,2003
Name: date, dtype: object
10854    02,July,2004
10854    06,July,2003
Name: date, dtype: object
10855    02,July,2004
10855    18,July,2003
Name: date, dtype: object
10856    16,August,2004
10856      25,July,2003
Name: date, dtype: object
10857    09,August,2004
10857      22,July,2003
Name: date, dtype: object
10858    09,August,2004
10858      21,July,2003
Name: date, dtype: object
10859    02,August,2004
10859    01,August,2003
Name: date, dtype: object
10860     29,May,2004
10860    29,July,2003
Name: date, dtype: object
10861     26,May,2004
10861    29,July,2003
Name: date, dtype: object
10862     24,May,2004
10862    28,July,2003
Name: date, dtype: object
10863     24,May,2004
10863    27,July,2003
Name: date, dtype: object
10864     24,May,2004
10864    27,July,2003
Name: date, dtype: object
10865       24,May,2004
10865    06,August,2003
Name: date, dtype: object
10866       24,May,2004
10866    04,August,2003
Name: date, dtype: object
10867       24,May,2004
10867    03,August,2003
Name: date, dtype: object
10868       24,May,2004
10868    11,August,2003
Name: date, dtype: object
10869       24,May,2004
10869    22,August,2003
Name: date, dtype: object
10870       24,May,2004
10870    21,August,2003
Name: date, dtype: object
10871       24,May,2004
10871    19,August,2003
Name: date, dtype: object
10872       24,May,2004
10872    19,August,2003
Name: date, dtype: object
10873       24,May,2004
10873    19,August,2003
Name: date, dtype: object
10874       24,May,2004
10874    17,August,2003
Name: date, dtype: object
10875       24,May,2004
10875    17,August,2003
Name: date, dtype: object
10876       24,May,2004
10876    30,August,2003
Name: date, dtype: object
10877       24,May,2004
10877    29,August,2003
Name: date, dtype: object
10878       24,May,2004
10878    28,August,2003
Name: date, dtype: object
10879      29,June,2004
10879    27,August,2003
Name: date, dtype: object
10880      26,June,2004
10880    25,August,2003
Name: date, dtype: object
10881      26,June,2004
10881    25,August,2003
Name: date, dtype: object

10882      22,June,2004
10882    25,August,2003
Name: date, dtype: object
10883         21,June,2004
10883    05,September,2003
Name: date, dtype: object
10884         20,June,2004
10884    03,September,2003
Name: date, dtype: object
10885         19,June,2004
10885    02,September,2003
Name: date, dtype: object
10886         11,June,2004
10886    02,September,2003
Name: date, dtype: object
10887         08,June,2004
10887    01,September,2003
Name: date, dtype: object
10888         07,June,2004
10888    01,September,2003
Name: date, dtype: object
10889         04,June,2004
10889    01,September,2003
Name: date, dtype: object
10890         31,July,2004
10890    12,September,2003
Name: date, dtype: object
10891         24,July,2004
10891    11,September,2003
Name: date, dtype: object
10892         17,July,2004
10892    10,September,2003
Name: date, dtype: object
10893         14,July,2004
10893    10,September,2003
Name: date, dtype: object
10894         11,July,2004
10894    09,September,2003
Name: date, dtype: object
10895         10,July,2004
10895    08,September,2003
Name: date, dtype: object
10896       06,August,2004
10896    20,September,2003
Name: date, dtype: object
10897       02,August,2004
10897    19,September,2003
Name: date, dtype: object
10898       01,August,2004
10898    17,September,2003
Name: date, dtype: object
10899       10,August,2004
10899    16,September,2003
Name: date, dtype: object
10900       04,August,2004
10900    15,September,2003
Name: date, dtype: object
10901       04,August,2004
10901    27,September,2003
Name: date, dtype: object
10902         30,June,2004
10902    26,September,2003
Name: date, dtype: object
10903         28,June,2004
10903    25,September,2003
Name: date, dtype: object
10904         27,July,2004
10904    25,September,2003
Name: date, dtype: object
10905         03,July,2004
10905    22,September,2003
Name: date, dtype: object
10906         02,July,2004
10906    22,September,2003
Name: date, dtype: object
10907         30,June,2004
10907    22,September,2003
Name: date, dtype: object
10908       28,June,2004
10908    03,October,2003
Name: date, dtype: object
10909       26,June,2004
10909    02,October,2003
Name: date, dtype: object
10910       26,June,2004
10910    02,October,2003
Name: date, dtype: object
10911       25,June,2004
10911    01,October,2003
Name: date, dtype: object
10912         24,June,2004
10912    30,September,2003
Name: date, dtype: object
10913         23,June,2004
10913    29,September,2003
Name: date, dtype: object
10914       22,June,2004
10914    11,October,2003
Name: date, dtype: object
10915       18,June,2004
10915    10,October,2003
Name: date, dtype: object
10916       17,June,2004
10916    09,October,2003
Name: date, dtype: object
10917       11,July,2004
10917    09,October,2003
Name: date, dtype: object
10918        27,May,2004
10918    09,October,2003
Name: date, dtype: object
10919        15,May,2004
10919    09,October,2003
Name: date, dtype: object
10920       29,June,2004
10920    08,October,2003
Name: date, dtype: object
10921       28,June,2004
10921    08,October,2003
Name: date, dtype: object
10922       02,June,2004
10922    07,October,2003
Name: date, dtype: object
10923       26,June,2004
10923    07,October,2003
Name: date, dtype: object
10924       23,June,2004
10924    06,October,2003
Name: date, dtype: object
10925       20,June,2004
10925    05,October,2003
Name: date, dtype: object
10926       18,June,2004
10926    05,October,2003
Name: date, dtype: object
10927       17,June,2004
10927    18,October,2003
Name: date, dtype: object
10928     10,August,2004
10928    16,October,2003
Name: date, dtype: object
10929     10,August,2004
10929    16,October,2003
Name: date, dtype: object
10930     10,August,2004
10930    15,October,2003
Name: date, dtype: object
10931     10,August,2004
10931    13,October,2003
Name: date, dtype: object
10932     10,August,2004
10932    13,October,2003
Name: date, dtype: object
10933     10,August,2004
10933    25,October,2003
Name: date, dtype: object
10934     10,August,2004
10934    22,October,2003
Name: date, dtype: object
10935     10,August,2004
10935    22,October,2003
Name: date, dtype: object
10936     10,August,2004
10936    20,October,2003
Name: date, dtype: object
10937     10,August,2004
10937    20,October,2003
Name: date, dtype: object
10938     10,August,2004
10938    19,October,2003
Name: date, dtype: object
10939     10,August,2004
10939    19,October,2003
Name: date, dtype: object
10940     10,August,2004
10940    30,October,2003
Name: date, dtype: object
10941     10,August,2004
10941    29,October,2003
Name: date, dtype: object
10942     10,August,2004
10942    29,October,2003
Name: date, dtype: object
10943     10,August,2004
10943    29,October,2003
Name: date, dtype: object
10944     10,August,2004
10944    28,October,2003
Name: date, dtype: object
10945     10,August,2004
10945    28,October,2003
Name: date, dtype: object
10946     10,August,2004
10946    27,October,2003
Name: date, dtype: object
10947     10,August,2004
10947    27,October,2003
Name: date, dtype: object
10948     10,August,2004
10948    26,October,2003
Name: date, dtype: object
10949      10,August,2004
10949    08,November,2003
Name: date, dtype: object
10950      10,August,2004
10950    07,November,2003
Name: date, dtype: object
10951      10,August,2004
10951    06,November,2003
Name: date, dtype: object
10952      10,August,2004
10952    04,November,2003
Name: date, dtype: object
10953      10,August,2004
10953    04,November,2003
Name: date, dtype: object
10954      10,August,2004
10954    03,November,2003
Name: date, dtype: object
10955      10,August,2004
10955    03,November,2003
Name: date, dtype: object
10956      10,August,2004
10956    03,November,2003
Name: date, dtype: object
10957      10,August,2004
10957    15,November,2003
Name: date, dtype: object
10958      10,August,2004
10958    12,November,2003
Name: date, dtype: object
10959      10,August,2004
10959    11,November,2003
Name: date, dtype: object
10960      10,August,2004
10960    11,November,2003
Name: date, dtype: object
10961      10,August,2004
10961    11,November,2003
Name: date, dtype: object
10962      10,August,2004
10962    10,November,2003
Name: date, dtype: object
10963      10,August,2004
10963    10,November,2003
Name: date, dtype: object
10964      10,August,2004
10964    10,November,2003
Name: date, dtype: object
10965      10,August,2004
10965    10,November,2003
Name: date, dtype: object
10966      10,August,2004
10966    10,November,2003
Name: date, dtype: object
10967      10,August,2004
10967    22,November,2003
Name: date, dtype: object
10968      10,August,2004
10968    21,November,2003
Name: date, dtype: object
10969      10,August,2004
10969    21,November,2003
Name: date, dtype: object
10970      10,August,2004
10970    21,November,2003
Name: date, dtype: object
10971      10,August,2004
10971    20,November,2003
Name: date, dtype: object
10972      10,August,2004
10972    19,November,2003
Name: date, dtype: object
10973      10,August,2004
10973    19,November,2003
Name: date, dtype: object
10974      10,August,2004
10974    18,November,2003
Name: date, dtype: object
10975      10,August,2004
10975    18,November,2003
Name: date, dtype: object
10976      10,August,2004
10976    17,November,2003
Name: date, dtype: object
10977      10,August,2004
10977    17,November,2003
Name: date, dtype: object
10978      10,August,2004
10978    17,November,2003
Name: date, dtype: object
10979      10,August,2004
10979    29,November,2003
Name: date, dtype: object
10980      10,August,2004
10980    28,November,2003
Name: date, dtype: object
10981      10,August,2004
10981    27,November,2003
Name: date, dtype: object
10982      10,August,2004
10982    25,November,2003
Name: date, dtype: object
10983      10,August,2004
10983    25,November,2003
Name: date, dtype: object
10984      10,August,2004
10984    25,November,2003
Name: date, dtype: object
10985      10,August,2004
10985    24,November,2003
Name: date, dtype: object
10986      10,August,2004
10986    24,November,2003
Name: date, dtype: object
10987      10,August,2004
10987    24,November,2003
Name: date, dtype: object
10988      10,August,2004
10988    24,November,2003
Name: date, dtype: object
10989      10,August,2004
10989    23,November,2003
Name: date, dtype: object

10990      10,August,2004
10990    23,November,2003
Name: date, dtype: object
10991      10,August,2004
10991    23,November,2003
Name: date, dtype: object
10992      10,August,2004
10992    05,December,2003
Name: date, dtype: object
10993      10,August,2004
10993    04,December,2003
Name: date, dtype: object
10994      10,August,2004
10994    03,December,2003
Name: date, dtype: object
10995      10,August,2004
10995    03,December,2003
Name: date, dtype: object
10996      10,August,2004
10996    02,December,2003
Name: date, dtype: object
10997      10,August,2004
10997    02,December,2003
Name: date, dtype: object
10998      10,August,2004
10998    01,December,2003
Name: date, dtype: object
10999      10,August,2004
10999    30,November,2003
Name: date, dtype: object
11000      10,August,2004
11000    30,November,2003
Name: date, dtype: object
11001      10,August,2004
11001    30,November,2003
Name: date, dtype: object
11002      10,August,2004
11002    30,November,2003
Name: date, dtype: object
11003      10,August,2004
11003    13,December,2003
Name: date, dtype: object
11004      10,August,2004
11004    12,December,2003
Name: date, dtype: object
11005      10,August,2004
11005    11,December,2003
Name: date, dtype: object
11006      10,August,2004
11006    11,December,2003
Name: date, dtype: object
11007      10,August,2004
11007    10,December,2003
Name: date, dtype: object
11008      10,August,2004
11008    10,December,2003
Name: date, dtype: object
11009      10,August,2004
11009    09,December,2003
Name: date, dtype: object
11010      10,August,2004
11010    08,December,2003
Name: date, dtype: object
11011      10,August,2004
11011    08,December,2003
Name: date, dtype: object
11012      10,August,2004
11012    08,December,2003
Name: date, dtype: object
11013      10,August,2004
11013    07,December,2003
Name: date, dtype: object
11014      10,August,2004
11014    07,December,2003
Name: date, dtype: object
11015      10,August,2004
11015    07,December,2003
Name: date, dtype: object
11016      10,August,2004
11016    07,December,2003
Name: date, dtype: object
11017      10,August,2004
11017    19,December,2003
Name: date, dtype: object
11018      10,August,2004
11018    16,December,2003
Name: date, dtype: object
11019      10,August,2004
11019    16,December,2003
Name: date, dtype: object
11020      10,August,2004
11020    14,December,2003
Name: date, dtype: object
11021      10,August,2004
11021    14,December,2003
Name: date, dtype: object
11022      10,August,2004
11022    27,December,2003
Name: date, dtype: object
11023      10,August,2004
11023    25,December,2003
Name: date, dtype: object
11024      10,August,2004
11024    24,December,2003
Name: date, dtype: object
11025      10,August,2004
11025    23,December,2003
Name: date, dtype: object
11026      10,August,2004
11026    23,December,2003
Name: date, dtype: object
11027      10,August,2004
11027    23,December,2003
Name: date, dtype: object
11028     10,August,2004
11028    03,January,2004
Name: date, dtype: object
11029     10,August,2004
11029    02,January,2004
Name: date, dtype: object
11030     10,August,2004
11030    01,January,2004
Name: date, dtype: object
11031      10,August,2004
11031    31,December,2003
Name: date, dtype: object
11032      10,August,2004
11032    29,December,2003
Name: date, dtype: object
11033      10,August,2004
11033    28,December,2003
Name: date, dtype: object
11034     10,August,2004
11034    10,January,2004
Name: date, dtype: object
11035     10,August,2004
11035    09,January,2004
Name: date, dtype: object
11036     10,August,2004
11036    08,January,2004
Name: date, dtype: object
11037     10,August,2004
11037    08,January,2004
Name: date, dtype: object
11038     10,August,2004
11038    07,January,2004
Name: date, dtype: object
11039     10,August,2004
11039    06,January,2004
Name: date, dtype: object
11040     10,August,2004
11040    06,January,2004
Name: date, dtype: object
11041     10,August,2004
11041    05,January,2004
Name: date, dtype: object
11042     10,August,2004
11042    05,January,2004
Name: date, dtype: object
11043     10,August,2004
11043    05,January,2004
Name: date, dtype: object
11044     10,August,2004
11044    04,January,2004
Name: date, dtype: object
11045     10,August,2004
11045    17,January,2004
Name: date, dtype: object
11046     10,August,2004
11046    16,January,2004
Name: date, dtype: object
11047     10,August,2004
11047    16,January,2004
Name: date, dtype: object
11048     10,August,2004
11048    14,January,2004
Name: date, dtype: object
11049     10,August,2004
11049    13,January,2004
Name: date, dtype: object
11050     10,August,2004
11050    13,January,2004
Name: date, dtype: object
11051     10,August,2004
11051    12,January,2004
Name: date, dtype: object
11052     10,August,2004
11052    12,January,2004
Name: date, dtype: object
11053     10,August,2004
11053    11,January,2004
Name: date, dtype: object
11054     10,August,2004
11054    11,January,2004
Name: date, dtype: object
11055     10,August,2004
11055    11,January,2004
Name: date, dtype: object
11056     10,August,2004
11056    11,January,2004
Name: date, dtype: object
11057     10,August,2004
11057    24,January,2004
Name: date, dtype: object
11058     10,August,2004
11058    23,January,2004
Name: date, dtype: object
11059     10,August,2004
11059    23,January,2004
Name: date, dtype: object
11060     10,August,2004
11060    22,January,2004
Name: date, dtype: object
11061     10,August,2004
11061    20,January,2004
Name: date, dtype: object
11062     10,August,2004
11062    19,January,2004
Name: date, dtype: object
11063     10,August,2004
11063    19,January,2004
Name: date, dtype: object
11064     10,August,2004
11064    31,January,2004
Name: date, dtype: object
11065     10,August,2004
11065    29,January,2004
Name: date, dtype: object
11066     10,August,2004
11066    29,January,2004
Name: date, dtype: object
11067     10,August,2004
11067    28,January,2004
Name: date, dtype: object
11068     10,August,2004
11068    28,January,2004
Name: date, dtype: object
11069     10,August,2004
11069    27,January,2004
Name: date, dtype: object
11070     10,August,2004
11070    27,January,2004
Name: date, dtype: object
11071    10,August,2004
11071      29,June,2004
Name: date, dtype: object
11072    10,August,2004
11072      27,June,2004
Name: date, dtype: object
11073    10,August,2004
11073      26,June,2004
Name: date, dtype: object
11074    10,August,2004
11074      25,June,2004
Name: date, dtype: object
11075    10,August,2004
11075      23,June,2004
Name: date, dtype: object
11076    10,August,2004
11076      21,June,2004
Name: date, dtype: object
11077    10,August,2004
11077      20,June,2004
Name: date, dtype: object
11078    10,August,2004
11078      18,June,2004
Name: date, dtype: object
11079    10,August,2004
11079      18,June,2004
Name: date, dtype: object
11080    10,August,2004
11080      16,June,2004
Name: date, dtype: object
11081    10,August,2004
11081      15,June,2004
Name: date, dtype: object
11082    10,August,2004
11082      13,June,2004
Name: date, dtype: object
11083    10,August,2004
11083      12,June,2004
Name: date, dtype: object
11084    10,August,2004
11084      11,June,2004
Name: date, dtype: object
11085    10,August,2004
11085      10,June,2004
Name: date, dtype: object
11086    10,August,2004
11086      08,June,2004
Name: date, dtype: object
11087    10,August,2004
11087      08,June,2004
Name: date, dtype: object
11088    10,August,2004
11088      05,June,2004
Name: date, dtype: object
11089    10,August,2004
11089      05,June,2004
Name: date, dtype: object
11090    10,August,2004
11090      25,July,2004
Name: date, dtype: object
11091    10,August,2004
11091      23,July,2004
Name: date, dtype: object
11092    10,August,2004
11092      22,July,2004
Name: date, dtype: object
11093    10,August,2004
11093      19,July,2004
Name: date, dtype: object
11094    10,August,2004
11094      17,July,2004
Name: date, dtype: object
11095    10,August,2004
11095      17,July,2004
Name: date, dtype: object
11096    10,August,2004
11096      15,July,2004
Name: date, dtype: object
11097    10,August,2004
11097      14,July,2004
Name: date, dtype: object
11098    10,August,2004
11098      13,July,2004

Name: date, dtype: object
11099    10,August,2004
11099      12,July,2004
Name: date, dtype: object
11100    10,August,2004
11100      08,July,2004
Name: date, dtype: object
11101    10,August,2004
11101      06,July,2004
Name: date, dtype: object
11102    10,August,2004
11102      04,July,2004
Name: date, dtype: object
11103    10,August,2004
11103      03,July,2004
Name: date, dtype: object
11104    10,August,2004
11104      03,July,2004
Name: date, dtype: object
11105    10,August,2004
11105      03,July,2004
Name: date, dtype: object
11106    10,August,2004
11106      03,July,2004
Name: date, dtype: object
11107    10,August,2004
11107      03,July,2004
Name: date, dtype: object
11108    10,August,2004
11108      03,July,2004
Name: date, dtype: object
11109    24,August,2004
11109      02,July,2004
Name: date, dtype: object
11110       30,May,2004
11110    12,August,2004
Name: date, dtype: object
11111       29,May,2004
11111    10,August,2004
Name: date, dtype: object
11112       29,May,2004
11112    10,August,2004
Name: date, dtype: object
11113       29,May,2004
11113    10,August,2004
Name: date, dtype: object
11114       29,May,2004
11114    10,August,2004
Name: date, dtype: object
11115     29,May,2004
11115    29,June,2004
Name: date, dtype: object
11116    29,June,2004
11116    29,June,2004
Name: date, dtype: object
11117    22,June,2004
11117    21,July,2004
Name: date, dtype: object
11118    19,June,2004
11118    18,July,2004
Name: date, dtype: object
11119    18,June,2004
11119    13,July,2004
Name: date, dtype: object
11120       30,May,2004
11120    04,August,2004
Name: date, dtype: object
11121       29,May,2004
11121    03,August,2004
Name: date, dtype: object
11122       29,May,2004
11122    03,August,2004
Name: date, dtype: object
11123     29,May,2004
11123    25,June,2004
Name: date, dtype: object
11124     29,May,2004
11124    23,June,2004
Name: date, dtype: object
11125     29,May,2004
11125    21,June,2004
Name: date, dtype: object
11126    29,June,2004
11126    20,June,2004
Name: date, dtype: object
11127    22,June,2004
11127    19,June,2004
Name: date, dtype: object
11128    19,June,2004
11128    18,June,2004
Name: date, dtype: object
11129    18,June,2004
11129    21,July,2004
Name: date, dtype: object
11130    29,July,2004
11130    05,July,2004
Name: date, dtype: object
11131    01,July,2004
11131    05,July,2004
Name: date, dtype: object
11132       01,July,2004
11132    30,January,2004
Name: date, dtype: object
11133       01,July,2004
11133    29,January,2004
Name: date, dtype: object
11134       01,July,2004
11134    29,January,2004
Name: date, dtype: object
11135       01,July,2004
11135    29,January,2004
Name: date, dtype: object
11136       01,July,2004
11136    29,January,2004
Name: date, dtype: object
11137       01,July,2004
11137    28,January,2004
Name: date, dtype: object
11138       01,July,2004
11138    28,January,2004
Name: date, dtype: object
11139       01,July,2004
11139    27,January,2004
Name: date, dtype: object
11140       01,July,2004
11140    27,January,2004
Name: date, dtype: object
11141       01,July,2004
11141    27,January,2004
Name: date, dtype: object
11142       01,July,2004
11142    27,January,2004
Name: date, dtype: object
11143       01,July,2004
11143    27,January,2004
Name: date, dtype: object
11144        01,July,2004
11144    27,February,2004
Name: date, dtype: object
11145        01,July,2004
11145    26,February,2004
Name: date, dtype: object
11146        01,July,2004
11146    26,February,2004
Name: date, dtype: object
11147        01,July,2004
11147    26,February,2004
Name: date, dtype: object
11148        01,July,2004
11148    25,February,2004
Name: date, dtype: object
11149        01,July,2004
11149    25,February,2004
Name: date, dtype: object
11150        01,July,2004
11150    24,February,2004
Name: date, dtype: object
11151        01,July,2004
11151    24,February,2004
Name: date, dtype: object
11152        01,July,2004
11152    24,February,2004
Name: date, dtype: object
11153        01,July,2004
11153    24,February,2004
Name: date, dtype: object
11154        01,July,2004
11154    23,February,2004
Name: date, dtype: object
11155        01,July,2004
11155    23,February,2004
Name: date, dtype: object
11156        01,July,2004
11156    23,February,2004
Name: date, dtype: object
11157        01,July,2004
11157    23,February,2004
Name: date, dtype: object
11158        01,July,2004
11158    20,February,2004
Name: date, dtype: object
11159        01,July,2004
11159    20,February,2004
Name: date, dtype: object
11160        01,July,2004
11160    20,February,2004
Name: date, dtype: object
11161        01,July,2004
11161    20,February,2004
Name: date, dtype: object
11162        01,July,2004
11162    19,February,2004
Name: date, dtype: object
11163        01,July,2004
11163    19,February,2004
Name: date, dtype: object
11164        01,July,2004
11164    19,February,2004
Name: date, dtype: object
11165        01,July,2004
11165    19,February,2004
Name: date, dtype: object
11166        01,July,2004
11166    19,February,2004
Name: date, dtype: object
11167        01,July,2004
11167    18,February,2004
Name: date, dtype: object
11168        01,July,2004
11168    16,February,2004
Name: date, dtype: object
11169        01,July,2004
11169    16,February,2004
Name: date, dtype: object
11170        01,July,2004
11170    16,February,2004
Name: date, dtype: object
11171        01,July,2004
11171    13,February,2004
Name: date, dtype: object
11172        01,July,2004
11172    13,February,2004
Name: date, dtype: object
11173        01,July,2004
11173    13,February,2004
Name: date, dtype: object
11174        01,July,2004
11174    12,February,2004
Name: date, dtype: object
11175        01,July,2004
11175    12,February,2004
Name: date, dtype: object
11176        01,July,2004
11176    12,February,2004
Name: date, dtype: object
11177        01,July,2004
11177    11,February,2004
Name: date, dtype: object
11178        01,July,2004
11178    11,February,2004
Name: date, dtype: object
11179        01,July,2004
11179    10,February,2004
Name: date, dtype: object
11180        01,July,2004
11180    10,February,2004
Name: date, dtype: object
11181        01,July,2004
11181    10,February,2004
Name: date, dtype: object
11182        01,July,2004
11182    10,February,2004
Name: date, dtype: object
11183        01,July,2004
11183    09,February,2004
Name: date, dtype: object
11184        01,July,2004
11184    09,February,2004
Name: date, dtype: object
11185        01,July,2004
11185    06,February,2004
Name: date, dtype: object
11186        01,July,2004
11186    06,February,2004
Name: date, dtype: object
11187        01,July,2004
11187    05,February,2004
Name: date, dtype: object
11188        01,July,2004
11188    05,February,2004
Name: date, dtype: object
11189        01,July,2004
11189    04,February,2004
Name: date, dtype: object
11190        01,July,2004
11190    03,February,2004
Name: date, dtype: object
11191        01,July,2004
11191    03,February,2004
Name: date, dtype: object
11192        01,July,2004
11192    03,February,2004
Name: date, dtype: object
11193        01,July,2004
11193    03,February,2004
Name: date, dtype: object
11194        01,July,2004
11194    03,February,2004
Name: date, dtype: object
11195        01,July,2004
11195    02,February,2004
Name: date, dtype: object
11196        01,July,2004
11196    02,February,2004
Name: date, dtype: object
11197        01,July,2004
11197    02,February,2004
Name: date, dtype: object
11198        01,July,2004
11198    02,February,2004
Name: date, dtype: object
11199        01,July,2004
11199    02,February,2004
Name: date, dtype: object
11200        01,July,2004
11200    02,February,2004
Name: date, dtype: object
11201     01,July,2004
11201    30,March,2004
Name: date, dtype: object
11202     01,July,2004
11202    29,March,2004
Name: date, dtype: object
11203     01,July,2004
11203    26,March,2004
Name: date, dtype: object
11204     01,July,2004
11204    26,March,2004
Name: date, dtype: object
11205     01,July,2004
11205    26,March,2004
Name: date, dtype: object
11206     01,July,2004
11206    26,March,2004
Name: date, dtype: object
11207     01,July,2004
11207    26,March,2004
Name: date, dtype: object
11208     01,July,2004
11208    25,March,2004
Name: date, dtype: object
11209     01,July,2004
11209    25,March,2004
Name: date, dtype: object
11210     01,July,2004
11210    24,March,2004
Name: date, dtype: object
11211     01,July,2004
11211    24,March,2004
Name: date, dtype: object
11212     01,July,2004
11212    24,March,2004
Name: date, dtype: object
11213     01,July,2004
11213    24,March,2004
Name: date, dtype: object
11214     01,July,2004
11214    24,March,2004
Name: date, dtype: object
11215     01,July,2004
11215    23,March,2004
Name: date, dtype: object
11216     01,July,2004
11216    23,March,2004
Name: date, dtype: object
11217     01,July,2004
11217    23,March,2004
Name: date, dtype: object
11218     01,July,2004
11218    15,March,2004
Name: date, dtype: object
11219     01,July,2004
11219    11,March,2004
Name: date, dtype: object
11220     01,July,2004
11220    08,March,2004
Name: date, dtype: object
11221     01,July,2004
11221    08,March,2004
Name: date, dtype: object
11222     01,July,2004
11222    08,March,2004
Name: date, dtype: object
11223     01,July,2004
11223    08,March,2004
Name: date, dtype: object
11224     01,July,2004
11224    05,March,2004
Name: date, dtype: object
11225     01,July,2004
11225    05,March,2004
Name: date, dtype: object
11226     01,July,2004
11226    05,March,2004
Name: date, dtype: object
11227     01,July,2004
11227    05,March,2004
Name: date, dtype: object
11228     01,July,2004
11228    04,March,2004
Name: date, dtype: object
11229     01,July,2004
11229    04,March,2004
Name: date, dtype: object
11230     01,July,2004
11230    03,March,2004
Name: date, dtype: object
11231     01,July,2004
11231    03,March,2004
Name: date, dtype: object
11232     01,July,2004
11232    03,March,2004
Name: date, dtype: object
11233     01,July,2004
11233    03,March,2004
Name: date, dtype: object
11234     01,July,2004
11234    03,March,2004
Name: date, dtype: object
11235     01,July,2004
11235    02,March,2004
Name: date, dtype: object
11236     01,July,2004
11236    02,March,2004
Name: date, dtype: object
11237     01,July,2004
11237    02,March,2004
Name: date, dtype: object
11238     01,July,2004
11238    01,March,2004
Name: date, dtype: object
11239     01,July,2004
11239    30,April,2004
Name: date, dtype: object
11240     01,July,2004
11240    29,April,2004
Name: date, dtype: object
11241     01,July,2004
11241    29,April,2004
Name: date, dtype: object
11242     01,July,2004
11242    27,April,2004
Name: date, dtype: object

11243     01,July,2004
11243    27,April,2004
Name: date, dtype: object
11244     01,July,2004
11244    27,April,2004
Name: date, dtype: object
11245     01,July,2004
11245    23,April,2004
Name: date, dtype: object
11246     01,July,2004
11246    22,April,2004
Name: date, dtype: object
11247     01,July,2004
11247    22,April,2004
Name: date, dtype: object
11248     01,July,2004
11248    22,April,2004
Name: date, dtype: object
11249     01,July,2004
11249    21,April,2004
Name: date, dtype: object
11250     01,July,2004
11250    21,April,2004
Name: date, dtype: object
11251     01,July,2004
11251    20,April,2004
Name: date, dtype: object
11252     01,July,2004
11252    19,April,2004
Name: date, dtype: object
11253     01,July,2004
11253    19,April,2004
Name: date, dtype: object
11254     01,July,2004
11254    16,April,2004
Name: date, dtype: object
11255     01,July,2004
11255    16,April,2004
Name: date, dtype: object
11256     01,July,2004
11256    15,April,2004
Name: date, dtype: object
11257     01,July,2004
11257    14,April,2004
Name: date, dtype: object
11258     01,July,2004
11258    13,April,2004
Name: date, dtype: object
11259     01,July,2004
11259    13,April,2004
Name: date, dtype: object
11260     01,July,2004
11260    13,April,2004
Name: date, dtype: object
11261     01,July,2004
11261    12,April,2004
Name: date, dtype: object
11262     01,July,2004
11262    12,April,2004
Name: date, dtype: object
11263     01,July,2004
11263    12,April,2004
Name: date, dtype: object
11264     01,July,2004
11264    12,April,2004
Name: date, dtype: object
11265     01,July,2004
11265    12,April,2004
Name: date, dtype: object
11266     01,July,2004
11266    09,April,2004
Name: date, dtype: object
11267     01,July,2004
11267    08,April,2004
Name: date, dtype: object
11268     01,July,2004
11268    08,April,2004
Name: date, dtype: object
11269     01,July,2004
11269    07,April,2004
Name: date, dtype: object
11270     01,July,2004
11270    07,April,2004
Name: date, dtype: object
11271     01,July,2004
11271    05,April,2004
Name: date, dtype: object
11272     01,July,2004
11272    05,April,2004
Name: date, dtype: object
11273     01,July,2004
11273    02,April,2004
Name: date, dtype: object
11274     01,July,2004
11274    02,April,2004
Name: date, dtype: object
11275    01,July,2004
11275     27,May,2004
Name: date, dtype: object
11276    01,July,2004
11276     26,May,2004
Name: date, dtype: object
11277    01,July,2004
11277     26,May,2004
Name: date, dtype: object
11278    01,July,2004
11278     26,May,2004
Name: date, dtype: object
11279    01,July,2004
11279     24,May,2004
Name: date, dtype: object
11280    01,July,2004
11280     24,May,2004
Name: date, dtype: object
11281    01,July,2004
11281     24,May,2004
Name: date, dtype: object
11282    01,July,2004
11282     19,May,2004
Name: date, dtype: object
11283    01,July,2004
11283     18,May,2004
Name: date, dtype: object
11284    01,July,2004
11284     17,May,2004
Name: date, dtype: object
11285    01,July,2004
11285     17,May,2004
Name: date, dtype: object
11286    01,July,2004
11286     14,May,2004
Name: date, dtype: object
11287    01,July,2004
11287     13,May,2004
Name: date, dtype: object
11288    01,July,2004
11288     12,May,2004
Name: date, dtype: object
11289    01,July,2004
11289     12,May,2004
Name: date, dtype: object
11290    01,July,2004
11290     11,May,2004
Name: date, dtype: object
11291    01,July,2004
11291     11,May,2004
Name: date, dtype: object
11292    01,July,2004
11292     10,May,2004
Name: date, dtype: object
11293    01,July,2004
11293     10,May,2004
Name: date, dtype: object
11294    01,July,2004
11294     06,May,2004
Name: date, dtype: object
11295    01,July,2004
11295     05,May,2004
Name: date, dtype: object
11296    01,July,2004
11296     04,May,2004
Name: date, dtype: object
11297    01,July,2004
11297     04,May,2004
Name: date, dtype: object
11298    01,July,2004
11298     04,May,2004
Name: date, dtype: object
11299    01,July,2004
11299     03,May,2004
Name: date, dtype: object
11300    01,July,2004
11300     03,May,2004
Name: date, dtype: object
11301    01,July,2004
11301    30,June,2004
Name: date, dtype: object
11302    01,July,2004
11302    29,June,2004
Name: date, dtype: object
11303    01,July,2004
11303    29,June,2004
Name: date, dtype: object
11304    01,July,2004
11304    29,June,2004
Name: date, dtype: object
11305    01,July,2004
11305    25,June,2004
Name: date, dtype: object
11306    01,July,2004
11306    25,June,2004
Name: date, dtype: object
11307    01,July,2004
11307    25,June,2004
Name: date, dtype: object
11308    01,July,2004
11308    24,June,2004
Name: date, dtype: object
11309    01,July,2004
11309    22,June,2004
Name: date, dtype: object
11310    01,July,2004
11310    22,June,2004
Name: date, dtype: object
11311    01,July,2004
11311    21,June,2004
Name: date, dtype: object
11312    01,July,2004
11312    21,June,2004
Name: date, dtype: object
11313    01,July,2004
11313    21,June,2004
Name: date, dtype: object
11314    01,July,2004
11314    21,June,2004
Name: date, dtype: object
11315    01,July,2004
11315    15,June,2004
Name: date, dtype: object
11316    01,July,2004
11316    10,June,2004
Name: date, dtype: object
11317    01,July,2004
11317    10,June,2004
Name: date, dtype: object
11318    01,July,2004
11318    10,June,2004
Name: date, dtype: object
11319    01,July,2004
11319    09,June,2004
Name: date, dtype: object
11320    01,July,2004
11320    09,June,2004
Name: date, dtype: object
11321    01,July,2004
11321    08,June,2004
Name: date, dtype: object
11322    01,July,2004
11322    07,June,2004
Name: date, dtype: object
11323    01,July,2004
11323    07,June,2004
Name: date, dtype: object
11324    01,July,2004
11324    04,June,2004
Name: date, dtype: object
11325    01,July,2004
11325    03,June,2004
Name: date, dtype: object
11326    01,July,2004
11326    03,June,2004
Name: date, dtype: object
11327    01,July,2004
11327    03,June,2004
Name: date, dtype: object
11328    01,July,2004
11328    02,June,2004
Name: date, dtype: object
11329    01,July,2004
11329    02,June,2004
Name: date, dtype: object
11330    01,July,2004
11330    29,July,2004
Name: date, dtype: object
11331    01,July,2004
11331    28,July,2004
Name: date, dtype: object
11332    01,July,2004
11332    23,July,2004
Name: date, dtype: object
11333    01,July,2004
11333    23,July,2004
Name: date, dtype: object
11334    01,July,2004
11334    23,July,2004
Name: date, dtype: object
11335    01,July,2004
11335    22,July,2004
Name: date, dtype: object
11336    01,July,2004
11336    21,July,2004
Name: date, dtype: object
11337    01,July,2004
11337    21,July,2004
Name: date, dtype: object
11338    01,July,2004
11338    21,July,2004
Name: date, dtype: object
11339    01,July,2004
11339    21,July,2004
Name: date, dtype: object
11340    01,July,2004
11340    19,July,2004
Name: date, dtype: object
11341    01,July,2004
11341    19,July,2004
Name: date, dtype: object
11342    01,July,2004
11342    15,July,2004
Name: date, dtype: object
11343    01,July,2004
11343    15,July,2004
Name: date, dtype: object
11344    01,July,2004
11344    15,July,2004
Name: date, dtype: object
11345    01,July,2004
11345    14,July,2004
Name: date, dtype: object
11346    01,July,2004
11346    13,July,2004
Name: date, dtype: object
11347    01,July,2004
11347    13,July,2004
Name: date, dtype: object
11348     31,May,2004
11348    09,July,2004
Name: date, dtype: object
11349     29,May,2004
11349    08,July,2004
Name: date, dtype: object
11350     27,May,2004
11350    07,July,2004
Name: date, dtype: object
11351    30,June,2004
11351    06,July,2004
Name: date, dtype: object
11352    27,June,2004
11352    06,July,2004
Name: date, dtype: object
11353    24,June,2004
11353    06,July,2004
Name: date, dtype: object
11354      16,June,2004
11354    11,August,2004
Name: date, dtype: object
11355      14,June,2004
11355    10,August,2004
Name: date, dtype: object
11356      09,June,2004
11356    10,August,2004
Name: date, dtype: object
11357      02,June,2004
11357    06,August,2004
Name: date, dtype: object
11358      01,June,2004
11358    06,August,2004
Name: date, dtype: object
11359      29,July,2004
11359    06,August,2004
Name: date, dtype: object
11360      07,July,2004
11360    06,August,2004
Name: date, dtype: object
11361      05,July,2004
11361    05,August,2004
Name: date, dtype: object
11362      01,July,2004
11362    05,August,2004
Name: date, dtype: object
11363      01,July,2004
11363    03,August,2004
Name: date, dtype: object
11364    05,August,2004
11364    03,August,2004
Name: date, dtype: object
11365    03,August,2004
11365    03,August,2004
Name: date, dtype: object
11366    23,December,2003
11366      03,August,2004
Name: date, dtype: object
11367    18,December,2003
11367        25,July,2004
Name: date, dtype: object
11368    17,December,2003
11368        24,July,2004
Name: date, dtype: object
11369    16,December,2003
11369        18,July,2004
Name: date, dtype: object
11370    16,December,2003
11370        18,July,2004
Name: date, dtype: object
11371    13,December,2003
11371        13,July,2004
Name: date, dtype: object
11372    12,December,2003
11372        13,July,2004
Name: date, dtype: object
11373    11,December,2003
11373        13,July,2004
Name: date, dtype: object
11374    11,December,2003
11374        25,July,2004
Name: date, dtype: object
11375    11,December,2003
11375         26,May,2004
Name: date, dtype: object
11376    31,January,2004
11376        21,May,2004
Name: date, dtype: object
11377    30,January,2004
11377        17,May,2004
Name: date, dtype: object
11378    28,January,2004
11378       13,June,2004
Name: date, dtype: object
11379    27,January,2004
11379       30,July,2004
Name: date, dtype: object
11380    24,January,2004
11380       29,July,2004
Name: date, dtype: object
11381    21,January,2004
11381       27,July,2004
Name: date, dtype: object
11382    19,January,2004
11382       26,July,2004
Name: date, dtype: object
11383    16,January,2004
11383       15,July,2004
Name: date, dtype: object
11384    15,January,2004
11384       14,July,2004
Name: date, dtype: object
11385    14,January,2004
11385       14,July,2004
Name: date, dtype: object
11386    14,January,2004
11386     19,August,2004
Name: date, dtype: object
11387    12,January,2004
11387     18,August,2004

Name: date, dtype: object
11388    10,January,2004
11388       02,July,2004
Name: date, dtype: object
11389    10,January,2004
11389       02,July,2004
Name: date, dtype: object
11390    07,January,2004
11390       08,July,2004
Name: date, dtype: object
11391    06,January,2004
11391       04,July,2004
Name: date, dtype: object
11392    06,January,2004
11392       02,July,2004
Name: date, dtype: object
11393    05,January,2004
11393       01,July,2004
Name: date, dtype: object
11394    04,January,2004
11394       01,July,2004
Name: date, dtype: object
11395    04,January,2004
11395     08,August,2004
Name: date, dtype: object
11396    04,January,2004
11396     07,August,2004
Name: date, dtype: object
11397    03,January,2004
11397       23,July,2004
Name: date, dtype: object
11398    03,January,2004
11398       20,July,2004
Name: date, dtype: object
11399    01,January,2004
11399       20,July,2004
Name: date, dtype: object
11400    19,February,2004
11400        18,July,2004
Name: date, dtype: object
11401    16,February,2004
11401        16,July,2004
Name: date, dtype: object
11402    15,February,2004
11402        15,July,2004
Name: date, dtype: object
11403    15,February,2004
11403        15,July,2004
Name: date, dtype: object
11404    14,February,2004
11404        13,July,2004
Name: date, dtype: object
11405    13,February,2004
11405        08,July,2004
Name: date, dtype: object
11406    13,February,2004
11406        08,July,2004
Name: date, dtype: object
11407    13,February,2004
11407        07,July,2004
Name: date, dtype: object
11408    10,February,2004
11408        07,July,2004
Name: date, dtype: object
11409    08,February,2004
11409        07,July,2004
Name: date, dtype: object
11410    07,February,2004
11410      11,August,2004
Name: date, dtype: object
11411    07,February,2004
11411      10,August,2004
Name: date, dtype: object
11412    06,February,2004
11412        28,June,2003
Name: date, dtype: object
11413    04,February,2004
11413        03,July,2003
Name: date, dtype: object
11414    01,February,2004
11414        29,June,2003
Name: date, dtype: object
11415    29,June,2004
11415    25,July,2003
Name: date, dtype: object
11416         28,June,2004
11416    13,September,2003
Name: date, dtype: object
11417     27,June,2004
11417    11,March,2004
Name: date, dtype: object
11418     27,June,2004
11418    22,March,2004
Name: date, dtype: object
11419    08,July,2004
11419     07,May,2004
Name: date, dtype: object
11420    02,July,2004
11420     10,May,2004
Name: date, dtype: object
11421    13,June,2004
11421     22,May,2004
Name: date, dtype: object
11422    09,June,2004
11422     16,May,2004
Name: date, dtype: object
11423    08,June,2004
11423    05,June,2004
Name: date, dtype: object
11424    08,June,2004
11424    24,June,2004
Name: date, dtype: object
11425    07,June,2004
11425    22,June,2004
Name: date, dtype: object
11426    06,June,2004
11426    21,June,2004
Name: date, dtype: object
11427    04,June,2004
11427    21,June,2004
Name: date, dtype: object
11428    04,June,2004
11428    09,July,2004
Name: date, dtype: object
11429    03,June,2004
11429    09,July,2004
Name: date, dtype: object
11430    02,June,2004
11430    19,July,2004
Name: date, dtype: object
11431    02,June,2004
11431    27,July,2004
Name: date, dtype: object
11432    15,August,2004
11432      25,July,2004
Name: date, dtype: object
11433    11,August,2004
11433    06,August,2004
Name: date, dtype: object
11434    08,August,2004
11434    12,August,2004
Name: date, dtype: object
11435    06,August,2004
11435    11,August,2004
Name: date, dtype: object
11436    06,August,2004
11436    21,August,2004
Name: date, dtype: object
11437    06,August,2004
11437    20,August,2004
Name: date, dtype: object
11438    03,August,2004
11438    23,August,2004
Name: date, dtype: object
11439    01,August,2004
11439    22,August,2004
Name: date, dtype: object
11440    01,August,2004
11440    22,August,2004
Name: date, dtype: object
11441    01,August,2004
11441      18,June,2004
Name: date, dtype: object
11442    26,July,2004
11442    18,June,2004
Name: date, dtype: object
11443     17,May,2004
11443    18,June,2004
Name: date, dtype: object
11444     16,May,2004
11444    26,June,2004
Name: date, dtype: object
11445     16,May,2004
11445    24,June,2004
Name: date, dtype: object
11446    02,July,2004
11446    20,June,2004
Name: date, dtype: object
11447    02,July,2004
11447    20,June,2004
Name: date, dtype: object
11448    02,July,2004
11448    19,June,2004
Name: date, dtype: object
11449    25,June,2004
11449    17,June,2004
Name: date, dtype: object
11450    21,June,2004
11450    15,June,2004
Name: date, dtype: object
11451    19,June,2004
11451    13,June,2004
Name: date, dtype: object
11452    17,July,2004
11452    13,June,2004
Name: date, dtype: object
11453    14,July,2004
11453    11,June,2004
Name: date, dtype: object
11454    05,July,2004
11454    11,June,2004
Name: date, dtype: object
11455    04,July,2004
11455    31,July,2004
Name: date, dtype: object
11456    28,February,2003
11456        27,July,2004
Name: date, dtype: object
11457    27,February,2003
11457        17,July,2004
Name: date, dtype: object
11458    26,February,2003
11458        11,July,2004
Name: date, dtype: object
11459    23,February,2003
11459        03,July,2004
Name: date, dtype: object
11460    21,February,2003
11460        03,July,2004
Name: date, dtype: object
11461    20,February,2003
11461        26,June,2004
Name: date, dtype: object
11462    29,March,2003
11462     18,June,2004
Name: date, dtype: object
11463    25,March,2003
11463     10,June,2004
Name: date, dtype: object
11464    22,March,2003
11464     27,July,2004
Name: date, dtype: object
11465    14,March,2003
11465      30,May,2004
Name: date, dtype: object
11466    12,March,2003
11466      30,May,2004
Name: date, dtype: object
11467    11,March,2003
11467     14,June,2004
Name: date, dtype: object
11468    11,March,2003
11468     05,June,2004
Name: date, dtype: object
11469    06,March,2003
11469     05,June,2004
Name: date, dtype: object
11470    30,April,2003
11470      14,May,2004
Name: date, dtype: object
11471    29,April,2003
11471      14,May,2004
Name: date, dtype: object
11472    28,April,2003
11472      14,May,2004
Name: date, dtype: object
11473    26,April,2003
11473      14,May,2004
Name: date, dtype: object
11474    20,April,2003
11474      14,May,2004
Name: date, dtype: object
11475    16,April,2003
11475      14,May,2004
Name: date, dtype: object
11476    13,April,2003
11476      14,May,2004
Name: date, dtype: object
11477    10,April,2003
11477      14,May,2004
Name: date, dtype: object
11478    08,April,2003
11478      14,May,2004
Name: date, dtype: object
11479    07,April,2003
11479      14,May,2004
Name: date, dtype: object
11480    01,April,2003
11480      14,May,2004
Name: date, dtype: object
11481    01,April,2003
11481      14,May,2004
Name: date, dtype: object
11482    31,May,2003
11482    14,May,2004
Name: date, dtype: object
11483    24,May,2003
11483    14,May,2004
Name: date, dtype: object
11484    24,May,2003
11484    14,May,2004
Name: date, dtype: object
11485    22,May,2003
11485    14,May,2004
Name: date, dtype: object
11486    20,May,2003
11486    14,May,2004
Name: date, dtype: object
11487    17,May,2003
11487    14,May,2004
Name: date, dtype: object
11488    08,May,2003
11488    14,May,2004
Name: date, dtype: object
11489    03,May,2003
11489    14,May,2004
Name: date, dtype: object
11490    29,June,2003
11490     14,May,2004
Name: date, dtype: object
11491    28,June,2003
11491     14,May,2004
Name: date, dtype: object
11492    26,June,2003
11492     14,May,2004
Name: date, dtype: object
11493    24,June,2003
11493     14,May,2004
Name: date, dtype: object
11494    22,June,2003
11494     14,May,2004
Name: date, dtype: object
11495    18,June,2003
11495     14,May,2004
Name: date, dtype: object
11496    18,June,2003
11496     14,May,2004
Name: date, dtype: object
11497    06,June,2003
11497     14,May,2004
Name: date, dtype: object
11498    04,June,2003
11498     14,May,2004
Name: date, dtype: object
11499    29,July,2003
11499     14,May,2004
Name: date, dtype: object
11500    25,July,2003
11500     14,May,2004
Name: date, dtype: object
11501    24,July,2003
11501     14,May,2004
Name: date, dtype: object
11502    24,July,2003
11502     14,May,2004
Name: date, dtype: object
11503    22,July,2003
11503     14,May,2004
Name: date, dtype: object
11504    20,July,2003
11504     14,May,2004
Name: date, dtype: object
11505    18,July,2003
11505     14,May,2004
Name: date, dtype: object
11506    17,July,2003
11506     14,May,2004
Name: date, dtype: object
11507    16,July,2003
11507     14,May,2004
Name: date, dtype: object
11508    15,July,2003
11508     14,May,2004
Name: date, dtype: object
11509    12,July,2003
11509     14,May,2004
Name: date, dtype: object
11510    09,July,2003
11510     14,May,2004
Name: date, dtype: object
11511    07,July,2003
11511     14,May,2004
Name: date, dtype: object
11512    05,July,2003
11512     14,May,2004
Name: date, dtype: object
11513    03,July,2003
11513    19,July,2004
Name: date, dtype: object
11514    01,July,2003
11514    23,July,2004
Name: date, dtype: object
11515    01,July,2003
11515    22,July,2004
Name: date, dtype: object
11516    31,August,2003
11516      20,July,2004
Name: date, dtype: object
11517    30,August,2003
11517      19,July,2004
Name: date, dtype: object
11518    29,August,2003
11518    13,August,2004
Name: date, dtype: object
11519    26,August,2003
11519    11,August,2004
Name: date, dtype: object
11520    22,August,2003
11520      10,July,2004
Name: date, dtype: object
11521    20,August,2003
11521      05,July,2004
Name: date, dtype: object
11522    18,August,2003
11522      05,July,2004
Name: date, dtype: object
11523    17,August,2003
11523      05,July,2004
Name: date, dtype: object
11524    16,August,2003
11524      03,July,2004
Name: date, dtype: object
11525    14,August,2003
11525      02,July,2004
Name: date, dtype: object
11526    13,August,2003
11526      02,July,2004
Name: date, dtype: object
11527    11,August,2003
11527      02,July,2004
Name: date, dtype: object
11528    10,August,2003
11528      02,July,2004
Name: date, dtype: object
11529    09,August,2003
11529      02,July,2004
Name: date, dtype: object
11530    07,August,2003
11530       13,May,2004
Name: date, dtype: object
11531    06,August,2003
11531       13,May,2004
Name: date, dtype: object

11532    05,August,2003
11532       13,May,2004
Name: date, dtype: object
11533    05,August,2003
11533       13,May,2004
Name: date, dtype: object
11534    04,August,2003
11534       13,May,2004
Name: date, dtype: object
11535    03,August,2003
11535       13,May,2004
Name: date, dtype: object
11536    02,August,2003
11536       13,May,2004
Name: date, dtype: object
11537    01,August,2003
11537       13,May,2004
Name: date, dtype: object
11538    30,September,2003
11538          13,May,2004
Name: date, dtype: object
11539    28,September,2003
11539          13,May,2004
Name: date, dtype: object
11540    27,September,2003
11540          13,May,2004
Name: date, dtype: object
11541    25,September,2003
11541          13,May,2004
Name: date, dtype: object
11542    22,September,2003
11542          13,May,2004
Name: date, dtype: object
11543    21,September,2003
11543          13,May,2004
Name: date, dtype: object
11544    20,September,2003
11544          13,May,2004
Name: date, dtype: object
11545    18,September,2003
11545          13,May,2004
Name: date, dtype: object
11546    17,September,2003
11546          13,May,2004
Name: date, dtype: object
11547    15,September,2003
11547          13,May,2004
Name: date, dtype: object
11548    14,September,2003
11548          13,May,2004
Name: date, dtype: object
11549    13,September,2003
11549          13,May,2004
Name: date, dtype: object
11550    11,September,2003
11550         31,July,2004
Name: date, dtype: object
11551    08,September,2003
11551         30,July,2004
Name: date, dtype: object
11552    07,September,2003
11552         29,July,2004
Name: date, dtype: object
11553    06,September,2003
11553         27,July,2004
Name: date, dtype: object
11554    05,September,2003
11554         26,July,2004
Name: date, dtype: object
11555    04,September,2003
11555         26,July,2004
Name: date, dtype: object
11556    02,September,2003
11556       13,August,2004
Name: date, dtype: object
11557    30,October,2003
11557     08,August,2004
Name: date, dtype: object
11558    28,October,2003
11558     06,August,2004
Name: date, dtype: object
11559    26,October,2003
11559     03,August,2004
Name: date, dtype: object
11560    25,October,2003
11560     02,August,2004
Name: date, dtype: object
11561    24,October,2003
11561     10,August,2004
Name: date, dtype: object
11562    21,October,2003
11562     05,August,2004
Name: date, dtype: object
11563    20,October,2003
11563     04,August,2004
Name: date, dtype: object
11564    19,October,2003
11564     04,August,2004
Name: date, dtype: object
11565    17,October,2003
11565     04,August,2004
Name: date, dtype: object
11566    15,October,2003
11566     02,August,2004
Name: date, dtype: object
11567    14,October,2003
11567     02,August,2004
Name: date, dtype: object
11568    13,October,2003
11568     02,August,2004
Name: date, dtype: object
11569    11,October,2003
11569       31,July,2004
Name: date, dtype: object
11570    07,October,2003
11570       24,July,2004
Name: date, dtype: object
11571    06,October,2003
11571     01,August,2004
Name: date, dtype: object
11572    03,October,2003
11572       31,July,2004
Name: date, dtype: object
11573    02,October,2003
11573       28,July,2004
Name: date, dtype: object
11574    01,October,2003
11574       27,July,2004
Name: date, dtype: object
11575    30,November,2003
11575        26,July,2004
Name: date, dtype: object
11576    25,November,2003
11576        25,July,2004
Name: date, dtype: object
11577    23,November,2003
11577        24,July,2004
Name: date, dtype: object
11578    23,November,2003
11578        24,July,2004
Name: date, dtype: object
11579    21,November,2003
11579        24,July,2004
Name: date, dtype: object
11580    17,November,2003
11580        24,July,2004
Name: date, dtype: object
11581    16,November,2003
11581        23,July,2004
Name: date, dtype: object
11582    15,November,2003
11582        23,July,2004
Name: date, dtype: object
11583    13,November,2003
11583      04,August,2004
Name: date, dtype: object
11584    12,November,2003
11584      01,August,2004
Name: date, dtype: object
11585    11,November,2003
11585        12,June,2004
Name: date, dtype: object
11586    11,November,2003
11586        30,July,2004
Name: date, dtype: object
11587    09,November,2003
11587        29,July,2004
Name: date, dtype: object
11588    08,November,2003
11588        29,July,2004
Name: date, dtype: object
11589    07,November,2003
11589        24,July,2004
Name: date, dtype: object
11590    06,November,2003
11590        19,July,2004
Name: date, dtype: object
11591    05,November,2003
11591        18,July,2004
Name: date, dtype: object
11592    01,November,2003
11592      13,August,2004
Name: date, dtype: object
11593    01,November,2003
11593      08,August,2004
Name: date, dtype: object
11594    31,December,2003
11594      06,August,2004
Name: date, dtype: object
11595    30,December,2003
11595      05,August,2004
Name: date, dtype: object
11596    28,December,2003
11596      02,August,2004
Name: date, dtype: object
11597    24,December,2003
11597        31,July,2004
Name: date, dtype: object
11598    23,December,2003
11598        25,July,2004
Name: date, dtype: object
11599    21,December,2003
11599      13,August,2004
Name: date, dtype: object
11600    20,December,2003
11600      03,August,2004
Name: date, dtype: object
11601    19,December,2003
11601      13,August,2004
Name: date, dtype: object
11602    18,December,2003
11602      12,August,2004
Name: date, dtype: object
11603    15,December,2003
11603      11,August,2004
Name: date, dtype: object
11604    14,December,2003
11604      10,August,2004
Name: date, dtype: object
11605    12,December,2003
11605      19,August,2004
Name: date, dtype: object
11606    08,December,2003
11606      18,August,2004
Name: date, dtype: object
11607    07,December,2003
11607      17,August,2004
Name: date, dtype: object
11608    03,December,2003
11608      17,August,2004
Name: date, dtype: object
11609    02,December,2003
11609      16,August,2004
Name: date, dtype: object
11610    01,December,2003
11610      14,August,2004
Name: date, dtype: object
11611    31,January,2004
11611     14,August,2004
Name: date, dtype: object
11612    28,January,2004
11612       11,June,2004
Name: date, dtype: object
11613    26,January,2004
11613       08,June,2004
Name: date, dtype: object
11614    25,January,2004
11614       04,June,2004
Name: date, dtype: object
11615    25,January,2004
11615       04,June,2004
Name: date, dtype: object
11616    24,January,2004
11616       04,June,2004
Name: date, dtype: object
11617    23,January,2004
11617       06,July,2004
Name: date, dtype: object
11618    22,January,2004
11618       29,June,2004
Name: date, dtype: object
11619    21,January,2004
11619       27,June,2004
Name: date, dtype: object
11620    20,January,2004
11620       26,June,2004
Name: date, dtype: object
11621    16,January,2004
11621       25,June,2004
Name: date, dtype: object
11622    14,January,2004
11622       25,June,2004
Name: date, dtype: object
11623    13,January,2004
11623       25,June,2004
Name: date, dtype: object
11624    13,January,2004
11624       25,June,2004
Name: date, dtype: object
11625    13,January,2004
11625       25,June,2004
Name: date, dtype: object
11626    11,January,2004
11626       25,June,2004
Name: date, dtype: object
11627    08,January,2004
11627       25,June,2004
Name: date, dtype: object
11628    07,January,2004
11628       25,June,2004
Name: date, dtype: object
11629    07,January,2004
11629       24,June,2004
Name: date, dtype: object
11630    05,January,2004
11630       23,June,2004
Name: date, dtype: object
11631    05,January,2004
11631       23,June,2004
Name: date, dtype: object
11632    04,January,2004
11632       22,June,2004
Name: date, dtype: object
11633    02,January,2004
11633       21,June,2004
Name: date, dtype: object
11634    01,January,2004
11634       20,June,2004
Name: date, dtype: object
11635    29,February,2004
11635        14,June,2004
Name: date, dtype: object
11636    26,February,2004
11636        12,June,2004
Name: date, dtype: object
11637    25,February,2004
11637        12,June,2004
Name: date, dtype: object
11638    23,February,2004
11638        29,July,2004
Name: date, dtype: object
11639    20,February,2004
11639        23,July,2004
Name: date, dtype: object

11640    18,February,2004
11640        22,July,2004
Name: date, dtype: object
11641    16,February,2004
11641        18,July,2004
Name: date, dtype: object
11642    15,February,2004
11642        18,July,2004
Name: date, dtype: object
11643    14,February,2004
11643        17,July,2004
Name: date, dtype: object
11644    12,February,2004
11644        16,July,2004
Name: date, dtype: object
11645    11,February,2004
11645        11,July,2004
Name: date, dtype: object
11646    09,February,2004
11646        11,July,2004
Name: date, dtype: object
11647    08,February,2004
11647        09,July,2004
Name: date, dtype: object
11648    07,February,2004
11648        07,July,2004
Name: date, dtype: object
11649    07,February,2004
11649        07,July,2004
Name: date, dtype: object
11650    05,February,2004
11650        07,July,2004
Name: date, dtype: object
11651    02,February,2004
11651        07,July,2004
Name: date, dtype: object
11652    02,February,2004
11652        07,July,2004
Name: date, dtype: object
11653    01,February,2004
11653        07,July,2004
Name: date, dtype: object
11654    31,March,2004
11654     07,July,2004
Name: date, dtype: object
11655    30,March,2004
11655     07,July,2004
Name: date, dtype: object
11656    29,March,2004
11656     07,July,2004
Name: date, dtype: object
11657    26,March,2004
11657     07,July,2004
Name: date, dtype: object
11658    25,March,2004
11658     07,July,2004
Name: date, dtype: object
11659    24,March,2004
11659     07,July,2004
Name: date, dtype: object
11660    24,March,2004
11660     05,July,2004
Name: date, dtype: object
11661    22,March,2004
11661     05,July,2004
Name: date, dtype: object
11662    18,March,2004
11662     03,July,2004
Name: date, dtype: object
11663    18,March,2004
11663     02,July,2004
Name: date, dtype: object
11664    18,March,2004
11664     02,July,2004
Name: date, dtype: object
11665     17,March,2004
11665    13,August,2004
Name: date, dtype: object
11666     15,March,2004
11666    12,August,2004
Name: date, dtype: object
11667     14,March,2004
11667    09,August,2004
Name: date, dtype: object
11668     12,March,2004
11668    01,August,2004
Name: date, dtype: object
11669    11,March,2004
11669     26,July,2004
Name: date, dtype: object
11670    10,March,2004
11670     24,July,2004
Name: date, dtype: object
11671    08,March,2004
11671     22,July,2004
Name: date, dtype: object
11672     08,March,2004
11672    24,August,2004
Name: date, dtype: object
11673     07,March,2004
11673    23,August,2004
Name: date, dtype: object
11674     05,March,2004
11674    23,August,2004
Name: date, dtype: object
11675      03,March,2004
11675    31,October,2003
Name: date, dtype: object
11676      29,April,2004
11676    29,October,2003
Name: date, dtype: object
11677      28,April,2004
11677    28,October,2003
Name: date, dtype: object
11678      26,April,2004
11678    28,October,2003
Name: date, dtype: object
11679      24,April,2004
11679    28,October,2003
Name: date, dtype: object
11680      22,April,2004
11680    28,October,2003
Name: date, dtype: object
11681      20,April,2004
11681    27,October,2003
Name: date, dtype: object
11682      19,April,2004
11682    27,October,2003
Name: date, dtype: object
11683      15,April,2004
11683    27,October,2003
Name: date, dtype: object
11684      15,April,2004
11684    27,October,2003
Name: date, dtype: object
11685      12,April,2004
11685    27,October,2003
Name: date, dtype: object
11686      11,April,2004
11686    27,October,2003
Name: date, dtype: object
11687      10,April,2004
11687    27,October,2003
Name: date, dtype: object
11688      09,April,2004
11688    26,October,2003
Name: date, dtype: object
11689      08,April,2004
11689    26,October,2003
Name: date, dtype: object
11690      07,April,2004
11690    26,October,2003
Name: date, dtype: object
11691      05,April,2004
11691    26,October,2003
Name: date, dtype: object
11692      04,April,2004
11692    25,October,2003
Name: date, dtype: object
11693      02,April,2004
11693    25,October,2003
Name: date, dtype: object
11694        31,May,2004
11694    25,October,2003
Name: date, dtype: object
11695        30,May,2004
11695    25,October,2003
Name: date, dtype: object
11696        26,May,2004
11696    24,October,2003
Name: date, dtype: object
11697        24,May,2004
11697    24,October,2003
Name: date, dtype: object
11698        22,May,2004
11698    24,October,2003
Name: date, dtype: object
11699        20,May,2004
11699    23,October,2003
Name: date, dtype: object
11700        18,May,2004
11700    23,October,2003
Name: date, dtype: object
11701        16,May,2004
11701    23,October,2003
Name: date, dtype: object
11702        16,May,2004
11702    23,October,2003
Name: date, dtype: object
11703        15,May,2004
11703    23,October,2003
Name: date, dtype: object
11704        13,May,2004
11704    23,October,2003
Name: date, dtype: object
11705        11,May,2004
11705    22,October,2003
Name: date, dtype: object
11706        10,May,2004
11706    22,October,2003
Name: date, dtype: object
11707        09,May,2004
11707    22,October,2003
Name: date, dtype: object
11708        08,May,2004
11708    22,October,2003
Name: date, dtype: object
11709        06,May,2004
11709    22,October,2003
Name: date, dtype: object
11710        05,May,2004
11710    22,October,2003
Name: date, dtype: object
11711        05,May,2004
11711    21,October,2003
Name: date, dtype: object
11712        04,May,2004
11712    21,October,2003
Name: date, dtype: object
11713        01,May,2004
11713    21,October,2003
Name: date, dtype: object
11714       30,June,2004
11714    21,October,2003
Name: date, dtype: object
11715       27,June,2004
11715    21,October,2003
Name: date, dtype: object
11716       25,June,2004
11716    21,October,2003
Name: date, dtype: object
11717       25,June,2004
11717    21,October,2003
Name: date, dtype: object
11718       22,June,2004
11718    21,October,2003
Name: date, dtype: object
11719       20,June,2004
11719    21,October,2003
Name: date, dtype: object
11720       19,June,2004
11720    20,October,2003
Name: date, dtype: object
11721       17,June,2004
11721    20,October,2003
Name: date, dtype: object
11722       16,June,2004
11722    20,October,2003
Name: date, dtype: object
11723       13,June,2004
11723    20,October,2003
Name: date, dtype: object
11724       12,June,2004
11724    20,October,2003
Name: date, dtype: object
11725       10,June,2004
11725    20,October,2003
Name: date, dtype: object
11726       09,June,2004
11726    20,October,2003
Name: date, dtype: object
11727       07,June,2004
11727    19,October,2003
Name: date, dtype: object
11728       05,June,2004
11728    19,October,2003
Name: date, dtype: object
11729       05,June,2004
11729    19,October,2003
Name: date, dtype: object
11730       03,June,2004
11730    18,October,2003
Name: date, dtype: object
11731       03,June,2004
11731    18,October,2003
Name: date, dtype: object
11732       01,June,2004
11732    18,October,2003
Name: date, dtype: object
11733       30,July,2004
11733    18,October,2003
Name: date, dtype: object
11734       29,July,2004
11734    18,October,2003
Name: date, dtype: object
11735       29,July,2004
11735    18,October,2003
Name: date, dtype: object
11736       26,July,2004
11736    18,October,2003
Name: date, dtype: object
11737       25,July,2004
11737    18,October,2003
Name: date, dtype: object
11738       24,July,2004
11738    18,October,2003
Name: date, dtype: object
11739       22,July,2004
11739    18,October,2003
Name: date, dtype: object
11740       20,July,2004
11740    17,October,2003
Name: date, dtype: object
11741       17,July,2004
11741    17,October,2003
Name: date, dtype: object
11742       12,July,2004
11742    17,October,2003
Name: date, dtype: object
11743       11,July,2004
11743    17,October,2003
Name: date, dtype: object
11744       06,July,2004
11744    17,October,2003
Name: date, dtype: object
11745       04,July,2004
11745    16,October,2003
Name: date, dtype: object
11746       02,July,2004
11746    16,October,2003
Name: date, dtype: object
11747     04,August,2004
11747    16,October,2003
Name: date, dtype: object
11748     03,August,2004
11748    15,October,2003
Name: date, dtype: object
11749     03,August,2004
11749    15,October,2003
Name: date, dtype: object
11750     01,August,2004
11750    15,October,2003
Name: date, dtype: object
11751       27,July,2004
11751    15,October,2003
Name: date, dtype: object
11752       27,July,2004
11752    14,October,2003
Name: date, dtype: object
11753       27,July,2004
11753    13,October,2003
Name: date, dtype: object
11754       27,July,2004
11754    13,October,2003
Name: date, dtype: object
11755       27,July,2004
11755    13,October,2003
Name: date, dtype: object
11756       27,July,2004
11756    12,October,2003
Name: date, dtype: object
11757       27,July,2004
11757    12,October,2003
Name: date, dtype: object
11758       27,July,2004
11758    12,October,2003
Name: date, dtype: object
11759       27,July,2004
11759    09,October,2003
Name: date, dtype: object
11760       27,July,2004
11760    09,October,2003
Name: date, dtype: object
11761       27,July,2004
11761    09,October,2003
Name: date, dtype: object
11762       27,July,2004
11762    08,October,2003
Name: date, dtype: object
11763       27,July,2004
11763    08,October,2003
Name: date, dtype: object
11764       27,July,2004
11764    06,October,2003
Name: date, dtype: object
11765       27,July,2004
11765    05,October,2003
Name: date, dtype: object
11766       27,July,2004
11766    05,October,2003
Name: date, dtype: object
11767       27,July,2004
11767    04,October,2003
Name: date, dtype: object
11768       27,July,2004
11768    04,October,2003
Name: date, dtype: object
11769       27,July,2004
11769    04,October,2003
Name: date, dtype: object
11770       27,July,2004
11770    04,October,2003
Name: date, dtype: object
11771        27,July,2004
11771    29,November,2003
Name: date, dtype: object
11772        27,July,2004
11772    28,November,2003
Name: date, dtype: object
11773        27,July,2004
11773    28,November,2003
Name: date, dtype: object
11774        27,July,2004
11774    28,November,2003
Name: date, dtype: object
11775        27,July,2004
11775    28,November,2003
Name: date, dtype: object
11776        16,July,2004
11776    28,November,2003
Name: date, dtype: object
11777        13,July,2004
11777    28,November,2003
Name: date, dtype: object
11778        13,July,2004
11778    28,November,2003
Name: date, dtype: object
11779      16,August,2004
11779    28,November,2003
Name: date, dtype: object
11780      15,August,2004
11780    27,November,2003
Name: date, dtype: object
11781      14,August,2004
11781    27,November,2003
Name: date, dtype: object
11782      13,August,2004
11782    27,November,2003
Name: date, dtype: object
11783      12,August,2004
11783    27,November,2003
Name: date, dtype: object
11784      01,August,2004
11784    27,November,2003
Name: date, dtype: object

11785         26,May,2004
11785    27,November,2003
Name: date, dtype: object
11786         25,May,2004
11786    27,November,2003
Name: date, dtype: object
11787        06,July,2004
11787    27,November,2003
Name: date, dtype: object
11788        02,July,2004
11788    26,November,2003
Name: date, dtype: object
11789        29,July,2004
11789    26,November,2003
Name: date, dtype: object
11790        22,July,2004
11790    26,November,2003
Name: date, dtype: object
11791        21,July,2004
11791    26,November,2003
Name: date, dtype: object
11792        17,July,2004
11792    25,November,2003
Name: date, dtype: object
11793        16,July,2004
11793    25,November,2003
Name: date, dtype: object
11794        16,July,2004
11794    25,November,2003
Name: date, dtype: object
11795        15,July,2004
11795    25,November,2003
Name: date, dtype: object
11796        14,July,2004
11796    25,November,2003
Name: date, dtype: object
11797        14,July,2004
11797    25,November,2003
Name: date, dtype: object
11798        14,July,2004
11798    25,November,2003
Name: date, dtype: object
11799        14,July,2004
11799    25,November,2003
Name: date, dtype: object
11800        14,July,2004
11800    25,November,2003
Name: date, dtype: object
11801        14,July,2004
11801    24,November,2003
Name: date, dtype: object
11802        21,July,2004
11802    24,November,2003
Name: date, dtype: object
11803        19,July,2004
11803    24,November,2003
Name: date, dtype: object
11804        19,July,2004
11804    23,November,2003
Name: date, dtype: object
11805        17,July,2004
11805    22,November,2003
Name: date, dtype: object
11806        16,July,2004
11806    22,November,2003
Name: date, dtype: object
11807        16,July,2004
11807    22,November,2003
Name: date, dtype: object
11808        16,July,2004
11808    22,November,2003
Name: date, dtype: object
11809        16,July,2004
11809    22,November,2003
Name: date, dtype: object
11810        16,July,2004
11810    22,November,2003
Name: date, dtype: object
11811        16,July,2004
11811    22,November,2003
Name: date, dtype: object
11812        16,July,2004
11812    22,November,2003
Name: date, dtype: object
11813        15,July,2004
11813    21,November,2003
Name: date, dtype: object
11814        15,July,2004
11814    21,November,2003
Name: date, dtype: object
11815        15,July,2004
11815    21,November,2003
Name: date, dtype: object
11816        15,July,2004
11816    19,November,2003
Name: date, dtype: object
11817        15,July,2004
11817    19,November,2003
Name: date, dtype: object
11818        10,July,2004
11818    18,November,2003
Name: date, dtype: object
11819        10,July,2004
11819    18,November,2003
Name: date, dtype: object
11820        08,July,2004
11820    18,November,2003
Name: date, dtype: object
11821        07,July,2004
11821    18,November,2003
Name: date, dtype: object
11822        07,July,2004
11822    16,November,2003
Name: date, dtype: object
11823        07,July,2004
11823    16,November,2003
Name: date, dtype: object
11824        07,July,2004
11824    16,November,2003
Name: date, dtype: object
11825        07,July,2004
11825    15,November,2003
Name: date, dtype: object
11826        07,July,2004
11826    15,November,2003
Name: date, dtype: object
11827        07,July,2004
11827    15,November,2003
Name: date, dtype: object
11828        07,July,2004
11828    15,November,2003
Name: date, dtype: object
11829        07,July,2004
11829    15,November,2003
Name: date, dtype: object
11830        07,July,2004
11830    14,November,2003
Name: date, dtype: object
11831        05,July,2004
11831    14,November,2003
Name: date, dtype: object
11832        05,July,2004
11832    13,November,2003
Name: date, dtype: object
11833        05,July,2004
11833    13,November,2003
Name: date, dtype: object
11834        04,July,2004
11834    12,November,2003
Name: date, dtype: object
11835        03,July,2004
11835    12,November,2003
Name: date, dtype: object
11836        03,July,2004
11836    12,November,2003
Name: date, dtype: object
11837        03,July,2004
11837    11,November,2003
Name: date, dtype: object
11838        02,July,2004
11838    11,November,2003
Name: date, dtype: object
11839        02,July,2004
11839    11,November,2003
Name: date, dtype: object
11840         31,May,2004
11840    11,November,2003
Name: date, dtype: object
11841         30,May,2004
11841    11,November,2003
Name: date, dtype: object
11842         27,May,2004
11842    11,November,2003
Name: date, dtype: object
11843         25,May,2004
11843    11,November,2003
Name: date, dtype: object
11844         24,May,2004
11844    10,November,2003
Name: date, dtype: object
11845         24,May,2004
11845    10,November,2003
Name: date, dtype: object
11846         23,May,2004
11846    10,November,2003
Name: date, dtype: object
11847         23,May,2004
11847    10,November,2003
Name: date, dtype: object
11848         22,May,2004
11848    10,November,2003
Name: date, dtype: object
11849         22,May,2004
11849    10,November,2003
Name: date, dtype: object
11850         21,May,2004
11850    10,November,2003
Name: date, dtype: object
11851         21,May,2004
11851    09,November,2003
Name: date, dtype: object
11852         21,May,2004
11852    09,November,2003
Name: date, dtype: object
11853        30,June,2004
11853    08,November,2003
Name: date, dtype: object
11854        29,June,2004
11854    08,November,2003
Name: date, dtype: object
11855        29,June,2004
11855    08,November,2003
Name: date, dtype: object
11856        25,June,2004
11856    07,November,2003
Name: date, dtype: object
11857        22,June,2004
11857    07,November,2003
Name: date, dtype: object
11858        20,June,2004
11858    07,November,2003
Name: date, dtype: object
11859        20,June,2004
11859    06,November,2003
Name: date, dtype: object
11860        15,June,2004
11860    06,November,2003
Name: date, dtype: object
11861        13,June,2004
11861    06,November,2003
Name: date, dtype: object
11862        11,June,2004
11862    06,November,2003
Name: date, dtype: object
11863        08,June,2004
11863    04,November,2003
Name: date, dtype: object
11864        08,June,2004
11864    04,November,2003
Name: date, dtype: object
11865        03,June,2004
11865    03,November,2003
Name: date, dtype: object
11866        18,July,2004
11866    02,November,2003
Name: date, dtype: object
11867        17,July,2004
11867    02,November,2003
Name: date, dtype: object
11868        16,July,2004
11868    02,November,2003
Name: date, dtype: object
11869        15,July,2004
11869    01,November,2003
Name: date, dtype: object
11870        14,July,2004
11870    01,November,2003
Name: date, dtype: object
11871        13,July,2004
11871    29,December,2003
Name: date, dtype: object
11872        09,July,2004
11872    28,December,2003
Name: date, dtype: object
11873        07,July,2004
11873    25,December,2003
Name: date, dtype: object
11874        06,July,2004
11874    24,December,2003
Name: date, dtype: object
11875        06,July,2004
11875    23,December,2003
Name: date, dtype: object
11876        05,July,2004
11876    23,December,2003
Name: date, dtype: object
11877        03,July,2004
11877    23,December,2003
Name: date, dtype: object
11878        02,July,2004
11878    23,December,2003
Name: date, dtype: object
11879        02,July,2004
11879    23,December,2003
Name: date, dtype: object
11880        01,July,2004
11880    22,December,2003
Name: date, dtype: object
11881      08,August,2004
11881    22,December,2003
Name: date, dtype: object
11882      07,August,2004
11882    22,December,2003
Name: date, dtype: object
11883      06,August,2004
11883    21,December,2003
Name: date, dtype: object
11884      05,August,2004
11884    20,December,2003
Name: date, dtype: object
11885         24,May,2004
11885    20,December,2003
Name: date, dtype: object
11886         23,May,2004
11886    19,December,2003
Name: date, dtype: object
11887         23,May,2004
11887    18,December,2003
Name: date, dtype: object
11888         23,May,2004
11888    18,December,2003
Name: date, dtype: object
11889         23,May,2004
11889    17,December,2003
Name: date, dtype: object
11890         23,May,2004
11890    16,December,2003
Name: date, dtype: object

11891         23,May,2004
11891    15,December,2003
Name: date, dtype: object
11892         23,May,2004
11892    14,December,2003
Name: date, dtype: object
11893         23,May,2004
11893    14,December,2003
Name: date, dtype: object
11894         23,May,2004
11894    13,December,2003
Name: date, dtype: object
11895         22,May,2004
11895    13,December,2003
Name: date, dtype: object
11896         22,May,2004
11896    11,December,2003
Name: date, dtype: object
11897         22,May,2004
11897    11,December,2003
Name: date, dtype: object
11898         22,May,2004
11898    10,December,2003
Name: date, dtype: object
11899         22,May,2004
11899    09,December,2003
Name: date, dtype: object
11900         21,May,2004
11900    09,December,2003
Name: date, dtype: object
11901         21,May,2004
11901    09,December,2003
Name: date, dtype: object
11902         21,May,2004
11902    08,December,2003
Name: date, dtype: object
11903         21,May,2004
11903    08,December,2003
Name: date, dtype: object
11904         21,May,2004
11904    08,December,2003
Name: date, dtype: object
11905         21,May,2004
11905    08,December,2003
Name: date, dtype: object
11906        15,June,2004
11906    07,December,2003
Name: date, dtype: object
11907        10,June,2004
11907    07,December,2003
Name: date, dtype: object
11908        02,June,2004
11908    07,December,2003
Name: date, dtype: object
11909        02,June,2004
11909    06,December,2003
Name: date, dtype: object
11910        01,June,2004
11910    05,December,2003
Name: date, dtype: object
11911        01,June,2004
11911    05,December,2003
Name: date, dtype: object
11912        19,July,2004
11912    05,December,2003
Name: date, dtype: object
11913        18,July,2004
11913    04,December,2003
Name: date, dtype: object
11914        14,July,2004
11914    04,December,2003
Name: date, dtype: object
11915        14,July,2004
11915    04,December,2003
Name: date, dtype: object
11916        13,July,2004
11916    04,December,2003
Name: date, dtype: object
11917        06,July,2004
11917    04,December,2003
Name: date, dtype: object
11918        04,July,2004
11918    04,December,2003
Name: date, dtype: object
11919      08,August,2004
11919    03,December,2003
Name: date, dtype: object
11920      07,August,2004
11920    03,December,2003
Name: date, dtype: object
11921      06,August,2004
11921    03,December,2003
Name: date, dtype: object
11922      06,August,2004
11922    03,December,2003
Name: date, dtype: object
11923      06,August,2004
11923    02,December,2003
Name: date, dtype: object
11924      06,August,2004
11924    02,December,2003
Name: date, dtype: object
11925      06,August,2004
11925    02,December,2003
Name: date, dtype: object
11926      06,August,2004
11926    01,December,2003
Name: date, dtype: object
11927      02,August,2004
11927    01,December,2003
Name: date, dtype: object
11928      02,August,2004
11928    01,December,2003
Name: date, dtype: object
11929        24,June,2004
11929    01,December,2003
Name: date, dtype: object
11930       24,June,2004
11930    30,January,2004
Name: date, dtype: object
11931       24,June,2004
11931    29,January,2004
Name: date, dtype: object
11932       24,June,2004
11932    29,January,2004
Name: date, dtype: object
11933       24,June,2004
11933    29,January,2004
Name: date, dtype: object
11934       24,June,2004
11934    27,January,2004
Name: date, dtype: object
11935       24,June,2004
11935    26,January,2004
Name: date, dtype: object
11936    27,December,2002
11936     25,January,2004
Name: date, dtype: object
11937    22,December,2002
11937     24,January,2004
Name: date, dtype: object
11938    22,December,2002
11938     24,January,2004
Name: date, dtype: object
11939    22,December,2002
11939     24,January,2004
Name: date, dtype: object
11940    22,December,2002
11940     24,January,2004
Name: date, dtype: object
11941    29,December,2002
11941     24,January,2004
Name: date, dtype: object
11942    08,January,2003
11942    23,January,2004
Name: date, dtype: object
11943    19,January,2003
11943    22,January,2004
Name: date, dtype: object
11944    27,January,2003
11944    19,January,2004
Name: date, dtype: object
11945    27,January,2003
11945    19,January,2004
Name: date, dtype: object
11946    04,February,2003
11946     18,January,2004
Name: date, dtype: object
11947    04,February,2003
11947     18,January,2004
Name: date, dtype: object
11948    04,February,2003
11948     15,January,2004
Name: date, dtype: object
11949    11,February,2003
11949     13,January,2004
Name: date, dtype: object
11950    10,February,2003
11950     11,January,2004
Name: date, dtype: object
11951    10,February,2003
11951     11,January,2004
Name: date, dtype: object
11952      16,April,2003
11952    10,January,2004
Name: date, dtype: object
11953      16,April,2003
11953    09,January,2004
Name: date, dtype: object
11954    24,December,2003
11954     08,January,2004
Name: date, dtype: object
11955    26,January,2004
11955    08,January,2004
Name: date, dtype: object
11956    26,January,2004
11956    08,January,2004
Name: date, dtype: object
11957       02,July,2004
11957    08,January,2004
Name: date, dtype: object
11958       21,July,2004
11958    07,January,2004
Name: date, dtype: object
11959       20,July,2004
11959    07,January,2004
Name: date, dtype: object
11960       20,July,2004
11960    06,January,2004
Name: date, dtype: object
11961       20,July,2004
11961    05,January,2004
Name: date, dtype: object
11962       20,July,2004
11962    04,January,2004
Name: date, dtype: object
11963       20,July,2004
11963    03,January,2004
Name: date, dtype: object
11964       20,July,2004
11964    03,January,2004
Name: date, dtype: object
11965       20,July,2004
11965    03,January,2004
Name: date, dtype: object
11966       20,July,2004
11966    03,January,2004
Name: date, dtype: object
11967       20,July,2004
11967    03,January,2004
Name: date, dtype: object
11968       20,July,2004
11968    03,January,2004
Name: date, dtype: object
11969        20,July,2004
11969    29,February,2004
Name: date, dtype: object
11970        20,July,2004
11970    28,February,2004
Name: date, dtype: object
11971        20,July,2004
11971    28,February,2004
Name: date, dtype: object
11972        20,July,2004
11972    28,February,2004
Name: date, dtype: object
11973        20,July,2004
11973    27,February,2004
Name: date, dtype: object
11974        20,July,2004
11974    27,February,2004
Name: date, dtype: object
11975        20,July,2004
11975    26,February,2004
Name: date, dtype: object
11976        20,July,2004
11976    24,February,2004
Name: date, dtype: object
11977        20,July,2004
11977    24,February,2004
Name: date, dtype: object
11978        20,July,2004
11978    23,February,2004
Name: date, dtype: object
11979        20,July,2004
11979    23,February,2004
Name: date, dtype: object
11980        30,July,2004
11980    23,February,2004
Name: date, dtype: object
11981        29,July,2004
11981    23,February,2004
Name: date, dtype: object
11982        28,July,2004
11982    23,February,2004
Name: date, dtype: object
11983        27,July,2004
11983    23,February,2004
Name: date, dtype: object
11984        27,July,2004
11984    22,February,2004
Name: date, dtype: object
11985        26,July,2004
11985    22,February,2004
Name: date, dtype: object
11986      01,August,2004
11986    22,February,2004
Name: date, dtype: object
11987      01,August,2004
11987    22,February,2004
Name: date, dtype: object
11988        19,June,2004
11988    20,February,2004
Name: date, dtype: object
11989        18,June,2004
11989    20,February,2004
Name: date, dtype: object
11990        18,June,2004
11990    19,February,2004
Name: date, dtype: object
11991        18,June,2004
11991    19,February,2004
Name: date, dtype: object
11992        18,June,2004
11992    17,February,2004
Name: date, dtype: object
11993        02,July,2004
11993    16,February,2004
Name: date, dtype: object
11994      17,August,2004
11994    15,February,2004
Name: date, dtype: object
11995      13,August,2004
11995    15,February,2004
Name: date, dtype: object
11996      11,August,2004
11996    14,February,2004
Name: date, dtype: object
11997      10,August,2004
11997    14,February,2004
Name: date, dtype: object
11998      10,August,2004
11998    14,February,2004
Name: date, dtype: object
11999        23,June,2004
11999    13,February,2004
Name: date, dtype: object
12000        22,June,2004
12000    12,February,2004
Name: date, dtype: object
12001        13,June,2004
12001    11,February,2004
Name: date, dtype: object
12002        11,June,2004
12002    10,February,2004
Name: date, dtype: object
12003        11,June,2004
12003    08,February,2004
Name: date, dtype: object
12004        11,June,2004
12004    08,February,2004
Name: date, dtype: object
12005        10,June,2004
12005    08,February,2004
Name: date, dtype: object
12006        10,June,2004
12006    05,February,2004
Name: date, dtype: object
12007        10,June,2004
12007    04,February,2004
Name: date, dtype: object
12008        10,June,2004
12008    04,February,2004
Name: date, dtype: object
12009        10,June,2004
12009    04,February,2004
Name: date, dtype: object
12010        09,June,2004
12010    04,February,2004
Name: date, dtype: object

12011        09,June,2004
12011    04,February,2004
Name: date, dtype: object
12012        09,June,2004
12012    04,February,2004
Name: date, dtype: object
12013        08,June,2004
12013    03,February,2004
Name: date, dtype: object
12014        04,June,2004
12014    03,February,2004
Name: date, dtype: object
12015        04,June,2004
12015    01,February,2004
Name: date, dtype: object
12016        05,June,2004
12016    01,February,2004
Name: date, dtype: object
12017        05,June,2004
12017    01,February,2004
Name: date, dtype: object
12018        30,July,2004
12018    01,February,2004
Name: date, dtype: object
12019        29,July,2004
12019    01,February,2004
Name: date, dtype: object
12020     27,July,2004
12020    31,March,2004
Name: date, dtype: object
12021     27,July,2004
12021    27,March,2004
Name: date, dtype: object
12022    12,August,2004
12022     27,March,2004
Name: date, dtype: object
12023    10,August,2004
12023     26,March,2004
Name: date, dtype: object
12024    10,August,2004
12024     26,March,2004
Name: date, dtype: object
12025    07,August,2004
12025     25,March,2004
Name: date, dtype: object
12026    07,August,2004
12026     22,March,2004
Name: date, dtype: object
12027    01,August,2004
12027     22,March,2004
Name: date, dtype: object
12028    01,August,2004
12028     22,March,2004
Name: date, dtype: object
12029     14,July,2004
12029    21,March,2004
Name: date, dtype: object
12030     13,July,2004
12030    20,March,2004
Name: date, dtype: object
12031    04,August,2004
12031     20,March,2004
Name: date, dtype: object
12032    03,August,2004
12032     19,March,2004
Name: date, dtype: object
12033    16,December,2001
12033       18,March,2004
Name: date, dtype: object
12034    10,December,2001
12034       17,March,2004
Name: date, dtype: object
12035    10,December,2001
12035       17,March,2004
Name: date, dtype: object
12036      26,May,2003
12036    17,March,2004
Name: date, dtype: object
12037     12,July,2003
12037    14,March,2004
Name: date, dtype: object
12038     28,July,2004
12038    14,March,2004
Name: date, dtype: object
12039     23,July,2004
12039    14,March,2004
Name: date, dtype: object
12040     16,July,2004
12040    14,March,2004
Name: date, dtype: object
12041     13,July,2004
12041    13,March,2004
Name: date, dtype: object
12042     05,July,2004
12042    13,March,2004
Name: date, dtype: object
12043     05,July,2004
12043    13,March,2004
Name: date, dtype: object
12044    05,August,2004
12044     13,March,2004
Name: date, dtype: object
12045    02,August,2004
12045     13,March,2004
Name: date, dtype: object
12046    30,March,2004
12046    13,March,2004
Name: date, dtype: object
12047    25,March,2004
12047    13,March,2004
Name: date, dtype: object
12048    16,March,2004
12048    13,March,2004
Name: date, dtype: object
12049    15,March,2004
12049    12,March,2004
Name: date, dtype: object
12050    14,March,2004
12050    11,March,2004
Name: date, dtype: object
12051    12,March,2004
12051    11,March,2004
Name: date, dtype: object
12052    11,March,2004
12052    10,March,2004
Name: date, dtype: object
12053    10,March,2004
12053    09,March,2004
Name: date, dtype: object
12054    08,March,2004
12054    09,March,2004
Name: date, dtype: object
12055    13,April,2004
12055    08,March,2004
Name: date, dtype: object
12056    06,April,2004
12056    08,March,2004
Name: date, dtype: object
12057    04,April,2004
12057    08,March,2004
Name: date, dtype: object
12058    02,April,2004
12058    07,March,2004
Name: date, dtype: object
12059     27,June,2004
12059    07,March,2004
Name: date, dtype: object
12060     26,June,2004
12060    06,March,2004
Name: date, dtype: object
12061     23,June,2004
12061    06,March,2004
Name: date, dtype: object
12062     22,June,2004
12062    06,March,2004
Name: date, dtype: object
12063     22,June,2004
12063    06,March,2004
Name: date, dtype: object
12064     13,June,2004
12064    06,March,2004
Name: date, dtype: object
12065     11,June,2004
12065    05,March,2004
Name: date, dtype: object
12066     10,June,2004
12066    03,March,2004
Name: date, dtype: object
12067     06,June,2004
12067    03,March,2004
Name: date, dtype: object
12068     03,June,2004
12068    02,March,2004
Name: date, dtype: object
12069     03,June,2004
12069    02,March,2004
Name: date, dtype: object
12070      31,May,2004
12070    02,March,2004
Name: date, dtype: object
12071      30,May,2004
12071    01,March,2004
Name: date, dtype: object
12072      30,May,2004
12072    01,March,2004
Name: date, dtype: object
12073      30,May,2004
12073    01,March,2004
Name: date, dtype: object
12074      30,May,2004
12074    01,March,2004
Name: date, dtype: object
12075     28,June,2004
12075    30,April,2004
Name: date, dtype: object
12076     26,June,2004
12076    29,April,2004
Name: date, dtype: object
12077     21,June,2004
12077    29,April,2004
Name: date, dtype: object
12078     19,June,2004
12078    29,April,2004
Name: date, dtype: object
12079     16,June,2004
12079    28,April,2004
Name: date, dtype: object
12080     15,June,2004
12080    28,April,2004
Name: date, dtype: object
12081     14,June,2004
12081    28,April,2004
Name: date, dtype: object
12082     13,June,2004
12082    28,April,2004
Name: date, dtype: object
12083     13,June,2004
12083    27,April,2004
Name: date, dtype: object
12084     13,June,2004
12084    27,April,2004
Name: date, dtype: object
12085     12,June,2004
12085    27,April,2004
Name: date, dtype: object
12086     11,June,2004
12086    27,April,2004
Name: date, dtype: object
12087     11,June,2004
12087    27,April,2004
Name: date, dtype: object
12088     11,June,2004
12088    27,April,2004
Name: date, dtype: object
12089     11,June,2004
12089    26,April,2004
Name: date, dtype: object
12090     05,June,2004
12090    26,April,2004
Name: date, dtype: object
12091     05,June,2004
12091    26,April,2004
Name: date, dtype: object
12092     03,June,2004
12092    26,April,2004
Name: date, dtype: object
12093     02,June,2004
12093    25,April,2004
Name: date, dtype: object
12094     01,June,2004
12094    25,April,2004
Name: date, dtype: object
12095     01,June,2004
12095    23,April,2004
Name: date, dtype: object
12096     01,June,2004
12096    21,April,2004
Name: date, dtype: object
12097     01,June,2004
12097    21,April,2004
Name: date, dtype: object
12098     01,June,2004
12098    20,April,2004
Name: date, dtype: object
12099     01,June,2004
12099    20,April,2004
Name: date, dtype: object
12100     01,June,2004
12100    20,April,2004
Name: date, dtype: object
12101     01,June,2004
12101    19,April,2004
Name: date, dtype: object
12102     26,July,2004
12102    19,April,2004
Name: date, dtype: object
12103     22,July,2004
12103    19,April,2004
Name: date, dtype: object
12104     22,July,2004
12104    19,April,2004
Name: date, dtype: object
12105    09,August,2004
12105     19,April,2004
Name: date, dtype: object
12106    03,August,2004
12106     18,April,2004
Name: date, dtype: object
12107    03,August,2004
12107     18,April,2004
Name: date, dtype: object
12108     30,June,2004
12108    18,April,2004
Name: date, dtype: object
12109     25,June,2004
12109    17,April,2004
Name: date, dtype: object
12110     24,June,2004
12110    17,April,2004
Name: date, dtype: object
12111     23,June,2004
12111    16,April,2004
Name: date, dtype: object
12112     23,June,2004
12112    15,April,2004
Name: date, dtype: object
12113     14,July,2004
12113    15,April,2004
Name: date, dtype: object
12114     12,July,2004
12114    15,April,2004
Name: date, dtype: object
12115     12,July,2004
12115    14,April,2004
Name: date, dtype: object
12116     06,July,2004
12116    14,April,2004
Name: date, dtype: object
12117     25,June,2004
12117    13,April,2004
Name: date, dtype: object
12118     23,June,2004
12118    13,April,2004
Name: date, dtype: object
12119     23,June,2004
12119    13,April,2004
Name: date, dtype: object
12120     17,June,2004
12120    12,April,2004
Name: date, dtype: object
12121     08,July,2004
12121    11,April,2004
Name: date, dtype: object
12122      30,May,2004
12122    11,April,2004
Name: date, dtype: object
12123      28,May,2004
12123    11,April,2004
Name: date, dtype: object
12124      28,May,2004
12124    10,April,2004
Name: date, dtype: object
12125      27,May,2004
12125    09,April,2004
Name: date, dtype: object
12126      27,May,2004
12126    09,April,2004
Name: date, dtype: object
12127      26,May,2004
12127    09,April,2004
Name: date, dtype: object
12128      25,May,2004
12128    09,April,2004
Name: date, dtype: object
12129      24,May,2004
12129    08,April,2004
Name: date, dtype: object
12130      23,May,2004
12130    07,April,2004
Name: date, dtype: object
12131      21,May,2004
12131    05,April,2004
Name: date, dtype: object
12132      21,May,2004
12132    03,April,2004
Name: date, dtype: object
12133      20,May,2004
12133    02,April,2004
Name: date, dtype: object
12134      19,May,2004
12134    02,April,2004
Name: date, dtype: object
12135     30,June,2004
12135    02,April,2004
Name: date, dtype: object
12136     29,June,2004
12136    02,April,2004
Name: date, dtype: object
12137     28,June,2004
12137    02,April,2004
Name: date, dtype: object
12138     27,June,2004
12138    01,April,2004
Name: date, dtype: object
12139     25,June,2004
12139    01,April,2004
Name: date, dtype: object

12140    24,June,2004
12140     31,May,2004
Name: date, dtype: object
12141    23,June,2004
12141     30,May,2004
Name: date, dtype: object
12142    22,June,2004
12142     29,May,2004
Name: date, dtype: object
12143    20,June,2004
12143     29,May,2004
Name: date, dtype: object
12144    17,June,2004
12144     29,May,2004
Name: date, dtype: object
12145    17,June,2004
12145     27,May,2004
Name: date, dtype: object
12146    15,June,2004
12146     26,May,2004
Name: date, dtype: object
12147    13,June,2004
12147     26,May,2004
Name: date, dtype: object
12148    13,June,2004
12148     26,May,2004
Name: date, dtype: object
12149    13,June,2004
12149     26,May,2004
Name: date, dtype: object
12150    12,June,2004
12150     26,May,2004
Name: date, dtype: object
12151    11,June,2004
12151     25,May,2004
Name: date, dtype: object
12152    10,June,2004
12152     25,May,2004
Name: date, dtype: object
12153    09,June,2004
12153     25,May,2004
Name: date, dtype: object
12154    09,June,2004
12154     25,May,2004
Name: date, dtype: object
12155    08,June,2004
12155     24,May,2004
Name: date, dtype: object
12156    07,June,2004
12156     24,May,2004
Name: date, dtype: object
12157    06,June,2004
12157     24,May,2004
Name: date, dtype: object
12158    04,June,2004
12158     24,May,2004
Name: date, dtype: object
12159    04,June,2004
12159     24,May,2004
Name: date, dtype: object
12160    03,June,2004
12160     23,May,2004
Name: date, dtype: object
12161    02,June,2004
12161     23,May,2004
Name: date, dtype: object
12162    01,June,2004
12162     22,May,2004
Name: date, dtype: object
12163    01,June,2004
12163     21,May,2004
Name: date, dtype: object
12164    27,July,2004
12164     19,May,2004
Name: date, dtype: object
12165    26,July,2004
12165     19,May,2004
Name: date, dtype: object
12166    23,July,2004
12166     18,May,2004
Name: date, dtype: object
12167    20,July,2004
12167     17,May,2004
Name: date, dtype: object
12168    19,July,2004
12168     17,May,2004
Name: date, dtype: object
12169    15,July,2004
12169     17,May,2004
Name: date, dtype: object
12170    12,July,2004
12170     17,May,2004
Name: date, dtype: object
12171    11,July,2004
12171     17,May,2004
Name: date, dtype: object
12172    10,July,2004
12172     17,May,2004
Name: date, dtype: object
12173    09,July,2004
12173     17,May,2004
Name: date, dtype: object
12174    08,July,2004
12174     16,May,2004
Name: date, dtype: object
12175    07,July,2004
12175     15,May,2004
Name: date, dtype: object
12176    06,July,2004
12176     15,May,2004
Name: date, dtype: object
12177    05,July,2004
12177     15,May,2004
Name: date, dtype: object
12178    04,July,2004
12178     15,May,2004
Name: date, dtype: object
12179    03,July,2004
12179     15,May,2004
Name: date, dtype: object
12180    02,July,2004
12180     15,May,2004
Name: date, dtype: object
12181    01,July,2004
12181     15,May,2004
Name: date, dtype: object
12182    15,March,2004
12182      14,May,2004
Name: date, dtype: object
12183    26,June,2004
12183     14,May,2004
Name: date, dtype: object
12184    25,June,2004
12184     14,May,2004
Name: date, dtype: object
12185    22,June,2004
12185     13,May,2004
Name: date, dtype: object
12186    21,June,2004
12186     13,May,2004
Name: date, dtype: object
12187    18,June,2004
12187     12,May,2004
Name: date, dtype: object
12188    17,June,2004
12188     12,May,2004
Name: date, dtype: object
12189    17,June,2004
12189     11,May,2004
Name: date, dtype: object
12190    17,June,2004
12190     11,May,2004
Name: date, dtype: object
12191    17,June,2004
12191     11,May,2004
Name: date, dtype: object
12192    21,July,2004
12192     10,May,2004
Name: date, dtype: object
12193    15,July,2004
12193     10,May,2004
Name: date, dtype: object
12194    15,July,2004
12194     10,May,2004
Name: date, dtype: object
12195    09,July,2004
12195     10,May,2004
Name: date, dtype: object
12196    09,July,2004
12196     10,May,2004
Name: date, dtype: object
12197    07,July,2004
12197     10,May,2004
Name: date, dtype: object
12198    02,August,2004
12198       10,May,2004
Name: date, dtype: object
12199    02,August,2004
12199       09,May,2004
Name: date, dtype: object
12200    28,July,2004
12200     09,May,2004
Name: date, dtype: object
12201    24,July,2004
12201     09,May,2004
Name: date, dtype: object
12202    22,July,2004
12202     09,May,2004
Name: date, dtype: object
12203    22,July,2004
12203     09,May,2004
Name: date, dtype: object
12204    18,July,2004
12204     08,May,2004
Name: date, dtype: object
12205    18,July,2004
12205     08,May,2004
Name: date, dtype: object
12206    18,July,2004
12206     08,May,2004
Name: date, dtype: object
12207    16,July,2004
12207     08,May,2004
Name: date, dtype: object
12208    15,July,2004
12208     08,May,2004
Name: date, dtype: object
12209    13,July,2004
12209     08,May,2004
Name: date, dtype: object
12210    13,July,2004
12210     06,May,2004
Name: date, dtype: object
12211    13,July,2004
12211     06,May,2004
Name: date, dtype: object
12212    12,July,2004
12212     06,May,2004
Name: date, dtype: object
12213    12,July,2004
12213     06,May,2004
Name: date, dtype: object
12214    11,July,2004
12214     06,May,2004
Name: date, dtype: object
12215    10,July,2004
12215     06,May,2004
Name: date, dtype: object
12216    09,July,2004
12216     06,May,2004
Name: date, dtype: object
12217    09,July,2004
12217     06,May,2004
Name: date, dtype: object
12218    09,July,2004
12218     05,May,2004
Name: date, dtype: object
12219    09,July,2004
12219     05,May,2004
Name: date, dtype: object
12220    09,July,2004
12220     04,May,2004
Name: date, dtype: object
12221    09,July,2004
12221     04,May,2004
Name: date, dtype: object
12222    13,August,2004
12222       04,May,2004
Name: date, dtype: object
12223    08,August,2004
12223       04,May,2004
Name: date, dtype: object
12224    01,August,2004
12224       03,May,2004
Name: date, dtype: object
12225    01,August,2004
12225       02,May,2004
Name: date, dtype: object
12226    27,June,2004
12226     01,May,2004
Name: date, dtype: object
12227    25,June,2004
12227     01,May,2004
Name: date, dtype: object
12228    24,June,2004
12228     01,May,2004
Name: date, dtype: object
12229    24,June,2004
12229    30,June,2004
Name: date, dtype: object
12230    24,June,2004
12230    28,June,2004
Name: date, dtype: object
12231    24,June,2004
12231    27,June,2004
Name: date, dtype: object
12232    24,June,2004
12232    26,June,2004
Name: date, dtype: object
12233    24,June,2004
12233    26,June,2004
Name: date, dtype: object
12234    10,August,2004
12234      23,June,2004
Name: date, dtype: object
12235    09,August,2004
12235      22,June,2004
Name: date, dtype: object
12236    08,August,2004
12236      22,June,2004
Name: date, dtype: object
12237     26,May,2004
12237    22,June,2004
Name: date, dtype: object
12238     19,May,2004
12238    21,June,2004
Name: date, dtype: object
12239     17,May,2004
12239    19,June,2004
Name: date, dtype: object
12240     17,May,2004
12240    17,June,2004
Name: date, dtype: object
12241     16,May,2004
12241    17,June,2004
Name: date, dtype: object
12242     16,May,2004
12242    17,June,2004
Name: date, dtype: object
12243     13,May,2004
12243    16,June,2004
Name: date, dtype: object
12244     13,May,2004
12244    16,June,2004
Name: date, dtype: object
12245     12,May,2004
12245    15,June,2004
Name: date, dtype: object
12246     11,May,2004
12246    15,June,2004
Name: date, dtype: object
12247     11,May,2004
12247    14,June,2004
Name: date, dtype: object
12248     10,May,2004
12248    12,June,2004
Name: date, dtype: object
12249     22,May,2004
12249    10,June,2004
Name: date, dtype: object
12250    27,November,2003
12250        09,June,2004
Name: date, dtype: object
12251    20,November,2003
12251        09,June,2004
Name: date, dtype: object
12252    19,November,2003
12252        08,June,2004
Name: date, dtype: object
12253    19,November,2003
12253        08,June,2004
Name: date, dtype: object
12254    18,November,2003
12254        08,June,2004
Name: date, dtype: object
12255    16,November,2003
12255        05,June,2004
Name: date, dtype: object
12256    15,November,2003
12256        05,June,2004
Name: date, dtype: object
12257    15,November,2003
12257        03,June,2004
Name: date, dtype: object
12258    14,November,2003
12258        02,June,2004
Name: date, dtype: object
12259    14,November,2003
12259        02,June,2004
Name: date, dtype: object
12260    13,November,2003
12260        02,June,2004
Name: date, dtype: object
12261    13,November,2003
12261        01,June,2004
Name: date, dtype: object
12262    11,November,2003
12262        01,June,2004
Name: date, dtype: object
12263    10,November,2003
12263        01,June,2004
Name: date, dtype: object
12264    09,November,2003
12264        01,June,2004
Name: date, dtype: object
12265    06,November,2003
12265        01,June,2004
Name: date, dtype: object
12266    04,November,2003
12266        01,June,2004
Name: date, dtype: object
12267    04,November,2003
12267        01,June,2004
Name: date, dtype: object
12268    04,November,2003
12268        01,June,2004
Name: date, dtype: object
12269    30,December,2003
12269        01,June,2004
Name: date, dtype: object
12270    02,December,2003
12270        01,June,2004
Name: date, dtype: object

12271    01,December,2003
12271        01,June,2004
Name: date, dtype: object
12272    14,January,2004
12272       01,June,2004
Name: date, dtype: object
12273    11,January,2004
12273       31,July,2004
Name: date, dtype: object
12274    01,January,2004
12274       30,July,2004
Name: date, dtype: object
12275    28,March,2004
12275     27,July,2004
Name: date, dtype: object
12276    10,March,2004
12276     25,July,2004
Name: date, dtype: object
12277    10,March,2004
12277     25,July,2004
Name: date, dtype: object
12278    29,April,2004
12278     24,July,2004
Name: date, dtype: object
12279     30,May,2004
12279    21,July,2004
Name: date, dtype: object
12280     27,May,2004
12280    20,July,2004
Name: date, dtype: object
12281     24,May,2004
12281    18,July,2004
Name: date, dtype: object
12282     23,May,2004
12282    17,July,2004
Name: date, dtype: object
12283     03,May,2004
12283    16,July,2004
Name: date, dtype: object
12284    25,June,2004
12284    13,July,2004
Name: date, dtype: object
12285    13,June,2004
12285    13,July,2004
Name: date, dtype: object
12286    04,June,2004
12286    13,July,2004
Name: date, dtype: object
12287    19,July,2004
12287    12,July,2004
Name: date, dtype: object
12288    03,July,2004
12288    11,July,2004
Name: date, dtype: object
12289    23,June,2004
12289    11,July,2004
Name: date, dtype: object
12290    22,June,2004
12290    08,July,2004
Name: date, dtype: object
12291     30,May,2004
12291    07,July,2004
Name: date, dtype: object
12292     30,May,2004
12292    07,July,2004
Name: date, dtype: object
12293    29,June,2004
12293    07,July,2004
Name: date, dtype: object
12294    28,June,2004
12294    07,July,2004
Name: date, dtype: object
12295    16,June,2004
12295    04,July,2004
Name: date, dtype: object
12296    09,June,2004
12296    04,July,2004
Name: date, dtype: object
12297    05,June,2004
12297    03,July,2004
Name: date, dtype: object
12298    24,July,2004
12298    03,July,2004
Name: date, dtype: object
12299    01,July,2004
12299    01,July,2004
Name: date, dtype: object
12300    01,July,2004
12300    01,July,2004
Name: date, dtype: object
12301    01,August,2004
12301    06,August,2004
Name: date, dtype: object
12302      28,July,2004
12302    05,August,2004
Name: date, dtype: object
12303      25,July,2004
12303    05,August,2004
Name: date, dtype: object
12304      25,July,2004
12304    05,August,2004
Name: date, dtype: object
12305    09,August,2004
12305       31,May,2004
Name: date, dtype: object
12306    08,August,2004
12306       30,May,2004
Name: date, dtype: object
12307    04,August,2004
12307       29,May,2004
Name: date, dtype: object
12308    03,August,2004
12308       29,May,2004
Name: date, dtype: object
12309    26,June,2004
12309     29,May,2004
Name: date, dtype: object
12310    25,June,2004
12310     28,May,2004
Name: date, dtype: object
12311    25,June,2004
12311     28,May,2004
Name: date, dtype: object
12312    29,December,2003
12312         27,May,2004
Name: date, dtype: object
12313    10,January,2004
12313        27,May,2004
Name: date, dtype: object
12314    09,January,2004
12314        26,May,2004
Name: date, dtype: object
12315    07,January,2004
12315        26,May,2004
Name: date, dtype: object
12316    17,January,2004
12316        25,May,2004
Name: date, dtype: object
12317    16,January,2004
12317        24,May,2004
Name: date, dtype: object
12318    16,January,2004
12318        24,May,2004
Name: date, dtype: object
12319    15,January,2004
12319        24,May,2004
Name: date, dtype: object
12320    14,January,2004
12320        24,May,2004
Name: date, dtype: object
12321    14,January,2004
12321        23,May,2004
Name: date, dtype: object
12322    13,January,2004
12322        23,May,2004
Name: date, dtype: object
12323    13,January,2004
12323        23,May,2004
Name: date, dtype: object
12324    12,January,2004
12324        23,May,2004
Name: date, dtype: object
12325    24,January,2004
12325        23,May,2004
Name: date, dtype: object
12326    22,January,2004
12326        23,May,2004
Name: date, dtype: object
12327    20,January,2004
12327       30,June,2004
Name: date, dtype: object
12328    20,January,2004
12328       27,June,2004
Name: date, dtype: object
12329    20,January,2004
12329       24,June,2004
Name: date, dtype: object
12330    19,January,2004
12330       24,June,2004
Name: date, dtype: object
12331    19,January,2004
12331       23,June,2004
Name: date, dtype: object
12332    19,January,2004
12332       22,June,2004
Name: date, dtype: object
12333    31,January,2004
12333       21,June,2004
Name: date, dtype: object
12334    29,January,2004
12334       19,June,2004
Name: date, dtype: object
12335    29,January,2004
12335       18,June,2004
Name: date, dtype: object
12336    28,January,2004
12336       17,June,2004
Name: date, dtype: object
12337    27,January,2004
12337       16,June,2004
Name: date, dtype: object
12338    26,January,2004
12338       16,June,2004
Name: date, dtype: object
12339    25,January,2004
12339       15,June,2004
Name: date, dtype: object
12340    25,January,2004
12340       14,June,2004
Name: date, dtype: object
12341    07,February,2004
12341        13,June,2004
Name: date, dtype: object
12342    05,February,2004
12342        12,June,2004
Name: date, dtype: object
12343    04,February,2004
12343        12,June,2004
Name: date, dtype: object
12344    04,February,2004
12344        11,June,2004
Name: date, dtype: object
12345    14,February,2004
12345        11,June,2004
Name: date, dtype: object
12346    13,February,2004
12346        10,June,2004
Name: date, dtype: object
12347    11,February,2004
12347        10,June,2004
Name: date, dtype: object
12348    10,February,2004
12348        07,June,2004
Name: date, dtype: object
12349    09,February,2004
12349        05,June,2004
Name: date, dtype: object
12350    09,February,2004
12350        04,June,2004
Name: date, dtype: object
12351    08,February,2004
12351        03,June,2004
Name: date, dtype: object
12352    08,February,2004
12352        02,June,2004
Name: date, dtype: object
12353    21,February,2004
12353        02,June,2004
Name: date, dtype: object
12354    16,February,2004
12354        08,July,2004
Name: date, dtype: object
12355    28,February,2004
12355        04,July,2004
Name: date, dtype: object
12356    26,February,2004
12356        03,July,2004
Name: date, dtype: object
12357    23,February,2004
12357        01,July,2004
Name: date, dtype: object
12358    22,February,2004
12358        01,July,2004
Name: date, dtype: object
12359    05,March,2004
12359      31,May,2004
Name: date, dtype: object
12360    02,March,2004
12360      28,May,2004
Name: date, dtype: object
12361    12,March,2004
12361      28,May,2004
Name: date, dtype: object
12362    10,March,2004
12362      27,May,2004
Name: date, dtype: object
12363    09,March,2004
12363      26,May,2004
Name: date, dtype: object
12364    08,March,2004
12364      25,May,2004
Name: date, dtype: object
12365    17,March,2004
12365     30,June,2004
Name: date, dtype: object
12366    15,March,2004
12366     29,June,2004
Name: date, dtype: object
12367    14,March,2004
12367     28,June,2004
Name: date, dtype: object
12368    14,March,2004
12368     10,June,2004
Name: date, dtype: object
12369    23,March,2004
12369     10,June,2004
Name: date, dtype: object
12370    02,April,2004
12370     01,June,2004
Name: date, dtype: object
12371    02,April,2004
12371     31,July,2004
Name: date, dtype: object
12372    08,April,2004
12372     30,July,2004
Name: date, dtype: object
12373    06,April,2004
12373     28,July,2004
Name: date, dtype: object
12374    06,April,2004
12374     25,July,2004
Name: date, dtype: object
12375    06,April,2004
12375     14,July,2004
Name: date, dtype: object
12376     16,April,2004
12376    07,August,2004
Name: date, dtype: object
12377       13,April,2004
12377    29,November,2003
Name: date, dtype: object
12378       12,April,2004
12378    28,November,2003
Name: date, dtype: object
12379       12,April,2004
12379    27,November,2003
Name: date, dtype: object
12380       21,April,2004
12380    26,November,2003
Name: date, dtype: object
12381       21,April,2004
12381    25,November,2003
Name: date, dtype: object
12382       21,April,2004
12382    24,November,2003
Name: date, dtype: object
12383         01,May,2004
12383    23,November,2003
Name: date, dtype: object
12384       29,April,2004
12384    22,November,2003
Name: date, dtype: object
12385       28,April,2004
12385    21,November,2003
Name: date, dtype: object
12386       27,April,2004
12386    20,November,2003
Name: date, dtype: object
12387       26,April,2004
12387    19,November,2003
Name: date, dtype: object
12388       26,April,2004
12388    18,November,2003
Name: date, dtype: object
12389       25,April,2004
12389    17,November,2003
Name: date, dtype: object
12390       25,April,2004
12390    16,November,2003
Name: date, dtype: object
12391         05,May,2004
12391    15,November,2003
Name: date, dtype: object
12392         02,May,2004
12392    14,November,2003
Name: date, dtype: object
12393         14,May,2004
12393    13,November,2003
Name: date, dtype: object
12394         12,May,2004
12394    12,November,2003
Name: date, dtype: object
12395         09,May,2004
12395    11,November,2003
Name: date, dtype: object
12396         18,May,2004
12396    10,November,2003
Name: date, dtype: object
12397         16,May,2004
12397    09,November,2003
Name: date, dtype: object
12398        24,June,2004
12398    08,November,2003
Name: date, dtype: object
12399        30,June,2004
12399    07,November,2003
Name: date, dtype: object
12400        22,July,2004
12400    06,November,2003
Name: date, dtype: object
12401        27,July,2004
12401    06,November,2003
Name: date, dtype: object
12402      03,August,2004
12402    31,December,2003
Name: date, dtype: object
12403      08,August,2004
12403    30,December,2003
Name: date, dtype: object
12404      11,August,2004
12404    27,December,2003
Name: date, dtype: object
12405      06,August,2004
12405    25,December,2003
Name: date, dtype: object
12406      06,August,2004
12406    24,December,2003
Name: date, dtype: object
12407      05,August,2004
12407    23,December,2003
Name: date, dtype: object

12408        31,July,2004
12408    22,December,2003
Name: date, dtype: object
12409        29,July,2004
12409    21,December,2003
Name: date, dtype: object
12410        29,July,2004
12410    20,December,2003
Name: date, dtype: object
12411        28,July,2004
12411    19,December,2003
Name: date, dtype: object
12412        28,July,2004
12412    18,December,2003
Name: date, dtype: object
12413        26,July,2004
12413    17,December,2003
Name: date, dtype: object
12414        26,July,2004
12414    16,December,2003
Name: date, dtype: object
12415        26,July,2004
12415    15,December,2003
Name: date, dtype: object
12416        25,July,2004
12416    14,December,2003
Name: date, dtype: object
12417        24,July,2004
12417    13,December,2003
Name: date, dtype: object
12418        21,July,2004
12418    12,December,2003
Name: date, dtype: object
12419        21,July,2004
12419    11,December,2003
Name: date, dtype: object
12420        20,July,2004
12420    10,December,2003
Name: date, dtype: object
12421        20,July,2004
12421    09,December,2003
Name: date, dtype: object
12422        20,July,2004
12422    08,December,2003
Name: date, dtype: object
12423        20,July,2004
12423    06,December,2003
Name: date, dtype: object
12424        20,July,2004
12424    06,December,2003
Name: date, dtype: object
12425        20,July,2004
12425    05,December,2003
Name: date, dtype: object
12426        20,July,2004
12426    04,December,2003
Name: date, dtype: object
12427       20,July,2004
12427    31,January,2004
Name: date, dtype: object
12428       20,July,2004
12428    30,January,2004
Name: date, dtype: object
12429       20,July,2004
12429    28,January,2004
Name: date, dtype: object
12430       19,July,2004
12430    28,January,2004
Name: date, dtype: object
12431       19,July,2004
12431    27,January,2004
Name: date, dtype: object
12432       19,July,2004
12432    27,January,2004
Name: date, dtype: object
12433       19,July,2004
12433    26,January,2004
Name: date, dtype: object
12434       19,July,2004
12434    25,January,2004
Name: date, dtype: object
12435       19,July,2004
12435    24,January,2004
Name: date, dtype: object
12436       19,July,2004
12436    23,January,2004
Name: date, dtype: object
12437       19,July,2004
12437    22,January,2004
Name: date, dtype: object
12438       19,July,2004
12438    21,January,2004
Name: date, dtype: object
12439       19,July,2004
12439    20,January,2004
Name: date, dtype: object
12440       19,July,2004
12440    19,January,2004
Name: date, dtype: object
12441       19,July,2004
12441    18,January,2004
Name: date, dtype: object
12442       19,July,2004
12442    17,January,2004
Name: date, dtype: object
12443       18,July,2004
12443    16,January,2004
Name: date, dtype: object
12444       18,July,2004
12444    15,January,2004
Name: date, dtype: object
12445       17,July,2004
12445    14,January,2004
Name: date, dtype: object
12446       15,July,2004
12446    13,January,2004
Name: date, dtype: object
12447       14,July,2004
12447    12,January,2004
Name: date, dtype: object
12448       12,July,2004
12448    11,January,2004
Name: date, dtype: object
12449       11,July,2004
12449    10,January,2004
Name: date, dtype: object
12450       11,July,2004
12450    10,January,2004
Name: date, dtype: object
12451       11,July,2004
12451    09,January,2004
Name: date, dtype: object
12452       11,July,2004
12452    08,January,2004
Name: date, dtype: object
12453       11,July,2004
12453    07,January,2004
Name: date, dtype: object
12454       11,July,2004
12454    06,January,2004
Name: date, dtype: object
12455       11,July,2004
12455    05,January,2004
Name: date, dtype: object
12456       11,July,2004
12456    04,January,2004
Name: date, dtype: object
12457       11,July,2004
12457    03,January,2004
Name: date, dtype: object
12458       11,July,2004
12458    02,January,2004
Name: date, dtype: object
12459       11,July,2004
12459    01,January,2004
Name: date, dtype: object
12460        11,July,2004
12460    29,February,2004
Name: date, dtype: object
12461        27,June,2004
12461    28,February,2004
Name: date, dtype: object
12462        24,June,2004
12462    27,February,2004
Name: date, dtype: object
12463        12,June,2004
12463    26,February,2004
Name: date, dtype: object
12464        02,June,2004
12464    25,February,2004
Name: date, dtype: object
12465        02,June,2004
12465    24,February,2004
Name: date, dtype: object
12466        02,June,2004
12466    23,February,2004
Name: date, dtype: object
12467        02,June,2004
12467    21,February,2004
Name: date, dtype: object
12468        22,July,2004
12468    20,February,2004
Name: date, dtype: object
12469        20,July,2004
12469    18,February,2004
Name: date, dtype: object
12470        19,July,2004
12470    17,February,2004
Name: date, dtype: object
12471        18,July,2004
12471    16,February,2004
Name: date, dtype: object
12472    31,December,2003
12472    15,February,2004
Name: date, dtype: object
12473    29,December,2003
12473    14,February,2004
Name: date, dtype: object
12474    28,December,2003
12474    12,February,2004
Name: date, dtype: object
12475    27,December,2003
12475    12,February,2004
Name: date, dtype: object
12476     02,January,2004
12476    11,February,2004
Name: date, dtype: object
12477       14,April,2004
12477    10,February,2004
Name: date, dtype: object
12478       05,April,2004
12478    09,February,2004
Name: date, dtype: object
12479       04,April,2004
12479    08,February,2004
Name: date, dtype: object
12480       04,April,2004
12480    07,February,2004
Name: date, dtype: object
12481        24,July,2004
12481    06,February,2004
Name: date, dtype: object
12482        24,July,2004
12482    05,February,2004
Name: date, dtype: object
12483    26,February,2004
12483    04,February,2004
Name: date, dtype: object
12484    23,February,2004
12484    03,February,2004
Name: date, dtype: object
12485    22,February,2004
12485    02,February,2004
Name: date, dtype: object
12486    16,February,2004
12486    01,February,2004
Name: date, dtype: object
12487    15,February,2004
12487       31,March,2004
Name: date, dtype: object
12488    15,February,2004
12488       30,March,2004
Name: date, dtype: object
12489    15,February,2004
12489       29,March,2004
Name: date, dtype: object
12490    29,March,2004
12490    28,March,2004
Name: date, dtype: object
12491    28,March,2004
12491    27,March,2004
Name: date, dtype: object
12492    22,March,2004
12492    26,March,2004
Name: date, dtype: object
12493    22,March,2004
12493    25,March,2004
Name: date, dtype: object
12494    22,March,2004
12494    24,March,2004
Name: date, dtype: object
12495    15,March,2004
12495    23,March,2004
Name: date, dtype: object
12496    15,March,2004
12496    22,March,2004
Name: date, dtype: object
12497    15,March,2004
12497    21,March,2004
Name: date, dtype: object
12498    07,March,2004
12498    20,March,2004
Name: date, dtype: object
12499    26,April,2004
12499    19,March,2004
Name: date, dtype: object
12500    19,April,2004
12500    18,March,2004
Name: date, dtype: object
12501    18,April,2004
12501    17,March,2004
Name: date, dtype: object
12502    18,April,2004
12502    16,March,2004
Name: date, dtype: object
12503    18,April,2004
12503    15,March,2004
Name: date, dtype: object
12504    14,April,2004
12504    14,March,2004
Name: date, dtype: object
12505    14,April,2004
12505    13,March,2004
Name: date, dtype: object
12506    12,April,2004
12506    12,March,2004
Name: date, dtype: object
12507    11,April,2004
12507    11,March,2004
Name: date, dtype: object
12508    06,April,2004
12508    10,March,2004
Name: date, dtype: object
12509    06,April,2004
12509    08,March,2004
Name: date, dtype: object
12510    05,April,2004
12510    07,March,2004
Name: date, dtype: object
12511    05,April,2004
12511    06,March,2004
Name: date, dtype: object
12512    05,April,2004
12512    05,March,2004
Name: date, dtype: object
12513    04,April,2004
12513    03,March,2004
Name: date, dtype: object
12514    01,April,2004
12514    02,March,2004
Name: date, dtype: object
12515      30,May,2004
12515    01,March,2004
Name: date, dtype: object
12516      26,May,2004
12516    25,April,2004
Name: date, dtype: object
12517      26,May,2004
12517    24,April,2004
Name: date, dtype: object
12518      26,May,2004
12518    23,April,2004
Name: date, dtype: object
12519      26,May,2004
12519    22,April,2004
Name: date, dtype: object
12520      23,May,2004
12520    21,April,2004
Name: date, dtype: object
12521      23,May,2004
12521    20,April,2004
Name: date, dtype: object
12522      17,May,2004
12522    19,April,2004
Name: date, dtype: object
12523    16,May,2004
12523    23,May,2004
Name: date, dtype: object
12524    13,May,2004
12524    21,May,2004
Name: date, dtype: object
12525    13,May,2004
12525    21,May,2004
Name: date, dtype: object
12526    10,May,2004
12526    20,May,2004
Name: date, dtype: object
12527    10,May,2004
12527    19,May,2004
Name: date, dtype: object
12528    10,May,2004
12528    18,May,2004
Name: date, dtype: object
12529    10,May,2004
12529    07,May,2004
Name: date, dtype: object
12530    30,June,2004
12530     02,May,2004
Name: date, dtype: object
12531    28,June,2004
12531    30,June,2004
Name: date, dtype: object
12532    23,June,2004
12532    29,June,2004
Name: date, dtype: object
12533    23,June,2004
12533    29,June,2004
Name: date, dtype: object
12534    23,June,2004
12534    28,June,2004
Name: date, dtype: object
12535    14,June,2004
12535    27,June,2004
Name: date, dtype: object
12536    14,June,2004
12536    26,June,2004
Name: date, dtype: object
12537    07,June,2004
12537    25,June,2004
Name: date, dtype: object
12538    07,June,2004
12538    24,June,2004
Name: date, dtype: object
12539    07,June,2004
12539    23,June,2004
Name: date, dtype: object
12540    06,June,2004
12540    22,June,2004
Name: date, dtype: object
12541    06,June,2004
12541    11,June,2004
Name: date, dtype: object
12542    22,July,2004
12542    10,June,2004
Name: date, dtype: object
12543    19,July,2004
12543    04,June,2004
Name: date, dtype: object
12544    19,July,2004
12544    03,June,2004
Name: date, dtype: object
12545    11,July,2004
12545    02,June,2004
Name: date, dtype: object
12546    07,July,2004
12546    01,June,2004

Name: date, dtype: object
12547    07,July,2004
12547    18,July,2004
Name: date, dtype: object
12548    05,July,2004
12548    17,July,2004
Name: date, dtype: object
12549    05,July,2004
12549    16,July,2004
Name: date, dtype: object
12550    01,July,2004
12550    14,July,2004
Name: date, dtype: object
12551    01,July,2004
12551    14,July,2004
Name: date, dtype: object
12552    01,July,2004
12552    11,July,2004
Name: date, dtype: object
12553    01,July,2004
12553    10,July,2004
Name: date, dtype: object
12554     29,May,2004
12554    09,July,2004
Name: date, dtype: object
12555     28,May,2004
12555    08,July,2004
Name: date, dtype: object
12556     26,May,2004
12556    07,July,2004
Name: date, dtype: object
12557     25,May,2004
12557    06,July,2004
Name: date, dtype: object
12558     25,May,2004
12558    05,July,2004
Name: date, dtype: object
12559     25,May,2004
12559    04,July,2004
Name: date, dtype: object
12560     25,May,2004
12560    03,July,2004
Name: date, dtype: object
12561    30,June,2004
12561    02,July,2004
Name: date, dtype: object
12562    29,June,2004
12562    01,July,2004
Name: date, dtype: object
12563    28,June,2004
12563    17,July,2004
Name: date, dtype: object
12564    28,June,2004
12564    16,July,2004
Name: date, dtype: object
12565    28,June,2004
12565    14,July,2004
Name: date, dtype: object
12566    27,June,2004
12566    13,July,2004
Name: date, dtype: object
12567    23,June,2004
12567    13,July,2004
Name: date, dtype: object
12568    17,June,2004
12568    13,July,2004
Name: date, dtype: object
12569    17,June,2004
12569    24,July,2004
Name: date, dtype: object
12570    16,June,2004
12570    22,July,2004
Name: date, dtype: object
12571    14,June,2004
12571    19,July,2004
Name: date, dtype: object
12572    07,June,2004
12572    18,July,2004
Name: date, dtype: object
12573    04,June,2004
12573    30,July,2004
Name: date, dtype: object
12574    03,June,2004
12574    29,July,2004
Name: date, dtype: object
12575    02,June,2004
12575    26,July,2004
Name: date, dtype: object
12576    01,June,2004
12576    25,July,2004
Name: date, dtype: object
12577      31,July,2004
12577    06,August,2004
Name: date, dtype: object
12578      29,July,2004
12578    12,August,2004
Name: date, dtype: object
12579      27,July,2004
12579    10,August,2004
Name: date, dtype: object
12580      27,July,2004
12580    09,August,2004
Name: date, dtype: object
12581      23,July,2004
12581    09,August,2004
Name: date, dtype: object
12582      17,July,2004
12582    11,August,2004
Name: date, dtype: object
12583      16,July,2004
12583    11,August,2004
Name: date, dtype: object
12584      12,July,2004
12584    11,August,2004
Name: date, dtype: object
12585      10,July,2004
12585    11,August,2004
Name: date, dtype: object
12586    07,July,2004
12586    23,July,2004
Name: date, dtype: object
12587    06,July,2004
12587    22,July,2004
Name: date, dtype: object
12588    05,July,2004
12588    03,July,2004
Name: date, dtype: object
12589    04,July,2004
12589    27,July,2004
Name: date, dtype: object
12590    11,August,2004
12590      26,July,2004
Name: date, dtype: object
12591    10,August,2004
12591      26,July,2004
Name: date, dtype: object
12592    08,August,2004
12592      26,July,2004
Name: date, dtype: object
12593    04,August,2004
12593      22,July,2004
Name: date, dtype: object
12594    04,August,2004
12594      22,July,2004
Name: date, dtype: object
12595     06,May,2004
12595    21,July,2004
Name: date, dtype: object
12596     06,May,2004
12596    14,July,2004
Name: date, dtype: object
12597     06,May,2004
12597    14,July,2004
Name: date, dtype: object
12598    14,June,2004
12598    14,July,2004
Name: date, dtype: object
12599    10,June,2004
12599    14,July,2004
Name: date, dtype: object
12600    08,June,2004
12600    14,July,2004
Name: date, dtype: object
12601    07,June,2004
12601    13,July,2004
Name: date, dtype: object
12602    06,June,2004
12602    13,July,2004
Name: date, dtype: object
12603    02,June,2004
12603    07,July,2004
Name: date, dtype: object
12604    30,July,2004
12604    07,July,2004
Name: date, dtype: object
12605    24,July,2004
12605    07,July,2004
Name: date, dtype: object
12606    22,July,2004
12606    06,July,2004
Name: date, dtype: object
12607    11,July,2004
12607    05,July,2004
Name: date, dtype: object
12608    10,July,2004
12608    05,July,2004
Name: date, dtype: object
12609    09,July,2004
12609    05,July,2004
Name: date, dtype: object
12610    07,July,2004
12610    05,July,2004
Name: date, dtype: object
12611    07,July,2004
12611    03,July,2004
Name: date, dtype: object
12612    06,July,2004
12612    03,July,2004
Name: date, dtype: object
12613    06,July,2004
12613    03,July,2004
Name: date, dtype: object
12614    03,August,2004
12614      03,July,2004
Name: date, dtype: object
12615    28,February,2004
12615        03,July,2004
Name: date, dtype: object
12616    27,February,2004
12616        03,July,2004
Name: date, dtype: object
12617    24,February,2004
12617        03,July,2004
Name: date, dtype: object
12618    23,February,2004
12618      12,August,2004
Name: date, dtype: object
12619    23,February,2004
12619      11,August,2004
Name: date, dtype: object
12620    23,February,2004
12620      07,August,2004
Name: date, dtype: object
12621     05,March,2004
12621    07,August,2004
Name: date, dtype: object
12622     03,March,2004
12622    05,August,2004
Name: date, dtype: object
12623     03,March,2004
12623    05,August,2004
Name: date, dtype: object
12624    29,February,2004
12624        30,July,2004
Name: date, dtype: object
12625    12,March,2004
12625     29,July,2004
Name: date, dtype: object
12626    10,March,2004
12626     28,July,2004
Name: date, dtype: object
12627    10,March,2004
12627     27,July,2004
Name: date, dtype: object
12628    10,March,2004
12628     26,July,2004
Name: date, dtype: object
12629    08,March,2004
12629     25,July,2004
Name: date, dtype: object
12630    08,March,2004
12630     25,July,2004
Name: date, dtype: object
12631     07,March,2004
12631    07,August,2004
Name: date, dtype: object
12632     07,March,2004
12632    06,August,2004
Name: date, dtype: object
12633     07,March,2004
12633    05,August,2004
Name: date, dtype: object
12634     19,March,2004
12634    04,August,2004
Name: date, dtype: object
12635     18,March,2004
12635    03,August,2004
Name: date, dtype: object
12636     18,March,2004
12636    01,August,2004
Name: date, dtype: object
12637     17,March,2004
12637    13,August,2004
Name: date, dtype: object
12638     14,March,2004
12638    11,August,2004
Name: date, dtype: object
12639     14,March,2004
12639    09,August,2004
Name: date, dtype: object
12640     14,March,2004
12640    08,August,2004
Name: date, dtype: object
12641     14,March,2004
12641    18,August,2004
Name: date, dtype: object
12642     14,March,2004
12642    16,August,2004
Name: date, dtype: object
12643    14,March,2004
12643    27,Junho,2004
Name: date, dtype: object
12644    24,March,2004
12644    27,Junho,2004
Name: date, dtype: object
12645    22,March,2004
12645    27,Junho,2004
Name: date, dtype: object
12646    22,March,2004
12646    27,Junho,2004
Name: date, dtype: object
12647    02,April,2004
12647    27,Junho,2004
Name: date, dtype: object
12648    01,April,2004
12648    27,Junho,2004
Name: date, dtype: object
12649    01,April,2004
12649    27,Junho,2004
Name: date, dtype: object
12650    29,March,2004
12650    27,Junho,2004
Name: date, dtype: object
12651    28,March,2004
12651    27,Junho,2004
Name: date, dtype: object
12652    07,April,2004
12652    27,Junho,2004
Name: date, dtype: object
12653    06,April,2004
12653    27,Junho,2004
Name: date, dtype: object
12654    16,April,2004
12654    27,Junho,2004
Name: date, dtype: object
12655    15,April,2004
12655    27,Junho,2004
Name: date, dtype: object
12656    15,April,2004
12656    27,Junho,2004
Name: date, dtype: object
12657    15,April,2004
12657    27,Junho,2004
Name: date, dtype: object
12658    14,April,2004
12658    27,Junho,2004
Name: date, dtype: object
12659    14,April,2004
12659    27,Junho,2004
Name: date, dtype: object
12660    14,April,2004
12660    27,Junho,2004
Name: date, dtype: object
12661    12,April,2004
12661    27,Junho,2004
Name: date, dtype: object
12662    12,April,2004
12662    27,Junho,2004
Name: date, dtype: object
12663    12,April,2004
12663    27,Junho,2004
Name: date, dtype: object
12664    12,April,2004
12664    27,Junho,2004
Name: date, dtype: object
12665    24,April,2004
12665    27,Junho,2004
Name: date, dtype: object
12666    23,April,2004
12666    27,Junho,2004
Name: date, dtype: object
12667    22,April,2004
12667    27,Junho,2004
Name: date, dtype: object
12668    21,April,2004
12668    27,Junho,2004
Name: date, dtype: object
12669    20,April,2004
12669    27,Junho,2004
Name: date, dtype: object
12670    20,April,2004
12670    27,Junho,2004
Name: date, dtype: object
12671    20,April,2004
12671    27,Junho,2004
Name: date, dtype: object
12672    19,April,2004
12672    27,Junho,2004
Name: date, dtype: object
12673    30,April,2004
12673    27,Junho,2004
Name: date, dtype: object
12674    29,April,2004
12674    27,Junho,2004
Name: date, dtype: object
12675    29,April,2004
12675     28,June,2004
Name: date, dtype: object
12676    26,April,2004
12676     25,June,2004
Name: date, dtype: object
12677    25,April,2004
12677     24,June,2004
Name: date, dtype: object
12678     08,May,2004
12678    23,June,2004
Name: date, dtype: object
12679     07,May,2004
12679    22,June,2004
Name: date, dtype: object
12680     06,May,2004
12680    21,June,2004
Name: date, dtype: object
12681     06,May,2004
12681    18,June,2004
Name: date, dtype: object
12682     04,May,2004
12682    17,June,2004
Name: date, dtype: object
12683     04,May,2004
12683    16,June,2004
Name: date, dtype: object
12684     14,May,2004
12684    15,June,2004
Name: date, dtype: object
12685     13,May,2004
12685    14,June,2004
Name: date, dtype: object
12686     13,May,2004
12686    12,June,2004
Name: date, dtype: object
12687     12,May,2004
12687    31,July,2004
Name: date, dtype: object

12688     12,May,2004
12688    30,July,2004
Name: date, dtype: object
12689     11,May,2004
12689    29,July,2004
Name: date, dtype: object
12690     11,May,2004
12690    29,July,2004
Name: date, dtype: object
12691     10,May,2004
12691    27,July,2004
Name: date, dtype: object
12692     10,May,2004
12692    26,July,2004
Name: date, dtype: object
12693     10,May,2004
12693    20,July,2004
Name: date, dtype: object
12694     10,May,2004
12694    18,July,2004
Name: date, dtype: object
12695     21,May,2004
12695    14,July,2004
Name: date, dtype: object
12696     20,May,2004
12696    12,July,2004
Name: date, dtype: object
12697     20,May,2004
12697    09,July,2004
Name: date, dtype: object
12698     20,May,2004
12698    06,July,2004
Name: date, dtype: object
12699       20,May,2004
12699    10,August,2004
Name: date, dtype: object
12700       20,May,2004
12700    09,August,2004
Name: date, dtype: object
12701       20,May,2004
12701    06,August,2004
Name: date, dtype: object
12702       29,May,2004
12702    05,August,2004
Name: date, dtype: object
12703       28,May,2004
12703    04,August,2004
Name: date, dtype: object
12704       28,May,2004
12704    03,August,2004
Name: date, dtype: object
12705       28,May,2004
12705    02,August,2004
Name: date, dtype: object
12706      27,May,2004
12706    31,March,2004
Name: date, dtype: object
12707      27,May,2004
12707    30,March,2004
Name: date, dtype: object
12708      26,May,2004
12708    29,March,2004
Name: date, dtype: object
12709      26,May,2004
12709    29,March,2004
Name: date, dtype: object
12710      26,May,2004
12710    28,March,2004
Name: date, dtype: object
12711      25,May,2004
12711    26,March,2004
Name: date, dtype: object
12712      25,May,2004
12712    25,March,2004
Name: date, dtype: object
12713      24,May,2004
12713    24,March,2004
Name: date, dtype: object
12714      23,May,2004
12714    24,March,2004
Name: date, dtype: object
12715      23,May,2004
12715    22,March,2004
Name: date, dtype: object
12716      23,May,2004
12716    21,March,2004
Name: date, dtype: object
12717     04,June,2004
12717    21,March,2004
Name: date, dtype: object
12718     03,June,2004
12718    19,March,2004
Name: date, dtype: object
12719     02,June,2004
12719    19,March,2004
Name: date, dtype: object
12720     01,June,2004
12720    18,March,2004
Name: date, dtype: object
12721     01,June,2004
12721    18,March,2004
Name: date, dtype: object
12722     01,June,2004
12722    18,March,2004
Name: date, dtype: object
12723      31,May,2004
12723    17,March,2004
Name: date, dtype: object
12724      31,May,2004
12724    17,March,2004
Name: date, dtype: object
12725      31,May,2004
12725    16,March,2004
Name: date, dtype: object
12726      31,May,2004
12726    16,March,2004
Name: date, dtype: object
12727     10,June,2004
12727    16,March,2004
Name: date, dtype: object
12728     08,June,2004
12728    16,March,2004
Name: date, dtype: object
12729     06,June,2004
12729    16,March,2004
Name: date, dtype: object
12730     16,June,2004
12730    16,March,2004
Name: date, dtype: object
12731     13,June,2004
12731    16,March,2004
Name: date, dtype: object
12732     26,June,2004
12732    30,April,2004
Name: date, dtype: object
12733     25,June,2004
12733    07,April,2004
Name: date, dtype: object
12734     21,June,2004
12734    07,April,2004
Name: date, dtype: object
12735    30,June,2004
12735     30,May,2004
Name: date, dtype: object
12736    28,June,2004
12736     29,May,2004
Name: date, dtype: object
12737    09,July,2004
12737     22,May,2004
Name: date, dtype: object
12738    08,July,2004
12738     22,May,2004
Name: date, dtype: object
12739    08,July,2004
12739     20,May,2004
Name: date, dtype: object
12740    07,July,2004
12740     19,May,2004
Name: date, dtype: object
12741    07,July,2004
12741     18,May,2004
Name: date, dtype: object
12742    06,July,2004
12742     18,May,2004
Name: date, dtype: object
12743    05,July,2004
12743     17,May,2004
Name: date, dtype: object
12744    05,July,2004
12744     16,May,2004
Name: date, dtype: object
12745    17,July,2004
12745     16,May,2004
Name: date, dtype: object
12746    16,July,2004
12746     14,May,2004
Name: date, dtype: object
12747    16,July,2004
12747     12,May,2004
Name: date, dtype: object
12748    16,July,2004
12748     11,May,2004
Name: date, dtype: object
12749    15,July,2004
12749     10,May,2004
Name: date, dtype: object
12750    15,July,2004
12750     10,May,2004
Name: date, dtype: object
12751    15,July,2004
12751     09,May,2004
Name: date, dtype: object
12752    14,July,2004
12752    12,June,2004
Name: date, dtype: object
12753    14,July,2004
12753    10,June,2004
Name: date, dtype: object
12754    14,July,2004
12754    09,June,2004
Name: date, dtype: object
12755    14,July,2004
12755    08,June,2004
Name: date, dtype: object
12756    13,July,2004
12756    07,June,2004
Name: date, dtype: object
12757    13,July,2004
12757    07,June,2004
Name: date, dtype: object
12758    13,July,2004
12758    03,June,2004
Name: date, dtype: object
12759    13,July,2004
12759    02,June,2004
Name: date, dtype: object
12760    12,July,2004
12760    28,June,2004
Name: date, dtype: object
12761    12,July,2004
12761    23,June,2004
Name: date, dtype: object
12762    12,July,2004
12762    22,June,2004
Name: date, dtype: object
12763    12,July,2004
12763    19,July,2004
Name: date, dtype: object
12764    12,July,2004
12764    03,July,2004
Name: date, dtype: object
12765    23,July,2004
12765    01,July,2004
Name: date, dtype: object
12766      22,July,2004
12766    01,August,2004
Name: date, dtype: object
12767    22,July,2004
12767    14,July,2004
Name: date, dtype: object
12768    22,July,2004
12768    13,July,2004
Name: date, dtype: object
12769    21,July,2004
12769    04,June,2004
Name: date, dtype: object
12770    21,July,2004
12770    03,June,2004
Name: date, dtype: object
12771    21,July,2004
12771    03,June,2004
Name: date, dtype: object
12772      21,July,2004
12772    09,August,2004
Name: date, dtype: object
12773      20,July,2004
12773    09,August,2004
Name: date, dtype: object
12774     20,July,2004
12774    30,April,2004
Name: date, dtype: object
12775    20,July,2004
12775     21,May,2004
Name: date, dtype: object
12776    20,July,2004
12776     12,May,2004
Name: date, dtype: object
12777    20,July,2004
12777     12,May,2004
Name: date, dtype: object
12778    19,July,2004
12778     04,May,2004
Name: date, dtype: object
12779    19,July,2004
12779     04,May,2004
Name: date, dtype: object
12780    18,July,2004
12780     04,May,2004
Name: date, dtype: object
12781    18,July,2004
12781    30,June,2004
Name: date, dtype: object
12782    18,July,2004
12782    29,June,2004
Name: date, dtype: object
12783    18,July,2004
12783    29,June,2004
Name: date, dtype: object
12784    18,July,2004
12784    31,July,2004
Name: date, dtype: object
12785    18,July,2004
12785    30,July,2004
Name: date, dtype: object
12786    31,July,2004
12786    29,July,2004
Name: date, dtype: object
12787    30,July,2004
12787    28,July,2004
Name: date, dtype: object
12788    30,July,2004
12788    27,July,2004
Name: date, dtype: object
12789    30,July,2004
12789    26,July,2004
Name: date, dtype: object
12790    29,July,2004
12790    25,July,2004
Name: date, dtype: object
12791    29,July,2004
12791    24,July,2004
Name: date, dtype: object
12792    29,July,2004
12792    23,July,2004
Name: date, dtype: object
12793    29,July,2004
12793    22,July,2004
Name: date, dtype: object
12794    29,July,2004
12794    21,July,2004
Name: date, dtype: object
12795    28,July,2004
12795    20,July,2004
Name: date, dtype: object
12796    28,July,2004
12796    19,July,2004
Name: date, dtype: object
12797    28,July,2004
12797    18,July,2004
Name: date, dtype: object
12798    28,July,2004
12798    17,July,2004
Name: date, dtype: object
12799    27,July,2004
12799    16,July,2004
Name: date, dtype: object
12800    27,July,2004
12800    14,July,2004
Name: date, dtype: object
12801    27,July,2004
12801    13,July,2004
Name: date, dtype: object
12802    27,July,2004
12802    12,July,2004
Name: date, dtype: object
12803    27,July,2004
12803    10,July,2004
Name: date, dtype: object
12804    26,July,2004
12804    10,July,2004
Name: date, dtype: object
12805    26,July,2004
12805    09,July,2004
Name: date, dtype: object
12806    26,July,2004
12806    08,July,2004
Name: date, dtype: object
12807    25,July,2004
12807    07,July,2004
Name: date, dtype: object
12808    25,July,2004
12808    06,July,2004
Name: date, dtype: object
12809    25,July,2004
12809    05,July,2004
Name: date, dtype: object
12810    25,July,2004
12810    03,July,2004
Name: date, dtype: object
12811    25,July,2004
12811    03,July,2004
Name: date, dtype: object
12812    07,August,2004
12812      02,July,2004
Name: date, dtype: object
12813    06,August,2004
12813      02,July,2004
Name: date, dtype: object
12814    06,August,2004
12814    17,August,2004
Name: date, dtype: object
12815    06,August,2004
12815    16,August,2004
Name: date, dtype: object
12816    05,August,2004
12816    16,August,2004
Name: date, dtype: object
12817    05,August,2004
12817    15,August,2004
Name: date, dtype: object
12818    05,August,2004
12818    14,August,2004
Name: date, dtype: object
12819    05,August,2004
12819    13,August,2004
Name: date, dtype: object
12820    05,August,2004
12820    12,August,2004
Name: date, dtype: object
12821    05,August,2004
12821    11,August,2004
Name: date, dtype: object
12822    04,August,2004
12822    10,August,2004
Name: date, dtype: object
12823    04,August,2004
12823    09,August,2004
Name: date, dtype: object
12824    04,August,2004
12824    08,August,2004
Name: date, dtype: object
12825    04,August,2004
12825    07,August,2004
Name: date, dtype: object
12826    04,August,2004
12826    06,August,2004
Name: date, dtype: object
12827    03,August,2004
12827    05,August,2004
Name: date, dtype: object
12828    03,August,2004
12828    04,August,2004
Name: date, dtype: object
12829    02,August,2004
12829    03,August,2004
Name: date, dtype: object
12830    02,August,2004
12830    02,August,2004
Name: date, dtype: object
12831    01,August,2004
12831    01,August,2004

Name: date, dtype: object
12832    01,August,2004
12832      31,July,2004
Name: date, dtype: object
12833    01,August,2004
12833      30,July,2004
Name: date, dtype: object
12834    01,August,2004
12834      29,July,2004
Name: date, dtype: object
12835    01,August,2004
12835      28,July,2004
Name: date, dtype: object
12836    01,August,2004
12836      27,July,2004
Name: date, dtype: object
12837    12,August,2004
12837      26,July,2004
Name: date, dtype: object
12838    11,August,2004
12838      25,July,2004
Name: date, dtype: object
12839    11,August,2004
12839      24,July,2004
Name: date, dtype: object
12840    10,August,2004
12840      23,July,2004
Name: date, dtype: object
12841    10,August,2004
12841      22,July,2004
Name: date, dtype: object
12842    10,August,2004
12842      21,July,2004
Name: date, dtype: object
12843    10,August,2004
12843      20,July,2004
Name: date, dtype: object
12844    09,August,2004
12844      19,July,2004
Name: date, dtype: object
12845    09,August,2004
12845      18,July,2004
Name: date, dtype: object
12846    09,August,2004
12846      17,July,2004
Name: date, dtype: object
12847    09,August,2004
12847      16,July,2004
Name: date, dtype: object
12848    09,August,2004
12848      14,July,2004
Name: date, dtype: object
12849    09,August,2004
12849      13,July,2004
Name: date, dtype: object
12850    09,August,2004
12850      12,July,2004
Name: date, dtype: object
12851    09,August,2004
12851      10,July,2004
Name: date, dtype: object
12852    30,June,2004
12852    10,July,2004
Name: date, dtype: object
12853    28,June,2004
12853    09,July,2004
Name: date, dtype: object
12854    28,June,2004
12854    08,July,2004
Name: date, dtype: object
12855    28,June,2004
12855    07,July,2004
Name: date, dtype: object
12856    28,June,2004
12856    06,July,2004
Name: date, dtype: object
12857      28,June,2004
12857    18,August,2004
Name: date, dtype: object
12858      28,June,2004
12858    17,August,2004
Name: date, dtype: object
12859      28,June,2004
12859    16,August,2004
Name: date, dtype: object
12860      28,June,2004
12860    15,August,2004
Name: date, dtype: object
12861      28,June,2004
12861    14,August,2004
Name: date, dtype: object
12862      28,June,2004
12862    13,August,2004
Name: date, dtype: object
12863      28,June,2004
12863    12,August,2004
Name: date, dtype: object
12864      03,July,2004
12864    11,August,2004
Name: date, dtype: object
12865      02,July,2004
12865    10,August,2004
Name: date, dtype: object
12866      01,July,2004
12866    09,August,2004
Name: date, dtype: object
12867      30,June,2004
12867    08,August,2004
Name: date, dtype: object
12868      30,June,2004
12868    07,August,2004
Name: date, dtype: object
12869      29,June,2004
12869    06,August,2004
Name: date, dtype: object
12870      28,June,2004
12870    05,August,2004
Name: date, dtype: object
12871      28,June,2004
12871    04,August,2004
Name: date, dtype: object
12872      28,June,2004
12872    03,August,2004
Name: date, dtype: object
12873      28,June,2004
12873    02,August,2004
Name: date, dtype: object
12874      28,June,2004
12874    01,August,2004
Name: date, dtype: object
12875    28,June,2004
12875    31,July,2004
Name: date, dtype: object
12876    28,June,2004
12876    30,July,2004
Name: date, dtype: object
12877    28,June,2004
12877    29,July,2004
Name: date, dtype: object
12878    28,June,2004
12878    28,July,2004
Name: date, dtype: object
12879    07,July,2004
12879    27,July,2004
Name: date, dtype: object
12880    05,July,2004
12880    26,July,2004
Name: date, dtype: object
12881    04,July,2004
12881    25,July,2004
Name: date, dtype: object
12882    11,July,2004
12882    24,July,2004
Name: date, dtype: object
12883    07,August,2004
12883      23,July,2004
Name: date, dtype: object
12884    04,August,2004
12884      22,July,2004
Name: date, dtype: object
12885    14,August,2004
12885    18,August,2004
Name: date, dtype: object
12886    11,August,2004
12886    17,August,2004
Name: date, dtype: object
12887    10,August,2004
12887    16,August,2004
Name: date, dtype: object
12888    10,August,2004
12888    15,August,2004
Name: date, dtype: object
12889    08,August,2004
12889    14,August,2004
Name: date, dtype: object
12890      05,June,2004
12890    13,August,2004
Name: date, dtype: object
12891      01,June,2004
12891    12,August,2004
Name: date, dtype: object
12892      20,July,2004
12892    11,August,2004
Name: date, dtype: object
12893      06,July,2004
12893    10,August,2004
Name: date, dtype: object
12894      05,July,2004
12894    09,August,2004
Name: date, dtype: object
12895      05,July,2004
12895    08,August,2004
Name: date, dtype: object
12896      25,July,2004
12896    07,August,2004
Name: date, dtype: object
12897      19,July,2004
12897    06,August,2004
Name: date, dtype: object
12898      19,July,2004
12898    05,August,2004
Name: date, dtype: object
12899      15,July,2004
12899    04,August,2004
Name: date, dtype: object
12900      13,July,2004
12900    02,August,2004
Name: date, dtype: object
12901      12,July,2004
12901    02,August,2004
Name: date, dtype: object
12902      11,July,2004
12902    01,August,2004
Name: date, dtype: object
12903    26,June,2004
12903     29,May,2004
Name: date, dtype: object
12904    24,June,2004
12904     27,May,2004
Name: date, dtype: object
12905    16,June,2004
12905     27,May,2004
Name: date, dtype: object
12906    16,June,2004
12906    28,June,2004
Name: date, dtype: object
12907    16,June,2004
12907    15,June,2004
Name: date, dtype: object
12908    14,June,2004
12908    15,June,2004
Name: date, dtype: object
12909    13,June,2004
12909    12,June,2004
Name: date, dtype: object
12910    12,June,2004
12910    02,July,2004
Name: date, dtype: object
12911    09,June,2004
12911    30,July,2004
Name: date, dtype: object
12912    09,June,2004
12912    22,July,2004
Name: date, dtype: object
12913    31,July,2004
12913    20,July,2004
Name: date, dtype: object
12914    29,July,2004
12914    19,July,2004
Name: date, dtype: object
12915    28,July,2004
12915    10,July,2004
Name: date, dtype: object
12916    24,July,2004
12916    09,July,2004
Name: date, dtype: object
12917    20,July,2004
12917    07,July,2004
Name: date, dtype: object
12918      17,July,2004
12918    05,August,2004
Name: date, dtype: object
12919    17,July,2004
12919    28,June,2004
Name: date, dtype: object
12920    17,July,2004
12920    28,June,2004
Name: date, dtype: object
12921      14,July,2004
12921    02,August,2004
Name: date, dtype: object
12922      14,July,2004
12922    02,August,2004
Name: date, dtype: object
12923      12,July,2004
12923    02,August,2004
Name: date, dtype: object
12924      11,July,2004
12924    02,August,2004
Name: date, dtype: object
12925      11,July,2004
12925    02,August,2004
Name: date, dtype: object
12926      05,July,2004
12926    02,August,2004
Name: date, dtype: object
12927     11,March,2004
12927    02,August,2004
Name: date, dtype: object
12928     07,March,2004
12928    02,August,2004
Name: date, dtype: object
12929     14,March,2004
12929    02,August,2004
Name: date, dtype: object
12930     24,March,2004
12930    02,August,2004
Name: date, dtype: object
12931     21,March,2004
12931    02,August,2004
Name: date, dtype: object
12932     30,March,2004
12932    02,August,2004
Name: date, dtype: object
12933     28,March,2004
12933    02,August,2004
Name: date, dtype: object
12934     07,April,2004
12934    02,August,2004
Name: date, dtype: object
12935     13,April,2004
12935    02,August,2004
Name: date, dtype: object
12936     12,April,2004
12936    02,August,2004
Name: date, dtype: object
12937     11,April,2004
12937    02,August,2004
Name: date, dtype: object
12938     21,April,2004
12938    02,August,2004
Name: date, dtype: object
12939     18,April,2004
12939    02,August,2004
Name: date, dtype: object
12940     25,April,2004
12940    02,August,2004
Name: date, dtype: object
12941       02,May,2004
12941    02,August,2004
Name: date, dtype: object
12942       18,May,2004
12942    02,August,2004
Name: date, dtype: object
12943      01,June,2004
12943    02,August,2004
Name: date, dtype: object
12944      08,June,2004
12944    02,August,2004
Name: date, dtype: object
12945      07,June,2004
12945    02,August,2004
Name: date, dtype: object
12946      17,June,2004
12946    02,August,2004
Name: date, dtype: object
12947      16,June,2004
12947    02,August,2004
Name: date, dtype: object
12948      13,June,2004
12948    02,August,2004
Name: date, dtype: object
12949      08,July,2004
12949    02,August,2004
Name: date, dtype: object
12950    13,August,2004
12950    02,August,2004
Name: date, dtype: object
12951    12,August,2004
12951    02,August,2004
Name: date, dtype: object
12952    11,August,2004
12952    02,August,2004
Name: date, dtype: object
12953    09,August,2004
12953    02,August,2004
Name: date, dtype: object
12954    08,August,2004
12954    02,August,2004
Name: date, dtype: object
12955    08,August,2004
12955    02,August,2004
Name: date, dtype: object
12956    08,August,2004
12956    02,August,2004
Name: date, dtype: object
12957    08,August,2004
12957    02,August,2004
Name: date, dtype: object
12958    08,August,2004
12958    02,August,2004
Name: date, dtype: object
12959    20,August,2004
12959    02,August,2004
Name: date, dtype: object
12960    17,August,2004
12960    02,August,2004
Name: date, dtype: object
12961    16,August,2004
12961    02,August,2004
Name: date, dtype: object
12962    16,August,2004
12962    02,August,2004
Name: date, dtype: object
12963    30,September,2003
12963       02,August,2004
Name: date, dtype: object
12964    29,September,2003
12964       02,August,2004
Name: date, dtype: object
12965    23,September,2003
12965       02,August,2004
Name: date, dtype: object
12966    30,October,2003
12966     02,August,2004
Name: date, dtype: object
12967    24,October,2003
12967     02,August,2004
Name: date, dtype: object
12968    24,October,2003
12968     02,August,2004
Name: date, dtype: object
12969    24,October,2003
12969     02,August,2004
Name: date, dtype: object
12970    23,October,2003
12970     02,August,2004
Name: date, dtype: object
12971    23,October,2003
12971     02,August,2004
Name: date, dtype: object
12972    16,October,2003
12972     02,August,2004
Name: date, dtype: object
12973    16,October,2003
12973     02,August,2004
Name: date, dtype: object
12974    15,October,2003
12974     02,August,2004
Name: date, dtype: object

12975    15,October,2003
12975     02,August,2004
Name: date, dtype: object
12976    15,October,2003
12976     02,August,2004
Name: date, dtype: object
12977    15,October,2003
12977     02,August,2004
Name: date, dtype: object
12978    15,October,2003
12978     02,August,2004
Name: date, dtype: object
12979    15,October,2003
12979     02,August,2004
Name: date, dtype: object
12980    14,October,2003
12980     02,August,2004
Name: date, dtype: object
12981    12,October,2003
12981     02,August,2004
Name: date, dtype: object
12982    10,October,2003
12982     02,August,2004
Name: date, dtype: object
12983    09,October,2003
12983     02,August,2004
Name: date, dtype: object
12984    09,October,2003
12984     02,August,2004
Name: date, dtype: object
12985    08,October,2003
12985     02,August,2004
Name: date, dtype: object
12986    07,October,2003
12986     02,August,2004
Name: date, dtype: object
12987    07,October,2003
12987     02,August,2004
Name: date, dtype: object
12988    07,October,2003
12988     02,August,2004
Name: date, dtype: object
12989    07,October,2003
12989     02,August,2004
Name: date, dtype: object
12990    07,October,2003
12990     02,August,2004
Name: date, dtype: object
12991    07,October,2003
12991     02,August,2004
Name: date, dtype: object
12992    07,October,2003
12992     02,August,2004
Name: date, dtype: object
12993    07,October,2003
12993     02,August,2004
Name: date, dtype: object
12994    06,October,2003
12994     02,August,2004
Name: date, dtype: object
12995    06,October,2003
12995     02,August,2004
Name: date, dtype: object
12996    06,October,2003
12996     02,August,2004
Name: date, dtype: object
12997    06,October,2003
12997     02,August,2004
Name: date, dtype: object
12998    06,October,2003
12998     02,August,2004
Name: date, dtype: object
12999    06,October,2003
12999     02,August,2004
Name: date, dtype: object
13000    06,October,2003
13000     02,August,2004
Name: date, dtype: object
13001    06,October,2003
13001     02,August,2004
Name: date, dtype: object
13002    06,October,2003
13002     02,August,2004
Name: date, dtype: object
13003    06,October,2003
13003     02,August,2004
Name: date, dtype: object
13004    06,October,2003
13004     02,August,2004
Name: date, dtype: object
13005    06,October,2003
13005     02,August,2004
Name: date, dtype: object
13006    06,October,2003
13006     02,August,2004
Name: date, dtype: object
13007    06,October,2003
13007     02,August,2004
Name: date, dtype: object
13008    06,October,2003
13008     02,August,2004
Name: date, dtype: object
13009    06,October,2003
13009     02,August,2004
Name: date, dtype: object
13010    06,October,2003
13010     02,August,2004
Name: date, dtype: object
13011    06,October,2003
13011     02,August,2004
Name: date, dtype: object
13012    05,October,2003
13012     02,August,2004
Name: date, dtype: object
13013    05,October,2003
13013     02,August,2004
Name: date, dtype: object
13014    05,October,2003
13014     02,August,2004
Name: date, dtype: object
13015    05,October,2003
13015     02,August,2004
Name: date, dtype: object
13016    05,October,2003
13016     02,August,2004
Name: date, dtype: object
13017    05,October,2003
13017     02,August,2004
Name: date, dtype: object
13018    05,October,2003
13018     02,August,2004
Name: date, dtype: object
13019    05,October,2003
13019     02,August,2004
Name: date, dtype: object
13020    05,October,2003
13020     02,August,2004
Name: date, dtype: object
13021    04,October,2003
13021     02,August,2004
Name: date, dtype: object
13022    04,October,2003
13022     02,August,2004
Name: date, dtype: object
13023    04,October,2003
13023     02,August,2004
Name: date, dtype: object
13024    04,October,2003
13024     02,August,2004
Name: date, dtype: object
13025    04,October,2003
13025     02,August,2004
Name: date, dtype: object
13026    04,October,2003
13026     02,August,2004
Name: date, dtype: object
13027    04,October,2003
13027     02,August,2004
Name: date, dtype: object
13028    04,October,2003
13028     02,August,2004
Name: date, dtype: object
13029    04,October,2003
13029     02,August,2004
Name: date, dtype: object
13030    04,October,2003
13030     02,August,2004
Name: date, dtype: object
13031    04,October,2003
13031     02,August,2004
Name: date, dtype: object
13032    03,October,2003
13032     02,August,2004
Name: date, dtype: object
13033    03,October,2003
13033     02,August,2004
Name: date, dtype: object
13034    03,October,2003
13034     02,August,2004
Name: date, dtype: object
13035    02,October,2003
13035     02,August,2004
Name: date, dtype: object
13036    02,October,2003
13036     02,August,2004
Name: date, dtype: object
13037    02,October,2003
13037     02,August,2004
Name: date, dtype: object
13038    02,October,2003
13038     02,August,2004
Name: date, dtype: object
13039    02,October,2003
13039     02,August,2004
Name: date, dtype: object
13040    02,October,2003
13040     02,August,2004
Name: date, dtype: object
13041    02,October,2003
13041     02,August,2004
Name: date, dtype: object
13042    02,October,2003
13042     02,August,2004
Name: date, dtype: object
13043    29,November,2003
13043      02,August,2004
Name: date, dtype: object
13044    24,November,2003
13044      02,August,2004
Name: date, dtype: object
13045    22,November,2003
13045      02,August,2004
Name: date, dtype: object
13046    20,November,2003
13046      02,August,2004
Name: date, dtype: object
13047    18,November,2003
13047      02,August,2004
Name: date, dtype: object
13048    14,November,2003
13048      02,August,2004
Name: date, dtype: object
13049    14,November,2003
13049      02,August,2004
Name: date, dtype: object
13050    11,November,2003
13050      02,August,2004
Name: date, dtype: object
13051    09,November,2003
13051      02,August,2004
Name: date, dtype: object
13052    09,November,2003
13052      02,August,2004
Name: date, dtype: object
13053    09,November,2003
13053      02,August,2004
Name: date, dtype: object
13054    09,November,2003
13054      02,August,2004
Name: date, dtype: object
13055    09,November,2003
13055      02,August,2004
Name: date, dtype: object
13056    09,November,2003
13056      02,August,2004
Name: date, dtype: object
13057    30,December,2003
13057      02,August,2004
Name: date, dtype: object
13058    11,December,2003
13058      02,August,2004
Name: date, dtype: object
13059    09,December,2003
13059      02,August,2004
Name: date, dtype: object
13060    05,December,2003
13060      02,August,2004
Name: date, dtype: object
13061    01,December,2003
13061      02,August,2004
Name: date, dtype: object
13062    01,December,2003
13062      02,August,2004
Name: date, dtype: object
13063    30,January,2004
13063     02,August,2004
Name: date, dtype: object
13064    17,January,2004
13064     02,August,2004
Name: date, dtype: object
13065    15,January,2004
13065     02,August,2004
Name: date, dtype: object
13066    13,January,2004
13066     02,August,2004
Name: date, dtype: object
13067    07,January,2004
13067     02,August,2004
Name: date, dtype: object
13068    07,January,2004
13068     02,August,2004
Name: date, dtype: object
13069    07,January,2004
13069     02,August,2004
Name: date, dtype: object
13070    03,January,2004
13070     02,August,2004
Name: date, dtype: object
13071    01,January,2004
13071     02,August,2004
Name: date, dtype: object
13072    29,February,2004
13072      02,August,2004
Name: date, dtype: object
13073    28,February,2004
13073      02,August,2004
Name: date, dtype: object
13074    26,February,2004
13074      02,August,2004
Name: date, dtype: object
13075    24,February,2004
13075      02,August,2004
Name: date, dtype: object
13076    23,February,2004
13076      02,August,2004
Name: date, dtype: object
13077    21,February,2004
13077      02,August,2004
Name: date, dtype: object
13078    20,February,2004
13078      02,August,2004
Name: date, dtype: object
13079    18,February,2004
13079      02,August,2004
Name: date, dtype: object
13080    16,February,2004
13080      02,August,2004
Name: date, dtype: object
13081    16,February,2004
13081      02,August,2004
Name: date, dtype: object
13082    12,February,2004
13082      02,August,2004
Name: date, dtype: object
13083    10,February,2004
13083      02,August,2004

Name: date, dtype: object
13084    02,February,2004
13084      02,August,2004
Name: date, dtype: object
13085     30,March,2004
13085    02,August,2004
Name: date, dtype: object
13086     21,March,2004
13086    02,August,2004
Name: date, dtype: object
13087     21,March,2004
13087    02,August,2004
Name: date, dtype: object
13088     16,March,2004
13088    02,August,2004
Name: date, dtype: object
13089     06,March,2004
13089    02,August,2004
Name: date, dtype: object
13090     05,March,2004
13090    02,August,2004
Name: date, dtype: object
13091     04,March,2004
13091    02,August,2004
Name: date, dtype: object
13092     04,March,2004
13092    02,August,2004
Name: date, dtype: object
13093     03,March,2004
13093    02,August,2004
Name: date, dtype: object
13094     03,March,2004
13094    02,August,2004
Name: date, dtype: object
13095     30,April,2004
13095    02,August,2004
Name: date, dtype: object
13096     29,April,2004
13096    02,August,2004
Name: date, dtype: object
13097     25,April,2004
13097    02,August,2004
Name: date, dtype: object
13098     25,April,2004
13098    02,August,2004
Name: date, dtype: object
13099     13,April,2004
13099    02,August,2004
Name: date, dtype: object
13100     04,April,2004
13100    02,August,2004
Name: date, dtype: object
13101       31,May,2004
13101    02,August,2004
Name: date, dtype: object
13102       27,May,2004
13102    02,August,2004
Name: date, dtype: object
13103       26,May,2004
13103    02,August,2004
Name: date, dtype: object
13104       25,May,2004
13104    02,August,2004
Name: date, dtype: object
13105       19,May,2004
13105    02,August,2004
Name: date, dtype: object
13106       19,May,2004
13106    02,August,2004
Name: date, dtype: object
13107       17,May,2004
13107    02,August,2004
Name: date, dtype: object
13108       11,May,2004
13108    02,August,2004
Name: date, dtype: object
13109       10,May,2004
13109    02,August,2004
Name: date, dtype: object
13110       10,May,2004
13110    02,August,2004
Name: date, dtype: object
13111       06,May,2004
13111    02,August,2004
Name: date, dtype: object
13112       06,May,2004
13112    02,August,2004
Name: date, dtype: object
13113       06,May,2004
13113    02,August,2004
Name: date, dtype: object
13114       06,May,2004
13114    02,August,2004
Name: date, dtype: object
13115      26,June,2004
13115    02,August,2004
Name: date, dtype: object
13116      24,June,2004
13116    02,August,2004
Name: date, dtype: object
13117      23,June,2004
13117    02,August,2004
Name: date, dtype: object
13118      19,June,2004
13118    02,August,2004
Name: date, dtype: object
13119      19,June,2004
13119    02,August,2004
Name: date, dtype: object
13120      18,June,2004
13120    02,August,2004
Name: date, dtype: object
13121      17,June,2004
13121    02,August,2004
Name: date, dtype: object
13122      16,June,2004
13122    02,August,2004
Name: date, dtype: object
13123      16,June,2004
13123    02,August,2004
Name: date, dtype: object
13124      16,June,2004
13124    02,August,2004
Name: date, dtype: object
13125      01,June,2004
13125    02,August,2004
Name: date, dtype: object
13126    28,February,2004
13126      02,August,2004
Name: date, dtype: object
13127    23,February,2004
13127      02,August,2004
Name: date, dtype: object
13128    23,February,2004
13128      02,August,2004
Name: date, dtype: object
13129     31,March,2004
13129    02,August,2004
Name: date, dtype: object
13130     24,March,2004
13130    02,August,2004
Name: date, dtype: object
13131     20,March,2004
13131    02,August,2004
Name: date, dtype: object
13132     17,March,2004
13132    02,August,2004
Name: date, dtype: object
13133     10,March,2004
13133    02,August,2004
Name: date, dtype: object
13134     09,March,2004
13134    02,August,2004
Name: date, dtype: object
13135     01,March,2004
13135    02,August,2004
Name: date, dtype: object
13136     08,April,2004
13136    02,August,2004
Name: date, dtype: object
13137     04,April,2004
13137    02,August,2004
Name: date, dtype: object
13138     04,April,2004
13138    02,August,2004
Name: date, dtype: object
13139       26,May,2004
13139    02,August,2004
Name: date, dtype: object
13140       22,May,2004
13140    02,August,2004
Name: date, dtype: object
13141       19,May,2004
13141    02,August,2004
Name: date, dtype: object
13142       17,May,2004
13142    02,August,2004
Name: date, dtype: object
13143       16,May,2004
13143    02,August,2004
Name: date, dtype: object
13144       16,May,2004
13144    02,August,2004
Name: date, dtype: object
13145       15,May,2004
13145    02,August,2004
Name: date, dtype: object
13146       11,May,2004
13146    02,August,2004
Name: date, dtype: object
13147       10,May,2004
13147    02,August,2004
Name: date, dtype: object
13148       04,May,2004
13148    02,August,2004
Name: date, dtype: object
13149       04,May,2004
13149    02,August,2004
Name: date, dtype: object
13150       04,May,2004
13150    02,August,2004
Name: date, dtype: object
13151      27,June,2004
13151    02,August,2004
Name: date, dtype: object
13152      22,June,2004
13152    23,August,2004
Name: date, dtype: object
13153    12,June,2004
13153    31,July,2004
Name: date, dtype: object
13154    06,June,2004
13154    30,July,2004
Name: date, dtype: object
13155    01,June,2004
13155    29,July,2004
Name: date, dtype: object
13156    01,June,2004
13156    28,July,2004
Name: date, dtype: object
13157    26,July,2004
13157    28,July,2004
Name: date, dtype: object
13158    25,July,2004
13158    27,July,2004
Name: date, dtype: object
13159    24,July,2004
13159    27,July,2004
Name: date, dtype: object
13160    06,August,2004
13160      27,July,2004
Name: date, dtype: object
13161    02,August,2004
13161      27,July,2004
Name: date, dtype: object
13162     22,May,2004
13162    27,July,2004
Name: date, dtype: object
13163     18,May,2004
13163    26,July,2004
Name: date, dtype: object
13164     17,May,2004
13164    26,July,2004
Name: date, dtype: object
13165     14,May,2004
13165    26,July,2004
Name: date, dtype: object
13166     14,May,2004
13166    25,July,2004
Name: date, dtype: object
13167    28,June,2004
13167    25,July,2004
Name: date, dtype: object
13168    09,June,2004
13168    23,July,2004
Name: date, dtype: object
13169    28,August,2003
13169      23,July,2004
Name: date, dtype: object
13170    27,August,2003
13170      21,July,2004
Name: date, dtype: object
13171    26,August,2003
13171      21,July,2004
Name: date, dtype: object
13172    25,August,2003
13172      21,July,2004
Name: date, dtype: object
13173    23,August,2003
13173      20,July,2004
Name: date, dtype: object
13174    22,August,2003
13174      20,July,2004
Name: date, dtype: object
13175    22,August,2003
13175      19,July,2004
Name: date, dtype: object
13176    21,August,2003
13176    16,August,2004
Name: date, dtype: object
13177    20,August,2003
13177    15,August,2004
Name: date, dtype: object
13178    20,August,2003
13178    15,August,2004
Name: date, dtype: object
13179    20,August,2003
13179    14,August,2004
Name: date, dtype: object
13180    17,August,2003
13180    14,August,2004
Name: date, dtype: object
13181    17,August,2003
13181    13,August,2004
Name: date, dtype: object
13182    16,August,2003
13182    13,August,2004
Name: date, dtype: object
13183    15,August,2003
13183    12,August,2004
Name: date, dtype: object
13184    15,August,2003
13184    11,August,2004
Name: date, dtype: object
13185    15,August,2003
13185    11,August,2004
Name: date, dtype: object
13186    14,August,2003
13186    11,August,2004
Name: date, dtype: object
13187    14,August,2003
13187    10,August,2004
Name: date, dtype: object
13188    14,August,2003
13188    09,August,2004
Name: date, dtype: object
13189    30,September,2003
13189       08,August,2004
Name: date, dtype: object
13190    29,September,2003
13190       07,August,2004
Name: date, dtype: object
13191    29,September,2003
13191       06,August,2004
Name: date, dtype: object
13192    29,September,2003
13192       06,August,2004
Name: date, dtype: object
13193    28,September,2003
13193       05,August,2004
Name: date, dtype: object
13194    28,September,2003
13194       05,August,2004
Name: date, dtype: object
13195    28,September,2003
13195       04,August,2004
Name: date, dtype: object
13196    27,September,2003
13196       03,August,2004
Name: date, dtype: object
13197    26,September,2003
13197       03,August,2004
Name: date, dtype: object
13198    22,September,2003
13198       02,August,2004
Name: date, dtype: object
13199    21,September,2003
13199       02,August,2004
Name: date, dtype: object
13200    20,September,2003
13200         17,June,2004
Name: date, dtype: object
13201    20,September,2003
13201         17,June,2004
Name: date, dtype: object
13202    19,September,2003
13202         14,June,2004
Name: date, dtype: object
13203    17,September,2003
13203         31,July,2004
Name: date, dtype: object
13204    16,September,2003
13204         30,July,2004
Name: date, dtype: object
13205    16,September,2003
13205         30,July,2004
Name: date, dtype: object
13206    16,September,2003
13206         28,July,2004
Name: date, dtype: object
13207    15,September,2003
13207         27,July,2004
Name: date, dtype: object
13208    15,September,2003
13208         26,July,2004
Name: date, dtype: object
13209    15,September,2003
13209         24,July,2004
Name: date, dtype: object
13210    14,September,2003
13210         23,July,2004
Name: date, dtype: object
13211    13,September,2003
13211         22,July,2004
Name: date, dtype: object
13212    12,September,2003
13212         21,July,2004
Name: date, dtype: object
13213    12,September,2003
13213         20,July,2004
Name: date, dtype: object

13214    11,September,2003
13214         20,July,2004
Name: date, dtype: object
13215    11,September,2003
13215         19,July,2004
Name: date, dtype: object
13216    11,September,2003
13216         18,July,2004
Name: date, dtype: object
13217    10,September,2003
13217         17,July,2004
Name: date, dtype: object
13218    10,September,2003
13218       15,August,2004
Name: date, dtype: object
13219    09,September,2003
13219       14,August,2004
Name: date, dtype: object
13220    09,September,2003
13220       13,August,2004
Name: date, dtype: object
13221    09,September,2003
13221       13,August,2004
Name: date, dtype: object
13222    08,September,2003
13222       12,August,2004
Name: date, dtype: object
13223    08,September,2003
13223       11,August,2004
Name: date, dtype: object
13224    07,September,2003
13224       11,August,2004
Name: date, dtype: object
13225    06,September,2003
13225       10,August,2004
Name: date, dtype: object
13226    06,September,2003
13226       09,August,2004
Name: date, dtype: object
13227    06,September,2003
13227       09,August,2004
Name: date, dtype: object
13228    05,September,2003
13228       08,August,2004
Name: date, dtype: object
13229    04,September,2003
13229       08,August,2004
Name: date, dtype: object
13230    04,September,2003
13230       08,August,2004
Name: date, dtype: object
13231    03,September,2003
13231       08,August,2004
Name: date, dtype: object
13232    03,September,2003
13232       06,August,2004
Name: date, dtype: object
13233    01,September,2003
13233       06,August,2004
Name: date, dtype: object
13234    01,September,2003
13234       05,August,2004
Name: date, dtype: object
13235    01,September,2003
13235       05,August,2004
Name: date, dtype: object
13236    01,September,2003
13236       04,August,2004
Name: date, dtype: object
13237    31,October,2003
13237     04,August,2004
Name: date, dtype: object
13238    30,October,2003
13238     03,August,2004
Name: date, dtype: object
13239    29,October,2003
13239     03,August,2004
Name: date, dtype: object
13240    25,October,2003
13240     02,August,2004
Name: date, dtype: object
13241    23,October,2003
13241     01,August,2004
Name: date, dtype: object
13242    22,October,2003
13242     01,August,2004
Name: date, dtype: object
13243    22,October,2003
13243     01,August,2004
Name: date, dtype: object
13244    19,October,2003
13244     01,August,2004
Name: date, dtype: object
13245    17,October,2003
13245     01,August,2004
Name: date, dtype: object
13246    16,October,2003
13246     01,August,2004
Name: date, dtype: object
13247    15,October,2003
13247     01,August,2004
Name: date, dtype: object
13248    13,October,2003
13248     01,August,2004
Name: date, dtype: object
13249    12,October,2003
13249     01,August,2004
Name: date, dtype: object
13250    11,October,2003
13250     01,August,2004
Name: date, dtype: object
13251    10,October,2003
13251     01,August,2004
Name: date, dtype: object
13252    10,October,2003
13252     01,August,2004
Name: date, dtype: object
13253    09,October,2003
13253       29,June,2004
Name: date, dtype: object
13254    07,October,2003
13254       30,June,2004
Name: date, dtype: object
13255    07,October,2003
13255       30,June,2004
Name: date, dtype: object
13256    06,October,2003
13256       01,July,2004
Name: date, dtype: object
13257    05,October,2003
13257       02,July,2004
Name: date, dtype: object
13258    04,October,2003
13258       14,July,2004
Name: date, dtype: object
13259    03,October,2003
13259     08,August,2004
Name: date, dtype: object
13260    03,October,2003
13260     09,August,2004
Name: date, dtype: object
13261    03,October,2003
13261     02,August,2004
Name: date, dtype: object
13262    03,October,2003
13262     02,August,2004
Name: date, dtype: object
13263    02,October,2003
13263     02,August,2004
Name: date, dtype: object
13264    28,November,2003
13264      02,August,2004
Name: date, dtype: object
13265    25,November,2003
13265      02,August,2004
Name: date, dtype: object
13266    24,November,2003
13266      02,August,2004
Name: date, dtype: object
13267    24,November,2003
13267      02,August,2004
Name: date, dtype: object
13268    22,November,2003
13268      02,August,2004
Name: date, dtype: object
13269    22,November,2003
13269         30,May,2004
Name: date, dtype: object
13270    20,November,2003
13270         29,May,2004
Name: date, dtype: object
13271    19,November,2003
13271         29,May,2004
Name: date, dtype: object
13272    18,November,2003
13272         27,May,2004
Name: date, dtype: object
13273    16,November,2003
13273         27,May,2004
Name: date, dtype: object
13274    15,November,2003
13274         27,May,2004
Name: date, dtype: object
13275    15,November,2003
13275         27,May,2004
Name: date, dtype: object
13276    07,November,2003
13276         26,May,2004
Name: date, dtype: object
13277    05,November,2003
13277        29,June,2004
Name: date, dtype: object
13278    29,December,2003
13278        28,June,2004
Name: date, dtype: object
13279    17,December,2003
13279        28,June,2004
Name: date, dtype: object
13280    15,December,2003
13280        28,June,2004
Name: date, dtype: object
13281    14,December,2003
13281        26,June,2004
Name: date, dtype: object
13282    03,December,2003
13282        26,June,2004
Name: date, dtype: object
13283    03,December,2003
13283        25,June,2004
Name: date, dtype: object
13284    01,December,2003
13284        24,June,2004
Name: date, dtype: object
13285    14,January,2004
13285       24,June,2004
Name: date, dtype: object
13286    13,February,2004
13286        24,June,2004
Name: date, dtype: object
13287    06,March,2004
13287     24,June,2004
Name: date, dtype: object
13288    13,April,2004
13288     24,June,2004
Name: date, dtype: object
13289     28,May,2004
13289    23,June,2004
Name: date, dtype: object
13290     27,May,2004
13290    18,June,2004
Name: date, dtype: object
13291     25,May,2004
13291    18,June,2004
Name: date, dtype: object
13292     24,May,2004
13292    18,June,2004
Name: date, dtype: object
13293     20,May,2004
13293    18,June,2004
Name: date, dtype: object
13294     19,May,2004
13294    16,June,2004
Name: date, dtype: object
13295     19,May,2004
13295    15,June,2004
Name: date, dtype: object
13296     18,May,2004
13296    15,June,2004
Name: date, dtype: object
13297     18,May,2004
13297    15,June,2004
Name: date, dtype: object
13298    30,June,2004
13298    15,June,2004
Name: date, dtype: object
13299    26,June,2004
13299    13,June,2004
Name: date, dtype: object
13300    26,June,2004
13300    12,June,2004
Name: date, dtype: object
13301    26,June,2004
13301    12,June,2004
Name: date, dtype: object
13302    25,June,2004
13302    12,June,2004
Name: date, dtype: object
13303    25,June,2004
13303    12,June,2004
Name: date, dtype: object
13304    18,June,2004
13304    12,June,2004
Name: date, dtype: object
13305    17,June,2004
13305    07,June,2004
Name: date, dtype: object
13306    17,June,2004
13306    03,June,2004
Name: date, dtype: object
13307    17,June,2004
13307    01,June,2004
Name: date, dtype: object
13308    15,June,2004
13308    01,June,2004
Name: date, dtype: object
13309    22,July,2004
13309    30,July,2004
Name: date, dtype: object
13310    12,July,2004
13310    29,July,2004
Name: date, dtype: object
13311    11,July,2004
13311    26,July,2004
Name: date, dtype: object
13312    10,July,2004
13312    24,July,2004
Name: date, dtype: object
13313    08,July,2004
13313    21,July,2004
Name: date, dtype: object
13314    07,July,2004
13314    20,July,2004
Name: date, dtype: object
13315    07,July,2004
13315    19,July,2004
Name: date, dtype: object
13316    06,July,2004
13316    17,July,2004
Name: date, dtype: object
13317    05,July,2004
13317    17,July,2004
Name: date, dtype: object
13318    04,July,2004
13318    16,July,2004
Name: date, dtype: object
13319    03,July,2004
13319    16,July,2004
Name: date, dtype: object
13320    02,July,2004
13320    14,July,2004
Name: date, dtype: object
13321    01,July,2004
13321    11,July,2004
Name: date, dtype: object
13322    01,July,2004
13322    11,July,2004
Name: date, dtype: object
13323    01,July,2004
13323    11,July,2004
Name: date, dtype: object
13324    01,July,2004
13324    09,July,2004
Name: date, dtype: object
13325    01,July,2004
13325    07,July,2004
Name: date, dtype: object
13326    01,July,2004
13326    07,July,2004
Name: date, dtype: object
13327    01,July,2004
13327    07,July,2004
Name: date, dtype: object
13328    01,July,2004
13328    07,July,2004
Name: date, dtype: object
13329    01,July,2004
13329    06,July,2004
Name: date, dtype: object
13330    01,July,2004
13330    05,July,2004
Name: date, dtype: object
13331    01,July,2004
13331    04,July,2004
Name: date, dtype: object
13332    01,July,2004
13332    02,July,2004
Name: date, dtype: object
13333    01,July,2004
13333    01,July,2004
Name: date, dtype: object
13334      01,July,2004
13334    11,August,2004
Name: date, dtype: object
13335      01,July,2004
13335    08,August,2004
Name: date, dtype: object
13336      01,July,2004
13336    08,August,2004
Name: date, dtype: object
13337      01,July,2004
13337    08,August,2004
Name: date, dtype: object
13338      01,July,2004
13338    06,August,2004
Name: date, dtype: object
13339      01,July,2004
13339    05,August,2004
Name: date, dtype: object
13340      01,July,2004
13340    05,August,2004
Name: date, dtype: object
13341      01,July,2004
13341    04,August,2004
Name: date, dtype: object
13342      01,July,2004
13342    04,August,2004
Name: date, dtype: object
13343      01,July,2004
13343    03,August,2004
Name: date, dtype: object
13344      01,July,2004
13344    01,August,2004
Name: date, dtype: object
13345      01,July,2004
13345    01,August,2004
Name: date, dtype: object
13346    14,August,2004
13346       28,May,2004

Name: date, dtype: object
13347    13,August,2004
13347       28,May,2004
Name: date, dtype: object
13348    12,August,2004
13348      25,June,2004
Name: date, dtype: object
13349    10,August,2004
13349      24,June,2004
Name: date, dtype: object
13350    09,August,2004
13350      23,June,2004
Name: date, dtype: object
13351    29,August,2001
13351      22,June,2004
Name: date, dtype: object
13352    27,August,2001
13352      22,June,2004
Name: date, dtype: object
13353    23,August,2001
13353      21,June,2004
Name: date, dtype: object
13354    20,August,2001
13354      20,June,2004
Name: date, dtype: object
13355    09,August,2001
13355      18,June,2004
Name: date, dtype: object
13356    07,August,2001
13356      17,June,2004
Name: date, dtype: object
13357    04,August,2001
13357      16,June,2004
Name: date, dtype: object
13358    02,August,2001
13358      15,June,2004
Name: date, dtype: object
13359    01,August,2001
13359      15,June,2004
Name: date, dtype: object
13360    30,September,2001
13360         14,June,2004
Name: date, dtype: object
13361    28,September,2001
13361         13,June,2004
Name: date, dtype: object
13362    27,September,2001
13362         11,June,2004
Name: date, dtype: object
13363    26,September,2001
13363         10,June,2004
Name: date, dtype: object
13364    25,September,2001
13364         06,June,2004
Name: date, dtype: object
13365    31,October,2001
13365       04,June,2004
Name: date, dtype: object
13366    30,October,2001
13366     01,August,2004
Name: date, dtype: object
13367    29,October,2001
13367     01,August,2004
Name: date, dtype: object
13368    26,October,2001
13368     01,August,2004
Name: date, dtype: object
13369    24,October,2001
13369     01,August,2004
Name: date, dtype: object
13370    24,October,2001
13370     01,August,2004
Name: date, dtype: object
13371    23,October,2001
13371     01,August,2004
Name: date, dtype: object
13372    23,October,2001
13372     01,August,2004
Name: date, dtype: object
13373    18,October,2001
13373     01,August,2004
Name: date, dtype: object
13374    18,October,2001
13374     01,August,2004
Name: date, dtype: object
13375    18,October,2001
13375     01,August,2004
Name: date, dtype: object
13376    18,October,2001
13376     01,August,2004
Name: date, dtype: object
13377    16,October,2001
13377     01,August,2004
Name: date, dtype: object
13378    14,October,2001
13378     01,August,2004
Name: date, dtype: object
13379    13,October,2001
13379     01,August,2004
Name: date, dtype: object
13380    13,October,2001
13380     01,August,2004
Name: date, dtype: object
13381    04,October,2001
13381     01,August,2004
Name: date, dtype: object
13382    03,October,2001
13382     01,August,2004
Name: date, dtype: object
13383    02,October,2001
13383     01,August,2004
Name: date, dtype: object
13384    02,October,2001
13384     01,August,2004
Name: date, dtype: object
13385    20,November,2001
13385      01,August,2004
Name: date, dtype: object
13386    16,November,2001
13386      01,August,2004
Name: date, dtype: object
13387    14,November,2001
13387      01,August,2004
Name: date, dtype: object
13388    12,November,2001
13388      01,August,2004
Name: date, dtype: object
13389    12,November,2001
13389      01,August,2004
Name: date, dtype: object
13390    11,November,2001
13390      01,August,2004
Name: date, dtype: object
13391    11,November,2001
13391      01,August,2004
Name: date, dtype: object
13392    09,November,2001
13392      01,August,2004
Name: date, dtype: object
13393    09,November,2001
13393      01,August,2004
Name: date, dtype: object
13394    08,November,2001
13394      01,August,2004
Name: date, dtype: object
13395    07,November,2001
13395      01,August,2004
Name: date, dtype: object
13396    01,November,2001
13396      01,August,2004
Name: date, dtype: object
13397    19,December,2001
13397      01,August,2004
Name: date, dtype: object
13398    18,December,2001
13398      01,August,2004
Name: date, dtype: object
13399    17,December,2001
13399      01,August,2004
Name: date, dtype: object
13400    13,December,2001
13400      01,August,2004
Name: date, dtype: object
13401    10,December,2001
13401      01,August,2004
Name: date, dtype: object
13402    10,December,2001
13402      01,August,2004
Name: date, dtype: object
13403    24,January,2002
13403     01,August,2004
Name: date, dtype: object
13404    17,January,2002
13404     01,August,2004
Name: date, dtype: object
13405    16,January,2002
13405     01,August,2004
Name: date, dtype: object
13406     28,March,2002
13406    01,August,2004
Name: date, dtype: object
13407     27,March,2002
13407    01,August,2004
Name: date, dtype: object
13408     06,March,2002
13408    01,August,2004
Name: date, dtype: object
13409    01,March,2002
13409     25,June,2004
Name: date, dtype: object
13410    24,April,2002
13410     22,June,2004
Name: date, dtype: object
13411    14,April,2002
13411     22,June,2004
Name: date, dtype: object
13412       30,May,2002
13412    06,August,2004
Name: date, dtype: object
13413       29,May,2002
13413    05,August,2004
Name: date, dtype: object
13414    28,May,2002
13414    28,May,2004
Name: date, dtype: object
13415    28,May,2002
13415    16,May,2004
Name: date, dtype: object
13416       28,May,2002
13416    08,August,2004
Name: date, dtype: object
13417     23,May,2002
13417    19,June,2004
Name: date, dtype: object
13418     22,May,2002
13418    19,June,2004
Name: date, dtype: object
13419     20,May,2002
13419    19,June,2004
Name: date, dtype: object
13420     20,May,2002
13420    19,June,2004
Name: date, dtype: object
13421      10,May,2002
13421    22,junio,2004
Name: date, dtype: object
13422     28,June,2002
13422    22,junio,2004
Name: date, dtype: object
13423      27,June,2002
13423    13,agosto,2004
Name: date, dtype: object
13424      27,June,2002
13424    13,agosto,2004
Name: date, dtype: object
13425      25,June,2002
13425    13,agosto,2004
Name: date, dtype: object
13426      24,June,2002
13426    13,agosto,2004
Name: date, dtype: object
13427      21,June,2002
13427    13,agosto,2004
Name: date, dtype: object
13428      21,June,2002
13428    12,agosto,2004
Name: date, dtype: object
13429      20,June,2002
13429    12,agosto,2004
Name: date, dtype: object
13430      20,June,2002
13430    12,agosto,2004
Name: date, dtype: object
13431      17,June,2002
13431    12,agosto,2004
Name: date, dtype: object
13432      14,June,2002
13432    12,agosto,2004
Name: date, dtype: object
13433      13,June,2002
13433    12,agosto,2004
Name: date, dtype: object
13434      13,June,2002
13434    12,agosto,2004
Name: date, dtype: object
13435      07,June,2002
13435    12,agosto,2004
Name: date, dtype: object
13436      06,June,2002
13436    12,agosto,2004
Name: date, dtype: object
13437      05,June,2002
13437    12,agosto,2004
Name: date, dtype: object
13438      05,June,2002
13438    12,agosto,2004
Name: date, dtype: object
13439      04,June,2002
13439    12,agosto,2004
Name: date, dtype: object
13440      04,June,2002
13440    12,agosto,2004
Name: date, dtype: object
13441      04,June,2002
13441    12,agosto,2004
Name: date, dtype: object
13442      31,July,2002
13442    12,agosto,2004
Name: date, dtype: object
13443      30,July,2002
13443    12,agosto,2004
Name: date, dtype: object
13444      26,July,2002
13444    12,agosto,2004
Name: date, dtype: object
13445      26,July,2002
13445    12,agosto,2004
Name: date, dtype: object
13446      24,July,2002
13446    12,agosto,2004
Name: date, dtype: object
13447      16,July,2002
13447    12,agosto,2004
Name: date, dtype: object
13448      16,July,2002
13448    12,agosto,2004
Name: date, dtype: object
13449      01,July,2002
13449    12,agosto,2004
Name: date, dtype: object
13450    12,August,2002
13450    12,agosto,2004
Name: date, dtype: object
13451    01,August,2002
13451    12,agosto,2004
Name: date, dtype: object
13452    26,September,2002
13452       12,agosto,2004
Name: date, dtype: object
13453    31,October,2002
13453     12,agosto,2004
Name: date, dtype: object
13454    29,October,2002
13454     17,agosto,2004
Name: date, dtype: object
13455    26,October,2002
13455     16,agosto,2004
Name: date, dtype: object
13456    15,October,2002
13456     15,agosto,2004
Name: date, dtype: object
13457    26,November,2002
13457      15,agosto,2004
Name: date, dtype: object
13458    25,November,2002
13458      15,agosto,2004
Name: date, dtype: object
13459    20,November,2002
13459      15,agosto,2004
Name: date, dtype: object
13460    19,November,2002
13460      15,agosto,2004
Name: date, dtype: object
13461    18,November,2002
13461      15,agosto,2004
Name: date, dtype: object
13462    18,November,2002
13462      15,agosto,2004
Name: date, dtype: object
13463    18,November,2002
13463      15,agosto,2004
Name: date, dtype: object
13464    15,November,2002
13464      15,agosto,2004
Name: date, dtype: object
13465    14,November,2002
13465      15,agosto,2004
Name: date, dtype: object
13466    13,November,2002
13466      15,agosto,2004
Name: date, dtype: object
13467    12,November,2002
13467      15,agosto,2004
Name: date, dtype: object
13468    09,November,2002
13468      15,agosto,2004
Name: date, dtype: object
13469    08,November,2002
13469      15,agosto,2004
Name: date, dtype: object
13470    08,November,2002
13470      15,agosto,2004
Name: date, dtype: object
13471    07,November,2002
13471      15,agosto,2004
Name: date, dtype: object
13472    07,November,2002
13472      15,agosto,2004
Name: date, dtype: object
13473    06,November,2002
13473      15,agosto,2004
Name: date, dtype: object
13474    05,November,2002
13474      15,agosto,2004
Name: date, dtype: object
13475    05,November,2002
13475      15,agosto,2004
Name: date, dtype: object
13476    04,November,2002
13476      15,agosto,2004
Name: date, dtype: object
13477    04,November,2002
13477      15,agosto,2004
Name: date, dtype: object
13478    03,November,2002
13478     28,October,2003
Name: date, dtype: object
13479    02,November,2002
13479     27,October,2003
Name: date, dtype: object
13480    01,November,2002
13480     27,October,2003
Name: date, dtype: object

13481    01,November,2002
13481     22,October,2003
Name: date, dtype: object
13482    22,December,2002
13482     20,October,2003
Name: date, dtype: object
13483    16,December,2002
13483     19,October,2003
Name: date, dtype: object
13484    13,December,2002
13484     17,October,2003
Name: date, dtype: object
13485    12,December,2002
13485     16,October,2003
Name: date, dtype: object
13486    08,December,2002
13486     15,October,2003
Name: date, dtype: object
13487    08,December,2002
13487     14,October,2003
Name: date, dtype: object
13488    07,December,2002
13488     14,October,2003
Name: date, dtype: object
13489    06,December,2002
13489     14,October,2003
Name: date, dtype: object
13490    05,December,2002
13490    10,November,2003
Name: date, dtype: object
13491    04,December,2002
13491    04,November,2003
Name: date, dtype: object
13492    02,December,2002
13492    04,November,2003
Name: date, dtype: object
13493    30,January,2003
13493    12,January,2004
Name: date, dtype: object
13494    29,January,2003
13494      15,March,2004
Name: date, dtype: object
13495    24,January,2003
13495      10,March,2004
Name: date, dtype: object
13496    21,January,2003
13496      29,April,2004
Name: date, dtype: object
13497    16,January,2003
13497      02,April,2004
Name: date, dtype: object
13498    15,January,2003
13498        28,May,2004
Name: date, dtype: object
13499    13,January,2003
13499        27,May,2004
Name: date, dtype: object
13500    11,January,2003
13500        26,May,2004
Name: date, dtype: object
13501    28,February,2003
13501         26,May,2004
Name: date, dtype: object
13502    26,February,2003
13502         20,May,2004
Name: date, dtype: object
13503    25,February,2003
13503         13,May,2004
Name: date, dtype: object
13504    19,February,2003
13504         11,May,2004
Name: date, dtype: object
13505    12,February,2003
13505        29,June,2004
Name: date, dtype: object
13506    12,February,2003
13506        14,June,2004
Name: date, dtype: object
13507    12,February,2003
13507        11,June,2004
Name: date, dtype: object
13508    10,February,2003
13508        08,June,2004
Name: date, dtype: object
13509    10,February,2003
13509        08,June,2004
Name: date, dtype: object
13510    06,February,2003
13510        03,June,2004
Name: date, dtype: object
13511    06,February,2003
13511        03,June,2004
Name: date, dtype: object
13512    03,February,2003
13512        02,June,2004
Name: date, dtype: object
13513    03,February,2003
13513        01,June,2004
Name: date, dtype: object
13514    02,February,2003
13514        30,July,2004
Name: date, dtype: object
13515    01,February,2003
13515        28,July,2004
Name: date, dtype: object
13516    01,February,2003
13516        25,July,2004
Name: date, dtype: object
13517    01,February,2003
13517        23,July,2004
Name: date, dtype: object
13518    01,February,2003
13518        22,July,2004
Name: date, dtype: object
13519    28,March,2003
13519     22,July,2004
Name: date, dtype: object
13520    27,March,2003
13520     22,July,2004
Name: date, dtype: object
13521    22,March,2003
13521     17,July,2004
Name: date, dtype: object
13522    22,March,2003
13522     16,July,2004
Name: date, dtype: object
13523    07,March,2003
13523     13,July,2004
Name: date, dtype: object
13524    03,March,2003
13524     09,July,2004
Name: date, dtype: object
13525     03,March,2003
13525    02,August,2004
Name: date, dtype: object
13526     02,March,2003
13526    02,August,2004
Name: date, dtype: object
13527     02,March,2003
13527    22,August,2004
Name: date, dtype: object
13528     02,March,2003
13528    18,August,2004
Name: date, dtype: object
13529    02,March,2003
13529     22,June,2004
Name: date, dtype: object
13530    02,March,2003
13530     16,June,2004
Name: date, dtype: object
13531    29,April,2003
13531     16,June,2004
Name: date, dtype: object
13532    27,April,2003
13532     06,June,2004
Name: date, dtype: object
13533    22,April,2003
13533     05,June,2004
Name: date, dtype: object
13534    22,April,2003
13534     05,June,2004
Name: date, dtype: object
13535    19,April,2003
13535     04,June,2004
Name: date, dtype: object
13536    14,April,2003
13536     03,June,2004
Name: date, dtype: object
13537    02,April,2003
13537     03,June,2004
Name: date, dtype: object
13538    01,April,2003
13538     03,June,2004
Name: date, dtype: object
13539    01,April,2003
13539     28,July,2004
Name: date, dtype: object
13540     28,May,2003
13540    21,July,2004
Name: date, dtype: object
13541     23,May,2003
13541    20,July,2004
Name: date, dtype: object
13542     20,May,2003
13542    20,July,2004
Name: date, dtype: object
13543     19,May,2003
13543    20,July,2004
Name: date, dtype: object
13544     17,May,2003
13544    15,July,2004
Name: date, dtype: object
13545     17,May,2003
13545    09,July,2004
Name: date, dtype: object
13546     09,May,2003
13546    02,July,2004
Name: date, dtype: object
13547     07,May,2003
13547    01,July,2004
Name: date, dtype: object
13548     06,May,2003
13548    01,July,2004
Name: date, dtype: object
13549     06,May,2003
13549    25,June,2004
Name: date, dtype: object
13550    24,June,2003
13550    05,July,2004
Name: date, dtype: object
13551    11,June,2003
13551    28,June,2004
Name: date, dtype: object
13552    02,June,2003
13552    25,June,2004
Name: date, dtype: object
13553    25,July,2003
13553    24,June,2004
Name: date, dtype: object
13554    24,July,2003
13554    23,June,2004
Name: date, dtype: object
13555    20,July,2003
13555    23,June,2004
Name: date, dtype: object
13556    19,July,2003
13556    23,June,2004
Name: date, dtype: object
13557    16,July,2003
13557    05,July,2004
Name: date, dtype: object
13558    14,July,2003
13558    01,July,2004
Name: date, dtype: object
13559      09,July,2003
13559    04,August,2004
Name: date, dtype: object
13560    03,July,2003
13560    04,June,2004
Name: date, dtype: object
13561    03,July,2003
13561     29,May,2004
Name: date, dtype: object
13562    31,August,2003
13562       28,May,2004
Name: date, dtype: object
13563    01,August,2003
13563       28,May,2004
Name: date, dtype: object
13564    22,September,2003
13564          23,May,2004
Name: date, dtype: object
13565    14,September,2003
13565          22,May,2004
Name: date, dtype: object
13566    09,September,2003
13566          21,May,2004
Name: date, dtype: object
13567    08,September,2003
13567          20,May,2004
Name: date, dtype: object
13568    08,September,2003
13568          19,May,2004
Name: date, dtype: object
13569    26,October,2003
13569        18,May,2004
Name: date, dtype: object
13570    21,October,2003
13570        18,May,2004
Name: date, dtype: object
13571    11,October,2003
13571        17,May,2004
Name: date, dtype: object
13572    06,October,2003
13572        16,May,2004
Name: date, dtype: object
13573    25,November,2003
13573         15,May,2004
Name: date, dtype: object
13574    24,November,2003
13574         15,May,2004
Name: date, dtype: object
13575    22,November,2003
13575         14,May,2004
Name: date, dtype: object
13576    19,November,2003
13576         14,May,2004
Name: date, dtype: object
13577    19,November,2003
13577         13,May,2004
Name: date, dtype: object
13578    19,November,2003
13578         13,May,2004
Name: date, dtype: object
13579    19,November,2003
13579         13,May,2004
Name: date, dtype: object
13580    18,November,2003
13580         13,May,2004
Name: date, dtype: object
13581    18,November,2003
13581        21,June,2004
Name: date, dtype: object
13582    13,November,2003
13582        04,June,2004
Name: date, dtype: object
13583    12,November,2003
13583        03,June,2004
Name: date, dtype: object
13584    10,November,2003
13584        17,July,2004
Name: date, dtype: object
13585    06,November,2003
13585        30,June,2004
Name: date, dtype: object
13586    26,December,2003
13586        29,June,2004
Name: date, dtype: object
13587    23,December,2003
13587        23,June,2004
Name: date, dtype: object
13588    20,December,2003
13588        21,June,2004
Name: date, dtype: object
13589    18,December,2003
13589        16,June,2004
Name: date, dtype: object
13590    18,December,2003
13590        15,June,2004
Name: date, dtype: object
13591    17,December,2003
13591        11,June,2004
Name: date, dtype: object
13592    16,December,2003
13592        10,June,2004
Name: date, dtype: object
13593    15,December,2003
13593        09,June,2004
Name: date, dtype: object
13594    15,December,2003
13594        30,July,2004
Name: date, dtype: object
13595    11,December,2003
13595        28,July,2004
Name: date, dtype: object
13596    10,December,2003
13596        26,July,2004
Name: date, dtype: object
13597    10,December,2003
13597        22,July,2004
Name: date, dtype: object
13598    04,December,2003
13598        20,July,2004
Name: date, dtype: object
13599    03,December,2003
13599        19,July,2004
Name: date, dtype: object
13600    03,December,2003
13600        19,July,2004
Name: date, dtype: object
13601    03,December,2003
13601        15,July,2004
Name: date, dtype: object
13602    31,January,2004
13602       13,July,2004
Name: date, dtype: object
13603    29,January,2004
13603       10,July,2004
Name: date, dtype: object
13604    29,January,2004
13604       08,July,2004
Name: date, dtype: object
13605    28,January,2004
13605       05,July,2004
Name: date, dtype: object
13606    28,January,2004
13606       05,July,2004
Name: date, dtype: object
13607    28,January,2004
13607       03,July,2004
Name: date, dtype: object
13608    27,January,2004
13608       01,July,2004
Name: date, dtype: object
13609    24,January,2004
13609     13,August,2004
Name: date, dtype: object
13610    19,January,2004
13610     12,August,2004
Name: date, dtype: object
13611    09,January,2004
13611     10,August,2004

Name: date, dtype: object
13612    07,January,2004
13612     08,August,2004
Name: date, dtype: object
13613    03,January,2004
13613     06,August,2004
Name: date, dtype: object
13614    03,January,2004
13614     05,August,2004
Name: date, dtype: object
13615    26,February,2004
13615      02,August,2004
Name: date, dtype: object
13616    25,February,2004
13616      19,August,2004
Name: date, dtype: object
13617    19,February,2004
13617      16,August,2004
Name: date, dtype: object
13618    18,February,2004
13618      16,August,2004
Name: date, dtype: object
13619    10,February,2004
13619      15,August,2004
Name: date, dtype: object
13620    06,February,2004
13620      14,August,2004
Name: date, dtype: object
13621    05,February,2004
13621      13,August,2004
Name: date, dtype: object
13622    05,February,2004
13622      13,August,2004
Name: date, dtype: object
13623    04,February,2004
13623      23,August,2004
Name: date, dtype: object
13624    04,February,2004
13624      23,August,2004
Name: date, dtype: object
13625    03,February,2004
13625      23,August,2004
Name: date, dtype: object
13626     31,March,2004
13626    23,August,2004
Name: date, dtype: object
13627     27,March,2004
13627    23,August,2004
Name: date, dtype: object
13628     26,March,2004
13628    23,August,2004
Name: date, dtype: object
13629     24,March,2004
13629    23,August,2004
Name: date, dtype: object
13630    24,March,2004
13630     25,July,2004
Name: date, dtype: object
13631    23,March,2004
13631     19,July,2004
Name: date, dtype: object
13632    23,March,2004
13632     13,July,2004
Name: date, dtype: object
13633    17,March,2004
13633     10,July,2004
Name: date, dtype: object
13634    17,March,2004
13634     10,July,2004
Name: date, dtype: object
13635    16,March,2004
13635     09,July,2004
Name: date, dtype: object
13636    11,March,2004
13636     09,July,2004
Name: date, dtype: object
13637    08,March,2004
13637     09,July,2004
Name: date, dtype: object
13638    08,March,2004
13638     08,July,2004
Name: date, dtype: object
13639     20,April,2004
13639    10,August,2004
Name: date, dtype: object
13640    13,April,2004
13640     28,June,2004
Name: date, dtype: object
13641    10,April,2004
13641    31,March,2004
Name: date, dtype: object
13642    06,April,2004
13642    18,March,2004
Name: date, dtype: object
13643    05,April,2004
13643    18,March,2004
Name: date, dtype: object
13644      19,May,2004
13644    16,March,2004
Name: date, dtype: object
13645      18,May,2004
13645    11,March,2004
Name: date, dtype: object
13646      13,May,2004
13646    10,March,2004
Name: date, dtype: object
13647      13,May,2004
13647    10,March,2004
Name: date, dtype: object
13648      12,May,2004
13648    07,March,2004
Name: date, dtype: object
13649      07,May,2004
13649    29,April,2004
Name: date, dtype: object
13650      05,May,2004
13650    24,April,2004
Name: date, dtype: object
13651     28,June,2004
13651    23,April,2004
Name: date, dtype: object
13652     17,June,2004
13652    19,April,2004
Name: date, dtype: object
13653     16,June,2004
13653    16,April,2004
Name: date, dtype: object
13654     10,June,2004
13654    13,April,2004
Name: date, dtype: object
13655     07,June,2004
13655    10,April,2004
Name: date, dtype: object
13656     05,June,2004
13656    09,April,2004
Name: date, dtype: object
13657     05,June,2004
13657    09,April,2004
Name: date, dtype: object
13658    04,June,2004
13658     30,May,2004
Name: date, dtype: object
13659    30,July,2004
13659     20,May,2004
Name: date, dtype: object
13660    28,July,2004
13660     16,May,2004
Name: date, dtype: object
13661    27,July,2004
13661     13,May,2004
Name: date, dtype: object
13662    26,July,2004
13662     04,May,2004
Name: date, dtype: object
13663    16,July,2004
13663     01,May,2004
Name: date, dtype: object
13664    15,July,2004
13664    28,June,2004
Name: date, dtype: object
13665    15,July,2004
13665    25,June,2004
Name: date, dtype: object
13666    14,July,2004
13666    22,June,2004
Name: date, dtype: object
13667    11,July,2004
13667    17,June,2004
Name: date, dtype: object
13668    09,July,2004
13668    12,June,2004
Name: date, dtype: object
13669    09,July,2004
13669    09,June,2004
Name: date, dtype: object
13670    09,July,2004
13670    08,June,2004
Name: date, dtype: object
13671    09,July,2004
13671    04,June,2004
Name: date, dtype: object
13672    09,July,2004
13672    31,July,2004
Name: date, dtype: object
13673    09,July,2004
13673    21,July,2004
Name: date, dtype: object
13674    06,August,2004
13674      18,July,2004
Name: date, dtype: object
13675    04,August,2004
13675      12,July,2004
Name: date, dtype: object
13676    04,August,2004
13676      07,July,2004
Name: date, dtype: object
13677    03,August,2004
13677      02,July,2004
Name: date, dtype: object
13678    03,August,2004
13678      22,July,2004
Name: date, dtype: object
13679     28,May,2004
13679    20,July,2004
Name: date, dtype: object
13680     27,May,2004
13680    19,July,2004
Name: date, dtype: object
13681    18,June,2004
13681    17,July,2004
Name: date, dtype: object
13682    10,June,2004
13682    16,July,2004
Name: date, dtype: object
13683    04,June,2004
13683    15,July,2004
Name: date, dtype: object
13684    21,July,2004
13684    14,July,2004
Name: date, dtype: object
13685      19,July,2004
13685    12,August,2004
Name: date, dtype: object
13686      12,July,2004
13686    11,August,2004
Name: date, dtype: object
13687      10,July,2004
13687    09,August,2004
Name: date, dtype: object
13688      08,July,2004
13688    08,August,2004
Name: date, dtype: object
13689    03,August,2004
13689    07,August,2004
Name: date, dtype: object
13690    03,August,2004
13690    05,August,2004
Name: date, dtype: object
13691     30,April,2004
13691    05,August,2004
Name: date, dtype: object
13692     29,April,2004
13692    04,August,2004
Name: date, dtype: object
13693     28,April,2004
13693    03,August,2004
Name: date, dtype: object
13694     25,April,2004
13694    01,August,2004
Name: date, dtype: object
13695    24,April,2004
13695     04,June,2004
Name: date, dtype: object
13696    22,April,2004
13696     16,July,2004
Name: date, dtype: object
13697    19,April,2004
13697     13,July,2004
Name: date, dtype: object
13698    18,April,2004
13698     11,July,2004
Name: date, dtype: object
13699    17,April,2004
13699     07,July,2004
Name: date, dtype: object
13700    16,April,2004
13700     06,July,2004
Name: date, dtype: object
13701     31,May,2004
13701    05,July,2004
Name: date, dtype: object
13702     30,May,2004
13702    03,July,2004
Name: date, dtype: object
13703     29,May,2004
13703    24,July,2004
Name: date, dtype: object
13704     28,May,2004
13704    24,July,2004
Name: date, dtype: object
13705     27,May,2004
13705    17,July,2004
Name: date, dtype: object
13706     26,May,2004
13706    19,July,2004
Name: date, dtype: object
13707     26,May,2004
13707    20,July,2004
Name: date, dtype: object
13708     25,May,2004
13708    20,July,2004
Name: date, dtype: object
13709     25,May,2004
13709    20,July,2004
Name: date, dtype: object
13710     24,May,2004
13710    21,July,2004
Name: date, dtype: object
13711     24,May,2004
13711    21,July,2004
Name: date, dtype: object
13712     23,May,2004
13712    22,July,2004
Name: date, dtype: object
13713     23,May,2004
13713    22,July,2004
Name: date, dtype: object
13714     23,May,2004
13714    22,July,2004
Name: date, dtype: object
13715     21,May,2004
13715    23,July,2004
Name: date, dtype: object
13716     21,May,2004
13716    23,July,2004
Name: date, dtype: object
13717     20,May,2004
13717    24,July,2004
Name: date, dtype: object
13718     19,May,2004
13718    24,July,2004
Name: date, dtype: object
13719     18,May,2004
13719    24,July,2004
Name: date, dtype: object
13720     17,May,2004
13720    26,July,2004
Name: date, dtype: object
13721     14,May,2004
13721    26,July,2004
Name: date, dtype: object
13722     09,May,2004
13722    30,July,2004
Name: date, dtype: object
13723     08,May,2004
13723    30,July,2004
Name: date, dtype: object
13724     06,May,2004
13724    31,July,2004
Name: date, dtype: object
13725       04,May,2004
13725    03,August,2004
Name: date, dtype: object
13726       04,May,2004
13726    04,August,2004
Name: date, dtype: object
13727      29,June,2004
13727    04,August,2004
Name: date, dtype: object
13728      27,June,2004
13728    04,August,2004
Name: date, dtype: object
13729      25,June,2004
13729    06,August,2004
Name: date, dtype: object
13730      21,June,2004
13730    06,August,2004
Name: date, dtype: object
13731      20,June,2004
13731    07,August,2004
Name: date, dtype: object
13732      20,June,2004
13732    07,August,2004
Name: date, dtype: object
13733      20,June,2004
13733    07,August,2004
Name: date, dtype: object
13734      18,June,2004
13734    08,August,2004
Name: date, dtype: object
13735      17,June,2004
13735    08,August,2004
Name: date, dtype: object
13736      17,June,2004
13736    09,August,2004
Name: date, dtype: object
13737      17,June,2004
13737    09,August,2004
Name: date, dtype: object
13738      16,June,2004
13738    09,August,2004
Name: date, dtype: object
13739      16,June,2004
13739    13,August,2004
Name: date, dtype: object
13740      16,June,2004
13740    15,August,2004
Name: date, dtype: object
13741      16,June,2004
13741    16,August,2004
Name: date, dtype: object
13742      16,June,2004
13742    19,August,2004
Name: date, dtype: object
13743    16,June,2004
13743     31,May,2004
Name: date, dtype: object

13744    16,June,2004
13744     30,May,2004
Name: date, dtype: object
13745    15,June,2004
13745     30,May,2004
Name: date, dtype: object
13746    15,June,2004
13746     30,May,2004
Name: date, dtype: object
13747    14,June,2004
13747     29,May,2004
Name: date, dtype: object
13748    12,June,2004
13748     28,May,2004
Name: date, dtype: object
13749    10,June,2004
13749     28,May,2004
Name: date, dtype: object
13750    06,June,2004
13750     27,May,2004
Name: date, dtype: object
13751    06,June,2004
13751     27,May,2004
Name: date, dtype: object
13752    06,June,2004
13752     27,May,2004
Name: date, dtype: object
13753    05,June,2004
13753     27,May,2004
Name: date, dtype: object
13754    04,June,2004
13754     26,May,2004
Name: date, dtype: object
13755    03,June,2004
13755     26,May,2004
Name: date, dtype: object
13756    02,June,2004
13756     26,May,2004
Name: date, dtype: object
13757    02,June,2004
13757     26,May,2004
Name: date, dtype: object
13758    31,July,2004
13758     26,May,2004
Name: date, dtype: object
13759    30,July,2004
13759     26,May,2004
Name: date, dtype: object
13760    29,July,2004
13760     26,May,2004
Name: date, dtype: object
13761    27,July,2004
13761     25,May,2004
Name: date, dtype: object
13762    27,July,2004
13762     25,May,2004
Name: date, dtype: object
13763    26,July,2004
13763     25,May,2004
Name: date, dtype: object
13764    26,July,2004
13764     25,May,2004
Name: date, dtype: object
13765    23,July,2004
13765     25,May,2004
Name: date, dtype: object
13766    22,July,2004
13766     25,May,2004
Name: date, dtype: object
13767    22,July,2004
13767     25,May,2004
Name: date, dtype: object
13768    21,July,2004
13768     25,May,2004
Name: date, dtype: object
13769    19,July,2004
13769     25,May,2004
Name: date, dtype: object
13770    17,July,2004
13770     25,May,2004
Name: date, dtype: object
13771    16,July,2004
13771     25,May,2004
Name: date, dtype: object
13772    15,July,2004
13772     25,May,2004
Name: date, dtype: object
13773    15,July,2004
13773     25,May,2004
Name: date, dtype: object
13774    15,July,2004
13774     25,May,2004
Name: date, dtype: object
13775    15,July,2004
13775    04,June,2004
Name: date, dtype: object
13776    13,July,2004
13776    01,June,2004
Name: date, dtype: object
13777    12,July,2004
13777    01,June,2004
Name: date, dtype: object
13778    08,July,2004
13778    01,June,2004
Name: date, dtype: object
13779    07,July,2004
13779    01,June,2004
Name: date, dtype: object
13780    05,July,2004
13780    01,June,2004
Name: date, dtype: object
13781    05,July,2004
13781    01,June,2004
Name: date, dtype: object
13782    04,July,2004
13782    01,June,2004
Name: date, dtype: object
13783    03,July,2004
13783    01,June,2004
Name: date, dtype: object
13784    02,July,2004
13784    21,July,2004
Name: date, dtype: object
13785    02,July,2004
13785    20,July,2004
Name: date, dtype: object
13786    05,August,2004
13786      19,July,2004
Name: date, dtype: object
13787    02,August,2004
13787      19,July,2004
Name: date, dtype: object
13788       19,July,2004
13788    31,January,2004
Name: date, dtype: object
13789       06,July,2004
13789    30,January,2004
Name: date, dtype: object
13790       23,July,2004
13790    28,January,2004
Name: date, dtype: object
13791       22,July,2004
13791    27,January,2004
Name: date, dtype: object
13792       20,July,2004
13792    26,January,2004
Name: date, dtype: object
13793       20,July,2004
13793    24,January,2004
Name: date, dtype: object
13794       20,July,2004
13794    23,January,2004
Name: date, dtype: object
13795        16,May,2004
13795    22,January,2004
Name: date, dtype: object
13796        13,May,2004
13796    21,January,2004
Name: date, dtype: object
13797        12,May,2004
13797    20,January,2004
Name: date, dtype: object
13798        10,May,2004
13798    19,January,2004
Name: date, dtype: object
13799        09,May,2004
13799    19,January,2004
Name: date, dtype: object
13800       12,June,2004
13800    19,January,2004
Name: date, dtype: object
13801       11,June,2004
13801    19,January,2004
Name: date, dtype: object
13802        22,July,2004
13802    16,February,2004
Name: date, dtype: object
13803    28,February,2003
13803    12,February,2004
Name: date, dtype: object
13804    19,February,2003
13804    11,February,2004
Name: date, dtype: object
13805    18,February,2003
13805    09,February,2004
Name: date, dtype: object
13806    15,February,2003
13806    06,February,2004
Name: date, dtype: object
13807    14,February,2003
13807    05,February,2004
Name: date, dtype: object
13808       31,March,2003
13808    04,February,2004
Name: date, dtype: object
13809       30,March,2003
13809    03,February,2004
Name: date, dtype: object
13810       30,March,2003
13810    03,February,2004
Name: date, dtype: object
13811    28,March,2003
13811    27,March,2004
Name: date, dtype: object
13812    27,March,2003
13812    26,March,2004
Name: date, dtype: object
13813    25,March,2003
13813    01,March,2004
Name: date, dtype: object
13814    24,March,2003
13814      13,May,2004
Name: date, dtype: object
13815    19,March,2003
13815      07,May,2004
Name: date, dtype: object
13816    18,March,2003
13816      06,May,2004
Name: date, dtype: object
13817    17,March,2003
13817      06,May,2004
Name: date, dtype: object
13818    16,March,2003
13818      05,May,2004
Name: date, dtype: object
13819    14,March,2003
13819      04,May,2004
Name: date, dtype: object
13820    14,March,2003
13820      04,May,2004
Name: date, dtype: object
13821    07,March,2003
13821     12,June,2004
Name: date, dtype: object
13822    06,March,2003
13822     12,June,2004
Name: date, dtype: object
13823    05,March,2003
13823     30,July,2004
Name: date, dtype: object
13824    05,March,2003
13824     29,July,2004
Name: date, dtype: object
13825    02,March,2003
13825     28,July,2004
Name: date, dtype: object
13826    29,April,2003
13826     28,July,2004
Name: date, dtype: object
13827    28,April,2003
13827     27,July,2004
Name: date, dtype: object
13828    27,April,2003
13828     25,July,2004
Name: date, dtype: object
13829    27,April,2003
13829     25,July,2004
Name: date, dtype: object
13830    27,April,2003
13830     25,July,2004
Name: date, dtype: object
13831    25,April,2003
13831     17,July,2004
Name: date, dtype: object
13832    21,April,2003
13832     16,July,2004
Name: date, dtype: object
13833    19,April,2003
13833     09,July,2004
Name: date, dtype: object
13834    16,April,2003
13834     09,July,2004
Name: date, dtype: object
13835    15,April,2003
13835     07,July,2004
Name: date, dtype: object
13836    14,April,2003
13836     07,July,2004
Name: date, dtype: object
13837     13,April,2003
13837    10,August,2004
Name: date, dtype: object
13838     12,April,2003
13838    09,August,2004
Name: date, dtype: object
13839     11,April,2003
13839    06,August,2004
Name: date, dtype: object
13840     11,April,2003
13840    05,August,2004
Name: date, dtype: object
13841     10,April,2003
13841    05,August,2004
Name: date, dtype: object
13842     09,April,2003
13842    05,August,2004
Name: date, dtype: object
13843     05,April,2003
13843    04,August,2004
Name: date, dtype: object
13844     03,April,2003
13844    03,August,2004
Name: date, dtype: object
13845     01,April,2003
13845    01,August,2004
Name: date, dtype: object
13846       22,May,2003
13846    02,August,2004
Name: date, dtype: object
13847       21,May,2003
13847    02,August,2004
Name: date, dtype: object
13848       20,May,2003
13848    02,August,2004
Name: date, dtype: object
13849       18,May,2003
13849    02,August,2004
Name: date, dtype: object
13850       16,May,2003
13850    02,August,2004
Name: date, dtype: object
13851       12,May,2003
13851    02,August,2004
Name: date, dtype: object
13852       11,May,2003
13852    02,August,2004
Name: date, dtype: object
13853       10,May,2003
13853    02,August,2004
Name: date, dtype: object
13854       08,May,2003
13854    02,August,2004
Name: date, dtype: object
13855       08,May,2003
13855    02,August,2004
Name: date, dtype: object
13856       07,May,2003
13856    08,August,2004
Name: date, dtype: object
13857         06,May,2003
13857    30,November,2003
Name: date, dtype: object
13858         06,May,2003
13858    29,November,2003
Name: date, dtype: object
13859         06,May,2003
13859    29,November,2003
Name: date, dtype: object
13860         06,May,2003
13860    28,November,2003
Name: date, dtype: object
13861         05,May,2003
13861    28,November,2003
Name: date, dtype: object
13862         03,May,2003
13862    27,November,2003
Name: date, dtype: object
13863         01,May,2003
13863    27,November,2003
Name: date, dtype: object
13864      30,August,2003
13864    26,November,2003
Name: date, dtype: object
13865      26,August,2003
13865    26,November,2003
Name: date, dtype: object
13866      24,August,2003
13866    25,November,2003
Name: date, dtype: object
13867      23,August,2003
13867    25,November,2003
Name: date, dtype: object
13868      22,August,2003
13868    25,November,2003
Name: date, dtype: object
13869      20,August,2003
13869    25,November,2003
Name: date, dtype: object
13870      19,August,2003
13870    25,November,2003
Name: date, dtype: object
13871      18,August,2003
13871    25,November,2003
Name: date, dtype: object
13872      12,August,2003
13872    25,November,2003
Name: date, dtype: object
13873    29,September,2003
13873     25,November,2003
Name: date, dtype: object
13874    27,September,2003
13874     25,November,2003
Name: date, dtype: object
13875    26,September,2003
13875     25,November,2003
Name: date, dtype: object
13876    25,September,2003
13876     25,November,2003
Name: date, dtype: object
13877    25,September,2003
13877     25,November,2003
Name: date, dtype: object
13878    21,September,2003
13878     25,November,2003
Name: date, dtype: object
13879    20,September,2003
13879     30,December,2003
Name: date, dtype: object
13880    18,September,2003
13880     25,December,2003
Name: date, dtype: object

13881    18,September,2003
13881     25,December,2003
Name: date, dtype: object
13882    18,September,2003
13882     16,December,2003
Name: date, dtype: object
13883    17,September,2003
13883     12,December,2003
Name: date, dtype: object
13884    17,September,2003
13884     10,December,2003
Name: date, dtype: object
13885    16,September,2003
13885     10,December,2003
Name: date, dtype: object
13886    15,September,2003
13886     08,December,2003
Name: date, dtype: object
13887    14,September,2003
13887     08,December,2003
Name: date, dtype: object
13888    12,September,2003
13888     07,December,2003
Name: date, dtype: object
13889    10,September,2003
13889     07,December,2003
Name: date, dtype: object
13890    07,September,2003
13890     03,December,2003
Name: date, dtype: object
13891    06,September,2003
13891     02,December,2003
Name: date, dtype: object
13892    04,September,2003
13892     02,December,2003
Name: date, dtype: object
13893    02,September,2003
13893     02,December,2003
Name: date, dtype: object
13894    01,September,2003
13894     01,December,2003
Name: date, dtype: object
13895    01,September,2003
13895     01,December,2003
Name: date, dtype: object
13896     30,October,2003
13896    01,December,2003
Name: date, dtype: object
13897    28,October,2003
13897    31,January,2004
Name: date, dtype: object
13898    28,October,2003
13898    24,January,2004
Name: date, dtype: object
13899    27,October,2003
13899    20,January,2004
Name: date, dtype: object
13900    26,October,2003
13900    19,January,2004
Name: date, dtype: object
13901    23,October,2003
13901    13,January,2004
Name: date, dtype: object
13902    22,October,2003
13902    12,January,2004
Name: date, dtype: object
13903    22,October,2003
13903    07,January,2004
Name: date, dtype: object
13904    21,October,2003
13904    06,January,2004
Name: date, dtype: object
13905    21,October,2003
13905    06,January,2004
Name: date, dtype: object
13906    20,October,2003
13906    05,January,2004
Name: date, dtype: object
13907    20,October,2003
13907    05,January,2004
Name: date, dtype: object
13908    18,October,2003
13908    05,January,2004
Name: date, dtype: object
13909    15,October,2003
13909    05,January,2004
Name: date, dtype: object
13910     14,October,2003
13910    24,February,2004
Name: date, dtype: object
13911     13,October,2003
13911    22,February,2004
Name: date, dtype: object
13912     10,October,2003
13912    17,February,2004
Name: date, dtype: object
13913     08,October,2003
13913    16,February,2004
Name: date, dtype: object
13914     07,October,2003
13914    13,February,2004
Name: date, dtype: object
13915     06,October,2003
13915    12,February,2004
Name: date, dtype: object
13916     06,October,2003
13916    12,February,2004
Name: date, dtype: object
13917     06,October,2003
13917    11,February,2004
Name: date, dtype: object
13918     05,October,2003
13918    11,February,2004
Name: date, dtype: object
13919     04,October,2003
13919    11,February,2004
Name: date, dtype: object
13920     03,October,2003
13920    08,February,2004
Name: date, dtype: object
13921     03,October,2003
13921    08,February,2004
Name: date, dtype: object
13922     02,October,2003
13922    08,February,2004
Name: date, dtype: object
13923     02,October,2003
13923    01,February,2004
Name: date, dtype: object
13924    01,October,2003
13924      24,March,2004
Name: date, dtype: object
13925    30,November,2003
13925       23,March,2004
Name: date, dtype: object
13926    27,November,2003
13926       22,March,2004
Name: date, dtype: object
13927    26,November,2003
13927       20,March,2004
Name: date, dtype: object
13928    26,November,2003
13928       01,March,2004
Name: date, dtype: object
13929    13,November,2003
13929       28,April,2004
Name: date, dtype: object
13930    11,November,2003
13930       08,April,2004
Name: date, dtype: object
13931    11,November,2003
13931       02,April,2004
Name: date, dtype: object
13932    10,November,2003
13932         27,May,2004
Name: date, dtype: object
13933    08,November,2003
13933         26,May,2004
Name: date, dtype: object
13934    07,November,2003
13934         24,May,2004
Name: date, dtype: object
13935    05,November,2003
13935         18,May,2004
Name: date, dtype: object
13936    05,November,2003
13936         11,May,2004
Name: date, dtype: object
13937    04,November,2003
13937         10,May,2004
Name: date, dtype: object
13938    04,November,2003
13938         10,May,2004
Name: date, dtype: object
13939    02,November,2003
13939         05,May,2004
Name: date, dtype: object
13940    15,December,2003
13940        17,June,2004
Name: date, dtype: object
13941    14,December,2003
13941        13,June,2004
Name: date, dtype: object
13942    09,December,2003
13942        21,July,2004
Name: date, dtype: object
13943    08,December,2003
13943        21,July,2004
Name: date, dtype: object
13944    07,December,2003
13944        21,July,2004
Name: date, dtype: object
13945    05,December,2003
13945        21,July,2004
Name: date, dtype: object
13946    29,January,2004
13946       21,July,2004
Name: date, dtype: object
13947    28,January,2004
13947       21,July,2004
Name: date, dtype: object
13948    24,January,2004
13948       21,July,2004
Name: date, dtype: object
13949    24,January,2004
13949       21,July,2004
Name: date, dtype: object
13950    23,January,2004
13950       21,July,2004
Name: date, dtype: object
13951    17,January,2004
13951       21,July,2004
Name: date, dtype: object
13952    12,January,2004
13952       21,July,2004
Name: date, dtype: object
13953    10,January,2004
13953       21,July,2004
Name: date, dtype: object
13954    09,January,2004
13954       21,July,2004
Name: date, dtype: object
13955    05,January,2004
13955       21,July,2004
Name: date, dtype: object
13956    29,February,2004
13956        21,July,2004
Name: date, dtype: object
13957    28,February,2004
13957        21,July,2004
Name: date, dtype: object
13958    27,February,2004
13958        21,July,2004
Name: date, dtype: object
13959    25,February,2004
13959        21,July,2004
Name: date, dtype: object
13960    24,February,2004
13960        21,July,2004
Name: date, dtype: object
13961    23,February,2004
13961        21,July,2004
Name: date, dtype: object
13962    22,February,2004
13962        21,July,2004
Name: date, dtype: object
13963    20,February,2004
13963        21,July,2004
Name: date, dtype: object
13964    18,February,2004
13964        21,July,2004
Name: date, dtype: object
13965    16,February,2004
13965        21,July,2004
Name: date, dtype: object
13966    16,February,2004
13966        21,July,2004
Name: date, dtype: object
13967    03,February,2004
13967        21,July,2004
Name: date, dtype: object
13968    02,February,2004
13968        21,July,2004
Name: date, dtype: object
13969    01,February,2004
13969        21,July,2004
Name: date, dtype: object
13970    30,March,2004
13970     21,July,2004
Name: date, dtype: object
13971    29,March,2004
13971     21,July,2004
Name: date, dtype: object
13972    28,March,2004
13972     21,July,2004
Name: date, dtype: object
13973    24,March,2004
13973     21,July,2004
Name: date, dtype: object
13974    23,March,2004
13974     21,July,2004
Name: date, dtype: object
13975    21,March,2004
13975     21,July,2004
Name: date, dtype: object
13976    20,March,2004
13976     21,July,2004
Name: date, dtype: object
13977    19,March,2004
13977     21,July,2004
Name: date, dtype: object
13978    19,March,2004
13978     21,July,2004
Name: date, dtype: object
13979    18,March,2004
13979     21,July,2004
Name: date, dtype: object
13980    16,March,2004
13980     21,July,2004
Name: date, dtype: object
13981    16,March,2004
13981     21,July,2004
Name: date, dtype: object
13982    15,March,2004
13982     21,July,2004
Name: date, dtype: object
13983    14,March,2004
13983     21,July,2004
Name: date, dtype: object
13984    13,March,2004
13984     21,July,2004
Name: date, dtype: object
13985    11,March,2004
13985     21,July,2004
Name: date, dtype: object
13986    08,March,2004
13986     21,July,2004
Name: date, dtype: object
13987    03,March,2004
13987     21,July,2004
Name: date, dtype: object
13988    01,March,2004
13988     21,July,2004
Name: date, dtype: object
13989    28,April,2004
13989     21,July,2004
Name: date, dtype: object
13990    21,April,2004
13990     21,July,2004
Name: date, dtype: object
13991    17,April,2004
13991     21,July,2004
Name: date, dtype: object
13992    15,April,2004
13992     21,July,2004
Name: date, dtype: object
13993    13,April,2004
13993     21,July,2004
Name: date, dtype: object
13994    13,April,2004
13994     21,July,2004
Name: date, dtype: object
13995    11,April,2004
13995     21,July,2004
Name: date, dtype: object
13996    11,April,2004
13996     21,July,2004
Name: date, dtype: object
13997    08,April,2004
13997    15,April,2004
Name: date, dtype: object
13998     06,April,2004
13998    24,August,2004
Name: date, dtype: object
13999     01,April,2004
13999    18,August,2004
Name: date, dtype: object
14000       30,May,2004
14000    03,August,2004
Name: date, dtype: object
14001     29,May,2004
14001    02,July,2004
Name: date, dtype: object
14002     26,May,2004
14002    02,July,2004
Name: date, dtype: object
14003     21,May,2004
14003    02,July,2004
Name: date, dtype: object
14004     20,May,2004
14004    02,July,2004
Name: date, dtype: object
14005     19,May,2004
14005    02,July,2004
Name: date, dtype: object
14006     14,May,2004
14006    02,July,2004
Name: date, dtype: object
14007     12,May,2004
14007    02,July,2004
Name: date, dtype: object
14008     12,May,2004
14008    29,July,2004
Name: date, dtype: object
14009     11,May,2004
14009    28,July,2004
Name: date, dtype: object
14010     10,May,2004
14010    28,July,2004
Name: date, dtype: object
14011     08,May,2004
14011    28,July,2004
Name: date, dtype: object
14012     07,May,2004
14012    28,July,2004
Name: date, dtype: object

14013     04,May,2004
14013    27,July,2004
Name: date, dtype: object
14014     02,May,2004
14014    27,July,2004
Name: date, dtype: object
14015     01,May,2004
14015    26,July,2004
Name: date, dtype: object
14016    24,June,2004
14016    26,July,2004
Name: date, dtype: object
14017    19,June,2004
14017    26,July,2004
Name: date, dtype: object
14018    31,July,2004
14018    26,July,2004
Name: date, dtype: object
14019    28,July,2004
14019    26,July,2004
Name: date, dtype: object
14020      20,July,2004
14020    06,August,2004
Name: date, dtype: object
14021      09,July,2004
14021    09,August,2004
Name: date, dtype: object
14022      06,July,2004
14022    09,August,2004
Name: date, dtype: object
14023      04,July,2004
14023    18,August,2004
Name: date, dtype: object
14024    04,July,2004
14024    29,June,2004
Name: date, dtype: object
14025    05,August,2004
14025      28,June,2004
Name: date, dtype: object
14026    03,August,2004
14026      28,June,2004
Name: date, dtype: object
14027    07,July,2004
14027    28,June,2004
Name: date, dtype: object
14028    07,July,2004
14028    27,June,2004
Name: date, dtype: object
14029    30,December,2003
14029        27,June,2004
Name: date, dtype: object
14030    13,December,2003
14030        25,June,2004
Name: date, dtype: object
14031    16,January,2004
14031       24,June,2004
Name: date, dtype: object
14032    14,January,2004
14032       13,July,2004
Name: date, dtype: object
14033    29,June,2004
14033    09,July,2004
Name: date, dtype: object
14034    28,June,2004
14034    04,July,2004
Name: date, dtype: object
14035    27,June,2004
14035    01,July,2004
Name: date, dtype: object
14036    25,June,2004
14036     23,May,2004
Name: date, dtype: object
14037    24,June,2004
14037     21,May,2004
Name: date, dtype: object
14038    23,June,2004
14038     21,May,2004
Name: date, dtype: object
14039      29,July,2004
14039    19,August,2004
Name: date, dtype: object
14040      28,July,2004
14040    17,August,2004
Name: date, dtype: object
14041      26,July,2004
14041    17,August,2004
Name: date, dtype: object
14042      21,July,2004
14042    16,August,2004
Name: date, dtype: object
14043      16,July,2004
14043    14,August,2004
Name: date, dtype: object
14044      14,July,2004
14044    13,August,2004
Name: date, dtype: object
14045      13,July,2004
14045    12,August,2004
Name: date, dtype: object
14046      12,July,2004
14046    12,August,2004
Name: date, dtype: object
14047    11,July,2004
14047     24,May,2003
Name: date, dtype: object
14048    11,July,2004
14048     17,May,2003
Name: date, dtype: object
14049    09,July,2004
14049     13,May,2003
Name: date, dtype: object
14050    08,July,2004
14050     11,May,2003
Name: date, dtype: object
14051    07,July,2004
14051     10,May,2003
Name: date, dtype: object
14052    06,July,2004
14052     08,May,2003
Name: date, dtype: object
14053    06,July,2004
14053     06,May,2003
Name: date, dtype: object
14054    05,July,2004
14054     02,May,2003
Name: date, dtype: object
14055    02,July,2004
14055     02,May,2003
Name: date, dtype: object
14056    01,July,2004
14056    23,June,2003
Name: date, dtype: object
14057    04,August,2004
14057      12,June,2003
Name: date, dtype: object
14058    02,August,2004
14058      10,June,2003
Name: date, dtype: object
14059     26,May,2004
14059    22,July,2003
Name: date, dtype: object
14060     20,May,2004
14060    17,July,2003
Name: date, dtype: object
14061     20,May,2004
14061    17,July,2003
Name: date, dtype: object
14062     19,May,2004
14062    16,July,2003
Name: date, dtype: object
14063     18,May,2004
14063    13,July,2003
Name: date, dtype: object
14064     17,May,2004
14064    12,July,2003
Name: date, dtype: object
14065     15,May,2004
14065    08,July,2003
Name: date, dtype: object
14066       13,May,2004
14066    27,August,2003
Name: date, dtype: object
14067       12,May,2004
14067    15,August,2003
Name: date, dtype: object
14068       11,May,2004
14068    15,August,2003
Name: date, dtype: object
14069       10,May,2004
14069    15,August,2003
Name: date, dtype: object
14070          10,May,2004
14070    22,September,2003
Name: date, dtype: object
14071        10,May,2004
14071    18,October,2003
Name: date, dtype: object
14072       02,June,2004
14072    08,October,2003
Name: date, dtype: object
14073       30,July,2004
14073    06,October,2003
Name: date, dtype: object
14074       19,July,2004
14074    03,October,2003
Name: date, dtype: object
14075         31,May,2004
14075    12,December,2003
Name: date, dtype: object
14076        28,May,2004
14076    24,January,2004
Name: date, dtype: object
14077         28,May,2004
14077    22,February,2004
Name: date, dtype: object
14078         28,May,2004
14078    13,February,2004
Name: date, dtype: object
14079         28,May,2004
14079    03,February,2004
Name: date, dtype: object
14080         28,May,2004
14080    02,February,2004
Name: date, dtype: object
14081        03,June,2004
14081    02,February,2004
Name: date, dtype: object
14082        02,June,2004
14082    02,February,2004
Name: date, dtype: object
14083        02,June,2004
14083    02,February,2004
Name: date, dtype: object
14084     02,June,2004
14084    23,March,2004
Name: date, dtype: object
14085     02,June,2004
14085    15,March,2004
Name: date, dtype: object
14086     02,June,2004
14086    10,March,2004
Name: date, dtype: object
14087      31,May,2004
14087    08,March,2004
Name: date, dtype: object
14088      24,May,2004
14088    04,March,2004
Name: date, dtype: object
14089      23,May,2004
14089    24,April,2004
Name: date, dtype: object
14090      22,May,2004
14090    23,April,2004
Name: date, dtype: object
14091      22,May,2004
14091    22,April,2004
Name: date, dtype: object
14092     01,June,2004
14092    20,April,2004
Name: date, dtype: object
14093     15,July,2004
14093    18,April,2004
Name: date, dtype: object
14094     14,July,2004
14094    10,April,2004
Name: date, dtype: object
14095     14,July,2004
14095    08,April,2004
Name: date, dtype: object
14096    14,July,2004
14096     27,May,2004
Name: date, dtype: object
14097    18,August,2003
14097       23,May,2004
Name: date, dtype: object
14098    14,August,2003
14098       23,May,2004
Name: date, dtype: object
14099    13,August,2003
14099       21,May,2004
Name: date, dtype: object
14100    12,August,2003
14100       20,May,2004
Name: date, dtype: object
14101    11,August,2003
14101       16,May,2004
Name: date, dtype: object
14102    18,January,2004
14102        09,May,2004
Name: date, dtype: object
14103    24,March,2004
14103      07,May,2004
Name: date, dtype: object
14104    12,March,2004
14104      03,May,2004
Name: date, dtype: object
14105    03,March,2004
14105      02,May,2004
Name: date, dtype: object
14106    02,March,2004
14106     28,June,2004
Name: date, dtype: object
14107    30,June,2004
14107    26,June,2004
Name: date, dtype: object
14108    29,June,2004
14108    22,June,2004
Name: date, dtype: object
14109    29,June,2004
14109    16,June,2004
Name: date, dtype: object
14110    16,June,2004
14110    09,June,2004
Name: date, dtype: object
14111    30,July,2004
14111    08,June,2004
Name: date, dtype: object
14112    29,July,2004
14112    08,June,2004
Name: date, dtype: object
14113    28,July,2004
14113    08,June,2004
Name: date, dtype: object
14114    28,July,2004
14114    08,June,2004
Name: date, dtype: object
14115    27,July,2004
14115    01,June,2004
Name: date, dtype: object
14116    27,July,2004
14116    30,July,2004
Name: date, dtype: object
14117    26,July,2004
14117    19,July,2004
Name: date, dtype: object
14118    25,July,2004
14118    18,July,2004
Name: date, dtype: object
14119    23,July,2004
14119    12,July,2004
Name: date, dtype: object
14120    22,July,2004
14120    07,July,2004
Name: date, dtype: object
14121    22,July,2004
14121    03,July,2004
Name: date, dtype: object
14122      13,July,2004
14122    04,August,2004
Name: date, dtype: object
14123      12,July,2004
14123    03,August,2004
Name: date, dtype: object
14124      11,July,2004
14124    20,August,2004
Name: date, dtype: object
14125      09,July,2004
14125    16,August,2004
Name: date, dtype: object
14126      09,July,2004
14126    11,August,2004
Name: date, dtype: object
14127      08,July,2004
14127    11,August,2004
Name: date, dtype: object
14128      08,July,2004
14128    10,August,2004
Name: date, dtype: object
14129      06,July,2004
14129    10,August,2004
Name: date, dtype: object
14130      01,July,2004
14130    09,August,2004
Name: date, dtype: object
14131    09,August,2004
14131    09,August,2004
Name: date, dtype: object
14132    05,August,2004
14132    08,August,2004
Name: date, dtype: object
14133    04,August,2004
14133    07,August,2004
Name: date, dtype: object
14134    01,August,2004
14134    04,August,2004
Name: date, dtype: object
14135      19,June,2004
14135    03,August,2004
Name: date, dtype: object

14136      07,June,2004
14136    02,August,2004
Name: date, dtype: object
14137      04,June,2004
14137    02,August,2004
Name: date, dtype: object
14138      03,June,2004
14138    23,August,2004
Name: date, dtype: object
14139      30,July,2004
14139    22,August,2004
Name: date, dtype: object
14140      09,July,2004
14140    22,August,2004
Name: date, dtype: object
14141      03,July,2004
14141    22,August,2004
Name: date, dtype: object
14142    18,June,2004
14142     26,May,2004
Name: date, dtype: object
14143    17,June,2004
14143     22,May,2004
Name: date, dtype: object
14144    21,July,2004
14144     21,May,2004
Name: date, dtype: object
14145    12,July,2004
14145     21,May,2004
Name: date, dtype: object
14146    04,August,2004
14146       21,May,2004
Name: date, dtype: object
14147    31,July,2004
14147     21,May,2004
Name: date, dtype: object
14148    30,July,2004
14148     21,May,2004
Name: date, dtype: object
14149    30,July,2004
14149     21,May,2004
Name: date, dtype: object
14150    30,July,2004
14150     21,May,2004
Name: date, dtype: object
14151    29,July,2004
14151     21,May,2004
Name: date, dtype: object
14152    29,July,2004
14152     21,May,2004
Name: date, dtype: object
14153    28,July,2004
14153     21,May,2004
Name: date, dtype: object
14154    24,July,2004
14154     21,May,2004
Name: date, dtype: object
14155    23,July,2004
14155     21,May,2004
Name: date, dtype: object
14156    21,July,2004
14156     21,May,2004
Name: date, dtype: object
14157    20,July,2004
14157    26,June,2004
Name: date, dtype: object
14158    19,July,2004
14158    21,June,2004
Name: date, dtype: object
14159    18,July,2004
14159    07,June,2004
Name: date, dtype: object
14160    17,July,2004
14160    01,June,2004
Name: date, dtype: object
14161    17,July,2004
14161    01,June,2004
Name: date, dtype: object
14162    16,July,2004
14162    12,July,2004
Name: date, dtype: object
14163    15,July,2004
14163    12,July,2004
Name: date, dtype: object
14164    15,July,2004
14164    03,July,2004
Name: date, dtype: object
14165    13,July,2004
14165    05,July,2004
Name: date, dtype: object
14166    13,July,2004
14166    06,July,2004
Name: date, dtype: object
14167    12,July,2004
14167    04,July,2004
Name: date, dtype: object
14168    11,July,2004
14168    04,July,2004
Name: date, dtype: object
14169    11,July,2004
14169    04,July,2004
Name: date, dtype: object
14170    17,August,2004
14170      04,July,2004
Name: date, dtype: object
14171    15,August,2004
14171      14,June,2004
Name: date, dtype: object
14172    15,August,2004
14172      10,July,2004
Name: date, dtype: object
14173    15,August,2004
14173      07,July,2004
Name: date, dtype: object
14174    13,August,2004
14174      04,July,2004
Name: date, dtype: object
14175    12,August,2004
14175      04,July,2004
Name: date, dtype: object
14176    11,August,2004
14176      04,July,2004
Name: date, dtype: object
14177    11,August,2004
14177      04,July,2004
Name: date, dtype: object
14178    10,August,2004
14178      04,July,2004
Name: date, dtype: object
14179    10,August,2004
14179      30,July,2004
Name: date, dtype: object
14180    09,August,2004
14180      29,July,2004
Name: date, dtype: object
14181    08,August,2004
14181      28,July,2004
Name: date, dtype: object
14182    08,August,2004
14182      27,July,2004
Name: date, dtype: object
14183    07,August,2004
14183      27,July,2004
Name: date, dtype: object
14184    07,August,2004
14184      25,July,2004
Name: date, dtype: object
14185    07,August,2004
14185      24,July,2004
Name: date, dtype: object
14186    06,August,2004
14186      23,July,2004
Name: date, dtype: object
14187    06,August,2004
14187      23,July,2004
Name: date, dtype: object
14188    04,August,2004
14188      22,July,2004
Name: date, dtype: object
14189    04,August,2004
14189      22,July,2004
Name: date, dtype: object
14190    04,August,2004
14190      22,July,2004
Name: date, dtype: object
14191    03,August,2004
14191    12,August,2004
Name: date, dtype: object
14192    03,August,2004
14192    11,August,2004
Name: date, dtype: object
14193    01,August,2004
14193    10,August,2004
Name: date, dtype: object
14194    01,August,2004
14194    10,August,2004
Name: date, dtype: object
14195      18,June,2004
14195    10,August,2004
Name: date, dtype: object
14196      17,June,2004
14196    10,August,2004
Name: date, dtype: object
14197    29,October,2000
14197     08,August,2004
Name: date, dtype: object
14198    24,January,2001
14198     05,August,2004
Name: date, dtype: object
14199    05,January,2001
14199     04,August,2004
Name: date, dtype: object
14200    03,January,2001
14200       30,July,2004
Name: date, dtype: object
14201    13,February,2002
14201        29,July,2004
Name: date, dtype: object
14202     25,May,2002
14202    29,July,2004
Name: date, dtype: object
14203    25,June,2002
14203    29,July,2004
Name: date, dtype: object
14204    17,June,2002
14204    27,July,2004
Name: date, dtype: object
14205    13,June,2002
14205    27,July,2004
Name: date, dtype: object
14206    04,June,2002
14206    26,July,2004
Name: date, dtype: object
14207    26,July,2002
14207    26,July,2004
Name: date, dtype: object
14208    23,July,2002
14208    26,July,2004
Name: date, dtype: object
14209    18,July,2002
14209    23,July,2004
Name: date, dtype: object
14210    15,July,2002
14210    21,July,2004
Name: date, dtype: object
14211    10,July,2002
14211    20,July,2004
Name: date, dtype: object
14212    07,July,2002
14212    19,July,2004
Name: date, dtype: object
14213    29,August,2002
14213      19,July,2004
Name: date, dtype: object
14214    28,August,2002
14214      19,July,2004
Name: date, dtype: object
14215    26,August,2002
14215      18,July,2004
Name: date, dtype: object
14216    23,August,2002
14216      18,July,2004
Name: date, dtype: object
14217    21,August,2002
14217      16,July,2004
Name: date, dtype: object
14218    20,August,2002
14218      15,July,2004
Name: date, dtype: object
14219    18,August,2002
14219      15,July,2004
Name: date, dtype: object
14220    15,August,2002
14220      15,July,2004
Name: date, dtype: object
14221    13,August,2002
14221      14,July,2004
Name: date, dtype: object
14222    08,August,2002
14222      14,July,2004
Name: date, dtype: object
14223    06,August,2002
14223      13,July,2004
Name: date, dtype: object
14224    02,August,2002
14224      13,July,2004
Name: date, dtype: object
14225    02,August,2002
14225      13,July,2004
Name: date, dtype: object
14226    27,September,2002
14226         13,July,2004
Name: date, dtype: object
14227    26,September,2002
14227         12,July,2004
Name: date, dtype: object
14228    23,September,2002
14228         12,July,2004
Name: date, dtype: object
14229    17,September,2002
14229       16,August,2004
Name: date, dtype: object
14230    16,September,2002
14230       12,August,2004
Name: date, dtype: object
14231    13,September,2002
14231       11,August,2004
Name: date, dtype: object
14232    10,September,2002
14232       11,August,2004
Name: date, dtype: object
14233    09,September,2002
14233       09,August,2004
Name: date, dtype: object
14234    28,October,2002
14234     08,August,2004
Name: date, dtype: object
14235    23,October,2002
14235     08,August,2004
Name: date, dtype: object
14236    21,October,2002
14236     07,August,2004
Name: date, dtype: object
14237    18,October,2002
14237     06,August,2004
Name: date, dtype: object
14238    18,October,2002
14238     05,August,2004
Name: date, dtype: object
14239    15,October,2002
14239     05,August,2004
Name: date, dtype: object
14240    14,October,2002
14240     05,August,2004
Name: date, dtype: object
14241    10,October,2002
14241     04,August,2004
Name: date, dtype: object
14242    10,October,2002
14242     04,August,2004
Name: date, dtype: object
14243    07,October,2002
14243     03,August,2004
Name: date, dtype: object
14244    01,October,2002
14244     03,August,2004
Name: date, dtype: object
14245    30,November,2002
14245      03,August,2004
Name: date, dtype: object
14246    27,November,2002
14246      02,August,2004
Name: date, dtype: object
14247    22,November,2002
14247      02,August,2004
Name: date, dtype: object
14248    20,November,2002
14248        04,July,2004
Name: date, dtype: object
14249    19,November,2002
14249        04,July,2004
Name: date, dtype: object
14250    19,November,2002
14250        04,July,2004
Name: date, dtype: object
14251    15,November,2002
14251        04,July,2004
Name: date, dtype: object
14252    13,November,2002
14252        04,July,2004
Name: date, dtype: object
14253    11,November,2002
14253        31,July,2004
Name: date, dtype: object
14254    05,November,2002
14254        30,July,2004
Name: date, dtype: object
14255    01,November,2002
14255        30,July,2004
Name: date, dtype: object
14256    01,November,2002
14256        29,July,2004
Name: date, dtype: object
14257    31,December,2002
14257      03,August,2004
Name: date, dtype: object
14258    30,December,2002
14258         27,May,2004
Name: date, dtype: object
14259    23,December,2002
14259         26,May,2004
Name: date, dtype: object
14260    23,December,2002
14260         20,May,2004
Name: date, dtype: object
14261    20,December,2002
14261         18,May,2004
Name: date, dtype: object
14262    19,December,2002
14262         17,May,2004
Name: date, dtype: object
14263    11,December,2002
14263         17,May,2004
Name: date, dtype: object
14264    06,December,2002
14264         17,May,2004
Name: date, dtype: object
14265    05,December,2002
14265         14,May,2004
Name: date, dtype: object
14266    04,December,2002
14266         13,May,2004
Name: date, dtype: object
14267    02,December,2002
14267         13,May,2004
Name: date, dtype: object
14268    01,December,2002
14268         13,May,2004
Name: date, dtype: object
14269    29,January,2003
14269        12,May,2004
Name: date, dtype: object
14270    24,January,2003
14270        12,May,2004
Name: date, dtype: object
14271    16,January,2003
14271        11,May,2004
Name: date, dtype: object
14272    13,January,2003
14272        11,May,2004
Name: date, dtype: object
14273    07,January,2003
14273       11,June,2004

Name: date, dtype: object
14274    06,January,2003
14274       07,June,2004
Name: date, dtype: object
14275    02,January,2003
14275       04,June,2004
Name: date, dtype: object
14276    20,February,2003
14276        01,June,2004
Name: date, dtype: object
14277    13,February,2003
14277        29,July,2004
Name: date, dtype: object
14278    12,February,2003
14278        28,July,2004
Name: date, dtype: object
14279    06,February,2003
14279        26,July,2004
Name: date, dtype: object
14280    04,February,2003
14280        21,July,2004
Name: date, dtype: object
14281    27,March,2003
14281     17,July,2004
Name: date, dtype: object
14282    06,March,2003
14282     15,July,2004
Name: date, dtype: object
14283    03,March,2003
14283     13,July,2004
Name: date, dtype: object
14284    24,April,2003
14284     06,July,2004
Name: date, dtype: object
14285    19,April,2003
14285     06,July,2004
Name: date, dtype: object
14286     29,May,2003
14286    03,July,2004
Name: date, dtype: object
14287       14,May,2003
14287    02,August,2004
Name: date, dtype: object
14288     05,May,2003
14288    24,July,2004
Name: date, dtype: object
14289    31,July,2003
14289    23,July,2004
Name: date, dtype: object
14290    22,July,2003
14290    22,July,2004
Name: date, dtype: object
14291    21,July,2003
14291    20,July,2004
Name: date, dtype: object
14292    09,July,2003
14292    20,July,2004
Name: date, dtype: object
14293    07,July,2003
14293    20,July,2004
Name: date, dtype: object
14294    03,July,2003
14294     31,May,2004
Name: date, dtype: object
14295    14,August,2003
14295       31,May,2004
Name: date, dtype: object
14296    12,September,2003
14296          31,May,2004
Name: date, dtype: object
14297    08,September,2003
14297         30,June,2004
Name: date, dtype: object
14298    09,October,2003
14298       27,June,2004
Name: date, dtype: object
14299    17,December,2003
14299        24,June,2004
Name: date, dtype: object
14300    10,December,2003
14300        22,June,2004
Name: date, dtype: object
14301    08,January,2004
14301       19,June,2004
Name: date, dtype: object
14302    20,February,2004
14302        16,June,2004
Name: date, dtype: object
14303    09,March,2004
14303     16,June,2004
Name: date, dtype: object
14304    23,June,2004
14304    14,June,2004
Name: date, dtype: object
14305    11,June,2004
14305    13,June,2004
Name: date, dtype: object
14306    19,July,2004
14306    12,June,2004
Name: date, dtype: object
14307    18,July,2004
14307    11,June,2004
Name: date, dtype: object
14308    10,August,2004
14308      10,June,2004
Name: date, dtype: object
14309    06,August,2004
14309      08,June,2004
Name: date, dtype: object
14310    02,August,2004
14310      07,June,2004
Name: date, dtype: object
14311    27,July,2004
14311    03,June,2004
Name: date, dtype: object
14312    28,June,2004
14312    03,June,2004
Name: date, dtype: object
14313    27,June,2004
14313    02,June,2004
Name: date, dtype: object
14314    26,June,2004
14314    01,June,2004
Name: date, dtype: object
14315    23,June,2004
14315    29,July,2004
Name: date, dtype: object
14316    06,August,2004
14316      26,July,2004
Name: date, dtype: object
14317    16,August,2004
14317      23,July,2004
Name: date, dtype: object
14318    06,August,2004
14318      22,July,2004
Name: date, dtype: object
14319    29,July,2004
14319    21,July,2004
Name: date, dtype: object
14320    28,July,2004
14320    21,July,2004
Name: date, dtype: object
14321    19,July,2004
14321    19,July,2004
Name: date, dtype: object
14322    15,July,2004
14322    18,July,2004
Name: date, dtype: object
14323    10,July,2004
14323    14,July,2004
Name: date, dtype: object
14324    10,July,2004
14324    12,July,2004
Name: date, dtype: object
14325    07,July,2004
14325    06,July,2004
Name: date, dtype: object
14326    15,August,2004
14326      01,July,2004
Name: date, dtype: object
14327    14,August,2004
14327    08,August,2004
Name: date, dtype: object
14328    05,August,2004
14328    06,August,2004
Name: date, dtype: object
14329      11,June,2004
14329    01,August,2004
Name: date, dtype: object
14330    09,June,2004
14330    30,June,2004
Name: date, dtype: object
14331    07,June,2004
14331    15,July,2004
Name: date, dtype: object
14332    07,June,2004
14332    10,July,2004
Name: date, dtype: object
14333    07,June,2004
14333    09,July,2004
Name: date, dtype: object
14334    23,August,2004
14334      01,July,2004
Name: date, dtype: object
14335    22,August,2004
14335     22,April,2004
Name: date, dtype: object
14336    20,August,2004
14336     21,April,2004
Name: date, dtype: object
14337    20,August,2004
14337     21,April,2004
Name: date, dtype: object
14338    11,July,2004
14338     28,May,2004
Name: date, dtype: object
14339    11,July,2004
14339     24,May,2004
Name: date, dtype: object
14340    12,June,2004
14340     23,May,2004
Name: date, dtype: object
14341    12,December,2003
14341         22,May,2004
Name: date, dtype: object
14342    11,December,2003
14342        05,June,2004
Name: date, dtype: object
14343    10,December,2003
14343        11,July,2004
Name: date, dtype: object
14344    10,December,2003
14344         28,May,2004
Name: date, dtype: object
14345    10,December,2003
14345        18,June,2004
Name: date, dtype: object
14346    10,December,2003
14346        14,June,2004
Name: date, dtype: object
14347    10,December,2003
14347        14,June,2004
Name: date, dtype: object
14348    30,January,2004
14348       13,June,2004
Name: date, dtype: object
14349    29,January,2004
14349       09,June,2004
Name: date, dtype: object
14350    29,January,2004
14350       07,June,2004
Name: date, dtype: object
14351    27,January,2004
14351       07,June,2004
Name: date, dtype: object
14352    27,January,2004
14352       31,July,2004
Name: date, dtype: object
14353    27,January,2004
14353       27,July,2004
Name: date, dtype: object
14354    15,January,2004
14354       26,July,2004
Name: date, dtype: object
14355    15,January,2004
14355       25,July,2004
Name: date, dtype: object
14356    13,January,2004
14356       23,July,2004
Name: date, dtype: object
14357    10,January,2004
14357     05,August,2004
Name: date, dtype: object
14358    25,February,2004
14358      03,August,2004
Name: date, dtype: object
14359    22,February,2004
14359        31,July,2004
Name: date, dtype: object
14360    22,February,2004
14360        31,July,2004
Name: date, dtype: object
14361    22,February,2004
14361        31,July,2004
Name: date, dtype: object
14362    15,February,2004
14362      01,August,2004
Name: date, dtype: object
14363    13,February,2004
14363      03,August,2004
Name: date, dtype: object
14364    13,February,2004
14364      03,August,2004
Name: date, dtype: object
14365    13,February,2004
14365      01,August,2004
Name: date, dtype: object
14366    11,February,2004
14366      01,August,2004
Name: date, dtype: object
14367    11,February,2004
14367      01,August,2004
Name: date, dtype: object
14368     31,March,2004
14368    01,August,2004
Name: date, dtype: object
14369     29,March,2004
14369    01,August,2004
Name: date, dtype: object
14370     29,March,2004
14370    01,August,2004
Name: date, dtype: object
14371     29,March,2004
14371    01,August,2004
Name: date, dtype: object
14372     28,March,2004
14372    01,August,2004
Name: date, dtype: object
14373     28,March,2004
14373    01,August,2004
Name: date, dtype: object
14374     23,March,2004
14374    01,August,2004
Name: date, dtype: object
14375     20,April,2004
14375    01,August,2004
Name: date, dtype: object
14376     19,April,2004
14376    01,August,2004
Name: date, dtype: object
14377     18,April,2004
14377    01,August,2004
Name: date, dtype: object
14378     18,April,2004
14378    01,August,2004
Name: date, dtype: object
14379     17,April,2004
14379    01,August,2004
Name: date, dtype: object
14380     14,April,2004
14380    01,August,2004
Name: date, dtype: object
14381     14,April,2004
14381    01,August,2004
Name: date, dtype: object
14382     13,April,2004
14382    01,August,2004
Name: date, dtype: object
14383     12,April,2004
14383    01,August,2004
Name: date, dtype: object
14384     12,April,2004
14384    01,August,2004
Name: date, dtype: object
14385     11,April,2004
14385    01,August,2004
Name: date, dtype: object
14386     07,April,2004
14386    01,August,2004
Name: date, dtype: object
14387     07,April,2004
14387    01,August,2004
Name: date, dtype: object
14388     06,April,2004
14388    01,August,2004
Name: date, dtype: object
14389     06,April,2004
14389    01,August,2004
Name: date, dtype: object
14390     05,April,2004
14390    01,August,2004
Name: date, dtype: object
14391     05,April,2004
14391    01,August,2004
Name: date, dtype: object
14392     05,April,2004
14392    01,August,2004
Name: date, dtype: object
14393     05,April,2004
14393    01,August,2004
Name: date, dtype: object
14394     04,April,2004
14394    01,August,2004
Name: date, dtype: object
14395     04,April,2004
14395    01,August,2004

Name: date, dtype: object
14396     04,April,2004
14396    01,August,2004
Name: date, dtype: object
14397     03,April,2004
14397    01,August,2004
Name: date, dtype: object
14398     02,April,2004
14398    01,August,2004
Name: date, dtype: object
14399     01,April,2004
14399    01,August,2004
Name: date, dtype: object
14400     01,April,2004
14400    01,August,2004
Name: date, dtype: object
14401     01,April,2004
14401    01,August,2004
Name: date, dtype: object
14402     01,April,2004
14402    01,August,2004
Name: date, dtype: object
14403       28,May,2004
14403    01,August,2004
Name: date, dtype: object
14404       10,May,2004
14404    01,August,2004
Name: date, dtype: object
14405       09,May,2004
14405    01,August,2004
Name: date, dtype: object
14406      14,June,2004
14406    01,August,2004
Name: date, dtype: object
14407      06,July,2004
14407    01,August,2004
Name: date, dtype: object
14408    06,August,2004
14408    01,August,2004
Name: date, dtype: object
14409    04,August,2004
14409    01,August,2004
Name: date, dtype: object
14410    03,August,2004
14410    01,August,2004
Name: date, dtype: object
14411    02,August,2004
14411    01,August,2004
Name: date, dtype: object
14412    02,August,2004
14412    01,August,2004
Name: date, dtype: object
14413    30,November,2003
14413      01,August,2004
Name: date, dtype: object
14414    29,November,2003
14414      01,August,2004
Name: date, dtype: object
14415    28,November,2003
14415      01,August,2004
Name: date, dtype: object
14416    27,November,2003
14416      01,August,2004
Name: date, dtype: object
14417    26,November,2003
14417      01,August,2004
Name: date, dtype: object
14418    25,November,2003
14418      01,August,2004
Name: date, dtype: object
14419    24,November,2003
14419      01,August,2004
Name: date, dtype: object
14420    24,November,2003
14420      01,August,2004
Name: date, dtype: object
14421    23,November,2003
14421      01,August,2004
Name: date, dtype: object
14422    22,November,2003
14422      01,August,2004
Name: date, dtype: object
14423    21,November,2003
14423      01,August,2004
Name: date, dtype: object
14424    20,November,2003
14424      01,August,2004
Name: date, dtype: object
14425    19,November,2003
14425      01,August,2004
Name: date, dtype: object
14426    19,November,2003
14426      01,August,2004
Name: date, dtype: object
14427    18,November,2003
14427      01,August,2004
Name: date, dtype: object
14428    17,November,2003
14428      01,August,2004
Name: date, dtype: object
14429    16,November,2003
14429      01,August,2004
Name: date, dtype: object
14430    15,November,2003
14430      01,August,2004
Name: date, dtype: object
14431    14,November,2003
14431      01,August,2004
Name: date, dtype: object
14432    13,November,2003
14432      01,August,2004
Name: date, dtype: object
14433    12,November,2003
14433      01,August,2004
Name: date, dtype: object
14434    09,November,2003
14434      01,August,2004
Name: date, dtype: object
14435    08,November,2003
14435      01,August,2004
Name: date, dtype: object
14436    06,November,2003
14436      01,August,2004
Name: date, dtype: object
14437    06,November,2003
14437      01,August,2004
Name: date, dtype: object
14438    31,December,2003
14438      01,August,2004
Name: date, dtype: object
14439    30,December,2003
14439      01,August,2004
Name: date, dtype: object
14440    29,December,2003
14440      01,August,2004
Name: date, dtype: object
14441    28,December,2003
14441      01,August,2004
Name: date, dtype: object
14442    26,December,2003
14442      01,August,2004
Name: date, dtype: object
14443    25,December,2003
14443      01,August,2004
Name: date, dtype: object
14444    24,December,2003
14444      01,August,2004
Name: date, dtype: object
14445    23,December,2003
14445      01,August,2004
Name: date, dtype: object
14446    22,December,2003
14446      01,August,2004
Name: date, dtype: object
14447    20,December,2003
14447      01,August,2004
Name: date, dtype: object
14448    19,December,2003
14448      01,August,2004
Name: date, dtype: object
14449    18,December,2003
14449      01,August,2004
Name: date, dtype: object
14450    17,December,2003
14450      01,August,2004
Name: date, dtype: object
14451    17,December,2003
14451      01,August,2004
Name: date, dtype: object
14452    15,December,2003
14452      01,August,2004
Name: date, dtype: object
14453    14,December,2003
14453      01,August,2004
Name: date, dtype: object
14454    11,December,2003
14454      01,August,2004
Name: date, dtype: object
14455    11,December,2003
14455      01,August,2004
Name: date, dtype: object
14456    10,December,2003
14456      01,August,2004
Name: date, dtype: object
14457    10,December,2003
14457      01,August,2004
Name: date, dtype: object
14458    09,December,2003
14458      01,August,2004
Name: date, dtype: object
14459    07,December,2003
14459      01,August,2004
Name: date, dtype: object
14460    06,December,2003
14460      01,August,2004
Name: date, dtype: object
14461    05,December,2003
14461      01,August,2004
Name: date, dtype: object
14462    04,December,2003
14462      01,August,2004
Name: date, dtype: object
14463    02,December,2003
14463      01,August,2004
Name: date, dtype: object
14464    01,December,2003
14464      01,August,2004
Name: date, dtype: object
14465    01,December,2003
14465      01,August,2004
Name: date, dtype: object
14466    30,January,2004
14466     01,August,2004
Name: date, dtype: object
14467    29,January,2004
14467     01,August,2004
Name: date, dtype: object
14468    27,January,2004
14468     01,August,2004
Name: date, dtype: object
14469    26,January,2004
14469     01,August,2004
Name: date, dtype: object
14470    25,January,2004
14470     01,August,2004
Name: date, dtype: object
14471    23,January,2004
14471     01,August,2004
Name: date, dtype: object
14472    22,January,2004
14472     01,August,2004
Name: date, dtype: object
14473    21,January,2004
14473     01,August,2004
Name: date, dtype: object
14474    19,January,2004
14474     01,August,2004
Name: date, dtype: object
14475    19,January,2004
14475     01,August,2004
Name: date, dtype: object
14476    19,January,2004
14476     01,August,2004
Name: date, dtype: object
14477    16,January,2004
14477     01,August,2004
Name: date, dtype: object
14478    14,January,2004
14478     01,August,2004
Name: date, dtype: object
14479    13,January,2004
14479     01,August,2004
Name: date, dtype: object
14480    11,January,2004
14480     01,August,2004
Name: date, dtype: object
14481    09,January,2004
14481     01,August,2004
Name: date, dtype: object
14482    08,January,2004
14482     01,August,2004
Name: date, dtype: object
14483    07,January,2004
14483     01,August,2004
Name: date, dtype: object
14484    05,January,2004
14484     01,August,2004
Name: date, dtype: object
14485    04,January,2004
14485     01,August,2004
Name: date, dtype: object
14486    03,January,2004
14486     01,August,2004
Name: date, dtype: object
14487    29,February,2004
14487      01,August,2004
Name: date, dtype: object
14488    28,February,2004
14488      01,August,2004
Name: date, dtype: object
14489    27,February,2004
14489      01,August,2004
Name: date, dtype: object
14490    27,February,2004
14490      01,August,2004
Name: date, dtype: object
14491    26,February,2004
14491      01,August,2004
Name: date, dtype: object
14492    25,February,2004
14492      01,August,2004
Name: date, dtype: object
14493    25,February,2004
14493      01,August,2004
Name: date, dtype: object
14494    24,February,2004
14494      01,August,2004
Name: date, dtype: object
14495    23,February,2004
14495      01,August,2004
Name: date, dtype: object
14496    23,February,2004
14496      01,August,2004
Name: date, dtype: object
14497    23,February,2004
14497      01,August,2004
Name: date, dtype: object
14498    22,February,2004
14498      01,August,2004
Name: date, dtype: object
14499    21,February,2004
14499      01,August,2004
Name: date, dtype: object
14500    20,February,2004
14500      01,August,2004
Name: date, dtype: object
14501    20,February,2004
14501      01,August,2004
Name: date, dtype: object
14502    19,February,2004
14502      01,August,2004
Name: date, dtype: object
14503    18,February,2004
14503      01,August,2004
Name: date, dtype: object
14504    17,February,2004
14504      01,August,2004
Name: date, dtype: object
14505    17,February,2004
14505      01,August,2004
Name: date, dtype: object
14506    17,February,2004
14506      01,August,2004
Name: date, dtype: object
14507    16,February,2004
14507      01,August,2004
Name: date, dtype: object
14508    16,February,2004
14508      01,August,2004
Name: date, dtype: object
14509    15,February,2004
14509      01,August,2004
Name: date, dtype: object
14510    14,February,2004
14510      01,August,2004
Name: date, dtype: object
14511    14,February,2004
14511      01,August,2004
Name: date, dtype: object
14512    13,February,2004
14512      01,August,2004
Name: date, dtype: object
14513    12,February,2004
14513      01,August,2004
Name: date, dtype: object
14514    11,February,2004
14514      01,August,2004
Name: date, dtype: object
14515    11,February,2004
14515      01,August,2004
Name: date, dtype: object
14516    10,February,2004
14516      01,August,2004
Name: date, dtype: object
14517    10,February,2004
14517      01,August,2004
Name: date, dtype: object
14518    09,February,2004
14518      01,August,2004
Name: date, dtype: object
14519    09,February,2004
14519      01,August,2004
Name: date, dtype: object
14520    08,February,2004
14520      01,August,2004
Name: date, dtype: object
14521    07,February,2004
14521      01,August,2004
Name: date, dtype: object
14522    06,February,2004
14522      01,August,2004
Name: date, dtype: object
14523    06,February,2004
14523      01,August,2004
Name: date, dtype: object
14524    05,February,2004
14524      01,August,2004
Name: date, dtype: object
14525    05,February,2004
14525      01,August,2004
Name: date, dtype: object
14526    04,February,2004
14526      01,August,2004
Name: date, dtype: object
14527    04,February,2004
14527      01,August,2004
Name: date, dtype: object
14528    03,February,2004
14528      01,August,2004
Name: date, dtype: object
14529    02,February,2004
14529      01,August,2004
Name: date, dtype: object
14530     31,March,2004
14530    01,August,2004
Name: date, dtype: object
14531     30,March,2004
14531    01,August,2004

Name: date, dtype: object
14532     30,March,2004
14532    01,August,2004
Name: date, dtype: object
14533     29,March,2004
14533    01,August,2004
Name: date, dtype: object
14534     29,March,2004
14534    01,August,2004
Name: date, dtype: object
14535     29,March,2004
14535    01,August,2004
Name: date, dtype: object
14536     29,March,2004
14536    01,August,2004
Name: date, dtype: object
14537     29,March,2004
14537    01,August,2004
Name: date, dtype: object
14538     28,March,2004
14538    01,August,2004
Name: date, dtype: object
14539     28,March,2004
14539    01,August,2004
Name: date, dtype: object
14540     27,March,2004
14540    01,August,2004
Name: date, dtype: object
14541     26,March,2004
14541    01,August,2004
Name: date, dtype: object
14542     26,March,2004
14542    01,August,2004
Name: date, dtype: object
14543     25,March,2004
14543    01,August,2004
Name: date, dtype: object
14544     25,March,2004
14544    01,August,2004
Name: date, dtype: object
14545     24,March,2004
14545    01,August,2004
Name: date, dtype: object
14546     23,March,2004
14546    01,August,2004
Name: date, dtype: object
14547     23,March,2004
14547    01,August,2004
Name: date, dtype: object
14548     22,March,2004
14548    01,August,2004
Name: date, dtype: object
14549     21,March,2004
14549    01,August,2004
Name: date, dtype: object
14550     21,March,2004
14550    01,August,2004
Name: date, dtype: object
14551     21,March,2004
14551    01,August,2004
Name: date, dtype: object
14552     20,March,2004
14552    01,August,2004
Name: date, dtype: object
14553     19,March,2004
14553    01,August,2004
Name: date, dtype: object
14554     18,March,2004
14554    01,August,2004
Name: date, dtype: object
14555     17,March,2004
14555    01,August,2004
Name: date, dtype: object
14556     16,March,2004
14556    01,August,2004
Name: date, dtype: object
14557     16,March,2004
14557    01,August,2004
Name: date, dtype: object
14558     16,March,2004
14558    01,August,2004
Name: date, dtype: object
14559     15,March,2004
14559    01,August,2004
Name: date, dtype: object
14560     15,March,2004
14560    01,August,2004
Name: date, dtype: object
14561     14,March,2004
14561    01,August,2004
Name: date, dtype: object
14562     14,March,2004
14562    01,August,2004
Name: date, dtype: object
14563     14,March,2004
14563    01,August,2004
Name: date, dtype: object
14564     14,March,2004
14564    01,August,2004
Name: date, dtype: object
14565     13,March,2004
14565    01,August,2004
Name: date, dtype: object
14566     13,March,2004
14566    01,August,2004
Name: date, dtype: object
14567     12,March,2004
14567    01,August,2004
Name: date, dtype: object
14568     11,March,2004
14568    01,August,2004
Name: date, dtype: object
14569     11,March,2004
14569    01,August,2004
Name: date, dtype: object
14570     11,March,2004
14570    01,August,2004
Name: date, dtype: object
14571     10,March,2004
14571    01,August,2004
Name: date, dtype: object
14572     10,March,2004
14572    01,August,2004
Name: date, dtype: object
14573     09,March,2004
14573    01,August,2004
Name: date, dtype: object
14574     09,March,2004
14574    01,August,2004
Name: date, dtype: object
14575     08,March,2004
14575    01,August,2004
Name: date, dtype: object
14576     07,March,2004
14576    01,August,2004
Name: date, dtype: object
14577     07,March,2004
14577    01,August,2004
Name: date, dtype: object
14578     07,March,2004
14578    01,August,2004
Name: date, dtype: object
14579     06,March,2004
14579    01,August,2004
Name: date, dtype: object
14580     05,March,2004
14580    01,August,2004
Name: date, dtype: object
14581     05,March,2004
14581    01,August,2004
Name: date, dtype: object
14582     05,March,2004
14582    01,August,2004
Name: date, dtype: object
14583     04,March,2004
14583    01,August,2004
Name: date, dtype: object
14584     03,March,2004
14584    01,August,2004
Name: date, dtype: object
14585     03,March,2004
14585    01,August,2004
Name: date, dtype: object
14586     02,March,2004
14586    01,August,2004
Name: date, dtype: object
14587     02,March,2004
14587    01,August,2004
Name: date, dtype: object
14588     02,March,2004
14588    01,August,2004
Name: date, dtype: object
14589     02,March,2004
14589    01,August,2004
Name: date, dtype: object
14590     30,April,2004
14590    01,August,2004
Name: date, dtype: object
14591     29,April,2004
14591    01,August,2004
Name: date, dtype: object
14592     29,April,2004
14592    01,August,2004
Name: date, dtype: object
14593     29,April,2004
14593    01,August,2004
Name: date, dtype: object
14594     28,April,2004
14594    01,August,2004
Name: date, dtype: object
14595     28,April,2004
14595    01,August,2004
Name: date, dtype: object
14596     28,April,2004
14596    01,August,2004
Name: date, dtype: object
14597     28,April,2004
14597    01,August,2004
Name: date, dtype: object
14598     27,April,2004
14598    01,August,2004
Name: date, dtype: object
14599     27,April,2004
14599    01,August,2004
Name: date, dtype: object
14600     27,April,2004
14600    01,August,2004
Name: date, dtype: object
14601     26,April,2004
14601    01,August,2004
Name: date, dtype: object
14602     26,April,2004
14602    01,August,2004
Name: date, dtype: object
14603     26,April,2004
14603    01,August,2004
Name: date, dtype: object
14604     25,April,2004
14604    01,August,2004
Name: date, dtype: object
14605     25,April,2004
14605    01,August,2004
Name: date, dtype: object
14606     24,April,2004
14606    01,August,2004
Name: date, dtype: object
14607     24,April,2004
14607    01,August,2004
Name: date, dtype: object
14608     23,April,2004
14608    01,August,2004
Name: date, dtype: object
14609     23,April,2004
14609    01,August,2004
Name: date, dtype: object
14610     23,April,2004
14610    01,August,2004
Name: date, dtype: object
14611     22,April,2004
14611    01,August,2004
Name: date, dtype: object
14612     22,April,2004
14612    01,August,2004
Name: date, dtype: object
14613     22,April,2004
14613    01,August,2004
Name: date, dtype: object
14614     22,April,2004
14614    01,August,2004
Name: date, dtype: object
14615     21,April,2004
14615    01,August,2004
Name: date, dtype: object
14616     21,April,2004
14616    01,August,2004
Name: date, dtype: object
14617     21,April,2004
14617    01,August,2004
Name: date, dtype: object
14618     20,April,2004
14618    01,August,2004
Name: date, dtype: object
14619     20,April,2004
14619    01,August,2004
Name: date, dtype: object
14620     20,April,2004
14620    01,August,2004
Name: date, dtype: object
14621     20,April,2004
14621    01,August,2004
Name: date, dtype: object
14622     20,April,2004
14622    01,August,2004
Name: date, dtype: object
14623     19,April,2004
14623    01,August,2004
Name: date, dtype: object
14624     19,April,2004
14624    01,August,2004
Name: date, dtype: object
14625     19,April,2004
14625    01,August,2004
Name: date, dtype: object
14626     19,April,2004
14626    01,August,2004
Name: date, dtype: object
14627     18,April,2004
14627    01,August,2004
Name: date, dtype: object
14628     18,April,2004
14628    01,August,2004
Name: date, dtype: object
14629     18,April,2004
14629    01,August,2004
Name: date, dtype: object
14630     16,April,2004
14630    01,August,2004
Name: date, dtype: object
14631     16,April,2004
14631    01,August,2004
Name: date, dtype: object
14632     15,April,2004
14632    01,August,2004
Name: date, dtype: object
14633     15,April,2004
14633    01,August,2004
Name: date, dtype: object
14634     15,April,2004
14634    01,August,2004
Name: date, dtype: object
14635     15,April,2004
14635    01,August,2004
Name: date, dtype: object
14636     14,April,2004
14636    01,August,2004
Name: date, dtype: object
14637     14,April,2004
14637    01,August,2004
Name: date, dtype: object
14638     14,April,2004
14638    01,August,2004
Name: date, dtype: object
14639     14,April,2004
14639    11,August,2004
Name: date, dtype: object
14640     13,April,2004
14640    20,August,2004
Name: date, dtype: object
14641     13,April,2004
14641    17,August,2004
Name: date, dtype: object
14642     13,April,2004
14642    13,August,2004
Name: date, dtype: object
14643     13,April,2004
14643    10,August,2004
Name: date, dtype: object
14644    13,April,2004
14644     29,July,2004
Name: date, dtype: object
14645    12,April,2004
14645     29,July,2004
Name: date, dtype: object
14646    12,April,2004
14646     29,July,2004
Name: date, dtype: object
14647    12,April,2004
14647     29,July,2004
Name: date, dtype: object
14648    11,April,2004
14648     29,July,2004
Name: date, dtype: object
14649    11,April,2004
14649     29,July,2004
Name: date, dtype: object
14650    11,April,2004
14650      27,May,2004
Name: date, dtype: object
14651    10,April,2004
14651      24,May,2004
Name: date, dtype: object
14652    10,April,2004
14652      23,May,2004
Name: date, dtype: object
14653    09,April,2004
14653      30,May,2004
Name: date, dtype: object
14654    09,April,2004
14654      29,May,2004
Name: date, dtype: object
14655    09,April,2004
14655      25,May,2004
Name: date, dtype: object
14656    08,April,2004
14656      24,May,2004
Name: date, dtype: object
14657    08,April,2004
14657      23,May,2004
Name: date, dtype: object
14658    08,April,2004
14658      22,May,2004
Name: date, dtype: object
14659    08,April,2004
14659      21,May,2004
Name: date, dtype: object
14660    08,April,2004
14660      20,May,2004
Name: date, dtype: object
14661    07,April,2004
14661      19,May,2004
Name: date, dtype: object
14662    07,April,2004
14662      19,May,2004
Name: date, dtype: object
14663    06,April,2004
14663      18,May,2004
Name: date, dtype: object
14664    06,April,2004
14664      17,May,2004
Name: date, dtype: object
14665    06,April,2004
14665     12,June,2004
Name: date, dtype: object
14666    06,April,2004
14666     08,June,2004
Name: date, dtype: object
14667    06,April,2004
14667     06,June,2004
Name: date, dtype: object
14668    05,April,2004
14668     05,June,2004
Name: date, dtype: object
14669    05,April,2004
14669     03,June,2004

Name: date, dtype: object
14670    05,April,2004
14670     02,June,2004
Name: date, dtype: object
14671    04,April,2004
14671     01,June,2004
Name: date, dtype: object
14672    04,April,2004
14672     13,July,2004
Name: date, dtype: object
14673    04,April,2004
14673     07,July,2004
Name: date, dtype: object
14674    03,April,2004
14674     30,July,2004
Name: date, dtype: object
14675    03,April,2004
14675     26,July,2004
Name: date, dtype: object
14676    02,April,2004
14676     21,July,2004
Name: date, dtype: object
14677     02,April,2004
14677    18,August,2004
Name: date, dtype: object
14678     02,April,2004
14678    15,August,2004
Name: date, dtype: object
14679    01,April,2004
14679     24,June,2004
Name: date, dtype: object
14680    01,April,2004
14680     22,June,2004
Name: date, dtype: object
14681    01,April,2004
14681     21,June,2004
Name: date, dtype: object
14682    01,April,2004
14682     21,June,2004
Name: date, dtype: object
14683    01,April,2004
14683     21,June,2004
Name: date, dtype: object
14684    01,April,2004
14684     28,June,2004
Name: date, dtype: object
14685    01,April,2004
14685     25,June,2004
Name: date, dtype: object
14686     31,May,2004
14686    24,June,2004
Name: date, dtype: object
14687     29,May,2004
14687    18,June,2004
Name: date, dtype: object
14688     27,May,2004
14688    16,June,2004
Name: date, dtype: object
14689     27,May,2004
14689    14,July,2004
Name: date, dtype: object
14690     26,May,2004
14690    12,July,2004
Name: date, dtype: object
14691     25,May,2004
14691    10,July,2004
Name: date, dtype: object
14692     24,May,2004
14692    01,July,2004
Name: date, dtype: object
14693     24,May,2004
14693    24,June,2004
Name: date, dtype: object
14694     24,May,2004
14694    16,June,2004
Name: date, dtype: object
14695      23,May,2004
14695    23,March,2003
Name: date, dtype: object
14696      23,May,2004
14696    17,March,2003
Name: date, dtype: object
14697      22,May,2004
14697    16,March,2003
Name: date, dtype: object
14698      22,May,2004
14698    22,April,2003
Name: date, dtype: object
14699      21,May,2004
14699    15,April,2003
Name: date, dtype: object
14700      21,May,2004
14700    14,April,2003
Name: date, dtype: object
14701      21,May,2004
14701    12,April,2003
Name: date, dtype: object
14702      20,May,2004
14702    09,April,2003
Name: date, dtype: object
14703      19,May,2004
14703    08,April,2003
Name: date, dtype: object
14704       18,May,2004
14704    06,August,2004
Name: date, dtype: object
14705       17,May,2004
14705    03,August,2004
Name: date, dtype: object
14706       16,May,2004
14706    02,August,2004
Name: date, dtype: object
14707       15,May,2004
14707    01,August,2004
Name: date, dtype: object
14708     14,May,2004
14708    29,June,2004
Name: date, dtype: object
14709     14,May,2004
14709    24,June,2004
Name: date, dtype: object
14710     13,May,2004
14710    21,June,2004
Name: date, dtype: object
14711     12,May,2004
14711    19,June,2004
Name: date, dtype: object
14712     12,May,2004
14712    11,June,2004
Name: date, dtype: object
14713     12,May,2004
14713    08,June,2004
Name: date, dtype: object
14714     12,May,2004
14714    06,June,2004
Name: date, dtype: object
14715     11,May,2004
14715    06,June,2004
Name: date, dtype: object
14716     11,May,2004
14716    04,June,2004
Name: date, dtype: object
14717     10,May,2004
14717    03,June,2004
Name: date, dtype: object
14718     09,May,2004
14718    29,July,2004
Name: date, dtype: object
14719     09,May,2004
14719    23,July,2004
Name: date, dtype: object
14720     08,May,2004
14720    20,July,2004
Name: date, dtype: object
14721     07,May,2004
14721    20,July,2004
Name: date, dtype: object
14722     07,May,2004
14722    19,July,2004
Name: date, dtype: object
14723     06,May,2004
14723    14,July,2004
Name: date, dtype: object
14724     05,May,2004
14724    11,July,2004
Name: date, dtype: object
14725     05,May,2004
14725    09,July,2004
Name: date, dtype: object
14726     05,May,2004
14726    08,July,2004
Name: date, dtype: object
14727     05,May,2004
14727    06,July,2004
Name: date, dtype: object
14728     04,May,2004
14728    01,July,2004
Name: date, dtype: object
14729       04,May,2004
14729    07,August,2004
Name: date, dtype: object
14730       04,May,2004
14730    01,August,2004
Name: date, dtype: object
14731     04,May,2004
14731    31,July,2004
Name: date, dtype: object
14732     03,May,2004
14732    29,July,2004
Name: date, dtype: object
14733     03,May,2004
14733    28,July,2004
Name: date, dtype: object
14734     02,May,2004
14734    28,July,2004
Name: date, dtype: object
14735     02,May,2004
14735    26,July,2004
Name: date, dtype: object
14736     01,May,2004
14736    24,July,2004
Name: date, dtype: object
14737     01,May,2004
14737    23,July,2004
Name: date, dtype: object
14738     01,May,2004
14738    22,July,2004
Name: date, dtype: object
14739     01,May,2004
14739    21,July,2004
Name: date, dtype: object
14740     01,May,2004
14740    21,July,2004
Name: date, dtype: object
14741       01,May,2004
14741    14,August,2004
Name: date, dtype: object
14742      30,June,2004
14742    04,August,2004
Name: date, dtype: object
14743      29,June,2004
14743    04,August,2004
Name: date, dtype: object
14744     28,June,2004
14744    25,March,2004
Name: date, dtype: object
14745     27,June,2004
14745    24,March,2004
Name: date, dtype: object
14746     25,June,2004
14746    24,March,2004
Name: date, dtype: object
14747     25,June,2004
14747    22,March,2004
Name: date, dtype: object
14748     24,June,2004
14748    16,March,2004
Name: date, dtype: object
14749     23,June,2004
14749    15,March,2004
Name: date, dtype: object
14750     22,June,2004
14750    14,March,2004
Name: date, dtype: object
14751     22,June,2004
14751    13,March,2004
Name: date, dtype: object
14752     19,June,2004
14752    13,March,2004
Name: date, dtype: object
14753     18,June,2004
14753    13,March,2004
Name: date, dtype: object
14754     15,June,2004
14754    11,March,2004
Name: date, dtype: object
14755     14,June,2004
14755    11,March,2004
Name: date, dtype: object
14756     13,June,2004
14756    11,March,2004
Name: date, dtype: object
14757     12,June,2004
14757    11,March,2004
Name: date, dtype: object
14758     10,June,2004
14758    30,April,2004
Name: date, dtype: object
14759     10,June,2004
14759    23,April,2004
Name: date, dtype: object
14760     09,June,2004
14760    21,April,2004
Name: date, dtype: object
14761     09,June,2004
14761    20,April,2004
Name: date, dtype: object
14762     08,June,2004
14762    15,April,2004
Name: date, dtype: object
14763     08,June,2004
14763    07,April,2004
Name: date, dtype: object
14764    07,June,2004
14764     26,May,2004
Name: date, dtype: object
14765    06,June,2004
14765     23,May,2004
Name: date, dtype: object
14766    03,June,2004
14766     22,May,2004
Name: date, dtype: object
14767    03,June,2004
14767     21,May,2004
Name: date, dtype: object
14768    02,June,2004
14768     20,May,2004
Name: date, dtype: object
14769    02,June,2004
14769     19,May,2004
Name: date, dtype: object
14770    01,June,2004
14770    11,June,2004
Name: date, dtype: object
14771    01,June,2004
14771    08,June,2004
Name: date, dtype: object
14772    30,July,2004
14772    02,June,2004
Name: date, dtype: object
14773    29,July,2004
14773    16,July,2004
Name: date, dtype: object
14774    28,July,2004
14774    09,July,2004
Name: date, dtype: object
14775    28,July,2004
14775    01,July,2004
Name: date, dtype: object
14776    27,July,2004
14776    01,July,2004
Name: date, dtype: object
14777      26,July,2004
14777    08,August,2004
Name: date, dtype: object
14778      24,July,2004
14778    08,August,2004
Name: date, dtype: object
14779      22,July,2004
14779    08,August,2004
Name: date, dtype: object
14780      21,July,2004
14780    08,August,2004
Name: date, dtype: object
14781      21,July,2004
14781    08,August,2004
Name: date, dtype: object
14782      19,July,2004
14782    08,August,2004
Name: date, dtype: object
14783      19,July,2004
14783    08,August,2004
Name: date, dtype: object
14784    18,July,2004
14784    10,June,2004
Name: date, dtype: object
14785    18,July,2004
14785    10,June,2004
Name: date, dtype: object
14786    16,July,2004
14786    10,June,2004
Name: date, dtype: object
14787    15,July,2004
14787    10,June,2004
Name: date, dtype: object
14788    15,July,2004
14788    01,July,2004
Name: date, dtype: object
14789    14,July,2004
14789    01,July,2004
Name: date, dtype: object
14790    13,July,2004
14790    01,July,2004
Name: date, dtype: object
14791    12,July,2004
14791    01,July,2004
Name: date, dtype: object
14792    11,July,2004
14792    01,July,2004
Name: date, dtype: object
14793    11,July,2004
14793    01,July,2004
Name: date, dtype: object
14794    09,July,2004
14794    01,July,2004
Name: date, dtype: object
14795    08,July,2004
14795    01,July,2004
Name: date, dtype: object
14796    07,July,2004
14796    01,July,2004
Name: date, dtype: object
14797    07,July,2004
14797    01,July,2004
Name: date, dtype: object
14798    05,July,2004
14798    01,July,2004
Name: date, dtype: object
14799    04,July,2004
14799    01,July,2004
Name: date, dtype: object
14800    02,July,2004
14800    01,July,2004
Name: date, dtype: object
14801    01,July,2004
14801    01,July,2004
Name: date, dtype: object

14802    13,August,2004
14802      01,July,2004
Name: date, dtype: object
14803    12,August,2004
14803      01,July,2004
Name: date, dtype: object
14804    12,August,2004
14804      01,July,2004
Name: date, dtype: object
14805    11,August,2004
14805      01,July,2004
Name: date, dtype: object
14806    10,August,2004
14806      01,July,2004
Name: date, dtype: object
14807    09,August,2004
14807      01,July,2004
Name: date, dtype: object
14808    09,August,2004
14808      01,July,2004
Name: date, dtype: object
14809    08,August,2004
14809      01,July,2004
Name: date, dtype: object
14810    08,August,2004
14810      01,July,2004
Name: date, dtype: object
14811    07,August,2004
14811      01,July,2004
Name: date, dtype: object
14812    07,August,2004
14812      01,July,2004
Name: date, dtype: object
14813    06,August,2004
14813      01,July,2004
Name: date, dtype: object
14814    05,August,2004
14814      01,July,2004
Name: date, dtype: object
14815    04,August,2004
14815      01,July,2004
Name: date, dtype: object
14816    03,August,2004
14816      01,July,2004
Name: date, dtype: object
14817    02,August,2004
14817      21,June,2004
Name: date, dtype: object
14818    02,August,2004
14818      18,June,2004
Name: date, dtype: object
14819    01,August,2004
14819      18,June,2004
Name: date, dtype: object
14820     27,May,2004
14820    15,July,2004
Name: date, dtype: object
14821     25,May,2004
14821    13,July,2004
Name: date, dtype: object
14822     24,May,2004
14822    27,July,2004
Name: date, dtype: object
14823     23,May,2004
14823    27,July,2004
Name: date, dtype: object
14824     23,May,2004
14824    27,July,2004
Name: date, dtype: object
14825     23,May,2004
14825    27,July,2004
Name: date, dtype: object
14826    03,June,2004
14826    27,July,2004
Name: date, dtype: object
14827    01,June,2004
14827    27,July,2004
Name: date, dtype: object
14828    30,May,2004
14828    31,May,2004
Name: date, dtype: object
14829    30,May,2004
14829    29,May,2004
Name: date, dtype: object
14830    30,May,2004
14830    28,May,2004
Name: date, dtype: object
14831    30,May,2004
14831    26,May,2004
Name: date, dtype: object
14832    09,June,2004
14832     25,May,2004
Name: date, dtype: object
14833    01,August,2004
14833       25,May,2004
Name: date, dtype: object
14834    01,August,2004
14834       24,May,2004
Name: date, dtype: object
14835    01,August,2004
14835      27,June,2004
Name: date, dtype: object
14836    01,August,2004
14836      21,June,2004
Name: date, dtype: object
14837     26,May,2004
14837    17,June,2004
Name: date, dtype: object
14838     23,May,2004
14838    11,June,2004
Name: date, dtype: object
14839     22,May,2004
14839    09,June,2004
Name: date, dtype: object
14840     22,May,2004
14840    06,June,2004
Name: date, dtype: object
14841    15,June,2004
14841    02,June,2004
Name: date, dtype: object
14842    13,June,2004
14842    29,July,2004
Name: date, dtype: object
14843    08,June,2004
14843    27,July,2004
Name: date, dtype: object
14844    01,June,2004
14844    21,July,2004
Name: date, dtype: object
14845    27,July,2004
14845    16,July,2004
Name: date, dtype: object
14846    17,July,2004
14846    11,July,2004
Name: date, dtype: object
14847    07,July,2004
14847    04,July,2004
Name: date, dtype: object
14848    05,July,2004
14848    03,July,2004
Name: date, dtype: object
14849      02,July,2004
14849    04,August,2004
Name: date, dtype: object
14850    16,July,2004
14850    07,July,2004
Name: date, dtype: object
14851    13,August,2004
14851      07,July,2004
Name: date, dtype: object
14852    30,June,2004
14852    07,July,2004
Name: date, dtype: object
14853    29,June,2004
14853    07,July,2004
Name: date, dtype: object
14854    28,June,2004
14854    07,July,2004
Name: date, dtype: object
14855    27,June,2004
14855    07,July,2004
Name: date, dtype: object
14856    27,June,2004
14856    07,July,2004
Name: date, dtype: object
14857    27,June,2004
14857    07,July,2004
Name: date, dtype: object
14858      26,June,2004
14858    17,August,2004
Name: date, dtype: object
14859      18,June,2004
14859    12,August,2004
Name: date, dtype: object
14860         18,June,2004
14860    01,September,2002
Name: date, dtype: object
14861         18,June,2004
14861    07,September,2002
Name: date, dtype: object
14862         28,July,2004
14862    08,September,2002
Name: date, dtype: object
14863         25,July,2004
14863    08,September,2002
Name: date, dtype: object
14864         23,July,2004
14864    22,September,2002
Name: date, dtype: object
14865         22,July,2004
14865    23,September,2002
Name: date, dtype: object
14866         21,July,2004
14866    26,September,2002
Name: date, dtype: object
14867         19,July,2004
14867    27,September,2002
Name: date, dtype: object
14868         15,July,2004
14868    29,September,2002
Name: date, dtype: object
14869       14,July,2004
14869    01,October,2002
Name: date, dtype: object
14870       13,July,2004
14870    06,October,2002
Name: date, dtype: object
14871       12,July,2004
14871    10,October,2002
Name: date, dtype: object
14872       11,July,2004
14872    13,October,2002
Name: date, dtype: object
14873        10,July,2004
14873    17,November,2002
Name: date, dtype: object
14874        07,July,2004
14874    20,November,2002
Name: date, dtype: object
14875        01,July,2004
14875    04,December,2002
Name: date, dtype: object
14876      16,August,2004
14876    15,December,2002
Name: date, dtype: object
14877     11,August,2004
14877    05,January,2003
Name: date, dtype: object
14878     05,August,2004
14878    12,January,2003
Name: date, dtype: object
14879    28,February,2003
14879    27,February,2003
Name: date, dtype: object
14880    31,March,2003
14880    10,March,2003
Name: date, dtype: object
14881    02,March,2003
14881    11,April,2003
Name: date, dtype: object
14882    01,March,2003
14882      14,May,2003
Name: date, dtype: object
14883      27,April,2003
14883    31,January,2004
Name: date, dtype: object
14884    14,April,2003
14884     23,July,2004
Name: date, dtype: object
14885     09,April,2003
14885    01,August,2004
Name: date, dtype: object
14886     05,April,2003
14886    04,August,2004
Name: date, dtype: object
14887       29,May,2003
14887    03,August,2004
Name: date, dtype: object
14888       28,May,2003
14888    03,August,2004
Name: date, dtype: object
14889     24,May,2003
14889    26,June,2004
Name: date, dtype: object
14890     21,May,2003
14890    24,June,2004
Name: date, dtype: object
14891    27,June,2003
14891    22,June,2004
Name: date, dtype: object
14892    10,June,2003
14892    21,July,2004
Name: date, dtype: object
14893    05,June,2003
14893    11,July,2004
Name: date, dtype: object
14894    04,July,2003
14894    30,June,2004
Name: date, dtype: object
14895    03,July,2003
14895    29,June,2004
Name: date, dtype: object
14896    13,August,2003
14896      29,June,2004
Name: date, dtype: object
14897    10,August,2003
14897      29,June,2004
Name: date, dtype: object
14898    08,August,2003
14898      29,June,2004
Name: date, dtype: object
14899    06,September,2003
14899         16,July,2004
Name: date, dtype: object
14900    21,October,2003
14900       14,July,2004
Name: date, dtype: object
14901    19,October,2003
14901       13,July,2004
Name: date, dtype: object
14902    25,November,2003
14902        10,July,2004
Name: date, dtype: object
14903    21,November,2003
14903        07,July,2004
Name: date, dtype: object
14904    19,November,2003
14904        03,July,2004
Name: date, dtype: object
14905    18,November,2003
14905        02,July,2004
Name: date, dtype: object
14906    17,November,2003
14906        01,July,2004
Name: date, dtype: object
14907    16,November,2003
14907        01,July,2004
Name: date, dtype: object
14908    15,November,2003
14908        30,June,2004
Name: date, dtype: object
14909    11,November,2003
14909        29,June,2004
Name: date, dtype: object
14910    10,November,2003
14910        29,June,2004
Name: date, dtype: object
14911    03,November,2003
14911        29,June,2004
Name: date, dtype: object
14912    03,December,2003
14912        02,July,2004
Name: date, dtype: object
14913    03,December,2003
14913        30,June,2004
Name: date, dtype: object
14914    28,January,2004
14914       30,June,2004

Name: date, dtype: object
14915    24,January,2004
14915       26,July,2004
Name: date, dtype: object
14916    23,January,2004
14916       18,July,2004
Name: date, dtype: object
14917    23,January,2004
14917       08,July,2004
Name: date, dtype: object
14918    20,January,2004
14918       07,July,2004
Name: date, dtype: object
14919    19,January,2004
14919       03,July,2004
Name: date, dtype: object
14920    13,January,2004
14920       03,July,2004
Name: date, dtype: object
14921    10,January,2004
14921       02,July,2004
Name: date, dtype: object
14922    22,February,2004
14922        01,July,2004
Name: date, dtype: object
14923    18,February,2004
14923        01,July,2004
Name: date, dtype: object
14924    16,February,2004
14924        01,July,2004
Name: date, dtype: object
14925    14,February,2004
14925      10,August,2004
Name: date, dtype: object
14926    11,February,2004
14926      04,August,2004
Name: date, dtype: object
14927    10,February,2004
14927      15,August,2004
Name: date, dtype: object
14928    09,February,2004
14928      15,August,2004
Name: date, dtype: object
14929    08,February,2004
14929      15,August,2004
Name: date, dtype: object
14930    08,February,2004
14930    12,February,2001
Name: date, dtype: object
14931    05,February,2004
14931    10,February,2001
Name: date, dtype: object
14932    05,February,2004
14932    08,February,2001
Name: date, dtype: object
14933    04,February,2004
14933    08,February,2001
Name: date, dtype: object
14934       16,March,2004
14934    08,February,2001
Name: date, dtype: object
14935    14,March,2004
14935    28,March,2001
Name: date, dtype: object
14936    09,March,2004
14936    22,March,2001
Name: date, dtype: object
14937    07,March,2004
14937    19,March,2001
Name: date, dtype: object
14938    03,March,2004
14938    19,March,2001
Name: date, dtype: object
14939    28,April,2004
14939    13,March,2001
Name: date, dtype: object
14940    24,April,2004
14940    12,March,2001
Name: date, dtype: object
14941    17,April,2004
14941    09,March,2001
Name: date, dtype: object
14942    17,April,2004
14942    05,March,2001
Name: date, dtype: object
14943    10,April,2004
14943    04,March,2001
Name: date, dtype: object
14944    07,April,2004
14944    29,April,2001
Name: date, dtype: object
14945      16,May,2004
14945    23,April,2001
Name: date, dtype: object
14946      14,May,2004
14946    15,April,2001
Name: date, dtype: object
14947      12,May,2004
14947    03,April,2001
Name: date, dtype: object
14948    11,May,2004
14948    29,May,2001
Name: date, dtype: object
14949    05,May,2004
14949    28,May,2001
Name: date, dtype: object
14950    30,June,2004
14950     25,May,2001
Name: date, dtype: object
14951    29,June,2004
14951     22,May,2001
Name: date, dtype: object
14952    28,June,2004
14952     17,May,2001
Name: date, dtype: object
14953    25,June,2004
14953     08,May,2001
Name: date, dtype: object
14954    09,June,2004
14954     07,May,2001
Name: date, dtype: object
14955    08,June,2004
14955    21,June,2001
Name: date, dtype: object
14956    30,July,2004
14956    18,June,2001
Name: date, dtype: object
14957    28,July,2004
14957    12,June,2001
Name: date, dtype: object
14958    23,July,2004
14958    10,June,2001
Name: date, dtype: object
14959    22,July,2004
14959    06,June,2001
Name: date, dtype: object
14960    20,July,2004
14960    04,June,2001
Name: date, dtype: object
14961    19,July,2004
14961    04,June,2001
Name: date, dtype: object
14962    18,July,2004
14962    31,July,2001
Name: date, dtype: object
14963    15,July,2004
14963    16,July,2001
Name: date, dtype: object
14964    15,July,2004
14964    16,July,2001
Name: date, dtype: object
14965    14,July,2004
14965    13,July,2001
Name: date, dtype: object
14966    13,July,2004
14966    01,July,2001
Name: date, dtype: object
14967         08,July,2004
14967    16,September,2001
Name: date, dtype: object
14968         07,July,2004
14968    02,September,2001
Name: date, dtype: object
14969       03,July,2004
14969    29,October,2001
Name: date, dtype: object
14970       02,July,2004
14970    17,October,2001
Name: date, dtype: object
14971       01,July,2004
14971    14,October,2001
Name: date, dtype: object
14972     04,August,2004
14972    14,October,2001
Name: date, dtype: object
14973      04,August,2004
14973    29,November,2001
Name: date, dtype: object
14974      05,August,2004
14974    25,November,2001
Name: date, dtype: object
14975      05,August,2004
14975    23,November,2001
Name: date, dtype: object
14976      05,August,2004
14976    22,November,2001
Name: date, dtype: object
14977      05,August,2004
14977    21,November,2001
Name: date, dtype: object
14978        01,July,2004
14978    19,November,2001
Name: date, dtype: object
14979        02,July,2004
14979    18,November,2001
Name: date, dtype: object
14980      20,August,2004
14980    17,November,2001
Name: date, dtype: object
14981      18,August,2004
14981    17,November,2001
Name: date, dtype: object
14982      17,August,2004
14982    17,November,2001
Name: date, dtype: object
14983      14,August,2004
14983    11,November,2001
Name: date, dtype: object
14984      13,August,2004
14984    07,November,2001
Name: date, dtype: object
14985      13,August,2004
14985    06,November,2001
Name: date, dtype: object
14986      10,August,2004
14986    04,November,2001
Name: date, dtype: object
14987      08,August,2004
14987    25,December,2001
Name: date, dtype: object
14988      07,August,2004
14988    21,December,2001
Name: date, dtype: object
14989      06,August,2004
14989    18,December,2001
Name: date, dtype: object
14990      06,August,2004
14990    17,December,2001
Name: date, dtype: object
14991      05,August,2004
14991    16,December,2001
Name: date, dtype: object
14992      05,August,2004
14992    13,December,2001
Name: date, dtype: object
14993      04,August,2004
14993    10,December,2001
Name: date, dtype: object
14994      04,August,2004
14994    10,December,2001
Name: date, dtype: object
14995      03,August,2004
14995    09,December,2001
Name: date, dtype: object
14996      03,August,2004
14996    08,December,2001
Name: date, dtype: object
14997        30,June,2004
14997    06,December,2001
Name: date, dtype: object
14998        28,June,2004
14998    05,December,2001
Name: date, dtype: object
14999        24,June,2004
14999    03,December,2001
Name: date, dtype: object
15000       23,June,2004
15000    30,January,2002
Name: date, dtype: object
15001       21,June,2004
15001    29,January,2002
Name: date, dtype: object
15002       20,June,2004
15002    27,January,2002
Name: date, dtype: object
15003       18,June,2004
15003    24,January,2002
Name: date, dtype: object
15004       17,June,2004
15004    22,January,2002
Name: date, dtype: object
15005       17,June,2004
15005    19,January,2002
Name: date, dtype: object
15006       16,June,2004
15006    16,January,2002
Name: date, dtype: object
15007       13,June,2004
15007    14,January,2002
Name: date, dtype: object
15008       12,June,2004
15008    13,January,2002
Name: date, dtype: object
15009       12,June,2004
15009    11,January,2002
Name: date, dtype: object
15010       11,June,2004
15010    10,January,2002
Name: date, dtype: object
15011       11,June,2004
15011    09,January,2002
Name: date, dtype: object
15012       10,June,2004
15012    08,January,2002
Name: date, dtype: object
15013       10,June,2004
15013    08,January,2002
Name: date, dtype: object
15014       09,June,2004
15014    07,January,2002
Name: date, dtype: object
15015       09,June,2004
15015    05,January,2002
Name: date, dtype: object
15016       24,July,2004
15016    04,January,2002
Name: date, dtype: object
15017       23,July,2004
15017    02,January,2002
Name: date, dtype: object
15018       20,July,2004
15018    02,January,2002
Name: date, dtype: object
15019       18,July,2004
15019    02,January,2002
Name: date, dtype: object
15020        18,July,2004
15020    27,February,2002
Name: date, dtype: object
15021        17,July,2004
15021    18,February,2002
Name: date, dtype: object
15022        14,July,2004
15022    14,February,2002
Name: date, dtype: object
15023        11,July,2004
15023    14,February,2002
Name: date, dtype: object
15024        09,July,2004
15024    11,February,2002
Name: date, dtype: object
15025        05,July,2004
15025    09,February,2002
Name: date, dtype: object
15026        02,July,2004
15026    08,February,2002
Name: date, dtype: object
15027      15,August,2004
15027    06,February,2002
Name: date, dtype: object
15028      15,August,2004
15028    05,February,2002
Name: date, dtype: object
15029      15,August,2004
15029    03,February,2002
Name: date, dtype: object
15030        28,July,2004
15030    02,February,2002
Name: date, dtype: object
15031        27,July,2004
15031    01,February,2002
Name: date, dtype: object
15032     26,July,2004
15032    30,March,2002
Name: date, dtype: object
15033     25,July,2004
15033    29,March,2002
Name: date, dtype: object
15034     24,July,2004
15034    26,March,2002
Name: date, dtype: object
15035    19,August,2004
15035     25,March,2002
Name: date, dtype: object
15036    18,August,2004
15036     23,March,2002
Name: date, dtype: object
15037    16,August,2004
15037     19,March,2002
Name: date, dtype: object
15038    15,August,2004
15038     16,March,2002
Name: date, dtype: object
15039    13,August,2004
15039     10,March,2002
Name: date, dtype: object
15040    12,August,2004
15040     07,March,2002
Name: date, dtype: object
15041    11,August,2004
15041     06,March,2002
Name: date, dtype: object
15042    09,August,2004
15042     02,March,2002
Name: date, dtype: object
15043    08,August,2004
15043     01,March,2002
Name: date, dtype: object
15044     05,July,2004
15044    29,April,2002
Name: date, dtype: object
15045     05,July,2004
15045    27,April,2002
Name: date, dtype: object
15046     05,July,2004
15046    23,April,2002
Name: date, dtype: object
15047     05,July,2004
15047    19,April,2002
Name: date, dtype: object
15048     05,July,2004
15048    14,April,2002
Name: date, dtype: object
15049     05,July,2004
15049    10,April,2002
Name: date, dtype: object
15050     05,July,2004
15050    09,April,2002
Name: date, dtype: object
15051     05,July,2004
15051    05,April,2002

Name: date, dtype: object
15052     05,July,2004
15052    05,April,2002
Name: date, dtype: object
15053    05,July,2004
15053     31,May,2002
Name: date, dtype: object
15054    05,July,2004
15054     29,May,2002
Name: date, dtype: object
15055    05,July,2004
15055     28,May,2002
Name: date, dtype: object
15056    05,July,2004
15056     25,May,2002
Name: date, dtype: object
15057    05,July,2004
15057     21,May,2002
Name: date, dtype: object
15058    05,July,2004
15058     20,May,2002
Name: date, dtype: object
15059    05,July,2004
15059     16,May,2002
Name: date, dtype: object
15060    05,July,2004
15060     06,May,2002
Name: date, dtype: object
15061    05,July,2004
15061     04,May,2002
Name: date, dtype: object
15062    05,July,2004
15062     02,May,2002
Name: date, dtype: object
15063    05,July,2004
15063    30,June,2002
Name: date, dtype: object
15064    05,July,2004
15064    29,June,2002
Name: date, dtype: object
15065    05,July,2004
15065    28,June,2002
Name: date, dtype: object
15066    05,July,2004
15066    26,June,2002
Name: date, dtype: object
15067    05,July,2004
15067    25,June,2002
Name: date, dtype: object
15068    05,July,2004
15068    24,June,2002
Name: date, dtype: object
15069    05,July,2004
15069    21,June,2002
Name: date, dtype: object
15070    05,July,2004
15070    21,June,2002
Name: date, dtype: object
15071    05,July,2004
15071    17,June,2002
Name: date, dtype: object
15072    05,July,2004
15072    15,June,2002
Name: date, dtype: object
15073    05,July,2004
15073    13,June,2002
Name: date, dtype: object
15074    05,July,2004
15074    12,June,2002
Name: date, dtype: object
15075    05,July,2004
15075    11,June,2002
Name: date, dtype: object
15076    05,July,2004
15076    10,June,2002
Name: date, dtype: object
15077    05,July,2004
15077    10,June,2002
Name: date, dtype: object
15078    05,July,2004
15078    09,June,2002
Name: date, dtype: object
15079    05,July,2004
15079    08,June,2002
Name: date, dtype: object
15080    05,July,2004
15080    06,June,2002
Name: date, dtype: object
15081    05,July,2004
15081    04,June,2002
Name: date, dtype: object
15082    05,July,2004
15082    02,June,2002
Name: date, dtype: object
15083    05,July,2004
15083    30,July,2002
Name: date, dtype: object
15084    05,July,2004
15084    28,July,2002
Name: date, dtype: object
15085    05,July,2004
15085    25,July,2002
Name: date, dtype: object
15086    05,July,2004
15086    22,July,2002
Name: date, dtype: object
15087    05,July,2004
15087    17,July,2002
Name: date, dtype: object
15088    05,July,2004
15088    15,July,2002
Name: date, dtype: object
15089    05,July,2004
15089    14,July,2002
Name: date, dtype: object
15090    05,July,2004
15090    12,July,2002
Name: date, dtype: object
15091    05,July,2004
15091    08,July,2002
Name: date, dtype: object
15092    05,July,2004
15092    06,July,2002
Name: date, dtype: object
15093    05,July,2004
15093    03,July,2002
Name: date, dtype: object
15094    05,July,2004
15094    01,July,2002
Name: date, dtype: object
15095      05,July,2004
15095    28,August,2002
Name: date, dtype: object
15096      05,July,2004
15096    19,August,2002
Name: date, dtype: object
15097      05,July,2004
15097    16,August,2002
Name: date, dtype: object
15098      05,July,2004
15098    07,August,2002
Name: date, dtype: object
15099      05,July,2004
15099    03,August,2002
Name: date, dtype: object
15100         05,July,2004
15100    29,September,2002
Name: date, dtype: object
15101         05,July,2004
15101    25,September,2002
Name: date, dtype: object
15102         05,July,2004
15102    22,September,2002
Name: date, dtype: object
15103         05,July,2004
15103    18,September,2002
Name: date, dtype: object
15104         05,July,2004
15104    18,September,2002
Name: date, dtype: object
15105         05,July,2004
15105    16,September,2002
Name: date, dtype: object
15106         05,July,2004
15106    10,September,2002
Name: date, dtype: object
15107         05,July,2004
15107    05,September,2002
Name: date, dtype: object
15108       05,July,2004
15108    30,October,2002
Name: date, dtype: object
15109       05,July,2004
15109    28,October,2002
Name: date, dtype: object
15110    19,February,2004
15110     22,October,2002
Name: date, dtype: object
15111    24,February,2004
15111     20,October,2002
Name: date, dtype: object
15112    25,February,2004
15112     19,October,2002
Name: date, dtype: object
15113    26,February,2004
15113     18,October,2002
Name: date, dtype: object
15114    27,February,2004
15114     11,October,2002
Name: date, dtype: object
15115      04,March,2004
15115    09,October,2002
Name: date, dtype: object
15116      25,March,2004
15116    06,October,2002
Name: date, dtype: object
15117         03,May,2004
15117    29,November,2002
Name: date, dtype: object
15118         07,May,2004
15118    28,November,2002
Name: date, dtype: object
15119         12,May,2004
15119    25,November,2002
Name: date, dtype: object
15120         13,May,2004
15120    24,November,2002
Name: date, dtype: object
15121         19,May,2004
15121    22,November,2002
Name: date, dtype: object
15122         21,May,2004
15122    18,November,2002
Name: date, dtype: object
15123         26,May,2004
15123    13,November,2002
Name: date, dtype: object
15124        01,June,2004
15124    13,November,2002
Name: date, dtype: object
15125        07,June,2004
15125    12,November,2002
Name: date, dtype: object
15126        21,June,2004
15126    10,November,2002
Name: date, dtype: object
15127        30,June,2004
15127    10,November,2002
Name: date, dtype: object
15128        21,July,2004
15128    06,November,2002
Name: date, dtype: object
15129    14,February,2004
15129    06,November,2002
Name: date, dtype: object
15130    13,February,2004
15130    04,November,2002
Name: date, dtype: object
15131    12,February,2004
15131    23,December,2002
Name: date, dtype: object
15132    20,February,2004
15132    21,December,2002
Name: date, dtype: object
15133    16,February,2004
15133    19,December,2002
Name: date, dtype: object
15134    15,February,2004
15134    16,December,2002
Name: date, dtype: object
15135    26,February,2004
15135    12,December,2002
Name: date, dtype: object
15136    24,February,2004
15136    07,December,2002
Name: date, dtype: object
15137    23,February,2004
15137    06,December,2002
Name: date, dtype: object
15138       05,March,2004
15138    04,December,2002
Name: date, dtype: object
15139       04,March,2004
15139    01,December,2002
Name: date, dtype: object
15140       03,March,2004
15140    01,December,2002
Name: date, dtype: object
15141    29,February,2004
15141     31,January,2003
Name: date, dtype: object
15142      11,March,2004
15142    30,January,2003
Name: date, dtype: object
15143      10,March,2004
15143    28,January,2003
Name: date, dtype: object
15144      09,March,2004
15144    26,January,2003
Name: date, dtype: object
15145      20,March,2004
15145    25,January,2003
Name: date, dtype: object
15146      18,March,2004
15146    24,January,2003
Name: date, dtype: object
15147      16,March,2004
15147    23,January,2003
Name: date, dtype: object
15148      16,March,2004
15148    22,January,2003
Name: date, dtype: object
15149      15,March,2004
15149    21,January,2003
Name: date, dtype: object
15150      26,March,2004
15150    20,January,2003
Name: date, dtype: object
15151      25,March,2004
15151    19,January,2003
Name: date, dtype: object
15152      24,March,2004
15152    18,January,2003
Name: date, dtype: object
15153      22,March,2004
15153    17,January,2003
Name: date, dtype: object
15154      03,April,2004
15154    16,January,2003
Name: date, dtype: object
15155      31,March,2004
15155    13,January,2003
Name: date, dtype: object
15156      29,March,2004
15156    10,January,2003
Name: date, dtype: object
15157      10,April,2004
15157    09,January,2003
Name: date, dtype: object
15158      07,April,2004
15158    06,January,2003
Name: date, dtype: object
15159      06,April,2004
15159    04,January,2003
Name: date, dtype: object
15160       04,April,2004
15160    26,February,2003
Name: date, dtype: object
15161       16,April,2004
15161    24,February,2003
Name: date, dtype: object
15162       14,April,2004
15162    21,February,2003
Name: date, dtype: object
15163       13,April,2004
15163    20,February,2003
Name: date, dtype: object
15164       12,April,2004
15164    18,February,2003
Name: date, dtype: object
15165       22,April,2004
15165    17,February,2003
Name: date, dtype: object
15166       21,April,2004
15166    15,February,2003
Name: date, dtype: object
15167       19,April,2004
15167    13,February,2003
Name: date, dtype: object
15168         01,May,2004
15168    12,February,2003
Name: date, dtype: object
15169       30,April,2004
15169    10,February,2003
Name: date, dtype: object
15170       29,April,2004
15170    08,February,2003
Name: date, dtype: object
15171       28,April,2004
15171    04,February,2003
Name: date, dtype: object
15172       27,April,2004
15172    02,February,2003
Name: date, dtype: object
15173    26,April,2004
15173    31,March,2003
Name: date, dtype: object
15174      07,May,2004
15174    26,March,2003
Name: date, dtype: object
15175      05,May,2004
15175    24,March,2003
Name: date, dtype: object
15176      03,May,2004
15176    22,March,2003
Name: date, dtype: object
15177      15,May,2004
15177    21,March,2003
Name: date, dtype: object
15178      14,May,2004
15178    20,March,2003
Name: date, dtype: object
15179      13,May,2004
15179    18,March,2003
Name: date, dtype: object
15180      12,May,2004
15180    17,March,2003
Name: date, dtype: object

15181      12,May,2004
15181    16,March,2003
Name: date, dtype: object
15182      11,May,2004
15182    14,March,2003
Name: date, dtype: object
15183      10,May,2004
15183    10,March,2003
Name: date, dtype: object
15184      22,May,2004
15184    09,March,2003
Name: date, dtype: object
15185      21,May,2004
15185    09,March,2003
Name: date, dtype: object
15186      21,May,2004
15186    08,March,2003
Name: date, dtype: object
15187      21,May,2004
15187    04,March,2003
Name: date, dtype: object
15188      19,May,2004
15188    02,March,2003
Name: date, dtype: object
15189      19,May,2004
15189    30,April,2003
Name: date, dtype: object
15190      17,May,2004
15190    29,April,2003
Name: date, dtype: object
15191      28,May,2004
15191    27,April,2003
Name: date, dtype: object
15192      27,May,2004
15192    25,April,2003
Name: date, dtype: object
15193      26,May,2004
15193    24,April,2003
Name: date, dtype: object
15194      25,May,2004
15194    22,April,2003
Name: date, dtype: object
15195      25,May,2004
15195    20,April,2003
Name: date, dtype: object
15196      25,May,2004
15196    20,April,2003
Name: date, dtype: object
15197      24,May,2004
15197    18,April,2003
Name: date, dtype: object
15198      24,May,2004
15198    17,April,2003
Name: date, dtype: object
15199      23,May,2004
15199    15,April,2003
Name: date, dtype: object
15200      23,May,2004
15200    14,April,2003
Name: date, dtype: object
15201      23,May,2004
15201    14,April,2003
Name: date, dtype: object
15202     04,June,2004
15202    13,April,2003
Name: date, dtype: object
15203     03,June,2004
15203    11,April,2003
Name: date, dtype: object
15204     01,June,2004
15204    09,April,2003
Name: date, dtype: object
15205     12,June,2004
15205    08,April,2003
Name: date, dtype: object
15206     11,June,2004
15206    07,April,2003
Name: date, dtype: object
15207     10,June,2004
15207    06,April,2003
Name: date, dtype: object
15208     09,June,2004
15208    05,April,2003
Name: date, dtype: object
15209     08,June,2004
15209    04,April,2003
Name: date, dtype: object
15210     07,June,2004
15210    03,April,2003
Name: date, dtype: object
15211     07,June,2004
15211    03,April,2003
Name: date, dtype: object
15212     07,June,2004
15212    01,April,2003
Name: date, dtype: object
15213     07,June,2004
15213    01,April,2003
Name: date, dtype: object
15214    07,June,2004
15214     31,May,2003
Name: date, dtype: object
15215    06,June,2004
15215     29,May,2003
Name: date, dtype: object
15216    18,June,2004
15216     28,May,2003
Name: date, dtype: object
15217    17,June,2004
15217     27,May,2003
Name: date, dtype: object
15218    16,June,2004
15218     27,May,2003
Name: date, dtype: object
15219    15,June,2004
15219     21,May,2003
Name: date, dtype: object
15220    14,June,2004
15220     20,May,2003
Name: date, dtype: object
15221    25,June,2004
15221     17,May,2003
Name: date, dtype: object
15222    24,June,2004
15222     17,May,2003
Name: date, dtype: object
15223    23,June,2004
15223     17,May,2003
Name: date, dtype: object
15224    22,June,2004
15224     15,May,2003
Name: date, dtype: object
15225    21,June,2004
15225     14,May,2003
Name: date, dtype: object
15226    21,June,2004
15226     13,May,2003
Name: date, dtype: object
15227    21,June,2004
15227     10,May,2003
Name: date, dtype: object
15228    20,June,2004
15228     09,May,2003
Name: date, dtype: object
15229    20,June,2004
15229     04,May,2003
Name: date, dtype: object
15230    20,June,2004
15230     03,May,2003
Name: date, dtype: object
15231    02,July,2004
15231     02,May,2003
Name: date, dtype: object
15232    01,July,2004
15232    30,June,2003
Name: date, dtype: object
15233    30,June,2004
15233    27,June,2003
Name: date, dtype: object
15234    29,June,2004
15234    26,June,2003
Name: date, dtype: object
15235    28,June,2004
15235    24,June,2003
Name: date, dtype: object
15236    28,June,2004
15236    22,June,2003
Name: date, dtype: object
15237    09,July,2004
15237    20,June,2003
Name: date, dtype: object
15238    08,July,2004
15238    18,June,2003
Name: date, dtype: object
15239    07,July,2004
15239    17,June,2003
Name: date, dtype: object
15240    06,July,2004
15240    15,June,2003
Name: date, dtype: object
15241    06,July,2004
15241    13,June,2003
Name: date, dtype: object
15242    06,July,2004
15242    12,June,2003
Name: date, dtype: object
15243    15,July,2004
15243    10,June,2003
Name: date, dtype: object
15244    14,July,2004
15244    09,June,2003
Name: date, dtype: object
15245    14,July,2004
15245    09,June,2003
Name: date, dtype: object
15246    13,July,2004
15246    06,June,2003
Name: date, dtype: object
15247    12,July,2004
15247    05,June,2003
Name: date, dtype: object
15248    11,July,2004
15248    04,June,2003
Name: date, dtype: object
15249    23,July,2004
15249    03,June,2003
Name: date, dtype: object
15250    22,July,2004
15250    01,June,2003
Name: date, dtype: object
15251    22,July,2004
15251    31,July,2003
Name: date, dtype: object
15252    21,July,2004
15252    30,July,2003
Name: date, dtype: object
15253    21,July,2004
15253    29,July,2003
Name: date, dtype: object
15254    20,July,2004
15254    27,July,2003
Name: date, dtype: object
15255    19,July,2004
15255    24,July,2003
Name: date, dtype: object
15256    19,July,2004
15256    21,July,2003
Name: date, dtype: object
15257    30,July,2004
15257    17,July,2003
Name: date, dtype: object
15258    29,July,2004
15258    15,July,2003
Name: date, dtype: object
15259    29,July,2004
15259    12,July,2003
Name: date, dtype: object
15260    28,July,2004
15260    08,July,2003
Name: date, dtype: object
15261    28,July,2004
15261    06,July,2003
Name: date, dtype: object
15262    27,July,2004
15262    01,July,2003
Name: date, dtype: object
15263    27,July,2004
15263    01,July,2003
Name: date, dtype: object
15264      26,July,2004
15264    31,August,2003
Name: date, dtype: object
15265      26,July,2004
15265    30,August,2003
Name: date, dtype: object
15266    07,August,2004
15266    28,August,2003
Name: date, dtype: object
15267    06,August,2004
15267    24,August,2003
Name: date, dtype: object
15268    05,August,2004
15268    19,August,2003
Name: date, dtype: object
15269    05,August,2004
15269    18,August,2003
Name: date, dtype: object
15270    04,August,2004
15270    08,August,2003
Name: date, dtype: object
15271    04,August,2004
15271    02,August,2003
Name: date, dtype: object
15272    03,August,2004
15272    01,August,2003
Name: date, dtype: object
15273       03,August,2004
15273    19,September,2003
Name: date, dtype: object
15274       02,August,2004
15274    17,September,2003
Name: date, dtype: object
15275       12,August,2004
15275    13,September,2003
Name: date, dtype: object
15276       10,August,2004
15276    09,September,2003
Name: date, dtype: object
15277       09,August,2004
15277    03,September,2003
Name: date, dtype: object
15278       09,August,2004
15278    02,September,2003
Name: date, dtype: object
15279      31,March,2004
15279    28,October,2003
Name: date, dtype: object
15280      30,March,2004
15280    27,October,2003
Name: date, dtype: object
15281      29,March,2004
15281    25,October,2003
Name: date, dtype: object
15282      28,March,2004
15282    23,October,2003
Name: date, dtype: object
15283      26,March,2004
15283    19,October,2003
Name: date, dtype: object
15284      25,March,2004
15284    15,October,2003
Name: date, dtype: object
15285      24,March,2004
15285    11,October,2003
Name: date, dtype: object
15286      23,March,2004
15286    09,October,2003
Name: date, dtype: object
15287      22,March,2004
15287    06,October,2003
Name: date, dtype: object
15288      22,March,2004
15288    04,October,2003
Name: date, dtype: object
15289      21,March,2004
15289    01,October,2003
Name: date, dtype: object
15290       21,March,2004
15290    26,November,2003
Name: date, dtype: object
15291       21,March,2004
15291    24,November,2003
Name: date, dtype: object
15292       19,March,2004
15292    22,November,2003
Name: date, dtype: object
15293       18,March,2004
15293    22,November,2003
Name: date, dtype: object
15294       16,March,2004
15294    20,November,2003
Name: date, dtype: object
15295       16,March,2004
15295    14,November,2003
Name: date, dtype: object
15296       09,March,2004
15296    08,November,2003
Name: date, dtype: object
15297       06,March,2004
15297    02,November,2003
Name: date, dtype: object
15298       29,April,2004
15298    29,December,2003
Name: date, dtype: object
15299       23,April,2004
15299    19,December,2003
Name: date, dtype: object
15300       16,April,2004
15300    18,December,2003
Name: date, dtype: object
15301       15,April,2004
15301    04,December,2003
Name: date, dtype: object
15302       14,April,2004
15302    01,December,2003
Name: date, dtype: object
15303      13,April,2004
15303    31,January,2004
Name: date, dtype: object
15304      12,April,2004
15304    25,January,2004
Name: date, dtype: object
15305      12,April,2004
15305    21,January,2004
Name: date, dtype: object
15306      11,April,2004
15306    19,January,2004
Name: date, dtype: object
15307      10,April,2004
15307    16,January,2004
Name: date, dtype: object
15308      09,April,2004
15308    12,January,2004
Name: date, dtype: object
15309      08,April,2004
15309    09,January,2004
Name: date, dtype: object
15310      07,April,2004
15310    05,January,2004
Name: date, dtype: object
15311      06,April,2004
15311    04,January,2004
Name: date, dtype: object
15312       05,April,2004
15312    27,February,2004
Name: date, dtype: object
15313       04,April,2004
15313    16,February,2004
Name: date, dtype: object
15314       03,April,2004
15314    09,February,2004
Name: date, dtype: object
15315    01,April,2004
15315    30,March,2004
Name: date, dtype: object

15316      23,May,2004
15316    18,March,2004
Name: date, dtype: object
15317      03,May,2004
15317    15,March,2004
Name: date, dtype: object
15318     12,June,2004
15318    11,March,2004
Name: date, dtype: object
15319     04,June,2004
15319    09,March,2004
Name: date, dtype: object
15320     24,July,2004
15320    05,March,2004
Name: date, dtype: object
15321     16,July,2004
15321    03,March,2004
Name: date, dtype: object
15322     15,July,2004
15322    01,March,2004
Name: date, dtype: object
15323     26,July,2004
15323    23,April,2004
Name: date, dtype: object
15324     11,July,2004
15324    20,April,2004
Name: date, dtype: object
15325     10,July,2004
15325    16,April,2004
Name: date, dtype: object
15326     03,July,2004
15326    12,April,2004
Name: date, dtype: object
15327     03,July,2004
15327    09,April,2004
Name: date, dtype: object
15328    11,August,2004
15328     06,April,2004
Name: date, dtype: object
15329    09,August,2004
15329       28,May,2004
Name: date, dtype: object
15330    09,August,2004
15330       22,May,2004
Name: date, dtype: object
15331    08,August,2004
15331       17,May,2004
Name: date, dtype: object
15332    08,August,2004
15332       11,May,2004
Name: date, dtype: object
15333    23,June,2004
15333     04,May,2004
Name: date, dtype: object
15334    18,June,2004
15334    24,June,2004
Name: date, dtype: object
15335    14,June,2004
15335    23,June,2004
Name: date, dtype: object
15336    12,June,2004
15336    22,June,2004
Name: date, dtype: object
15337    08,June,2004
15337    20,June,2004
Name: date, dtype: object
15338    04,June,2004
15338    17,June,2004
Name: date, dtype: object
15339    04,June,2004
15339    14,June,2004
Name: date, dtype: object
15340    04,June,2004
15340    13,June,2004
Name: date, dtype: object
15341    02,June,2004
15341    07,June,2004
Name: date, dtype: object
15342    01,June,2004
15342    06,June,2004
Name: date, dtype: object
15343    30,June,2004
15343    03,June,2004
Name: date, dtype: object
15344    29,June,2004
15344    02,June,2004
Name: date, dtype: object
15345    28,June,2004
15345    01,June,2004
Name: date, dtype: object
15346    27,June,2004
15346    30,July,2004
Name: date, dtype: object
15347    26,June,2004
15347    28,July,2004
Name: date, dtype: object
15348    25,June,2004
15348    25,July,2004
Name: date, dtype: object
15349    24,June,2004
15349    22,July,2004
Name: date, dtype: object
15350    23,June,2004
15350    21,July,2004
Name: date, dtype: object
15351    23,June,2004
15351    19,July,2004
Name: date, dtype: object
15352    22,June,2004
15352    18,July,2004
Name: date, dtype: object
15353    22,June,2004
15353    17,July,2004
Name: date, dtype: object
15354    21,June,2004
15354    17,July,2004
Name: date, dtype: object
15355    18,June,2004
15355    17,July,2004
Name: date, dtype: object
15356    17,June,2004
15356    17,July,2004
Name: date, dtype: object
15357    16,June,2004
15357    16,July,2004
Name: date, dtype: object
15358    15,June,2004
15358    16,July,2004
Name: date, dtype: object
15359    15,June,2004
15359    13,July,2004
Name: date, dtype: object
15360    30,July,2004
15360    12,July,2004
Name: date, dtype: object
15361    25,July,2004
15361    09,July,2004
Name: date, dtype: object
15362    19,July,2004
15362    07,July,2004
Name: date, dtype: object
15363    16,July,2004
15363    06,July,2004
Name: date, dtype: object
15364    13,July,2004
15364    05,July,2004
Name: date, dtype: object
15365      13,July,2004
15365    01,August,2004
Name: date, dtype: object
15366    10,July,2004
15366    29,July,2004
Name: date, dtype: object
15367    08,July,2004
15367    18,July,2004
Name: date, dtype: object
15368    06,July,2004
15368    18,July,2004
Name: date, dtype: object
15369    04,July,2004
15369    17,July,2004
Name: date, dtype: object
15370    02,July,2004
15370    16,July,2004
Name: date, dtype: object
15371    16,August,2004
15371      15,July,2004
Name: date, dtype: object
15372    10,August,2004
15372      14,July,2004
Name: date, dtype: object
15373    07,August,2004
15373    15,August,2004
Name: date, dtype: object
15374    04,August,2004
15374    11,August,2004
Name: date, dtype: object
15375      23,July,2004
15375    10,August,2004
Name: date, dtype: object
15376      22,July,2004
15376    09,August,2004
Name: date, dtype: object
15377     18,March,2004
15377    05,August,2004
Name: date, dtype: object
15378     17,March,2004
15378    05,August,2004
Name: date, dtype: object
15379     17,March,2004
15379    04,August,2004
Name: date, dtype: object
15380     16,March,2004
15380    02,August,2004
Name: date, dtype: object
15381     13,March,2004
15381    01,August,2004
Name: date, dtype: object
15382     13,March,2004
15382    01,August,2004
Name: date, dtype: object
15383     11,March,2004
15383    01,August,2004
Name: date, dtype: object
15384     08,March,2004
15384    01,August,2004
Name: date, dtype: object
15385     29,April,2004
15385    01,August,2004
Name: date, dtype: object
15386     26,April,2004
15386    01,August,2004
Name: date, dtype: object
15387     25,April,2004
15387    01,August,2004
Name: date, dtype: object
15388     25,April,2004
15388    01,August,2004
Name: date, dtype: object
15389     24,April,2004
15389    01,August,2004
Name: date, dtype: object
15390     24,April,2004
15390    01,August,2004
Name: date, dtype: object
15391     23,April,2004
15391    01,August,2004
Name: date, dtype: object
15392     22,April,2004
15392    01,August,2004
Name: date, dtype: object
15393     20,April,2004
15393    01,August,2004
Name: date, dtype: object
15394     20,April,2004
15394    01,August,2004
Name: date, dtype: object
15395     17,April,2004
15395    01,August,2004
Name: date, dtype: object
15396     16,April,2004
15396    01,August,2004
Name: date, dtype: object
15397     15,April,2004
15397    01,August,2004
Name: date, dtype: object
15398     14,April,2004
15398    01,August,2004
Name: date, dtype: object
15399     12,April,2004
15399    01,August,2004
Name: date, dtype: object
15400     12,April,2004
15400    01,August,2004
Name: date, dtype: object
15401     12,April,2004
15401    01,August,2004
Name: date, dtype: object
15402     09,April,2004
15402    01,August,2004
Name: date, dtype: object
15403     07,April,2004
15403    01,August,2004
Name: date, dtype: object
15404     04,April,2004
15404    01,August,2004
Name: date, dtype: object
15405     01,April,2004
15405    01,August,2004
Name: date, dtype: object
15406     01,April,2004
15406    01,August,2004
Name: date, dtype: object
15407       31,May,2004
15407    01,August,2004
Name: date, dtype: object
15408       28,May,2004
15408    01,August,2004
Name: date, dtype: object
15409       28,May,2004
15409    01,August,2004
Name: date, dtype: object
15410       27,May,2004
15410    01,August,2004
Name: date, dtype: object
15411       26,May,2004
15411    01,August,2004
Name: date, dtype: object
15412       24,May,2004
15412    01,August,2004
Name: date, dtype: object
15413       05,May,2004
15413    01,August,2004
Name: date, dtype: object
15414       04,May,2004
15414    01,August,2004
Name: date, dtype: object
15415       04,May,2004
15415    01,August,2004
Name: date, dtype: object
15416       03,May,2004
15416    01,August,2004
Name: date, dtype: object
15417       02,May,2004
15417    01,August,2004
Name: date, dtype: object
15418       01,May,2004
15418    01,August,2004
Name: date, dtype: object
15419      30,June,2004
15419    01,August,2004
Name: date, dtype: object
15420      26,June,2004
15420    01,August,2004
Name: date, dtype: object
15421      25,June,2004
15421    01,August,2004
Name: date, dtype: object
15422      23,June,2004
15422    01,August,2004
Name: date, dtype: object
15423    22,June,2004
15423    26,June,2004
Name: date, dtype: object
15424    20,June,2004
15424    25,June,2004
Name: date, dtype: object
15425    18,June,2004
15425    25,June,2004
Name: date, dtype: object
15426    18,June,2004
15426    25,June,2004
Name: date, dtype: object
15427    16,June,2004
15427    03,July,2004
Name: date, dtype: object
15428    14,June,2004
15428    09,July,2004
Name: date, dtype: object
15429    13,June,2004
15429    08,July,2004
Name: date, dtype: object
15430    11,June,2004
15430    08,July,2004
Name: date, dtype: object
15431    09,June,2004
15431    08,July,2004
Name: date, dtype: object
15432    07,June,2004
15432    21,July,2004
Name: date, dtype: object
15433    06,June,2004
15433    30,July,2004
Name: date, dtype: object
15434    05,June,2004
15434    29,July,2004
Name: date, dtype: object
15435    02,June,2004
15435    29,July,2004
Name: date, dtype: object
15436    01,June,2004
15436    26,July,2004
Name: date, dtype: object
15437    24,July,2004
15437    26,July,2004
Name: date, dtype: object
15438      19,July,2004
15438    06,August,2004
Name: date, dtype: object
15439      13,July,2004
15439    05,August,2004
Name: date, dtype: object
15440      13,July,2004
15440    03,August,2004
Name: date, dtype: object
15441      10,July,2004
15441    11,August,2004
Name: date, dtype: object
15442      09,July,2004
15442    10,August,2004
Name: date, dtype: object
15443      09,July,2004
15443    10,August,2004
Name: date, dtype: object
15444      09,July,2004
15444    10,August,2004
Name: date, dtype: object
15445      08,July,2004
15445    10,August,2004
Name: date, dtype: object
15446      06,July,2004
15446    09,August,2004
Name: date, dtype: object
15447      04,July,2004
15447    09,August,2004
Name: date, dtype: object
15448      03,July,2004
15448    09,August,2004
Name: date, dtype: object
15449      02,July,2004
15449    09,August,2004
Name: date, dtype: object
15450      01,July,2004
15450    09,August,2004
Name: date, dtype: object
15451    13,August,2004
15451    18,August,2004

Name: date, dtype: object
15452    12,August,2004
15452    17,August,2004
Name: date, dtype: object
15453    03,August,2004
15453       21,May,2004
Name: date, dtype: object
15454    03,August,2004
15454       21,May,2004
Name: date, dtype: object
15455    21,August,2004
15455       18,May,2004
Name: date, dtype: object
15456    19,August,2004
15456      11,June,2004
Name: date, dtype: object
15457    18,August,2004
15457      22,June,2004
Name: date, dtype: object
15458    16,August,2004
15458      08,June,2004
Name: date, dtype: object
15459    13,August,2004
15459      05,June,2004
Name: date, dtype: object
15460    12,August,2004
15460      08,July,2004
Name: date, dtype: object
15461    11,August,2004
15461      07,July,2004
Name: date, dtype: object
15462    10,August,2004
15462      07,July,2004
Name: date, dtype: object
15463    10,August,2004
15463    03,August,2004
Name: date, dtype: object
15464      30,June,2004
15464    11,August,2004
Name: date, dtype: object
15465       28,June,2004
15465    11,October,2002
Name: date, dtype: object
15466       25,June,2004
15466    09,October,2002
Name: date, dtype: object
15467       24,June,2004
15467    08,October,2002
Name: date, dtype: object
15468       23,June,2004
15468    07,October,2002
Name: date, dtype: object
15469       23,June,2004
15469    07,October,2002
Name: date, dtype: object
15470       22,June,2004
15470    07,October,2002
Name: date, dtype: object
15471       27,July,2004
15471    18,October,2002
Name: date, dtype: object
15472       14,July,2004
15472    15,October,2002
Name: date, dtype: object
15473       14,July,2004
15473    14,October,2002
Name: date, dtype: object
15474     13,July,2004
15474    14,March,2003
Name: date, dtype: object
15475     09,July,2004
15475    14,March,2003
Name: date, dtype: object
15476     09,July,2004
15476    14,March,2003
Name: date, dtype: object
15477    09,July,2004
15477    02,June,2003
Name: date, dtype: object
15478    08,July,2004
15478    02,June,2003
Name: date, dtype: object
15479      07,July,2004
15479    11,August,2003
Name: date, dtype: object
15480      01,July,2004
15480    25,August,2003
Name: date, dtype: object
15481    12,August,2004
15481    25,August,2003
Name: date, dtype: object
15482         25,July,2004
15482    10,September,2003
Name: date, dtype: object
15483       25,July,2004
15483    24,January,2004
Name: date, dtype: object
15484       25,July,2004
15484    24,January,2004
Name: date, dtype: object
15485     21,August,2004
15485    24,January,2004
Name: date, dtype: object
15486    20,August,2004
15486       12,May,2004
Name: date, dtype: object
15487    19,August,2004
15487      04,June,2004
Name: date, dtype: object
15488    19,August,2004
15488      12,June,2004
Name: date, dtype: object
15489    19,August,2004
15489      11,June,2004
Name: date, dtype: object
15490    19,August,2004
15490      09,June,2004
Name: date, dtype: object
15491    19,August,2004
15491      09,June,2004
Name: date, dtype: object
15492    19,August,2004
15492      09,June,2004
Name: date, dtype: object
15493    19,August,2004
15493      08,June,2004
Name: date, dtype: object
15494    19,August,2004
15494      08,June,2004
Name: date, dtype: object
15495    19,August,2004
15495      07,June,2004
Name: date, dtype: object
15496    19,August,2004
15496      07,June,2004
Name: date, dtype: object
15497    19,August,2004
15497      07,June,2004
Name: date, dtype: object
15498    19,August,2004
15498      07,June,2004
Name: date, dtype: object
15499    19,August,2004
15499      07,June,2004
Name: date, dtype: object
15500    19,August,2004
15500      06,June,2004
Name: date, dtype: object
15501    19,August,2004
15501      06,June,2004
Name: date, dtype: object
15502    19,August,2004
15502      06,June,2004
Name: date, dtype: object
15503    19,August,2004
15503      06,June,2004
Name: date, dtype: object
15504    19,August,2004
15504      06,June,2004
Name: date, dtype: object
15505    19,August,2004
15505      06,June,2004
Name: date, dtype: object
15506    19,August,2004
15506      06,June,2004
Name: date, dtype: object
15507    19,August,2004
15507      17,June,2004
Name: date, dtype: object
15508    19,August,2004
15508      16,June,2004
Name: date, dtype: object
15509    19,August,2004
15509      15,June,2004
Name: date, dtype: object
15510    19,August,2004
15510      15,June,2004
Name: date, dtype: object
15511    19,August,2004
15511      15,June,2004
Name: date, dtype: object
15512    19,August,2004
15512      14,June,2004
Name: date, dtype: object
15513     28,May,2004
15513    13,June,2004
Name: date, dtype: object
15514     26,May,2004
15514    25,June,2004
Name: date, dtype: object
15515     25,May,2004
15515    08,July,2004
Name: date, dtype: object
15516     23,May,2004
15516    08,July,2004
Name: date, dtype: object
15517     23,May,2004
15517    08,July,2004
Name: date, dtype: object
15518     21,May,2004
15518    08,July,2004
Name: date, dtype: object
15519     20,May,2004
15519    08,July,2004
Name: date, dtype: object
15520     20,May,2004
15520    08,July,2004
Name: date, dtype: object
15521     20,May,2004
15521    08,July,2004
Name: date, dtype: object
15522     19,May,2004
15522    16,July,2004
Name: date, dtype: object
15523     19,May,2004
15523    16,July,2004
Name: date, dtype: object
15524    30,June,2004
15524    16,July,2004
Name: date, dtype: object
15525    29,June,2004
15525    16,July,2004
Name: date, dtype: object
15526    03,June,2004
15526    16,July,2004
Name: date, dtype: object
15527    03,June,2004
15527    19,July,2004
Name: date, dtype: object
15528    02,June,2004
15528    27,July,2004
Name: date, dtype: object
15529      31,July,2004
15529    07,August,2004
Name: date, dtype: object
15530      11,July,2004
15530    02,August,2004
Name: date, dtype: object
15531      05,July,2004
15531    08,August,2004
Name: date, dtype: object
15532      04,July,2004
15532    20,August,1999
Name: date, dtype: object
15533      04,July,2004
15533    20,August,2000
Name: date, dtype: object
15534        04,July,2004
15534    15,November,2001
Name: date, dtype: object
15535      29,June,2004
15535    20,August,2002
Name: date, dtype: object
15536      28,June,2004
15536    20,August,2003
Name: date, dtype: object
15537      28,June,2004
15537    20,August,2003
Name: date, dtype: object
15538      28,June,2004
15538    20,August,2003
Name: date, dtype: object
15539      26,June,2004
15539    20,August,2004
Name: date, dtype: object
15540      26,June,2004
15540    20,August,2004
Name: date, dtype: object
15541      25,June,2004
15541    20,August,2004
Name: date, dtype: object
15542    24,June,2004
15542    24,June,2004
Name: date, dtype: object
15543    20,June,2004
15543    22,June,2004
Name: date, dtype: object
15544    17,June,2004
15544    21,June,2004
Name: date, dtype: object
15545    13,June,2004
15545    01,July,2004
Name: date, dtype: object
15546    29,July,2004
15546    10,July,2004
Name: date, dtype: object
15547    28,July,2004
15547    09,July,2004
Name: date, dtype: object
15548    28,July,2004
15548    04,July,2004
Name: date, dtype: object
15549    28,July,2004
15549    12,July,2004
Name: date, dtype: object
15550    28,July,2004
15550    12,July,2004
Name: date, dtype: object
15551    27,July,2004
15551    24,July,2004
Name: date, dtype: object
15552    27,July,2004
15552    22,July,2004
Name: date, dtype: object
15553    27,July,2004
15553    22,July,2004
Name: date, dtype: object
15554    27,July,2004
15554    19,July,2004
Name: date, dtype: object
15555    27,July,2004
15555    18,July,2004
Name: date, dtype: object
15556    24,July,2004
15556    18,July,2004
Name: date, dtype: object
15557    24,July,2004
15557    31,July,2004
Name: date, dtype: object
15558    24,July,2004
15558    27,July,2004
Name: date, dtype: object
15559    24,July,2004
15559    26,July,2004
Name: date, dtype: object
15560    24,July,2004
15560    26,July,2004
Name: date, dtype: object
15561      24,July,2004
15561    04,August,2004
Name: date, dtype: object
15562    24,July,2004
15562    29,June,2004
Name: date, dtype: object
15563    23,July,2004
15563    23,June,2004
Name: date, dtype: object
15564    23,July,2004
15564    21,June,2004
Name: date, dtype: object
15565    23,July,2004
15565    19,June,2004
Name: date, dtype: object
15566    23,July,2004
15566    18,June,2004
Name: date, dtype: object
15567    23,July,2004
15567    17,June,2004
Name: date, dtype: object
15568    23,July,2004
15568    16,June,2004
Name: date, dtype: object
15569    23,July,2004
15569    15,June,2004
Name: date, dtype: object
15570    23,July,2004
15570    14,June,2004
Name: date, dtype: object
15571    21,July,2004
15571    14,June,2004
Name: date, dtype: object
15572    21,July,2004
15572    30,July,2004
Name: date, dtype: object
15573    21,July,2004
15573    28,July,2004
Name: date, dtype: object
15574    20,July,2004
15574    27,July,2004
Name: date, dtype: object
15575    20,July,2004
15575    25,July,2004
Name: date, dtype: object
15576    15,July,2004
15576    25,July,2004
Name: date, dtype: object
15577    15,July,2004
15577    24,July,2004
Name: date, dtype: object
15578    15,July,2004
15578    23,July,2004
Name: date, dtype: object
15579    15,July,2004
15579    22,July,2004
Name: date, dtype: object
15580    15,July,2004
15580    20,July,2004
Name: date, dtype: object
15581    15,July,2004
15581    18,July,2004
Name: date, dtype: object
15582    15,July,2004
15582    15,July,2004
Name: date, dtype: object
15583    15,July,2004
15583    14,July,2004
Name: date, dtype: object
15584    15,July,2004
15584    13,July,2004
Name: date, dtype: object
15585    15,July,2004
15585    12,July,2004
Name: date, dtype: object
15586    15,July,2004
15586    11,July,2004
Name: date, dtype: object
15587    15,July,2004
15587    09,July,2004
Name: date, dtype: object
15588    15,July,2004
15588    08,July,2004
Name: date, dtype: object
15589    15,July,2004
15589    07,July,2004
Name: date, dtype: object
15590    15,July,2004
15590    06,July,2004
Name: date, dtype: object
15591    15,July,2004
15591    04,July,2004
Name: date, dtype: object
15592    13,July,2004
15592    04,July,2004
Name: date, dtype: object
15593    13,July,2004
15593    04,July,2004
Name: date, dtype: object
15594    13,July,2004
15594    03,July,2004
Name: date, dtype: object

15595    13,July,2004
15595    02,July,2004
Name: date, dtype: object
15596    13,July,2004
15596    01,July,2004
Name: date, dtype: object
15597      13,July,2004
15597    15,August,2004
Name: date, dtype: object
15598      13,July,2004
15598    13,August,2004
Name: date, dtype: object
15599      13,July,2004
15599    12,August,2004
Name: date, dtype: object
15600      13,July,2004
15600    12,August,2004
Name: date, dtype: object
15601      13,July,2004
15601    11,August,2004
Name: date, dtype: object
15602      13,July,2004
15602    10,August,2004
Name: date, dtype: object
15603      13,July,2004
15603    09,August,2004
Name: date, dtype: object
15604      13,July,2004
15604    09,August,2004
Name: date, dtype: object
15605      13,July,2004
15605    08,August,2004
Name: date, dtype: object
15606      09,July,2004
15606    06,August,2004
Name: date, dtype: object
15607      09,July,2004
15607    06,August,2004
Name: date, dtype: object
15608      09,July,2004
15608    06,August,2004
Name: date, dtype: object
15609      09,July,2004
15609    05,August,2004
Name: date, dtype: object
15610      09,July,2004
15610    05,August,2004
Name: date, dtype: object
15611      09,July,2004
15611    04,August,2004
Name: date, dtype: object
15612      09,July,2004
15612    04,August,2004
Name: date, dtype: object
15613      09,July,2004
15613    03,August,2004
Name: date, dtype: object
15614      09,July,2004
15614    02,August,2004
Name: date, dtype: object
15615      09,July,2004
15615    01,August,2004
Name: date, dtype: object
15616      09,July,2004
15616    01,August,2004
Name: date, dtype: object
15617      09,July,2004
15617    01,August,2004
Name: date, dtype: object
15618      06,July,2004
15618    01,August,2004
Name: date, dtype: object
15619      06,July,2004
15619    01,August,2004
Name: date, dtype: object
15620      06,July,2004
15620    01,August,2004
Name: date, dtype: object
15621      06,July,2004
15621    01,August,2004
Name: date, dtype: object
15622      06,July,2004
15622    01,August,2004
Name: date, dtype: object
15623    06,July,2004
15623    19,June,2004
Name: date, dtype: object
15624    06,July,2004
15624    19,June,2004
Name: date, dtype: object
15625    06,July,2004
15625    19,June,2004
Name: date, dtype: object
15626    06,July,2004
15626    19,June,2004
Name: date, dtype: object
15627      06,July,2004
15627    15,August,2004
Name: date, dtype: object
15628      06,July,2004
15628    14,August,2004
Name: date, dtype: object
15629      06,July,2004
15629    13,August,2004
Name: date, dtype: object
15630      06,July,2004
15630    24,August,2004
Name: date, dtype: object
15631      06,July,2004
15631    23,August,2004
Name: date, dtype: object
15632      06,July,2004
15632    22,August,2004
Name: date, dtype: object
15633      06,July,2004
15633    22,August,2004
Name: date, dtype: object
15634      06,July,2004
15634    22,August,2004
Name: date, dtype: object
15635    06,July,2004
15635    08,July,2004
Name: date, dtype: object
15636    06,July,2004
15636    08,July,2004
Name: date, dtype: object
15637    06,July,2004
15637    08,July,2004
Name: date, dtype: object
15638    06,July,2004
15638    08,July,2004
Name: date, dtype: object
15639    06,July,2004
15639    08,July,2004
Name: date, dtype: object
15640    09,August,2004
15640      08,July,2004
Name: date, dtype: object
15641    06,August,2004
15641      08,July,2004
Name: date, dtype: object
15642    06,August,2004
15642      08,July,2004
Name: date, dtype: object
15643    06,August,2004
15643      08,July,2004
Name: date, dtype: object
15644    06,August,2004
15644      08,July,2004
Name: date, dtype: object
15645    06,August,2004
15645      08,July,2004
Name: date, dtype: object
15646    06,August,2004
15646      08,July,2004
Name: date, dtype: object
15647    06,August,2004
15647      08,July,2004
Name: date, dtype: object
15648    06,August,2004
15648      08,July,2004
Name: date, dtype: object
15649    06,August,2004
15649      08,July,2004
Name: date, dtype: object
15650    06,August,2004
15650      08,July,2004
Name: date, dtype: object
15651    06,August,2004
15651      08,July,2004
Name: date, dtype: object
15652    06,August,2004
15652      08,July,2004
Name: date, dtype: object
15653    06,August,2004
15653      08,July,2004
Name: date, dtype: object
15654    06,August,2004
15654      08,July,2004
Name: date, dtype: object
15655    06,August,2004
15655      08,July,2004
Name: date, dtype: object
15656    06,August,2004
15656      08,July,2004
Name: date, dtype: object
15657    06,August,2004
15657      08,July,2004
Name: date, dtype: object
15658    06,August,2004
15658      08,July,2004
Name: date, dtype: object
15659    06,August,2004
15659      08,July,2004
Name: date, dtype: object
15660    06,August,2004
15660      08,July,2004
Name: date, dtype: object
15661    06,August,2004
15661      08,July,2004
Name: date, dtype: object
15662    06,August,2004
15662      08,July,2004
Name: date, dtype: object
15663    06,August,2004
15663      08,July,2004
Name: date, dtype: object
15664    06,August,2004
15664      08,July,2004
Name: date, dtype: object
15665    19,August,2004
15665      08,July,2004
Name: date, dtype: object
15666    18,August,2004
15666      08,July,2004
Name: date, dtype: object
15667    16,August,2004
15667      08,July,2004
Name: date, dtype: object
15668    15,August,2004
15668      08,July,2004
Name: date, dtype: object
15669    11,August,2004
15669      08,July,2004
Name: date, dtype: object
15670    08,August,2004
15670      08,July,2004
Name: date, dtype: object
15671    04,August,2004
15671      08,July,2004
Name: date, dtype: object
15672    03,August,2004
15672      08,July,2004
Name: date, dtype: object
15673    03,August,2004
15673      08,July,2004
Name: date, dtype: object
15674    02,August,2004
15674      08,July,2004
Name: date, dtype: object
15675    02,August,2004
15675      08,July,2004
Name: date, dtype: object
15676    02,August,2004
15676      08,July,2004
Name: date, dtype: object
15677    02,August,2004
15677      08,July,2004
Name: date, dtype: object
15678    02,August,2004
15678      08,July,2004
Name: date, dtype: object
15679    02,August,2004
15679      08,July,2004
Name: date, dtype: object
15680    02,August,2004
15680      08,July,2004
Name: date, dtype: object
15681    28,June,2004
15681    08,July,2004
Name: date, dtype: object
15682    28,June,2004
15682    08,July,2004
Name: date, dtype: object
15683    28,June,2004
15683    08,July,2004
Name: date, dtype: object
15684    28,June,2004
15684    08,July,2004
Name: date, dtype: object
15685    28,June,2004
15685    08,July,2004
Name: date, dtype: object
15686    28,June,2004
15686    08,July,2004
Name: date, dtype: object
15687    28,June,2004
15687    08,July,2004
Name: date, dtype: object
15688    28,June,2004
15688    08,July,2004
Name: date, dtype: object
15689    28,June,2004
15689    08,July,2004
Name: date, dtype: object
15690    28,June,2004
15690    08,July,2004
Name: date, dtype: object
15691    28,June,2004
15691    08,July,2004
Name: date, dtype: object
15692    28,June,2004
15692    08,July,2004
Name: date, dtype: object
15693    28,June,2004
15693    08,July,2004
Name: date, dtype: object
15694    28,June,2004
15694    08,July,2004
Name: date, dtype: object
15695    28,June,2004
15695    08,July,2004
Name: date, dtype: object
15696    28,June,2004
15696    08,July,2004
Name: date, dtype: object
15697    28,June,2004
15697    08,July,2004
Name: date, dtype: object
15698    28,June,2004
15698    08,July,2004
Name: date, dtype: object
15699    28,June,2004
15699    08,July,2004
Name: date, dtype: object
15700    28,June,2004
15700    08,July,2004
Name: date, dtype: object
15701    28,June,2004
15701    08,July,2004
Name: date, dtype: object
15702    28,June,2004
15702    08,July,2004
Name: date, dtype: object
15703    28,June,2004
15703    08,July,2004
Name: date, dtype: object
15704    28,June,2004
15704    08,July,2004
Name: date, dtype: object
15705    28,June,2004
15705    08,July,2004
Name: date, dtype: object
15706    28,June,2004
15706    08,July,2004
Name: date, dtype: object
15707    28,June,2004
15707    08,July,2004
Name: date, dtype: object
15708    28,June,2004
15708    08,July,2004
Name: date, dtype: object
15709    28,June,2004
15709    08,July,2004
Name: date, dtype: object
15710    28,June,2004
15710    08,July,2004
Name: date, dtype: object
15711    28,June,2004
15711    08,July,2004
Name: date, dtype: object
15712    28,June,2004
15712    08,July,2004
Name: date, dtype: object
15713    28,June,2004
15713    08,July,2004
Name: date, dtype: object
15714    28,June,2004
15714    08,July,2004
Name: date, dtype: object
15715    28,June,2004
15715    08,July,2004
Name: date, dtype: object
15716    28,June,2004
15716    08,July,2004
Name: date, dtype: object
15717    28,June,2004
15717    08,July,2004
Name: date, dtype: object
15718    28,June,2004
15718    08,July,2004
Name: date, dtype: object
15719    28,June,2004
15719    08,July,2004
Name: date, dtype: object
15720    28,June,2004
15720    08,July,2004
Name: date, dtype: object
15721    28,June,2004
15721    08,July,2004
Name: date, dtype: object
15722    28,June,2004
15722    08,July,2004
Name: date, dtype: object
15723    28,June,2004
15723    08,July,2004
Name: date, dtype: object
15724    28,June,2004
15724    08,July,2004
Name: date, dtype: object
15725    28,June,2004
15725    08,July,2004
Name: date, dtype: object
15726    28,June,2004
15726    08,July,2004
Name: date, dtype: object
15727    28,June,2004
15727    08,July,2004
Name: date, dtype: object
15728    28,June,2004
15728    08,July,2004
Name: date, dtype: object
15729    28,June,2004
15729    08,July,2004
Name: date, dtype: object
15730    28,June,2004
15730    08,July,2004

Name: date, dtype: object
15731    28,June,2004
15731    08,July,2004
Name: date, dtype: object
15732    28,June,2004
15732    08,July,2004
Name: date, dtype: object
15733    28,June,2004
15733    08,July,2004
Name: date, dtype: object
15734    28,June,2004
15734    08,July,2004
Name: date, dtype: object
15735    28,June,2004
15735    08,July,2004
Name: date, dtype: object
15736    28,June,2004
15736    08,July,2004
Name: date, dtype: object
15737    28,June,2004
15737    08,July,2004
Name: date, dtype: object
15738    28,June,2004
15738    08,July,2004
Name: date, dtype: object
15739    28,June,2004
15739    08,July,2004
Name: date, dtype: object
15740    28,June,2004
15740    08,July,2004
Name: date, dtype: object
15741    28,June,2004
15741    08,July,2004
Name: date, dtype: object
15742    28,June,2004
15742    08,July,2004
Name: date, dtype: object
15743    28,June,2004
15743    08,July,2004
Name: date, dtype: object
15744    28,June,2004
15744    08,July,2004
Name: date, dtype: object
15745    28,June,2004
15745    08,July,2004
Name: date, dtype: object
15746    28,June,2004
15746    08,July,2004
Name: date, dtype: object
15747    28,June,2004
15747    08,July,2004
Name: date, dtype: object
15748    28,June,2004
15748    08,July,2004
Name: date, dtype: object
15749    28,June,2004
15749    08,July,2004
Name: date, dtype: object
15750    29,June,2004
15750    08,July,2004
Name: date, dtype: object
15751    24,June,2004
15751    08,July,2004
Name: date, dtype: object
15752    21,June,2004
15752    08,July,2004
Name: date, dtype: object
15753    13,June,2004
15753    08,July,2004
Name: date, dtype: object
15754    14,July,2004
15754    08,July,2004
Name: date, dtype: object
15755    02,July,2004
15755    08,July,2004
Name: date, dtype: object
15756    20,August,2004
15756      08,July,2004
Name: date, dtype: object
15757    19,August,2004
15757      08,July,2004
Name: date, dtype: object
15758    18,August,2004
15758      08,July,2004
Name: date, dtype: object
15759    18,August,2004
15759      08,July,2004
Name: date, dtype: object
15760    18,August,2004
15760      08,July,2004
Name: date, dtype: object
15761    17,August,2004
15761      08,July,2004
Name: date, dtype: object
15762    17,August,2004
15762      08,July,2004
Name: date, dtype: object
15763    16,August,2004
15763      08,July,2004
Name: date, dtype: object
15764    16,August,2004
15764      08,July,2004
Name: date, dtype: object
15765    13,August,2004
15765      08,July,2004
Name: date, dtype: object
15766    13,August,2004
15766      08,July,2004
Name: date, dtype: object
15767    12,August,2004
15767      08,July,2004
Name: date, dtype: object
15768    12,August,2004
15768      08,July,2004
Name: date, dtype: object
15769    10,August,2004
15769      08,July,2004
Name: date, dtype: object
15770    10,August,2004
15770      08,July,2004
Name: date, dtype: object
15771    09,August,2004
15771      08,July,2004
Name: date, dtype: object
15772    09,August,2004
15772      08,July,2004
Name: date, dtype: object
15773    09,August,2004
15773      08,July,2004
Name: date, dtype: object
15774    06,August,2004
15774      08,July,2004
Name: date, dtype: object
15775    06,August,2004
15775      08,July,2004
Name: date, dtype: object
15776    06,August,2004
15776      08,July,2004
Name: date, dtype: object
15777    05,August,2004
15777      08,July,2004
Name: date, dtype: object
15778    05,August,2004
15778      08,July,2004
Name: date, dtype: object
15779    02,June,2004
15779    08,July,2004
Name: date, dtype: object
15780    01,June,2004
15780    08,July,2004
Name: date, dtype: object
15781    01,June,2004
15781    08,July,2004
Name: date, dtype: object
15782     31,May,2004
15782    08,July,2004
Name: date, dtype: object
15783     31,May,2004
15783    08,July,2004
Name: date, dtype: object
15784     31,May,2004
15784    08,July,2004
Name: date, dtype: object
15785    10,June,2004
15785    08,July,2004
Name: date, dtype: object
15786    08,June,2004
15786    08,July,2004
Name: date, dtype: object
15787    16,June,2004
15787    08,July,2004
Name: date, dtype: object
15788    21,June,2004
15788    08,July,2004
Name: date, dtype: object
15789    30,July,2004
15789    08,July,2004
Name: date, dtype: object
15790    17,July,2004
15790    08,July,2004
Name: date, dtype: object
15791    15,July,2004
15791    08,July,2004
Name: date, dtype: object
15792    15,July,2004
15792    08,July,2004
Name: date, dtype: object
15793    15,July,2004
15793    08,July,2004
Name: date, dtype: object
15794    14,July,2004
15794    08,July,2004
Name: date, dtype: object
15795    14,July,2004
15795    08,July,2004
Name: date, dtype: object
15796    13,July,2004
15796    08,July,2004
Name: date, dtype: object
15797    13,July,2004
15797    08,July,2004
Name: date, dtype: object
15798    13,July,2004
15798    08,July,2004
Name: date, dtype: object
15799    13,July,2004
15799    08,July,2004
Name: date, dtype: object
15800    13,July,2004
15800    08,July,2004
Name: date, dtype: object
15801    13,July,2004
15801    08,July,2004
Name: date, dtype: object
15802    13,July,2004
15802    08,July,2004
Name: date, dtype: object
15803    13,July,2004
15803    08,July,2004
Name: date, dtype: object
15804    24,July,2004
15804    08,July,2004
Name: date, dtype: object
15805    22,July,2004
15805    08,July,2004
Name: date, dtype: object
15806    22,July,2004
15806    08,July,2004
Name: date, dtype: object
15807    21,July,2004
15807    08,July,2004
Name: date, dtype: object
15808    20,July,2004
15808    08,July,2004
Name: date, dtype: object
15809    20,July,2004
15809    08,July,2004
Name: date, dtype: object
15810    18,July,2004
15810    08,July,2004
Name: date, dtype: object
15811    18,July,2004
15811    08,July,2004
Name: date, dtype: object
15812    18,July,2004
15812    08,July,2004
Name: date, dtype: object
15813    18,July,2004
15813    08,July,2004
Name: date, dtype: object
15814    28,July,2004
15814    08,July,2004
Name: date, dtype: object
15815    27,July,2004
15815    08,July,2004
Name: date, dtype: object
15816    27,July,2004
15816    08,July,2004
Name: date, dtype: object
15817    27,July,2004
15817    08,July,2004
Name: date, dtype: object
15818    26,July,2004
15818    08,July,2004
Name: date, dtype: object
15819    26,July,2004
15819    08,July,2004
Name: date, dtype: object
15820    26,July,2004
15820    08,July,2004
Name: date, dtype: object
15821    26,July,2004
15821    08,July,2004
Name: date, dtype: object
15822    26,July,2004
15822    08,July,2004
Name: date, dtype: object
15823    26,July,2004
15823    08,July,2004
Name: date, dtype: object
15824    25,July,2004
15824    08,July,2004
Name: date, dtype: object
15825    25,July,2004
15825    08,July,2004
Name: date, dtype: object
15826    25,July,2004
15826    08,July,2004
Name: date, dtype: object
15827    25,July,2004
15827    08,July,2004
Name: date, dtype: object
15828    25,July,2004
15828    08,July,2004
Name: date, dtype: object
15829    25,July,2004
15829    08,July,2004
Name: date, dtype: object
15830    03,August,2004
15830      08,July,2004
Name: date, dtype: object
15831    02,August,2004
15831      08,July,2004
Name: date, dtype: object
15832    02,August,2004
15832      08,July,2004
Name: date, dtype: object
15833    02,August,2004
15833      08,July,2004
Name: date, dtype: object
15834    01,August,2004
15834      08,July,2004
Name: date, dtype: object
15835    09,August,2004
15835      08,July,2004
Name: date, dtype: object
15836    16,August,2004
15836      08,July,2004
Name: date, dtype: object
15837    16,August,2004
15837      08,July,2004
Name: date, dtype: object
15838    16,August,2004
15838      08,July,2004
Name: date, dtype: object
15839    16,July,2004
15839    08,July,2004
Name: date, dtype: object
15840    15,July,2004
15840    08,July,2004
Name: date, dtype: object
15841    15,July,2004
15841    08,July,2004
Name: date, dtype: object
15842    24,July,2004
15842    08,July,2004
Name: date, dtype: object
15843    25,July,2004
15843    08,July,2004
Name: date, dtype: object
15844    06,August,2004
15844      08,July,2004
Name: date, dtype: object
15845    02,August,2004
15845      08,July,2004
Name: date, dtype: object
15846    14,June,2004
15846    08,July,2004
Name: date, dtype: object
15847    10,June,2004
15847    08,July,2004
Name: date, dtype: object
15848    10,June,2004
15848    08,July,2004
Name: date, dtype: object
15849    09,June,2004
15849    08,July,2004
Name: date, dtype: object
15850    09,June,2004
15850    08,July,2004
Name: date, dtype: object
15851    09,June,2004
15851    08,July,2004
Name: date, dtype: object
15852    08,June,2004
15852    08,July,2004
Name: date, dtype: object
15853    08,June,2004
15853    08,July,2004
Name: date, dtype: object
15854    07,June,2004
15854    08,July,2004
Name: date, dtype: object
15855    07,June,2004
15855    08,July,2004
Name: date, dtype: object
15856    04,June,2004
15856    08,July,2004
Name: date, dtype: object
15857    04,June,2004
15857    08,July,2004
Name: date, dtype: object
15858    03,June,2004
15858    08,July,2004
Name: date, dtype: object
15859    03,June,2004
15859    08,July,2004
Name: date, dtype: object
15860    06,July,2004
15860    08,July,2004
Name: date, dtype: object
15861    03,August,2004
15861      08,July,2004
Name: date, dtype: object
15862    09,August,2004
15862      08,July,2004
Name: date, dtype: object
15863    06,August,2004
15863      08,July,2004
Name: date, dtype: object
15864    05,August,2004
15864      08,July,2004
Name: date, dtype: object
15865    05,August,2004
15865      08,July,2004
Name: date, dtype: object
15866    03,August,2004
15866      08,July,2004
Name: date, dtype: object
15867    03,August,2004
15867      08,July,2004
Name: date, dtype: object
15868    03,August,2004
15868      08,July,2004
Name: date, dtype: object

15869    02,August,2004
15869      08,July,2004
Name: date, dtype: object
15870    02,August,2004
15870      08,July,2004
Name: date, dtype: object
15871    01,August,2004
15871      08,July,2004
Name: date, dtype: object
15872    01,August,2004
15872      08,July,2004
Name: date, dtype: object
15873    01,August,2004
15873      08,July,2004
Name: date, dtype: object
15874    01,August,2004
15874      08,July,2004
Name: date, dtype: object
15875    22,July,2004
15875    08,July,2004
Name: date, dtype: object
15876    21,July,2004
15876    08,July,2004
Name: date, dtype: object
15877    21,July,2004
15877    08,July,2004
Name: date, dtype: object
15878    21,July,2004
15878    08,July,2004
Name: date, dtype: object
15879    21,July,2004
15879    08,July,2004
Name: date, dtype: object
15880    21,July,2004
15880    08,July,2004
Name: date, dtype: object
15881    21,July,2004
15881    08,July,2004
Name: date, dtype: object
15882    21,July,2004
15882    08,July,2004
Name: date, dtype: object
15883    08,August,2004
15883      08,July,2004
Name: date, dtype: object
15884    07,August,2004
15884      08,July,2004
Name: date, dtype: object
15885    19,August,2004
15885      08,July,2004
Name: date, dtype: object
15886    12,August,2004
15886      08,July,2004
Name: date, dtype: object
15887    08,August,2004
15887      08,July,2004
Name: date, dtype: object
15888    06,August,2004
15888      08,July,2004
Name: date, dtype: object
15889    06,August,2004
15889      08,July,2004
Name: date, dtype: object
15890    06,August,2004
15890      08,July,2004
Name: date, dtype: object
15891    06,August,2004
15891      08,July,2004
Name: date, dtype: object
15892    31,July,2004
15892    08,July,2004
Name: date, dtype: object
15893    30,July,2004
15893    08,July,2004
Name: date, dtype: object
15894    27,July,2004
15894    08,July,2004
Name: date, dtype: object
15895    26,July,2004
15895    08,July,2004
Name: date, dtype: object
15896    26,July,2004
15896    08,July,2004
Name: date, dtype: object
15897    25,July,2004
15897    08,July,2004
Name: date, dtype: object
15898    25,July,2004
15898    08,July,2004
Name: date, dtype: object
15899    23,July,2004
15899    08,July,2004
Name: date, dtype: object
15900    23,July,2004
15900    08,July,2004
Name: date, dtype: object
15901    23,July,2004
15901    08,July,2004
Name: date, dtype: object
15902    21,July,2004
15902    08,July,2004
Name: date, dtype: object
15903    20,July,2004
15903    08,July,2004
Name: date, dtype: object
15904    18,July,2004
15904    08,July,2004
Name: date, dtype: object
15905    18,July,2004
15905    08,July,2004
Name: date, dtype: object
15906    18,July,2004
15906    08,July,2004
Name: date, dtype: object
15907    10,August,2004
15907      08,July,2004
Name: date, dtype: object
15908    07,August,2004
15908      08,July,2004
Name: date, dtype: object
15909    05,August,2004
15909      08,July,2004
Name: date, dtype: object
15910    01,August,2004
15910      08,July,2004
Name: date, dtype: object
15911    01,August,2004
15911      08,July,2004
Name: date, dtype: object
15912    15,June,2004
15912    08,July,2004
Name: date, dtype: object
15913    15,June,2004
15913    08,July,2004
Name: date, dtype: object
15914    15,June,2004
15914    08,July,2004
Name: date, dtype: object
15915    15,June,2004
15915    08,July,2004
Name: date, dtype: object
15916    04,August,2004
15916      08,July,2004
Name: date, dtype: object
15917    04,August,2004
15917      08,July,2004
Name: date, dtype: object
15918    04,August,2004
15918      08,July,2004
Name: date, dtype: object
15919    04,August,2004
15919      08,July,2004
Name: date, dtype: object
15920    04,August,2004
15920      08,July,2004
Name: date, dtype: object
15921    04,August,2004
15921      08,July,2004
Name: date, dtype: object
15922    04,August,2004
15922      08,July,2004
Name: date, dtype: object
15923    29,June,2004
15923    08,July,2004
Name: date, dtype: object
15924    28,June,2004
15924    08,July,2004
Name: date, dtype: object
15925    26,June,2004
15925    08,July,2004
Name: date, dtype: object
15926    25,June,2004
15926    08,July,2004
Name: date, dtype: object
15927    25,June,2004
15927    08,July,2004
Name: date, dtype: object
15928    25,June,2004
15928    08,July,2004
Name: date, dtype: object
15929    24,June,2004
15929    08,July,2004
Name: date, dtype: object
15930    24,June,2004
15930    08,July,2004
Name: date, dtype: object
15931    23,June,2004
15931    08,July,2004
Name: date, dtype: object
15932    21,June,2004
15932    08,July,2004
Name: date, dtype: object
15933    21,June,2004
15933    08,July,2004
Name: date, dtype: object
15934    21,June,2004
15934    08,July,2004
Name: date, dtype: object
15935    20,June,2004
15935    08,July,2004
Name: date, dtype: object
15936    19,June,2004
15936    08,July,2004
Name: date, dtype: object
15937    18,June,2004
15937    08,July,2004
Name: date, dtype: object
15938    17,June,2004
15938    08,July,2004
Name: date, dtype: object
15939    17,June,2004
15939    08,July,2004
Name: date, dtype: object
15940      17,June,2004
15940    02,August,2004
Name: date, dtype: object
15941      16,June,2004
15941    02,August,2004
Name: date, dtype: object
15942      15,June,2004
15942    03,August,2004
Name: date, dtype: object
15943      15,June,2004
15943    03,August,2004
Name: date, dtype: object
15944     14,June,2004
15944    30,March,2003
Name: date, dtype: object
15945     14,June,2004
15945    27,March,2003
Name: date, dtype: object
15946     14,June,2004
15946    25,March,2003
Name: date, dtype: object
15947     14,June,2004
15947    23,March,2003
Name: date, dtype: object
15948     29,July,2004
15948    23,March,2003
Name: date, dtype: object
15949     27,July,2004
15949    29,April,2003
Name: date, dtype: object
15950     26,July,2004
15950    28,April,2003
Name: date, dtype: object
15951     24,July,2004
15951    27,April,2003
Name: date, dtype: object
15952     24,July,2004
15952    26,April,2003
Name: date, dtype: object
15953     24,July,2004
15953    11,April,2003
Name: date, dtype: object
15954     21,July,2004
15954    11,April,2003
Name: date, dtype: object
15955     17,July,2004
15955    09,April,2003
Name: date, dtype: object
15956     17,July,2004
15956    07,April,2003
Name: date, dtype: object
15957     10,July,2004
15957    07,April,2003
Name: date, dtype: object
15958    09,July,2004
15958     04,May,2003
Name: date, dtype: object
15959    09,July,2004
15959     01,May,2003
Name: date, dtype: object
15960    07,July,2004
15960    24,June,2003
Name: date, dtype: object
15961    05,July,2004
15961    23,June,2003
Name: date, dtype: object
15962    03,July,2004
15962    28,July,2003
Name: date, dtype: object
15963    02,July,2004
15963    21,July,2003
Name: date, dtype: object
15964    01,July,2004
15964    20,July,2003
Name: date, dtype: object
15965    01,July,2004
15965    19,July,2003
Name: date, dtype: object
15966    01,July,2004
15966    16,July,2003
Name: date, dtype: object
15967    01,July,2004
15967    07,July,2003
Name: date, dtype: object
15968    01,July,2004
15968    07,July,2003
Name: date, dtype: object
15969    13,August,2004
15969    25,August,2003
Name: date, dtype: object
15970       12,August,2004
15970    21,September,2003
Name: date, dtype: object
15971       12,August,2004
15971    17,September,2003
Name: date, dtype: object
15972    06,August,2004
15972      17,June,2004
Name: date, dtype: object
15973    02,August,2004
15973      15,June,2004
Name: date, dtype: object
15974    01,August,2004
15974      10,June,2004
Name: date, dtype: object
15975    01,August,2004
15975      09,June,2004
Name: date, dtype: object
15976    31,July,2004
15976    01,June,2004
Name: date, dtype: object
15977    17,July,2004
15977    01,June,2004
Name: date, dtype: object
15978    11,July,2004
15978    18,July,2004
Name: date, dtype: object
15979    09,August,2004
15979      15,July,2004
Name: date, dtype: object
15980    06,August,2004
15980      30,July,2004
Name: date, dtype: object
15981    05,August,2004
15981      28,July,2004
Name: date, dtype: object
15982     26,May,2004
15982    28,July,2004
Name: date, dtype: object
15983     26,May,2004
15983    28,July,2004
Name: date, dtype: object
15984    04,June,2004
15984    27,July,2004
Name: date, dtype: object
15985    01,June,2004
15985    27,July,2004
Name: date, dtype: object
15986    01,June,2004
15986    25,July,2004
Name: date, dtype: object
15987     27,May,2004
15987    22,July,2004
Name: date, dtype: object
15988     26,May,2004
15988    21,July,2004
Name: date, dtype: object
15989     25,May,2004
15989    21,July,2004
Name: date, dtype: object
15990    02,June,2004
15990    16,July,2004
Name: date, dtype: object
15991    01,June,2004
15991    16,July,2004
Name: date, dtype: object
15992    22,June,2004
15992    16,July,2004
Name: date, dtype: object
15993    28,June,2004
15993    16,July,2004
Name: date, dtype: object
15994      25,June,2004
15994    17,August,2004
Name: date, dtype: object
15995      25,June,2004
15995    16,August,2004
Name: date, dtype: object
15996      25,June,2004
15996    15,August,2004
Name: date, dtype: object
15997      11,July,2004
15997    15,August,2004
Name: date, dtype: object
15998      25,July,2004
15998    13,August,2004
Name: date, dtype: object
15999      24,July,2004
15999    12,August,2004
Name: date, dtype: object
16000      23,July,2004
16000    11,August,2004
Name: date, dtype: object
16001      22,July,2004
16001    11,August,2004
Name: date, dtype: object
16002      21,July,2004
16002    11,August,2004
Name: date, dtype: object
16003    12,August,2004
16003    10,August,2004
Name: date, dtype: object

16004    23,August,2004
16004    10,August,2004
Name: date, dtype: object
16005    21,August,2004
16005    10,August,2004
Name: date, dtype: object
16006    20,August,2004
16006    09,August,2004
Name: date, dtype: object
16007    20,August,2004
16007    06,August,2004
Name: date, dtype: object
16008    20,August,2004
16008    06,August,2004
Name: date, dtype: object
16009    20,August,2004
16009    05,August,2004
Name: date, dtype: object
16010    19,August,2004
16010    05,August,2004
Name: date, dtype: object
16011    19,August,2004
16011    03,August,2004
Name: date, dtype: object
16012    19,August,2004
16012    03,August,2004
Name: date, dtype: object
16013    18,August,2004
16013    03,August,2004
Name: date, dtype: object
16014    18,August,2004
16014    03,August,2004
Name: date, dtype: object
16015    18,August,2004
16015      31,July,2004
Name: date, dtype: object
16016    18,August,2004
16016      30,July,2004
Name: date, dtype: object
16017    30,July,2004
16017    29,July,2004
Name: date, dtype: object
16018      29,July,2004
16018    12,August,2004
Name: date, dtype: object
16019      29,July,2004
16019    11,August,2004
Name: date, dtype: object
16020      29,July,2004
16020    06,August,2004
Name: date, dtype: object
16021      29,July,2004
16021    04,August,2004
Name: date, dtype: object
16022      29,July,2004
16022    03,August,2004
Name: date, dtype: object
16023    06,August,2004
16023    03,August,2004
Name: date, dtype: object
16024    04,August,2004
16024    03,August,2004
Name: date, dtype: object
16025    04,August,2004
16025      28,June,2004
Name: date, dtype: object
16026    04,August,2004
16026      22,June,2004
Name: date, dtype: object
16027    04,August,2004
16027      22,June,2004
Name: date, dtype: object
16028    04,August,2004
16028      21,June,2004
Name: date, dtype: object
16029    04,August,2004
16029      21,June,2004
Name: date, dtype: object
16030    04,August,2004
16030      21,June,2004
Name: date, dtype: object
16031    04,August,2004
16031      20,June,2004
Name: date, dtype: object
16032    04,August,2004
16032      20,June,2004
Name: date, dtype: object
16033    04,August,2004
16033      20,June,2004
Name: date, dtype: object
16034    04,August,2004
16034      20,June,2004
Name: date, dtype: object
16035    04,August,2004
16035      20,June,2004
Name: date, dtype: object
16036    04,August,2004
16036      20,June,2004
Name: date, dtype: object
16037    04,August,2004
16037      27,July,2004
Name: date, dtype: object
16038    04,August,2004
16038      21,July,2004
Name: date, dtype: object
16039    04,August,2004
16039      19,July,2004
Name: date, dtype: object
16040    04,August,2004
16040      11,July,2004
Name: date, dtype: object
16041    04,August,2004
16041      11,July,2004
Name: date, dtype: object
16042    04,August,2004
16042      08,July,2004
Name: date, dtype: object
16043    04,August,2004
16043      07,July,2004
Name: date, dtype: object
16044    04,August,2004
16044      05,July,2004
Name: date, dtype: object
16045    04,August,2004
16045      05,July,2004
Name: date, dtype: object
16046    04,August,2004
16046    01,August,2004
Name: date, dtype: object
16047    04,August,2004
16047    24,August,2004
Name: date, dtype: object
16048    04,August,2004
16048    22,August,2004
Name: date, dtype: object
16049    04,August,2004
16049    21,August,2004
Name: date, dtype: object
16050    04,August,2004
16050    20,August,2004
Name: date, dtype: object
16051    04,August,2004
16051    19,August,2004
Name: date, dtype: object
16052    04,August,2004
16052    17,August,2004
Name: date, dtype: object
16053    04,August,2004
16053    12,August,2004
Name: date, dtype: object
16054    04,August,2004
16054    01,August,2004
Name: date, dtype: object
16055    04,August,2004
16055    17,August,2004
Name: date, dtype: object
16056    04,August,2004
16056    16,August,2004
Name: date, dtype: object
16057    04,August,2004
16057    15,August,2004
Name: date, dtype: object
16058    04,August,2004
16058    15,August,2004
Name: date, dtype: object
16059    04,August,2004
16059    13,August,2004
Name: date, dtype: object
16060    04,August,2004
16060    13,August,2004
Name: date, dtype: object
16061    04,August,2004
16061    08,August,2004
Name: date, dtype: object
16062    04,August,2004
16062    07,August,2004
Name: date, dtype: object
16063    04,August,2004
16063    06,August,2004
Name: date, dtype: object
16064    04,August,2004
16064    06,August,2004
Name: date, dtype: object
16065    04,August,2004
16065    06,August,2004
Name: date, dtype: object
16066    04,August,2004
16066    06,August,2004
Name: date, dtype: object
16067    04,August,2004
16067      07,June,2004
Name: date, dtype: object
16068    04,August,2004
16068      06,June,2004
Name: date, dtype: object
16069    04,August,2004
16069      06,June,2004
Name: date, dtype: object
16070    04,August,2004
16070      05,June,2004
Name: date, dtype: object
16071    04,August,2004
16071      02,June,2004
Name: date, dtype: object
16072    04,August,2004
16072      02,June,2004
Name: date, dtype: object
16073    04,August,2004
16073      05,July,2004
Name: date, dtype: object
16074    20,August,2004
16074      30,June,2004
Name: date, dtype: object
16075    12,August,2004
16075      27,June,2004
Name: date, dtype: object
16076    10,August,2004
16076      26,June,2004
Name: date, dtype: object
16077    08,August,2004
16077      23,June,2004
Name: date, dtype: object
16078    08,August,2004
16078      20,June,2004
Name: date, dtype: object
16079    06,August,2004
16079      17,June,2004
Name: date, dtype: object
16080    06,August,2004
16080      15,June,2004
Name: date, dtype: object
16081    06,August,2004
16081      13,June,2004
Name: date, dtype: object
16082    10,June,2004
16082    02,July,2004
Name: date, dtype: object
16083    11,June,2004
16083    02,July,2004
Name: date, dtype: object
16084      10,June,2004
16084    21,August,2004
Name: date, dtype: object
16085      10,June,2004
16085    18,August,2004
Name: date, dtype: object
16086      10,June,2004
16086    18,August,2004
Name: date, dtype: object
16087    17,August,2004
16087    16,August,2004
Name: date, dtype: object
16088    13,August,2004
16088    16,August,2004
Name: date, dtype: object
16089    08,August,2004
16089    16,August,2004
Name: date, dtype: object
16090    08,August,2004
16090    23,August,2004
Name: date, dtype: object
16091    08,August,2004
16091    22,August,2004
Name: date, dtype: object
16092    08,August,2004
16092    20,August,2004
Name: date, dtype: object
16093    08,August,2004
16093    20,August,2004
Name: date, dtype: object
16094      24,June,2004
16094    19,August,2004
Name: date, dtype: object
16095      22,June,2004
16095    18,August,2004
Name: date, dtype: object
16096      19,June,2004
16096    17,August,2004
Name: date, dtype: object
16097      16,June,2004
16097    16,August,2004
Name: date, dtype: object
16098      15,June,2004
16098    16,August,2004
Name: date, dtype: object
16099    13,June,2004
16099    26,June,2004
Name: date, dtype: object
16100    11,June,2004
16100    21,June,2004
Name: date, dtype: object
16101    09,June,2004
16101    17,June,2004
Name: date, dtype: object
16102    07,June,2004
16102    17,June,2004
Name: date, dtype: object
16103    06,June,2004
16103    15,June,2004
Name: date, dtype: object
16104    03,June,2004
16104    13,June,2004
Name: date, dtype: object
16105    01,June,2004
16105    12,June,2004
Name: date, dtype: object
16106    29,June,2004
16106    11,June,2004
Name: date, dtype: object
16107    06,July,2004
16107    11,June,2004
Name: date, dtype: object
16108    03,August,2004
16108      11,June,2004
Name: date, dtype: object
16109    23,August,2004
16109      09,June,2004
Name: date, dtype: object
16110    23,August,2004
16110      09,June,2004
Name: date, dtype: object
16111    23,August,2004
16111      09,June,2004
Name: date, dtype: object
16112    23,August,2004
16112      09,June,2004
Name: date, dtype: object
16113    23,August,2004
16113      21,July,2004
Name: date, dtype: object
16114    23,August,2004
16114      20,July,2004
Name: date, dtype: object
16115    23,August,2004
16115      20,July,2004
Name: date, dtype: object
16116    23,August,2004
16116      19,July,2004
Name: date, dtype: object
16117    23,August,2004
16117      17,July,2004
Name: date, dtype: object
16118    08,July,2004
16118    11,July,2004
Name: date, dtype: object
16119    06,July,2004
16119    10,July,2004
Name: date, dtype: object
16120    05,July,2004
16120    09,July,2004
Name: date, dtype: object
16121    05,July,2004
16121    07,July,2004
Name: date, dtype: object
16122    05,July,2004
16122    31,July,2004
Name: date, dtype: object
16123    05,July,2004
16123    26,July,2004
Name: date, dtype: object
16124    05,July,2004
16124    19,July,2004
Name: date, dtype: object
16125    05,July,2004
16125    15,July,2004
Name: date, dtype: object
16126      05,July,2004
16126    15,August,2004
Name: date, dtype: object
16127      05,July,2004
16127    14,August,2004
Name: date, dtype: object
16128      30,June,2004
16128    14,August,2004
Name: date, dtype: object
16129      28,June,2004
16129    08,August,2004
Name: date, dtype: object
16130      09,June,2004
16130    06,August,2004
Name: date, dtype: object
16131      15,June,2004
16131    05,August,2004
Name: date, dtype: object
16132      14,June,2004
16132    05,August,2004
Name: date, dtype: object
16133      30,June,2004
16133    03,August,2004
Name: date, dtype: object
16134    21,June,2004
16134    06,June,2004
Name: date, dtype: object
16135    19,June,2004
16135    03,June,2004
Name: date, dtype: object
16136    15,June,2004
16136    31,July,2004
Name: date, dtype: object
16137    15,June,2004
16137    27,July,2004
Name: date, dtype: object

16138        15,June,2004
16138    26,February,2004
Name: date, dtype: object
16139        14,June,2004
16139    25,February,2004
Name: date, dtype: object
16140        14,June,2004
16140    19,February,2004
Name: date, dtype: object
16141     14,June,2004
16141    30,March,2004
Name: date, dtype: object
16142     14,June,2004
16142    29,March,2004
Name: date, dtype: object
16143     14,June,2004
16143    07,March,2004
Name: date, dtype: object
16144     14,June,2004
16144    04,March,2004
Name: date, dtype: object
16145     14,June,2004
16145    04,March,2004
Name: date, dtype: object
16146     14,June,2004
16146    30,April,2004
Name: date, dtype: object
16147     13,June,2004
16147    29,April,2004
Name: date, dtype: object
16148     13,June,2004
16148    27,April,2004
Name: date, dtype: object
16149     12,June,2004
16149    20,April,2004
Name: date, dtype: object
16150     11,June,2004
16150    20,April,2004
Name: date, dtype: object
16151     11,June,2004
16151    20,April,2004
Name: date, dtype: object
16152     11,June,2004
16152    05,April,2004
Name: date, dtype: object
16153     11,June,2004
16153    05,April,2004
Name: date, dtype: object
16154     10,June,2004
16154    05,April,2004
Name: date, dtype: object
16155     07,June,2004
16155    05,April,2004
Name: date, dtype: object
16156     07,June,2004
16156    02,April,2004
Name: date, dtype: object
16157     07,June,2004
16157    02,April,2004
Name: date, dtype: object
16158    14,July,2004
16158     31,May,2004
Name: date, dtype: object
16159    09,July,2004
16159     30,May,2004
Name: date, dtype: object
16160    03,July,2004
16160     26,May,2004
Name: date, dtype: object
16161    03,July,2004
16161     25,May,2004
Name: date, dtype: object
16162    08,August,2004
16162       24,May,2004
Name: date, dtype: object
16163    26,June,2004
16163     23,May,2004
Name: date, dtype: object
16164    25,June,2004
16164     23,May,2004
Name: date, dtype: object
16165    25,June,2004
16165     20,May,2004
Name: date, dtype: object
16166    25,June,2004
16166     14,May,2004
Name: date, dtype: object
16167    24,June,2004
16167     12,May,2004
Name: date, dtype: object
16168    24,June,2004
16168     12,May,2004
Name: date, dtype: object
16169    24,June,2004
16169     11,May,2004
Name: date, dtype: object
16170    23,June,2004
16170     10,May,2004
Name: date, dtype: object
16171    23,June,2004
16171     06,May,2004
Name: date, dtype: object
16172    22,June,2004
16172     06,May,2004
Name: date, dtype: object
16173    26,July,2004
16173     06,May,2004
Name: date, dtype: object
16174    07,July,2004
16174     05,May,2004
Name: date, dtype: object
16175    06,July,2004
16175    25,June,2004
Name: date, dtype: object
16176    05,July,2004
16176    22,June,2004
Name: date, dtype: object
16177    03,July,2004
16177    18,June,2004
Name: date, dtype: object
16178    17,August,2004
16178      17,June,2004
Name: date, dtype: object
16179    16,August,2004
16179      15,June,2004
Name: date, dtype: object
16180    14,August,2004
16180      10,June,2004
Name: date, dtype: object
16181    04,August,2004
16181      10,June,2004
Name: date, dtype: object
16182    19,July,2004
16182    08,June,2004
Name: date, dtype: object
16183    13,July,2004
16183    03,June,2004
Name: date, dtype: object
16184    12,July,2004
16184    19,July,2004
Name: date, dtype: object
16185     29,May,2004
16185    09,July,2004
Name: date, dtype: object
16186     28,May,2004
16186    03,July,2004
Name: date, dtype: object
16187     27,May,2004
16187    02,July,2004
Name: date, dtype: object
16188      11,June,2004
16188    06,August,2004
Name: date, dtype: object
16189    01,June,2004
16189    19,June,2004
Name: date, dtype: object
16190    21,July,2004
16190    17,June,2004
Name: date, dtype: object
16191    08,July,2004
16191    12,June,2004
Name: date, dtype: object
16192    08,July,2004
16192    10,June,2004
Name: date, dtype: object
16193    04,August,2004
16193      09,June,2004
Name: date, dtype: object
16194    14,June,2002
16194     31,May,2004
Name: date, dtype: object
16195    13,June,2002
16195     30,May,2004
Name: date, dtype: object
16196    13,June,2002
16196    30,June,2004
Name: date, dtype: object
16197    13,June,2002
16197    28,June,2004
Name: date, dtype: object
16198    13,June,2002
16198    27,June,2004
Name: date, dtype: object
16199    22,June,2002
16199    26,June,2004
Name: date, dtype: object
16200    19,June,2002
16200    17,June,2004
Name: date, dtype: object
16201    08,August,2002
16201      11,June,2004
Name: date, dtype: object
16202    28,August,2002
16202      06,June,2004
Name: date, dtype: object
16203    25,October,2002
16203       02,June,2004
Name: date, dtype: object
16204    24,October,2002
16204       01,June,2004
Name: date, dtype: object
16205    23,October,2002
16205      27,March,2004
Name: date, dtype: object
16206    22,October,2002
16206      25,March,2004
Name: date, dtype: object
16207    22,October,2002
16207      25,March,2004
Name: date, dtype: object
16208    20,October,2002
16208      21,April,2004
Name: date, dtype: object
16209    01,November,2002
16209       19,April,2004
Name: date, dtype: object
16210    28,October,2002
16210      16,April,2004
Name: date, dtype: object
16211    07,November,2002
16211       13,April,2004
Name: date, dtype: object
16212    01,January,2003
16212      12,April,2004
Name: date, dtype: object
16213    24,January,2003
16213      12,April,2004
Name: date, dtype: object
16214    27,January,2003
16214      08,April,2004
Name: date, dtype: object
16215    04,February,2003
16215       04,April,2004
Name: date, dtype: object
16216    27,February,2003
16216         26,May,2004
Name: date, dtype: object
16217    24,February,2003
16217         23,May,2004
Name: date, dtype: object
16218    07,March,2003
16218      22,May,2004
Name: date, dtype: object
16219    14,March,2003
16219      21,May,2004
Name: date, dtype: object
16220    13,March,2003
16220      20,May,2004
Name: date, dtype: object
16221    13,March,2003
16221      19,May,2004
Name: date, dtype: object
16222    10,March,2003
16222      19,May,2004
Name: date, dtype: object
16223    19,March,2003
16223      18,May,2004
Name: date, dtype: object
16224    18,March,2003
16224      11,May,2004
Name: date, dtype: object
16225    28,March,2003
16225     30,June,2004
Name: date, dtype: object
16226    09,April,2003
16226     24,June,2004
Name: date, dtype: object
16227    07,April,2003
16227     24,June,2004
Name: date, dtype: object
16228    16,April,2003
16228     23,June,2004
Name: date, dtype: object
16229     03,May,2003
16229    22,June,2004
Name: date, dtype: object
16230    27,April,2003
16230     21,June,2004
Name: date, dtype: object
16231     08,May,2003
16231    20,June,2004
Name: date, dtype: object
16232     05,May,2003
16232    18,June,2004
Name: date, dtype: object
16233     15,May,2003
16233    17,June,2004
Name: date, dtype: object
16234     12,May,2003
16234    15,June,2004
Name: date, dtype: object
16235     24,May,2003
16235    11,June,2004
Name: date, dtype: object
16236     21,May,2003
16236    10,June,2004
Name: date, dtype: object
16237     20,May,2003
16237    09,June,2004
Name: date, dtype: object
16238     28,May,2003
16238    08,June,2004
Name: date, dtype: object
16239    04,June,2003
16239    08,June,2004
Name: date, dtype: object
16240    01,June,2003
16240    07,June,2004
Name: date, dtype: object
16241    12,June,2003
16241    07,June,2004
Name: date, dtype: object
16242    08,June,2003
16242    07,June,2004
Name: date, dtype: object
16243    18,June,2003
16243    05,June,2004
Name: date, dtype: object
16244    27,June,2003
16244    04,June,2004
Name: date, dtype: object
16245    22,June,2003
16245    01,June,2004
Name: date, dtype: object
16246    30,June,2003
16246    29,July,2004
Name: date, dtype: object
16247    11,July,2003
16247    27,July,2004
Name: date, dtype: object
16248    10,July,2003
16248    19,July,2004
Name: date, dtype: object
16249    08,July,2003
16249    13,July,2004
Name: date, dtype: object
16250    19,July,2003
16250    11,July,2004
Name: date, dtype: object
16251    17,July,2003
16251    10,July,2004
Name: date, dtype: object
16252    15,July,2003
16252    09,July,2004
Name: date, dtype: object
16253    31,July,2003
16253    06,July,2004
Name: date, dtype: object
16254    28,July,2003
16254    05,July,2004
Name: date, dtype: object
16255    09,August,2003
16255      03,July,2004
Name: date, dtype: object
16256    08,August,2003
16256      03,July,2004
Name: date, dtype: object
16257    07,August,2003
16257    03,August,2004
Name: date, dtype: object
16258    04,August,2003
16258    01,August,2004
Name: date, dtype: object
16259    15,August,2003
16259       06,May,2002
Name: date, dtype: object
16260    22,August,2003
16260       03,May,2002
Name: date, dtype: object
16261    19,August,2003
16261       02,May,2002
Name: date, dtype: object
16262    30,August,2003
16262      13,July,2002
Name: date, dtype: object
16263    28,August,2003
16263      11,July,2002
Name: date, dtype: object
16264    01,September,2003
16264    15,September,2002
Name: date, dtype: object
16265     31,August,2003
16265    31,October,2002
Name: date, dtype: object
16266    09,September,2003
16266      30,October,2002
Name: date, dtype: object
16267    17,September,2003
16267      26,October,2002
Name: date, dtype: object
16268    25,September,2003
16268      26,October,2002
Name: date, dtype: object
16269    30,September,2003
16269      26,October,2002
Name: date, dtype: object
16270    08,October,2003
16270    25,October,2002
Name: date, dtype: object
16271    06,October,2003
16271    23,October,2002
Name: date, dtype: object
16272    18,October,2003
16272    23,October,2002
Name: date, dtype: object
16273    16,October,2003
16273    22,October,2002

Name: date, dtype: object
16274    15,October,2003
16274    21,October,2002
Name: date, dtype: object
16275    14,October,2003
16275    17,October,2002
Name: date, dtype: object
16276    14,October,2003
16276    15,October,2002
Name: date, dtype: object
16277    23,October,2003
16277    14,October,2002
Name: date, dtype: object
16278    21,October,2003
16278    11,October,2002
Name: date, dtype: object
16279    20,October,2003
16279    10,October,2002
Name: date, dtype: object
16280    30,October,2003
16280    09,October,2002
Name: date, dtype: object
16281    28,October,2003
16281    07,October,2002
Name: date, dtype: object
16282     27,October,2003
16282    28,November,2002
Name: date, dtype: object
16283     27,October,2003
16283    18,November,2002
Name: date, dtype: object
16284    06,November,2003
16284    18,November,2002
Name: date, dtype: object
16285    11,November,2003
16285    15,November,2002
Name: date, dtype: object
16286    09,November,2003
16286    09,November,2002
Name: date, dtype: object
16287    21,November,2003
16287    09,November,2002
Name: date, dtype: object
16288    25,November,2003
16288    07,November,2002
Name: date, dtype: object
16289    01,December,2003
16289    06,November,2002
Name: date, dtype: object
16290    09,December,2003
16290    01,November,2002
Name: date, dtype: object
16291    21,December,2003
16291    30,December,2002
Name: date, dtype: object
16292     06,January,2004
16292    27,December,2002
Name: date, dtype: object
16293     15,January,2004
16293    23,December,2002
Name: date, dtype: object
16294     27,January,2004
16294    22,December,2002
Name: date, dtype: object
16295    03,February,2004
16295    05,December,2002
Name: date, dtype: object
16296       13,March,2004
16296    04,December,2002
Name: date, dtype: object
16297       22,March,2004
16297    03,December,2002
Name: date, dtype: object
16298        15,May,2004
16298    25,January,2003
Name: date, dtype: object
16299        12,May,2004
16299    23,January,2003
Name: date, dtype: object
16300        11,May,2004
16300    22,January,2003
Name: date, dtype: object
16301        16,May,2004
16301    21,January,2003
Name: date, dtype: object
16302        24,May,2004
16302    09,January,2003
Name: date, dtype: object
16303       06,June,2004
16303    07,January,2003
Name: date, dtype: object
16304       17,June,2004
16304    07,January,2003
Name: date, dtype: object
16305       14,June,2004
16305    07,January,2003
Name: date, dtype: object
16306       25,June,2004
16306    05,January,2003
Name: date, dtype: object
16307       22,June,2004
16307    03,January,2003
Name: date, dtype: object
16308       03,July,2004
16308    01,January,2003
Name: date, dtype: object
16309        09,July,2004
16309    28,February,2003
Name: date, dtype: object
16310        29,July,2004
16310    27,February,2003
Name: date, dtype: object
16311        30,June,2004
16311    21,February,2003
Name: date, dtype: object
16312        29,June,2004
16312    19,February,2003
Name: date, dtype: object
16313        29,June,2004
16313    18,February,2003
Name: date, dtype: object
16314        28,June,2004
16314    13,February,2003
Name: date, dtype: object
16315        28,June,2004
16315    07,February,2003
Name: date, dtype: object
16316     27,June,2004
16316    26,March,2003
Name: date, dtype: object
16317     27,June,2004
16317    19,March,2003
Name: date, dtype: object
16318     26,June,2004
16318    18,March,2003
Name: date, dtype: object
16319     25,June,2004
16319    17,March,2003
Name: date, dtype: object
16320     25,June,2004
16320    02,March,2003
Name: date, dtype: object
16321     25,June,2004
16321    15,April,2003
Name: date, dtype: object
16322     25,June,2004
16322    11,April,2003
Name: date, dtype: object
16323     25,June,2004
16323    10,April,2003
Name: date, dtype: object
16324     24,June,2004
16324    09,April,2003
Name: date, dtype: object
16325    24,June,2004
16325     20,May,2003
Name: date, dtype: object
16326    24,June,2004
16326     19,May,2003
Name: date, dtype: object
16327    24,June,2004
16327     19,May,2003
Name: date, dtype: object
16328    24,June,2004
16328     14,May,2003
Name: date, dtype: object
16329    24,June,2004
16329     08,May,2003
Name: date, dtype: object
16330    24,June,2004
16330    12,June,2003
Name: date, dtype: object
16331    23,June,2004
16331    24,July,2003
Name: date, dtype: object
16332    23,June,2004
16332    09,July,2003
Name: date, dtype: object
16333    23,June,2004
16333    07,July,2003
Name: date, dtype: object
16334    23,June,2004
16334    06,July,2003
Name: date, dtype: object
16335    22,June,2004
16335    04,July,2003
Name: date, dtype: object
16336    22,June,2004
16336    03,July,2003
Name: date, dtype: object
16337    22,June,2004
16337    03,July,2003
Name: date, dtype: object
16338      22,June,2004
16338    28,August,2003
Name: date, dtype: object
16339      22,June,2004
16339    21,August,2003
Name: date, dtype: object
16340      22,June,2004
16340    08,August,2003
Name: date, dtype: object
16341         22,June,2004
16341    07,September,2003
Name: date, dtype: object
16342         30,July,2004
16342    03,September,2003
Name: date, dtype: object
16343       29,July,2004
16343    31,October,2003
Name: date, dtype: object
16344       25,July,2004
16344    30,October,2003
Name: date, dtype: object
16345       25,July,2004
16345    21,October,2003
Name: date, dtype: object
16346       24,July,2004
16346    10,October,2003
Name: date, dtype: object
16347       21,July,2004
16347    08,October,2003
Name: date, dtype: object
16348       20,July,2004
16348    07,October,2003
Name: date, dtype: object
16349       19,July,2004
16349    06,October,2003
Name: date, dtype: object
16350        19,July,2004
16350    28,November,2003
Name: date, dtype: object
16351        19,July,2004
16351    22,November,2003
Name: date, dtype: object
16352        19,July,2004
16352    20,November,2003
Name: date, dtype: object
16353        16,July,2004
16353    26,December,2003
Name: date, dtype: object
16354       16,July,2004
16354    21,January,2004
Name: date, dtype: object
16355       16,July,2004
16355    20,January,2004
Name: date, dtype: object
16356       15,July,2004
16356    13,January,2004
Name: date, dtype: object
16357       15,July,2004
16357    12,January,2004
Name: date, dtype: object
16358       15,July,2004
16358    07,January,2004
Name: date, dtype: object
16359       15,July,2004
16359    01,January,2004
Name: date, dtype: object
16360        14,July,2004
16360    25,February,2004
Name: date, dtype: object
16361        14,July,2004
16361    13,February,2004
Name: date, dtype: object
16362        13,July,2004
16362    03,February,2004
Name: date, dtype: object
16363     13,July,2004
16363    28,March,2004
Name: date, dtype: object
16364     12,July,2004
16364    13,March,2004
Name: date, dtype: object
16365     11,July,2004
16365    09,March,2004
Name: date, dtype: object
16366     11,July,2004
16366    17,April,2004
Name: date, dtype: object
16367     11,July,2004
16367    08,April,2004
Name: date, dtype: object
16368     11,July,2004
16368    07,April,2004
Name: date, dtype: object
16369     10,July,2004
16369    05,April,2004
Name: date, dtype: object
16370     10,July,2004
16370    02,April,2004
Name: date, dtype: object
16371     09,July,2004
16371    01,April,2004
Name: date, dtype: object
16372    08,July,2004
16372     31,May,2004
Name: date, dtype: object
16373    07,July,2004
16373     17,May,2004
Name: date, dtype: object
16374    07,July,2004
16374     08,May,2004
Name: date, dtype: object
16375    07,July,2004
16375    25,June,2004
Name: date, dtype: object
16376    06,July,2004
16376    23,June,2004
Name: date, dtype: object
16377    06,July,2004
16377    10,June,2004
Name: date, dtype: object
16378    06,July,2004
16378    19,July,2004
Name: date, dtype: object
16379    06,July,2004
16379    13,July,2004
Name: date, dtype: object
16380    06,July,2004
16380    06,July,2004
Name: date, dtype: object
16381    05,July,2004
16381    05,July,2004
Name: date, dtype: object
16382       05,July,2004
16382    26,January,2004
Name: date, dtype: object
16383       05,July,2004
16383    25,January,2004
Name: date, dtype: object
16384       05,July,2004
16384    22,January,2004
Name: date, dtype: object
16385       05,July,2004
16385    20,January,2004
Name: date, dtype: object
16386       05,July,2004
16386    18,January,2004
Name: date, dtype: object
16387       04,July,2004
16387    13,January,2004
Name: date, dtype: object
16388       03,July,2004
16388    13,January,2004
Name: date, dtype: object
16389       03,July,2004
16389    10,January,2004
Name: date, dtype: object
16390       02,July,2004
16390    10,January,2004
Name: date, dtype: object
16391        02,July,2004
16391    29,February,2004
Name: date, dtype: object
16392        01,July,2004
16392    27,February,2004
Name: date, dtype: object
16393        01,July,2004
16393    19,February,2004
Name: date, dtype: object
16394      08,August,2004
16394    08,February,2004
Name: date, dtype: object
16395      07,August,2004
16395    08,February,2004
Name: date, dtype: object
16396      02,August,2004
16396    06,February,2004
Name: date, dtype: object
16397      01,August,2004
16397    05,February,2004
Name: date, dtype: object
16398    01,August,2004
16398     21,March,2004
Name: date, dtype: object
16399      26,May,2004
16399    20,March,2004
Name: date, dtype: object
16400      26,May,2004
16400    14,March,2004
Name: date, dtype: object
16401      26,May,2004
16401    09,March,2004
Name: date, dtype: object
16402    26,May,2004
16402    30,May,2004
Name: date, dtype: object
16403    26,May,2004
16403    22,May,2004
Name: date, dtype: object
16404     26,May,2004
16404    30,June,2004
Name: date, dtype: object
16405     26,May,2004
16405    19,June,2004
Name: date, dtype: object
16406     26,May,2004
16406    07,June,2004
Name: date, dtype: object
16407     26,May,2004
16407    06,June,2004
Name: date, dtype: object
16408     26,May,2004
16408    04,June,2004
Name: date, dtype: object
16409     26,May,2004
16409    13,July,2004
Name: date, dtype: object
16410    23,August,2004
16410      12,July,2004
Name: date, dtype: object
16411    18,August,2004
16411      09,July,2004
Name: date, dtype: object
16412    16,August,2004
16412      03,July,2004
Name: date, dtype: object
16413    16,August,2004
16413      03,July,2004
Name: date, dtype: object

16414    06,June,2004
16414    19,July,2004
Name: date, dtype: object
16415    06,June,2004
16415    18,July,2004
Name: date, dtype: object
16416    18,August,2004
16416      17,July,2004
Name: date, dtype: object
16417    17,August,2004
16417      16,July,2004
Name: date, dtype: object
16418    17,August,2004
16418      15,July,2004
Name: date, dtype: object
16419    17,August,2004
16419      14,July,2004
Name: date, dtype: object
16420    17,August,2004
16420      13,July,2004
Name: date, dtype: object
16421    17,August,2004
16421      13,July,2004
Name: date, dtype: object
16422    17,August,2004
16422       21,May,2004
Name: date, dtype: object
16423    15,August,2004
16423       20,May,2004
Name: date, dtype: object
16424    13,August,2004
16424       20,May,2004
Name: date, dtype: object
16425    13,August,2004
16425       18,May,2004
Name: date, dtype: object
16426    29,June,2004
16426     17,May,2004
Name: date, dtype: object
16427    29,June,2004
16427    15,June,2004
Name: date, dtype: object
16428    12,July,2004
16428    28,July,2004
Name: date, dtype: object
16429    09,July,2004
16429    22,July,2004
Name: date, dtype: object
16430    08,July,2004
16430    17,July,2004
Name: date, dtype: object
16431    01,July,2004
16431    17,July,2004
Name: date, dtype: object
16432    27,July,2004
16432    16,July,2004
Name: date, dtype: object
16433    26,July,2004
16433    14,July,2004
Name: date, dtype: object
16434    24,July,2004
16434    12,July,2004
Name: date, dtype: object
16435    23,July,2004
16435    11,July,2004
Name: date, dtype: object
16436    22,July,2004
16436    09,July,2004
Name: date, dtype: object
16437    15,July,2004
16437    09,July,2004
Name: date, dtype: object
16438      15,July,2004
16438    14,August,2004
Name: date, dtype: object
16439      15,July,2004
16439    11,August,2004
Name: date, dtype: object
16440     30,March,2004
16440    10,August,2004
Name: date, dtype: object
16441        16,March,2004
16441    28,September,2002
Name: date, dtype: object
16442        12,March,2004
16442    26,September,2002
Name: date, dtype: object
16443        12,March,2004
16443    24,September,2002
Name: date, dtype: object
16444        08,March,2004
16444    23,September,2002
Name: date, dtype: object
16445        30,April,2004
16445    22,September,2002
Name: date, dtype: object
16446      13,April,2004
16446    24,October,2002
Name: date, dtype: object
16447      02,April,2004
16447    20,January,2003
Name: date, dtype: object
16448    02,April,2004
16448      29,May,2003
Name: date, dtype: object
16449    01,April,2004
16449     07,June,2003
Name: date, dtype: object
16450     28,May,2004
16450    24,June,2004
Name: date, dtype: object
16451    19,May,2004
16451    28,May,2004
Name: date, dtype: object
16452    19,May,2004
16452    25,May,2004
Name: date, dtype: object
16453    18,May,2004
16453    22,May,2004
Name: date, dtype: object
16454    29,June,2004
16454    31,July,2004
Name: date, dtype: object
16455    16,June,2004
16455    30,July,2004
Name: date, dtype: object
16456    11,June,2004
16456    30,July,2004
Name: date, dtype: object
16457    11,June,2004
16457    30,July,2004
Name: date, dtype: object
16458    11,June,2004
16458    30,July,2004
Name: date, dtype: object
16459    11,June,2004
16459    30,July,2004
Name: date, dtype: object
16460    11,June,2004
16460    30,July,2004
Name: date, dtype: object
16461    11,June,2004
16461    30,July,2004
Name: date, dtype: object
16462    11,June,2004
16462    30,July,2004
Name: date, dtype: object
16463    11,June,2004
16463    30,July,2004
Name: date, dtype: object
16464      11,June,2004
16464    17,August,2004
Name: date, dtype: object
16465      11,June,2004
16465    16,August,2004
Name: date, dtype: object
16466      04,June,2004
16466    15,August,2004
Name: date, dtype: object
16467      04,June,2004
16467    14,August,2004
Name: date, dtype: object
16468      04,June,2004
16468    12,August,2004
Name: date, dtype: object
16469      04,June,2004
16469    12,August,2004
Name: date, dtype: object
16470      04,June,2004
16470    10,August,2004
Name: date, dtype: object
16471      04,June,2004
16471    07,August,2004
Name: date, dtype: object
16472      04,June,2004
16472    05,August,2004
Name: date, dtype: object
16473      04,June,2004
16473    05,August,2004
Name: date, dtype: object
16474      04,June,2004
16474    05,August,2004
Name: date, dtype: object
16475      04,June,2004
16475    05,August,2004
Name: date, dtype: object
16476      04,June,2004
16476    03,August,2004
Name: date, dtype: object
16477      30,July,2004
16477    03,August,2004
Name: date, dtype: object
16478      29,July,2004
16478    03,August,2004
Name: date, dtype: object
16479      26,July,2004
16479    03,August,2004
Name: date, dtype: object
16480      13,July,2004
16480    02,August,2004
Name: date, dtype: object
16481      02,July,2004
16481    02,August,2004
Name: date, dtype: object
16482      01,July,2004
16482    02,August,2004
Name: date, dtype: object
16483      01,July,2004
16483    02,August,2004
Name: date, dtype: object
16484    10,August,2004
16484    01,August,2004
Name: date, dtype: object
16485    09,August,2004
16485    01,August,2004
Name: date, dtype: object
16486    06,August,2004
16486    01,August,2004
Name: date, dtype: object
16487    03,August,2004
16487    01,August,2004
Name: date, dtype: object
16488       30,May,2004
16488    23,August,2004
Name: date, dtype: object
16489       29,May,2004
16489    21,August,2004
Name: date, dtype: object
16490       28,May,2004
16490    19,August,2004
Name: date, dtype: object
16491       28,May,2004
16491    16,August,2004
Name: date, dtype: object
16492       27,May,2004
16492    13,August,2004
Name: date, dtype: object
16493       27,May,2004
16493    01,August,2004
Name: date, dtype: object
16494       26,May,2004
16494    01,August,2004
Name: date, dtype: object
16495       26,May,2004
16495    01,August,2004
Name: date, dtype: object
16496       25,May,2004
16496    01,August,2004
Name: date, dtype: object
16497       25,May,2004
16497    01,August,2004
Name: date, dtype: object
16498       24,May,2004
16498    01,August,2004
Name: date, dtype: object
16499       23,May,2004
16499    01,August,2004
Name: date, dtype: object
16500       22,May,2004
16500    01,August,2004
Name: date, dtype: object
16501       21,May,2004
16501    21,August,2004
Name: date, dtype: object
16502       21,May,2004
16502    19,August,2004
Name: date, dtype: object
16503       20,May,2004
16503    18,August,2004
Name: date, dtype: object
16504       20,May,2004
16504    17,August,2004
Name: date, dtype: object
16505       20,May,2004
16505    16,August,2004
Name: date, dtype: object
16506       20,May,2004
16506    14,August,2004
Name: date, dtype: object
16507       19,May,2004
16507    13,August,2004
Name: date, dtype: object
16508     19,May,2004
16508    30,June,2004
Name: date, dtype: object
16509     18,May,2004
16509    29,June,2004
Name: date, dtype: object
16510     17,May,2004
16510    25,July,2004
Name: date, dtype: object
16511     17,May,2004
16511    24,July,2004
Name: date, dtype: object
16512     17,May,2004
16512    10,July,2004
Name: date, dtype: object
16513     16,May,2004
16513    09,July,2004
Name: date, dtype: object
16514     16,May,2004
16514    02,July,2004
Name: date, dtype: object
16515       15,May,2004
16515    12,August,2004
Name: date, dtype: object
16516       15,May,2004
16516    07,August,2004
Name: date, dtype: object
16517       14,May,2004
16517    05,August,2004
Name: date, dtype: object
16518       14,May,2004
16518    01,August,2004
Name: date, dtype: object
16519    30,June,2004
16519    25,July,2004
Name: date, dtype: object
16520      29,June,2004
16520    04,August,2004
Name: date, dtype: object
16521      29,June,2004
16521    03,August,2004
Name: date, dtype: object
16522      28,June,2004
16522    02,August,2004
Name: date, dtype: object
16523    26,June,2004
16523     16,May,2004
Name: date, dtype: object
16524    26,June,2004
16524     16,May,2004
Name: date, dtype: object
16525    25,June,2004
16525     16,May,2004
Name: date, dtype: object
16526    25,June,2004
16526     16,May,2004
Name: date, dtype: object
16527    25,June,2004
16527     16,May,2004
Name: date, dtype: object
16528    24,June,2004
16528     16,May,2004
Name: date, dtype: object
16529    24,June,2004
16529     16,May,2004
Name: date, dtype: object
16530    23,June,2004
16530     16,May,2004
Name: date, dtype: object
16531    22,June,2004
16531     16,May,2004
Name: date, dtype: object
16532    22,June,2004
16532     16,May,2004
Name: date, dtype: object
16533    21,June,2004
16533     16,May,2004
Name: date, dtype: object
16534    21,June,2004
16534     16,May,2004
Name: date, dtype: object
16535    20,June,2004
16535     16,May,2004
Name: date, dtype: object
16536    19,June,2004
16536     16,May,2004
Name: date, dtype: object
16537    18,June,2004
16537     16,May,2004
Name: date, dtype: object
16538    15,June,2004
16538     16,May,2004
Name: date, dtype: object
16539    11,June,2004
16539     16,May,2004
Name: date, dtype: object
16540    10,June,2004
16540     16,May,2004
Name: date, dtype: object
16541    09,June,2004
16541     16,May,2004
Name: date, dtype: object
16542    08,June,2004
16542     28,May,2004
Name: date, dtype: object
16543    04,June,2004
16543     25,May,2004
Name: date, dtype: object
16544    03,June,2004
16544     25,May,2004
Name: date, dtype: object
16545    01,June,2004
16545     24,May,2004
Name: date, dtype: object
16546    01,June,2004
16546     23,May,2004
Name: date, dtype: object
16547    01,June,2004
16547     23,May,2004
Name: date, dtype: object
16548    28,July,2004
16548     23,May,2004
Name: date, dtype: object
16549    22,July,2004
16549     23,May,2004
Name: date, dtype: object
16550    21,July,2004
16550     23,May,2004
Name: date, dtype: object
16551    20,July,2004
16551     23,May,2004

Name: date, dtype: object
16552    17,July,2004
16552     23,May,2004
Name: date, dtype: object
16553    16,July,2004
16553     23,May,2004
Name: date, dtype: object
16554    15,July,2004
16554     23,May,2004
Name: date, dtype: object
16555    10,July,2004
16555     23,May,2004
Name: date, dtype: object
16556      06,July,2004
16556    04,August,2004
Name: date, dtype: object
16557      03,July,2004
16557    04,August,2004
Name: date, dtype: object
16558      02,July,2004
16558    04,August,2004
Name: date, dtype: object
16559       03,August,2004
16559    30,September,2002
Name: date, dtype: object
16560          31,May,2004
16560    29,September,2002
Name: date, dtype: object
16561          27,May,2004
16561    29,September,2002
Name: date, dtype: object
16562         06,June,2004
16562    29,September,2002
Name: date, dtype: object
16563         06,June,2004
16563    28,September,2002
Name: date, dtype: object
16564       03,August,2004
16564    27,September,2002
Name: date, dtype: object
16565         01,June,2004
16565    27,September,2002
Name: date, dtype: object
16566         30,July,2004
16566    26,September,2002
Name: date, dtype: object
16567         29,July,2004
16567    26,September,2002
Name: date, dtype: object
16568         29,July,2004
16568    25,September,2002
Name: date, dtype: object
16569         29,July,2004
16569    25,September,2002
Name: date, dtype: object
16570         29,July,2004
16570    24,September,2002
Name: date, dtype: object
16571         29,July,2004
16571    24,September,2002
Name: date, dtype: object
16572       06,August,2004
16572    24,September,2002
Name: date, dtype: object
16573       08,August,2004
16573    24,September,2002
Name: date, dtype: object
16574       08,August,2004
16574    24,September,2002
Name: date, dtype: object
16575       08,August,2004
16575    24,September,2002
Name: date, dtype: object
16576       08,August,2004
16576    24,September,2002
Name: date, dtype: object
16577       08,August,2004
16577    23,September,2002
Name: date, dtype: object
16578       08,August,2004
16578    23,September,2002
Name: date, dtype: object
16579       08,August,2004
16579    23,September,2002
Name: date, dtype: object
16580     08,August,2004
16580    31,October,2002
Name: date, dtype: object
16581     08,August,2004
16581    30,October,2002
Name: date, dtype: object
16582     08,August,2004
16582    28,October,2002
Name: date, dtype: object
16583     08,August,2004
16583    28,October,2002
Name: date, dtype: object
16584     08,August,2004
16584    28,October,2002
Name: date, dtype: object
16585     08,August,2004
16585    27,October,2002
Name: date, dtype: object
16586     08,August,2004
16586    26,October,2002
Name: date, dtype: object
16587     08,August,2004
16587    24,October,2002
Name: date, dtype: object
16588     08,August,2004
16588    23,October,2002
Name: date, dtype: object
16589     08,August,2004
16589    17,October,2002
Name: date, dtype: object
16590     08,August,2004
16590    16,October,2002
Name: date, dtype: object
16591     08,August,2004
16591    15,October,2002
Name: date, dtype: object
16592     08,August,2004
16592    14,October,2002
Name: date, dtype: object
16593     08,August,2004
16593    09,October,2002
Name: date, dtype: object
16594     08,August,2004
16594    07,October,2002
Name: date, dtype: object
16595     08,August,2004
16595    07,October,2002
Name: date, dtype: object
16596     08,August,2004
16596    07,October,2002
Name: date, dtype: object
16597     08,August,2004
16597    07,October,2002
Name: date, dtype: object
16598     08,August,2004
16598    03,October,2002
Name: date, dtype: object
16599     08,August,2004
16599    03,October,2002
Name: date, dtype: object
16600     08,August,2004
16600    03,October,2002
Name: date, dtype: object
16601     08,August,2004
16601    03,October,2002
Name: date, dtype: object
16602     08,August,2004
16602    03,October,2002
Name: date, dtype: object
16603     08,August,2004
16603    02,October,2002
Name: date, dtype: object
16604     08,August,2004
16604    02,October,2002
Name: date, dtype: object
16605     08,August,2004
16605    02,October,2002
Name: date, dtype: object
16606      08,August,2004
16606    29,November,2002
Name: date, dtype: object
16607      08,August,2004
16607    28,November,2002
Name: date, dtype: object
16608      08,August,2004
16608    28,November,2002
Name: date, dtype: object
16609      08,August,2004
16609    27,November,2002
Name: date, dtype: object
16610      08,August,2004
16610    26,November,2002
Name: date, dtype: object
16611      08,August,2004
16611    25,November,2002
Name: date, dtype: object
16612      08,August,2004
16612    22,November,2002
Name: date, dtype: object
16613      08,August,2004
16613    21,November,2002
Name: date, dtype: object
16614      08,August,2004
16614    20,November,2002
Name: date, dtype: object
16615      08,August,2004
16615    19,November,2002
Name: date, dtype: object
16616      08,August,2004
16616    18,November,2002
Name: date, dtype: object
16617      08,August,2004
16617    17,November,2002
Name: date, dtype: object
16618      08,August,2004
16618    17,November,2002
Name: date, dtype: object
16619      08,August,2004
16619    15,November,2002
Name: date, dtype: object
16620      08,August,2004
16620    15,November,2002
Name: date, dtype: object
16621      08,August,2004
16621    14,November,2002
Name: date, dtype: object
16622      08,August,2004
16622    13,November,2002
Name: date, dtype: object
16623      08,August,2004
16623    12,November,2002
Name: date, dtype: object
16624      08,August,2004
16624    11,November,2002
Name: date, dtype: object
16625      08,August,2004
16625    11,November,2002
Name: date, dtype: object
16626      08,August,2004
16626    10,November,2002
Name: date, dtype: object
16627      08,August,2004
16627    09,November,2002
Name: date, dtype: object
16628      08,August,2004
16628    08,November,2002
Name: date, dtype: object
16629      08,August,2004
16629    07,November,2002
Name: date, dtype: object
16630      08,August,2004
16630    06,November,2002
Name: date, dtype: object
16631      08,August,2004
16631    04,November,2002
Name: date, dtype: object
16632      08,August,2004
16632    04,November,2002
Name: date, dtype: object
16633      08,August,2004
16633    04,November,2002
Name: date, dtype: object
16634      08,August,2004
16634    04,November,2002
Name: date, dtype: object
16635      08,August,2004
16635    03,November,2002
Name: date, dtype: object
16636      08,August,2004
16636    01,November,2002
Name: date, dtype: object
16637      08,August,2004
16637    31,December,2002
Name: date, dtype: object
16638      08,August,2004
16638    30,December,2002
Name: date, dtype: object
16639      08,August,2004
16639    29,December,2002
Name: date, dtype: object
16640      08,August,2004
16640    29,December,2002
Name: date, dtype: object
16641      08,August,2004
16641    28,December,2002
Name: date, dtype: object
16642      08,August,2004
16642    27,December,2002
Name: date, dtype: object
16643      08,August,2004
16643    23,December,2002
Name: date, dtype: object
16644      08,August,2004
16644    22,December,2002
Name: date, dtype: object
16645      08,August,2004
16645    22,December,2002
Name: date, dtype: object
16646      08,August,2004
16646    20,December,2002
Name: date, dtype: object
16647      08,August,2004
16647    20,December,2002
Name: date, dtype: object
16648      08,August,2004
16648    19,December,2002
Name: date, dtype: object
16649      08,August,2004
16649    18,December,2002
Name: date, dtype: object
16650      08,August,2004
16650    18,December,2002
Name: date, dtype: object
16651      08,August,2004
16651    18,December,2002
Name: date, dtype: object
16652      08,August,2004
16652    17,December,2002
Name: date, dtype: object
16653      08,August,2004
16653    16,December,2002
Name: date, dtype: object
16654      08,August,2004
16654    16,December,2002
Name: date, dtype: object
16655      08,August,2004
16655    15,December,2002
Name: date, dtype: object
16656      08,August,2004
16656    14,December,2002
Name: date, dtype: object
16657      08,August,2004
16657    14,December,2002
Name: date, dtype: object
16658      08,August,2004
16658    12,December,2002
Name: date, dtype: object
16659      08,August,2004
16659    11,December,2002
Name: date, dtype: object
16660      08,August,2004
16660    10,December,2002
Name: date, dtype: object
16661      08,August,2004
16661    10,December,2002
Name: date, dtype: object
16662      08,August,2004
16662    10,December,2002
Name: date, dtype: object
16663      08,August,2004
16663    10,December,2002
Name: date, dtype: object
16664      08,August,2004
16664    09,December,2002
Name: date, dtype: object
16665      08,August,2004
16665    08,December,2002
Name: date, dtype: object
16666      08,August,2004
16666    08,December,2002
Name: date, dtype: object
16667      08,August,2004
16667    08,December,2002
Name: date, dtype: object
16668      08,August,2004
16668    07,December,2002
Name: date, dtype: object
16669      08,August,2004
16669    06,December,2002
Name: date, dtype: object
16670      08,August,2004
16670    06,December,2002
Name: date, dtype: object
16671      08,August,2004
16671    05,December,2002
Name: date, dtype: object
16672      08,August,2004
16672    05,December,2002
Name: date, dtype: object
16673      08,August,2004
16673    04,December,2002
Name: date, dtype: object
16674      08,August,2004
16674    03,December,2002
Name: date, dtype: object
16675      08,August,2004
16675    03,December,2002
Name: date, dtype: object
16676      08,August,2004
16676    02,December,2002
Name: date, dtype: object
16677      08,August,2004
16677    01,December,2002
Name: date, dtype: object
16678      08,August,2004
16678    01,December,2002
Name: date, dtype: object
16679     08,August,2004
16679    31,January,2003
Name: date, dtype: object
16680     08,August,2004
16680    30,January,2003
Name: date, dtype: object
16681     08,August,2004
16681    29,January,2003
Name: date, dtype: object
16682     08,August,2004
16682    28,January,2003
Name: date, dtype: object
16683     08,August,2004
16683    28,January,2003
Name: date, dtype: object
16684     08,August,2004
16684    28,January,2003
Name: date, dtype: object
16685     08,August,2004
16685    28,January,2003
Name: date, dtype: object

16686     08,August,2004
16686    27,January,2003
Name: date, dtype: object
16687     08,August,2004
16687    27,January,2003
Name: date, dtype: object
16688     08,August,2004
16688    26,January,2003
Name: date, dtype: object
16689     08,August,2004
16689    25,January,2003
Name: date, dtype: object
16690     08,August,2004
16690    25,January,2003
Name: date, dtype: object
16691     08,August,2004
16691    24,January,2003
Name: date, dtype: object
16692     08,August,2004
16692    24,January,2003
Name: date, dtype: object
16693     08,August,2004
16693    23,January,2003
Name: date, dtype: object
16694     08,August,2004
16694    22,January,2003
Name: date, dtype: object
16695     08,August,2004
16695    22,January,2003
Name: date, dtype: object
16696     08,August,2004
16696    22,January,2003
Name: date, dtype: object
16697     08,August,2004
16697    22,January,2003
Name: date, dtype: object
16698     08,August,2004
16698    21,January,2003
Name: date, dtype: object
16699     08,August,2004
16699    21,January,2003
Name: date, dtype: object
16700     08,August,2004
16700    20,January,2003
Name: date, dtype: object
16701     08,August,2004
16701    20,January,2003
Name: date, dtype: object
16702     08,August,2004
16702    19,January,2003
Name: date, dtype: object
16703     08,August,2004
16703    17,January,2003
Name: date, dtype: object
16704     08,August,2004
16704    16,January,2003
Name: date, dtype: object
16705     20,August,2004
16705    15,January,2003
Name: date, dtype: object
16706     16,August,2004
16706    14,January,2003
Name: date, dtype: object
16707     11,August,2004
16707    13,January,2003
Name: date, dtype: object
16708        12,May,2004
16708    12,January,2003
Name: date, dtype: object
16709        12,May,2004
16709    10,January,2003
Name: date, dtype: object
16710        12,May,2004
16710    10,January,2003
Name: date, dtype: object
16711       23,July,2004
16711    10,January,2003
Name: date, dtype: object
16712    15,November,2003
16712     09,January,2003
Name: date, dtype: object
16713    15,November,2003
16713     08,January,2003
Name: date, dtype: object
16714    15,November,2003
16714     08,January,2003
Name: date, dtype: object
16715    15,November,2003
16715     07,January,2003
Name: date, dtype: object
16716    15,November,2003
16716     06,January,2003
Name: date, dtype: object
16717    16,November,2003
16717     06,January,2003
Name: date, dtype: object
16718    16,November,2003
16718     06,January,2003
Name: date, dtype: object
16719    17,November,2003
16719     05,January,2003
Name: date, dtype: object
16720    17,November,2003
16720     04,January,2003
Name: date, dtype: object
16721    17,November,2003
16721     04,January,2003
Name: date, dtype: object
16722    17,November,2003
16722     04,January,2003
Name: date, dtype: object
16723    18,November,2003
16723     03,January,2003
Name: date, dtype: object
16724    18,November,2003
16724     02,January,2003
Name: date, dtype: object
16725    18,November,2003
16725     02,January,2003
Name: date, dtype: object
16726    18,November,2003
16726     02,January,2003
Name: date, dtype: object
16727    19,November,2003
16727    28,February,2003
Name: date, dtype: object
16728    19,November,2003
16728    27,February,2003
Name: date, dtype: object
16729    19,November,2003
16729    25,February,2003
Name: date, dtype: object
16730    20,November,2003
16730    23,February,2003
Name: date, dtype: object
16731    22,November,2003
16731    22,February,2003
Name: date, dtype: object
16732    30,November,2003
16732    21,February,2003
Name: date, dtype: object
16733    07,December,2003
16733    20,February,2003
Name: date, dtype: object
16734    08,December,2003
16734    20,February,2003
Name: date, dtype: object
16735    08,December,2003
16735    19,February,2003
Name: date, dtype: object
16736    10,December,2003
16736    19,February,2003
Name: date, dtype: object
16737    16,December,2003
16737    17,February,2003
Name: date, dtype: object
16738     22,January,2004
16738    16,February,2003
Name: date, dtype: object
16739        08,July,2004
16739    16,February,2003
Name: date, dtype: object
16740        08,July,2004
16740    16,February,2003
Name: date, dtype: object
16741        10,July,2004
16741    15,February,2003
Name: date, dtype: object
16742        10,July,2004
16742    14,February,2003
Name: date, dtype: object
16743        19,July,2004
16743    13,February,2003
Name: date, dtype: object
16744        19,July,2004
16744    12,February,2003
Name: date, dtype: object
16745        19,July,2004
16745    11,February,2003
Name: date, dtype: object
16746        19,July,2004
16746    10,February,2003
Name: date, dtype: object
16747        19,July,2004
16747    09,February,2003
Name: date, dtype: object
16748        19,July,2004
16748    09,February,2003
Name: date, dtype: object
16749        19,July,2004
16749    06,February,2003
Name: date, dtype: object
16750        20,July,2004
16750    06,February,2003
Name: date, dtype: object
16751        20,July,2004
16751    05,February,2003
Name: date, dtype: object
16752        20,July,2004
16752    04,February,2003
Name: date, dtype: object
16753        20,July,2004
16753    04,February,2003
Name: date, dtype: object
16754        20,July,2004
16754    03,February,2003
Name: date, dtype: object
16755        21,July,2004
16755    02,February,2003
Name: date, dtype: object
16756        21,July,2004
16756    01,February,2003
Name: date, dtype: object
16757        21,July,2004
16757    01,February,2003
Name: date, dtype: object
16758        21,July,2004
16758    01,February,2003
Name: date, dtype: object
16759     21,July,2004
16759    31,March,2003
Name: date, dtype: object
16760     21,July,2004
16760    30,March,2003
Name: date, dtype: object
16761     21,July,2004
16761    29,March,2003
Name: date, dtype: object
16762     22,July,2004
16762    29,March,2003
Name: date, dtype: object
16763     22,July,2004
16763    26,March,2003
Name: date, dtype: object
16764     23,July,2004
16764    23,March,2003
Name: date, dtype: object
16765     24,July,2004
16765    23,March,2003
Name: date, dtype: object
16766     25,July,2004
16766    23,March,2003
Name: date, dtype: object
16767     26,July,2004
16767    21,March,2003
Name: date, dtype: object
16768     26,July,2004
16768    21,March,2003
Name: date, dtype: object
16769     26,July,2004
16769    20,March,2003
Name: date, dtype: object
16770     27,July,2004
16770    18,March,2003
Name: date, dtype: object
16771     28,July,2004
16771    17,March,2003
Name: date, dtype: object
16772     28,July,2004
16772    17,March,2003
Name: date, dtype: object
16773     28,July,2004
16773    17,March,2003
Name: date, dtype: object
16774     28,July,2004
16774    17,March,2003
Name: date, dtype: object
16775     28,July,2004
16775    16,March,2003
Name: date, dtype: object
16776     29,July,2004
16776    14,March,2003
Name: date, dtype: object
16777     30,July,2004
16777    14,March,2003
Name: date, dtype: object
16778     30,July,2004
16778    13,March,2003
Name: date, dtype: object
16779    01,August,2004
16779     11,March,2003
Name: date, dtype: object
16780    01,August,2004
16780     09,March,2003
Name: date, dtype: object
16781    01,August,2004
16781     08,March,2003
Name: date, dtype: object
16782    01,August,2004
16782     07,March,2003
Name: date, dtype: object
16783    02,August,2004
16783     01,March,2003
Name: date, dtype: object
16784    02,August,2004
16784     01,March,2003
Name: date, dtype: object
16785    02,August,2004
16785     30,April,2003
Name: date, dtype: object
16786    02,August,2004
16786     29,April,2003
Name: date, dtype: object
16787    03,August,2004
16787     29,April,2003
Name: date, dtype: object
16788    03,August,2004
16788     29,April,2003
Name: date, dtype: object
16789    03,August,2004
16789     27,April,2003
Name: date, dtype: object
16790    03,August,2004
16790     22,April,2003
Name: date, dtype: object
16791    04,August,2004
16791     15,April,2003
Name: date, dtype: object
16792    04,August,2004
16792     13,April,2003
Name: date, dtype: object
16793    04,August,2004
16793     13,April,2003
Name: date, dtype: object
16794    04,August,2004
16794     12,April,2003
Name: date, dtype: object
16795    05,August,2004
16795     11,April,2003
Name: date, dtype: object
16796    05,August,2004
16796     09,April,2003
Name: date, dtype: object

16797    05,August,2004
16797     07,April,2003
Name: date, dtype: object
16798    06,August,2004
16798     06,April,2003
Name: date, dtype: object
16799     15,June,2004
16799    03,April,2003
Name: date, dtype: object
16800     13,June,2004
16800    01,April,2003
Name: date, dtype: object
16801     10,June,2004
16801    01,April,2003
Name: date, dtype: object
16802    21,July,2004
16802     28,May,2003
Name: date, dtype: object
16803    31,May,2004
16803    25,May,2003
Name: date, dtype: object
16804    30,May,2004
16804    21,May,2003
Name: date, dtype: object
16805    29,May,2004
16805    12,May,2003
Name: date, dtype: object
16806     28,May,2004
16806    30,June,2003
Name: date, dtype: object
16807     27,May,2004
16807    29,June,2003
Name: date, dtype: object
16808     26,May,2004
16808    28,June,2003
Name: date, dtype: object
16809     25,May,2004
16809    28,June,2003
Name: date, dtype: object
16810     25,May,2004
16810    26,June,2003
Name: date, dtype: object
16811     24,May,2004
16811    24,June,2003
Name: date, dtype: object
16812     23,May,2004
16812    24,June,2003
Name: date, dtype: object
16813     23,May,2004
16813    24,June,2003
Name: date, dtype: object
16814     22,May,2004
16814    22,June,2003
Name: date, dtype: object
16815     21,May,2004
16815    21,June,2003
Name: date, dtype: object
16816     20,May,2004
16816    18,June,2003
Name: date, dtype: object
16817     19,May,2004
16817    18,June,2003
Name: date, dtype: object
16818     18,May,2004
16818    15,June,2003
Name: date, dtype: object
16819     17,May,2004
16819    15,June,2003
Name: date, dtype: object
16820     16,May,2004
16820    11,June,2003
Name: date, dtype: object
16821     15,May,2004
16821    11,June,2003
Name: date, dtype: object
16822     14,May,2004
16822    10,June,2003
Name: date, dtype: object
16823     13,May,2004
16823    09,June,2003
Name: date, dtype: object
16824     12,May,2004
16824    08,June,2003
Name: date, dtype: object
16825     11,May,2004
16825    07,June,2003
Name: date, dtype: object
16826    30,June,2004
16826    06,June,2003
Name: date, dtype: object
16827    29,June,2004
16827    06,June,2003
Name: date, dtype: object
16828    28,June,2004
16828    05,June,2003
Name: date, dtype: object
16829    27,June,2004
16829    31,July,2003
Name: date, dtype: object
16830    24,June,2004
16830    30,July,2003
Name: date, dtype: object
16831    23,June,2004
16831    30,July,2003
Name: date, dtype: object
16832    21,June,2004
16832    28,July,2003
Name: date, dtype: object
16833    21,June,2004
16833    27,July,2003
Name: date, dtype: object
16834    20,June,2004
16834    25,July,2003
Name: date, dtype: object
16835    19,June,2004
16835    25,July,2003
Name: date, dtype: object
16836    18,June,2004
16836    24,July,2003
Name: date, dtype: object
16837    17,June,2004
16837    24,July,2003
Name: date, dtype: object
16838    17,June,2004
16838    22,July,2003
Name: date, dtype: object
16839    16,June,2004
16839    21,July,2003
Name: date, dtype: object
16840    15,June,2004
16840    21,July,2003
Name: date, dtype: object
16841    14,June,2004
16841    20,July,2003
Name: date, dtype: object
16842    14,June,2004
16842    19,July,2003
Name: date, dtype: object
16843    13,June,2004
16843    18,July,2003
Name: date, dtype: object
16844    12,June,2004
16844    18,July,2003
Name: date, dtype: object
16845    10,June,2004
16845    17,July,2003
Name: date, dtype: object
16846    09,June,2004
16846    16,July,2003
Name: date, dtype: object
16847    08,June,2004
16847    15,July,2003
Name: date, dtype: object
16848    07,June,2004
16848    12,July,2003
Name: date, dtype: object
16849    06,June,2004
16849    11,July,2003
Name: date, dtype: object
16850    05,June,2004
16850    11,July,2003
Name: date, dtype: object
16851    03,June,2004
16851    10,July,2003
Name: date, dtype: object
16852    01,June,2004
16852    10,July,2003
Name: date, dtype: object
16853    26,July,2004
16853    10,July,2003
Name: date, dtype: object
16854    21,July,2004
16854    09,July,2003
Name: date, dtype: object
16855    20,July,2004
16855    08,July,2003
Name: date, dtype: object
16856    18,July,2004
16856    08,July,2003
Name: date, dtype: object
16857    17,July,2004
16857    07,July,2003
Name: date, dtype: object
16858    12,July,2004
16858    06,July,2003
Name: date, dtype: object
16859    09,July,2004
16859    05,July,2003
Name: date, dtype: object
16860    09,July,2004
16860    04,July,2003
Name: date, dtype: object
16861    07,July,2004
16861    03,July,2003
Name: date, dtype: object
16862    05,July,2004
16862    03,July,2003
Name: date, dtype: object
16863    04,July,2004
16863    02,July,2003
Name: date, dtype: object
16864      03,July,2004
16864    29,August,2003
Name: date, dtype: object
16865      02,July,2004
16865    27,August,2003
Name: date, dtype: object
16866      01,July,2004
16866    26,August,2003
Name: date, dtype: object
16867    08,August,2004
16867    25,August,2003
Name: date, dtype: object
16868      20,June,2004
16868    25,August,2003
Name: date, dtype: object
16869      18,June,2004
16869    25,August,2003
Name: date, dtype: object
16870      30,July,2004
16870    23,August,2003
Name: date, dtype: object
16871      18,June,2003
16871    22,August,2003
Name: date, dtype: object
16872      10,June,2003
16872    21,August,2003
Name: date, dtype: object
16873      09,June,2003
16873    21,August,2003
Name: date, dtype: object
16874      06,June,2003
16874    20,August,2003
Name: date, dtype: object
16875      05,June,2003
16875    19,August,2003
Name: date, dtype: object
16876      05,June,2003
16876    17,August,2003
Name: date, dtype: object
16877      31,July,2003
16877    16,August,2003
Name: date, dtype: object
16878      16,July,2003
16878    15,August,2003
Name: date, dtype: object
16879    25,November,2003
16879      14,August,2003
Name: date, dtype: object
16880      20,July,2004
16880    12,August,2003
Name: date, dtype: object
16881      08,July,2004
16881    11,August,2003
Name: date, dtype: object
16882      06,July,2004
16882    10,August,2003
Name: date, dtype: object
16883      02,July,2004
16883    08,August,2003
Name: date, dtype: object
16884      02,July,2004
16884    07,August,2003
Name: date, dtype: object
16885      02,July,2004
16885    07,August,2003
Name: date, dtype: object
16886      02,July,2004
16886    06,August,2003
Name: date, dtype: object
16887      02,July,2004
16887    06,August,2003
Name: date, dtype: object
16888      10,July,2004
16888    05,August,2003
Name: date, dtype: object
16889      08,June,2004
16889    04,August,2003
Name: date, dtype: object
16890      11,July,2004
16890    03,August,2003
Name: date, dtype: object
16891      16,July,2004
16891    03,August,2003
Name: date, dtype: object
16892      16,July,2004
16892    01,August,2003
Name: date, dtype: object
16893      16,July,2004
16893    01,August,2003
Name: date, dtype: object
16894         16,July,2004
16894    30,September,2003
Name: date, dtype: object
16895         16,July,2004
16895    29,September,2003
Name: date, dtype: object
16896         16,July,2004
16896    27,September,2003
Name: date, dtype: object
16897         16,July,2004
16897    26,September,2003
Name: date, dtype: object
16898         16,July,2004
16898    24,September,2003
Name: date, dtype: object
16899         16,July,2004
16899    23,September,2003
Name: date, dtype: object
16900         16,July,2004
16900    22,September,2003
Name: date, dtype: object
16901         16,July,2004
16901    21,September,2003
Name: date, dtype: object
16902         16,July,2004
16902    20,September,2003
Name: date, dtype: object
16903         16,July,2004
16903    19,September,2003
Name: date, dtype: object
16904         16,July,2004
16904    18,September,2003
Name: date, dtype: object
16905         16,July,2004
16905    17,September,2003
Name: date, dtype: object
16906         16,July,2004
16906    17,September,2003
Name: date, dtype: object
16907         16,July,2004
16907    16,September,2003
Name: date, dtype: object
16908         16,July,2004
16908    15,September,2003
Name: date, dtype: object
16909         16,July,2004
16909    14,September,2003
Name: date, dtype: object
16910         16,July,2004
16910    10,September,2003
Name: date, dtype: object
16911         16,July,2004
16911    09,September,2003
Name: date, dtype: object
16912         16,July,2004
16912    07,September,2003
Name: date, dtype: object
16913         16,July,2004
16913    06,September,2003
Name: date, dtype: object
16914         16,July,2004
16914    06,September,2003
Name: date, dtype: object
16915         16,July,2004
16915    06,September,2003
Name: date, dtype: object
16916         16,July,2004
16916    06,September,2003
Name: date, dtype: object
16917         16,July,2004
16917    04,September,2003
Name: date, dtype: object
16918         16,July,2004
16918    04,September,2003
Name: date, dtype: object
16919         16,July,2004
16919    03,September,2003
Name: date, dtype: object
16920         16,July,2004
16920    03,September,2003
Name: date, dtype: object
16921         16,July,2004
16921    02,September,2003
Name: date, dtype: object
16922         16,July,2004
16922    01,September,2003
Name: date, dtype: object
16923         16,July,2004
16923    01,September,2003
Name: date, dtype: object
16924       16,July,2004
16924    19,October,2003
Name: date, dtype: object
16925       16,July,2004
16925    12,October,2003
Name: date, dtype: object
16926       16,July,2004
16926    11,October,2003
Name: date, dtype: object
16927       16,July,2004
16927    08,October,2003
Name: date, dtype: object
16928       16,July,2004
16928    06,October,2003
Name: date, dtype: object
16929       16,July,2004
16929    05,October,2003
Name: date, dtype: object
16930       16,July,2004
16930    03,October,2003
Name: date, dtype: object
16931       16,July,2004
16931    03,October,2003
Name: date, dtype: object
16932       16,July,2004
16932    02,October,2003
Name: date, dtype: object
16933       16,July,2004
16933    02,October,2003
Name: date, dtype: object
16934       16,July,2004
16934    02,October,2003
Name: date, dtype: object
16935       16,July,2004
16935    02,October,2003
Name: date, dtype: object
16936        16,July,2004
16936    30,November,2003
Name: date, dtype: object
16937        16,July,2004
16937    29,November,2003
Name: date, dtype: object
16938        16,July,2004
16938    24,November,2003
Name: date, dtype: object
16939        16,July,2004
16939    24,November,2003
Name: date, dtype: object
16940        16,July,2004
16940    21,November,2003
Name: date, dtype: object
16941        16,July,2004
16941    19,November,2003
Name: date, dtype: object
16942        16,July,2004
16942    16,November,2003
Name: date, dtype: object
16943        16,July,2004
16943    14,November,2003
Name: date, dtype: object
16944        16,July,2004
16944    14,November,2003
Name: date, dtype: object

16945        16,July,2004
16945    14,November,2003
Name: date, dtype: object
16946        16,July,2004
16946    14,November,2003
Name: date, dtype: object
16947        16,July,2004
16947    31,December,2003
Name: date, dtype: object
16948        16,July,2004
16948    30,December,2003
Name: date, dtype: object
16949        16,July,2004
16949    28,December,2003
Name: date, dtype: object
16950        16,July,2004
16950    28,December,2003
Name: date, dtype: object
16951        16,July,2004
16951    26,December,2003
Name: date, dtype: object
16952        16,July,2004
16952    26,December,2003
Name: date, dtype: object
16953        16,July,2004
16953    25,December,2003
Name: date, dtype: object
16954        16,July,2004
16954    24,December,2003
Name: date, dtype: object
16955        16,July,2004
16955    24,December,2003
Name: date, dtype: object
16956        16,July,2004
16956    24,December,2003
Name: date, dtype: object
16957        16,July,2004
16957    22,December,2003
Name: date, dtype: object
16958        16,July,2004
16958    20,December,2003
Name: date, dtype: object
16959        16,July,2004
16959    20,December,2003
Name: date, dtype: object
16960        16,July,2004
16960    20,December,2003
Name: date, dtype: object
16961        16,July,2004
16961    19,December,2003
Name: date, dtype: object
16962        16,July,2004
16962    18,December,2003
Name: date, dtype: object
16963        16,July,2004
16963    17,December,2003
Name: date, dtype: object
16964        16,July,2004
16964    17,December,2003
Name: date, dtype: object
16965        16,July,2004
16965    17,December,2003
Name: date, dtype: object
16966        16,July,2004
16966    17,December,2003
Name: date, dtype: object
16967        16,July,2004
16967    16,December,2003
Name: date, dtype: object
16968        16,July,2004
16968    16,December,2003
Name: date, dtype: object
16969        16,July,2004
16969    12,December,2003
Name: date, dtype: object
16970        16,July,2004
16970    12,December,2003
Name: date, dtype: object
16971        16,July,2004
16971    12,December,2003
Name: date, dtype: object
16972        16,July,2004
16972    11,December,2003
Name: date, dtype: object
16973        16,July,2004
16973    09,December,2003
Name: date, dtype: object
16974        16,July,2004
16974    09,December,2003
Name: date, dtype: object
16975        16,July,2004
16975    08,December,2003
Name: date, dtype: object
16976        05,July,2004
16976    08,December,2003
Name: date, dtype: object
16977        27,June,2004
16977    06,December,2003
Name: date, dtype: object
16978        25,June,2004
16978    06,December,2003
Name: date, dtype: object
16979        25,June,2004
16979    05,December,2003
Name: date, dtype: object
16980        23,June,2004
16980    05,December,2003
Name: date, dtype: object
16981        22,June,2004
16981    05,December,2003
Name: date, dtype: object
16982        19,June,2004
16982    05,December,2003
Name: date, dtype: object
16983       19,June,2004
16983    29,January,2004
Name: date, dtype: object
16984       18,June,2004
16984    24,January,2004
Name: date, dtype: object
16985       18,June,2004
16985    22,January,2004
Name: date, dtype: object
16986       17,June,2004
16986    21,January,2004
Name: date, dtype: object
16987       17,June,2004
16987    21,January,2004
Name: date, dtype: object
16988       16,June,2004
16988    20,January,2004
Name: date, dtype: object
16989       16,June,2004
16989    19,January,2004
Name: date, dtype: object
16990       16,June,2004
16990    18,January,2004
Name: date, dtype: object
16991       15,June,2004
16991    17,January,2004
Name: date, dtype: object
16992       15,June,2004
16992    16,January,2004
Name: date, dtype: object
16993       14,June,2004
16993    15,January,2004
Name: date, dtype: object
16994       14,June,2004
16994    15,January,2004
Name: date, dtype: object
16995       14,June,2004
16995    14,January,2004
Name: date, dtype: object
16996       13,June,2004
16996    13,January,2004
Name: date, dtype: object
16997       12,June,2004
16997    13,January,2004
Name: date, dtype: object
16998       12,June,2004
16998    13,January,2004
Name: date, dtype: object
16999       12,June,2004
16999    13,January,2004
Name: date, dtype: object
17000       29,July,2004
17000    12,January,2004
Name: date, dtype: object
17001       28,July,2004
17001    11,January,2004
Name: date, dtype: object
17002       27,July,2004
17002    09,January,2004
Name: date, dtype: object
17003       19,July,2004
17003    08,January,2004
Name: date, dtype: object
17004       16,July,2004
17004    08,January,2004
Name: date, dtype: object
17005       16,July,2004
17005    07,January,2004
Name: date, dtype: object
17006       16,July,2004
17006    06,January,2004
Name: date, dtype: object
17007       12,July,2004
17007    05,January,2004
Name: date, dtype: object
17008       11,July,2004
17008    05,January,2004
Name: date, dtype: object
17009       10,July,2004
17009    04,January,2004
Name: date, dtype: object
17010       10,July,2004
17010    03,January,2004
Name: date, dtype: object
17011       10,July,2004
17011    02,January,2004
Name: date, dtype: object
17012       10,July,2004
17012    01,January,2004
Name: date, dtype: object
17013       10,July,2004
17013    01,January,2004
Name: date, dtype: object
17014       07,July,2004
17014    01,January,2004
Name: date, dtype: object
17015       07,July,2004
17015    01,January,2004
Name: date, dtype: object
17016        06,July,2004
17016    29,February,2004
Name: date, dtype: object
17017        05,July,2004
17017    27,February,2004
Name: date, dtype: object
17018      15,August,2004
17018    26,February,2004
Name: date, dtype: object
17019      13,August,2004
17019    25,February,2004
Name: date, dtype: object
17020      09,August,2004
17020    25,February,2004
Name: date, dtype: object
17021      09,August,2004
17021    25,February,2004
Name: date, dtype: object
17022      09,August,2004
17022    25,February,2004
Name: date, dtype: object
17023        28,June,2004
17023    25,February,2004
Name: date, dtype: object
17024        27,June,2004
17024    24,February,2004
Name: date, dtype: object
17025        25,June,2004
17025    24,February,2004
Name: date, dtype: object
17026        25,June,2004
17026    23,February,2004
Name: date, dtype: object
17027        23,June,2004
17027    23,February,2004
Name: date, dtype: object
17028        22,June,2004
17028    23,February,2004
Name: date, dtype: object
17029        22,June,2004
17029    22,February,2004
Name: date, dtype: object
17030        21,June,2004
17030    22,February,2004
Name: date, dtype: object
17031        15,July,2004
17031    21,February,2004
Name: date, dtype: object
17032        13,July,2004
17032    21,February,2004
Name: date, dtype: object
17033        08,July,2004
17033    19,February,2004
Name: date, dtype: object
17034        01,July,2004
17034    19,February,2004
Name: date, dtype: object
17035        01,July,2004
17035    19,February,2004
Name: date, dtype: object
17036        01,July,2004
17036    19,February,2004
Name: date, dtype: object
17037        01,July,2004
17037    18,February,2004
Name: date, dtype: object
17038        01,July,2004
17038    18,February,2004
Name: date, dtype: object
17039        01,July,2004
17039    18,February,2004
Name: date, dtype: object
17040        01,July,2004
17040    17,February,2004
Name: date, dtype: object
17041        01,July,2004
17041    16,February,2004
Name: date, dtype: object
17042        01,July,2004
17042    16,February,2004
Name: date, dtype: object
17043        01,July,2004
17043    16,February,2004
Name: date, dtype: object
17044        01,July,2004
17044    16,February,2004
Name: date, dtype: object
17045        01,July,2004
17045    16,February,2004
Name: date, dtype: object
17046        01,July,2004
17046    15,February,2004
Name: date, dtype: object
17047        01,July,2004
17047    14,February,2004
Name: date, dtype: object
17048        01,July,2004
17048    14,February,2004
Name: date, dtype: object
17049        01,July,2004
17049    13,February,2004
Name: date, dtype: object
17050        01,July,2004
17050    13,February,2004
Name: date, dtype: object
17051        01,July,2004
17051    12,February,2004
Name: date, dtype: object
17052        14,June,2004
17052    05,February,2004
Name: date, dtype: object
17053     13,June,2004
17053    31,March,2004
Name: date, dtype: object
17054     13,June,2004
17054    30,March,2004
Name: date, dtype: object
17055     11,June,2004
17055    30,March,2004
Name: date, dtype: object
17056     11,June,2004
17056    30,March,2004
Name: date, dtype: object
17057     16,July,2004
17057    30,March,2004
Name: date, dtype: object
17058     15,July,2004
17058    30,March,2004
Name: date, dtype: object
17059    12,August,2004
17059     29,March,2004
Name: date, dtype: object
17060    12,August,2004
17060     27,March,2004
Name: date, dtype: object
17061    12,August,2004
17061     27,March,2004
Name: date, dtype: object
17062    12,August,2004
17062     27,March,2004
Name: date, dtype: object
17063    12,August,2004
17063     25,March,2004
Name: date, dtype: object
17064    12,August,2004
17064     25,March,2004
Name: date, dtype: object
17065    12,August,2004
17065     24,March,2004
Name: date, dtype: object
17066    12,August,2004
17066     24,March,2004
Name: date, dtype: object
17067     25,June,2004
17067    23,March,2004
Name: date, dtype: object
17068     12,July,2004
17068    23,March,2004
Name: date, dtype: object
17069      31,May,2004
17069    23,March,2004
Name: date, dtype: object
17070      30,May,2004
17070    23,March,2004
Name: date, dtype: object
17071      29,May,2004
17071    23,March,2004
Name: date, dtype: object
17072      29,May,2004
17072    22,March,2004
Name: date, dtype: object
17073     06,June,2004
17073    21,March,2004
Name: date, dtype: object
17074     04,June,2004
17074    19,March,2004
Name: date, dtype: object
17075     04,June,2004
17075    18,March,2004
Name: date, dtype: object
17076     04,June,2004
17076    18,March,2004
Name: date, dtype: object
17077     04,June,2004
17077    17,March,2004
Name: date, dtype: object
17078     03,June,2004
17078    17,March,2004
Name: date, dtype: object
17079     31,July,2004
17079    17,March,2004
Name: date, dtype: object
17080     29,July,2004
17080    16,March,2004
Name: date, dtype: object
17081     28,July,2004
17081    15,March,2004
Name: date, dtype: object
17082     26,July,2004
17082    15,March,2004
Name: date, dtype: object
17083     26,July,2004
17083    15,March,2004
Name: date, dtype: object
17084    15,August,2004
17084     15,March,2004
Name: date, dtype: object
17085    10,August,2004
17085     14,March,2004
Name: date, dtype: object

17086    07,August,2004
17086     14,March,2004
Name: date, dtype: object
17087    24,August,2004
17087     14,March,2004
Name: date, dtype: object
17088    22,August,2004
17088     13,March,2004
Name: date, dtype: object
17089    19,August,2004
17089     13,March,2004
Name: date, dtype: object
17090    18,August,2004
17090     12,March,2004
Name: date, dtype: object
17091    18,August,2004
17091     10,March,2004
Name: date, dtype: object
17092    18,August,2004
17092     10,March,2004
Name: date, dtype: object
17093    17,August,2004
17093     07,March,2004
Name: date, dtype: object
17094    17,August,2004
17094     07,March,2004
Name: date, dtype: object
17095    17,August,2004
17095     07,March,2004
Name: date, dtype: object
17096    17,August,2004
17096     05,March,2004
Name: date, dtype: object
17097    17,August,2004
17097     04,March,2004
Name: date, dtype: object
17098    17,August,2004
17098     04,March,2004
Name: date, dtype: object
17099    17,August,2004
17099     03,March,2004
Name: date, dtype: object
17100    17,August,2004
17100     03,March,2004
Name: date, dtype: object
17101    17,August,2004
17101     02,March,2004
Name: date, dtype: object
17102     07,June,2004
17102    30,April,2004
Name: date, dtype: object
17103     14,June,2004
17103    29,April,2004
Name: date, dtype: object
17104     18,June,2004
17104    28,April,2004
Name: date, dtype: object
17105    26,October,2003
17105      27,April,2004
Name: date, dtype: object
17106    24,October,2003
17106      26,April,2004
Name: date, dtype: object
17107    24,October,2003
17107      26,April,2004
Name: date, dtype: object
17108    24,October,2003
17108      26,April,2004
Name: date, dtype: object
17109    24,October,2003
17109      26,April,2004
Name: date, dtype: object
17110    24,October,2003
17110      26,April,2004
Name: date, dtype: object
17111    24,October,2003
17111      25,April,2004
Name: date, dtype: object
17112    24,October,2003
17112      24,April,2004
Name: date, dtype: object
17113    21,October,2003
17113      24,April,2004
Name: date, dtype: object
17114    20,October,2003
17114      24,April,2004
Name: date, dtype: object
17115    20,October,2003
17115      22,April,2004
Name: date, dtype: object
17116    20,October,2003
17116      21,April,2004
Name: date, dtype: object
17117    18,October,2003
17117      21,April,2004
Name: date, dtype: object
17118    18,October,2003
17118      21,April,2004
Name: date, dtype: object
17119    16,October,2003
17119      20,April,2004
Name: date, dtype: object
17120    16,October,2003
17120      20,April,2004
Name: date, dtype: object
17121    16,October,2003
17121      19,April,2004
Name: date, dtype: object
17122    16,October,2003
17122      19,April,2004
Name: date, dtype: object
17123    14,October,2003
17123      18,April,2004
Name: date, dtype: object
17124    14,October,2003
17124      18,April,2004
Name: date, dtype: object
17125    12,October,2003
17125      18,April,2004
Name: date, dtype: object
17126    11,October,2003
17126      16,April,2004
Name: date, dtype: object
17127    11,October,2003
17127      15,April,2004
Name: date, dtype: object
17128    11,October,2003
17128      15,April,2004
Name: date, dtype: object
17129    11,October,2003
17129      13,April,2004
Name: date, dtype: object
17130    11,October,2003
17130      13,April,2004
Name: date, dtype: object
17131    11,November,2003
17131       12,April,2004
Name: date, dtype: object
17132    01,November,2003
17132       12,April,2004
Name: date, dtype: object
17133    01,November,2003
17133       11,April,2004
Name: date, dtype: object
17134    01,November,2003
17134       11,April,2004
Name: date, dtype: object
17135    31,December,2003
17135       10,April,2004
Name: date, dtype: object
17136    29,December,2003
17136       09,April,2004
Name: date, dtype: object
17137    24,December,2003
17137       08,April,2004
Name: date, dtype: object
17138    24,December,2003
17138       08,April,2004
Name: date, dtype: object
17139    24,December,2003
17139       07,April,2004
Name: date, dtype: object
17140    16,December,2003
17140       06,April,2004
Name: date, dtype: object
17141    13,December,2003
17141       05,April,2004
Name: date, dtype: object
17142    09,December,2003
17142       04,April,2004
Name: date, dtype: object
17143    08,December,2003
17143       03,April,2004
Name: date, dtype: object
17144    31,January,2004
17144      02,April,2004
Name: date, dtype: object
17145    27,January,2004
17145      02,April,2004
Name: date, dtype: object
17146    27,January,2004
17146      01,April,2004
Name: date, dtype: object
17147    27,January,2004
17147      01,April,2004
Name: date, dtype: object
17148    25,January,2004
17148        31,May,2004
Name: date, dtype: object
17149    25,January,2004
17149        30,May,2004
Name: date, dtype: object
17150    24,January,2004
17150        30,May,2004
Name: date, dtype: object
17151    24,January,2004
17151        27,May,2004
Name: date, dtype: object
17152    24,January,2004
17152        26,May,2004
Name: date, dtype: object
17153    24,January,2004
17153        25,May,2004
Name: date, dtype: object
17154    23,January,2004
17154        25,May,2004
Name: date, dtype: object
17155    21,January,2004
17155        25,May,2004
Name: date, dtype: object
17156    14,January,2004
17156        24,May,2004
Name: date, dtype: object
17157    12,January,2004
17157        24,May,2004
Name: date, dtype: object
17158    12,January,2004
17158        24,May,2004
Name: date, dtype: object
17159    10,January,2004
17159        23,May,2004
Name: date, dtype: object
17160    10,January,2004
17160        23,May,2004
Name: date, dtype: object
17161    08,January,2004
17161        21,May,2004
Name: date, dtype: object
17162    08,January,2004
17162        20,May,2004
Name: date, dtype: object
17163    08,January,2004
17163        20,May,2004
Name: date, dtype: object
17164    06,January,2004
17164        20,May,2004
Name: date, dtype: object
17165    04,January,2004
17165        19,May,2004
Name: date, dtype: object
17166    03,January,2004
17166        18,May,2004
Name: date, dtype: object
17167    03,January,2004
17167        18,May,2004
Name: date, dtype: object
17168    29,February,2004
17168         18,May,2004
Name: date, dtype: object
17169    26,February,2004
17169         18,May,2004
Name: date, dtype: object
17170    24,February,2004
17170         18,May,2004
Name: date, dtype: object
17171    24,February,2004
17171         18,May,2004
Name: date, dtype: object
17172    20,February,2004
17172         18,May,2004
Name: date, dtype: object
17173    19,February,2004
17173         18,May,2004
Name: date, dtype: object
17174    19,February,2004
17174         18,May,2004
Name: date, dtype: object
17175    17,February,2004
17175         17,May,2004
Name: date, dtype: object
17176    14,February,2004
17176         17,May,2004
Name: date, dtype: object
17177    09,February,2004
17177         17,May,2004
Name: date, dtype: object
17178    09,February,2004
17178         17,May,2004
Name: date, dtype: object
17179    05,February,2004
17179         16,May,2004
Name: date, dtype: object
17180    04,February,2004
17180         16,May,2004
Name: date, dtype: object
17181    03,February,2004
17181         16,May,2004
Name: date, dtype: object
17182    02,February,2004
17182         16,May,2004
Name: date, dtype: object
17183    02,February,2004
17183         15,May,2004
Name: date, dtype: object
17184    02,February,2004
17184         15,May,2004
Name: date, dtype: object
17185    02,February,2004
17185         14,May,2004
Name: date, dtype: object
17186    02,February,2004
17186         14,May,2004
Name: date, dtype: object
17187    30,March,2004
17187      13,May,2004
Name: date, dtype: object
17188    23,March,2004
17188      12,May,2004
Name: date, dtype: object
17189    18,March,2004
17189      12,May,2004
Name: date, dtype: object
17190    17,March,2004
17190      12,May,2004
Name: date, dtype: object
17191    16,March,2004
17191      11,May,2004
Name: date, dtype: object
17192    12,March,2004
17192      11,May,2004
Name: date, dtype: object
17193    11,March,2004
17193      11,May,2004
Name: date, dtype: object
17194    08,March,2004
17194      11,May,2004
Name: date, dtype: object
17195    08,March,2004
17195      10,May,2004
Name: date, dtype: object
17196    05,March,2004
17196      10,May,2004
Name: date, dtype: object
17197    05,March,2004
17197      10,May,2004
Name: date, dtype: object
17198    05,March,2004
17198      10,May,2004
Name: date, dtype: object
17199    04,March,2004
17199      10,May,2004
Name: date, dtype: object
17200    02,March,2004
17200      09,May,2004
Name: date, dtype: object
17201    01,March,2004
17201      09,May,2004
Name: date, dtype: object
17202    01,March,2004
17202      09,May,2004
Name: date, dtype: object
17203    01,March,2004
17203      09,May,2004
Name: date, dtype: object
17204    23,April,2004
17204      09,May,2004
Name: date, dtype: object
17205    15,April,2004
17205      09,May,2004
Name: date, dtype: object
17206    10,April,2004
17206      09,May,2004
Name: date, dtype: object
17207    10,April,2004
17207      09,May,2004
Name: date, dtype: object
17208    10,April,2004
17208      09,May,2004
Name: date, dtype: object
17209    05,April,2004
17209      09,May,2004
Name: date, dtype: object
17210    04,April,2004
17210      07,May,2004
Name: date, dtype: object
17211    04,April,2004
17211      06,May,2004
Name: date, dtype: object
17212    02,April,2004
17212      05,May,2004
Name: date, dtype: object
17213    31,May,2004
17213    05,May,2004
Name: date, dtype: object
17214    30,May,2004
17214    04,May,2004
Name: date, dtype: object
17215    29,May,2004
17215    04,May,2004
Name: date, dtype: object
17216    29,May,2004
17216    03,May,2004
Name: date, dtype: object
17217    29,May,2004
17217    03,May,2004
Name: date, dtype: object
17218    27,May,2004
17218    03,May,2004
Name: date, dtype: object
17219    27,May,2004
17219    03,May,2004
Name: date, dtype: object
17220    27,May,2004
17220    03,May,2004
Name: date, dtype: object
17221    25,May,2004
17221    02,May,2004
Name: date, dtype: object
17222    24,May,2004
17222    02,May,2004
Name: date, dtype: object

17223    24,May,2004
17223    02,May,2004
Name: date, dtype: object
17224    24,May,2004
17224    02,May,2004
Name: date, dtype: object
17225    22,May,2004
17225    02,May,2004
Name: date, dtype: object
17226    22,May,2004
17226    01,May,2004
Name: date, dtype: object
17227    22,May,2004
17227    01,May,2004
Name: date, dtype: object
17228     21,May,2004
17228    29,June,2004
Name: date, dtype: object
17229     21,May,2004
17229    28,June,2004
Name: date, dtype: object
17230     20,May,2004
17230    28,June,2004
Name: date, dtype: object
17231     19,May,2004
17231    28,June,2004
Name: date, dtype: object
17232     19,May,2004
17232    27,June,2004
Name: date, dtype: object
17233     19,May,2004
17233    27,June,2004
Name: date, dtype: object
17234     19,May,2004
17234    27,June,2004
Name: date, dtype: object
17235     19,May,2004
17235    27,June,2004
Name: date, dtype: object
17236     19,May,2004
17236    26,June,2004
Name: date, dtype: object
17237     18,May,2004
17237    24,June,2004
Name: date, dtype: object
17238     16,May,2004
17238    24,June,2004
Name: date, dtype: object
17239     16,May,2004
17239    23,June,2004
Name: date, dtype: object
17240     15,May,2004
17240    23,June,2004
Name: date, dtype: object
17241     15,May,2004
17241    22,June,2004
Name: date, dtype: object
17242     14,May,2004
17242    21,June,2004
Name: date, dtype: object
17243     14,May,2004
17243    20,June,2004
Name: date, dtype: object
17244     14,May,2004
17244    20,June,2004
Name: date, dtype: object
17245     14,May,2004
17245    19,June,2004
Name: date, dtype: object
17246     14,May,2004
17246    19,June,2004
Name: date, dtype: object
17247     13,May,2004
17247    18,June,2004
Name: date, dtype: object
17248     11,May,2004
17248    18,June,2004
Name: date, dtype: object
17249     11,May,2004
17249    17,June,2004
Name: date, dtype: object
17250     10,May,2004
17250    17,June,2004
Name: date, dtype: object
17251     02,May,2004
17251    17,June,2004
Name: date, dtype: object
17252    30,June,2004
17252    16,June,2004
Name: date, dtype: object
17253    28,June,2004
17253    15,June,2004
Name: date, dtype: object
17254    26,June,2004
17254    14,June,2004
Name: date, dtype: object
17255    26,June,2004
17255    14,June,2004
Name: date, dtype: object
17256    25,June,2004
17256    13,June,2004
Name: date, dtype: object
17257    25,June,2004
17257    13,June,2004
Name: date, dtype: object
17258    24,June,2004
17258    13,June,2004
Name: date, dtype: object
17259    20,June,2004
17259    11,June,2004
Name: date, dtype: object
17260    19,June,2004
17260    11,June,2004
Name: date, dtype: object
17261    16,June,2004
17261    09,June,2004
Name: date, dtype: object
17262    15,June,2004
17262    08,June,2004
Name: date, dtype: object
17263    14,June,2004
17263    07,June,2004
Name: date, dtype: object
17264    12,June,2004
17264    07,June,2004
Name: date, dtype: object
17265    11,June,2004
17265    06,June,2004
Name: date, dtype: object
17266    11,June,2004
17266    06,June,2004
Name: date, dtype: object
17267    10,June,2004
17267    06,June,2004
Name: date, dtype: object
17268    10,June,2004
17268    05,June,2004
Name: date, dtype: object
17269    10,June,2004
17269    04,June,2004
Name: date, dtype: object
17270    09,June,2004
17270    04,June,2004
Name: date, dtype: object
17271    08,June,2004
17271    03,June,2004
Name: date, dtype: object
17272    05,June,2004
17272    03,June,2004
Name: date, dtype: object
17273    04,June,2004
17273    02,June,2004
Name: date, dtype: object
17274    02,June,2004
17274    01,June,2004
Name: date, dtype: object
17275    02,June,2004
17275    01,June,2004
Name: date, dtype: object
17276    29,July,2004
17276    01,June,2004
Name: date, dtype: object
17277    27,July,2004
17277    01,June,2004
Name: date, dtype: object
17278    27,July,2004
17278    31,July,2004
Name: date, dtype: object
17279    23,July,2004
17279    29,July,2004
Name: date, dtype: object
17280    20,July,2004
17280    29,July,2004
Name: date, dtype: object
17281    20,July,2004
17281    29,July,2004
Name: date, dtype: object
17282    20,July,2004
17282    28,July,2004
Name: date, dtype: object
17283    20,July,2004
17283    27,July,2004
Name: date, dtype: object
17284    15,July,2004
17284    27,July,2004
Name: date, dtype: object
17285    14,July,2004
17285    25,July,2004
Name: date, dtype: object
17286    09,July,2004
17286    25,July,2004
Name: date, dtype: object
17287    07,July,2004
17287    24,July,2004
Name: date, dtype: object
17288    04,July,2004
17288    22,July,2004
Name: date, dtype: object
17289    03,July,2004
17289    21,July,2004
Name: date, dtype: object
17290    03,July,2004
17290    19,July,2004
Name: date, dtype: object
17291    02,July,2004
17291    19,July,2004
Name: date, dtype: object
17292    02,July,2004
17292    18,July,2004
Name: date, dtype: object
17293    01,July,2004
17293    18,July,2004
Name: date, dtype: object
17294    01,July,2004
17294    18,July,2004
Name: date, dtype: object
17295    04,August,2004
17295      17,July,2004
Name: date, dtype: object
17296    03,August,2004
17296      13,July,2004
Name: date, dtype: object
17297    01,August,2004
17297      13,July,2004
Name: date, dtype: object
17298    01,August,2004
17298      11,July,2004
Name: date, dtype: object
17299    20,August,2004
17299      11,July,2004
Name: date, dtype: object
17300    18,August,2004
17300      11,July,2004
Name: date, dtype: object
17301    17,August,2004
17301      11,July,2004
Name: date, dtype: object
17302    25,August,2002
17302      11,July,2004
Name: date, dtype: object
17303    21,August,2002
17303      11,July,2004
Name: date, dtype: object
17304    20,August,2002
17304      10,July,2004
Name: date, dtype: object
17305    17,August,2002
17305      10,July,2004
Name: date, dtype: object
17306    17,August,2002
17306      10,July,2004
Name: date, dtype: object
17307    17,August,2002
17307      10,July,2004
Name: date, dtype: object
17308    12,August,2002
17308      09,July,2004
Name: date, dtype: object
17309    30,September,2002
17309         07,July,2004
Name: date, dtype: object
17310    26,September,2002
17310         06,July,2004
Name: date, dtype: object
17311    15,September,2002
17311         06,July,2004
Name: date, dtype: object
17312    10,September,2002
17312         05,July,2004
Name: date, dtype: object
17313    10,September,2002
17313         05,July,2004
Name: date, dtype: object
17314    08,September,2002
17314         04,July,2004
Name: date, dtype: object
17315    06,September,2002
17315         04,July,2004
Name: date, dtype: object
17316    04,September,2002
17316         04,July,2004
Name: date, dtype: object
17317    31,October,2002
17317       03,July,2004
Name: date, dtype: object
17318    28,October,2002
17318       01,July,2004
Name: date, dtype: object
17319    28,October,2002
17319       01,July,2004
Name: date, dtype: object
17320    23,October,2002
17320     11,August,2004
Name: date, dtype: object
17321    16,October,2002
17321     08,August,2004
Name: date, dtype: object
17322    16,October,2002
17322     08,August,2004
Name: date, dtype: object
17323    24,November,2002
17323      07,August,2004
Name: date, dtype: object
17324    23,November,2002
17324      06,August,2004
Name: date, dtype: object
17325    21,November,2002
17325      05,August,2004
Name: date, dtype: object
17326    20,November,2002
17326      05,August,2004
Name: date, dtype: object
17327    19,November,2002
17327      05,August,2004
Name: date, dtype: object
17328    19,November,2002
17328      02,August,2004
Name: date, dtype: object
17329    19,November,2002
17329      02,August,2004
Name: date, dtype: object
17330    17,November,2002
17330      02,August,2004
Name: date, dtype: object
17331    17,November,2002
17331      02,August,2004
Name: date, dtype: object
17332    16,November,2002
17332      02,August,2004
Name: date, dtype: object
17333    16,November,2002
17333      01,August,2004
Name: date, dtype: object
17334    15,November,2002
17334        31,July,2004
Name: date, dtype: object
17335    13,November,2002
17335        28,July,2004
Name: date, dtype: object
17336    13,November,2002
17336        26,July,2004
Name: date, dtype: object
17337    27,December,2002
17337        23,July,2004
Name: date, dtype: object
17338    10,December,2002
17338        23,July,2004
Name: date, dtype: object
17339    06,December,2002
17339        22,July,2004
Name: date, dtype: object
17340    05,December,2002
17340        20,July,2004
Name: date, dtype: object
17341    05,December,2002
17341      18,August,2004
Name: date, dtype: object
17342    05,December,2002
17342      12,August,2004
Name: date, dtype: object
17343    02,December,2002
17343      01,August,2004
Name: date, dtype: object
17344    02,December,2002
17344         21,May,2004
Name: date, dtype: object
17345    06,January,2003
17345        21,May,2004
Name: date, dtype: object
17346    24,February,2003
17346         18,May,2004
Name: date, dtype: object
17347    20,February,2003
17347        18,June,2004
Name: date, dtype: object
17348    17,February,2003
17348        18,June,2004
Name: date, dtype: object
17349    16,February,2003
17349        18,June,2004
Name: date, dtype: object
17350    07,February,2003
17350        18,June,2004
Name: date, dtype: object
17351    19,March,2003
17351     18,June,2004
Name: date, dtype: object
17352    23,April,2003
17352     18,June,2004
Name: date, dtype: object
17353    14,April,2003
17353     18,June,2004
Name: date, dtype: object
17354    26,August,2003
17354      18,June,2004
Name: date, dtype: object

17355    10,August,2003
17355      18,June,2004
Name: date, dtype: object
17356    06,August,2003
17356      18,June,2004
Name: date, dtype: object
17357    04,August,2003
17357      18,June,2004
Name: date, dtype: object
17358    30,October,2003
17358       18,June,2004
Name: date, dtype: object
17359    29,October,2003
17359       18,June,2004
Name: date, dtype: object
17360    28,October,2003
17360       18,June,2004
Name: date, dtype: object
17361    28,October,2003
17361       18,June,2004
Name: date, dtype: object
17362    05,October,2003
17362       18,June,2004
Name: date, dtype: object
17363    26,November,2003
17363        18,June,2004
Name: date, dtype: object
17364    06,January,2004
17364       18,June,2004
Name: date, dtype: object
17365    05,February,2004
17365        18,June,2004
Name: date, dtype: object
17366    04,February,2004
17366        18,June,2004
Name: date, dtype: object
17367    04,February,2004
17367        18,June,2004
Name: date, dtype: object
17368    30,March,2004
17368     18,June,2004
Name: date, dtype: object
17369    17,March,2004
17369     18,June,2004
Name: date, dtype: object
17370    15,March,2004
17370     18,June,2004
Name: date, dtype: object
17371    13,March,2004
17371     18,June,2004
Name: date, dtype: object
17372    02,March,2004
17372     18,June,2004
Name: date, dtype: object
17373    02,March,2004
17373     18,June,2004
Name: date, dtype: object
17374    28,April,2004
17374     18,June,2004
Name: date, dtype: object
17375    08,April,2004
17375     18,June,2004
Name: date, dtype: object
17376     14,May,2004
17376    18,June,2004
Name: date, dtype: object
17377     08,May,2004
17377    18,June,2004
Name: date, dtype: object
17378    19,June,2004
17378    18,June,2004
Name: date, dtype: object
17379    26,July,2004
17379    18,June,2004
Name: date, dtype: object
17380    15,July,2004
17380    18,June,2004
Name: date, dtype: object
17381    12,July,2004
17381    18,June,2004
Name: date, dtype: object
17382    02,August,2004
17382      18,June,2004
Name: date, dtype: object
17383    02,August,2004
17383      18,June,2004
Name: date, dtype: object
17384    25,July,2004
17384    18,June,2004
Name: date, dtype: object
17385    24,July,2004
17385    18,June,2004
Name: date, dtype: object
17386    24,July,2004
17386    18,June,2004
Name: date, dtype: object
17387    24,July,2004
17387    18,June,2004
Name: date, dtype: object
17388    24,July,2004
17388    18,June,2004
Name: date, dtype: object
17389    24,July,2004
17389    18,June,2004
Name: date, dtype: object
17390    24,July,2004
17390    18,June,2004
Name: date, dtype: object
17391    13,August,2004
17391      18,June,2004
Name: date, dtype: object
17392    03,August,2004
17392      18,June,2004
Name: date, dtype: object
17393    02,August,2004
17393      18,June,2004
Name: date, dtype: object
17394    02,August,2004
17394      18,June,2004
Name: date, dtype: object
17395    06,August,2004
17395      18,June,2004
Name: date, dtype: object
17396    06,August,2004
17396      18,June,2004
Name: date, dtype: object
17397    06,August,2004
17397      18,June,2004
Name: date, dtype: object
17398    06,August,2004
17398      18,June,2004
Name: date, dtype: object
17399    06,August,2004
17399      18,June,2004
Name: date, dtype: object
17400    06,August,2004
17400      18,June,2004
Name: date, dtype: object
17401    06,August,2004
17401      18,June,2004
Name: date, dtype: object
17402    06,August,2004
17402      18,June,2004
Name: date, dtype: object
17403    06,August,2004
17403      18,June,2004
Name: date, dtype: object
17404    06,August,2004
17404      18,June,2004
Name: date, dtype: object
17405    06,August,2004
17405      18,June,2004
Name: date, dtype: object
17406    06,August,2004
17406      18,June,2004
Name: date, dtype: object
17407    06,August,2004
17407      18,June,2004
Name: date, dtype: object
17408    06,August,2004
17408      18,June,2004
Name: date, dtype: object
17409    06,August,2004
17409      18,June,2004
Name: date, dtype: object
17410    06,August,2004
17410      18,June,2004
Name: date, dtype: object
17411    06,August,2004
17411      18,June,2004
Name: date, dtype: object
17412    06,August,2004
17412      18,June,2004
Name: date, dtype: object
17413    06,August,2004
17413      18,June,2004
Name: date, dtype: object
17414    06,August,2004
17414      18,June,2004
Name: date, dtype: object
17415    06,August,2004
17415      18,June,2004
Name: date, dtype: object
17416    06,August,2004
17416      18,June,2004
Name: date, dtype: object
17417    06,August,2004
17417      18,June,2004
Name: date, dtype: object
17418    06,August,2004
17418      18,June,2004
Name: date, dtype: object
17419    06,August,2004
17419      18,June,2004
Name: date, dtype: object
17420    06,August,2004
17420      18,June,2004
Name: date, dtype: object
17421    06,August,2004
17421      18,June,2004
Name: date, dtype: object
17422    06,August,2004
17422      18,June,2004
Name: date, dtype: object
17423    06,August,2004
17423      18,June,2004
Name: date, dtype: object
17424    06,August,2004
17424      18,June,2004
Name: date, dtype: object
17425    06,August,2004
17425      18,June,2004
Name: date, dtype: object
17426    06,August,2004
17426      18,June,2004
Name: date, dtype: object
17427    06,August,2004
17427      18,June,2004
Name: date, dtype: object
17428    06,August,2004
17428      18,June,2004
Name: date, dtype: object
17429    06,August,2004
17429      18,June,2004
Name: date, dtype: object
17430    06,August,2004
17430      18,June,2004
Name: date, dtype: object
17431    06,August,2004
17431      18,June,2004
Name: date, dtype: object
17432    06,August,2004
17432      18,June,2004
Name: date, dtype: object
17433    06,August,2004
17433      18,June,2004
Name: date, dtype: object
17434    06,August,2004
17434      18,June,2004
Name: date, dtype: object
17435    06,August,2004
17435      18,June,2004
Name: date, dtype: object
17436    06,August,2004
17436      18,June,2004
Name: date, dtype: object
17437    06,August,2004
17437      18,June,2004
Name: date, dtype: object
17438    06,August,2004
17438      18,June,2004
Name: date, dtype: object
17439    06,August,2004
17439      18,June,2004
Name: date, dtype: object
17440    06,August,2004
17440      18,June,2004
Name: date, dtype: object
17441    24,December,2003
17441        18,June,2004
Name: date, dtype: object
17442    22,December,2003
17442        18,June,2004
Name: date, dtype: object
17443    29,January,2004
17443       18,June,2004
Name: date, dtype: object
17444    24,January,2004
17444       18,June,2004
Name: date, dtype: object
17445    24,January,2004
17445       18,June,2004
Name: date, dtype: object
17446    06,January,2004
17446       18,June,2004
Name: date, dtype: object
17447    05,January,2004
17447       18,June,2004
Name: date, dtype: object
17448    13,February,2004
17448        18,June,2004
Name: date, dtype: object
17449    21,March,2004
17449     18,June,2004
Name: date, dtype: object
17450     31,May,2004
17450    18,June,2004
Name: date, dtype: object
17451     30,May,2004
17451    18,June,2004
Name: date, dtype: object
17452     26,May,2004
17452    18,June,2004
Name: date, dtype: object
17453     25,May,2004
17453    18,June,2004
Name: date, dtype: object
17454     24,May,2004
17454    18,June,2004
Name: date, dtype: object
17455     24,May,2004
17455    18,June,2004
Name: date, dtype: object
17456     21,May,2004
17456    18,June,2004
Name: date, dtype: object
17457     20,May,2004
17457    18,June,2004
Name: date, dtype: object
17458     20,May,2004
17458    18,June,2004
Name: date, dtype: object
17459     19,May,2004
17459    18,June,2004
Name: date, dtype: object
17460     19,May,2004
17460    18,June,2004
Name: date, dtype: object
17461     19,May,2004
17461    18,June,2004
Name: date, dtype: object
17462    30,June,2004
17462    18,June,2004
Name: date, dtype: object
17463    22,June,2004
17463    18,June,2004
Name: date, dtype: object
17464    21,June,2004
17464    18,June,2004
Name: date, dtype: object
17465    21,June,2004
17465    18,June,2004
Name: date, dtype: object
17466    16,June,2004
17466    18,June,2004
Name: date, dtype: object
17467    16,June,2004
17467    18,June,2004
Name: date, dtype: object
17468    14,June,2004
17468    18,June,2004
Name: date, dtype: object
17469    14,June,2004
17469    18,June,2004
Name: date, dtype: object
17470    14,June,2004
17470    18,June,2004
Name: date, dtype: object
17471    11,June,2004
17471    18,June,2004
Name: date, dtype: object
17472    11,June,2004
17472    18,June,2004
Name: date, dtype: object
17473    09,June,2004
17473    18,June,2004
Name: date, dtype: object
17474    08,June,2004
17474    01,July,2004
Name: date, dtype: object
17475    03,June,2004
17475    01,July,2004
Name: date, dtype: object
17476    01,June,2004
17476    01,July,2004
Name: date, dtype: object
17477    27,July,2004
17477    01,July,2004
Name: date, dtype: object
17478    26,July,2004
17478    01,July,2004
Name: date, dtype: object
17479    21,July,2004
17479    01,July,2004
Name: date, dtype: object
17480    20,July,2004
17480    01,July,2004
Name: date, dtype: object
17481    19,July,2004
17481    01,July,2004
Name: date, dtype: object
17482    16,July,2004
17482    01,July,2004
Name: date, dtype: object
17483    14,July,2004
17483    01,July,2004
Name: date, dtype: object
17484    14,July,2004
17484    01,July,2004
Name: date, dtype: object
17485    07,July,2004
17485    01,July,2004
Name: date, dtype: object
17486    06,July,2004
17486    01,July,2004
Name: date, dtype: object
17487    06,July,2004
17487    01,July,2004
Name: date, dtype: object
17488    10,August,2004
17488      01,July,2004
Name: date, dtype: object
17489    08,July,2004
17489    01,July,2004
Name: date, dtype: object
17490    08,July,2004
17490    01,July,2004
Name: date, dtype: object
17491    08,July,2004
17491    01,July,2004
Name: date, dtype: object
17492    08,July,2004
17492    01,July,2004
Name: date, dtype: object
17493    08,July,2004
17493    01,July,2004
Name: date, dtype: object
17494    08,July,2004
17494    01,July,2004

Name: date, dtype: object
17495    08,July,2004
17495    01,July,2004
Name: date, dtype: object
17496    08,July,2004
17496     12,May,2004
Name: date, dtype: object
17497    08,July,2004
17497     12,May,2004
Name: date, dtype: object
17498    08,July,2004
17498     12,May,2004
Name: date, dtype: object
17499    08,July,2004
17499     12,May,2004
Name: date, dtype: object
17500    08,July,2004
17500     12,May,2004
Name: date, dtype: object
17501    08,July,2004
17501     12,May,2004
Name: date, dtype: object
17502    08,July,2004
17502     12,May,2004
Name: date, dtype: object
17503    08,July,2004
17503     12,May,2004
Name: date, dtype: object
17504    08,July,2004
17504     12,May,2004
Name: date, dtype: object
17505    08,July,2004
17505     12,May,2004
Name: date, dtype: object
17506    08,July,2004
17506     12,May,2004
Name: date, dtype: object
17507    08,July,2004
17507     12,May,2004
Name: date, dtype: object
17508    08,July,2004
17508     12,May,2004
Name: date, dtype: object
17509    08,July,2004
17509     12,May,2004
Name: date, dtype: object
17510    08,July,2004
17510     12,May,2004
Name: date, dtype: object
17511    08,July,2004
17511     12,May,2004
Name: date, dtype: object
17512    08,July,2004
17512     12,May,2004
Name: date, dtype: object
17513    08,July,2004
17513     12,May,2004
Name: date, dtype: object
17514    08,July,2004
17514     12,May,2004
Name: date, dtype: object
17515    08,July,2004
17515     12,May,2004
Name: date, dtype: object
17516    08,July,2004
17516     12,May,2004
Name: date, dtype: object
17517    08,July,2004
17517     12,May,2004
Name: date, dtype: object
17518    08,July,2004
17518     12,May,2004
Name: date, dtype: object
17519    08,July,2004
17519     12,May,2004
Name: date, dtype: object
17520    08,July,2004
17520     12,May,2004
Name: date, dtype: object
17521    08,July,2004
17521     12,May,2004
Name: date, dtype: object
17522    08,July,2004
17522     12,May,2004
Name: date, dtype: object
17523    08,July,2004
17523     12,May,2004
Name: date, dtype: object
17524    08,July,2004
17524     12,May,2004
Name: date, dtype: object
17525    08,July,2004
17525     12,May,2004
Name: date, dtype: object
17526    08,July,2004
17526     12,May,2004
Name: date, dtype: object
17527    08,July,2004
17527     12,May,2004
Name: date, dtype: object
17528    08,July,2004
17528     12,May,2004
Name: date, dtype: object
17529    08,July,2004
17529     12,May,2004
Name: date, dtype: object
17530    08,July,2004
17530     12,May,2004
Name: date, dtype: object
17531    08,July,2004
17531     12,May,2004
Name: date, dtype: object
17532    08,July,2004
17532     12,May,2004
Name: date, dtype: object
17533    08,July,2004
17533     12,May,2004
Name: date, dtype: object
17534    08,July,2004
17534     12,May,2004
Name: date, dtype: object
17535    08,July,2004
17535     12,May,2004
Name: date, dtype: object
17536    08,July,2004
17536     12,May,2004
Name: date, dtype: object
17537    08,July,2004
17537     12,May,2004
Name: date, dtype: object
17538    08,July,2004
17538     12,May,2004
Name: date, dtype: object
17539    08,July,2004
17539     12,May,2004
Name: date, dtype: object
17540    08,July,2004
17540     12,May,2004
Name: date, dtype: object
17541    08,July,2004
17541     12,May,2004
Name: date, dtype: object
17542    08,July,2004
17542     12,May,2004
Name: date, dtype: object
17543    08,July,2004
17543     12,May,2004
Name: date, dtype: object
17544    08,July,2004
17544     12,May,2004
Name: date, dtype: object
17545    08,July,2004
17545     12,May,2004
Name: date, dtype: object
17546    08,July,2004
17546     12,May,2004
Name: date, dtype: object
17547    08,July,2004
17547     12,May,2004
Name: date, dtype: object
17548      08,July,2004
17548    07,August,2004
Name: date, dtype: object
17549      08,July,2004
17549    07,August,2004
Name: date, dtype: object
17550      08,July,2004
17550    07,August,2004
Name: date, dtype: object
17551      08,July,2004
17551    07,August,2004
Name: date, dtype: object
17552      08,July,2004
17552    24,August,2004
Name: date, dtype: object
17553      08,July,2004
17553    22,August,2004
Name: date, dtype: object
17554      08,July,2004
17554    20,August,2004
Name: date, dtype: object
17555      08,July,2004
17555    19,August,2004
Name: date, dtype: object
17556      08,July,2004
17556    16,August,2004
Name: date, dtype: object
17557      08,July,2004
17557    16,August,2004
Name: date, dtype: object
17558      08,July,2004
17558    16,August,2004
Name: date, dtype: object
17559    08,July,2004
17559    28,July,2004
Name: date, dtype: object
17560    08,July,2004
17560    14,June,2004
Name: date, dtype: object
17561    08,July,2004
17561    14,June,2004
Name: date, dtype: object
17562    08,July,2004
17562    14,June,2004
Name: date, dtype: object
17563    08,July,2004
17563    14,June,2004
Name: date, dtype: object
17564    08,July,2004
17564    14,June,2004
Name: date, dtype: object
17565    08,July,2004
17565    14,June,2004
Name: date, dtype: object
17566    08,July,2004
17566    14,June,2004
Name: date, dtype: object
17567    08,July,2004
17567    14,June,2004
Name: date, dtype: object
17568    08,July,2004
17568    14,June,2004
Name: date, dtype: object
17569    08,July,2004
17569    14,June,2004
Name: date, dtype: object
17570    08,July,2004
17570    14,June,2004
Name: date, dtype: object
17571    08,July,2004
17571    14,June,2004
Name: date, dtype: object
17572    08,July,2004
17572    14,June,2004
Name: date, dtype: object
17573    08,July,2004
17573    14,June,2004
Name: date, dtype: object
17574    08,July,2004
17574    14,June,2004
Name: date, dtype: object
17575    08,July,2004
17575    14,June,2004
Name: date, dtype: object
17576    08,July,2004
17576    14,June,2004
Name: date, dtype: object
17577    08,July,2004
17577    14,June,2004
Name: date, dtype: object
17578    08,July,2004
17578    14,June,2004
Name: date, dtype: object
17579    08,July,2004
17579    14,June,2004
Name: date, dtype: object
17580    08,July,2004
17580    14,June,2004
Name: date, dtype: object
17581    08,July,2004
17581    14,June,2004
Name: date, dtype: object
17582    08,July,2004
17582    14,June,2004
Name: date, dtype: object
17583    08,July,2004
17583    14,June,2004
Name: date, dtype: object
17584    08,July,2004
17584    14,June,2004
Name: date, dtype: object
17585    08,July,2004
17585    14,June,2004
Name: date, dtype: object
17586    08,July,2004
17586    14,June,2004
Name: date, dtype: object
17587    08,July,2004
17587    14,June,2004
Name: date, dtype: object
17588    08,July,2004
17588    14,June,2004
Name: date, dtype: object
17589    08,July,2004
17589    14,June,2004
Name: date, dtype: object
17590    08,July,2004
17590    14,June,2004
Name: date, dtype: object
17591    08,July,2004
17591    14,June,2004
Name: date, dtype: object
17592    08,July,2004
17592    14,June,2004
Name: date, dtype: object
17593    08,July,2004
17593    14,June,2004
Name: date, dtype: object
17594    08,July,2004
17594    14,June,2004
Name: date, dtype: object
17595    08,July,2004
17595    14,June,2004
Name: date, dtype: object
17596    08,July,2004
17596    14,June,2004
Name: date, dtype: object
17597    08,July,2004
17597    14,June,2004
Name: date, dtype: object
17598    08,July,2004
17598    14,June,2004
Name: date, dtype: object
17599    08,July,2004
17599    14,June,2004
Name: date, dtype: object
17600    08,July,2004
17600    14,June,2004
Name: date, dtype: object
17601    08,July,2004
17601    14,June,2004
Name: date, dtype: object
17602    08,July,2004
17602    14,June,2004
Name: date, dtype: object
17603    08,July,2004
17603    14,June,2004
Name: date, dtype: object
17604    08,July,2004
17604    14,June,2004
Name: date, dtype: object
17605    08,July,2004
17605    14,June,2004
Name: date, dtype: object
17606    08,July,2004
17606    14,June,2004
Name: date, dtype: object
17607    08,July,2004
17607    14,June,2004
Name: date, dtype: object
17608    08,July,2004
17608    14,June,2004
Name: date, dtype: object
17609    08,July,2004
17609    14,June,2004
Name: date, dtype: object
17610    08,July,2004
17610    14,June,2004
Name: date, dtype: object
17611    08,July,2004
17611    14,June,2004
Name: date, dtype: object
17612    08,July,2004
17612    14,June,2004
Name: date, dtype: object
17613    08,July,2004
17613    14,June,2004
Name: date, dtype: object
17614    08,July,2004
17614    14,June,2004
Name: date, dtype: object
17615    08,July,2004
17615    14,June,2004
Name: date, dtype: object
17616    08,July,2004
17616    14,June,2004
Name: date, dtype: object
17617    08,July,2004
17617    14,June,2004
Name: date, dtype: object
17618    08,July,2004
17618    14,June,2004
Name: date, dtype: object
17619    08,July,2004
17619    14,June,2004
Name: date, dtype: object
17620    08,July,2004
17620    14,June,2004
Name: date, dtype: object
17621    08,July,2004
17621    26,July,2003
Name: date, dtype: object
17622    08,July,2004
17622    25,July,2003
Name: date, dtype: object
17623    08,July,2004
17623    25,July,2003
Name: date, dtype: object
17624    08,July,2004
17624    24,July,2003
Name: date, dtype: object
17625    08,July,2004
17625    24,July,2003
Name: date, dtype: object
17626    08,July,2004
17626    24,July,2003
Name: date, dtype: object
17627      08,July,2004
17627    02,August,2003
Name: date, dtype: object
17628      08,July,2004
17628    01,August,2003
Name: date, dtype: object
17629    08,July,2004
17629    31,July,2003
Name: date, dtype: object
17630    08,July,2004
17630    30,July,2003
Name: date, dtype: object
17631    08,July,2004
17631    29,July,2003
Name: date, dtype: object
17632    08,July,2004
17632    28,July,2003
Name: date, dtype: object
17633    08,July,2004
17633    27,July,2003
Name: date, dtype: object
17634    08,July,2004
17634    27,July,2003
Name: date, dtype: object
17635    08,July,2004
17635    27,July,2003
Name: date, dtype: object
17636      08,July,2004
17636    09,August,2003
Name: date, dtype: object
17637      08,July,2004
17637    08,August,2003
Name: date, dtype: object

17638      08,July,2004
17638    07,August,2003
Name: date, dtype: object
17639      08,July,2004
17639    06,August,2003
Name: date, dtype: object
17640      08,July,2004
17640    05,August,2003
Name: date, dtype: object
17641      08,July,2004
17641    04,August,2003
Name: date, dtype: object
17642      08,July,2004
17642    03,August,2003
Name: date, dtype: object
17643      08,July,2004
17643    16,August,2003
Name: date, dtype: object
17644      08,July,2004
17644    15,August,2003
Name: date, dtype: object
17645      08,July,2004
17645    14,August,2003
Name: date, dtype: object
17646      08,July,2004
17646    13,August,2003
Name: date, dtype: object
17647      08,July,2004
17647    12,August,2003
Name: date, dtype: object
17648      08,July,2004
17648    10,August,2003
Name: date, dtype: object
17649      08,July,2004
17649    23,August,2003
Name: date, dtype: object
17650      08,July,2004
17650    22,August,2003
Name: date, dtype: object
17651      08,July,2004
17651    21,August,2003
Name: date, dtype: object
17652      08,July,2004
17652    20,August,2003
Name: date, dtype: object
17653      08,July,2004
17653    18,August,2003
Name: date, dtype: object
17654      08,July,2004
17654    17,August,2003
Name: date, dtype: object
17655      08,July,2004
17655    29,August,2003
Name: date, dtype: object
17656      08,July,2004
17656    28,August,2003
Name: date, dtype: object
17657      08,July,2004
17657    27,August,2003
Name: date, dtype: object
17658      08,July,2004
17658    26,August,2003
Name: date, dtype: object
17659      08,July,2004
17659    25,August,2003
Name: date, dtype: object
17660      08,July,2004
17660    24,August,2003
Name: date, dtype: object
17661         08,July,2004
17661    06,September,2003
Name: date, dtype: object
17662         08,July,2004
17662    05,September,2003
Name: date, dtype: object
17663         08,July,2004
17663    04,September,2003
Name: date, dtype: object
17664         08,July,2004
17664    03,September,2003
Name: date, dtype: object
17665         08,July,2004
17665    01,September,2003
Name: date, dtype: object
17666      08,July,2004
17666    31,August,2003
Name: date, dtype: object
17667         08,July,2004
17667    12,September,2003
Name: date, dtype: object
17668         08,July,2004
17668    10,September,2003
Name: date, dtype: object
17669         08,July,2004
17669    09,September,2003
Name: date, dtype: object
17670         08,July,2004
17670    08,September,2003
Name: date, dtype: object
17671         08,July,2004
17671    07,September,2003
Name: date, dtype: object
17672         08,July,2004
17672    18,September,2003
Name: date, dtype: object
17673         08,July,2004
17673    17,September,2003
Name: date, dtype: object
17674         08,July,2004
17674    16,September,2003
Name: date, dtype: object
17675         08,July,2004
17675    15,September,2003
Name: date, dtype: object
17676         08,July,2004
17676    14,September,2003
Name: date, dtype: object
17677         08,July,2004
17677    27,September,2003
Name: date, dtype: object
17678         08,July,2004
17678    26,September,2003
Name: date, dtype: object
17679         08,July,2004
17679    25,September,2003
Name: date, dtype: object
17680         08,July,2004
17680    24,September,2003
Name: date, dtype: object
17681         08,July,2004
17681    23,September,2003
Name: date, dtype: object
17682         08,July,2004
17682    23,September,2003
Name: date, dtype: object
17683         08,July,2004
17683    22,September,2003
Name: date, dtype: object
17684         08,July,2004
17684    21,September,2003
Name: date, dtype: object
17685       08,July,2004
17685    03,October,2003
Name: date, dtype: object
17686       08,July,2004
17686    02,October,2003
Name: date, dtype: object
17687       08,July,2004
17687    01,October,2003
Name: date, dtype: object
17688         08,July,2004
17688    30,September,2003
Name: date, dtype: object
17689         08,July,2004
17689    29,September,2003
Name: date, dtype: object
17690       08,July,2004
17690    10,October,2003
Name: date, dtype: object
17691       08,July,2004
17691    09,October,2003
Name: date, dtype: object
17692       08,July,2004
17692    08,October,2003
Name: date, dtype: object
17693       08,July,2004
17693    07,October,2003
Name: date, dtype: object
17694       08,July,2004
17694    06,October,2003
Name: date, dtype: object
17695       08,July,2004
17695    05,October,2003
Name: date, dtype: object
17696       08,July,2004
17696    18,October,2003
Name: date, dtype: object
17697       08,July,2004
17697    17,October,2003
Name: date, dtype: object
17698       08,July,2004
17698    16,October,2003
Name: date, dtype: object
17699       08,July,2004
17699    15,October,2003
Name: date, dtype: object
17700       08,July,2004
17700    14,October,2003
Name: date, dtype: object
17701       08,July,2004
17701    13,October,2003
Name: date, dtype: object
17702       08,July,2004
17702    25,October,2003
Name: date, dtype: object
17703       08,July,2004
17703    24,October,2003
Name: date, dtype: object
17704       08,July,2004
17704    23,October,2003
Name: date, dtype: object
17705       08,July,2004
17705    22,October,2003
Name: date, dtype: object
17706       08,July,2004
17706    21,October,2003
Name: date, dtype: object
17707       08,July,2004
17707    20,October,2003
Name: date, dtype: object
17708       08,July,2004
17708    19,October,2003
Name: date, dtype: object
17709       08,July,2004
17709    31,October,2003
Name: date, dtype: object
17710       08,July,2004
17710    30,October,2003
Name: date, dtype: object
17711       08,July,2004
17711    29,October,2003
Name: date, dtype: object
17712       08,July,2004
17712    28,October,2003
Name: date, dtype: object
17713       08,July,2004
17713    27,October,2003
Name: date, dtype: object
17714       08,July,2004
17714    26,October,2003
Name: date, dtype: object
17715        08,July,2004
17715    08,November,2003
Name: date, dtype: object
17716        08,July,2004
17716    07,November,2003
Name: date, dtype: object
17717        08,July,2004
17717    06,November,2003
Name: date, dtype: object
17718        08,July,2004
17718    04,November,2003
Name: date, dtype: object
17719        08,July,2004
17719    03,November,2003
Name: date, dtype: object
17720        08,July,2004
17720    02,November,2003
Name: date, dtype: object
17721        08,July,2004
17721    15,November,2003
Name: date, dtype: object
17722        08,July,2004
17722    14,November,2003
Name: date, dtype: object
17723        08,July,2004
17723    13,November,2003
Name: date, dtype: object
17724        08,July,2004
17724    12,November,2003
Name: date, dtype: object
17725        08,July,2004
17725    11,November,2003
Name: date, dtype: object
17726        08,July,2004
17726    10,November,2003
Name: date, dtype: object
17727        08,July,2004
17727    09,November,2003
Name: date, dtype: object
17728        08,July,2004
17728    22,November,2003
Name: date, dtype: object
17729        08,July,2004
17729    21,November,2003
Name: date, dtype: object
17730        08,July,2004
17730    20,November,2003
Name: date, dtype: object
17731        08,July,2004
17731    19,November,2003
Name: date, dtype: object
17732        08,July,2004
17732    18,November,2003
Name: date, dtype: object
17733        08,July,2004
17733    17,November,2003
Name: date, dtype: object
17734        08,July,2004
17734    16,November,2003
Name: date, dtype: object
17735        08,July,2004
17735    28,November,2003
Name: date, dtype: object
17736        08,July,2004
17736    27,November,2003
Name: date, dtype: object
17737        08,July,2004
17737    26,November,2003
Name: date, dtype: object
17738        08,July,2004
17738    25,November,2003
Name: date, dtype: object
17739        08,July,2004
17739    24,November,2003
Name: date, dtype: object
17740        08,July,2004
17740    06,December,2003
Name: date, dtype: object
17741        08,July,2004
17741    05,December,2003
Name: date, dtype: object
17742        08,July,2004
17742    04,December,2003
Name: date, dtype: object
17743        08,July,2004
17743    03,December,2003
Name: date, dtype: object
17744        08,July,2004
17744    02,December,2003
Name: date, dtype: object
17745        08,July,2004
17745    01,December,2003
Name: date, dtype: object

17746        08,July,2004
17746    30,November,2003
Name: date, dtype: object
17747        08,July,2004
17747    13,December,2003
Name: date, dtype: object
17748        08,July,2004
17748    12,December,2003
Name: date, dtype: object
17749        08,July,2004
17749    11,December,2003
Name: date, dtype: object
17750        08,July,2004
17750    10,December,2003
Name: date, dtype: object
17751        08,July,2004
17751    09,December,2003
Name: date, dtype: object
17752        08,July,2004
17752    08,December,2003
Name: date, dtype: object
17753        08,July,2004
17753    20,December,2003
Name: date, dtype: object
17754        08,July,2004
17754    19,December,2003
Name: date, dtype: object
17755        08,July,2004
17755    18,December,2003
Name: date, dtype: object
17756        08,July,2004
17756    17,December,2003
Name: date, dtype: object
17757        08,July,2004
17757    16,December,2003
Name: date, dtype: object
17758        08,July,2004
17758    15,December,2003
Name: date, dtype: object
17759        08,July,2004
17759    14,December,2003
Name: date, dtype: object
17760        08,July,2004
17760    27,December,2003
Name: date, dtype: object
17761        08,July,2004
17761    26,December,2003
Name: date, dtype: object
17762        08,July,2004
17762    25,December,2003
Name: date, dtype: object
17763        08,July,2004
17763    23,December,2003
Name: date, dtype: object
17764        08,July,2004
17764    22,December,2003
Name: date, dtype: object
17765       08,July,2004
17765    03,January,2004
Name: date, dtype: object
17766       08,July,2004
17766    02,January,2004
Name: date, dtype: object
17767       08,July,2004
17767    01,January,2004
Name: date, dtype: object
17768        08,July,2004
17768    31,December,2003
Name: date, dtype: object
17769        08,July,2004
17769    30,December,2003
Name: date, dtype: object
17770        08,July,2004
17770    29,December,2003
Name: date, dtype: object
17771        08,July,2004
17771    28,December,2003
Name: date, dtype: object
17772       08,July,2004
17772    10,January,2004
Name: date, dtype: object
17773       08,July,2004
17773    09,January,2004
Name: date, dtype: object
17774       08,July,2004
17774    08,January,2004
Name: date, dtype: object
17775       08,July,2004
17775    07,January,2004
Name: date, dtype: object
17776       08,July,2004
17776    06,January,2004
Name: date, dtype: object
17777       08,July,2004
17777    05,January,2004
Name: date, dtype: object
17778       08,July,2004
17778    04,January,2004
Name: date, dtype: object
17779       08,July,2004
17779    16,January,2004
Name: date, dtype: object
17780       08,July,2004
17780    15,January,2004
Name: date, dtype: object
17781       08,July,2004
17781    14,January,2004
Name: date, dtype: object
17782       08,July,2004
17782    13,January,2004
Name: date, dtype: object
17783       08,July,2004
17783    12,January,2004
Name: date, dtype: object
17784       08,July,2004
17784    11,January,2004
Name: date, dtype: object
17785       08,July,2004
17785    23,January,2004
Name: date, dtype: object
17786       08,July,2004
17786    22,January,2004
Name: date, dtype: object
17787       08,July,2004
17787    21,January,2004
Name: date, dtype: object
17788       08,July,2004
17788    20,January,2004
Name: date, dtype: object
17789       08,July,2004
17789    19,January,2004
Name: date, dtype: object
17790       08,July,2004
17790    18,January,2004
Name: date, dtype: object
17791       08,July,2004
17791    30,January,2004
Name: date, dtype: object
17792       08,July,2004
17792    29,January,2004
Name: date, dtype: object
17793       08,July,2004
17793    28,January,2004
Name: date, dtype: object
17794       08,July,2004
17794    27,January,2004
Name: date, dtype: object
17795       08,July,2004
17795    26,January,2004
Name: date, dtype: object
17796       08,July,2004
17796    25,January,2004
Name: date, dtype: object
17797        08,July,2004
17797    07,February,2004
Name: date, dtype: object
17798        08,July,2004
17798    06,February,2004
Name: date, dtype: object
17799        08,July,2004
17799    04,February,2004
Name: date, dtype: object
17800        08,July,2004
17800    03,February,2004
Name: date, dtype: object
17801        08,July,2004
17801    02,February,2004
Name: date, dtype: object
17802        08,July,2004
17802    02,February,2004
Name: date, dtype: object
17803        08,July,2004
17803    02,February,2004
Name: date, dtype: object
17804        30,June,2004
17804    01,February,2004
Name: date, dtype: object
17805        30,June,2004
17805    13,February,2004
Name: date, dtype: object
17806        30,July,2004
17806    12,February,2004
Name: date, dtype: object
17807        19,July,2004
17807    11,February,2004
Name: date, dtype: object
17808        14,July,2004
17808    10,February,2004
Name: date, dtype: object
17809        04,July,2004
17809    09,February,2004
Name: date, dtype: object
17810        01,July,2004
17810    08,February,2004
Name: date, dtype: object
17811        19,June,2004
17811    20,February,2004
Name: date, dtype: object
17812        18,June,2004
17812    19,February,2004
Name: date, dtype: object
17813        17,June,2004
17813    18,February,2004
Name: date, dtype: object
17814        16,June,2004
17814    17,February,2004
Name: date, dtype: object
17815        15,June,2004
17815    16,February,2004
Name: date, dtype: object
17816        13,June,2004
17816    15,February,2004
Name: date, dtype: object
17817        25,June,2004
17817    27,February,2004
Name: date, dtype: object
17818        24,June,2004
17818    26,February,2004
Name: date, dtype: object
17819        23,June,2004
17819    25,February,2004
Name: date, dtype: object
17820        21,June,2004
17820    24,February,2004
Name: date, dtype: object
17821        21,June,2004
17821    23,February,2004
Name: date, dtype: object
17822        20,June,2004
17822    22,February,2004
Name: date, dtype: object
17823     09,July,2004
17823    05,March,2004
Name: date, dtype: object
17824     04,July,2004
17824    04,March,2004
Name: date, dtype: object
17825     16,July,2004
17825    03,March,2004
Name: date, dtype: object
17826     14,July,2004
17826    02,March,2004
Name: date, dtype: object
17827     11,July,2004
17827    01,March,2004
Name: date, dtype: object
17828        21,July,2004
17828    29,February,2004
Name: date, dtype: object
17829     18,July,2004
17829    13,March,2004
Name: date, dtype: object
17830     31,July,2004
17830    12,March,2004
Name: date, dtype: object
17831     31,July,2004
17831    11,March,2004
Name: date, dtype: object
17832    02,August,2004
17832     10,March,2004
Name: date, dtype: object
17833    09,August,2004
17833     09,March,2004
Name: date, dtype: object
17834    04,August,2004
17834     08,March,2004
Name: date, dtype: object
17835    04,August,2004
17835     07,March,2004
Name: date, dtype: object
17836    04,August,2004
17836     19,March,2004
Name: date, dtype: object
17837    04,August,2004
17837     18,March,2004
Name: date, dtype: object
17838    04,August,2004
17838     17,March,2004
Name: date, dtype: object
17839    04,August,2004
17839     16,March,2004
Name: date, dtype: object
17840    04,August,2004
17840     16,March,2004
Name: date, dtype: object
17841    04,August,2004
17841     15,March,2004
Name: date, dtype: object
17842    04,August,2004
17842     27,March,2004
Name: date, dtype: object
17843    04,August,2004
17843     26,March,2004
Name: date, dtype: object
17844    04,August,2004
17844     25,March,2004
Name: date, dtype: object
17845    04,August,2004
17845     24,March,2004
Name: date, dtype: object
17846    04,August,2004
17846     23,March,2004
Name: date, dtype: object
17847    04,August,2004
17847     22,March,2004
Name: date, dtype: object
17848    04,August,2004
17848     21,March,2004
Name: date, dtype: object
17849    04,August,2004
17849     03,April,2004
Name: date, dtype: object
17850    04,August,2004
17850     02,April,2004
Name: date, dtype: object
17851    04,August,2004
17851     01,April,2004
Name: date, dtype: object
17852    04,August,2004
17852     31,March,2004
Name: date, dtype: object
17853    04,August,2004
17853     31,March,2004
Name: date, dtype: object
17854    04,August,2004
17854     31,March,2004
Name: date, dtype: object
17855    04,August,2004
17855     30,March,2004
Name: date, dtype: object
17856    04,August,2004
17856     29,March,2004
Name: date, dtype: object
17857    04,August,2004
17857     10,April,2004
Name: date, dtype: object
17858    04,August,2004
17858     09,April,2004
Name: date, dtype: object
17859    04,August,2004
17859     08,April,2004
Name: date, dtype: object
17860    04,August,2004
17860     07,April,2004
Name: date, dtype: object
17861    04,August,2004
17861     06,April,2004
Name: date, dtype: object
17862    04,August,2004
17862     05,April,2004
Name: date, dtype: object
17863    04,August,2004
17863     04,April,2004
Name: date, dtype: object
17864    04,August,2004
17864     16,April,2004
Name: date, dtype: object
17865    04,August,2004
17865     15,April,2004
Name: date, dtype: object
17866    04,August,2004
17866     14,April,2004
Name: date, dtype: object
17867    04,August,2004
17867     13,April,2004
Name: date, dtype: object
17868    04,August,2004
17868     12,April,2004
Name: date, dtype: object
17869    04,August,2004
17869     11,April,2004
Name: date, dtype: object
17870    04,August,2004
17870     23,April,2004
Name: date, dtype: object
17871    04,August,2004
17871     22,April,2004
Name: date, dtype: object
17872    04,August,2004
17872     21,April,2004
Name: date, dtype: object
17873    04,August,2004
17873     20,April,2004
Name: date, dtype: object
17874    04,August,2004
17874     19,April,2004
Name: date, dtype: object
17875    04,August,2004
17875     18,April,2004
Name: date, dtype: object
17876    04,August,2004
17876       01,May,2004
Name: date, dtype: object
17877    04,August,2004
17877     29,April,2004
Name: date, dtype: object
17878    04,August,2004
17878     28,April,2004
Name: date, dtype: object
17879    04,August,2004
17879     27,April,2004
Name: date, dtype: object
17880    04,August,2004
17880     26,April,2004
Name: date, dtype: object
17881    04,August,2004
17881     25,April,2004
Name: date, dtype: object
17882    04,August,2004
17882       08,May,2004
Name: date, dtype: object
17883    04,August,2004
17883       07,May,2004
Name: date, dtype: object
17884    04,August,2004
17884       06,May,2004
Name: date, dtype: object
17885    04,August,2004
17885       05,May,2004
Name: date, dtype: object

17886    04,August,2004
17886       04,May,2004
Name: date, dtype: object
17887    04,August,2004
17887       03,May,2004
Name: date, dtype: object
17888    04,August,2004
17888       15,May,2004
Name: date, dtype: object
17889    04,August,2004
17889       14,May,2004
Name: date, dtype: object
17890    04,August,2004
17890       12,May,2004
Name: date, dtype: object
17891    04,August,2004
17891       11,May,2004
Name: date, dtype: object
17892    04,August,2004
17892       10,May,2004
Name: date, dtype: object
17893    04,August,2004
17893       21,May,2004
Name: date, dtype: object
17894    04,August,2004
17894       20,May,2004
Name: date, dtype: object
17895    04,August,2004
17895       19,May,2004
Name: date, dtype: object
17896    04,August,2004
17896       18,May,2004
Name: date, dtype: object
17897    04,August,2004
17897       17,May,2004
Name: date, dtype: object
17898    04,August,2004
17898       16,May,2004
Name: date, dtype: object
17899    04,August,2004
17899       29,May,2004
Name: date, dtype: object
17900    04,August,2004
17900       28,May,2004
Name: date, dtype: object
17901    04,August,2004
17901       27,May,2004
Name: date, dtype: object
17902    04,August,2004
17902       26,May,2004
Name: date, dtype: object
17903    04,August,2004
17903       25,May,2004
Name: date, dtype: object
17904    04,August,2004
17904       24,May,2004
Name: date, dtype: object
17905    04,August,2004
17905       23,May,2004
Name: date, dtype: object
17906    04,August,2004
17906      05,June,2004
Name: date, dtype: object
17907    04,August,2004
17907      04,June,2004
Name: date, dtype: object
17908    04,August,2004
17908      03,June,2004
Name: date, dtype: object
17909    04,August,2004
17909      02,June,2004
Name: date, dtype: object
17910    04,August,2004
17910      02,June,2004
Name: date, dtype: object
17911    04,August,2004
17911      01,June,2004
Name: date, dtype: object
17912    04,August,2004
17912       31,May,2004
Name: date, dtype: object
17913    04,August,2004
17913       30,May,2004
Name: date, dtype: object
17914    04,August,2004
17914      11,June,2004
Name: date, dtype: object
17915    04,August,2004
17915      10,June,2004
Name: date, dtype: object
17916    04,August,2004
17916      09,June,2004
Name: date, dtype: object
17917    04,August,2004
17917      08,June,2004
Name: date, dtype: object
17918    04,August,2004
17918      07,June,2004
Name: date, dtype: object
17919    04,August,2004
17919      06,June,2004
Name: date, dtype: object
17920    04,August,2004
17920      19,June,2004
Name: date, dtype: object
17921    04,August,2004
17921      18,June,2004
Name: date, dtype: object
17922    04,August,2004
17922      17,June,2004
Name: date, dtype: object
17923    04,August,2004
17923      16,June,2004
Name: date, dtype: object
17924    04,August,2004
17924      15,June,2004
Name: date, dtype: object
17925    04,August,2004
17925      15,June,2004
Name: date, dtype: object
17926    04,August,2004
17926      14,June,2004
Name: date, dtype: object
17927    04,August,2004
17927      13,June,2004
Name: date, dtype: object
17928    04,August,2004
17928      26,June,2004
Name: date, dtype: object
17929    04,August,2004
17929      25,June,2004
Name: date, dtype: object
17930    04,August,2004
17930      24,June,2004
Name: date, dtype: object
17931    04,August,2004
17931      23,June,2004
Name: date, dtype: object
17932    04,August,2004
17932      22,June,2004
Name: date, dtype: object
17933    04,August,2004
17933      21,June,2004
Name: date, dtype: object
17934    04,August,2004
17934      20,June,2004
Name: date, dtype: object
17935    04,August,2004
17935      03,July,2004
Name: date, dtype: object
17936    04,August,2004
17936      02,July,2004
Name: date, dtype: object
17937    04,August,2004
17937      01,July,2004
Name: date, dtype: object
17938    04,August,2004
17938      30,June,2004
Name: date, dtype: object
17939    04,August,2004
17939      29,June,2004
Name: date, dtype: object
17940    04,August,2004
17940      28,June,2004
Name: date, dtype: object
17941    04,August,2004
17941      27,June,2004
Name: date, dtype: object
17942    04,August,2004
17942      09,July,2004
Name: date, dtype: object
17943    04,August,2004
17943      08,July,2004
Name: date, dtype: object
17944    04,August,2004
17944      07,July,2004
Name: date, dtype: object
17945    04,August,2004
17945      06,July,2004
Name: date, dtype: object
17946    04,August,2004
17946      05,July,2004
Name: date, dtype: object
17947    04,August,2004
17947      16,July,2004
Name: date, dtype: object
17948    04,August,2004
17948      15,July,2004
Name: date, dtype: object
17949    04,August,2004
17949      14,July,2004
Name: date, dtype: object
17950    04,August,2004
17950      13,July,2004
Name: date, dtype: object
17951    04,August,2004
17951      12,July,2004
Name: date, dtype: object
17952    04,August,2004
17952      11,July,2004
Name: date, dtype: object
17953    04,August,2004
17953      24,July,2004
Name: date, dtype: object
17954    04,August,2004
17954      23,July,2004
Name: date, dtype: object
17955    04,August,2004
17955      22,July,2004
Name: date, dtype: object
17956    04,August,2004
17956      21,July,2004
Name: date, dtype: object
17957    04,August,2004
17957      20,July,2004
Name: date, dtype: object
17958    04,August,2004
17958      19,July,2004
Name: date, dtype: object
17959    04,August,2004
17959      30,July,2004
Name: date, dtype: object
17960    04,August,2004
17960      29,July,2004
Name: date, dtype: object
17961    04,August,2004
17961      28,July,2004
Name: date, dtype: object
17962    04,August,2004
17962      27,July,2004
Name: date, dtype: object
17963    04,August,2004
17963      26,July,2004
Name: date, dtype: object
17964    04,August,2004
17964    02,August,2004
Name: date, dtype: object
17965    04,August,2004
17965    11,August,2004
Name: date, dtype: object
17966    04,August,2004
17966    10,August,2004
Name: date, dtype: object
17967    04,August,2004
17967    09,August,2004
Name: date, dtype: object
17968    04,August,2004
17968      07,June,2003
Name: date, dtype: object
17969    04,August,2004
17969      06,June,2003
Name: date, dtype: object
17970    04,August,2004
17970      05,June,2003
Name: date, dtype: object
17971    04,August,2004
17971      01,June,2003
Name: date, dtype: object
17972    04,August,2004
17972      14,June,2003
Name: date, dtype: object
17973    04,August,2004
17973      13,June,2003
Name: date, dtype: object
17974    04,August,2004
17974      12,June,2003
Name: date, dtype: object
17975    04,August,2004
17975      11,June,2003
Name: date, dtype: object
17976    04,August,2004
17976      10,June,2003
Name: date, dtype: object
17977    04,August,2004
17977      09,June,2003
Name: date, dtype: object
17978    04,August,2004
17978      08,June,2003
Name: date, dtype: object
17979    04,August,2004
17979      21,June,2003
Name: date, dtype: object
17980    04,August,2004
17980      20,June,2003
Name: date, dtype: object
17981    04,August,2004
17981      19,June,2003
Name: date, dtype: object
17982    04,August,2004
17982      18,June,2003
Name: date, dtype: object
17983    04,August,2004
17983      17,June,2003
Name: date, dtype: object
17984    04,August,2004
17984      16,June,2003
Name: date, dtype: object
17985    04,August,2004
17985      15,June,2003
Name: date, dtype: object
17986    04,August,2004
17986      28,June,2003
Name: date, dtype: object
17987    04,August,2004
17987      27,June,2003
Name: date, dtype: object
17988    04,August,2004
17988      26,June,2003
Name: date, dtype: object
17989    04,August,2004
17989      25,June,2003
Name: date, dtype: object
17990    04,August,2004
17990      24,June,2003
Name: date, dtype: object
17991    04,August,2004
17991      23,June,2003
Name: date, dtype: object
17992    04,August,2004
17992      22,June,2003
Name: date, dtype: object
17993    04,August,2004
17993      05,July,2003
Name: date, dtype: object
17994    04,August,2004
17994      04,July,2003
Name: date, dtype: object
17995    04,August,2004
17995      03,July,2003
Name: date, dtype: object
17996    04,August,2004
17996      02,July,2003
Name: date, dtype: object
17997    04,August,2004
17997      01,July,2003
Name: date, dtype: object
17998    04,August,2004
17998      30,June,2003
Name: date, dtype: object
17999    04,August,2004
17999      29,June,2003
Name: date, dtype: object
18000    04,August,2004
18000      12,July,2003
Name: date, dtype: object
18001    04,August,2004
18001      11,July,2003
Name: date, dtype: object
18002    04,August,2004
18002      10,July,2003
Name: date, dtype: object
18003    04,August,2004
18003      10,July,2003
Name: date, dtype: object
18004    04,August,2004
18004      09,July,2003
Name: date, dtype: object
18005    04,August,2004
18005      08,July,2003
Name: date, dtype: object
18006    04,August,2004
18006      07,July,2003
Name: date, dtype: object
18007    04,August,2004
18007      06,July,2003
Name: date, dtype: object
18008    04,August,2004
18008      18,July,2003
Name: date, dtype: object
18009    04,August,2004
18009      17,July,2003
Name: date, dtype: object
18010    04,August,2004
18010      16,July,2003
Name: date, dtype: object
18011    04,August,2004
18011      15,July,2003
Name: date, dtype: object
18012    04,August,2004
18012      14,July,2003
Name: date, dtype: object
18013    04,August,2004
18013      13,July,2003
Name: date, dtype: object
18014    23,June,2004
18014    26,July,2003
Name: date, dtype: object
18015    17,June,2004
18015    25,July,2003
Name: date, dtype: object
18016    17,June,2004
18016    24,July,2003
Name: date, dtype: object
18017    17,June,2004
18017    23,July,2003
Name: date, dtype: object
18018    17,August,2004
18018      22,July,2003
Name: date, dtype: object
18019    14,August,2004
18019      21,July,2003
Name: date, dtype: object
18020    02,August,2004
18020      20,July,2003
Name: date, dtype: object
18021       30,May,2004
18021    02,August,2003
Name: date, dtype: object
18022       27,May,2004
18022    01,August,2003
Name: date, dtype: object
18023     27,May,2004
18023    31,July,2003
Name: date, dtype: object
18024     26,May,2004
18024    30,July,2003
Name: date, dtype: object
18025     22,May,2004
18025    29,July,2003
Name: date, dtype: object

18026     21,May,2004
18026    28,July,2003
Name: date, dtype: object
18027     19,May,2004
18027    27,July,2003
Name: date, dtype: object
18028       19,May,2004
18028    09,August,2003
Name: date, dtype: object
18029       18,May,2004
18029    08,August,2003
Name: date, dtype: object
18030       18,May,2004
18030    07,August,2003
Name: date, dtype: object
18031       17,May,2004
18031    06,August,2003
Name: date, dtype: object
18032       17,May,2004
18032    05,August,2003
Name: date, dtype: object
18033      30,June,2004
18033    04,August,2003
Name: date, dtype: object
18034      29,June,2004
18034    03,August,2003
Name: date, dtype: object
18035      25,June,2004
18035    16,August,2003
Name: date, dtype: object
18036      24,June,2004
18036    15,August,2003
Name: date, dtype: object
18037      18,June,2004
18037    14,August,2003
Name: date, dtype: object
18038      15,June,2004
18038    13,August,2003
Name: date, dtype: object
18039      13,June,2004
18039    12,August,2003
Name: date, dtype: object
18040      11,June,2004
18040    11,August,2003
Name: date, dtype: object
18041      11,June,2004
18041    23,August,2003
Name: date, dtype: object
18042      09,June,2004
18042    22,August,2003
Name: date, dtype: object
18043      05,June,2004
18043    21,August,2003
Name: date, dtype: object
18044      05,June,2004
18044    19,August,2003
Name: date, dtype: object
18045      22,July,2004
18045    18,August,2003
Name: date, dtype: object
18046      15,July,2004
18046    17,August,2003
Name: date, dtype: object
18047      13,July,2004
18047    30,August,2003
Name: date, dtype: object
18048      10,July,2004
18048    29,August,2003
Name: date, dtype: object
18049      07,July,2004
18049    28,August,2003
Name: date, dtype: object
18050      01,July,2004
18050    27,August,2003
Name: date, dtype: object
18051      01,July,2004
18051    26,August,2003
Name: date, dtype: object
18052    01,August,2004
18052    24,August,2003
Name: date, dtype: object
18053         28,July,2004
18053    05,September,2003
Name: date, dtype: object
18054         28,July,2004
18054    04,September,2003
Name: date, dtype: object
18055         28,July,2004
18055    03,September,2003
Name: date, dtype: object
18056         15,July,2003
18056    02,September,2003
Name: date, dtype: object
18057         31,July,2004
18057    01,September,2003
Name: date, dtype: object
18058      30,July,2004
18058    31,August,2003
Name: date, dtype: object
18059         30,July,2004
18059    13,September,2003
Name: date, dtype: object
18060         27,July,2004
18060    11,September,2003
Name: date, dtype: object
18061         21,July,2004
18061    09,September,2003
Name: date, dtype: object
18062         18,July,2004
18062    08,September,2003
Name: date, dtype: object
18063         17,July,2004
18063    07,September,2003
Name: date, dtype: object
18064         15,July,2004
18064    19,September,2003
Name: date, dtype: object
18065       06,August,2004
18065    17,September,2003
Name: date, dtype: object
18066       05,August,2004
18066    15,September,2003
Name: date, dtype: object
18067       03,August,2004
18067    15,September,2003
Name: date, dtype: object
18068       01,August,2004
18068    27,September,2003
Name: date, dtype: object
18069       04,August,2004
18069    25,September,2003
Name: date, dtype: object
18070         24,June,2004
18070    23,September,2003
Name: date, dtype: object
18071         23,June,2004
18071    21,September,2003
Name: date, dtype: object
18072       23,June,2004
18072    03,October,2003
Name: date, dtype: object
18073       23,June,2004
18073    01,October,2003
Name: date, dtype: object
18074         23,June,2004
18074    29,September,2003
Name: date, dtype: object
18075       23,June,2004
18075    11,October,2003
Name: date, dtype: object
18076       31,July,2004
18076    09,October,2003
Name: date, dtype: object
18077       22,July,2004
18077    07,October,2003
Name: date, dtype: object
18078       06,July,2004
18078    05,October,2003
Name: date, dtype: object
18079       26,July,2004
18079    17,October,2003
Name: date, dtype: object
18080        31,May,2003
18080    15,October,2003
Name: date, dtype: object
18081        31,May,2003
18081    13,October,2003
Name: date, dtype: object
18082       25,June,2003
18082    25,October,2003
Name: date, dtype: object
18083       11,June,2003
18083    23,October,2003
Name: date, dtype: object
18084       10,June,2003
18084    21,October,2003
Name: date, dtype: object
18085       10,June,2003
18085    19,October,2003
Name: date, dtype: object
18086       08,June,2003
18086    31,October,2003
Name: date, dtype: object
18087       07,June,2003
18087    29,October,2003
Name: date, dtype: object
18088       06,June,2003
18088    27,October,2003
Name: date, dtype: object
18089        05,June,2003
18089    08,November,2003
Name: date, dtype: object
18090        05,June,2003
18090    06,November,2003
Name: date, dtype: object
18091        04,June,2003
18091    04,November,2003
Name: date, dtype: object
18092        03,June,2003
18092    02,November,2003
Name: date, dtype: object
18093        01,June,2003
18093    14,November,2003
Name: date, dtype: object
18094        19,July,2003
18094    12,November,2003
Name: date, dtype: object
18095        16,July,2003
18095    10,November,2003
Name: date, dtype: object
18096        14,July,2003
18096    22,November,2003
Name: date, dtype: object
18097        13,July,2003
18097    20,November,2003
Name: date, dtype: object
18098        12,July,2003
18098    18,November,2003
Name: date, dtype: object
18099        09,July,2003
18099    16,November,2003
Name: date, dtype: object
18100        08,July,2003
18100    28,November,2003
Name: date, dtype: object
18101        07,July,2003
18101    26,November,2003
Name: date, dtype: object
18102        03,July,2003
18102    25,November,2003
Name: date, dtype: object
18103        03,July,2003
18103    24,November,2003
Name: date, dtype: object
18104        03,July,2003
18104    06,December,2003
Name: date, dtype: object
18105      29,August,2003
18105    04,December,2003
Name: date, dtype: object
18106      28,August,2003
18106    02,December,2003
Name: date, dtype: object
18107      28,August,2003
18107    30,November,2003
Name: date, dtype: object
18108      26,August,2003
18108    12,December,2003
Name: date, dtype: object
18109      25,August,2003
18109    10,December,2003
Name: date, dtype: object
18110      19,August,2003
18110    09,December,2003
Name: date, dtype: object
18111      18,August,2003
18111    08,December,2003
Name: date, dtype: object
18112      16,August,2003
18112    20,December,2003
Name: date, dtype: object
18113      08,August,2003
18113    18,December,2003
Name: date, dtype: object
18114    30,September,2003
18114     16,December,2003
Name: date, dtype: object
18115    29,September,2003
18115     26,December,2003
Name: date, dtype: object
18116    28,September,2003
18116     24,December,2003
Name: date, dtype: object
18117    27,September,2003
18117     22,December,2003
Name: date, dtype: object
18118    26,September,2003
18118      03,January,2004
Name: date, dtype: object
18119    25,September,2003
18119      01,January,2004
Name: date, dtype: object
18120    24,September,2003
18120     30,December,2003
Name: date, dtype: object
18121    24,September,2003
18121     28,December,2003
Name: date, dtype: object
18122    21,September,2003
18122      09,January,2004
Name: date, dtype: object
18123    20,September,2003
18123      07,January,2004
Name: date, dtype: object
18124    19,September,2003
18124      05,January,2004
Name: date, dtype: object
18125    17,September,2003
18125      17,January,2004
Name: date, dtype: object
18126    13,September,2003
18126      15,January,2004
Name: date, dtype: object
18127    13,September,2003
18127      13,January,2004
Name: date, dtype: object
18128    12,September,2003
18128      11,January,2004
Name: date, dtype: object
18129    09,September,2003
18129      23,January,2004
Name: date, dtype: object
18130    06,September,2003
18130      21,January,2004
Name: date, dtype: object
18131    31,October,2003
18131    19,January,2004
Name: date, dtype: object
18132    28,October,2003
18132    31,January,2004
Name: date, dtype: object
18133    25,October,2003
18133    29,January,2004
Name: date, dtype: object
18134    20,October,2003
18134    27,January,2004
Name: date, dtype: object
18135    18,October,2003
18135    25,January,2004
Name: date, dtype: object
18136     17,October,2003
18136    06,February,2004
Name: date, dtype: object
18137     16,October,2003
18137    04,February,2004
Name: date, dtype: object
18138     14,October,2003
18138    02,February,2004
Name: date, dtype: object
18139     13,October,2003
18139    14,February,2004
Name: date, dtype: object
18140     12,October,2003
18140    12,February,2004
Name: date, dtype: object
18141     11,October,2003
18141    10,February,2004
Name: date, dtype: object
18142     09,October,2003
18142    08,February,2004
Name: date, dtype: object
18143     08,October,2003
18143    21,February,2004
Name: date, dtype: object
18144     07,October,2003
18144    20,February,2004
Name: date, dtype: object
18145     06,October,2003
18145    18,February,2004
Name: date, dtype: object
18146     06,October,2003
18146    16,February,2004
Name: date, dtype: object
18147     05,October,2003
18147    28,February,2004
Name: date, dtype: object
18148     05,October,2003
18148    27,February,2004
Name: date, dtype: object
18149     04,October,2003
18149    26,February,2004
Name: date, dtype: object
18150     04,October,2003
18150    25,February,2004
Name: date, dtype: object
18151     04,October,2003
18151    24,February,2004
Name: date, dtype: object
18152     03,October,2003
18152    23,February,2004
Name: date, dtype: object
18153     02,October,2003
18153    22,February,2004
Name: date, dtype: object
18154    02,October,2003
18154      05,March,2004
Name: date, dtype: object
18155    01,October,2003
18155      04,March,2004
Name: date, dtype: object
18156    01,October,2003
18156      03,March,2004
Name: date, dtype: object
18157    01,October,2003
18157      02,March,2004
Name: date, dtype: object
18158    01,October,2003
18158      01,March,2004
Name: date, dtype: object
18159    30,November,2003
18159    29,February,2004
Name: date, dtype: object
18160    29,November,2003
18160       13,March,2004
Name: date, dtype: object
18161    25,November,2003
18161       12,March,2004
Name: date, dtype: object
18162    23,November,2003
18162       11,March,2004
Name: date, dtype: object
18163    21,November,2003
18163       10,March,2004
Name: date, dtype: object
18164    19,November,2003
18164       09,March,2004
Name: date, dtype: object

18165    18,November,2003
18165       08,March,2004
Name: date, dtype: object
18166    14,November,2003
18166       07,March,2004
Name: date, dtype: object
18167    12,November,2003
18167       19,March,2004
Name: date, dtype: object
18168    11,November,2003
18168       18,March,2004
Name: date, dtype: object
18169    08,November,2003
18169       17,March,2004
Name: date, dtype: object
18170    07,November,2003
18170       16,March,2004
Name: date, dtype: object
18171    01,November,2003
18171       16,March,2004
Name: date, dtype: object
18172    31,December,2003
18172       15,March,2004
Name: date, dtype: object
18173    30,December,2003
18173       27,March,2004
Name: date, dtype: object
18174    29,December,2003
18174       26,March,2004
Name: date, dtype: object
18175    29,December,2003
18175       25,March,2004
Name: date, dtype: object
18176    26,December,2003
18176       24,March,2004
Name: date, dtype: object
18177    25,December,2003
18177       23,March,2004
Name: date, dtype: object
18178    24,December,2003
18178       22,March,2004
Name: date, dtype: object
18179    23,December,2003
18179       21,March,2004
Name: date, dtype: object
18180    23,December,2003
18180       03,April,2004
Name: date, dtype: object
18181    22,December,2003
18181       02,April,2004
Name: date, dtype: object
18182    21,December,2003
18182       01,April,2004
Name: date, dtype: object
18183    19,December,2003
18183       31,March,2004
Name: date, dtype: object
18184    14,December,2003
18184       30,March,2004
Name: date, dtype: object
18185    11,December,2003
18185       29,March,2004
Name: date, dtype: object
18186    10,December,2003
18186       09,April,2004
Name: date, dtype: object
18187    07,December,2003
18187       07,April,2004
Name: date, dtype: object
18188    03,December,2003
18188       06,April,2004
Name: date, dtype: object
18189    31,January,2004
18189      05,April,2004
Name: date, dtype: object
18190    30,January,2004
18190      17,April,2004
Name: date, dtype: object
18191    30,January,2004
18191      16,April,2004
Name: date, dtype: object
18192    29,January,2004
18192      15,April,2004
Name: date, dtype: object
18193    28,January,2004
18193      14,April,2004
Name: date, dtype: object
18194    27,January,2004
18194      13,April,2004
Name: date, dtype: object
18195    27,January,2004
18195      12,April,2004
Name: date, dtype: object
18196    26,January,2004
18196      11,April,2004
Name: date, dtype: object
18197    26,January,2004
18197      22,April,2004
Name: date, dtype: object
18198    25,January,2004
18198      21,April,2004
Name: date, dtype: object
18199    24,January,2004
18199      20,April,2004
Name: date, dtype: object
18200    24,January,2004
18200      19,April,2004
Name: date, dtype: object
18201    23,January,2004
18201      18,April,2004
Name: date, dtype: object
18202    22,January,2004
18202      29,April,2004
Name: date, dtype: object
18203    22,January,2004
18203        03,May,2004
Name: date, dtype: object
18204    22,January,2004
18204        10,May,2004
Name: date, dtype: object
18205    21,January,2004
18205        20,May,2004
Name: date, dtype: object
18206    21,January,2004
18206        17,May,2004
Name: date, dtype: object
18207    20,January,2004
18207        29,May,2004
Name: date, dtype: object
18208    20,January,2004
18208        28,May,2004
Name: date, dtype: object
18209    20,January,2004
18209        26,May,2004
Name: date, dtype: object
18210    20,January,2004
18210        24,May,2004
Name: date, dtype: object
18211    20,January,2004
18211       05,June,2004
Name: date, dtype: object
18212    20,January,2004
18212       04,June,2004
Name: date, dtype: object
18213    19,January,2004
18213       03,June,2004
Name: date, dtype: object
18214    18,January,2004
18214       02,June,2004
Name: date, dtype: object
18215    17,January,2004
18215       01,June,2004
Name: date, dtype: object
18216    17,January,2004
18216        31,May,2004
Name: date, dtype: object
18217    17,January,2004
18217        30,May,2004
Name: date, dtype: object
18218    17,January,2004
18218       12,June,2004
Name: date, dtype: object
18219    16,January,2004
18219       11,June,2004
Name: date, dtype: object
18220    16,January,2004
18220       10,June,2004
Name: date, dtype: object
18221    16,January,2004
18221       09,June,2004
Name: date, dtype: object
18222    16,January,2004
18222       08,June,2004
Name: date, dtype: object
18223    14,January,2004
18223       07,June,2004
Name: date, dtype: object
18224    14,January,2004
18224       06,June,2004
Name: date, dtype: object
18225    14,January,2004
18225       19,June,2004
Name: date, dtype: object
18226    14,January,2004
18226       18,June,2004
Name: date, dtype: object
18227    13,January,2004
18227       17,June,2004
Name: date, dtype: object
18228    13,January,2004
18228       16,June,2004
Name: date, dtype: object
18229    12,January,2004
18229       15,June,2004
Name: date, dtype: object
18230    12,January,2004
18230       14,June,2004
Name: date, dtype: object
18231    11,January,2004
18231       13,June,2004
Name: date, dtype: object
18232    09,January,2004
18232       26,June,2004
Name: date, dtype: object
18233    07,January,2004
18233       25,June,2004
Name: date, dtype: object
18234    06,January,2004
18234       24,June,2004
Name: date, dtype: object
18235    04,January,2004
18235       23,June,2004
Name: date, dtype: object
18236    03,January,2004
18236       22,June,2004
Name: date, dtype: object
18237    02,January,2004
18237       21,June,2004
Name: date, dtype: object
18238    01,January,2004
18238       20,June,2004
Name: date, dtype: object
18239    01,January,2004
18239       03,July,2004
Name: date, dtype: object
18240    28,February,2004
18240        02,July,2004
Name: date, dtype: object
18241    27,February,2004
18241        01,July,2004
Name: date, dtype: object
18242    26,February,2004
18242        30,June,2004
Name: date, dtype: object
18243    26,February,2004
18243        29,June,2004
Name: date, dtype: object
18244    25,February,2004
18244        28,June,2004
Name: date, dtype: object
18245    25,February,2004
18245        27,June,2004
Name: date, dtype: object
18246    24,February,2004
18246        10,July,2004
Name: date, dtype: object
18247    23,February,2004
18247        09,July,2004
Name: date, dtype: object
18248    22,February,2004
18248        08,July,2004
Name: date, dtype: object
18249    22,February,2004
18249        07,July,2004
Name: date, dtype: object
18250    21,February,2004
18250        06,July,2004
Name: date, dtype: object
18251    20,February,2004
18251        05,July,2004
Name: date, dtype: object
18252    19,February,2004
18252        17,July,2004
Name: date, dtype: object
18253    19,February,2004
18253        16,July,2004
Name: date, dtype: object
18254    18,February,2004
18254        15,July,2004
Name: date, dtype: object
18255    18,February,2004
18255        14,July,2004
Name: date, dtype: object
18256    18,February,2004
18256        13,July,2004
Name: date, dtype: object
18257    16,February,2004
18257        12,July,2004
Name: date, dtype: object
18258    16,February,2004
18258        24,July,2004
Name: date, dtype: object
18259    16,February,2004
18259        23,July,2004
Name: date, dtype: object
18260    16,February,2004
18260        22,July,2004
Name: date, dtype: object
18261    15,February,2004
18261        21,July,2004
Name: date, dtype: object
18262    15,February,2004
18262        20,July,2004
Name: date, dtype: object
18263    14,February,2004
18263        20,July,2004
Name: date, dtype: object
18264    13,February,2004
18264        19,July,2004
Name: date, dtype: object
18265    12,February,2004
18265        18,July,2004
Name: date, dtype: object
18266    11,February,2004
18266        31,July,2004
Name: date, dtype: object
18267    11,February,2004
18267        30,July,2004
Name: date, dtype: object
18268    10,February,2004
18268        29,July,2004
Name: date, dtype: object
18269    10,February,2004
18269        28,July,2004
Name: date, dtype: object
18270    09,February,2004
18270        27,July,2004
Name: date, dtype: object
18271    09,February,2004
18271        26,July,2004
Name: date, dtype: object
18272    08,February,2004
18272      07,August,2004
Name: date, dtype: object
18273    08,February,2004
18273      06,August,2004
Name: date, dtype: object
18274    08,February,2004
18274      05,August,2004
Name: date, dtype: object
18275    08,February,2004
18275      04,August,2004
Name: date, dtype: object
18276    07,February,2004
18276      03,August,2004
Name: date, dtype: object
18277    07,February,2004
18277      02,August,2004
Name: date, dtype: object
18278    07,February,2004
18278      01,August,2004
Name: date, dtype: object
18279    06,February,2004
18279      11,August,2004
Name: date, dtype: object
18280    06,February,2004
18280      10,August,2004
Name: date, dtype: object
18281    06,February,2004
18281      09,August,2004
Name: date, dtype: object
18282    05,February,2004
18282      08,August,2004
Name: date, dtype: object
18283    05,February,2004
18283     03,January,2004
Name: date, dtype: object
18284    04,February,2004
18284     01,January,2004
Name: date, dtype: object
18285    03,February,2004
18285    30,December,2003
Name: date, dtype: object
18286    03,February,2004
18286     09,January,2004
Name: date, dtype: object
18287    02,February,2004
18287     07,January,2004
Name: date, dtype: object
18288    02,February,2004
18288     05,January,2004
Name: date, dtype: object
18289    02,February,2004
18289     17,January,2004
Name: date, dtype: object
18290    02,February,2004
18290     15,January,2004
Name: date, dtype: object
18291    02,February,2004
18291     13,January,2004
Name: date, dtype: object
18292    01,February,2004
18292     11,January,2004
Name: date, dtype: object
18293    01,February,2004
18293     23,January,2004
Name: date, dtype: object
18294      30,March,2004
18294    21,January,2004
Name: date, dtype: object
18295      29,March,2004
18295    19,January,2004
Name: date, dtype: object
18296      29,March,2004
18296    31,January,2004
Name: date, dtype: object
18297      28,March,2004
18297    29,January,2004
Name: date, dtype: object
18298      28,March,2004
18298    27,January,2004
Name: date, dtype: object
18299      27,March,2004
18299    25,January,2004
Name: date, dtype: object
18300       26,March,2004
18300    06,February,2004
Name: date, dtype: object
18301       25,March,2004
18301    04,February,2004
Name: date, dtype: object
18302       25,March,2004
18302    02,February,2004
Name: date, dtype: object
18303       25,March,2004
18303    14,February,2004
Name: date, dtype: object
18304       24,March,2004
18304    12,February,2004
Name: date, dtype: object
18305       24,March,2004
18305    10,February,2004
Name: date, dtype: object
18306       24,March,2004
18306    08,February,2004
Name: date, dtype: object
18307       23,March,2004
18307    20,February,2004
Name: date, dtype: object
18308       22,March,2004
18308    18,February,2004

Name: date, dtype: object
18309       21,March,2004
18309    16,February,2004
Name: date, dtype: object
18310       20,March,2004
18310    28,February,2004
Name: date, dtype: object
18311       19,March,2004
18311    26,February,2004
Name: date, dtype: object
18312       19,March,2004
18312    24,February,2004
Name: date, dtype: object
18313       18,March,2004
18313    22,February,2004
Name: date, dtype: object
18314    17,March,2004
18314    06,March,2004
Name: date, dtype: object
18315    16,March,2004
18315    04,March,2004
Name: date, dtype: object
18316    14,March,2004
18316    02,March,2004
Name: date, dtype: object
18317    14,March,2004
18317    12,March,2004
Name: date, dtype: object
18318    13,March,2004
18318    10,March,2004
Name: date, dtype: object
18319    12,March,2004
18319    08,March,2004
Name: date, dtype: object
18320    11,March,2004
18320    20,March,2004
Name: date, dtype: object
18321    10,March,2004
18321    18,March,2004
Name: date, dtype: object
18322    09,March,2004
18322    16,March,2004
Name: date, dtype: object
18323    08,March,2004
18323    14,March,2004
Name: date, dtype: object
18324    08,March,2004
18324    26,March,2004
Name: date, dtype: object
18325    05,March,2004
18325    24,March,2004
Name: date, dtype: object
18326    03,March,2004
18326    22,March,2004
Name: date, dtype: object
18327    02,March,2004
18327    03,April,2004
Name: date, dtype: object
18328    02,March,2004
18328    01,April,2004
Name: date, dtype: object
18329    02,March,2004
18329    30,March,2004
Name: date, dtype: object
18330    01,March,2004
18330    28,March,2004
Name: date, dtype: object
18331    01,March,2004
18331    09,April,2004
Name: date, dtype: object
18332    01,March,2004
18332    07,April,2004
Name: date, dtype: object
18333    30,April,2004
18333    05,April,2004
Name: date, dtype: object
18334    29,April,2004
18334    17,April,2004
Name: date, dtype: object
18335    28,April,2004
18335    15,April,2004
Name: date, dtype: object
18336    28,April,2004
18336    13,April,2004
Name: date, dtype: object
18337    26,April,2004
18337    11,April,2004
Name: date, dtype: object
18338    25,April,2004
18338    23,April,2004
Name: date, dtype: object
18339    23,April,2004
18339    21,April,2004
Name: date, dtype: object
18340    23,April,2004
18340    19,April,2004
Name: date, dtype: object
18341    22,April,2004
18341      01,May,2004
Name: date, dtype: object
18342    21,April,2004
18342    29,April,2004
Name: date, dtype: object
18343    20,April,2004
18343    27,April,2004
Name: date, dtype: object
18344    20,April,2004
18344    25,April,2004
Name: date, dtype: object
18345    20,April,2004
18345      07,May,2004
Name: date, dtype: object
18346    19,April,2004
18346      05,May,2004
Name: date, dtype: object
18347    18,April,2004
18347      03,May,2004
Name: date, dtype: object
18348    12,April,2004
18348      15,May,2004
Name: date, dtype: object
18349    12,April,2004
18349      13,May,2004
Name: date, dtype: object
18350    12,April,2004
18350      11,May,2004
Name: date, dtype: object
18351    12,April,2004
18351      09,May,2004
Name: date, dtype: object
18352    11,April,2004
18352      21,May,2004
Name: date, dtype: object
18353    09,April,2004
18353      19,May,2004
Name: date, dtype: object
18354    06,April,2004
18354      17,May,2004
Name: date, dtype: object
18355    06,April,2004
18355      29,May,2004
Name: date, dtype: object
18356    05,April,2004
18356      27,May,2004
Name: date, dtype: object
18357    04,April,2004
18357      25,May,2004
Name: date, dtype: object
18358    03,April,2004
18358      23,May,2004
Name: date, dtype: object
18359    02,April,2004
18359     05,June,2004
Name: date, dtype: object
18360    02,April,2004
18360     04,June,2004
Name: date, dtype: object
18361    02,April,2004
18361     03,June,2004
Name: date, dtype: object
18362     31,May,2004
18362    01,June,2004
Name: date, dtype: object
18363    30,May,2004
18363    31,May,2004
Name: date, dtype: object
18364     30,May,2004
18364    12,June,2004
Name: date, dtype: object
18365     29,May,2004
18365    11,June,2004
Name: date, dtype: object
18366     29,May,2004
18366    10,June,2004
Name: date, dtype: object
18367     28,May,2004
18367    09,June,2004
Name: date, dtype: object
18368     27,May,2004
18368    08,June,2004
Name: date, dtype: object
18369     26,May,2004
18369    07,June,2004
Name: date, dtype: object
18370     26,May,2004
18370    06,June,2004
Name: date, dtype: object
18371     26,May,2004
18371    19,June,2004
Name: date, dtype: object
18372     26,May,2004
18372    18,June,2004
Name: date, dtype: object
18373     26,May,2004
18373    17,June,2004
Name: date, dtype: object
18374     26,May,2004
18374    16,June,2004
Name: date, dtype: object
18375     25,May,2004
18375    15,June,2004
Name: date, dtype: object
18376     25,May,2004
18376    14,June,2004
Name: date, dtype: object
18377     24,May,2004
18377    13,June,2004
Name: date, dtype: object
18378     24,May,2004
18378    26,June,2004
Name: date, dtype: object
18379     24,May,2004
18379    25,June,2004
Name: date, dtype: object
18380     23,May,2004
18380    24,June,2004
Name: date, dtype: object
18381     23,May,2004
18381    23,June,2004
Name: date, dtype: object
18382     22,May,2004
18382    22,June,2004
Name: date, dtype: object
18383     22,May,2004
18383    21,June,2004
Name: date, dtype: object
18384     20,May,2004
18384    20,June,2004
Name: date, dtype: object
18385     19,May,2004
18385    03,July,2004
Name: date, dtype: object
18386     19,May,2004
18386    02,July,2004
Name: date, dtype: object
18387     18,May,2004
18387    01,July,2004
Name: date, dtype: object
18388     18,May,2004
18388    30,June,2004
Name: date, dtype: object
18389     18,May,2004
18389    29,June,2004
Name: date, dtype: object
18390     18,May,2004
18390    28,June,2004
Name: date, dtype: object
18391     17,May,2004
18391    27,June,2004
Name: date, dtype: object
18392     16,May,2004
18392    10,July,2004
Name: date, dtype: object
18393     15,May,2004
18393    09,July,2004
Name: date, dtype: object
18394     14,May,2004
18394    08,July,2004
Name: date, dtype: object
18395     14,May,2004
18395    07,July,2004
Name: date, dtype: object
18396     13,May,2004
18396    06,July,2004
Name: date, dtype: object
18397     12,May,2004
18397    05,July,2004
Name: date, dtype: object
18398     11,May,2004
18398    16,July,2004
Name: date, dtype: object
18399     11,May,2004
18399    15,July,2004
Name: date, dtype: object
18400     10,May,2004
18400    14,July,2004
Name: date, dtype: object
18401     07,May,2004
18401    13,July,2004
Name: date, dtype: object
18402     05,May,2004
18402    12,July,2004
Name: date, dtype: object
18403     05,May,2004
18403    24,July,2004
Name: date, dtype: object
18404     05,May,2004
18404    23,July,2004
Name: date, dtype: object
18405     04,May,2004
18405    22,July,2004
Name: date, dtype: object
18406     04,May,2004
18406    21,July,2004
Name: date, dtype: object
18407     02,May,2004
18407    20,July,2004
Name: date, dtype: object
18408     01,May,2004
18408    19,July,2004
Name: date, dtype: object
18409     01,May,2004
18409    31,July,2004
Name: date, dtype: object
18410    30,June,2004
18410    30,July,2004
Name: date, dtype: object
18411    28,June,2004
18411    29,July,2004
Name: date, dtype: object
18412    28,June,2004
18412    28,July,2004
Name: date, dtype: object
18413    28,June,2004
18413    27,July,2004
Name: date, dtype: object
18414    27,June,2004
18414    26,July,2004
Name: date, dtype: object
18415      27,June,2004
18415    02,August,2004
Name: date, dtype: object
18416      27,June,2004
18416    11,August,2004
Name: date, dtype: object
18417      27,June,2004
18417    10,August,2004
Name: date, dtype: object
18418      26,June,2004
18418    09,August,2004
Name: date, dtype: object
18419    26,June,2004
18419    19,July,2004
Name: date, dtype: object
18420    26,June,2004
18420    19,July,2004
Name: date, dtype: object
18421    25,June,2004
18421    19,July,2004
Name: date, dtype: object
18422    24,June,2004
18422    19,July,2004
Name: date, dtype: object
18423    24,June,2004
18423    28,June,2004
Name: date, dtype: object
18424    23,June,2004
18424    23,June,2004
Name: date, dtype: object
18425    23,June,2004
18425    21,June,2004
Name: date, dtype: object
18426    22,June,2004
18426    21,June,2004
Name: date, dtype: object
18427    21,June,2004
18427    21,June,2004
Name: date, dtype: object
18428    19,June,2004
18428    18,June,2004
Name: date, dtype: object
18429    17,June,2004
18429    18,June,2004
Name: date, dtype: object
18430    16,June,2004
18430    18,June,2004
Name: date, dtype: object
18431    16,June,2004
18431    18,June,2004
Name: date, dtype: object
18432    13,June,2004
18432    18,June,2004
Name: date, dtype: object
18433    13,June,2004
18433    18,June,2004
Name: date, dtype: object
18434    12,June,2004
18434    18,June,2004
Name: date, dtype: object
18435    11,June,2004
18435    18,June,2004
Name: date, dtype: object
18436    11,June,2004
18436    31,July,2004
Name: date, dtype: object
18437    11,June,2004
18437    29,July,2004
Name: date, dtype: object
18438    10,June,2004
18438    25,July,2004
Name: date, dtype: object
18439    10,June,2004
18439    21,July,2004
Name: date, dtype: object
18440    08,June,2004
18440    21,July,2004
Name: date, dtype: object
18441    08,June,2004
18441    21,July,2004
Name: date, dtype: object
18442    07,June,2004
18442    17,July,2004
Name: date, dtype: object

18443    07,June,2004
18443    11,July,2004
Name: date, dtype: object
18444    05,June,2004
18444    02,July,2004
Name: date, dtype: object
18445    05,June,2004
18445    01,July,2004
Name: date, dtype: object
18446      05,June,2004
18446    05,August,2004
Name: date, dtype: object
18447      05,June,2004
18447    03,August,2004
Name: date, dtype: object
18448      04,June,2004
18448    02,August,2004
Name: date, dtype: object
18449    03,June,2004
18449    22,July,2004
Name: date, dtype: object
18450    03,June,2004
18450    20,July,2004
Name: date, dtype: object
18451    02,June,2004
18451    20,July,2004
Name: date, dtype: object
18452    02,June,2004
18452    19,July,2004
Name: date, dtype: object
18453    02,June,2004
18453    27,July,2004
Name: date, dtype: object
18454    02,June,2004
18454    25,July,2004
Name: date, dtype: object
18455    01,June,2004
18455    22,July,2004
Name: date, dtype: object
18456    01,June,2004
18456    21,July,2004
Name: date, dtype: object
18457    01,June,2004
18457    19,July,2004
Name: date, dtype: object
18458    01,June,2004
18458    18,July,2004
Name: date, dtype: object
18459    31,July,2004
18459    18,July,2004
Name: date, dtype: object
18460    30,July,2004
18460    17,July,2004
Name: date, dtype: object
18461      30,July,2004
18461    08,August,2004
Name: date, dtype: object
18462      28,July,2004
18462    01,August,2004
Name: date, dtype: object
18463    28,July,2004
18463    30,June,2004
Name: date, dtype: object
18464    28,July,2004
18464    29,June,2004
Name: date, dtype: object
18465    28,July,2004
18465    25,June,2004
Name: date, dtype: object
18466    27,July,2004
18466    25,June,2004
Name: date, dtype: object
18467    27,July,2004
18467    26,July,2004
Name: date, dtype: object
18468    27,July,2004
18468    14,July,2004
Name: date, dtype: object
18469    26,July,2004
18469    13,July,2004
Name: date, dtype: object
18470    26,July,2004
18470    02,July,2004
Name: date, dtype: object
18471      26,July,2004
18471    18,August,2004
Name: date, dtype: object
18472      25,July,2004
18472    13,August,2004
Name: date, dtype: object
18473      25,July,2004
18473    11,August,2004
Name: date, dtype: object
18474      24,July,2004
18474    10,August,2004
Name: date, dtype: object
18475      22,July,2004
18475    10,August,2004
Name: date, dtype: object
18476      22,July,2004
18476    05,August,2004
Name: date, dtype: object
18477      21,July,2004
18477    04,August,2004
Name: date, dtype: object
18478      20,July,2004
18478    02,August,2004
Name: date, dtype: object
18479    19,July,2004
18479    21,June,2004
Name: date, dtype: object
18480    19,July,2004
18480    21,June,2004
Name: date, dtype: object
18481    18,July,2004
18481    28,June,2004
Name: date, dtype: object
18482    18,July,2004
18482    21,June,2004
Name: date, dtype: object
18483    17,July,2004
18483    20,June,2004
Name: date, dtype: object
18484    16,July,2004
18484    20,June,2004
Name: date, dtype: object
18485    15,July,2004
18485    19,July,2004
Name: date, dtype: object
18486    14,July,2004
18486    11,July,2004
Name: date, dtype: object
18487    14,July,2004
18487    07,July,2004
Name: date, dtype: object
18488    13,July,2004
18488    07,July,2004
Name: date, dtype: object
18489    13,July,2004
18489    07,July,2004
Name: date, dtype: object
18490    12,July,2004
18490    02,July,2004
Name: date, dtype: object
18491    11,July,2004
18491    02,July,2004
Name: date, dtype: object
18492    11,July,2004
18492    30,July,2004
Name: date, dtype: object
18493    10,July,2004
18493    29,July,2004
Name: date, dtype: object
18494    09,July,2004
18494    27,July,2004
Name: date, dtype: object
18495    08,July,2004
18495    27,July,2004
Name: date, dtype: object
18496    08,July,2004
18496    26,July,2004
Name: date, dtype: object
18497    08,July,2004
18497    25,July,2004
Name: date, dtype: object
18498    07,July,2004
18498    25,July,2004
Name: date, dtype: object
18499    07,July,2004
18499    24,July,2004
Name: date, dtype: object
18500    07,July,2004
18500    23,July,2004
Name: date, dtype: object
18501    06,July,2004
18501    23,July,2004
Name: date, dtype: object
18502    06,July,2004
18502    23,July,2004
Name: date, dtype: object
18503    05,July,2004
18503    22,July,2004
Name: date, dtype: object
18504    04,July,2004
18504    21,July,2004
Name: date, dtype: object
18505    03,July,2004
18505    20,July,2004
Name: date, dtype: object
18506    02,July,2004
18506    19,July,2004
Name: date, dtype: object
18507    01,July,2004
18507    19,July,2004
Name: date, dtype: object
18508      01,July,2004
18508    06,August,2004
Name: date, dtype: object
18509    09,August,2004
18509    04,August,2004
Name: date, dtype: object
18510    08,August,2004
18510    03,August,2004
Name: date, dtype: object
18511    06,August,2004
18511      22,June,2004
Name: date, dtype: object
18512    06,August,2004
18512      24,July,2004
Name: date, dtype: object
18513    05,August,2004
18513      11,July,2004
Name: date, dtype: object
18514    04,August,2004
18514      06,July,2004
Name: date, dtype: object
18515    04,August,2004
18515      25,June,2004
Name: date, dtype: object
18516    04,August,2004
18516      25,June,2004
Name: date, dtype: object
18517    04,August,2004
18517      25,June,2004
Name: date, dtype: object
18518    03,August,2004
18518      31,July,2004
Name: date, dtype: object
18519    03,August,2004
18519      29,July,2004
Name: date, dtype: object
18520    03,August,2004
18520      26,July,2004
Name: date, dtype: object
18521    02,August,2004
18521      14,July,2004
Name: date, dtype: object
18522    02,August,2004
18522      14,July,2004
Name: date, dtype: object
18523    02,August,2004
18523      11,July,2004
Name: date, dtype: object
18524    01,August,2004
18524      11,July,2004
Name: date, dtype: object
18525    01,August,2004
18525      01,July,2004
Name: date, dtype: object
18526    01,August,2004
18526      01,July,2004
Name: date, dtype: object
18527      22,July,2004
18527    05,August,2004
Name: date, dtype: object
18528      22,July,2004
18528    04,August,2004
Name: date, dtype: object
18529      22,July,2004
18529    04,August,2004
Name: date, dtype: object
18530      22,July,2004
18530    04,August,2004
Name: date, dtype: object
18531      22,July,2004
18531    06,August,2004
Name: date, dtype: object
18532      22,July,2004
18532    01,August,2004
Name: date, dtype: object
18533      22,July,2004
18533    01,August,2004
Name: date, dtype: object
18534       22,July,2004
18534    29,October,2002
Name: date, dtype: object
18535       22,July,2004
18535    22,January,2003
Name: date, dtype: object
18536     22,July,2004
18536    28,March,2003
Name: date, dtype: object
18537     22,July,2004
18537    25,March,2003
Name: date, dtype: object
18538     22,July,2004
18538    28,April,2003
Name: date, dtype: object
18539    22,July,2004
18539    11,July,2003
Name: date, dtype: object
18540    22,July,2004
18540    16,July,2003
Name: date, dtype: object
18541    22,July,2004
18541    13,July,2003
Name: date, dtype: object
18542    22,July,2004
18542    24,July,2003
Name: date, dtype: object
18543     22,July,2004
18543    14,April,2004
Name: date, dtype: object
18544    22,July,2004
18544    18,June,2004
Name: date, dtype: object
18545    22,July,2004
18545    17,June,2004
Name: date, dtype: object
18546    22,July,2004
18546    16,June,2004
Name: date, dtype: object
18547    22,July,2004
18547    16,June,2004
Name: date, dtype: object
18548    22,July,2004
18548    20,July,2004
Name: date, dtype: object
18549    22,July,2004
18549    29,July,2004
Name: date, dtype: object
18550    27,October,2003
18550       28,July,2004
Name: date, dtype: object
18551    26,October,2003
18551       28,July,2004
Name: date, dtype: object
18552    25,October,2003
18552       25,July,2004
Name: date, dtype: object
18553    25,October,2003
18553     05,August,2004
Name: date, dtype: object
18554    25,October,2003
18554     02,August,2004
Name: date, dtype: object
18555    25,October,2003
18555     02,August,2004
Name: date, dtype: object
18556    30,November,2003
18556      02,August,2004
Name: date, dtype: object
18557    25,November,2003
18557      02,August,2004
Name: date, dtype: object
18558    24,November,2003
18558       25,March,2004
Name: date, dtype: object
18559    23,November,2003
18559       13,March,2004
Name: date, dtype: object
18560    23,November,2003
18560       13,March,2004
Name: date, dtype: object
18561    19,November,2003
18561       13,March,2004
Name: date, dtype: object
18562    16,November,2003
18562       13,March,2004
Name: date, dtype: object
18563    13,November,2003
18563       17,April,2004
Name: date, dtype: object
18564    13,November,2003
18564       17,April,2004
Name: date, dtype: object
18565    12,November,2003
18565        27,June,2004
Name: date, dtype: object
18566    08,November,2003
18566        29,July,2004
Name: date, dtype: object
18567    02,November,2003
18567        28,July,2004
Name: date, dtype: object
18568    02,November,2003
18568        27,July,2004
Name: date, dtype: object
18569    02,November,2003
18569        21,July,2004
Name: date, dtype: object
18570    01,November,2003
18570        20,July,2004
Name: date, dtype: object
18571    01,November,2003
18571        19,July,2004
Name: date, dtype: object
18572    30,December,2003
18572        16,July,2004
Name: date, dtype: object
18573    17,December,2003
18573        14,July,2004
Name: date, dtype: object
18574    17,December,2003
18574        13,July,2004
Name: date, dtype: object
18575    11,December,2003
18575        13,July,2004
Name: date, dtype: object
18576    11,December,2003
18576        12,July,2004
Name: date, dtype: object
18577    03,December,2003
18577        09,July,2004
Name: date, dtype: object
18578    31,January,2004
18578       09,July,2004
Name: date, dtype: object
18579    30,January,2004
18579       08,July,2004
Name: date, dtype: object
18580    29,January,2004
18580       07,July,2004
Name: date, dtype: object
18581    27,January,2004
18581       07,July,2004
Name: date, dtype: object
18582    27,January,2004
18582       06,July,2004
Name: date, dtype: object

18583    27,January,2004
18583       06,July,2004
Name: date, dtype: object
18584    26,January,2004
18584     11,August,2004
Name: date, dtype: object
18585    26,January,2004
18585     10,August,2004
Name: date, dtype: object
18586    26,January,2004
18586     09,August,2004
Name: date, dtype: object
18587    25,January,2004
18587     09,August,2004
Name: date, dtype: object
18588    25,January,2004
18588     06,August,2004
Name: date, dtype: object
18589    24,January,2004
18589     05,August,2004
Name: date, dtype: object
18590    21,January,2004
18590     03,August,2004
Name: date, dtype: object
18591    21,January,2004
18591     02,August,2004
Name: date, dtype: object
18592    20,January,2004
18592       19,July,2004
Name: date, dtype: object
18593    19,January,2004
18593       17,July,2004
Name: date, dtype: object
18594    19,January,2004
18594       15,July,2004
Name: date, dtype: object
18595    19,January,2004
18595       15,July,2004
Name: date, dtype: object
18596    19,January,2004
18596       15,July,2004
Name: date, dtype: object
18597    18,January,2004
18597       15,July,2004
Name: date, dtype: object
18598    18,January,2004
18598       15,July,2004
Name: date, dtype: object
18599    18,January,2004
18599       15,July,2004
Name: date, dtype: object
18600    17,January,2004
18600       30,June,2004
Name: date, dtype: object
18601    17,January,2004
18601       29,June,2004
Name: date, dtype: object
18602    16,January,2004
18602       28,June,2004
Name: date, dtype: object
18603    15,January,2004
18603       28,June,2004
Name: date, dtype: object
18604    09,January,2004
18604       27,June,2004
Name: date, dtype: object
18605    08,January,2004
18605       26,June,2004
Name: date, dtype: object
18606    08,January,2004
18606       26,June,2004
Name: date, dtype: object
18607    07,January,2004
18607       25,June,2004
Name: date, dtype: object
18608    04,January,2004
18608       25,June,2004
Name: date, dtype: object
18609    04,January,2004
18609       25,June,2004
Name: date, dtype: object
18610    04,January,2004
18610       24,June,2004
Name: date, dtype: object
18611    03,January,2004
18611       24,June,2004
Name: date, dtype: object
18612    28,February,2004
18612        24,June,2004
Name: date, dtype: object
18613    25,February,2004
18613        23,June,2004
Name: date, dtype: object
18614    24,February,2004
18614        22,June,2004
Name: date, dtype: object
18615    24,February,2004
18615        21,June,2004
Name: date, dtype: object
18616    24,February,2004
18616        21,June,2004
Name: date, dtype: object
18617    23,February,2004
18617        20,June,2004
Name: date, dtype: object
18618    20,February,2004
18618        20,June,2004
Name: date, dtype: object
18619    18,February,2004
18619        20,June,2004
Name: date, dtype: object
18620    18,February,2004
18620        15,June,2004
Name: date, dtype: object
18621    17,February,2004
18621        15,June,2004
Name: date, dtype: object
18622    16,February,2004
18622        15,June,2004
Name: date, dtype: object
18623    11,February,2004
18623        13,June,2004
Name: date, dtype: object
18624    06,February,2004
18624        13,June,2004
Name: date, dtype: object
18625    02,February,2004
18625        12,June,2004
Name: date, dtype: object
18626    01,February,2004
18626        11,June,2004
Name: date, dtype: object
18627    01,February,2004
18627        09,June,2004
Name: date, dtype: object
18628    27,March,2004
18628     08,June,2004
Name: date, dtype: object
18629    18,March,2004
18629     07,June,2004
Name: date, dtype: object
18630    12,March,2004
18630     07,June,2004
Name: date, dtype: object
18631    06,March,2004
18631     06,June,2004
Name: date, dtype: object
18632    03,March,2004
18632     06,June,2004
Name: date, dtype: object
18633    03,March,2004
18633     06,June,2004
Name: date, dtype: object
18634    02,March,2004
18634     30,July,2004
Name: date, dtype: object
18635    23,April,2004
18635     26,July,2004
Name: date, dtype: object
18636    20,April,2004
18636     26,July,2004
Name: date, dtype: object
18637    19,April,2004
18637     26,July,2004
Name: date, dtype: object
18638    09,April,2004
18638     24,July,2004
Name: date, dtype: object
18639    09,April,2004
18639     24,July,2004
Name: date, dtype: object
18640    09,April,2004
18640     23,July,2004
Name: date, dtype: object
18641    09,April,2004
18641     23,July,2004
Name: date, dtype: object
18642    08,April,2004
18642     19,July,2004
Name: date, dtype: object
18643    07,April,2004
18643     18,July,2004
Name: date, dtype: object
18644    04,April,2004
18644     16,July,2004
Name: date, dtype: object
18645    02,April,2004
18645     15,July,2004
Name: date, dtype: object
18646     10,May,2004
18646    13,July,2004
Name: date, dtype: object
18647     04,May,2004
18647    11,July,2004
Name: date, dtype: object
18648    29,June,2004
18648    10,July,2004
Name: date, dtype: object
18649    28,June,2004
18649    09,July,2004
Name: date, dtype: object
18650    21,June,2004
18650    07,July,2004
Name: date, dtype: object
18651    21,June,2004
18651    06,July,2004
Name: date, dtype: object
18652    20,June,2004
18652    06,July,2004
Name: date, dtype: object
18653    19,June,2004
18653    05,July,2004
Name: date, dtype: object
18654    16,June,2004
18654    05,July,2004
Name: date, dtype: object
18655    15,June,2004
18655    05,July,2004
Name: date, dtype: object
18656    14,June,2004
18656    04,July,2004
Name: date, dtype: object
18657    14,June,2004
18657    04,July,2004
Name: date, dtype: object
18658    14,June,2004
18658    02,July,2004
Name: date, dtype: object
18659    12,June,2004
18659    01,July,2004
Name: date, dtype: object
18660      09,June,2004
18660    13,August,2004
Name: date, dtype: object
18661      08,June,2004
18661    12,August,2004
Name: date, dtype: object
18662      08,June,2004
18662    12,August,2004
Name: date, dtype: object
18663      08,June,2004
18663    10,August,2004
Name: date, dtype: object
18664      08,June,2004
18664    08,August,2004
Name: date, dtype: object
18665      07,June,2004
18665    06,August,2004
Name: date, dtype: object
18666      07,June,2004
18666    05,August,2004
Name: date, dtype: object
18667      06,June,2004
18667    04,August,2004
Name: date, dtype: object
18668      03,June,2004
18668    03,August,2004
Name: date, dtype: object
18669      29,July,2004
18669    03,August,2004
Name: date, dtype: object
18670      23,July,2004
18670    01,August,2004
Name: date, dtype: object
18671      20,July,2004
18671    01,August,2004
Name: date, dtype: object
18672      19,July,2004
18672    01,August,2004
Name: date, dtype: object
18673    14,July,2004
18673     27,May,2004
Name: date, dtype: object
18674    12,July,2004
18674     24,May,2004
Name: date, dtype: object
18675    09,July,2004
18675     23,May,2004
Name: date, dtype: object
18676    07,July,2004
18676     19,May,2004
Name: date, dtype: object
18677    02,July,2004
18677     19,May,2004
Name: date, dtype: object
18678    02,July,2004
18678     18,May,2004
Name: date, dtype: object
18679    06,August,2004
18679       18,May,2004
Name: date, dtype: object
18680    05,August,2004
18680       18,May,2004
Name: date, dtype: object
18681    05,August,2004
18681       17,May,2004
Name: date, dtype: object
18682    05,August,2004
18682       15,May,2004
Name: date, dtype: object
18683    05,August,2004
18683       15,May,2004
Name: date, dtype: object
18684    05,August,2004
18684       14,May,2004
Name: date, dtype: object
18685    05,August,2004
18685       13,May,2004
Name: date, dtype: object
18686    05,August,2004
18686       12,May,2004
Name: date, dtype: object
18687    05,August,2004
18687       12,May,2004
Name: date, dtype: object
18688    05,August,2004
18688       11,May,2004
Name: date, dtype: object
18689    05,August,2004
18689       11,May,2004
Name: date, dtype: object
18690    05,August,2004
18690      29,June,2004
Name: date, dtype: object
18691    04,August,2004
18691      22,June,2004
Name: date, dtype: object
18692    04,August,2004
18692      21,June,2004
Name: date, dtype: object
18693    04,August,2004
18693      17,June,2004
Name: date, dtype: object
18694    04,August,2004
18694      10,June,2004
Name: date, dtype: object
18695    04,August,2004
18695      06,June,2004
Name: date, dtype: object
18696    04,August,2004
18696      02,June,2004
Name: date, dtype: object
18697    04,August,2004
18697      01,June,2004
Name: date, dtype: object
18698    04,August,2004
18698      30,July,2004
Name: date, dtype: object
18699    04,August,2004
18699      26,July,2004
Name: date, dtype: object
18700    04,August,2004
18700      26,July,2004
Name: date, dtype: object
18701    03,August,2004
18701      30,July,2004
Name: date, dtype: object
18702    03,August,2004
18702      29,July,2004
Name: date, dtype: object
18703    03,August,2004
18703      29,July,2004
Name: date, dtype: object
18704    03,August,2004
18704    15,August,2004
Name: date, dtype: object
18705    03,August,2004
18705    14,August,2004
Name: date, dtype: object
18706    01,August,2004
18706    08,August,2004
Name: date, dtype: object
18707    01,August,2004
18707    01,August,2004
Name: date, dtype: object
18708    01,August,2004
18708     25,April,2004
Name: date, dtype: object
18709    01,August,2004
18709     23,April,2004
Name: date, dtype: object
18710    01,August,2004
18710     19,April,2004
Name: date, dtype: object
18711    01,August,2004
18711     17,April,2004
Name: date, dtype: object
18712    01,August,2004
18712     16,April,2004
Name: date, dtype: object
18713    01,August,2004
18713     16,April,2004
Name: date, dtype: object
18714    01,August,2004
18714     15,April,2004
Name: date, dtype: object
18715      31,May,2004
18715    13,April,2004
Name: date, dtype: object
18716      31,May,2004
18716    11,April,2004
Name: date, dtype: object
18717      31,May,2004
18717    11,April,2004
Name: date, dtype: object
18718      31,May,2004
18718    09,April,2004
Name: date, dtype: object
18719      31,May,2004
18719    05,April,2004
Name: date, dtype: object
18720      31,May,2004
18720    05,April,2004
Name: date, dtype: object
18721      31,May,2004
18721    05,April,2004
Name: date, dtype: object
18722    31,May,2004
18722    29,May,2004
Name: date, dtype: object
18723    31,May,2004
18723    27,May,2004
Name: date, dtype: object

18724    31,May,2004
18724    27,May,2004
Name: date, dtype: object
18725    31,May,2004
18725    26,May,2004
Name: date, dtype: object
18726    31,May,2004
18726    26,May,2004
Name: date, dtype: object
18727    31,May,2004
18727    26,May,2004
Name: date, dtype: object
18728    31,May,2004
18728    23,May,2004
Name: date, dtype: object
18729    31,May,2004
18729    22,May,2004
Name: date, dtype: object
18730    31,May,2004
18730    18,May,2004
Name: date, dtype: object
18731    31,May,2004
18731    17,May,2004
Name: date, dtype: object
18732    31,May,2004
18732    15,May,2004
Name: date, dtype: object
18733    31,May,2004
18733    14,May,2004
Name: date, dtype: object
18734    29,May,2004
18734    12,May,2004
Name: date, dtype: object
18735    25,May,2004
18735    09,May,2004
Name: date, dtype: object
18736    24,May,2004
18736    08,May,2004
Name: date, dtype: object
18737    23,May,2004
18737    08,May,2004
Name: date, dtype: object
18738    21,May,2004
18738    07,May,2004
Name: date, dtype: object
18739    21,May,2004
18739    07,May,2004
Name: date, dtype: object
18740    20,May,2004
18740    06,May,2004
Name: date, dtype: object
18741    20,May,2004
18741    02,May,2004
Name: date, dtype: object
18742     20,May,2004
18742    19,June,2004
Name: date, dtype: object
18743     19,May,2004
18743    11,June,2004
Name: date, dtype: object
18744     19,May,2004
18744    07,June,2004
Name: date, dtype: object
18745     19,May,2004
18745    02,June,2004
Name: date, dtype: object
18746       19,May,2004
18746    13,August,2004
Name: date, dtype: object
18747       19,May,2004
18747    12,August,2004
Name: date, dtype: object
18748       18,May,2004
18748    12,August,2004
Name: date, dtype: object
18749       18,May,2004
18749    12,August,2004
Name: date, dtype: object
18750       18,May,2004
18750    12,August,2004
Name: date, dtype: object
18751     18,May,2004
18751    30,June,2004
Name: date, dtype: object
18752     17,May,2004
18752    22,July,2004
Name: date, dtype: object
18753     17,May,2004
18753    13,July,2004
Name: date, dtype: object
18754     17,May,2004
18754    12,July,2004
Name: date, dtype: object
18755     17,May,2004
18755    06,July,2004
Name: date, dtype: object
18756     17,May,2004
18756    06,July,2004
Name: date, dtype: object
18757     17,May,2004
18757    05,July,2004
Name: date, dtype: object
18758     16,May,2004
18758    04,July,2004
Name: date, dtype: object
18759     16,May,2004
18759    01,July,2004
Name: date, dtype: object
18760       16,May,2004
18760    03,August,2004
Name: date, dtype: object
18761       16,May,2004
18761    02,August,2004
Name: date, dtype: object
18762       14,May,2004
18762    21,August,2004
Name: date, dtype: object
18763       14,May,2004
18763    15,August,2004
Name: date, dtype: object
18764       14,May,2004
18764    15,August,2004
Name: date, dtype: object
18765       13,May,2004
18765    09,August,2004
Name: date, dtype: object
18766       13,May,2004
18766    06,August,2004
Name: date, dtype: object
18767       12,May,2004
18767    06,August,2004
Name: date, dtype: object
18768       12,May,2004
18768    06,August,2004
Name: date, dtype: object
18769       12,May,2004
18769    06,August,2004
Name: date, dtype: object
18770       12,May,2004
18770    06,August,2004
Name: date, dtype: object
18771       12,May,2004
18771    06,August,2004
Name: date, dtype: object
18772       12,May,2004
18772    04,August,2004
Name: date, dtype: object
18773       12,May,2004
18773    04,August,2004
Name: date, dtype: object
18774      28,June,2004
18774    04,August,2004
Name: date, dtype: object
18775      24,June,2004
18775    04,August,2004
Name: date, dtype: object
18776      23,June,2004
18776    04,August,2004
Name: date, dtype: object
18777      19,June,2004
18777    04,August,2004
Name: date, dtype: object
18778      18,June,2004
18778    04,August,2004
Name: date, dtype: object
18779      17,June,2004
18779    04,August,2004
Name: date, dtype: object
18780      16,June,2004
18780    04,August,2004
Name: date, dtype: object
18781      09,June,2004
18781    04,August,2004
Name: date, dtype: object
18782      09,June,2004
18782    04,August,2004
Name: date, dtype: object
18783      05,June,2004
18783    04,August,2004
Name: date, dtype: object
18784      04,June,2004
18784    04,August,2004
Name: date, dtype: object
18785      04,June,2004
18785    04,August,2004
Name: date, dtype: object
18786      03,June,2004
18786    03,August,2004
Name: date, dtype: object
18787      02,June,2004
18787    03,August,2004
Name: date, dtype: object
18788      01,June,2004
18788    03,August,2004
Name: date, dtype: object
18789      01,June,2004
18789    03,August,2004
Name: date, dtype: object
18790      25,July,2004
18790    03,August,2004
Name: date, dtype: object
18791      24,July,2004
18791    03,August,2004
Name: date, dtype: object
18792      21,July,2004
18792    04,August,2004
Name: date, dtype: object
18793      20,July,2004
18793    04,August,2004
Name: date, dtype: object
18794      16,July,2004
18794    04,August,2004
Name: date, dtype: object
18795      15,July,2004
18795    08,August,2004
Name: date, dtype: object
18796      09,July,2004
18796    08,August,2004
Name: date, dtype: object
18797      07,July,2004
18797    08,August,2004
Name: date, dtype: object
18798      06,July,2004
18798    08,August,2004
Name: date, dtype: object
18799      01,July,2004
18799    08,August,2004
Name: date, dtype: object
18800      01,July,2004
18800    20,August,2004
Name: date, dtype: object
18801    05,August,2004
18801    19,August,2004
Name: date, dtype: object
18802    04,August,2004
18802    19,August,2004
Name: date, dtype: object
18803    04,August,2004
18803    19,August,2004
Name: date, dtype: object
18804    04,August,2004
18804    19,August,2004
Name: date, dtype: object
18805    03,August,2004
18805    19,August,2004
Name: date, dtype: object
18806    02,August,2004
18806    19,August,2004
Name: date, dtype: object
18807    02,August,2004
18807    19,August,2004
Name: date, dtype: object
18808    02,August,2004
18808    19,August,2004
Name: date, dtype: object
18809      30,June,2004
18809    19,August,2004
Name: date, dtype: object
18810      29,June,2004
18810    19,August,2004
Name: date, dtype: object
18811      28,June,2004
18811    19,August,2004
Name: date, dtype: object
18812      27,June,2004
18812    19,August,2004
Name: date, dtype: object
18813      26,June,2004
18813    19,August,2004
Name: date, dtype: object
18814      25,June,2004
18814    19,August,2004
Name: date, dtype: object
18815    24,June,2004
18815     28,May,2004
Name: date, dtype: object
18816    23,June,2004
18816     26,May,2004
Name: date, dtype: object
18817    23,June,2004
18817     26,May,2004
Name: date, dtype: object
18818    22,June,2004
18818     25,May,2004
Name: date, dtype: object
18819    22,June,2004
18819     23,May,2004
Name: date, dtype: object
18820    21,June,2004
18820    15,June,2004
Name: date, dtype: object
18821    21,June,2004
18821    13,June,2004
Name: date, dtype: object
18822    20,June,2004
18822    09,June,2004
Name: date, dtype: object
18823    20,June,2004
18823    06,June,2004
Name: date, dtype: object
18824    14,June,2004
18824    23,July,2004
Name: date, dtype: object
18825    14,June,2004
18825    10,July,2004
Name: date, dtype: object
18826      13,June,2004
18826    09,August,2004
Name: date, dtype: object
18827    31,July,2004
18827     24,May,2004
Name: date, dtype: object
18828    30,July,2004
18828     22,May,2004
Name: date, dtype: object
18829    29,July,2004
18829     21,May,2004
Name: date, dtype: object
18830    28,July,2004
18830     19,May,2004
Name: date, dtype: object
18831    27,July,2004
18831     16,May,2004
Name: date, dtype: object
18832    26,July,2004
18832     15,May,2004
Name: date, dtype: object
18833    26,July,2004
18833    02,July,2004
Name: date, dtype: object
18834    26,July,2004
18834    01,July,2004
Name: date, dtype: object
18835      25,July,2004
18835    14,August,2004
Name: date, dtype: object
18836      25,July,2004
18836    09,August,2004
Name: date, dtype: object
18837      25,July,2004
18837    03,August,2004
Name: date, dtype: object
18838      24,July,2004
18838    02,August,2004
Name: date, dtype: object
18839      24,July,2004
18839    02,August,2004
Name: date, dtype: object
18840    22,July,2004
18840    30,Juli,2004
Name: date, dtype: object
18841    22,July,2004
18841    29,Juli,2004
Name: date, dtype: object
18842    22,July,2004
18842    27,Juli,2004
Name: date, dtype: object
18843    22,July,2004
18843    25,Juli,2004
Name: date, dtype: object
18844    22,July,2004
18844    24,Juli,2004
Name: date, dtype: object
18845    22,July,2004
18845    23,Juli,2004
Name: date, dtype: object
18846    22,July,2004
18846    22,Juli,2004
Name: date, dtype: object
18847      22,July,2004
18847    19,August,2004
Name: date, dtype: object
18848      20,July,2004
18848    02,August,2004
Name: date, dtype: object
18849    20,July,2004
18849     19,May,2004
Name: date, dtype: object
18850    18,July,2004
18850     18,May,2004
Name: date, dtype: object
18851    18,July,2004
18851     17,May,2004
Name: date, dtype: object
18852    17,July,2004
18852     17,May,2004
Name: date, dtype: object
18853    17,July,2004
18853     17,May,2004
Name: date, dtype: object
18854    17,July,2004
18854     16,May,2004
Name: date, dtype: object
18855    13,July,2004
18855     16,May,2004
Name: date, dtype: object
18856    13,July,2004
18856     15,May,2004
Name: date, dtype: object
18857    13,July,2004
18857     15,May,2004
Name: date, dtype: object
18858    12,July,2004
18858     15,May,2004
Name: date, dtype: object
18859    11,July,2004
18859     15,May,2004
Name: date, dtype: object
18860    10,July,2004
18860     15,May,2004
Name: date, dtype: object
18861    08,July,2004
18861     15,May,2004
Name: date, dtype: object
18862    05,July,2004
18862    29,June,2004
Name: date, dtype: object
18863    05,July,2004
18863    28,June,2004
Name: date, dtype: object
18864    04,July,2004
18864    27,June,2004
Name: date, dtype: object
18865    03,July,2004
18865    27,June,2004
Name: date, dtype: object
18866    02,July,2004
18866    26,June,2004
Name: date, dtype: object
18867    01,July,2004
18867    29,July,2004
Name: date, dtype: object
18868    15,August,2004
18868      25,July,2004
Name: date, dtype: object
18869    14,August,2004
18869      22,July,2004
Name: date, dtype: object
18870    13,August,2004
18870      20,July,2004
Name: date, dtype: object
18871    13,August,2004
18871      19,July,2004
Name: date, dtype: object
18872    12,August,2004
18872      01,July,2004
Name: date, dtype: object

18873    12,August,2004
18873      01,July,2004
Name: date, dtype: object
18874    09,August,2004
18874      01,July,2004
Name: date, dtype: object
18875    09,August,2004
18875    18,August,2004
Name: date, dtype: object
18876    09,August,2004
18876    11,August,2004
Name: date, dtype: object
18877    09,August,2004
18877    11,August,2004
Name: date, dtype: object
18878    09,August,2004
18878    11,August,2004
Name: date, dtype: object
18879    09,August,2004
18879       26,May,2004
Name: date, dtype: object
18880    06,August,2004
18880       25,May,2004
Name: date, dtype: object
18881    05,August,2004
18881       25,May,2004
Name: date, dtype: object
18882    03,August,2004
18882       25,May,2004
Name: date, dtype: object
18883    02,August,2004
18883       14,May,2004
Name: date, dtype: object
18884    01,August,2004
18884       14,May,2004
Name: date, dtype: object
18885    30,June,2004
18885     13,May,2004
Name: date, dtype: object
18886    22,June,2004
18886     12,May,2004
Name: date, dtype: object
18887    02,July,2004
18887     11,May,2004
Name: date, dtype: object
18888    01,July,2004
18888    01,June,2004
Name: date, dtype: object
18889    29,June,2004
18889    22,July,2004
Name: date, dtype: object
18890    30,June,2004
18890    22,July,2004
Name: date, dtype: object
18891    01,July,2004
18891    22,July,2004
Name: date, dtype: object
18892    30,July,2004
18892    22,July,2004
Name: date, dtype: object
18893      29,July,2004
18893    01,August,2004
Name: date, dtype: object
18894      29,July,2004
18894    01,August,2004
Name: date, dtype: object
18895      29,July,2004
18895    01,August,2004
Name: date, dtype: object
18896      28,July,2004
18896    01,August,2004
Name: date, dtype: object
18897      28,July,2004
18897    01,August,2004
Name: date, dtype: object
18898      27,July,2004
18898    01,August,2004
Name: date, dtype: object
18899      27,July,2004
18899    01,August,2004
Name: date, dtype: object
18900      27,July,2004
18900    01,August,2004
Name: date, dtype: object
18901      26,July,2004
18901    01,August,2004
Name: date, dtype: object
18902      26,July,2004
18902    01,August,2004
Name: date, dtype: object
18903      26,July,2004
18903    01,August,2004
Name: date, dtype: object
18904      23,July,2004
18904    01,August,2004
Name: date, dtype: object
18905      18,July,2004
18905    01,August,2004
Name: date, dtype: object
18906      16,July,2004
18906    01,August,2004
Name: date, dtype: object
18907      15,July,2004
18907    01,August,2004
Name: date, dtype: object
18908      15,July,2004
18908    01,August,2004
Name: date, dtype: object
18909      14,July,2004
18909    01,August,2004
Name: date, dtype: object
18910      14,July,2004
18910    01,August,2004
Name: date, dtype: object
18911      14,July,2004
18911    01,August,2004
Name: date, dtype: object
18912      13,July,2004
18912    01,August,2004
Name: date, dtype: object
18913      13,July,2004
18913    01,August,2004
Name: date, dtype: object
18914      13,July,2004
18914    01,August,2004
Name: date, dtype: object
18915      13,July,2004
18915    01,August,2004
Name: date, dtype: object
18916      13,July,2004
18916    01,August,2004
Name: date, dtype: object
18917      13,July,2004
18917    01,August,2004
Name: date, dtype: object
18918      13,July,2004
18918    01,August,2004
Name: date, dtype: object
18919      13,July,2004
18919    01,August,2004
Name: date, dtype: object
18920      13,July,2004
18920    01,August,2004
Name: date, dtype: object
18921      13,July,2004
18921    01,August,2004
Name: date, dtype: object
18922    03,August,2004
18922    01,August,2004
Name: date, dtype: object
18923       19,May,2004
18923    01,August,2004
Name: date, dtype: object
18924       18,May,2004
18924    01,August,2004
Name: date, dtype: object
18925       18,May,2004
18925    01,August,2004
Name: date, dtype: object
18926       18,May,2004
18926    01,August,2004
Name: date, dtype: object
18927       18,May,2004
18927    01,August,2004
Name: date, dtype: object
18928       18,May,2004
18928    01,August,2004
Name: date, dtype: object
18929       18,May,2004
18929    01,August,2004
Name: date, dtype: object
18930       18,May,2004
18930    01,August,2004
Name: date, dtype: object
18931       18,May,2004
18931    01,August,2004
Name: date, dtype: object
18932       18,May,2004
18932    01,August,2004
Name: date, dtype: object
18933       18,May,2004
18933    01,August,2004
Name: date, dtype: object
18934       18,May,2004
18934    01,August,2004
Name: date, dtype: object
18935       18,May,2004
18935    01,August,2004
Name: date, dtype: object
18936      26,July,2004
18936    01,August,2004
Name: date, dtype: object
18937      26,July,2004
18937    01,August,2004
Name: date, dtype: object
18938      26,July,2004
18938    01,August,2004
Name: date, dtype: object
18939      26,July,2004
18939    01,August,2004
Name: date, dtype: object
18940      26,July,2004
18940    01,August,2004
Name: date, dtype: object
18941      26,July,2004
18941    01,August,2004
Name: date, dtype: object
18942      26,July,2004
18942    01,August,2004
Name: date, dtype: object
18943      26,July,2004
18943    01,August,2004
Name: date, dtype: object
18944      26,July,2004
18944    01,August,2004
Name: date, dtype: object
18945      26,July,2004
18945    01,August,2004
Name: date, dtype: object
18946      26,July,2004
18946    01,August,2004
Name: date, dtype: object
18947      26,July,2004
18947    01,August,2004
Name: date, dtype: object
18948      26,July,2004
18948    01,August,2004
Name: date, dtype: object
18949      26,July,2004
18949    01,August,2004
Name: date, dtype: object
18950      26,July,2004
18950    01,August,2004
Name: date, dtype: object
18951      26,July,2004
18951    01,August,2004
Name: date, dtype: object
18952      26,July,2004
18952    01,August,2004
Name: date, dtype: object
18953      26,July,2004
18953    01,August,2004
Name: date, dtype: object
18954      26,July,2004
18954    01,August,2004
Name: date, dtype: object
18955      26,July,2004
18955    01,August,2004
Name: date, dtype: object
18956      26,July,2004
18956    01,August,2004
Name: date, dtype: object
18957      26,July,2004
18957    01,August,2004
Name: date, dtype: object
18958      26,July,2004
18958    01,August,2004
Name: date, dtype: object
18959      26,July,2004
18959    01,August,2004
Name: date, dtype: object
18960      26,July,2004
18960    01,August,2004
Name: date, dtype: object
18961      26,July,2004
18961    01,August,2004
Name: date, dtype: object
18962      26,July,2004
18962    01,August,2004
Name: date, dtype: object
18963      26,July,2004
18963    01,August,2004
Name: date, dtype: object
18964      26,July,2004
18964    01,August,2004
Name: date, dtype: object
18965      26,July,2004
18965    01,August,2004
Name: date, dtype: object
18966      26,July,2004
18966    01,August,2004
Name: date, dtype: object
18967      26,July,2004
18967    01,August,2004
Name: date, dtype: object
18968      26,July,2004
18968    01,August,2004
Name: date, dtype: object
18969      26,July,2004
18969    01,August,2004
Name: date, dtype: object
18970      26,July,2004
18970    01,August,2004
Name: date, dtype: object
18971      26,July,2004
18971    01,August,2004
Name: date, dtype: object
18972      26,July,2004
18972    01,August,2004
Name: date, dtype: object
18973      26,July,2004
18973    01,August,2004
Name: date, dtype: object
18974      26,July,2004
18974    01,August,2004
Name: date, dtype: object
18975      26,July,2004
18975    01,August,2004
Name: date, dtype: object
18976      26,July,2004
18976    01,August,2004
Name: date, dtype: object
18977      26,July,2004
18977    01,August,2004
Name: date, dtype: object
18978      26,July,2004
18978    01,August,2004
Name: date, dtype: object
18979      26,July,2004
18979    01,August,2004
Name: date, dtype: object
18980      26,July,2004
18980    01,August,2004
Name: date, dtype: object
18981      26,July,2004
18981    01,August,2004
Name: date, dtype: object
18982      26,July,2004
18982    01,August,2004
Name: date, dtype: object
18983      26,July,2004
18983    01,August,2004
Name: date, dtype: object
18984      26,July,2004
18984    01,August,2004
Name: date, dtype: object
18985      26,July,2004
18985    01,August,2004
Name: date, dtype: object
18986      26,July,2004
18986    01,August,2004
Name: date, dtype: object
18987      26,July,2004
18987    01,August,2004
Name: date, dtype: object
18988      26,July,2004
18988    01,August,2004
Name: date, dtype: object
18989      26,July,2004
18989    01,August,2004
Name: date, dtype: object
18990      26,July,2004
18990    01,August,2004
Name: date, dtype: object
18991      26,July,2004
18991    01,August,2004
Name: date, dtype: object
18992      26,July,2004
18992    01,August,2004
Name: date, dtype: object
18993      26,July,2004
18993    01,August,2004
Name: date, dtype: object
18994      26,July,2004
18994    01,August,2004
Name: date, dtype: object
18995      26,July,2004
18995    01,August,2004
Name: date, dtype: object
18996      26,July,2004
18996    01,August,2004
Name: date, dtype: object
18997      26,July,2004
18997    01,August,2004
Name: date, dtype: object
18998      26,July,2004
18998    01,August,2004
Name: date, dtype: object
18999      26,July,2004
18999    01,August,2004
Name: date, dtype: object
19000      26,July,2004
19000    01,August,2004
Name: date, dtype: object
19001      26,July,2004
19001    01,August,2004
Name: date, dtype: object
19002      26,July,2004
19002    01,August,2004
Name: date, dtype: object
19003      26,July,2004
19003    01,August,2004
Name: date, dtype: object
19004      26,July,2004
19004    01,August,2004
Name: date, dtype: object
19005      26,July,2004
19005    01,August,2004
Name: date, dtype: object
19006      26,July,2004
19006    01,August,2004
Name: date, dtype: object
19007      26,July,2004
19007    01,August,2004
Name: date, dtype: object
19008      26,July,2004
19008    01,August,2004
Name: date, dtype: object
19009      26,July,2004
19009    01,August,2004
Name: date, dtype: object
19010      26,July,2004
19010    01,August,2004
Name: date, dtype: object
19011       22,May,2001
19011    01,August,2004
Name: date, dtype: object
19012       21,May,2001
19012    01,August,2004
Name: date, dtype: object

19013       21,May,2001
19013    01,August,2004
Name: date, dtype: object
19014       21,May,2001
19014    01,August,2004
Name: date, dtype: object
19015       21,May,2001
19015    01,August,2004
Name: date, dtype: object
19016      15,June,2001
19016    01,August,2004
Name: date, dtype: object
19017      05,June,2001
19017    01,August,2004
Name: date, dtype: object
19018      04,June,2001
19018    01,August,2004
Name: date, dtype: object
19019      26,July,2001
19019    01,August,2004
Name: date, dtype: object
19020      18,July,2001
19020    01,August,2004
Name: date, dtype: object
19021      04,July,2001
19021    01,August,2004
Name: date, dtype: object
19022      04,July,2001
19022    01,August,2004
Name: date, dtype: object
19023    29,August,2001
19023    01,August,2004
Name: date, dtype: object
19024    13,August,2001
19024    01,August,2004
Name: date, dtype: object
19025    25,October,2001
19025     01,August,2004
Name: date, dtype: object
19026    17,October,2001
19026     01,August,2004
Name: date, dtype: object
19027    17,October,2001
19027     01,August,2004
Name: date, dtype: object
19028    12,October,2001
19028     01,August,2004
Name: date, dtype: object
19029    12,October,2001
19029     01,August,2004
Name: date, dtype: object
19030    14,November,2001
19030      01,August,2004
Name: date, dtype: object
19031    07,November,2001
19031      01,August,2004
Name: date, dtype: object
19032    06,November,2001
19032      01,August,2004
Name: date, dtype: object
19033    06,November,2001
19033      01,August,2004
Name: date, dtype: object
19034    06,November,2001
19034      01,August,2004
Name: date, dtype: object
19035    25,December,2001
19035      01,August,2004
Name: date, dtype: object
19036    25,December,2001
19036      01,August,2004
Name: date, dtype: object
19037    07,January,2002
19037     01,August,2004
Name: date, dtype: object
19038    06,February,2002
19038      01,August,2004
Name: date, dtype: object
19039     22,March,2002
19039    01,August,2004
Name: date, dtype: object
19040     13,March,2002
19040    01,August,2004
Name: date, dtype: object
19041     12,March,2002
19041    01,August,2004
Name: date, dtype: object
19042     06,March,2002
19042    01,August,2004
Name: date, dtype: object
19043     04,March,2002
19043    01,August,2004
Name: date, dtype: object
19044      25,June,2002
19044    01,August,2004
Name: date, dtype: object
19045      19,June,2002
19045    01,August,2004
Name: date, dtype: object
19046      19,June,2002
19046    01,August,2004
Name: date, dtype: object
19047      24,July,2002
19047    01,August,2004
Name: date, dtype: object
19048    25,September,2002
19048       01,August,2004
Name: date, dtype: object
19049    25,September,2002
19049       01,August,2004
Name: date, dtype: object
19050    09,October,2002
19050     01,August,2004
Name: date, dtype: object
19051    09,October,2002
19051     01,August,2004
Name: date, dtype: object
19052    09,October,2002
19052     01,August,2004
Name: date, dtype: object
19053    09,October,2002
19053     01,August,2004
Name: date, dtype: object
19054    09,October,2002
19054     01,August,2004
Name: date, dtype: object
19055    21,November,2002
19055      01,August,2004
Name: date, dtype: object
19056    08,November,2002
19056      01,August,2004
Name: date, dtype: object
19057    12,December,2002
19057      01,August,2004
Name: date, dtype: object
19058    30,January,2003
19058     01,August,2004
Name: date, dtype: object
19059    20,February,2003
19059      01,August,2004
Name: date, dtype: object
19060    27,September,2003
19060       01,August,2004
Name: date, dtype: object
19061    27,September,2003
19061       01,August,2004
Name: date, dtype: object
19062    21,October,2003
19062     01,August,2004
Name: date, dtype: object
19063    08,February,2004
19063      01,August,2004
Name: date, dtype: object
19064     07,March,2004
19064    01,August,2004
Name: date, dtype: object
19065     07,March,2004
19065    01,August,2004
Name: date, dtype: object
19066     16,April,2004
19066    01,August,2004
Name: date, dtype: object
19067      29,July,2004
19067    01,August,2004
Name: date, dtype: object
19068      28,July,2004
19068    01,August,2004
Name: date, dtype: object
19069      27,July,2004
19069    01,August,2004
Name: date, dtype: object
19070      27,July,2004
19070    01,August,2004
Name: date, dtype: object
19071    06,August,2004
19071    01,August,2004
Name: date, dtype: object
19072    05,August,2004
19072    01,August,2004
Name: date, dtype: object
19073    04,August,2004
19073    01,August,2004
Name: date, dtype: object
19074    04,August,2004
19074    01,August,2004
Name: date, dtype: object
19075    03,August,2004
19075    01,August,2004
Name: date, dtype: object
19076    03,August,2004
19076    01,August,2004
Name: date, dtype: object
19077    03,August,2004
19077    01,August,2004
Name: date, dtype: object
19078       28,May,2004
19078    01,August,2004
Name: date, dtype: object
19079       26,May,2004
19079    01,August,2004
Name: date, dtype: object
19080       24,May,2004
19080    01,August,2004
Name: date, dtype: object
19081       20,May,2004
19081    01,August,2004
Name: date, dtype: object
19082       20,May,2004
19082    01,August,2004
Name: date, dtype: object
19083       20,May,2004
19083    01,August,2004
Name: date, dtype: object
19084       20,May,2004
19084    01,August,2004
Name: date, dtype: object
19085       20,May,2004
19085    01,August,2004
Name: date, dtype: object
19086      16,June,2004
19086    01,August,2004
Name: date, dtype: object
19087      15,June,2004
19087    01,August,2004
Name: date, dtype: object
19088      15,June,2004
19088    01,August,2004
Name: date, dtype: object
19089       30,May,2004
19089    01,August,2004
Name: date, dtype: object
19090       29,May,2004
19090    01,August,2004
Name: date, dtype: object
19091       27,May,2004
19091    01,August,2004
Name: date, dtype: object
19092       27,May,2004
19092    01,August,2004
Name: date, dtype: object
19093       24,May,2004
19093    01,August,2004
Name: date, dtype: object
19094       23,May,2004
19094    01,August,2004
Name: date, dtype: object
19095      07,June,2004
19095    01,August,2004
Name: date, dtype: object
19096      03,June,2004
19096    01,August,2004
Name: date, dtype: object
19097      31,July,2004
19097    01,August,2004
Name: date, dtype: object
19098      24,July,2004
19098    01,August,2004
Name: date, dtype: object
19099    20,August,2004
19099    01,August,2004
Name: date, dtype: object
19100    19,August,2004
19100    01,August,2004
Name: date, dtype: object
19101    16,August,2004
19101    01,August,2004
Name: date, dtype: object
19102    13,August,2004
19102    01,August,2004
Name: date, dtype: object
19103    12,August,2004
19103    01,August,2004
Name: date, dtype: object
19104    12,August,2004
19104    01,August,2004
Name: date, dtype: object
19105    12,August,2004
19105    01,August,2004
Name: date, dtype: object
19106    12,August,2004
19106    01,August,2004
Name: date, dtype: object
19107      01,July,2004
19107    01,August,2004
Name: date, dtype: object
19108      01,July,2004
19108    01,August,2004
Name: date, dtype: object
19109      01,July,2004
19109    01,August,2004
Name: date, dtype: object
19110      01,July,2004
19110    01,August,2004
Name: date, dtype: object
19111      01,July,2004
19111    01,August,2004
Name: date, dtype: object
19112      01,July,2004
19112    01,August,2004
Name: date, dtype: object
19113      01,July,2004
19113    01,August,2004
Name: date, dtype: object
19114      01,July,2004
19114    01,August,2004
Name: date, dtype: object
19115      01,July,2004
19115    01,August,2004
Name: date, dtype: object
19116      01,July,2004
19116    01,August,2004
Name: date, dtype: object
19117      01,July,2004
19117    01,August,2004
Name: date, dtype: object
19118      01,July,2004
19118    01,August,2004
Name: date, dtype: object
19119      01,July,2004
19119    01,August,2004
Name: date, dtype: object
19120      01,July,2004
19120    01,August,2004
Name: date, dtype: object
19121      01,July,2004
19121    01,August,2004
Name: date, dtype: object
19122      01,July,2004
19122    01,August,2004
Name: date, dtype: object
19123      01,July,2004
19123    01,August,2004
Name: date, dtype: object
19124      01,July,2004
19124    01,August,2004
Name: date, dtype: object
19125    18,August,2004
19125    01,August,2004
Name: date, dtype: object
19126    17,August,2004
19126    01,August,2004
Name: date, dtype: object
19127    15,August,2004
19127    01,August,2004
Name: date, dtype: object
19128    15,August,2004
19128    01,August,2004
Name: date, dtype: object
19129    12,August,2004
19129    01,August,2004
Name: date, dtype: object
19130      16,June,2004
19130    01,August,2004
Name: date, dtype: object
19131      15,June,2004
19131    02,August,2004
Name: date, dtype: object
19132      14,June,2004
19132    02,August,2004
Name: date, dtype: object
19133      03,June,2004
19133    02,August,2004
Name: date, dtype: object
19134      01,June,2004
19134    02,August,2004
Name: date, dtype: object
19135      26,July,2004
19135    02,August,2004
Name: date, dtype: object
19136      22,July,2004
19136    02,August,2004
Name: date, dtype: object
19137      19,July,2004
19137    02,August,2004
Name: date, dtype: object
19138      16,July,2004
19138    02,August,2004
Name: date, dtype: object
19139      15,July,2004
19139    02,August,2004
Name: date, dtype: object
19140      14,July,2004
19140    02,August,2004
Name: date, dtype: object
19141      13,July,2004
19141    02,August,2004
Name: date, dtype: object
19142      13,July,2004
19142    09,August,2004
Name: date, dtype: object
19143      27,July,2004
19143    07,August,2004
Name: date, dtype: object
19144      21,July,2004
19144    03,August,2004
Name: date, dtype: object
19145    18,August,2004
19145    03,August,2004
Name: date, dtype: object
19146      12,August,2004
19146    29,February,2004
Name: date, dtype: object
19147      04,August,2004
19147    28,February,2004
Name: date, dtype: object
19148      01,August,2004
19148    27,February,2004
Name: date, dtype: object
19149        29,June,2004
19149    27,February,2004
Name: date, dtype: object
19150     28,June,2004
19150    30,March,2004

Name: date, dtype: object
19151     22,June,2004
19151    24,March,2004
Name: date, dtype: object
19152     22,June,2004
19152    20,March,2004
Name: date, dtype: object
19153     21,June,2004
19153    19,March,2004
Name: date, dtype: object
19154     21,June,2004
19154    18,March,2004
Name: date, dtype: object
19155     09,July,2004
19155    17,March,2004
Name: date, dtype: object
19156     04,July,2004
19156    17,March,2004
Name: date, dtype: object
19157    06,August,2004
19157     16,March,2004
Name: date, dtype: object
19158     12,July,2004
19158    15,March,2004
Name: date, dtype: object
19159     10,July,2004
19159    15,March,2004
Name: date, dtype: object
19160     10,July,2004
19160    14,March,2004
Name: date, dtype: object
19161     09,July,2004
19161    14,March,2004
Name: date, dtype: object
19162     16,July,2004
19162    13,March,2004
Name: date, dtype: object
19163     16,July,2004
19163    13,March,2004
Name: date, dtype: object
19164     16,July,2004
19164    12,March,2004
Name: date, dtype: object
19165     16,July,2004
19165    11,March,2004
Name: date, dtype: object
19166     16,July,2004
19166    10,March,2004
Name: date, dtype: object
19167     16,July,2004
19167    09,March,2004
Name: date, dtype: object
19168     16,July,2004
19168    07,March,2004
Name: date, dtype: object
19169     16,July,2004
19169    05,March,2004
Name: date, dtype: object
19170     16,July,2004
19170    05,March,2004
Name: date, dtype: object
19171     18,July,2004
19171    03,March,2004
Name: date, dtype: object
19172     24,July,2004
19172    03,March,2004
Name: date, dtype: object
19173     24,July,2004
19173    02,March,2004
Name: date, dtype: object
19174     26,July,2004
19174    01,March,2004
Name: date, dtype: object
19175     26,July,2004
19175    30,April,2004
Name: date, dtype: object
19176     26,July,2004
19176    27,April,2004
Name: date, dtype: object
19177     26,July,2004
19177    26,April,2004
Name: date, dtype: object
19178     27,July,2004
19178    23,April,2004
Name: date, dtype: object
19179     27,July,2004
19179    22,April,2004
Name: date, dtype: object
19180     27,July,2004
19180    15,April,2004
Name: date, dtype: object
19181    06,August,2004
19181     11,April,2004
Name: date, dtype: object
19182     11,June,2004
19182    08,April,2004
Name: date, dtype: object
19183     02,June,2004
19183    08,April,2004
Name: date, dtype: object
19184     28,July,2004
19184    07,April,2004
Name: date, dtype: object
19185     14,July,2004
19185    07,April,2004
Name: date, dtype: object
19186     03,July,2004
19186    06,April,2004
Name: date, dtype: object
19187     01,July,2004
19187    05,April,2004
Name: date, dtype: object
19188    08,August,2004
19188     04,April,2004
Name: date, dtype: object
19189    04,August,2004
19189     03,April,2004
Name: date, dtype: object
19190    02,August,2004
19190     02,April,2004
Name: date, dtype: object
19191    24,August,2004
19191     01,April,2004
Name: date, dtype: object
19192    23,August,2004
19192       31,May,2004
Name: date, dtype: object
19193    19,August,2004
19193       29,May,2004
Name: date, dtype: object
19194    19,August,2004
19194       27,May,2004
Name: date, dtype: object
19195    19,August,2004
19195       26,May,2004
Name: date, dtype: object
19196    19,August,2004
19196       25,May,2004
Name: date, dtype: object
19197    11,May,2004
19197    19,May,2004
Name: date, dtype: object
19198    10,May,2004
19198    17,May,2004
Name: date, dtype: object
19199    10,May,2004
19199    15,May,2004
Name: date, dtype: object
19200    20,June,2004
19200     15,May,2004
Name: date, dtype: object
19201    04,June,2004
19201     10,May,2004
Name: date, dtype: object
19202    15,June,2004
19202     09,May,2004
Name: date, dtype: object
19203    12,June,2004
19203     07,May,2004
Name: date, dtype: object
19204    10,June,2004
19204     04,May,2004
Name: date, dtype: object
19205    10,June,2004
19205     02,May,2004
Name: date, dtype: object
19206    10,June,2004
19206     02,May,2004
Name: date, dtype: object
19207    18,June,2004
19207    30,June,2004
Name: date, dtype: object
19208    18,June,2004
19208    29,June,2004
Name: date, dtype: object
19209    18,June,2004
19209    29,June,2004
Name: date, dtype: object
19210    18,June,2004
19210    27,June,2004
Name: date, dtype: object
19211    06,August,2004
19211      26,June,2004
Name: date, dtype: object
19212    04,August,2004
19212      23,June,2004
Name: date, dtype: object
19213    03,August,2004
19213      23,June,2004
Name: date, dtype: object
19214    29,June,2004
19214    18,June,2004
Name: date, dtype: object
19215    27,June,2004
19215    18,June,2004
Name: date, dtype: object
19216    05,July,2004
19216    17,June,2004
Name: date, dtype: object
19217    02,July,2004
19217    17,June,2004
Name: date, dtype: object
19218     11,May,2004
19218    17,June,2004
Name: date, dtype: object
19219    31,July,2004
19219    17,June,2004
Name: date, dtype: object
19220    27,July,2004
19220    16,June,2004
Name: date, dtype: object
19221    21,July,2004
19221    15,June,2004
Name: date, dtype: object
19222    16,July,2004
19222    14,June,2004
Name: date, dtype: object
19223    14,July,2004
19223    14,June,2004
Name: date, dtype: object
19224    11,July,2004
19224    10,June,2004
Name: date, dtype: object
19225    10,July,2004
19225    10,June,2004
Name: date, dtype: object
19226    09,July,2004
19226    07,June,2004
Name: date, dtype: object
19227    07,July,2004
19227    26,July,2004
Name: date, dtype: object
19228    02,July,2004
19228    25,July,2004
Name: date, dtype: object
19229    04,August,2004
19229      24,July,2004
Name: date, dtype: object
19230    02,August,2004
19230      24,July,2004
Name: date, dtype: object
19231     15,May,2004
19231    23,July,2004
Name: date, dtype: object
19232    03,June,2004
19232    22,July,2004
Name: date, dtype: object
19233    10,June,2004
19233    19,July,2004
Name: date, dtype: object
19234    31,August,2003
19234      19,July,2004
Name: date, dtype: object
19235    30,August,2003
19235      19,July,2004
Name: date, dtype: object
19236    29,August,2003
19236      18,July,2004
Name: date, dtype: object
19237    28,August,2003
19237      17,July,2004
Name: date, dtype: object
19238    27,August,2003
19238      16,July,2004
Name: date, dtype: object
19239    26,August,2003
19239      16,July,2004
Name: date, dtype: object
19240    25,August,2003
19240      15,July,2004
Name: date, dtype: object
19241    24,August,2003
19241      15,July,2004
Name: date, dtype: object
19242    23,August,2003
19242      14,July,2004
Name: date, dtype: object
19243    23,August,2003
19243      13,July,2004
Name: date, dtype: object
19244    22,August,2003
19244      13,July,2004
Name: date, dtype: object
19245    21,August,2003
19245      11,July,2004
Name: date, dtype: object
19246    20,August,2003
19246      10,July,2004
Name: date, dtype: object
19247    19,August,2003
19247      09,July,2004
Name: date, dtype: object
19248    18,August,2003
19248      09,July,2004
Name: date, dtype: object
19249    18,August,2003
19249      08,July,2004
Name: date, dtype: object
19250    17,August,2003
19250      05,July,2004
Name: date, dtype: object
19251    17,August,2003
19251      04,July,2004
Name: date, dtype: object
19252    17,August,2003
19252      02,July,2004
Name: date, dtype: object
19253    16,August,2003
19253      02,July,2004
Name: date, dtype: object
19254    15,August,2003
19254      01,July,2004
Name: date, dtype: object
19255    15,August,2003
19255      01,July,2004
Name: date, dtype: object
19256    14,August,2003
19256      01,July,2004
Name: date, dtype: object
19257    13,August,2003
19257    11,August,2004
Name: date, dtype: object
19258    13,August,2003
19258    07,August,2004
Name: date, dtype: object
19259    12,August,2003
19259    07,August,2004
Name: date, dtype: object
19260    11,August,2003
19260    06,August,2004
Name: date, dtype: object
19261    10,August,2003
19261    04,August,2004
Name: date, dtype: object
19262    08,August,2003
19262    04,August,2004
Name: date, dtype: object
19263    07,August,2003
19263    04,August,2004
Name: date, dtype: object
19264    04,August,2003
19264    04,August,2004
Name: date, dtype: object
19265    03,August,2003
19265    04,August,2004
Name: date, dtype: object
19266    02,August,2003
19266    04,August,2004
Name: date, dtype: object
19267    02,August,2003
19267    03,August,2004
Name: date, dtype: object
19268    30,September,2003
19268       03,August,2004
Name: date, dtype: object
19269    28,September,2003
19269       01,August,2004
Name: date, dtype: object
19270    23,September,2003
19270         29,June,2004
Name: date, dtype: object
19271    16,September,2003
19271         27,June,2004
Name: date, dtype: object
19272    14,September,2003
19272         24,June,2004
Name: date, dtype: object
19273    11,September,2003
19273         21,June,2004
Name: date, dtype: object
19274    10,September,2003
19274         21,June,2004
Name: date, dtype: object
19275    09,September,2003
19275         08,July,2004
Name: date, dtype: object
19276    08,September,2003
19276         08,July,2004
Name: date, dtype: object
19277    07,September,2003
19277         30,July,2004
Name: date, dtype: object
19278    06,September,2003
19278         29,July,2004
Name: date, dtype: object
19279    03,September,2003
19279       18,August,2004
Name: date, dtype: object
19280    01,September,2003
19280       15,August,2004
Name: date, dtype: object
19281    31,October,2003
19281     13,August,2004
Name: date, dtype: object
19282    30,October,2003
19282     11,August,2004
Name: date, dtype: object
19283    26,October,2003
19283     10,August,2004
Name: date, dtype: object
19284    25,October,2003
19284     08,August,2004
Name: date, dtype: object
19285    24,October,2003
19285     08,August,2004
Name: date, dtype: object
19286    22,October,2003
19286     05,August,2004
Name: date, dtype: object
19287    21,October,2003
19287     04,August,2004
Name: date, dtype: object
19288    15,October,2003
19288     03,August,2004
Name: date, dtype: object
19289    14,October,2003
19289     02,August,2004
Name: date, dtype: object
19290    03,October,2003
19290     01,August,2004

Name: date, dtype: object
19291    02,October,2003
19291        26,May,2004
Name: date, dtype: object
19292    28,November,2003
19292         21,May,2004
Name: date, dtype: object
19293    13,November,2003
19293         21,May,2004
Name: date, dtype: object
19294    10,November,2003
19294         18,May,2004
Name: date, dtype: object
19295    09,November,2003
19295        24,July,2004
Name: date, dtype: object
19296    06,November,2003
19296        24,July,2004
Name: date, dtype: object
19297    05,November,2003
19297        24,July,2004
Name: date, dtype: object
19298    04,November,2003
19298        24,July,2004
Name: date, dtype: object
19299    03,November,2003
19299      01,August,2004
Name: date, dtype: object
19300    02,November,2003
19300      01,August,2004
Name: date, dtype: object
19301    30,December,2003
19301      01,August,2004
Name: date, dtype: object
19302    29,December,2003
19302      01,August,2004
Name: date, dtype: object
19303    27,December,2003
19303      01,August,2004
Name: date, dtype: object
19304    26,December,2003
19304      01,August,2004
Name: date, dtype: object
19305    24,December,2003
19305      01,August,2004
Name: date, dtype: object
19306    23,December,2003
19306      01,August,2004
Name: date, dtype: object
19307    22,December,2003
19307      01,August,2004
Name: date, dtype: object
19308    19,December,2003
19308      01,August,2004
Name: date, dtype: object
19309    18,December,2003
19309      01,August,2004
Name: date, dtype: object
19310    17,December,2003
19310      01,August,2004
Name: date, dtype: object
19311    16,December,2003
19311      01,August,2004
Name: date, dtype: object
19312    15,December,2003
19312      01,August,2004
Name: date, dtype: object
19313    13,December,2003
19313      01,August,2004
Name: date, dtype: object
19314    12,December,2003
19314      01,August,2004
Name: date, dtype: object
19315    11,December,2003
19315      01,August,2004
Name: date, dtype: object
19316    10,December,2003
19316      01,August,2004
Name: date, dtype: object
19317    10,December,2003
19317      01,August,2004
Name: date, dtype: object
19318    10,December,2003
19318      01,August,2004
Name: date, dtype: object
19319    10,December,2003
19319      01,August,2004
Name: date, dtype: object
19320    10,December,2003
19320      01,August,2004
Name: date, dtype: object
19321    10,December,2003
19321      01,August,2004
Name: date, dtype: object
19322    10,December,2003
19322      01,August,2004
Name: date, dtype: object
19323    09,December,2003
19323      01,August,2004
Name: date, dtype: object
19324    09,December,2003
19324      01,August,2004
Name: date, dtype: object
19325    08,December,2003
19325      01,August,2004
Name: date, dtype: object
19326    06,December,2003
19326      01,August,2004
Name: date, dtype: object
19327    05,December,2003
19327      01,August,2004
Name: date, dtype: object
19328    04,December,2003
19328      01,August,2004
Name: date, dtype: object
19329    02,December,2003
19329      01,August,2004
Name: date, dtype: object
19330    01,December,2003
19330      01,August,2004
Name: date, dtype: object
19331    29,January,2004
19331     01,August,2004
Name: date, dtype: object
19332    27,January,2004
19332     01,August,2004
Name: date, dtype: object
19333    26,January,2004
19333     01,August,2004
Name: date, dtype: object
19334    24,January,2004
19334       28,June,2004
Name: date, dtype: object
19335    23,January,2004
19335       27,June,2004
Name: date, dtype: object
19336    23,January,2004
19336       26,June,2004
Name: date, dtype: object
19337    22,January,2004
19337       25,June,2004
Name: date, dtype: object
19338    21,January,2004
19338       25,June,2004
Name: date, dtype: object
19339    21,January,2004
19339       25,June,2004
Name: date, dtype: object
19340    19,January,2004
19340       22,June,2004
Name: date, dtype: object
19341    16,January,2004
19341       21,June,2004
Name: date, dtype: object
19342    15,January,2004
19342       19,June,2004
Name: date, dtype: object
19343    14,January,2004
19343       19,June,2004
Name: date, dtype: object
19344    13,January,2004
19344       18,June,2004
Name: date, dtype: object
19345    12,January,2004
19345       16,June,2004
Name: date, dtype: object
19346    10,January,2004
19346       16,June,2004
Name: date, dtype: object
19347    09,January,2004
19347       15,June,2004
Name: date, dtype: object
19348    08,January,2004
19348       15,June,2004
Name: date, dtype: object
19349    07,January,2004
19349       14,June,2004
Name: date, dtype: object
19350    06,January,2004
19350       13,June,2004
Name: date, dtype: object
19351    05,January,2004
19351       13,June,2004
Name: date, dtype: object
19352    05,January,2004
19352       12,June,2004
Name: date, dtype: object
19353    02,January,2004
19353       11,June,2004
Name: date, dtype: object
19354    02,January,2004
19354       10,June,2004
Name: date, dtype: object
19355    28,February,2004
19355        09,June,2004
Name: date, dtype: object
19356    26,February,2004
19356        09,June,2004
Name: date, dtype: object
19357    21,February,2004
19357        09,June,2004
Name: date, dtype: object
19358    17,February,2004
19358        08,June,2004
Name: date, dtype: object
19359    10,February,2004
19359        08,June,2004
Name: date, dtype: object
19360    03,February,2004
19360        07,June,2004
Name: date, dtype: object
19361    31,March,2004
19361     07,June,2004
Name: date, dtype: object
19362    28,March,2004
19362     07,June,2004
Name: date, dtype: object
19363    24,March,2004
19363     07,June,2004
Name: date, dtype: object
19364    23,March,2004
19364     07,June,2004
Name: date, dtype: object
19365    22,March,2004
19365     07,June,2004
Name: date, dtype: object
19366    21,March,2004
19366     29,July,2004
Name: date, dtype: object
19367    20,March,2004
19367     28,July,2004
Name: date, dtype: object
19368    19,March,2004
19368     27,July,2004
Name: date, dtype: object
19369    18,March,2004
19369     26,July,2004
Name: date, dtype: object
19370    16,March,2004
19370     18,July,2004
Name: date, dtype: object
19371    15,March,2004
19371     13,July,2004
Name: date, dtype: object
19372    15,March,2004
19372     13,July,2004
Name: date, dtype: object
19373    14,March,2004
19373     08,July,2004
Name: date, dtype: object
19374     12,March,2004
19374    06,August,2004
Name: date, dtype: object
19375     05,March,2004
19375    03,August,2004
Name: date, dtype: object
19376     04,March,2004
19376    01,August,2004
Name: date, dtype: object
19377    02,March,2004
19377    26,April,2002
Name: date, dtype: object
19378    01,March,2004
19378    26,April,2002
Name: date, dtype: object
19379    29,April,2004
19379      03,May,2002
Name: date, dtype: object
19380    24,April,2004
19380      02,May,2002
Name: date, dtype: object
19381    22,April,2004
19381    30,April,2002
Name: date, dtype: object
19382    18,April,2004
19382    30,April,2002
Name: date, dtype: object
19383    17,April,2004
19383    28,April,2002
Name: date, dtype: object
19384    14,April,2004
19384    28,April,2002
Name: date, dtype: object
19385    08,April,2004
19385      11,May,2002
Name: date, dtype: object
19386    06,April,2004
19386      10,May,2002
Name: date, dtype: object
19387    04,April,2004
19387      09,May,2002
Name: date, dtype: object
19388    01,April,2004
19388      08,May,2002
Name: date, dtype: object
19389    31,May,2004
19389    08,May,2002
Name: date, dtype: object
19390    24,May,2004
19390    08,May,2002
Name: date, dtype: object
19391    21,May,2004
19391    08,May,2002
Name: date, dtype: object
19392    15,May,2004
19392    07,May,2002
Name: date, dtype: object
19393    12,May,2004
19393    07,May,2002
Name: date, dtype: object
19394    30,June,2004
19394     05,May,2002
Name: date, dtype: object
19395    29,June,2004
19395     18,May,2002
Name: date, dtype: object
19396    22,June,2004
19396     16,May,2002
Name: date, dtype: object
19397    15,June,2004
19397     15,May,2002
Name: date, dtype: object
19398    15,June,2004
19398     14,May,2002
Name: date, dtype: object
19399    10,June,2004
19399     13,May,2002
Name: date, dtype: object
19400    24,July,2004
19400     25,May,2002
Name: date, dtype: object
19401    20,July,2004
19401     24,May,2002
Name: date, dtype: object
19402    11,July,2004
19402     22,May,2002
Name: date, dtype: object
19403    05,July,2004
19403     20,May,2002
Name: date, dtype: object
19404    09,August,2004
19404       20,May,2002
Name: date, dtype: object
19405    05,August,2004
19405       20,May,2002
Name: date, dtype: object
19406    03,August,2004
19406       20,May,2002
Name: date, dtype: object
19407    23,June,2004
19407    01,June,2002
Name: date, dtype: object
19408    04,June,2004
19408     30,May,2002
Name: date, dtype: object
19409    02,June,2004
19409     28,May,2002
Name: date, dtype: object
19410    01,June,2004
19410     28,May,2002
Name: date, dtype: object
19411    01,June,2004
19411    08,June,2002
Name: date, dtype: object
19412    01,June,2004
19412    05,June,2002
Name: date, dtype: object
19413    01,June,2004
19413    04,June,2002
Name: date, dtype: object
19414    01,June,2004
19414    03,June,2002
Name: date, dtype: object
19415    01,June,2004
19415    02,June,2002
Name: date, dtype: object
19416    29,June,2004
19416    14,June,2002
Name: date, dtype: object
19417    27,June,2004
19417    11,June,2002
Name: date, dtype: object
19418    25,June,2004
19418    21,June,2002
Name: date, dtype: object
19419    24,June,2004
19419    19,June,2002
Name: date, dtype: object
19420    24,June,2004
19420    16,June,2002
Name: date, dtype: object
19421    23,June,2004
19421    29,June,2002
Name: date, dtype: object
19422    23,June,2004
19422    27,June,2002
Name: date, dtype: object
19423    23,June,2004
19423    27,June,2002
Name: date, dtype: object
19424    23,June,2004
19424    25,June,2002
Name: date, dtype: object
19425    11,July,2004
19425    25,June,2002
Name: date, dtype: object
19426    10,July,2004
19426    05,July,2002
Name: date, dtype: object
19427    10,July,2004
19427    01,July,2002
Name: date, dtype: object
19428    09,July,2004
19428    11,July,2002
Name: date, dtype: object
19429    02,July,2004
19429    08,July,2002
Name: date, dtype: object

19430    30,June,2004
19430    20,July,2002
Name: date, dtype: object
19431    28,June,2004
19431    17,July,2002
Name: date, dtype: object
19432    27,June,2004
19432    25,July,2002
Name: date, dtype: object
19433    27,June,2004
19433    24,July,2002
Name: date, dtype: object
19434    26,June,2004
19434    24,July,2002
Name: date, dtype: object
19435    25,June,2004
19435    24,July,2002
Name: date, dtype: object
19436    25,June,2004
19436    24,July,2002
Name: date, dtype: object
19437    24,June,2004
19437    24,July,2002
Name: date, dtype: object
19438      23,June,2004
19438    03,August,2002
Name: date, dtype: object
19439    23,June,2004
19439    31,July,2002
Name: date, dtype: object
19440    20,June,2004
19440    30,July,2002
Name: date, dtype: object
19441    31,July,2004
19441    30,July,2002
Name: date, dtype: object
19442      26,July,2004
19442    09,August,2002
Name: date, dtype: object
19443      18,July,2004
19443    07,August,2002
Name: date, dtype: object
19444      13,July,2004
19444    07,August,2002
Name: date, dtype: object
19445      11,July,2004
19445    07,August,2002
Name: date, dtype: object
19446      05,July,2004
19446    07,August,2002
Name: date, dtype: object
19447      03,July,2004
19447    06,August,2002
Name: date, dtype: object
19448    04,August,2004
19448    06,August,2002
Name: date, dtype: object
19449      28,June,2004
19449    05,August,2002
Name: date, dtype: object
19450      28,June,2004
19450    04,August,2002
Name: date, dtype: object
19451      28,June,2004
19451    15,August,2002
Name: date, dtype: object
19452      28,June,2004
19452    13,August,2002
Name: date, dtype: object
19453      28,June,2004
19453    13,August,2002
Name: date, dtype: object
19454      28,June,2004
19454    23,August,2002
Name: date, dtype: object
19455      28,June,2004
19455    21,August,2002
Name: date, dtype: object
19456      29,June,2004
19456    21,August,2002
Name: date, dtype: object
19457      29,June,2004
19457    20,August,2002
Name: date, dtype: object
19458      29,June,2004
19458    20,August,2002
Name: date, dtype: object
19459      30,June,2004
19459    20,August,2002
Name: date, dtype: object
19460      30,June,2004
19460    20,August,2002
Name: date, dtype: object
19461      01,July,2004
19461    29,August,2002
Name: date, dtype: object
19462      02,July,2004
19462    28,August,2002
Name: date, dtype: object
19463      03,July,2004
19463    27,August,2002
Name: date, dtype: object
19464      05,July,2004
19464    27,August,2002
Name: date, dtype: object
19465      05,July,2004
19465    25,August,2002
Name: date, dtype: object
19466         05,July,2004
19466    04,September,2002
Name: date, dtype: object
19467         06,July,2004
19467    04,September,2002
Name: date, dtype: object
19468         06,July,2004
19468    04,September,2002
Name: date, dtype: object
19469         06,July,2004
19469    13,September,2002
Name: date, dtype: object
19470         11,July,2004
19470    10,September,2002
Name: date, dtype: object
19471         13,July,2004
19471    09,September,2002
Name: date, dtype: object
19472         19,July,2004
19472    09,September,2002
Name: date, dtype: object
19473         19,July,2004
19473    08,September,2002
Name: date, dtype: object
19474       08,August,2004
19474    18,September,2002
Name: date, dtype: object
19475       14,August,2004
19475    24,September,2002
Name: date, dtype: object
19476     01,August,2004
19476    02,October,2002
Name: date, dtype: object
19477     01,August,2004
19477    09,October,2002
Name: date, dtype: object
19478     01,August,2004
19478    08,October,2002
Name: date, dtype: object
19479     01,August,2004
19479    08,October,2002
Name: date, dtype: object
19480     01,August,2004
19480    08,October,2002
Name: date, dtype: object
19481     01,August,2004
19481    08,October,2002
Name: date, dtype: object
19482     01,August,2004
19482    17,October,2002
Name: date, dtype: object
19483     01,August,2004
19483    13,October,2002
Name: date, dtype: object
19484     01,August,2004
19484    23,October,2002
Name: date, dtype: object
19485     01,August,2004
19485    22,October,2002
Name: date, dtype: object
19486     01,August,2004
19486    22,October,2002
Name: date, dtype: object
19487      01,August,2004
19487    05,November,2002
Name: date, dtype: object
19488      01,August,2004
19488    03,November,2002
Name: date, dtype: object
19489      01,August,2004
19489    03,November,2002
Name: date, dtype: object
19490      01,August,2004
19490    03,November,2002
Name: date, dtype: object
19491      01,August,2004
19491    14,November,2002
Name: date, dtype: object
19492      01,August,2004
19492    13,November,2002
Name: date, dtype: object
19493      01,August,2004
19493    13,November,2002
Name: date, dtype: object
19494      01,August,2004
19494    13,November,2002
Name: date, dtype: object
19495      01,August,2004
19495    13,November,2002
Name: date, dtype: object
19496        23,June,2004
19496    13,November,2002
Name: date, dtype: object
19497        29,July,2004
19497    19,November,2002
Name: date, dtype: object
19498        27,July,2004
19498    17,November,2002
Name: date, dtype: object
19499        25,July,2004
19499    17,November,2002
Name: date, dtype: object
19500        24,July,2004
19500    17,November,2002
Name: date, dtype: object
19501        21,July,2004
19501    28,November,2002
Name: date, dtype: object
19502      15,August,2004
19502    26,November,2002
Name: date, dtype: object
19503      12,August,2004
19503    24,November,2002
Name: date, dtype: object
19504      09,August,2004
19504    24,November,2002
Name: date, dtype: object
19505      06,August,2004
19505    14,December,2002
Name: date, dtype: object
19506      05,August,2004
19506    10,December,2002
Name: date, dtype: object
19507      04,August,2004
19507    10,December,2002
Name: date, dtype: object
19508      01,August,2004
19508    21,December,2002
Name: date, dtype: object
19509      01,Agosto,2004
19509    21,December,2002
Name: date, dtype: object
19510      01,Agosto,2004
19510    25,December,2002
Name: date, dtype: object
19511      01,Agosto,2004
19511    24,December,2002
Name: date, dtype: object
19512      01,Agosto,2004
19512    24,December,2002
Name: date, dtype: object
19513      01,Agosto,2004
19513    30,December,2002
Name: date, dtype: object
19514      01,Agosto,2004
19514    30,December,2002
Name: date, dtype: object
19515     01,Agosto,2004
19515    06,January,2003
Name: date, dtype: object
19516     01,Agosto,2004
19516    06,January,2003
Name: date, dtype: object
19517     01,Agosto,2004
19517    06,January,2003
Name: date, dtype: object
19518     01,Agosto,2004
19518    17,January,2003
Name: date, dtype: object
19519     01,Agosto,2004
19519    16,January,2003
Name: date, dtype: object
19520     01,Agosto,2004
19520    16,January,2003
Name: date, dtype: object
19521     01,Agosto,2004
19521    16,January,2003
Name: date, dtype: object
19522     01,Agosto,2004
19522    15,January,2003
Name: date, dtype: object
19523     01,Agosto,2004
19523    15,January,2003
Name: date, dtype: object
19524      01,Agosto,2004
19524    10,February,2003
Name: date, dtype: object
19525      01,Agosto,2004
19525    10,February,2003
Name: date, dtype: object
19526      01,Agosto,2004
19526    10,February,2003
Name: date, dtype: object
19527      01,Agosto,2004
19527    18,February,2003
Name: date, dtype: object
19528      01,Agosto,2004
19528    16,February,2003
Name: date, dtype: object
19529        22,June,2004
19529    16,February,2003
Name: date, dtype: object
19530        17,June,2004
19530    16,February,2003
Name: date, dtype: object
19531        16,June,2004
19531    28,February,2003
Name: date, dtype: object
19532        16,June,2004
19532    27,February,2003
Name: date, dtype: object
19533        16,June,2004
19533    26,February,2003
Name: date, dtype: object
19534        30,June,2004
19534    23,February,2003
Name: date, dtype: object
19535        28,June,2004
19535    23,February,2003
Name: date, dtype: object
19536        27,June,2004
19536    23,February,2003
Name: date, dtype: object
19537     27,June,2004
19537    06,March,2003
Name: date, dtype: object
19538     27,June,2004
19538    04,March,2003
Name: date, dtype: object
19539     27,June,2004
19539    02,March,2003
Name: date, dtype: object
19540     27,June,2004
19540    12,March,2003
Name: date, dtype: object
19541     26,June,2004
19541    11,March,2003
Name: date, dtype: object
19542     26,June,2004
19542    10,March,2003
Name: date, dtype: object
19543     25,June,2004
19543    10,March,2003
Name: date, dtype: object
19544     24,June,2004
19544    10,March,2003
Name: date, dtype: object
19545     23,June,2004
19545    22,March,2003
Name: date, dtype: object
19546     23,June,2004
19546    19,March,2003
Name: date, dtype: object
19547     22,June,2004
19547    18,March,2003
Name: date, dtype: object
19548     22,June,2004
19548    17,March,2003
Name: date, dtype: object
19549     22,June,2004
19549    25,March,2003
Name: date, dtype: object
19550     22,June,2004
19550    25,March,2003
Name: date, dtype: object
19551     22,June,2004
19551    01,April,2003
Name: date, dtype: object
19552     21,June,2004
19552    31,March,2003
Name: date, dtype: object
19553     21,June,2004
19553    31,March,2003
Name: date, dtype: object
19554     21,June,2004
19554    11,April,2003
Name: date, dtype: object
19555     21,June,2004
19555    11,April,2003
Name: date, dtype: object
19556     21,June,2004
19556    18,April,2003
Name: date, dtype: object
19557     20,June,2004
19557    24,April,2003
Name: date, dtype: object
19558    19,June,2004
19558     02,May,2003
Name: date, dtype: object
19559    18,June,2004
19559     01,May,2003
Name: date, dtype: object
19560     18,June,2004
19560    29,April,2003
Name: date, dtype: object
19561     17,June,2004
19561    29,April,2003
Name: date, dtype: object

19562     17,June,2004
19562    29,April,2003
Name: date, dtype: object
19563     17,June,2004
19563    29,April,2003
Name: date, dtype: object
19564     16,June,2004
19564    29,April,2003
Name: date, dtype: object
19565     16,June,2004
19565    29,April,2003
Name: date, dtype: object
19566    16,June,2004
19566     05,May,2003
Name: date, dtype: object
19567    14,June,2004
19567     05,May,2003
Name: date, dtype: object
19568    14,June,2004
19568     05,May,2003
Name: date, dtype: object
19569    14,June,2004
19569     05,May,2003
Name: date, dtype: object
19570    30,July,2004
19570     05,May,2003
Name: date, dtype: object
19571    01,July,2004
19571     14,May,2003
Name: date, dtype: object
19572    01,July,2004
19572     11,May,2003
Name: date, dtype: object
19573    01,July,2004
19573     31,May,2003
Name: date, dtype: object
19574    03,August,2004
19574       28,May,2003
Name: date, dtype: object
19575    12,July,2004
19575     28,May,2003
Name: date, dtype: object
19576    10,July,2004
19576    05,June,2003
Name: date, dtype: object
19577    10,July,2004
19577    12,June,2003
Name: date, dtype: object
19578    10,July,2004
19578    11,June,2003
Name: date, dtype: object
19579    10,July,2004
19579    11,June,2003
Name: date, dtype: object
19580    10,July,2004
19580    10,June,2003
Name: date, dtype: object
19581    02,August,2004
19581      10,June,2003
Name: date, dtype: object
19582    02,August,2004
19582      21,June,2003
Name: date, dtype: object
19583    20,August,2004
19583      18,June,2003
Name: date, dtype: object
19584    13,August,2004
19584      16,June,2003
Name: date, dtype: object
19585    11,August,2004
19585      16,June,2003
Name: date, dtype: object
19586    29,June,2004
19586    04,July,2003
Name: date, dtype: object
19587    28,June,2004
19587    11,July,2003
Name: date, dtype: object
19588    28,June,2004
19588    09,July,2003
Name: date, dtype: object
19589    28,June,2004
19589    07,July,2003
Name: date, dtype: object
19590    26,June,2004
19590    07,July,2003
Name: date, dtype: object
19591    25,June,2004
19591    07,July,2003
Name: date, dtype: object
19592    25,June,2004
19592    07,July,2003
Name: date, dtype: object
19593    25,June,2004
19593    07,July,2003
Name: date, dtype: object
19594    25,June,2004
19594    19,July,2003
Name: date, dtype: object
19595    25,June,2004
19595    17,July,2003
Name: date, dtype: object
19596    25,June,2004
19596    13,July,2003
Name: date, dtype: object
19597    25,June,2004
19597    26,July,2003
Name: date, dtype: object
19598    25,June,2004
19598    25,July,2003
Name: date, dtype: object
19599    25,June,2004
19599    23,July,2003
Name: date, dtype: object
19600    25,June,2004
19600    20,July,2003
Name: date, dtype: object
19601    25,June,2004
19601    20,July,2003
Name: date, dtype: object
19602    25,June,2004
19602    20,July,2003
Name: date, dtype: object
19603    25,June,2004
19603    20,July,2003
Name: date, dtype: object
19604    25,June,2004
19604    20,July,2003
Name: date, dtype: object
19605      25,June,2004
19605    02,August,2003
Name: date, dtype: object
19606      25,June,2004
19606    01,August,2003
Name: date, dtype: object
19607      25,June,2004
19607    01,August,2003
Name: date, dtype: object
19608    25,June,2004
19608    31,July,2003
Name: date, dtype: object
19609    25,June,2004
19609    31,July,2003
Name: date, dtype: object
19610    25,June,2004
19610    29,July,2003
Name: date, dtype: object
19611      25,June,2004
19611    08,August,2003
Name: date, dtype: object
19612      25,June,2004
19612    04,August,2003
Name: date, dtype: object
19613      25,June,2004
19613    15,August,2003
Name: date, dtype: object
19614      25,June,2004
19614    12,August,2003
Name: date, dtype: object
19615      25,June,2004
19615    11,August,2003
Name: date, dtype: object
19616      31,July,2004
19616    11,August,2003
Name: date, dtype: object
19617      30,July,2004
19617    10,August,2003
Name: date, dtype: object
19618      25,July,2004
19618    21,August,2003
Name: date, dtype: object
19619      24,July,2004
19619    19,August,2003
Name: date, dtype: object
19620      23,July,2004
19620    18,August,2003
Name: date, dtype: object
19621      22,July,2004
19621    18,August,2003
Name: date, dtype: object
19622      20,July,2004
19622    18,August,2003
Name: date, dtype: object
19623      16,July,2004
19623    17,August,2003
Name: date, dtype: object
19624      16,July,2004
19624    30,August,2003
Name: date, dtype: object
19625      16,July,2004
19625    25,August,2003
Name: date, dtype: object
19626      11,July,2004
19626    24,August,2003
Name: date, dtype: object
19627      07,July,2004
19627    24,August,2003
Name: date, dtype: object
19628         07,July,2004
19628    06,September,2003
Name: date, dtype: object
19629         07,July,2004
19629    04,September,2003
Name: date, dtype: object
19630         04,July,2004
19630    03,September,2003
Name: date, dtype: object
19631         04,July,2004
19631    03,September,2003
Name: date, dtype: object
19632         04,July,2004
19632    03,September,2003
Name: date, dtype: object
19633         03,July,2004
19633    12,September,2003
Name: date, dtype: object
19634         03,July,2004
19634    07,September,2003
Name: date, dtype: object
19635         02,July,2004
19635    07,September,2003
Name: date, dtype: object
19636         02,July,2004
19636    07,September,2003
Name: date, dtype: object
19637         02,July,2004
19637    07,September,2003
Name: date, dtype: object
19638         02,July,2004
19638    07,September,2003
Name: date, dtype: object
19639     08,August,2004
19639    08,October,2003
Name: date, dtype: object
19640     06,August,2004
19640    16,October,2003
Name: date, dtype: object
19641     04,August,2004
19641    14,October,2003
Name: date, dtype: object
19642     04,August,2004
19642    21,October,2003
Name: date, dtype: object
19643     04,August,2004
19643    29,October,2003
Name: date, dtype: object
19644      03,August,2004
19644    07,November,2003
Name: date, dtype: object
19645      01,August,2004
19645    03,November,2003
Name: date, dtype: object
19646        20,June,2004
19646    03,November,2003
Name: date, dtype: object
19647        19,June,2004
19647    15,November,2003
Name: date, dtype: object
19648        19,June,2004
19648    17,November,2003
Name: date, dtype: object
19649        19,June,2004
19649    23,November,2003
Name: date, dtype: object
19650         25,May,2004
19650    04,December,2003
Name: date, dtype: object
19651         25,May,2004
19651    02,December,2003
Name: date, dtype: object
19652         25,May,2004
19652    20,December,2003
Name: date, dtype: object
19653         25,May,2004
19653    16,December,2003
Name: date, dtype: object
19654         22,May,2004
19654    14,December,2003
Name: date, dtype: object
19655         22,May,2004
19655    27,December,2003
Name: date, dtype: object
19656         22,May,2004
19656    21,December,2003
Name: date, dtype: object
19657        22,May,2004
19657    03,January,2004
Name: date, dtype: object
19658        22,May,2004
19658    02,January,2004
Name: date, dtype: object
19659        22,May,2004
19659    01,January,2004
Name: date, dtype: object
19660        22,May,2004
19660    08,January,2004
Name: date, dtype: object
19661        22,May,2004
19661    07,January,2004
Name: date, dtype: object
19662        22,May,2004
19662    07,January,2004
Name: date, dtype: object
19663        22,May,2004
19663    07,January,2004
Name: date, dtype: object
19664        22,May,2004
19664    06,January,2004
Name: date, dtype: object
19665        22,May,2004
19665    06,January,2004
Name: date, dtype: object
19666        22,May,2004
19666    04,January,2004
Name: date, dtype: object
19667        22,May,2004
19667    04,January,2004
Name: date, dtype: object
19668        22,May,2004
19668    04,January,2004
Name: date, dtype: object
19669        22,May,2004
19669    16,January,2004
Name: date, dtype: object
19670        22,May,2004
19670    15,January,2004
Name: date, dtype: object
19671        22,May,2004
19671    22,January,2004
Name: date, dtype: object
19672        22,May,2004
19672    21,January,2004
Name: date, dtype: object
19673        22,May,2004
19673    21,January,2004
Name: date, dtype: object
19674        22,May,2004
19674    19,January,2004
Name: date, dtype: object
19675        22,May,2004
19675    19,January,2004
Name: date, dtype: object
19676        22,May,2004
19676    28,January,2004
Name: date, dtype: object
19677        22,May,2004
19677    25,January,2004
Name: date, dtype: object
19678        22,May,2004
19678    25,January,2004
Name: date, dtype: object
19679         22,May,2004
19679    06,February,2004
Name: date, dtype: object
19680         22,May,2004
19680    05,February,2004
Name: date, dtype: object
19681         22,May,2004
19681    01,February,2004
Name: date, dtype: object
19682         22,May,2004
19682    11,February,2004
Name: date, dtype: object
19683         22,May,2004
19683    10,February,2004
Name: date, dtype: object
19684        26,June,2004
19684    08,February,2004
Name: date, dtype: object
19685        03,July,2004
19685    18,February,2004
Name: date, dtype: object
19686        27,June,2004
19686    17,February,2004
Name: date, dtype: object
19687        27,June,2004
19687    17,February,2004
Name: date, dtype: object
19688        09,July,2004
19688    15,February,2004
Name: date, dtype: object
19689     08,July,2004
19689    04,March,2004
Name: date, dtype: object
19690     08,July,2004
19690    03,March,2004
Name: date, dtype: object
19691     07,July,2004
19691    13,March,2004
Name: date, dtype: object
19692     06,July,2004
19692    12,March,2004
Name: date, dtype: object
19693     04,July,2004
19693    12,March,2004
Name: date, dtype: object
19694     04,July,2004
19694    12,March,2004
Name: date, dtype: object
19695     04,July,2004
19695    10,March,2004
Name: date, dtype: object
19696     04,July,2004
19696    18,March,2004
Name: date, dtype: object
19697     17,July,2004
19697    17,March,2004
Name: date, dtype: object
19698     14,July,2004
19698    17,March,2004
Name: date, dtype: object
19699     14,July,2004
19699    16,March,2004
Name: date, dtype: object

19700     14,July,2004
19700    16,March,2004
Name: date, dtype: object
19701     12,July,2004
19701    15,March,2004
Name: date, dtype: object
19702     12,July,2004
19702    25,March,2004
Name: date, dtype: object
19703     11,July,2004
19703    24,March,2004
Name: date, dtype: object
19704     11,July,2004
19704    23,March,2004
Name: date, dtype: object
19705     11,July,2004
19705    23,March,2004
Name: date, dtype: object
19706     11,July,2004
19706    22,March,2004
Name: date, dtype: object
19707     11,July,2004
19707    21,March,2004
Name: date, dtype: object
19708     11,July,2004
19708    02,April,2004
Name: date, dtype: object
19709     11,July,2004
19709    01,April,2004
Name: date, dtype: object
19710     24,July,2004
19710    30,March,2004
Name: date, dtype: object
19711     22,July,2004
19711    30,March,2004
Name: date, dtype: object
19712     22,July,2004
19712    30,March,2004
Name: date, dtype: object
19713     19,July,2004
19713    28,March,2004
Name: date, dtype: object
19714     18,July,2004
19714    10,April,2004
Name: date, dtype: object
19715     18,July,2004
19715    09,April,2004
Name: date, dtype: object
19716     18,July,2004
19716    08,April,2004
Name: date, dtype: object
19717     31,July,2004
19717    05,April,2004
Name: date, dtype: object
19718     30,July,2004
19718    14,April,2004
Name: date, dtype: object
19719     29,July,2004
19719    24,April,2004
Name: date, dtype: object
19720     29,July,2004
19720    20,April,2004
Name: date, dtype: object
19721     29,July,2004
19721    18,April,2004
Name: date, dtype: object
19722     29,July,2004
19722    28,April,2004
Name: date, dtype: object
19723     29,July,2004
19723    27,April,2004
Name: date, dtype: object
19724    29,July,2004
19724    01,June,2004
Name: date, dtype: object
19725    26,July,2004
19725    05,July,2004
Name: date, dtype: object
19726    26,July,2004
19726    16,July,2004
Name: date, dtype: object
19727    25,July,2004
19727    15,July,2004
Name: date, dtype: object
19728    09,August,2004
19728      14,July,2004
Name: date, dtype: object
19729    09,August,2004
19729      12,July,2004
Name: date, dtype: object
19730    09,August,2004
19730      11,July,2004
Name: date, dtype: object
19731    09,August,2004
19731      21,July,2004
Name: date, dtype: object
19732    09,August,2004
19732      20,July,2004
Name: date, dtype: object
19733    09,August,2004
19733      18,July,2004
Name: date, dtype: object
19734    09,August,2004
19734      18,July,2004
Name: date, dtype: object
19735    09,August,2004
19735      29,July,2004
Name: date, dtype: object
19736    09,August,2004
19736      25,July,2004
Name: date, dtype: object
19737    09,August,2004
19737      25,July,2004
Name: date, dtype: object
19738    09,August,2004
19738       24,May,2004
Name: date, dtype: object
19739    09,August,2004
19739       22,May,2004
Name: date, dtype: object
19740    09,August,2004
19740       20,May,2004
Name: date, dtype: object
19741    09,August,2004
19741       19,May,2004
Name: date, dtype: object
19742    09,August,2004
19742      29,June,2004
Name: date, dtype: object
19743    09,August,2004
19743      27,June,2004
Name: date, dtype: object
19744    09,August,2004
19744      26,June,2004
Name: date, dtype: object
19745    09,August,2004
19745      25,June,2004
Name: date, dtype: object
19746    09,August,2004
19746      24,June,2004
Name: date, dtype: object
19747    09,August,2004
19747      24,June,2004
Name: date, dtype: object
19748    09,August,2004
19748      24,June,2004
Name: date, dtype: object
19749    09,August,2004
19749      24,June,2004
Name: date, dtype: object
19750    09,August,2004
19750      24,June,2004
Name: date, dtype: object
19751    09,August,2004
19751      24,June,2004
Name: date, dtype: object
19752    09,August,2004
19752      24,June,2004
Name: date, dtype: object
19753     27,May,2004
19753    24,June,2004
Name: date, dtype: object
19754     26,May,2004
19754    23,June,2004
Name: date, dtype: object
19755     25,May,2004
19755    23,June,2004
Name: date, dtype: object
19756     24,May,2004
19756    23,June,2004
Name: date, dtype: object
19757     23,May,2004
19757    23,June,2004
Name: date, dtype: object
19758     23,May,2004
19758    23,June,2004
Name: date, dtype: object
19759     22,May,2004
19759    23,June,2004
Name: date, dtype: object
19760     22,May,2004
19760    23,June,2004
Name: date, dtype: object
19761    24,June,2004
19761    22,June,2004
Name: date, dtype: object
19762    11,June,2004
19762    22,June,2004
Name: date, dtype: object
19763    10,June,2004
19763    22,June,2004
Name: date, dtype: object
19764    08,June,2004
19764    22,June,2004
Name: date, dtype: object
19765    06,June,2004
19765    20,June,2004
Name: date, dtype: object
19766    02,June,2004
19766    20,June,2004
Name: date, dtype: object
19767    01,June,2004
19767    20,June,2004
Name: date, dtype: object
19768    06,July,2004
19768    20,June,2004
Name: date, dtype: object
19769     28,May,2004
19769    20,June,2004
Name: date, dtype: object
19770     22,May,2004
19770    20,June,2004
Name: date, dtype: object
19771     21,May,2004
19771    20,June,2004
Name: date, dtype: object
19772    15,June,2004
19772    20,June,2004
Name: date, dtype: object
19773    03,June,2004
19773    30,July,2004
Name: date, dtype: object
19774    13,August,2004
19774      27,July,2004
Name: date, dtype: object
19775    12,August,2004
19775      25,July,2004
Name: date, dtype: object
19776    10,August,2004
19776      18,July,2004
Name: date, dtype: object
19777    09,August,2004
19777      14,July,2004
Name: date, dtype: object
19778    08,August,2004
19778      01,July,2004
Name: date, dtype: object
19779    07,August,2004
19779      01,July,2004
Name: date, dtype: object
19780    30,June,2004
19780    01,July,2004
Name: date, dtype: object
19781    29,June,2004
19781    01,July,2004
Name: date, dtype: object
19782    29,June,2004
19782    01,July,2004
Name: date, dtype: object
19783      25,June,2004
19783    16,August,2004
Name: date, dtype: object
19784      23,June,2004
19784    06,August,2004
Name: date, dtype: object
19785      21,June,2004
19785    02,August,2004
Name: date, dtype: object
19786      18,June,2004
19786    02,August,2004
Name: date, dtype: object
19787      16,June,2004
19787    02,August,2004
Name: date, dtype: object
19788      15,June,2004
19788    02,August,2004
Name: date, dtype: object
19789      14,June,2004
19789    02,August,2004
Name: date, dtype: object
19790      13,June,2004
19790    02,August,2004
Name: date, dtype: object
19791      11,June,2004
19791    01,August,2004
Name: date, dtype: object
19792      10,June,2004
19792    01,August,2004
Name: date, dtype: object
19793      10,June,2004
19793    01,August,2004
Name: date, dtype: object
19794      10,June,2004
19794    01,August,2004
Name: date, dtype: object
19795      10,June,2004
19795    01,August,2004
Name: date, dtype: object
19796      10,June,2004
19796    01,August,2004
Name: date, dtype: object
19797      10,June,2004
19797    01,August,2004
Name: date, dtype: object
19798      10,June,2004
19798    01,August,2004
Name: date, dtype: object
19799      10,June,2004
19799    01,August,2004
Name: date, dtype: object
19800      30,July,2004
19800    01,August,2004
Name: date, dtype: object
19801      28,July,2004
19801    01,August,2004
Name: date, dtype: object
19802      28,July,2004
19802    01,August,2004
Name: date, dtype: object
19803      28,July,2004
19803    01,August,2004
Name: date, dtype: object
19804      27,July,2004
19804    01,August,2004
Name: date, dtype: object
19805      27,July,2004
19805    01,August,2004
Name: date, dtype: object
19806      26,July,2004
19806    01,August,2004
Name: date, dtype: object
19807      25,July,2004
19807    01,August,2004
Name: date, dtype: object
19808      25,July,2004
19808    01,August,2004
Name: date, dtype: object
19809      24,July,2004
19809    01,August,2004
Name: date, dtype: object
19810      22,July,2004
19810    01,August,2004
Name: date, dtype: object
19811      22,July,2004
19811    01,August,2004
Name: date, dtype: object
19812      21,July,2004
19812    01,August,2004
Name: date, dtype: object
19813      21,July,2004
19813    01,August,2004
Name: date, dtype: object
19814      19,July,2004
19814    01,August,2004
Name: date, dtype: object
19815      19,July,2004
19815    01,August,2004
Name: date, dtype: object
19816      17,July,2004
19816    01,August,2004
Name: date, dtype: object
19817      15,July,2004
19817    01,August,2004
Name: date, dtype: object
19818      14,July,2004
19818    01,August,2004
Name: date, dtype: object
19819      13,July,2004
19819    01,August,2004
Name: date, dtype: object
19820      13,July,2004
19820    01,August,2004
Name: date, dtype: object
19821      13,July,2004
19821    01,August,2004
Name: date, dtype: object
19822      12,July,2004
19822    01,August,2004
Name: date, dtype: object
19823      09,July,2004
19823    01,August,2004
Name: date, dtype: object
19824      08,July,2004
19824    01,August,2004
Name: date, dtype: object
19825      08,July,2004
19825    01,August,2004
Name: date, dtype: object
19826      08,July,2004
19826    01,August,2004
Name: date, dtype: object
19827      07,July,2004
19827    01,August,2004
Name: date, dtype: object
19828      07,July,2004
19828    01,August,2004
Name: date, dtype: object
19829      07,July,2004
19829    01,August,2004
Name: date, dtype: object
19830      06,July,2004
19830    01,August,2004
Name: date, dtype: object
19831      06,July,2004
19831    01,August,2004
Name: date, dtype: object
19832      06,July,2004
19832    01,August,2004
Name: date, dtype: object
19833      06,July,2004
19833    01,August,2004
Name: date, dtype: object
19834      04,July,2004
19834    01,August,2004
Name: date, dtype: object
19835      03,July,2004
19835    01,August,2004
Name: date, dtype: object

19836      03,July,2004
19836    01,August,2004
Name: date, dtype: object
19837    13,August,2004
19837    01,August,2004
Name: date, dtype: object
19838    12,August,2004
19838    01,August,2004
Name: date, dtype: object
19839    11,August,2004
19839    01,August,2004
Name: date, dtype: object
19840    11,August,2004
19840    01,August,2004
Name: date, dtype: object
19841    11,August,2004
19841    01,August,2004
Name: date, dtype: object
19842    11,August,2004
19842    01,August,2004
Name: date, dtype: object
19843    10,August,2004
19843    01,August,2004
Name: date, dtype: object
19844    08,August,2004
19844    01,August,2004
Name: date, dtype: object
19845    07,August,2004
19845    01,August,2004
Name: date, dtype: object
19846    06,August,2004
19846    01,August,2004
Name: date, dtype: object
19847    05,August,2004
19847    01,August,2004
Name: date, dtype: object
19848    05,August,2004
19848    01,August,2004
Name: date, dtype: object
19849    04,August,2004
19849    01,August,2004
Name: date, dtype: object
19850    03,August,2004
19850    01,August,2004
Name: date, dtype: object
19851    01,August,2004
19851    01,August,2004
Name: date, dtype: object
19852      29,July,2004
19852    01,August,2004
Name: date, dtype: object
19853      17,July,2004
19853    01,August,2004
Name: date, dtype: object
19854      16,July,2004
19854    01,August,2004
Name: date, dtype: object
19855      15,July,2004
19855    01,August,2004
Name: date, dtype: object
19856      15,July,2004
19856    01,August,2004
Name: date, dtype: object
19857      13,July,2004
19857    01,August,2004
Name: date, dtype: object
19858      31,July,2004
19858    01,August,2004
Name: date, dtype: object
19859      14,July,2004
19859    01,August,2004
Name: date, dtype: object
19860      13,July,2004
19860    01,August,2004
Name: date, dtype: object
19861    16,August,2004
19861    01,August,2004
Name: date, dtype: object
19862    13,August,2004
19862    01,August,2004
Name: date, dtype: object
19863    12,August,2004
19863    01,August,2004
Name: date, dtype: object
19864    11,August,2004
19864    01,August,2004
Name: date, dtype: object
19865    08,August,2004
19865    01,August,2004
Name: date, dtype: object
19866    06,August,2004
19866    01,August,2004
Name: date, dtype: object
19867    03,August,2004
19867    01,August,2004
Name: date, dtype: object
19868    02,August,2004
19868    01,August,2004
Name: date, dtype: object
19869    01,August,2004
19869    01,August,2004
Name: date, dtype: object
19870      25,June,2004
19870    01,August,2004
Name: date, dtype: object
19871      24,June,2004
19871    01,August,2004
Name: date, dtype: object
19872      23,June,2004
19872    01,August,2004
Name: date, dtype: object
19873      22,June,2004
19873    01,August,2004
Name: date, dtype: object
19874      22,June,2004
19874    01,August,2004
Name: date, dtype: object
19875      22,June,2004
19875    01,August,2004
Name: date, dtype: object
19876      21,June,2004
19876    01,August,2004
Name: date, dtype: object
19877      21,June,2004
19877    01,August,2004
Name: date, dtype: object
19878      21,June,2004
19878    01,August,2004
Name: date, dtype: object
19879      18,June,2004
19879    01,August,2004
Name: date, dtype: object
19880      18,June,2004
19880    01,August,2004
Name: date, dtype: object
19881      18,June,2004
19881    01,August,2004
Name: date, dtype: object
19882      30,July,2004
19882    01,August,2004
Name: date, dtype: object
19883      29,July,2004
19883    01,August,2004
Name: date, dtype: object
19884      28,July,2004
19884    01,August,2004
Name: date, dtype: object
19885      27,July,2004
19885    01,August,2004
Name: date, dtype: object
19886      26,July,2004
19886    01,August,2004
Name: date, dtype: object
19887      23,July,2004
19887    01,August,2004
Name: date, dtype: object
19888      22,July,2004
19888    01,August,2004
Name: date, dtype: object
19889      22,July,2004
19889    01,August,2004
Name: date, dtype: object
19890       21,July,2004
19890    30,October,2003
Name: date, dtype: object
19891       19,July,2004
19891    30,October,2003
Name: date, dtype: object
19892        19,July,2004
19892    11,November,2003
Name: date, dtype: object
19893        19,July,2004
19893    13,December,2003
Name: date, dtype: object
19894    19,July,2004
19894    30,June,2004
Name: date, dtype: object
19895    16,July,2004
19895    27,June,2004
Name: date, dtype: object
19896    16,July,2004
19896    23,June,2004
Name: date, dtype: object
19897    08,July,2004
19897    23,June,2004
Name: date, dtype: object
19898    08,July,2004
19898    21,June,2004
Name: date, dtype: object
19899    08,July,2004
19899    21,June,2004
Name: date, dtype: object
19900    06,July,2004
19900    15,June,2004
Name: date, dtype: object
19901    01,July,2004
19901    14,June,2004
Name: date, dtype: object
19902    01,July,2004
19902    12,June,2004
Name: date, dtype: object
19903    16,August,2004
19903      12,June,2004
Name: date, dtype: object
19904    11,August,2004
19904      12,June,2004
Name: date, dtype: object
19905    10,August,2004
19905      11,June,2004
Name: date, dtype: object
19906    09,August,2004
19906      09,June,2004
Name: date, dtype: object
19907    06,August,2004
19907      09,June,2004
Name: date, dtype: object
19908    06,August,2004
19908      08,June,2004
Name: date, dtype: object
19909    05,August,2004
19909      04,June,2004
Name: date, dtype: object
19910    05,August,2004
19910      03,June,2004
Name: date, dtype: object
19911    17,November,2003
19911        01,June,2004
Name: date, dtype: object
19912    10,November,2003
19912        17,July,2004
Name: date, dtype: object
19913    06,November,2003
19913        16,July,2004
Name: date, dtype: object
19914    05,November,2003
19914        15,July,2004
Name: date, dtype: object
19915    05,November,2003
19915        14,July,2004
Name: date, dtype: object
19916    09,December,2003
19916        14,July,2004
Name: date, dtype: object
19917    14,January,2004
19917       11,July,2004
Name: date, dtype: object
19918    28,February,2004
19918        03,July,2004
Name: date, dtype: object
19919    05,February,2004
19919        03,July,2004
Name: date, dtype: object
19920    04,February,2004
19920        02,July,2004
Name: date, dtype: object
19921    01,February,2004
19921        30,June,2004
Name: date, dtype: object
19922    03,April,2004
19922     29,June,2004
Name: date, dtype: object
19923     31,May,2004
19923    28,June,2004
Name: date, dtype: object
19924     28,May,2004
19924    27,June,2004
Name: date, dtype: object
19925     27,May,2004
19925    25,June,2004
Name: date, dtype: object
19926     27,May,2004
19926    24,June,2004
Name: date, dtype: object
19927     23,May,2004
19927    23,June,2004
Name: date, dtype: object
19928     22,May,2004
19928    22,June,2004
Name: date, dtype: object
19929     05,May,2004
19929    21,June,2004
Name: date, dtype: object
19930    02,June,2004
19930    21,June,2004
Name: date, dtype: object
19931    30,January,2004
19931       29,July,2004
Name: date, dtype: object
19932    29,January,2004
19932       25,July,2004
Name: date, dtype: object
19933    29,January,2004
19933       20,July,2004
Name: date, dtype: object
19934    29,January,2004
19934       18,July,2004
Name: date, dtype: object
19935    29,January,2004
19935       18,July,2004
Name: date, dtype: object
19936    29,February,2004
19936        16,July,2004
Name: date, dtype: object
19937    28,February,2004
19937        14,July,2004
Name: date, dtype: object
19938    28,February,2004
19938        13,July,2004
Name: date, dtype: object
19939    28,February,2004
19939        12,July,2004
Name: date, dtype: object
19940    27,February,2004
19940        09,July,2004
Name: date, dtype: object
19941    26,February,2004
19941        07,July,2004
Name: date, dtype: object
19942    26,February,2004
19942        05,July,2004
Name: date, dtype: object
19943    26,February,2004
19943      14,August,2004
Name: date, dtype: object
19944    25,February,2004
19944      04,August,2004
Name: date, dtype: object
19945    25,February,2004
19945      03,August,2004
Name: date, dtype: object
19946    24,February,2004
19946      01,August,2004
Name: date, dtype: object
19947    24,February,2004
19947         26,May,2004
Name: date, dtype: object
19948    23,February,2004
19948         25,May,2004
Name: date, dtype: object
19949    23,February,2004
19949        16,June,2004
Name: date, dtype: object
19950    23,February,2004
19950        13,June,2004
Name: date, dtype: object
19951    20,February,2004
19951        10,June,2004
Name: date, dtype: object
19952    20,February,2004
19952        09,June,2004
Name: date, dtype: object
19953    20,February,2004
19953        08,June,2004
Name: date, dtype: object
19954    19,February,2004
19954        06,June,2004
Name: date, dtype: object
19955    18,February,2004
19955        02,June,2004
Name: date, dtype: object
19956    17,February,2004
19956         28,May,2004
Name: date, dtype: object
19957    13,February,2004
19957        27,July,2004
Name: date, dtype: object
19958    13,February,2004
19958        21,July,2004
Name: date, dtype: object
19959    12,February,2004
19959        21,July,2004
Name: date, dtype: object
19960    12,February,2004
19960        30,June,2004
Name: date, dtype: object
19961    11,February,2004
19961        28,June,2004
Name: date, dtype: object
19962    11,February,2004
19962        28,June,2004
Name: date, dtype: object
19963    10,February,2004
19963        22,June,2004
Name: date, dtype: object
19964    10,February,2004
19964        20,June,2004
Name: date, dtype: object
19965    10,February,2004
19965        07,June,2004
Name: date, dtype: object
19966    09,February,2004
19966        04,June,2004
Name: date, dtype: object
19967    09,February,2004
19967        04,June,2004
Name: date, dtype: object
19968    09,February,2004
19968        04,June,2004
Name: date, dtype: object
19969    08,February,2004
19969        17,July,2004

Name: date, dtype: object
19970    08,February,2004
19970         24,May,2004
Name: date, dtype: object
19971    08,February,2004
19971         20,May,2004
Name: date, dtype: object
19972    08,February,2004
19972         20,May,2004
Name: date, dtype: object
19973    07,February,2004
19973        02,June,2004
Name: date, dtype: object
19974    06,February,2004
19974      17,August,2004
Name: date, dtype: object
19975    05,February,2004
19975      16,August,2004
Name: date, dtype: object
19976    05,February,2004
19976      15,August,2004
Name: date, dtype: object
19977    04,February,2004
19977      15,August,2004
Name: date, dtype: object
19978    04,February,2004
19978      06,August,2004
Name: date, dtype: object
19979    04,February,2004
19979      05,August,2004
Name: date, dtype: object
19980    03,February,2004
19980      04,August,2004
Name: date, dtype: object

KeyboardInterrupt:

In [8]:
# convert to datetime, leaving non-valid/non-English dates null
alldata['date_date'] = pd.to_datetime(alldata.date, errors='coerce')

In [9]:
# I would recommend removing NA's this way -- it is much easier.
alldata.dropna(inplace = True) 
print(train.shape,"\n",alldata.shape)

(442961, 9)
 (438492, 10)

In [ ]:
# dummy variables:

'''
Gender
Topic
Sign
~Date (depending on how we encode it)
'''

In [12]:
training_corrected = alldata[alldata.set == 'train']
testing_corrected = alldata[alldata.set == 'test']

In [13]:
# alldata.set
training_corrected.head
# testing_corrected.head

<bound method NDFrame.head of         post.id  user.id  gender              topic      sign       date  \
0             1    11869    male            Student       Leo 2004-05-14
1             2    11869    male            Student       Leo 2004-05-13
2             3    11869    male            Student       Leo 2004-05-12
3             4    11869    male            Student       Leo 2004-05-12
4             5    16332    male  InvestmentBanking  Aquarius 2004-06-11
5             6    16332    male  InvestmentBanking  Aquarius 2004-06-10
6             7    16332    male  InvestmentBanking  Aquarius 2004-06-10
7             8    16332    male  InvestmentBanking  Aquarius 2004-06-10
8             9    16332    male  InvestmentBanking  Aquarius 2004-06-10
9            10    16332    male  InvestmentBanking  Aquarius 2004-06-09
10           11    16332    male  InvestmentBanking  Aquarius 2004-06-09
11           12    16332    male  InvestmentBanking  Aquarius 2004-06-09
12           13    16332    male  InvestmentBanking  Aquarius 2004-06-09
13           14    16332    male  InvestmentBanking  Aquarius 2004-06-09
14           15    16332    male  InvestmentBanking  Aquarius 2004-06-09
15           16    16332    male  InvestmentBanking  Aquarius 2004-06-09
16           17    16332    male  InvestmentBanking  Aquarius 2004-06-09
17           18    16332    male  InvestmentBanking  Aquarius 2004-06-18
18           19    16332    male  InvestmentBanking  Aquarius 2004-06-17
19           20    16332    male  InvestmentBanking  Aquarius 2004-06-16
20           21    16332    male  InvestmentBanking  Aquarius 2004-06-15
21           22    16332    male  InvestmentBanking  Aquarius 2004-06-14
22           23    16332    male  InvestmentBanking  Aquarius 2004-06-13
23           24    16332    male  InvestmentBanking  Aquarius 2004-06-23
24           25    16332    male  InvestmentBanking  Aquarius 2004-06-22
25           26    16332    male  InvestmentBanking  Aquarius 2004-06-20
26           27    16332    male  InvestmentBanking  Aquarius 2004-07-02
27           28    16332    male  InvestmentBanking  Aquarius 2004-07-01
28           29    16332    male  InvestmentBanking  Aquarius 2004-07-01
29           30    16332    male  InvestmentBanking  Aquarius 2004-06-30
...         ...      ...     ...                ...       ...        ...
442931   681132     8300  female            Student    Pisces 2004-08-07
442932   681133     8300  female            Student    Pisces 2004-08-07
442933   681134     8300  female            Student    Pisces 2004-08-01
442934   681135     8300  female            Student    Pisces 2004-08-01
442935   681136     8300  female            Student    Pisces 2004-08-01
442936   681137     8300  female            Student    Pisces 2004-08-01
442937   681138     8300  female            Student    Pisces 2004-08-01
442938   681139     8300  female            Student    Pisces 2004-08-01
442939   681140     8300  female            Student    Pisces 2004-08-01
442940   681141     8300  female            Student    Pisces 2004-08-01
442941   681142     9132  female        Engineering     Libra 2004-06-20
442942   681143     9132  female        Engineering     Libra 2004-06-19
442943   681144     9132  female        Engineering     Libra 2004-06-14
442944   681145     9132  female        Engineering     Libra 2004-06-14
442945   681146     9132  female        Engineering     Libra 2004-06-14
442946   681147     9132  female        Engineering     Libra 2004-06-13
442947   681148     9132  female        Engineering     Libra 2004-06-12
442948   681149     9132  female        Engineering     Libra 2004-06-09
442949   681150     9132  female        Engineering     Libra 2004-06-09
442950   681151     9132  female        Engineering     Libra 2004-06-07
442951   681152     9132  female        Engineering     Libra 2004-06-07
442952   681153     9132  female        Engineering     Libra 2004-06-07
442953   681154     9132  female        Engineering     Libra 2004-06-06
442954   681155     9132  female        Engineering     Libra 2004-06-06
442955   681156     9132  female        Engineering     Libra 2004-06-06
442956   681157     4593  female             indUnk     Virgo 2004-08-23
442957   681158     4593  female             indUnk     Virgo 2004-08-21
442958   681159     4593  female             indUnk     Virgo 2004-08-19
442959   681160     4593  female             indUnk     Virgo 2004-08-18
442960   681161     4593  female             indUnk     Virgo 2004-08-18

                                                     text age    set
0                  Info has been found (+/- 100 pages,...  15  train
1                  These are the team members:   Drewe...  15  train
2                  In het kader van kernfusie op aarde...  15  train
3                        testing!!!  testing!!!            15  train
4                    Thanks to Yahoo!'s Toolbar I can ...  33  train
5                    I had an interesting conversation...  33  train
6                    Somehow Coca-Cola has a way of su...  33  train
7                    If anything, Korea is a country o...  33  train
8                    Take a read of this news article ...  33  train
9                    I surf the English news sites a l...  33  train
10                   Ah, the Korean language...it look...  33  train
11                   If you click on my profile you'll...  33  train
12                   Last night was pretty fun...mostl...  33  train
13                   There is so much that is differen...  33  train
14                    urlLink    Here it is, the super...  33  train
15                   One thing I love about Seoul (and...  33  train
16                    urlLink    Wonderful oh-gyup-sal...  33  train
17                   Here is the latest from the Korea...  33  train
18                   Well, I stand corrected, again.  ...  33  train
19                   So I've been in Vancouver a few d...  33  train
20                   Whenever I see a pregnant Korean ...  33  train
21                   My wife posed a strange question ...  33  train
22                   As readers will know, my favorite...  33  train
23                   When I was in Seoul these last fe...  33  train
24                   You may have noticed a new featur...  33  train
25                   Korea, especially Seoul, is prett...  33  train
26                   It seems everything is not all th...  33  train
27                   This may be a long blog...got a l...  33  train
28                   I've always thought of Seoul's  u...  33  train
29                   Big cities are famous for being e...  33  train
...                                                   ...  ..    ...
442931                    urlLink    LeNg LenG ChoO~!!...  13  train
442932                    urlLink    PeaCe~.. hahaz.. ...  13  train
442933                    urlLink    Mé~!!.. hahaz.. a...  13  train
442934                    urlLink    Mý Dá®líng... Sh...  13  train
442935                    urlLink    Ah KiN~!.. hahaz....  13  train
442936                    urlLink    Ah Jun.. &.. HunG...  13  train
442937                    urlLink    GleN ChOnG & KriS...  13  train
442938                    urlLink    Ah Jun~!!.. hahaz...  13  train
442939                    urlLink    ComE~!.. LeT Me I...  13  train
442940                    urlLink    Yi BiAo~!.. hahaz...  13  train
442941     still not feeling oky,i'm losing my voice,....  27  train
442942       'LORD,Please give me the strengh to accep...  27  train
442943     'Godliness with contentment is great gain' ...  27  train
442944     wasn't able to go to work for two days,bad,...  27  train
442945     ow life...i wasn't supposed to go to work l...  27  train
442946     not a good day for ...coz i'm not feeling o...  27  train
442947     1. DREAM NICKNAME:     >> still my nick(lov...  27  train
442948     first day at work again,i haven't gotten en...  27  train
442949     at least i'm abit okay now coz it's the las...  27  train
442950     i used to feel okay  minding my stuff until...  27  train
442951     i dunno understand but i always feel this,e...  27  train
442952     i'm happy today,coz the Lord is giving me l...  27  train
442953     A LITTLE BIT   I was kinda hesitant to tell...  27  train
442954     last night when i was going to work i was a...  27  train
442955     her's my first article,honestly i dunno wha...  27  train
442956                   I ran around cleaning all mor...  34  train
442957                   We just got back from Six Fla...  34  train
442958                    urlLink     I  felt kind of ...  34  train
442959                   Wow, I love fruit.  I read th...  34  train
442960                   I want to consider myself a r...  34  train

[438492 rows x 9 columns]>

In [15]:
# Cross Validation (did not do the complicated ones we talked about in class)
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

# http://scikit-learn.org/stable/modules/cross_validation.html <-- I saw we imported this, but couldn't figure out sklearn

cv_train = training_corrected.sample(frac=.75,random_state=42)
training_posts = cv_train["post.id"]

# https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas

cs_val = training_corrected.loc[~training_corrected['post.id'].isin(training_posts)]

# note: tilda negates like a - sign would in R

print(cv_train.shape)
print(cs_val.shape)

(328869, 9)
(109623, 9)

             post.id        user.id
count  328869.000000  328869.000000
mean   340164.053529    9666.698141
std    196650.953130    5518.572128
min         1.000000       1.000000
25%    168344.000000    4752.000000
50%    341968.000000    9643.000000
75%    510805.000000   14291.000000
max    681161.000000   19319.000000