In [1]:
'''
Tasks:

-- Date preprocessing -- 
    converting dates between languages, and then structure
    --> alternatively, we can duplicate the set, change weird dates to none
    
--feature creation--
    date by year
    looking at if they are posting weekday/weekend might suggest that they are working age
    language (foreign in general or specifics)
    number of posts per user.id
    
-- text --
    remove the stopwords
        NLTK
    remove the punctuation
    stemming the words
    SVD (singular value decomposition) --> will show what is most important by 
        taking the matrix of term counts (needs to be created), but returns importance values ~ variability with each word
    TF-IDF: could filter down to top 500-1000 words (we can probably just implement using a package) 
        if not...
        calculate the frequency of word in every document
        inverse log 
        
-- train model: multiple linear regression --
    glm net --> just make sure not to do log, but can still use this for normal parametric
        (generalization of ridge and lasso regression)
    
    CV procedure to judge accuracy of predictor based on words we keep or parameters of the linear model

    
general notes: what is a document?

    post?
        -this would let us use the distribution of predictions for a user to do a second layer to the model
        -potentially average/take median of different predictions for individual documents
        
        -might want to consider the number of unique pairings between user.id and post.id
        
    single user?
    
    bigrams or trigrams instead of words (two or three words in order can be treated as words)
        n words in sentence --> n-1 bigrams --> blows up dimensionality, but could give more information because context
        comes into play (may or may not be feasible depending on our corpus)
        
        
Note from Sean: We may want to use the "gensim" package, which is Google's pre-trained word2vec model, which I think could be really useful.

'''
;

''

In [2]:
import os
import numpy as np
import pandas as pd
import sklearn as slr
import nltk

In [3]:
# Set wd
os.chdir("C://Users/alxgr//Documents//UVA//DSI//Fall 2018//SYS//Kaggle Competition 3//sys6018-competition-blogger-characteristics//data")
# os.chdir("/Users/SM/DSI/classes/fall2018/SYS6018/kaggle/sys6018-competition-blogger-characteristics/")

In [4]:
# read in data
# train = pd.read_csv(os.path.join("data", "input", "train.csv"))
# test = pd.read_csv(os.path.join("data", "input", "test.csv"))

# (os.path did not work for alex.  below for wd on alex's pc)
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [5]:
# join data sets
test['age'] = None
train['set'] = "train"
test['set'] = "test"
# train.shape
# test.shape

In [6]:
alldata = pd.concat([train, test])
# alldata.shape

In [7]:
alldata.isnull().sum()

post.id         0
user.id         0
gender          0
topic           0
sign            0
date            0
text            0
age        238323
set             0
dtype: int64

In [7]:
# Experimenting with the dateparser package
alldata["date_parsed"] = None
# alldata.date_parsed
alldata.head()

,post.id,user.id,gender,topic,sign,date,text,age,set,date_parsed
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15,train,None
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15,train,None
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15,train,None
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15,train,None
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33,train,None

In [8]:
import dateparser

# print(str(alldata.date[0]))
# print(dateparser.parse(str(alldata.date[0])))

# train["date"][0]

# for i in range(0,len(alldata)):
#     alldata.date_parsed[i] = dateparser.parse(str(alldata.date[i]))

'14,May,2004'

^^ the issue here is that the objects being passed in at each index are actually 2 objects...?!

where is the second one coming from?

I think when we combined training and observation, there are two indices with value of 0!

In [9]:
# print(alldata.set[0]) # confirmed, indices need to be reset in the "all" data set
alldata.reset_index(inplace=True)

1    train
1     test
Name: set, dtype: object
13,May,2004

In [ ]:
# print(alldata.date[0]) # confirmed, the index now only returns one value per index

for i in range(0,len(alldata)):
#     alldata.date_parsed[i] = dateparser.parse(str(alldata.date[i])) # produces SettingWithCopyWarning
    alldata.loc[i,('data_parsed')] = dateparser.parse(str(alldata.date[i]))

In [12]:
alldata.head() # it works thank the lord

,index,post.id,user.id,gender,topic,sign,date,text,age,set,date_parsed
0,0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15,train,2004-05-14 00:00:00
1,1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15,train,2004-05-13 00:00:00
2,2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15,train,2004-05-12 00:00:00
3,3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15,train,2004-05-12 00:00:00
4,4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33,train,2004-06-11 00:00:00

In [8]:
# convert to datetime, leaving non-valid/non-English dates null
alldata['date_date'] = pd.to_datetime(alldata.date, errors='coerce')

In [9]:
# I would recommend removing NA's this way -- it is much easier.
alldata.dropna(inplace = True) 
print(train.shape,"\n",alldata.shape)

(442961, 9)
 (438492, 10)

In [ ]:
# dummy variables:

'''
Gender
Topic
Sign
~Date (depending on how we encode it)
'''

In [12]:
training_corrected = alldata[alldata.set == 'train']
testing_corrected = alldata[alldata.set == 'test']

In [13]:
# alldata.set
training_corrected.head
# testing_corrected.head

<bound method NDFrame.head of         post.id  user.id  gender              topic      sign       date  \
0             1    11869    male            Student       Leo 2004-05-14
1             2    11869    male            Student       Leo 2004-05-13
2             3    11869    male            Student       Leo 2004-05-12
3             4    11869    male            Student       Leo 2004-05-12
4             5    16332    male  InvestmentBanking  Aquarius 2004-06-11
5             6    16332    male  InvestmentBanking  Aquarius 2004-06-10
6             7    16332    male  InvestmentBanking  Aquarius 2004-06-10
7             8    16332    male  InvestmentBanking  Aquarius 2004-06-10
8             9    16332    male  InvestmentBanking  Aquarius 2004-06-10
9            10    16332    male  InvestmentBanking  Aquarius 2004-06-09
10           11    16332    male  InvestmentBanking  Aquarius 2004-06-09
11           12    16332    male  InvestmentBanking  Aquarius 2004-06-09
12           13    16332    male  InvestmentBanking  Aquarius 2004-06-09
13           14    16332    male  InvestmentBanking  Aquarius 2004-06-09
14           15    16332    male  InvestmentBanking  Aquarius 2004-06-09
15           16    16332    male  InvestmentBanking  Aquarius 2004-06-09
16           17    16332    male  InvestmentBanking  Aquarius 2004-06-09
17           18    16332    male  InvestmentBanking  Aquarius 2004-06-18
18           19    16332    male  InvestmentBanking  Aquarius 2004-06-17
19           20    16332    male  InvestmentBanking  Aquarius 2004-06-16
20           21    16332    male  InvestmentBanking  Aquarius 2004-06-15
21           22    16332    male  InvestmentBanking  Aquarius 2004-06-14
22           23    16332    male  InvestmentBanking  Aquarius 2004-06-13
23           24    16332    male  InvestmentBanking  Aquarius 2004-06-23
24           25    16332    male  InvestmentBanking  Aquarius 2004-06-22
25           26    16332    male  InvestmentBanking  Aquarius 2004-06-20
26           27    16332    male  InvestmentBanking  Aquarius 2004-07-02
27           28    16332    male  InvestmentBanking  Aquarius 2004-07-01
28           29    16332    male  InvestmentBanking  Aquarius 2004-07-01
29           30    16332    male  InvestmentBanking  Aquarius 2004-06-30
...         ...      ...     ...                ...       ...        ...
442931   681132     8300  female            Student    Pisces 2004-08-07
442932   681133     8300  female            Student    Pisces 2004-08-07
442933   681134     8300  female            Student    Pisces 2004-08-01
442934   681135     8300  female            Student    Pisces 2004-08-01
442935   681136     8300  female            Student    Pisces 2004-08-01
442936   681137     8300  female            Student    Pisces 2004-08-01
442937   681138     8300  female            Student    Pisces 2004-08-01
442938   681139     8300  female            Student    Pisces 2004-08-01
442939   681140     8300  female            Student    Pisces 2004-08-01
442940   681141     8300  female            Student    Pisces 2004-08-01
442941   681142     9132  female        Engineering     Libra 2004-06-20
442942   681143     9132  female        Engineering     Libra 2004-06-19
442943   681144     9132  female        Engineering     Libra 2004-06-14
442944   681145     9132  female        Engineering     Libra 2004-06-14
442945   681146     9132  female        Engineering     Libra 2004-06-14
442946   681147     9132  female        Engineering     Libra 2004-06-13
442947   681148     9132  female        Engineering     Libra 2004-06-12
442948   681149     9132  female        Engineering     Libra 2004-06-09
442949   681150     9132  female        Engineering     Libra 2004-06-09
442950   681151     9132  female        Engineering     Libra 2004-06-07
442951   681152     9132  female        Engineering     Libra 2004-06-07
442952   681153     9132  female        Engineering     Libra 2004-06-07
442953   681154     9132  female        Engineering     Libra 2004-06-06
442954   681155     9132  female        Engineering     Libra 2004-06-06
442955   681156     9132  female        Engineering     Libra 2004-06-06
442956   681157     4593  female             indUnk     Virgo 2004-08-23
442957   681158     4593  female             indUnk     Virgo 2004-08-21
442958   681159     4593  female             indUnk     Virgo 2004-08-19
442959   681160     4593  female             indUnk     Virgo 2004-08-18
442960   681161     4593  female             indUnk     Virgo 2004-08-18

                                                     text age    set
0                  Info has been found (+/- 100 pages,...  15  train
1                  These are the team members:   Drewe...  15  train
2                  In het kader van kernfusie op aarde...  15  train
3                        testing!!!  testing!!!            15  train
4                    Thanks to Yahoo!'s Toolbar I can ...  33  train
5                    I had an interesting conversation...  33  train
6                    Somehow Coca-Cola has a way of su...  33  train
7                    If anything, Korea is a country o...  33  train
8                    Take a read of this news article ...  33  train
9                    I surf the English news sites a l...  33  train
10                   Ah, the Korean language...it look...  33  train
11                   If you click on my profile you'll...  33  train
12                   Last night was pretty fun...mostl...  33  train
13                   There is so much that is differen...  33  train
14                    urlLink    Here it is, the super...  33  train
15                   One thing I love about Seoul (and...  33  train
16                    urlLink    Wonderful oh-gyup-sal...  33  train
17                   Here is the latest from the Korea...  33  train
18                   Well, I stand corrected, again.  ...  33  train
19                   So I've been in Vancouver a few d...  33  train
20                   Whenever I see a pregnant Korean ...  33  train
21                   My wife posed a strange question ...  33  train
22                   As readers will know, my favorite...  33  train
23                   When I was in Seoul these last fe...  33  train
24                   You may have noticed a new featur...  33  train
25                   Korea, especially Seoul, is prett...  33  train
26                   It seems everything is not all th...  33  train
27                   This may be a long blog...got a l...  33  train
28                   I've always thought of Seoul's  u...  33  train
29                   Big cities are famous for being e...  33  train
...                                                   ...  ..    ...
442931                    urlLink    LeNg LenG ChoO~!!...  13  train
442932                    urlLink    PeaCe~.. hahaz.. ...  13  train
442933                    urlLink    Mé~!!.. hahaz.. a...  13  train
442934                    urlLink    Mý Dá®líng... Sh...  13  train
442935                    urlLink    Ah KiN~!.. hahaz....  13  train
442936                    urlLink    Ah Jun.. &.. HunG...  13  train
442937                    urlLink    GleN ChOnG & KriS...  13  train
442938                    urlLink    Ah Jun~!!.. hahaz...  13  train
442939                    urlLink    ComE~!.. LeT Me I...  13  train
442940                    urlLink    Yi BiAo~!.. hahaz...  13  train
442941     still not feeling oky,i'm losing my voice,....  27  train
442942       'LORD,Please give me the strengh to accep...  27  train
442943     'Godliness with contentment is great gain' ...  27  train
442944     wasn't able to go to work for two days,bad,...  27  train
442945     ow life...i wasn't supposed to go to work l...  27  train
442946     not a good day for ...coz i'm not feeling o...  27  train
442947     1. DREAM NICKNAME:     >> still my nick(lov...  27  train
442948     first day at work again,i haven't gotten en...  27  train
442949     at least i'm abit okay now coz it's the las...  27  train
442950     i used to feel okay  minding my stuff until...  27  train
442951     i dunno understand but i always feel this,e...  27  train
442952     i'm happy today,coz the Lord is giving me l...  27  train
442953     A LITTLE BIT   I was kinda hesitant to tell...  27  train
442954     last night when i was going to work i was a...  27  train
442955     her's my first article,honestly i dunno wha...  27  train
442956                   I ran around cleaning all mor...  34  train
442957                   We just got back from Six Fla...  34  train
442958                    urlLink     I  felt kind of ...  34  train
442959                   Wow, I love fruit.  I read th...  34  train
442960                   I want to consider myself a r...  34  train

[438492 rows x 9 columns]>

In [15]:
# Cross Validation (did not do the complicated ones we talked about in class)
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

# http://scikit-learn.org/stable/modules/cross_validation.html <-- I saw we imported this, but couldn't figure out sklearn

cv_train = training_corrected.sample(frac=.75,random_state=42)
training_posts = cv_train["post.id"]

# https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas

cs_val = training_corrected.loc[~training_corrected['post.id'].isin(training_posts)]

# note: tilda negates like a - sign would in R

print(cv_train.shape)
print(cs_val.shape)

(328869, 9)
(109623, 9)

             post.id        user.id
count  328869.000000  328869.000000
mean   340164.053529    9666.698141
std    196650.953130    5518.572128
min         1.000000       1.000000
25%    168344.000000    4752.000000
50%    341968.000000    9643.000000
75%    510805.000000   14291.000000
max    681161.000000   19319.000000