In [42]:
'''
Tasks:

-- Date preprocessing -- 
    converting dates between languages, and then structure
    --> alternatively, we can duplicate the set, change weird dates to none
    
--feature creation--
    date by year
    looking at if they are posting weekday/weekend might suggest that they are working age
    language (foreign in general or specifics)
    number of posts per user.id
    
-- text --
    remove the stopwords
        NLTK
    remove the punctuation
    stemming the words
    SVD (singular value decomposition) --> will show what is most important by 
        taking the matrix of term counts (needs to be created), but returns importance values ~ variability with each word
    TF-IDF: could filter down to top 500-1000 words (we can probably just implement using a package) 
        if not...
        calculate the frequency of word in every document
        inverse log 
        
-- train model: multiple linear regression --
    glm net --> just make sure not to do log, but can still use this for normal parametric
        (generalization of ridge and lasso regression)
    
    CV procedure to judge accuracy of predictor based on words we keep or parameters of the linear model

    
general notes: what is a document?

    post?
        -this would let us use the distribution of predictions for a user to do a second layer to the model
        -potentially average/take median of different predictions for individual documents
        
        -might want to consider the number of unique pairings between user.id and post.id
        
    single user?
    
    bigrams or trigrams instead of words (two or three words in order can be treated as words)
        n words in sentence --> n-1 bigrams --> blows up dimensionality, but could give more information because context
        comes into play (may or may not be feasible depending on our corpus)

'''
;

''

In [39]:
pd.set_option('display.max_rows', 5000)
train.groupby(['user.id', 'post.id']).size()

In [14]:
import os
import numpy as np
import pandas as pd
import sklearn as slr

In [15]:
# Set wd
os.chdir("C://Users/alxgr//Documents//UVA//DSI//Fall 2018//SYS//Kaggle Competition 3//sys6018-competition-blogger-characteristics")

In [16]:
# read in data
train = pd.read_csv("data//train.csv")
test = pd.read_csv("data//test.csv")

In [17]:
# start data exploration
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [18]:
train.shape

(442961, 8)

In [19]:
train.describe()

             post.id        user.id            age
count  442961.000000  442961.000000  442961.000000
mean   340076.005231    9655.198203      23.540594
std    196532.771521    5512.481177       7.603127
min         1.000000       1.000000      13.000000
25%    168419.000000    4760.000000      17.000000
50%    341752.000000    9630.000000      24.000000
75%    510601.000000   14278.000000      26.000000
max    681161.000000   19319.000000      48.000000

In [20]:
train.isnull().sum()
test.isnull().sum()

post.id    0
user.id    0
gender     0
topic      0
sign       0
date       0
text       0
dtype: int64

In [21]:
train.topic.value_counts()

indUnk                     159419
Student                    102746
Technology                  28346
Arts                        24313
Education                   18563
Communications-Media        13195
Non-Profit                   9036
Internet                     8865
Engineering                  7139
Publishing                   5614
Law                          5502
Science                      4876
Consulting                   4540
Government                   3946
Religion                     3466
BusinessServices             3454
Marketing                    3130
Fashion                      2755
Chemicals                    2680
Museums-Libraries            2636
Sports-Recreation            2523
Advertising                  2502
Telecommunications           2464
HumanResources               2274
Banking                      2199
Accounting                   2185
Military                     1795
RealEstate                   1672
Transportation               1517
Manufacturing                1511
Tourism                      1287
InvestmentBanking            1226
Biotech                      1182
Architecture                 1101
Agriculture                   831
LawEnforcement-Security       660
Construction                  626
Automotive                    594
Environment                   430
Maritime                      161
Name: topic, dtype: int64

In [22]:
train.sign.value_counts()

Taurus         42051
Libra          41088
Virgo          40923
Scorpio        38548
Cancer         38104
Leo            36809
Aries          36714
Aquarius       35634
Sagittarius    34692
Pisces         32846
Gemini         32831
Capricorn      32721
Name: sign, dtype: int64

In [23]:
# join data sets
test['age'] = None
train['set'] = "train"
test['set'] = "test"

In [24]:
test.head()

,post.id,user.id,gender,topic,sign,date,text,age,set
0,96,4876,female,indUnk,Capricorn,"08,August,2004","urlLink im new to this, ...",None,test
1,97,4876,female,indUnk,Capricorn,"08,August,2004",Election time has rolled aro...,None,test
2,108,12227,female,Student,Aries,"31,July,2004","Met Lim this morning, then we...",None,test
3,109,12227,female,Student,Aries,"30,July,2004",Such a boring day. I have no ...,None,test
4,110,12227,female,Student,Aries,"29,July,2004","Nuts. As usual, Theo and I pl...",None,test

In [25]:
alldata = pd.concat([train, test])

In [26]:
alldata.isnull().sum()

post.id         0
user.id         0
gender          0
topic           0
sign            0
date            0
text            0
age        238323
set             0
dtype: int64

In [34]:
pd.to_datetime(alldata.date)

ValueError: ('Unknown string format:', '31,mai,2004')